﻿/***************************************
	^Reset
****************************************/
html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, a,abbr,acronym,address,big,cite,code, del,dfn,font,img,ins,kbd,q,s,samp, small,strike,sub,sup,tt,var, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:none;-moz-outline-style:none;}
a:active{outline:0; }
a:focus{-moz-outline-style:none; }
body{line-height:1;} 
*:first-child+html body{overflow:visible;}
* html body{overflow:visible;}
ol,ul{list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after, q:before,q:after{content:""; }
blockquote,q{quotes:"" ""; }

#container{
    background:url('../images/bg.jpg') no-repeat left top;
    height:525px;
    margin:0 auto;
    position:relative;
    width:520px;
}
h1,
h2,
h3,
h4,
p#btnLink,
p#btnLink a{
    display:block;
    position:absolute;
    text-indent:-9999px;
}
h1{
    background:url('../images/h1.jpg') no-repeat left top;
    height:45px;
    left:220px;
    top:6px;
    width:110px;
}
h2{
    background:url('../images/h2.jpg') no-repeat left top;
    height:55px;
    left:126px;
    top:79px;
    width:255px;
}
h3{
    background:url('../images/h3.jpg') no-repeat left top;
    height:30px;
    left:33px;
    top:150px;
    width:457px;
}
h4{
    background:url('../images/h4.jpg') no-repeat left top;
    height:23px;
    left:57px;
    top:186px;
    width:408px;
}
p.text{
    color:#5c5c5d;
    font:14px/18px Arial,sans-serif;
    left:42px;
    position:absolute;
    text-align:center;
    top:222px;
    width:427px;
}
p#bold{
    left:18px;
    font-weight:bold;
    top:306px;
    width:485px;
}
p#btnLink{
    left:156px;
    top:351px;
}
p#btnLink a{
    background:url('../images/btn.jpg') no-repeat left top;
    height:26px;
    width:187px;
}
p#btnLink a:hover{background-position:right top;}
p#disclaimer{
    font:11px/14px Arial,sans-serif;
    margin:0 auto;
    width:514px;
}
p#disclaimer a{
    color:#40a7c6;
    text-decoration:none;
}
p#disclaimer a:hover{text-decoration:underline;}