﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="porespectivesRules.aspx.cs" Inherits="Biore2012.porespectivesRules" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 <%=SquishIt.Framework.Bundle .Css()
        .Add("~/css/utilityPages.css")
        .Render("~/css/combinedrules_#.css")
    %>
    
    <style type="text/css">
        .utility #mainContent, #mainContent 
        {
            height:auto;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="main">
        <div id="mainContent">
            <!--<div id="shadow"></div>-->
            <div class="centeringDiv">
                <!--<div id="polaroid"><img src="<%= VirtualPathUtility.ToAbsolute("~/images/forms/signUpPhoto.jpg") %>" alt="" /></div>-->
                <div id="content">
                    <div class="titleh1">
                    <h1>Concurso #HalloweenBiore en Facebook e Instagram de Bioré® Skincare</h1>
                        <div id="responseRule"></div>
                    <h2>Reglas oficiales</h2>
		</div>
                    <div id="privacyinfo">
                    <p><b>NO SE REQUIERE LA COMPRA DE UN PRODUCTO PARA PARTICIPAR EN EL CONCURSO O GANARLO. LA COMPRA DE UN PRODUCTO NO AUMENTA LAS PROBABILIDADES DE GANAR.</b></p>

<p><b>Únicamente las inscripciones iniciadas en o desde Chile, Colombia, Costa Rica, Ecuador, El Salvador, Honduras, Mexico, Nicaragua, y Panama (País Elegible) serán aceptadas en este Concurso; las inscripciones realizadas desde cualquier otra jurisdicción no cumplen con los requisitos de participación. El concurso se rige exclusivamente por las leyes de los Estados Unidos. Las personas que no residan en Chile, Colombia, Costa Rica, Ecuador, El Salvador, Honduras, Mexico, Nicaragua, y Panama no podrán participar en este concurso.
</b></p>

                    <p><strong>1. Requisitos de participación.</strong> Podrán participar en este concurso únicamente quienes sean residentes legales de Chile, Colombia, Costa Rica, Ecuador, El Salvador, Honduras, Mexico, Nicaragua, y Panama, y tengan 13 años o más a la fecha de inscripción.  El concurso carece de validez fuera de Chile, Colombia, Costa Rica, Ecuador, El Salvador, Honduras, Mexico, Nicaragua, y Panama, y en aquellas jurisdicciones donde el mismo estuviera prohibido, gravado por impuestos o limitado por la ley.  Los empleados, funcionarios y directores del Patrocinador y sus casas matrices, subsidiarias, filiales, socios, agencias de publicidad o promoción, fabricantes o distribuidores de materiales para el Concurso, y los familiares directos (padres, hijos, hermanos, cónyuge) o miembros de la misma familia (con o sin un vínculo) de tales empleados, funcionarios o directores no podrán participar en este concurso.  Únicamente las inscripciones iniciadas en o desde Chile, Colombia, Costa Rica, Ecuador, El Salvador, Honduras, Mexico, Nicaragua, y Panama serán aceptadas en el concurso; las inscripciones realizadas desde cualquier otra jurisdicción no cumplen con los requisitos de participación.  Aplican todas las leyes y reglamentaciones federales, estatales y locales.</p>
                                         
                    <p><strong>2.	Cómo participar.</strong> Entre las 9:01 a.m. Hora del Pacífico ("PT") del 26 de octubre de 2016 y las 11:59 p.m. Hora del Pacífico del 28 de octubre de 2016 (“Plazo del concurso”), los participantes que cumplen con los requisitos deben inscribirse a través de Instagram tal como se describe a continuación:</p>
                    <p><strong>		Facebook</strong></p>
<ul style="margin:10px 0px 10px 20px">
<li><p>a.	Crear o registrarse en una cuenta de Facebook y seguir @biorelatam. </p></li> 
<li><p>b.	Hacer clic en la imagen de la banda de limpieza de poros Bioré en movimiento publicada por el Patrocinador en la página de Facebook de Bioré Latinoamérica [https://www.facebook.com/biorelatam] (“Publicación Gráfica”) para que se pose sobre la nariz de la criatura.  Si se posa en la nariz, toma una imagen de pantalla de la banda de limpieza sobre la nariz de la criatura.  </p></li>
<li><p>c.	Deberás publicar la imagen de pantalla como comentario en la Publicación Gráfica, etiquetarla con #HalloweenBiore y #sweepstakes e incluir tu nombre y el País Elegible donde resides (“Solicitud de Participación”)</b>.</p></li>
</ul>
                    <p><strong>		Instagram</strong></p>
<ul style="margin:10px 0px 10px 20px">
<li><p>a.	Crear o registrarse en una cuenta de Instagram y seguir @biorelatam en Instagram.</p></li> 
<li><p>b.	De la banda de limpieza de poros Bioré en movimiento publicada por el Patrocinador en la página de Instagram [@biorelatam] (“Publicación Gráfica”) para que se pose sobre la nariz de la criatura.  Si se posa en la nariz, toma una imagen de pantalla de la banda de limpieza sobre la nariz de la criatura.</p></li>
<li><p>c.	Debes cargar la imagen de pantalla en tu perfil personal en Instagram y etiquetarla con #HalloweenBiore  y # sweepstakes e incluir tu nombre y el País Elegible donde resides (“Solicitud de Participación”)</b>.</p></li>
</ul>
<p>Automáticamente recibirá una (1) Participación en el sorteo del Concurso para el país indicado en el formulario de Participación.<b><em>Se necesita un dispositivo móvil para publicar en Instagram y Facebook, por lo tanto, pueden cobrarse cargos por mensajes y datos. Aplican todos los términos y condiciones de Instagram.com.  Para que una participación sea válida, la cuenta de Instagram debe ser pública y, por lo tanto, visible tanto para el Patrocinador como para sus representantes. </em></b></p>

<p>El límite es una (1) participación en el Concurso por persona, por cuenta de Instagram. No se aceptan dispositivos y/o programas de participación automática. Todas las participaciones pertenecen exclusivamente al Patrocinador y no se emitirán constancias o avisos de recepción de las participaciones. Se debe proporcionar una dirección física para la entrega de los premios (no se aceptan casillas postales). El Patrocinador no se responsabiliza por las participaciones o correos electrónicos perdidos, tardíos, ilegibles, robados, incompletos, inválidos, ilegibles, incorrectamente enviados, con franqueo a pagar, indescifrables o dañados técnicamente, los cuales serán descalificados, o por problemas de cualquier índole ya sean mecánicos, humanos o electrónicos. Se aceptan únicamente formularios de participación que estén completos en su totalidad. La constancia de envío no se considerará constancia de recepción por parte del Patrocinador. Al participar de este Concurso, los participantes prestan su consentimiento total e incondicional a regirse por estas reglas, las cuales serán definitivas y obligatorias en todos los aspectos relacionados con el Concurso.
</p>

                    <p><strong>Probabilidades/Sorteos al azar.</strong> Se elegirán dos (2) ganadores en un sorteo realizado al azar con las participaciones válidas recibidas durante el Plazo del concurso de cada uno de los siguientes países: Chile, Colombia, Costa Rica, Ecuador, El Salvador, Honduras, Mexico, Nicaragua, y Panama.  Los sorteos se realizarán el 3 de noviembre de 2016 o en otra fecha cercana. La probabilidad de ganar depende del número de solicitudes de participación elegibles recibidas para el sorteo por país.  Al participar en el Sorteo, los participantes convienen de manera plena e incondicional en cumplir con estas reglas y con las decisiones del Patrocinador, las cuales serán finales y vinculantes en todo asunto relacionado con el Sorteo.</p>

                    <p><strong>4.	Premios.</strong> Se entregarán dos (2) Premios a los ganadores elegidos de cada uno de los siguientes países: Chile, Colombia, Costa Rica, Ecuador, El Salvador, Honduras, Mexico, Nicaragua, y Panama.  Cada día durante el Período del Sorteo, la primera Solicitud de Participación seleccionada para cada País Elegible recibirá el Premio del Primer Lugar. La segunda Solicitud de Participación seleccionada para cada País Elegible recibirá el Premio del Segundo Lugar.</p>

                    <p>Premio 1er Lugar: 1 Baking Soda Limpiador en Polvo, 1 Baking Soda Limpiador de Poros, 1 Limpiador Profundo de Poros con carbón natural, 1 Bandas de Limpieza Profunda con carbón natural (6CT), 1 Mascarilla Térmica con carbón natural, 1 Barra Limpiadora de Poros con carbón natural, y 1 Limpiador Minimizador de Poros con carbón natural, and 1 Toallitas Desmaquillantes 25CT. $8.25 USD valor promedio por artículo; $66 USD valor total de premio). El valor local de venta minorista puede variar de un país a otro.</p>

                    <p>Premio 2o Lugar:  1 Baking Soda Limpiador en Polvo, 1 Baking Soda Limpiador de Poros, 1 Bandas de Limpieza Profunda (8CT), y 1 Toallitas Desmaquillantes (25CT).  $8 USD valor promedio por artículo; $32 USD valor total de premio). El valor local de venta minorista puede variar de un país a otro.</p>

<p>Los premios son intransferibles.  No pueden reemplazarse o cambiarse por dinero en efectivo.  En caso de que alguno de los premios no estuviera disponible, el Patrocinador se reserva el derecho de sustituirlo por un premio de igual o mayor valor.  El Ganador del Premio Mayor no recibirá la diferencia entre el valor de venta minorista real y el aproximado establecido en estas Reglas oficiales. Todos los impuestos y gastos no especificados corren por cuenta de los ganadores.  
</p>
          
                    <p><strong>5.	Entrega del premio.</strong> La recepción del premio depende del cumplimiento de estas Reglas oficiales.  El ganador recibirá una notificación por Facebook o Instagram  dentro de las 24 horas posteriores al sorteo.  Salvo cuando estuviera prohibido, el ganador debe responder a la publicación de Facebook o  Instagram que el Patrocinador realice dentro de los tres (3) días de la fecha de notificación o del intento de notificación enviado a fin de reclamar el premio. El ganador deberá proporcionar al Patrocinador una dirección de correo válida donde se pueda entregar el premio.  El Patrocinador se reserva el derecho de confirmar la validez de la participación del/la ganador/a y descalificará a cualquier/a ganador/a cuya dirección de correo no coincida con la dirección identificada en el formulario de Participación. Si no es posible contactar a un/a ganador/a y este/esta no proporciona una dirección de correo válida dentro de los 3 días de notificación/intento de notificación por parte del Patrocinador o si se devuelve el premio porque no fue posible entregarlo, el/la ganador/a pierde el derecho a reclamar su premio y el premio será asignado al próximo participante calificado del sorteo correspondiente. Al perder el Premio, no se entregará compensación alguna.  Mediante la inscripción en el Concurso, los participantes prestan su consentimiento total e incondicional a regirse por estas reglas, las cuales serán definitivas y obligatorias en todos los aspectos relacionados con el Concurso.  La entrega de premios puede demorar entre cuatro (4) a seis (6) semanas. El Patrocinador no se responsabiliza si el Premio no puede entregarse debido a una dirección de correo incorrecta o si los envíos se perdieron o fueron enviados a una dirección errónea.</p>

                    <p><strong>6.	Condiciones.</strong> Todos los impuestos federales, estatales y locales son exclusiva responsabilidad de los ganadores. La participación en el Concurso y la aceptación del premio constituye el permiso del/la ganador/a a que el Patrocinador utilice su nombre, dirección (ciudad y estado), reproducción, fotografía, imagen, retrato, voz, información biográfica y/o cualquier comentario realizado por cada ganador/a sobre el Concurso o el Patrocinador con fines publicitarios o promocionales sin aviso o compensación adicional, a excepción de cuando estuviera prohibido por ley. Al inscribirse, los participantes y el/la ganador/a acuerdan eximir y mantener indemnes tanto al Patrocinador, sus agencias de publicidad y promoción, y sus respectivas casas matrices, subsidiarias, filiales, socios, representantes, agentes, sucesores, cesionarios, empleados, funcionarios o directores (en conjunto, las “Entidades eximidas”), ante todo y cualquier tipo de responsabilidad, en caso de pérdida, daño, lesión, costo o gasto de cualquier naturaleza incluyendo, sin limitación, el daño material, lesión corporal y/o muerte que pueda ocurrir en conexión con la preparación, el viaje o la participación en el Concurso, o la posesión, aceptación y/o uso o uso indebido del premio o participación en cualquier actividad relacionada con el Concurso y para cualquier tipo de reclamo de acuerdo con los derechos de publicidad, difamación o invasión de privacidad y entrega de mercadería.  El Patrocinador no se responsabiliza si el Concurso no puede desarrollarse o si algún premio no puede entregarse debido a cancelaciones de viaje, demoras o interrupciones a causa de un hecho fortuito, guerra, desastres naturales, condiciones climáticas o actos de terrorismo.  Se descalificará a los participantes que no cumplan con estas Reglas oficiales o intenten interferir con este Concurso de forma alguna.  La participación en este concurso no requiere ningún tipo de compra o presentación de ventas. La compra de algún producto no aumenta las probabilidades de ganar.</p>

                    <p><strong>7.	Términos adicionales.</strong> En caso de discrepancia en cuanto a la identidad de algún participante, se determinará que la Participación fue presentada por el titular de la cuenta autorizada de la dirección de correo electrónico informada en el momento de la inscripción. Por “Titular de cuenta autorizada” se entiende a la persona física que posee una dirección de correo electrónico asignada por un proveedor de acceso a Internet, un proveedor de servicios en línea u otra organización (por ejemplo, organización comercial, educativa, institucional, etc.) responsable de la asignación de direcciones de correo electrónico o el dominio asociado con la dirección de correo electrónico enviada. Es posible que cualquier Ganador/a Potencial deba presentar al Patrocinador una evidencia de que dicho ganador/a es el/la titular de la cuenta autorizada correspondiente a la dirección de correo electrónico asociada con la participación que resultó ganadora. Cualquier otro intento de inscripción, diferente al formulario, está prohibido. No se aceptan medios automáticos, programados, robóticos o similares de inscripción. El Patrocinador, sus filiales, socios y agencias de promoción y publicidad no se responsabilizan por el funcionamiento incorrecto, errores técnicos, de los equipos, de los programas, de comunicación telefónica u otra, o fallas de cualquier tipo, pérdidas de conexión o no disponibilidad de redes, sitios web, Internet o disponibilidad del proveedor de servicios de Internet, intervención humana no autorizada, tráfico congestionado, captura incompleta o inexacta de la información ingresada (independientemente de la causa) o transmisiones fallidas, incompletas, confusas, mezcladas o demoradas, que puedan limitar la capacidad de una persona de participar en el Concurso, incluyendo cualquier tipo de falla o daño en la computadora del participante o de cualquier otra persona relacionada con su participación en este Concurso o como resultado de la misma o por la descarga de materiales relacionados con este Concurso.</p>

<p>El Patrocinador se reserva el derecho, a su único criterio, de cancelar, finalizar, modificar, prolongar o suspender este Concurso en caso (a su único criterio) de virus, errores informáticos, intervención humana no autorizada, fraude u otras causas que excedan su control y perjudiquen o afecten la transmisión, seguridad, imparcialidad o el desarrollo adecuado del Concurso. En este caso, el Patrocinador puede elegir a el/la ganador/a o a los/las ganadores/as entre todas las participaciones válidas recibidas antes y/o después (si correspondiera) de la acción adoptada por el Patrocinador. El Patrocinador se reserva el derecho, a su único criterio, de descalificar a cualquier individuo que considere, a su único criterio, que está tratando de forzar el proceso de inscripción, el funcionamiento del Concurso o el sitio web.  El Patrocinador puede prohibir que un individuo participe en el Concurso o gane un premio si, a su único criterio, determina que dicho participante está intentando socavar la operación legítima del Concurso al hacer trampa, jaquear, engañar o aplicar alguna otra forma de prácticas desleales de juego (incluyendo el uso de programas automáticos de ingreso rápido) o intentando molestar, insultar, amenazar o acosar a algún otro participante o a los representantes del Patrocinador.
<b>PRECAUCIÓN: TODO INTENTO POR PARTE DE UN PARTICIPANTE DE DAÑAR DELIBERADAMENTE CUALQUIER SITIO WEB O SOCAVAR LA OPERACIÓN LEGÍTIMA DEL CONCURSO PUEDE CONSTITUIR UNA VIOLACIÓN DE LAS LEYES PENALES Y CIVILES Y, EN CASO DE QUE DICHO INTENTO SE LLEVE A CABO, EL PATROCINADOR SE RESERVA EL DERECHO DE PROCURAR OBTENER EL RESARCIMIENTO DE LOS DAÑOS Y PERJUICIOS DE TAL PERSONA EN LA MAYOR MEDIDA QUE LA LEY PERMITA.</b>
</p>

                    <p><strong>8.	Limitación de responsabilidad; exclusión de garantías.</strong>  EN NINGUNA CIRCUNSTANCIA LAS ENTIDADES EXIMIDAS SERÁN RESPONSABLES O ESTARÁN OBLIGADAS POR LOS DAÑOS O LAS PÉRDIDAS DE CUALQUIER ÍNDOLE, INCLUYENDO LOS DAÑOS Y PERJUICIOS DIRECTOS, INDIRECTOS, SECUNDARIOS, RESULTANTES O PUNITIVOS QUE SURJAN DEL ACCESO Y EL USO DEL SERVICIO Y/O EL CONCURSO, DESCARGA Y/O IMPRESIÓN DE MATERIAL DESCARGADO DE CUALESQUIERA SITIOS WEB QUE SE RELACIONEN CON EL CONCURSO. EN NINGÚN CASO LA RESPONSABILIDAD TOTAL DE LAS ENTIDADES EXIMIDAS POR TODO TIPO DE DAÑOS Y PERJUICIOS, PÉRDIDAS O CAUSAS DE ACCIONES LEGALES EXCEDERÁ USD 10. SIN LIMITACIÓN DE LO ANTERIOR, ESTE CONCURSO Y TODOS LOS PREMIOS SE ENTREGAN "EN LA FORMA EN QUE SE ENCUENTRAN" SIN NINGÚN TIPO DE GARANTÍA, YA SEA EXPRESA O IMPLÍCITA, INCLUYENDO, PERO SIN LIMITAR, LAS GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD O ADECUACIÓN PARA UN PROPÓSITO PARTICULAR O AUSENCIA DE INCUMPLIMIENTO. ALGUNAS JURISDICCIONES PUEDEN NO PERMITIR LAS LIMITACIONES O EXCLUSIÓN DE RESPONSABILIDAD POR DAÑOS Y PERJUICIOS INDIRECTOS O CONSECUENTES, O LA EXCLUSIÓN DE GARANTÍAS IMPLÍCITAS DE MODO QUE ALGUNAS DE LAS LIMITACIONES O EXCLUSIONES ANTERIORES PUEDEN NO CORRESPONDER EN SU CASO EN PARTICULAR. VERIFIQUE LAS LEYES LOCALES PARA CONOCER CUALQUIER TIPO DE RESTRICCIÓN O LIMITACIÓN RELACIONADA CON ESTAS LIMITACIONES O EXCLUSIONES.</p>

                    <p><strong>9.	Uso de datos.</strong> Cualquier información sobre la participación reunida a partir del formulario del Concurso se utilizará únicamente de acuerdo con estas Reglas oficiales y con la política de privacidad en http://www.moltonbrown.com/store/privacy-policy.  Al participar en el Concurso, los participantes por el presente aceptan la recolección y el uso de su información personal por parte del Patrocinador de acuerdo con la política de privacidad del Patrocinador y reconocen que han leído y aceptado la política de privacidad del Patrocinador incluida en http://www.biore.com.mx/privacy/.</p>
                    
                    <p><strong>10.	Lista de ganadores.</strong> Para obtener una lista de los ganadores, envíe un sobre con la dirección y la estampilla incluida antes del 1 de diciembre de 2016 a la siguiente dirección: Chinelo Entertainment S.A. de C.V., Malaga Norte 18, Colonia Extremadura Insurgentes, Delegacion Benito Juarez, D.F. 03740 MX.</p>
                    
                    <p><strong>11.	Patrocinador.</strong> Kao USA Inc., 2535 Spring Grove Avenue, Cincinnati, Ohio 45214. Administrador:  Chinelo Entertainment S.A. de C.V., Malaga Norte 18, Colonia Extremadura Insurgentes, Delegacion Benito Juarez, D.F. 03740 MX.</p>
                    
                    <p><b>Este Concurso no se realiza con ningún tipo patrocinio o apoyo de Facebook o Instagram, LLC, ni bajo su administración o asociación. La información se entrega al Patrocinador (según se define a continuación), no a Facebook o Instagram, LLC. Todo tipo de pregunta, comentario o reclamo relacionado con el Concurso debe enviarse al Patrocinador y no a Facebook o Instagram, LLC. Su participación en este Concurso debe cumplir en todo momento con las condiciones de servicio aplicables de Facebook o Instagram. En el caso de algún tipo de violación de tales términos de servicio, el Patrocinador puede, a su único y absoluto criterio, descalificar su participación en el Concurso.</b></p>
                
                 </div>
		</div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" runat="server">
</asp:Content>
