﻿/***************************************
	^Reset
****************************************/
html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, a,abbr,acronym,address,big,cite,code, del,dfn,font,img,ins,kbd,q,s,samp, small,strike,sub,sup,tt,var, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:none;-moz-outline-style:none;}
a:active{outline:0; }
a:focus{-moz-outline-style:none; }
body{line-height:1;} 
*:first-child+html body{overflow:visible;}
* html body{overflow:visible;}
ol,ul{list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after, q:before,q:after{content:""; }
blockquote,q{quotes:"" ""; }

body{
	overflow:hidden;
	width:520px;
}
sup{
    font-size:70%;
    vertical-align:top;
}
.clear{clear:both;}

#wrapper{position:relative;}
h1,
h2,
h3,
h4,
#proveItContainer,
#signUpContainer{
	left:0;
	position:absolute;
	text-indent:-9999px;
	z-index:1;
}
p#text{
	color:#073b87;
	font:15px/19px Arial,sans-serif;
	margin:0 60px;
	position:relative;
	text-indent:0;
	top:516px;
	z-index:2;
}
#proveItContainer p#text{top:11px;}
p a{
	display:block;
	height:32px;
	position:absolute;
	text-indent:-9999px;
}
h1{
	background:url(../images/h1.jpg);
	height:155px;
	top:0;
	width:520px;
}
h2{
	background:url(../images/h2.jpg);
	height:349px;
	top:155px;
	width:520px;
}
h3{
	background:url(../images/h3.jpg);
	height:195px;
	top:504px;
	width:520px;
}
#proveItContainer{
	background:url(../images/proveIt.jpg);
	height:252px;
	top:699px;
	width:520px;
}
#proveItContainer p a{
	background:url(../images/proveItBtn.png);
	left:69px;
	top:188px;
	width:212px;
}
#proveItContainer p a:hover{background-position:top right;}
#signUpContainer{
	background:url(../images/signUp.jpg);
	height:211px;
	top:951px;
	width:520px;
}
#signUpContainer p a{
	background:url(../images/signUpBtn.png);
	left:175px;
	top:145px;
	width:172px;
}
#signUpContainer p a:hover{background-position:top right;}
h4{
	background:url(../images/h4.jpg);
	height:120px;
	top:1162px;
	width:520px;
}