﻿<%@ Page Title="Legal" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="megrhythm.legal.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
    <meta name="description" content="Legal and disclaimers for Ban 24 Hour Odor and Wetness Protection with roll-ons and invisible solids">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

     <div class="main-container imgback">
        <div class="wrapper internal clearfix">
            <div id="wrapper-body">
                
                <section>
                    <h1>Legal Statement</h1>
                    
                     <p>&copy; <%: DateTime.Now.Year %> KAO (UK) LIMITED ALL RIGHTS RESERVED.</p>
                
                <p>BY USING THIS WEB SITE YOU UNDERSTAND AND AGREE THAT:
                <br /><br />
               <p>Information contained on this Web Site (the "Site") concerning any products or services is only applicable in the United States and is for your personal and non-commercial use only. All titles, names and graphics used in connection with the Site are trademarks of Kao or its licensors, except as otherwise indicated. All materials contained on the Site are the copyrighted property of Kao or its licensors. Reproduction, republication or distribution of any material from this Site beyond what is required to enable you to view the Site is strictly prohibited, except that the user may, for personal and non-commercial use only, download and make a single hard copy. Information regarding Kao products and services is subject to change without notice. Some products and services may not be available in certain areas. The information contained on this Site is intended for general information purposes only. The views and opinions expressed on the Site are not necessarily those of Kao. Mention of products and/or companies should not be understood as an endorsement of, or a statement of affiliation with, such products and/or companies. </p>

<p>This Site is for informational purposes only and is not intended to be a substitute for professional medical judgment, diagnosis or treatment. Reliance on any information provided on the Site is solely at your own risk. If you have any questions or concerns about medical or health issues, you should contact a medical professional. </p>

<p>You may not use spiders, robots, data mining techniques or other automated devices or programs to catalog, download, store or otherwise reproduce, store or distribute content available on the Site. You may not take any action to interfere with, or disrupt, the Site or any other user's use of the Site, including, without limitation, via means of overloading, "flooding", "mailbombing" or "crashing" the Site, circumventing security or user authentication measures or attempting to exceed the limited authorization and access granted to you under these terms and conditions. You may not frame portions of the Site within another web site or establish links from any other web site to any page of the Site other than the home page. You may not resell use of, or access to, the Site to any third party without our prior written consent. </p>

<p>REASONABLE CARE HAS BEEN TAKEN TO ENSURE THAT THE SITE CONTENT IS ACCURATE AND UP-TO-DATE. HOWEVER, Kao MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF SITE CONTENT NOR ANY OTHER WARRANTIES OR REPRESENTATIONS ABOUT THE CONTENT OR SITE, WHICH ARE PROVIDED ON AN "AS-IS" BASIS. Kao DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE SITE OR ANY MATERIALS OR CONTENT CONTAINED THEREIN WILL BE UNINTERRUPTED OR ERROR FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SITE OR THE SERVER THAT MAKES IT AVAILABLE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Kao SHALL NOT BE LIABLE FOR THE USE OF THE SITE, INCLUDING, WITHOUT LIMITATION, THE CONTENT AND ANY ERRORS CONTAINED THEREIN. ALL WARRANTIES, EXPRESS OR IMPLIED, ARE HEREBY DISCLAIMED (INCLUDING BUT NOT LIMITED TO THOSE OF MERCHANTABILITY, NONINFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE).</p>


<p>This Site may provide links or references to other sites but Kao has no responsibility for the content of such other sites and shall not be liable for any damages or injury arising from such content. Any links to other sites are provided merely as a convenience to users of this Site. </p>

<p>Kao takes the privacy of you and your information very seriously. For further information about how we use information collected from you, please view our Privacy Policy.</p>

<p>Neither Kao, its agents, affiliates, representatives, nor any other party involved in creating, producing, or administering the Site (collectively, the "Kao Parties") shall be liable for any indirect, incidental, consequential, special, or punitive damages whatsoever arising out of your use of the Site or any services or products offered through the Site, even if such party has been advised of the possibility of such damages. </p>

<p>In no event shall the aggregate, total liability of the Kao Parties to you for all damages, injury, losses and causes of action (whether in contract, tort or otherwise) arising from or relating to your use of the Site exceed the greater of: (a) the amount, if any, paid by you to Kao in respect of your use of this Site or (b) $100. </p>

<p>This Site is provided as a service to its visitors. Kao reserves the right to delete, modify or supplement the content of the Site at any time, including changes to these terms, for any reason, without notification to anyone. We will make such changes by posting them on the Site. You should check the Site for such changes frequently. Your continued access of the Site after such changes are made conclusively demonstrates your acceptance of those changes. </p>

<p style="margin-bottom: 0">This agreement shall be governed by and construed in accordance with the laws of the State of Delaware, without giving effect to any principles of conflicts law. You agree that any dispute arising from or relating in any way to this agreement, the Site or the any Kao products or services shall be brought exclusively in the Federal or State courts located in the State of Delaware and you irrevocably agree to submit to the exclusive jurisdiction of such courts. If any provision of this agreement shall be deemed unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from this Agreement and shall not affect the validity and enforceability of any remaining provisions.</p>

            

                 


                </section>

            </div>
        </div>

    </div>
</asp:Content>
