﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Biore2012.Forms.Ratings_And_Reviews.Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <!--<script type="text/javascript" src="http://biore.ugc.bazaarvoice.com/static/7668-en_ca/bvapi.js"></script>-->
    <script type="text/javascript" src="http://biore.ugc.bazaarvoice.com/bvstaging/static/7668-en_ca/bvapi.js"></script>
    <script type="text/javascript">
        $BV.ui("submission_container", {
            userToken:<asp:Literal runat="server" ID="literalUserToken" />
        });
    </script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="outerBVContainer">
   
       <div id="BVSubmissionContainer"></div>
       
    </div>
</asp:Content>


