﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="FBContentPageMaster.master.cs" Inherits="Biore2012.facebook.FBContentPageMaster" %>

<!DOCTYPE html>
<!--[if IE 7]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie7 lt-ie8 lt-ie9 ie" lang="en"><![endif]-->
<!--[if IE 8]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lt-ie9 ie" lang="en"><![endif]-->
<!--[if IE 9]><html xmlns="http://www.w3.org/1999/xhtml" class="no-js ie9 ie" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js ieX" lang="en"> <!--<![endif]-->
<head runat="server">
    <title></title>
    <%=SquishIt.Framework.Bundle.Css()
		.Add("~/facebook/globalFBCSS/globalFB.css")					// Global CSS Reset and Base Facebook styles
		.Add("~/facebook/globalFBCSS/NewLookStyles.css")
		.Add("~/facebook/globalFBCSS/ProductsStyles.css")			// All styles should be prefixed with a class
		.Add("~/facebook/globalFBCSS/WelcomeStyles.css")			// set on a wrapper div for that content page
		.Add("~/facebook/globalFBCSS/Porespectives2Styles.css")		// and then add the CSS file here before the .Render
    	.Add("~/facebook/globalFBCSS/SeeTheChangeStyles.css")
		.Add("~/facebook/globalFBCSS/StoryToPoreOverStyles.css")
		.Render("~/facebook/globalFBCSS/combinedfb_#.css")
	%>  
	
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body class="<%=bodyClass %>">
    <form id="form1" runat="server">
        <div> 
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
        </div>
    </form>
    <p class="privacyPolicy">
        View <a href="//www.kaobrands.com/privacy_policy.asp" target="_blank">Privacy Policy</a>.
    </p>
    
    <%-- JS includes --%>
    <asp:ContentPlaceHolder ID="scripts" runat="server"></asp:ContentPlaceHolder>
    
	<!-- Begin 33Across Tag -->
    <img src="http://pixel.33across.com/ps/?pid=182&amp;cgn=15164&amp;seg=20290"style="visibility:hidden;width:1px;height:1px;">
    <!-- End 33Across Tag -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var firstTracker = _gat._getTracker("UA-385129-27"); // Global Tag
			firstTracker._setDomainName("none");
			firstTracker._trackPageview();
			var secondTracker = _gat._getTracker("UA-385129-22"); // Biore MX Tag
			secondTracker._trackPageview();
		} catch (err) { }
	</script>
</body>
</html>
