﻿#mainContent .centeringDiv{
    padding-left:15px;
    max-width:975px;
    overflow:hidden;
}

.whatsNew #mainContent{
    background: url(../images/whatsNew/whatsNewBg.jpg) no-repeat top center;
    padding-top:29px;
}

#promos{
    float:left;
    width:60%;
}

.promo{
    overflow:hidden;
    padding-top:25px;
    background: url(../images/whatsNew/longHorizontalDivider.png) no-repeat;
    min-height:185px;
    line-height:20px;
}

#datingRules{min-height:0;}

.promo:first-child{background:none;}

.promoContent{
    float:left;
}

.promoImage{
    float:left;
    margin:0;
}

#promo1 .promoImage { padding-top: 30px; }
#promo2 .promoImage { padding-top: 40px; }
#goAnywhere .promoImage{margin-top:35px;}

.promoHeader{
    padding:30px 0px 3px;
    color:#1160a5; 
    font-weight:normal;
}

#datingRules .promoHeader{
    padding-top:0;
}

.promoBody{	
    padding-bottom:6px;
} 

.promoButton{
    float:left;
    min-width:165px;
    padding-bottom:30px;
}

#goAnywhereRules{
    font-size:11px;
    clear:both;
    padding-top:20px;
}

#polaroids{
    float:left;
    width:40%;
}

#polaroids img{
    width:100%;
    float:right;
}

    
/* smallest size */
@media all and (max-width:624px){  
    #mainContent .centeringDiv {
        padding-right:15px;
    }
    
    #mainContent h1{
        padding-top:23px;
        font-size:49px;
        line-height:49px;
    }
        
    .intro p{
        font-size:14px;
    }
    
    #promos{
        float:none;
        width:80%;
        margin:0 auto;
        min-width:292px;
    }
    
    .promo{
        font-size:14px;
    }
    
    .promoHeader{
        padding-top:15px;
        font-size:18px;
    }
    
    .promoButton{
        margin-left:-15px;
    }
    
    .promoContent{
        padding-left: 3%;
        width: 47%;
    }
    
    #polaroids{
        display:none;
    }
}

/* shared medium to big size */
@media all and (min-width:625px){  
    .promoContent{
        width:55%;
        padding-left:5%;
    }
    
    .promo{
        font-size:15px;
    }
    
    .promoHeader{
        font-size:20px;
    }
}

/* medium size */
@media all and (min-width:625px) and (max-width:809px){  
    #mainContent h1{
        padding-top:34px;
        font-size:51px;
        line-height:51px;
    }
    
    .intro p{
        font-size:16px;
    }
}

/* full size */
@media all and (min-width:810px){ 
    #mainContent h1{
        padding-top:45px;
        font-size:60px;
        line-height:60px;
    }
    
    .intro p{
        font-size:18px;
    }
}