﻿.ourProducts #mainContent{
    background: url(../images/ourProducts/productDetail/productDetailBg.jpg) no-repeat top center;
}

#mainContent .centeringDiv{
    max-width:960px;
}

#mainContent .col{
    float:left;
    color:#5d5d5e;
    min-width:245px;
    position:relative;
}

#mainContent #productName{
    position:static;
}

#mainContent .floatRight{
    float:right;
}

#mainContent .col h2{
    width:175px;
    text-align:center;
    padding:6px 5px;
    margin-bottom:7px;
}

#mainContent .col p{
    margin-bottom:10px;
}

div#productInfo.col{
    padding-top:15px;
}

.contentHolder h5{
    font-weight:bold;
    font-size:15px;
}

.activeIngredient{
    float:left;
    width:60%;
    position:relative;
}

.activeIngredient p{
    float:left;
    position:relative;
    z-index:20;
    background: url(../images/contentBg.jpg);
}

.dots{
    position:absolute;
    width:99.8%;
    left:0;
    line-height:14px;
    height:15px;
    border-bottom:1px dotted #888;
}

.purpose{
    float:left;
    width:40%;
}

.contentHolder img.floatRight{
    margin:0 5%;
}

.contentHolder h3{
    background:#4f91cd;
    color:#fff;
    text-transform:uppercase;
    font-size:14px;
    font-weight:normal;
    padding:12px;
    position:relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;  
    -moz-box-shadow: 0 2px 5px 0px #c1c1c1;
    -webkit-box-shadow: 0 2px 5px 0px #c1c1c1;
    box-shadow: 0 2px 5px 0px #c1c1c1;
    margin-bottom:12px;
    cursor:pointer;
}

.notouch .contentHolder h3:hover{background-color: #7baad7;}

.contentHolder h3 span{
    position:absolute;
    top:8px;
    right:12px;
    background: #005daa url(../images/ourProducts/productDetail/arrow.png) no-repeat bottom left;
}

.contentHolder.open h3 span{
    background-position: top left;
}

.contentHolder ol{
    list-style:decimal;
    margin-left:20px;
}

.ie7 .contentHolder ol{
    margin-left:26px;
}

.contentHolder ul{
    list-style:disc;
    margin-left:20px;
}

.contentHolder ul li, 
.contentHolder ol li{
    margin-bottom:10px;
}

.contentHolder h4{
    font-weight:bold;
}

#productName .buyNow{
    width:95px;
    height:23px;
    padding:11px 10px 9px;
    float:left;
    font-size:12px;
    line-height:14px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    color:#fff;
    margin:0 10px 5px -5px;
}

.notouch #productName a.buyNow:hover{
    background-position:0 -43px;
}

#productName .likeBtn{
    float:left;
    margin-top:7px;
}

#productName .plusBtn{
    float:left;
    margin:7px 10px 0 0;
}

/* main product images with old / new look nav */
#productImages{
    max-width:390px;
}

.hide,
.prodImgHolder{
    display:none;
}

.open .collapsibleContent,
.prodImgHolder.on{
    display:block;
}

.prodLookNav{
    margin:10px auto 0;
    width:240px;
    height:40px;
    position:relative;
}

.prodLookNav li{
    float:left;
    width:120px;
}

.prodLookNav a{
    color:#5c5c5d;
    text-transform:uppercase;
    text-decoration:none;
    font-size:14px;
}

.prodLookNav a span{
    -moz-box-shadow: 0px 2px 2px 0px #a7a6a6;
    -webkit-box-shadow: 0px 2px 2px 0px #a7a6a6;
    box-shadow: 0px 2px 2px 0px #a7a6a6;
    background:#d0d0d0;
    float:left;
    top:-3px;
    margin-right:8px;
    position:relative;
    -pie-watch-ancestors:1;
}

.prodLookNav a.on span,
.notouch .prodLookNav a:hover span{
    background:#4f91cd;
}

.prodImgHolder{
    position:relative;
    width:100%;
}

.prodImgHolder img{
    position:relative;
    z-index:100; 
    width:100%;  
}

/* you may also like carousel section */
#alsoLike.col{
    padding-left:5px;
    padding-right:0;
    width:50%;
}

#mainContent #alsoLike h3{
    font-family:'NewsCycleRegular';
    font-size:24px;
    font-weight:normal;
    color:#1160a5;
    text-transform:uppercase;
    margin-bottom:10px;
    position:relative;
    z-index:100;
}

#alsoLike.col p{
    margin-bottom:0;
    max-width:370px;
}

#prodCarouselWrapper{
    position:relative;
    width:100%;
}

#prodCarousel{
    overflow:hidden;
    position:relative;
}

#prodCarousel ul{
    width:100%;
    position:relative;
    left:-5px;
    overflow:hidden;
}

#prodCarousel li{
    text-align:center;
    float:left;
    position:relative;
    height:60px;
    padding: 180px 5px 0;
    width: 111px;
    margin-left:2%;
}

#prodCarousel li img{
    position:absolute;
    bottom:40px;
    display:block;
    left:20%;   
    width:66%;
}

#prodCarousel li.wider img{
    left:13%;
    width: 73%;
}

#prodCarousel li.widest img{
    left:0;
    width: 102%;
}

#prodCarousel li a{
    font-weight:bold;
    text-decoration:none;
    font-size:14px;
    line-height:16px;
    color:#073b87;
    display:block;
}

.notouch #prodCarousel li a:hover{
    color:#4f91cd;
}

#prodCarousel li a span{
    position:relative;
}

#prodCarouselWrapper .carouselNav{
    background:#4f91cd;
    text-indent:-9000px;
    width:24px;
    left:-9000px;
    height:24px;
    position:absolute;
    top:100px;
    z-index:100;
    background: #4f91cd url(../images/ourProducts/productDetail/carouselArrows.png) no-repeat;
}

.notouch #prodCarouselWrapper .carouselNav:hover{ background-color:#7BAAD7;}
#prodCarouselWrapper .carouselNav.disabled{background-color:#c8dcee;}
#prodCarouselWrapper #prev{background-position: bottom left;}

/* video section */
.videoHolder{
    position:relative;
    float:left;
    margin-top:15px;
    width:98.3%;
}

.video{
    -moz-box-shadow: 0 2px 8px 0px #b2b2b2;
    -webkit-box-shadow: 0 2px 8px 0px #b2b2b2;
    box-shadow: 0 2px 8px 0px #b2b2b2;
    display:block;
    margin:0 auto;
    max-width: 512px;
}

.video *{
    display:block;
}

.videoHolder img{
    display:block;
    width:100%;
}

/* bottom teaser */
.mobile #proveIt{
    display:none;
}

.teaser .floatLeft{
    float:right; 
    width:50%;
}

#proveIt{
    float:right;
    clear:right;
    margin:20px 10px -40px 0;
    width:45%;
    padding:10px;
}

#proveIt img.model{
    width:50%;
    float:left;
    margin-top:-20px;
}

#proveIt h2{
    width:100%;  
    margin:10px 0 5px; 
    max-width: 167px;
}

#proveIt h2 img{
    width:100%;
}

#proveIt h3{
    color:#1160a5;
    width:100%;
    font-weight:normal;
    text-transform:uppercase;
    font-size:16px;
    margin-bottom:5px;
    padding-left:4%;
}

#proveIt p{
    float:left;
    width:100%;
    padding-left:4%;
    margin-bottom:10px;
}

#proveIt a{
    background: url(../images/ourProducts/productDetail/startEarningNowBtn.png) no-repeat;
    height:21px;
    padding:8px 0 10px;
    width:189px;
    float:left;
    margin-right:4%;
    text-align:center;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    position:static;
}

.notouch #proveIt a:hover{
    background-position: 0 -41px;    
}

/* pore strip nav */
div#ctl00_ContentPlaceHolder1_thePoreStripNavPanel.col{
    padding:0;
    margin-bottom: -15px;
}
    
ul#poreStripNav{
    padding-left:3px;
    max-width:385px;
}
 
.poreStripNav{
    float: left;
    position:relative;
    padding:2% 0% 5%;
    text-align:center;
    width: 30.5%;
    max-width:120px;
    margin-left:3%;
}

.poreStripNav:first-child{
    margin-left:0;
}

.selected.poreStripNav .roundedBoxBg{ 
    left: -5%;
}

.poreStripNav .imgWrapper{
    max-width: 88px;
    position: relative;
    width: 88%;
    margin:0 auto;
}
 
.poreStripNav img{ 
    position: relative;
    z-index:10; 
    width:100%;
    max-width:87px;
    max-height:94px;
}

.poreStripNav .roundedBoxBg{                       
    height: 105%;
    left: -9999px;
    position: absolute;
    top: -7%;
    width: 111%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;  
    -moz-box-shadow: 0 3px 10px 0px #7f7f7f;
    -webkit-box-shadow: 0 3px 10px 0px #7f7f7f;
    box-shadow: 0 3px 10px 0px #7f7f7f;
}
    
#regularNav .roundedBoxBg, #regularNav .ps{background:#628cc8;}
#comboNav .roundedBoxBg,  #comboNav .ps{background:#fef343;}
#ultraNav .roundedBoxBg, #ultraNav .ps{background: #96a1a8 url(../images/ourProducts/productDetail/ultraBg.png) no-repeat;}
#ultraNav .ps{background-position:bottom right} 
 
.poreStripNav a{
    position: absolute;
    width: 134%;
    padding:0 4%;
    top:0;
    z-index:20;
    height: 100px;
    left: -23%;
    text-transform:uppercase;
    font-size:11px;
    text-decoration:none;
    font-weight:bold;
}

.ie7 .poreStripNav a,
.ie8 .poreStripNav a{
    background: url(../images/blank.gif);
}
  
.poreStripNav a div{
    width:105%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;  
    position:absolute;
    left:-9999px;
    top:17%;
    -moz-box-shadow: 0 5px 10px 0px #7f7f7f;
    -webkit-box-shadow: 0 5px 10px 0px #7f7f7f;
    box-shadow: 0 5px 10px 0px #7f7f7f;
    background:#005daa;
    color:#005daa;
}

.notouch .poreStripNav a:hover div{left:0;}
 
.poreStripNav a div span{
    display:block;
    position:relative;
    cursor:pointer;
}
 
.poreStripNav a .dc{
    color:#fff;
    height:15px;
    z-index:15;
    line-height:20px;
    border-bottom:5px solid #005daa;
    margin-bottom:-5px;
}
 
.poreStripNav a .ps{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height:12px;
    padding:8px 0% 4px;
    width:100%;
}

/* category specific colors and styles */
.deepCleansing #mainContent h1,
.deepCleansing .contentHolder h4{color:#005daa;}

.complexionClearing #mainContent h1,
.complexionClearing .contentHolder h4{color:#eb7416;}

.murt #mainContent h1,
.murt .contentHolder h4{color:#ad208e;}

.deepCleansing #productName h2{background-color:#005daa;}
.complexionClearing #productName h2{background-color:#f48025;}
.murt #productName h2{background-color:#ad208e;}

.deepCleansing #productName .buyNow{background: url(../images/ourProducts/productDetail/deepCleansingBuyNowBtn.png) no-repeat;}
.complexionClearing #productName .buyNow{background: url(../images/ourProducts/productDetail/complexionClearingBuyNowBtn.png) no-repeat;}
.murt #productName .buyNow{background: url(../images/ourProducts/productDetail/murtBuyNowBtn.png) no-repeat;}

/* smallest size */
@media all and (max-width:624px){  
    #mainContent .centeringDiv {
        padding-left:22px;
        padding-right:22px;
    }
    
    #mainContent h1{
        font-size:35px;
        line-height:35px;
        width: 98%;
    }
    
    #mainContent .col{
        width:100%;
        padding:0 0% 5px;
        float:none;
        font-size:14px;
        line-height:17px;
    }
    
    #mainContent .col h2,
    #mainContent .col h3,
    #mainContent .col h4,
    #mainContent .col p,
    #mainContent .col ul,
    #mainContent .col ol{
        font-size:14px;
        line-height:17px;
    }
    
    #productImages.col{
        width:89%;
        margin:0 auto;
    }
    
    .contentHolder, .videoHolder{
        width:100%;
    }
    
    .dots{
        line-height:13px;
        height:14px;
    }
    
    ul#poreStripNav{
        margin:0 auto;
    }
    
    #productName p{
        font-size:13px;
    }
    
    #proveIt{
        float:none;
        width:93%;
        max-width:430px;
    }
    
    .prodImgHolder{
        margin:0 auto;
        text-align: center;
    }
    
    .prodImgHolder img {
        width:246px;
    }
    
    #mainContent #productName{ 
        padding-top:15px;
    }
    
    #alsoLike.col{
        padding-top:20px;
    }
    
    #alsoLike.col p{
        font-size:14px;
    } 
    
    #prodCarouselWrapper{
        left:12px;
    }
    
    #prodCarousel{
        width:100%;
    }
}

/* shared medium to big size */
@media all and (min-width:625px){  
    #mainContent .centeringDiv{
        padding-left:30px;
    }
    
    #mainContent .col{
        padding:0px .5% 5px;
        width:47.5%;
    }
    #mainContent .bottomBorder{
        background: url(../images/ourProducts/productDetail/handdrawnBorder.gif) no-repeat bottom left;
        padding-bottom:30px;
    }
    #mainContent #productImages{ 
        padding-top:25px;
        margin-bottom:10px;
    }
    .contentHolder{
        width:98.3%;
    }
    #prodCarouselWrapper{
        left:-20px;
    }
    #prodCarousel{
        width:110%;
    }
    #alsoLike{
        clear:left;
    }
    #alsoLike.col p{
        font-size:15px;
    }  
}

/* medium size */
@media all and (min-width:625px){  
    #mainContent h1{
        font-size:41px;
        line-height:41px;
    }
    
    #mainContent .col{
        font-size:15px;
        line-height:18px;
    }
    
    #productName p{
        font-size:15px;
    }
    
    #mainContent #productName{ 
        padding-top:25px;
    }
    
    #alsoLike.col{
        padding-top:25px;
    }  
}

/* full size */
@media all and (min-width:810px){ 
    #mainContent h1{
        font-size:48px;
        line-height:48px;
    }
    
    #mainContent .col{
        font-size:16px;
        line-height:19px;
    }
    
    #productName p{
        font-size:18px;
    }
    
    #mainContent #productName{ 
        padding-top:35px;
    }

}

/* for product carousel switching from 3 to 2 */
@media all and (min-width:625px) and (max-width:790px), all and (max-width:450px){
    #prodCarouselWrapper{
        width:260px;    
        left:20px;    
    }
    
    #prodCarousel { 
        width:235px;
    }
    
    #prodCarousel ul{
        width:480px;
    }
    
    #prodCarousel ul li{
        margin:0;
    }
    
    #prodCarousel ul.moreLeft { 
        left:-135px;
    }
   
    #prodCarouselWrapper .carouselNav{
        display:block;
    }   
    
    #prodCarouselWrapper #next{
        right:0px;
        left:auto;
    }

    #prodCarouselWrapper #prev{
        left:-25px;
        background-position: bottom left;
    }
    
    .poreStripNav a{
        font-size:10px;
        width:116%;
        left:-16%;
    }
}  

/* for prove it teaser */
@media all and (max-width:790px){
    #proveIt, #proveIt h2{margin-top:0;}
    #proveIt img.model{display:none;}
    #proveIt .floatLeft{width:100%;}
    #proveIt a{float:left;}
}

/* Cotton logo call out (Only on MURT)*/
.cotton{
    overflow:hidden;
    margin: 15px 0;
}
.cotton img{
    float: left; 
    margin-left:20px;
}

.cotton p{
    float: left; 
    width: 67%;
    font-size: 11px; 
    line-height: 13px;
    color: #7c7d7c;
    margin-left: 10px;
}
