﻿body
    {
        overflow-x: hidden;
    }
.ourProducts #mainContent{
    background: url(../images/signUpBg.jpg) no-repeat top center;
}

#mainContent .centeringDiv{
    max-width:975px;
}

.ourProducts #mainContent .intro p{
    text-align:center;
    font-family: ProximaNova-Regular;
    color:#22244a;
    margin-left: 147px;
width: 600px;
}

.prodList{
    overflow:hidden;
}

.prodList h2{
    text-align:center;
}

h2.deepCleansing{
    color:#8a8a8a;
    font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    font-size:65px;
    width: 100%;
    margin:25px 0px 45px 0px;
    letter-spacing: -3px;
}

h2.deepCleansing span{
     color:#7ac141;
}

h2.complexionClearing{
    color:#ef6b39;
    font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    font-size:65px;
    width: 100%;
    margin:25px 0px 45px 0px;
    letter-spacing: -3px;
}

h2.complexionClearing span{
     color:#8a8a8a;
}

h2.murt{
    color:#8a8a8a;
    font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    font-size:65px;
    width: 100%;
    margin:25px 0px 45px 0px;
    letter-spacing: -3px;
}

h2.murt span{
     color:#ea3060;
}

h2.bigPores{
    color:#8a8a8a;
    font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    font-size:65px;
    width: 100%;
    margin:25px 0px 45px 0px;
    letter-spacing: -3px;
}

h2.bigPores span{
     color:#6ec8e4;
}
span.arrow{
    background: url(../images/ourProducts/prodListArrow.png) no-repeat 0 0;
    height:31px;
    width:30px;
    position:absolute;
    right:0px;
    top:4px;
}

/* .prodList h2 span{display:none;} */

.prodList ul{
    overflow:hidden;
    padding-bottom:20px;
    margin: 0 auto;
width: 750px;
}

.prodList li{
    float:left;
    width:204px;
    height:167px;
    padding:210px 21px 0px 25px;
    position:relative;
    cursor:pointer;
    font-size:15px;
    line-height:20px;
}

.prodList li.taller{
    height:120px;
}

.prodList li a{
    display:block;
    height:95%;
    position:absolute;
    width:100%;
    top:0;
    text-indent:-9000px;
    left:0;
    background: url(../images/ourProducts/detailsBg.jpg) no-repeat 0 -9000px;
}


.ratingCategory {
    margin: 0 auto;
    width: 50%;
}

.notouch .prodList li a:hover{
    background-position: 40px 80px;
}

.prodList li img{
   bottom: 145px;
    display: block;
    left: -3%;
    position: absolute;
}

.productListSpacer img {
    margin-left: 28%
}

.prodList li.taller img{
    bottom:100px;
    margin-left:2%
}

#dailyCleansingCloths img{left:10%;}
#murt img{left:15.5%;}

.prodList li h3{
    position:relative;
    font-weight:normal;
    width:90%;
    font-size:13px;
    line-height:15px;
}

.prodList li p{
    text-align:center;
    width: 174px;
    font-size:12px;
    color:#23244b;
    font-family: ProximaNova-Bold;
    line-height:14px;
    margin-top:10px;
    margin-left:0;
    
}

#deepCleansingProds h3{
    color:#ffffff;
    background-color:#73ba2f;
    width:174px;
    height:38px;
    text-align:center;
    font-family: ProximaNova-Bold;
    font-size:14px;
    padding-top:10px;
    text-transform:uppercase;
}

#complexionClearingProds h3{
    color:#ffffff;
    background-color:#ef6b39;
    width:174px;
    height:38px;
    text-align:center;
    font-family: ProximaNova-Bold;
    font-size:15px;
    padding-top:10px;
}

#murtProds h3{
    color:#ffffff;
    background-color:#ea3060;
    width:91%;
    height:38px;
    text-align:center;
    font-family: ProximaNova-Bold;
    padding-top:10px;
    text-transform:uppercase;
}

#bigPoresProds h3{
    color:#ffffff;
    background-color:#6ec8e4;
    width:174px;
    height:38px;
    text-align:center;
    font-family: ProximaNova-Bold;
    font-size:14px;
    padding-top:10px;
    text-transform:uppercase;
	margin-top: 10px;
}
/* Global Style */
    #mainContent h1{
        text-align:center;
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
        color:#304065;
    }


/*  Mobile Portrait 320x480 */
@media all and (max-width:479px){
    
    #mainContent h1 {
        font-size: 36px;
        line-height: 28px;
        padding-top: 20px;
    }
    #mainContent
    {
        min-height: 485px;
    }
     h2.complexionClearing{
        color:#ffffff;
        background-color:#ef6b3a;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        font-size:22px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.deepCleansing{
        color:#ffffff;
        background-color:#73ba2e;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        font-size:22px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.deepCleansing span {
     color: #ffffff;
    }

    h2.murt{
        color:#ffffff;
        background-color:#ea2e5e;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
       font-size:20px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.murt span{
         color:#ffffff;
    }

    .prodList li p{
        margin-left: auto;
        margin-right: auto;
    }

    h2.complexionClearing span {
        color: #ffffff;
    }

    h2.bigPores{
        color:#ffffff;
        background-color:#6ec8e4;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        font-size:22px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.bigPores span {
     color: #ffffff;
    }
	
    #responseRule {
        background: url(../images/ourProducts/productsResponseRule.jpg) no-repeat;
        width:273px;
        height:2px;
        margin: 5px auto 15px auto;
    }

    #mainContent .centeringDiv {
        max-width:280px;
    }
    
    #mainContent .intro p{
        font-size:14px;
    }
    
    .prodList{
        overflow:visible;
    }
    
    .prodList ul{
        display:none;
        position:relative;
        top:-30px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:-30px;
        max-width: 280px;
    }
    .prodList.open ul{display:block;}

    .prodList h2{
        /* margin:0 auto 30px;
        cursor:pointer; */
    }

    
    .prodList h2 span{display:inline;}
    
    .open h2 .arrow{background-position: 0 -31px; }
   
    .prodList li{
        float:none;
        margin:0 auto;
        width:70%;
        padding:0px 10px 10px;
        height:auto;
        min-width:260px;
        text-align:center;
    }

    .prodList li.taller{height:auto;}

    #mainContent .prodList li img{
        position:relative;
        top:20px;
        left:0;
        margin:0 auto; 
    }
     
    .prodList li h3{
        margin:0 auto;
        width:100%;    
    }
     
    .notouch .prodList li a:hover{
        background-position: center 80px;
    }
    
    #productChanges{
       margin:0 auto;
       text-align:center;
    }
    .ourProducts #mainContent .intro p {
        margin-left: auto;
        width: 280px;
        margin-right: auto;
    }
    
}
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px)
{
    #mainContent
    {
        min-height: 407px;
    }
     h2.complexionClearing{
        color:#ffffff;
        background-color:#ef6b3a;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        font-size:22px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.deepCleansing{
        color:#ffffff;
        background-color:#73ba2e;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        font-size:22px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.deepCleansing span {
     color: #ffffff;
    }

    h2.murt{
        color:#ffffff;
        background-color:#ea2e5e;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
       font-size:20px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.murt span{
         color:#ffffff;
    }

    .prodList li p{
        margin-left:22%;
    }

    h2.complexionClearing span {
        color: #ffffff;
    }

    h2.bigPores{
        color:#ffffff;
        background-color:#6ec8e4;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        font-size:22px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.bigPores span {
     color: #ffffff;
    }
	
    #responseRule {
        background: url(../images/ourProducts/productsResponseRule.jpg);
        width:394px;
        height:2px;
        margin: 5px auto 15px auto;
    }

    #mainContent .centeringDiv {
        max-width:480px;
    }
    
    #mainContent h1{
        font-size:52px;
        line-height:42px;
        padding-top:23px;
    }
    
    #mainContent .intro p{
        font-size:14px;
    }
    
    .prodList{
        overflow:visible;
    }
    
    .prodList ul{
        display:none;
        position:relative;
        top:-30px;
        margin-left:auto;
        margin-bottom:-30px;
        max-width: 450px;
    }
    
    .prodList.open ul{display:block;}

    .prodList h2{
        /* margin:0 auto 30px;
        cursor:pointer; */
    }
    
    .prodList h2 span{display:inline;}
    
    .open h2 .arrow{background-position: 0 -31px; }
   
    .prodList li{
        float:none;
        margin:0 auto;
        width:70%;
        padding:0px 10px 10px;
        height:auto;
        min-width:260px;
        text-align:center;
    }

    .prodList li.taller{height:auto;}

    #mainContent .prodList li img{
        position:relative;
        top:20px;
        left:0;
        margin:0 auto; 
    }
     
    .prodList li h3{
        margin:0 auto;
        width:100%;    
    }
     
    .notouch .prodList li a:hover{
        background-position: center 80px;
    }
    
    #productChanges{
       margin:0 auto;
       text-align:center;
    }
    .ourProducts #mainContent .intro p {
        margin-left: auto;
        width: 430px;
        margin-right: auto;
    }
}
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 */
@media all and (min-width:600px) and (max-width:767px)
{
    #mainContent {
        min-height: 564px;
    }
     h2.complexionClearing{
        color:#ffffff;
        background-color:#ef6b3a;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        font-size:22px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.deepCleansing{
        color:#ffffff;
        background-color:#73ba2e;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        font-size:22px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.deepCleansing span {
     color: #ffffff;
    }

    h2.murt{
        color:#ffffff;
        background-color:#ea2e5e;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
       font-size:20px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.murt span{
         color:#ffffff;
    }

    .prodList li p{
       margin-left: auto;
        margin-right: auto;
    }

    h2.complexionClearing span {
        color: #ffffff;
    }

    h2.bigPores{
        color:#ffffff;
        background-color:#6ec8e4;
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        font-size:22px;
        width: 100%;
        padding-top:7px;
        letter-spacing: 0px;
        height:34px;
        cursor:pointer;
    }

    h2.bigPores span {
     color: #ffffff;
    }
	
    #responseRule {
        background: url(../images/ourProducts/productsResponseRule.jpg);
        width:466px;
        height:2px;
        margin: 5px auto 15px auto;
    }

    #mainContent .centeringDiv {
        max-width:600px;
    }
    
    #mainContent h1{
        font-size:62px;
        line-height:62px;
        padding-top:23px;
    }
    
    #mainContent .intro p{
        font-size:14px;
    }
    
    .prodList{
        overflow:visible;
    }
    
    .prodList ul{
        display:none;
        position:relative;
        top:-30px;
        margin-left:auto;
        margin-bottom:-30px;
        width: 570px;
    }
    
    .prodList.open ul{display:block;}

    .prodList h2{
        /* margin:0 auto 30px;
        cursor:pointer; */
    }
    
    .prodList h2 span{display:inline;}
    
    .open h2 .arrow{background-position: 0 -31px; }
   
    .prodList li{
        float:none;
        margin:0 auto;
        width:70%;
        padding:0px 10px 10px;
        height:auto;
        min-width:260px;
        text-align:center;
    }

    .prodList li.taller{height:auto;}

    #mainContent .prodList li img{
        position:relative;
        top:20px;
        left:0;
        margin:0 auto; 
    }
     
    .prodList li h3{
        margin:0 auto;
        width:100%;    
    }
     
    .notouch .prodList li a:hover{
        background-position: center 80px;
    }
    
    #productChanges{
       margin:0 auto;
       text-align:center;
    }
        .ourProducts #mainContent .intro p {
        margin-left: auto;
        width: 490px;
        margin-right: auto;
    }
}
/*  Tablet Portrait 768x1024 */
@media all and (min-width:768px) and (max-width:1023px)
{
   #mainContent h1{
        font-size: 62px;
        line-height: 62px;
        padding-top: 23px;
    }
    #mainContent .intro {
    } 
    .ourProducts #mainContent .intro p {
        margin-left: auto;
        width: 490px;
        margin-right: auto;
    }
    #responseRule {
        background: url(../images/ourProducts/productsResponseRule.jpg);
        width:466px;
        height:2px;
        margin: 5px auto 15px auto;
    }
}
/* Tablet Landscape 1024x768 &&  Desktop 1200x1024 */
@media all and (min-width:1024px)
{
     #mainContent h1{
        font-size:77px;
        line-height:62px;
        padding-top:45px;
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
        text-align:center;
        color:#304065;
        background: url(../images/ourProducts/headerBG.png) no-repeat 0 80px;
        
    }
    #mainContent .intro {
        width:893px;
        padding-left: 35px;
    } 
}


