/******************************************************************************
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
******************************************************************************/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:19999; overflow:hidden;}
*+html #colorbox, *+html #cboxOverlay, *+html #cboxWrapper{overflow:visible;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/******************************************************************************
    ColorBox example user style 
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
******************************************************************************/
#cboxOverlay{background:#000;}

#colorbox{}
    #cboxContent{margin-top:20px; margin-right: 20px;}
        #cboxLoadedContent{background:#3E3C3C; padding:7px;}
        #cboxTitle{display: none;}
        #cboxCurrent{display: none;}
        #cboxSlideshow{display: none;}
        #cboxPrevious{display: none; /*position:absolute; top:50%; left:5px; margin-top:-32px; background:url(../images/common/colorbox/controls.png) top left no-repeat; width:28px; height:65px; text-indent:-9999px;*/ }
        #cboxPrevious.hover{background-position:bottom left;}
        #cboxNext{display: none; /*position:absolute; top:50%; right:5px; margin-top:-32px; background:url(../images/common/colorbox/controls.png) top right no-repeat; width:28px; height:65px; text-indent:-9999px;*/}
        #cboxNext.hover{background-position:bottom right;}
        #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(../images/common/colorbox/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; top:-20px; right:-20px; display:block; background:url(../images/colorbox/close_btn.gif) top left no-repeat; width:18px; height:17px; text-indent:-9999px;}
        #cboxClose.hover{background-position:bottom right;}