﻿.home-content {
    width: 100%;
    font-family: 'Archer A', 'Archer B';
    font-weight: 600;
}
.home-content section {
    position: relative;
    float: left;
    width: 100%;
    min-height: 200px;
    padding: 50px 0;
}
.section-columns .sect-media img {
    width: 90%;
}


.alignCenter {
    text-align: center;
}

.white-headline {
    font-size: 2.3em;
    color: #FFF;
    line-height: 1em;
}

.orange-headline {
    font-size: 2.2em;
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #fe5000;
    text-shadow: 1px 0px #333;
}

.sub-headline {
    color: #33307f;
    font-size: 1.2em;
    line-height: 1em;
}

.hide-desktop {
    display: none!important;
    top:auto;
    bottom:0 !important;
}

    .hide-desktop img {
        height: 400px;
        /*filter: alpha(opacity=50);*/
	    opacity: 1; /*0.5*/
    }

#popup-dialog {
    width: 320px;
    height: 400px;
    text-align: center;
    margin: 10px auto;
    position: relative;
    border:5px solid #1f2652;
    background: #7cb1e0 url(/images/homepage/instagram-pop/pop-bg.jpg) no-repeat top left; max-width:740px; max-height: 924px; background-size: cover;
}

.pop-text {
    color: #333 !important;
    position: absolute;
    top: 140px;
    left: 30px;
    width: 235px;
    height: 170px;
}

.pop-text h3 {
    color: #333;
    font-weight: bold;
    text-align: left;
    width: 150px;
    margin: auto;
    font-size: 1em;
    margin-bottom: .5em;
}

.pop-text p, ul {
    margin-bottom: .8em;
    font-size: .7em;
}

.show {
    display: inline-block!important;
}
.animation-play-btn {
    transition: all 0.4s;
    cursor: pointer;
}
.white-shadow {
    width: 100%;
    height: 0px;
    z-index: 1035;
    background: white;
    opacity: 0.7;max-width: 1024px
    position: absolute;
    bottom: 45px;
    box-shadow: 0px 45px 65px 40px white;
}
.products-responsive {
    width: 100%;
}

.bubbles-charcoal-nosestrips {
    bottom: -45px;
    left: 60%;
    position: absolute;
    width: 20%;
    z-index: 200;
}


.bubbles-charcoal-active {
    bottom: -10%;
    left: 42%;
    position: absolute;
    width:20%;
}


.bubbles-charcoal-bakingsoda {
    bottom: -8%;
    left: 77%;
    position: absolute;
    width:20%;
}


.newicon {
   position: relative;
    left: 108%;
    top: 13em;
    z-index: 200;
    width: 110px;
    display: block;
}

.newicon > img {
    width: 100%;
}

@media (max-width: 767px) {
    .hide-desktop {
        display: inline-block!important;
    }

    .hide-mobile {
        display: none!important;
    }
}
/* WELCOME MODULE */
#section-01 {
    height: 400px;
    overflow: hidden;
    padding-top: 15px;
    background: #7eb1e2 none repeat scroll 0 0;
    position:relative;
}
/*IE HACK*/
@media screen and (min-width:0\0) {
    #section-01{background: #7eb1e2\9;} /* backslash-9 removes ie11+ & old Safari 4 */    
}
_:-ms-fullscreen, :root #section-01 { background: #7eb1e2; } /* ie 11*/

#welcomeImage {
    position: absolute;   
    /*height: 100%;*/
    /*top: 0px;*/
    top: 120px;
    z-index: 100;
    display: block;

    left: 50%;
    margin-left: -140px;
}

#welcomeImage img {
    height: 100%;
    width: inherit;
    margin-top: 1em;
}
video {
    position: absolute;   
    height: 100%;
    top: 0px;
    z-index: 100;
    display: none;
}
@media screen and (min-width:0\0) {    
    video {
      top: 50%\9;
      left: 50%\9;
      min-width: 100%\9;
      min-height: 100%\9;
      width: auto\9;
      height: auto\9;
      transform: translate(-50%, -50%)\9;
    }
}
_:-ms-fullscreen, :root video { 
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
}
.welcome-module-content {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 200;
    font-weight: bold;
}
.welcome-module-content h1 {
    font-size: 1.8em;
    font-weight: 700;
    color: #212d61;
    line-height: 1.1em;
}
.welcome-module-content h1 span {
    font-size: 1.5em;
    font-weight: 700;
}
.welcome-module-content p {
    margin: 0 auto;
    font-size: 1.3em;
        line-height: 24px;
    color: #212d61;
}

.welcome-module-line1 {
    font-weight: bold;
}

.welcome-module-line2 {
    color: #fff !important;
    font-weight: bold;
}

.welcome-video {
    margin-top: 40px;   
}
.welcome-video a {
    width: 80px;
    height: 92px;
    display: block;
    background-image: url('../images/homepage/btnPlay.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.welcome-video a:hover {
    background-image: url('../images/homepage/btnPlay_hover.png');
}
.welcome-video img {
    width: 60px;
}
.bubbles-bg {
    background-image: url("/images/homepage/ingredients-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    right: -100px;
    top: 0;
    z-index: 100;
    width:100%;
}
.section-down-arrow {
    width: 35px;
    margin-top: 20px;
}

/* PRODUCT SECTIONS */


.home-section a {
    color: #FFF;
}

.container3 {
	width:100%;
	overflow:hidden;
    max-width: 400px;
    margin: 0 auto;
}
.container2 {
    width:100%;
	position:relative;
}
.container1 {
	width:100%;
	position:relative;
    padding: 20px 0;
}
.headline {
	width:100%;
	position:relative;
	overflow:hidden;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto 0;  
}
.headline h4 {
    font-size: 3em;
    color: #fff;
    font-weight: 700;
    width: 300px;
    margin: 0 auto;
}
.headline-center {
    position: relative;
    top: .2em;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: #FFF;
}

    .headline-center h4 {
        border: 3px solid #FFF;
        width: 75%;
        margin: auto;
        padding: .2em;
        text-transform: uppercase;
        box-sizing: border-box;
    }


#section-05 .headline h4 {
    font-size: 3em;
    width: 320px;
}


.combo-skin, .oily-skin {
    color: #FFF;
    font-size: 3em;
    font-weight: 900;
    margin: 1em 0 0 0;
    text-transform: uppercase;
}

.text-blurb h3 {
    font-size: 3em;
    font-weight: bold;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    color: #d21f80;
}

.text-blurb span {
    display: block;
    font-size: 1.5em;
    color: #FFF;
}

.learn-more {
    width: 150px;
    margin: 1em auto;
    border: 1px solid #FFF;
    background-color: #FFF;
}

    .learn-more a {
        display: block;
        height: 100%;
        width: 100%;
        padding: .8em;
        box-sizing: border-box;
        /*color: #d21f80;*/
        color: #FFF;
        font-size: 1.5em;
    }



h3.purple {
    color: #855fa8;
}

div.purple {
    background-color: #855fa8;
}

h3.green {
    color: #309549; /*98ca4d*/
}

div.green {
    background-color: #309549;
}

h3.orange {
    color: #cc3f10; /*#ea4913;*/
}

div.orange {
    background-color: #cc3f10;
}

h3.red {
    color: #9d0059;
    /*color: #d4335d;*/
}
div.red {
    background-color: #9d0059;
}

.animation {
	width:100%;
	position:relative;
	overflow:hidden;
    text-align: center;
    margin: 0px;
}
.product {
    width:100%;
	position:relative;
	overflow:hidden;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto 0;    
}
.product p {
    font-size: 1.5em;
    color: #fff;
    padding: 0 50px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.animation .animation-container {
    position: relative;
    width: 230px;
    margin: 0 auto;
}


.animation-button {
    width: 50px; /*75px*/
    top: 0px;
    position: relative;

    left: 50%;
    margin-left: -160px;
}




.overwritte {
    left: 10px; /*35%;*/
    position: absolute;
    top: 40%;
    z-index: 200;
}

.animation-border {
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 0% 0% 50% 50%;
    overflow: hidden;
    border-bottom: 5px solid #ea0b8c;
    left: 0px;
    z-index: 200;
    bottom: 10px;
}
.animation-border a {
    display: block;
    width: 100%;
    height: 100%;
}
.animation img{
    width: 100%;
    margin-top: 30px;    
}
.animation .gif-preload, .animation .gif-holder {
    border: 5px solid #ea0b8c;
    border-radius: 50%;
    width: 220px;
}
.gif-holder {
    position: relative;
    bottom: 5px;
}
.animation .gifs li a {
  position:relative;
  display: block;
}
.animation .gif-preload{
  display:none;
}
/*.animation .gif-loading {
  position:absolute;
  width:40px;
  height:40px;
  font-size: 40px;
  color:#fff;
  top:0;
  left:0;
}*/
.animation-skin-container {
    position: absolute;
    width: 230px;
    height: 255px;        
    border-radius: 0 0 50% 50%;
    bottom: 11px;
    /*overflow: hidden;*/
    overflow: visible;
}
.animation-skin {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    margin:auto;
    width: 210px;
    overflow: visible;
    z-index: 300;
}
#section-04 .animation-skin {
    bottom: -30px;
    width: 140px;
}
.animation .animation-play-btn {
    position: absolute;
    width: 30px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 95px;
}

.scroll-dots {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 200    ;
}
.scroll-dots a {
    margin-bottom: 5px;
    margin-top: 1px;
    display: block;
}
.scroll-dots .scroll-dot {
    background: url(../images/homepage/dot-disable.png);
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 10px;
    background-size: 10px;
}
.scroll-dots .scroll-dot.enable {
    background: url(../images/homepage/dot-enable.png);
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 10px;
    background-size: 10px;    
}
.scrollDown {
    color: #ea0a8b !important;
    margin-top: 2em !important;
    position: absolute;
    z-index: 100;
    display:none;
}

#arrowBounce {
    bottom: 1em;
    right: 3.5%;
    position: absolute;
    z-index: 100;
}

#section-01 .bg-left, #section-01 .bg-right {
    background: transparent url('../images/homepage/section-01-bubble.png');
    z-index: 200;
}

#section-micellar {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc99ff', endColorstr='#a75dc0',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/biore-bg-plain-purple.jpg'), linear-gradient(to bottom, #cc99ff 0%,#a75dc0 100%); /*#71a1d9*/
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 7px solid #1f2652;
}

#section-02  {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c9ed8', endColorstr='#8cb3e1',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/biore-bg-plain-green.jpg'), linear-gradient(to bottom,  #6c9ed8 0%,#8cb3e1 100%); /*#71a1d9*/
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 7px solid #1f2652;
}
#section-03  {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#467fc3', endColorstr='#649bdd',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/biore-bg-pore-strips.jpg'), linear-gradient(to bottom,  #467fc3 0%, #649bdd 100%);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 7px solid #1f2652;
}
#section-04  {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123264', endColorstr='#03317b',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/biore-bg-plain-green.jpg'), linear-gradient(to bottom,  #123264 0%, #03317b 100%);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 7px solid #1f2652;
}
#section-05  {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d2343', endColorstr='#01255a',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/charcoal-baking-soda-bg.jpg'), linear-gradient(to bottom,  #0d2343 0%, #01255a 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 300px;
    background-color: #7fb1e2;
    border-top: 7px solid #1f2652;
}
#section-06  {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c9ed8', endColorstr='#8cb3e1',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/orange-bg.jpg'), linear-gradient(to bottom,  #6c9ed8 0%,#8cb3e1 100%); /*#71a1d9*/
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 7px solid #1f2652;
}

#section-07  {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c9ed8', endColorstr='#8cb3e1',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/orange-bg2.jpg'), linear-gradient(to bottom,  #6c9ed8 0%,#8cb3e1 100%); /*#71a1d9*/
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 7px solid #1f2652;
}

#section-08  {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c9ed8', endColorstr='#8cb3e1',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/bg-app.jpg'), linear-gradient(to bottom,  #6c9ed8 0%,#8cb3e1 100%); /*#71a1d9*/
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 7px solid #1f2652;
}

#section-01 .bg-left, #section-02 .bg-left, #section-03 .bg-left, #section-04 .bg-left, #section-05 .bg-left, #section-06 .bg-left, #section-07 .bg-left, #section-08 .bg-left {    
    background-size: cover;
    background-position: top left;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}
#section-01 .bg-right, #section-02 .bg-right, #section-03 .bg-right, #section-04 .bg-right, #section-05 .bg-right, #section-06 .bg-right, #section-07 .bg-right, #section-08 .bg-right {        
    background-size: cover;
    background-position: top right;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
}


/* social media panel */
.social-container {
    width: 100%;
    margin: auto;
    display: inline-block;
}
.social-container div {
    margin: 10px;
}
.facebook img, .youtube img, .instagram img {
    width: 80%;
}

.facebook, .youtube, .instagram {
    display:inline-block;
    vertical-align:top;
}


/* SKIN APP */
.skinapp {
    width: 95%;
    margin: auto;
}

.start-skin-plan {
    display: inline-block;
    width: 35%;
    text-align: center;
    vertical-align: top;
}

.skin-plan {
    display: inline-block;
    width: 55%;
    text-align: center;
    vertical-align: top;
}

.skinapp img {
    width: 100%;
}


/* FANCYBOX REWRITE */
.fancybox-skin {
    padding: 0!important;
}
.fancybox-close {
    background: url('../images/homepage/close.png') !important;
    width: 16px !important;
    height: 16px !important;
    top: -20px !important;
    right: -0px !important;
}

#section-2017-interim {
    background-color: #22295d; /*#496a9f;*/
}

.top-baking-soda-2017 {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

    .top-baking-soda-2017 img {
        width: 100%;
    }

#section-2018-products {
    background: #20285c none !important;
    padding: 2.5em 0 2.5em 0;
}

    #section-2018-products h4 {
        font-size: 3.5em;
        color: #FFF;
        font-weight: bold;
        text-align: center;
    }



.acne-header-2017 {
    line-height: 0;
    text-align: center;
    width: 100%;
}

    .acne-header-2017 h2 {
        margin: 10px 0;
        line-height: initial;
    }

.left-text, .right-text {
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    text-shadow: -1px -1px 0 #8862a9, 1px -1px 0 #8862a9, -1px 1px 0 #8862a9, 1px 1px 0 #8862a9;
}

    .left-text .new {
        color: #df5294;
        text-shadow: none;
    }

    .right-text .waterproof {
        display: block;
        line-height: 1.2em;
        text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
        color: #8862a9;
    }

/*shay video section*/
.home-section .waterproof {
    font-size: .7em;
    display: block;
}
/*end shay video section */


/* for shay video 06/29/18 */
.prodList {
    text-align: center;
}

    .prodList .videoHolder img {
        width: 90%;
        border: 2px solid #ff1b91;
    }
/* for shay video 06/29/18 */

    .prodList ul {
        width: 100%;
    }

    .prodList li {
        float: none;
        text-align: center;
        width: 100%;
        margin-bottom: 3em;
    }


    .prodList li p {
        max-width: 50%;
        text-align: center;
        margin: auto;
        font-size: 1.2em;
        color: #FFF;
        position: relative;
    }


.acnes {
    color: #f37d26;
    display: block;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 0.8em;
    text-transform: uppercase;
}

    .acnes.foamparty {
        color: #FFF;
    }

.acnessmall {
    color: #8862a9;
    display: block;
    font-size: 2.3em;
    font-weight: bold;
    line-height: 0.6em;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

.outtahere {
    color: #f37d26;
    display: block;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1em;
}


.oneporetime {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0.8em;
}


.acne-products-2017 {
    float: none;
    width: 100%;
}

    .acne-products-2017 h3 {
        color: #f37d26;
        font-size: 1.8em;
        font-weight: bold;
        line-height: 1em;
    }


    .acne-products-2017 p {
        color: #fff;
        font-family: "proximanova-regular",sans-serif;
        font-size: 1.3em;
        font-weight: normal;
        margin-right: 10%;
    }

.acne-solutions-2017 {
    margin: auto;
    width: 220px /*250px*/;
}


.acne-solutions-text-2017 {
    color: #f37d26;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1%;
    text-align: center;
    width: 60%;
}


.acne-solutions-img-2017 {
    float: right;
    width: 40%;
}



    .acne-solutions-img-2017 img {
        width: 100%;
    }


.baking-soda-2017, .charcoal-2017 {
    position: relative;
    clear: both;
}

.baking-soda-2017 {
    margin-top: 100px;
}


.baking-soda-text-2017 {
    float: left;
    margin: 7% 0 0 3%;
    width: 60%;
}

    .baking-soda-text-2017 span, .charcoal-text-2017 span {
        font-size: 1.4em;
    }

.baking-soda-img-2017 {
    float: left;
    position: relative;
    width: 25%;
}

    .baking-soda-img-2017 img {
        position: relative;
    }


.charcoal-text-2017 {
    float: left;
    margin: 3% 0 3% 3%;
    width: 55%;
}

.charcoal-img-2017 {
    float: right;
    margin-right: 10px;
    position: relative;
    width: 38%;
}

    .charcoal-img-2017 > img {
        position: relative;
        right: 0;
    }


    .charcoal-img-2017 > img, .baking-soda-img-2017 > img {
        width: 100%;
    }


.charcoal-text-2017 a, .baking-soda-text-2017 a {
    position: relative;
}

    .charcoal-text-2017 a img, .baking-soda-text-2017 a img {
        display: inline;
        left: 10px;
        position: absolute;
        top: 0;
    }


.bottom-charcoal-2017 {
    bottom: -3px;
    left: 0;
    position: absolute;
}

    .bottom-charcoal-2017 img {
        width: 100%;
    }

.bottom-charcoal-2017 {
    display: none;
}

.footer-2017 {
    bottom: 0;
    position: absolute;
    color: #4d77a6;
    font-family: arial;
    font-size: 0.75em;
}

/* MEDIA QUERIES */

@media screen and (min-width: 320px) {

    #section-2017-interim {
        padding-top: 0;
    }

    .top-baking-soda-2017 {
        width: 19%;
    }

    #section-2017-interim .welcome-module {
        background: transparent url(../images/homepage/biore-us-micellar-product.jpg) no-repeat bottom center;
        background-size: 800px;
        background-position-y: 20px;
    }

    .baking-soda-2017 {
        min-height: 230px;
    }

    .baking-soda-img-2017 .violator {
        bottom: 0;
        position: absolute;
        right: 0;
        width: 35px;
    }

    .charcoal-img-2017 .violator {
        bottom: 0;
        left: -10%;
        position: absolute;
        width: 35px;
    }

        .baking-soda-img-2017 .violator img, .charcoal-img-2017 .violator img {
            width: 100%;
        }

    .left-text, .right-text {
        width: 50%;
        height: 60%;
    }

        .left-text div {
            float: left;
            width: 80%;
            margin-top: 5%;
        }

        .left-text .allInOneCleansing {
            margin-top: 2%;
        }

        .right-text div {
            float: right;
            width: 80%;
            margin-top: 5%;
        }

    .welcome-module {
        height: 100%;
        height: 600px;
    }
}

    @media screen and (min-width: 480px) {

        /* .welcome-module-content h1 {
        font-size: 3em;
    }
    .welcome-module-content p {
        font-size: 1.2em;
    }
    .welcome-module-line1 {
        margin-bottom:0;
    }
       */

        .left-text, .right-text {
            font-size: 1.3em;
            height: 70%;
        }

            .left-text div, .right-text div {
                margin-top: 45%;
            }

            .left-text .allInOneCleansing {
                margin-top: 2%;
            }

        .welcome-video {
            margin-top: 10px;
        }

            .welcome-video a {
                width: 100px;
                height: 120px;
            }



        .section-down-arrow {
            margin-top: 15px;
        }

        .bubbles-bg {
            right: -50px;
            background-size: 40% auto;
        }

        .product p {
            padding: 0 60px;
        }


        .animation .animation-container {
            width: 300px;
        }

        .animation-border {
            width: 300px;
            height: 300px;
        }

        .animation .gif-preload, .animation .gif-holder {
            width: 290px;
        }



        .overwritte-gif {
            width: 100px !important;
        }

        .overwritte-btn {
            bottom: 43px !important;
        }

        .animation-skin-container {
            width: 300px;
            height: 340px;
            bottom: 10px;
        }

        .animation-skin {
            width: 290px;
        }

        .animation .animation-play-btn {
            width: 45px;
            bottom: 130px;
        }
    }

    @media screen and (min-width: 768px) {

        #section-2017-interim {
            height: 680px;
            padding: 10px 0;
        }

        .header-2017 {
            float: none;
            text-align: center;
            width: 100%;
            text-transform: uppercase;
        }

        .acne-header-2017 {
            text-align: center;
            width: 100%;
            line-height: 0;
        }



        .left-text, .right-text {
            width: 50%;
            height: 57%;
            font-size: 2em;
            line-height: 1em;
        }

            .left-text div {
                width: 80%;
                margin-top: 5%;
            }

            .left-text .allInOneCleansing {
                margin-top: 12%;
                font-size: 0.85em !important;
            }

            .right-text div {
                width: 80%;
                margin-top: 5%;
            }

            .left-text div {
                float: left;
                max-width: 620px;
            }

            .right-text div {
                float: right;
            }


            .right-text .waterproof {
                font-size: .8em;
            }


        .prodList li {
            float: left;
            text-align: center;
            width: 50%;
            height: auto;
            position: relative;
            margin-bottom: 0;
        }


        .prodList li p {
            max-width: 50%;
            text-align: center;
            margin: auto;
            font-size: 1.2em;
            color: #FFF;
        }




        .acne-header-2017 h2 {
            margin: 0;
        }

        .header-2017 .acnes {
            font-size: 4em;
        }



        .acnessmall {
            font-size: 4.5em;
            line-height: .6em;
        }

        .outtahere {
            font-size: 5.3vw; /*CSS3 variable width degrades better for smaller screens*/
        }

        .oneporetime {
            font-size: 3.3vw; /*CSS3 variable width degrades better for smaller screens*/
        }

        .acne-products-2017 {
            float: left;
            width: 50%;
        }

            .acne-products-2017 h3 {
                /*font-size: 2.1em;*/
                font-size: 1.5vw; /*CSS3 variable width degrades better for smaller screens*/
            }

            .acne-products-2017 p {
                /*font-size: 1.6em;*/
                font-size: 1.15vw;
            }

        .baking-soda-2017 {
            min-height: 330px;
        }

        .baking-soda-text-2017 {
            width: 50%;
        }

        .charcoal-text-2017 {
            width: 45%;
        }

        .charcoal-img-2017 {
            margin-right: 0;
            width: 50%;
        }


            .charcoal-img-2017 > img {
                top: -140px;
            }



        .acne-solutions-2017 {
            position: relative;
            width: 90%;
            z-index: 100;
        }


        .acne-solutions-text-2017 {
            width: 55%;
        }

        .acne-solutions-text-2017 {
            /*font-size: 3em;*/
            font-size: 2.2vw /*1.9vw*/; /*CSS3 variable width degrades better for smaller screens*/
        }

        .acne-solutions-img-2017 {
            float: left;
            width: 21.4%;
        }

        #welcomeImage {
            top: 0;
            left: 0;
            margin-left: auto;
        }

            #welcomeImage img {
                margin-top: 0;
            }


        .white-headline {
            font-size: 3vw;
            color: #FFF;
            line-height: 3vw;
            margin-top: .25em;
        }

        .orange-headline {
            font-size: 3vw;
            margin: .4em 0 0;
            padding: 0;
            line-height: 3vw;
            color: #fe5000;
            text-shadow: 1px 0px #333;
        }

        .sub-headline {
            color: #33307f;
            font-size: 1.5vw;
            line-height: 1em;
        }

        #popup-dialog {
            width: 592px;
            height: 739px;
            margin: 40px auto;
        }

        .pop-text {
            top: 265px;
            width: 380px;
            height: 300px;
            left: 80px;
        }

            .pop-text h3 {
                color: #333;
                font-weight: bold;
                text-align: left;
                width: 225px;
                margin: auto;
                font-size: 1.5em;
                margin-bottom: .5em;
            }

            .pop-text p, ul {
                font-size: 1em;
            }



        .home-content section {
            padding: 80px 0;
        }

        video {
            display: block;
        }

        #section-01 {
            height: 400px;
        }

        .welcome-module {
            height: 100%;
        }

        .welcome-module-content {
            left: 50%;
            text-align: center;
            width: 50%;
        }

            .welcome-module-content h1 {
                font-size: 2em;
            }

            .welcome-module-content p {
                font-size: 1em;
            }

        .welcome-module-line1 {
            margin-bottom: 0.3em !important;
            text-indent: 3em;
        }

        .welcome-module-line2 {
            text-indent: 1em;
        }

        .welcome-video {
            margin-top: 40px;
        }

            .welcome-video a {
                width: 110px;
                height: 130px;
            }

        .bubbles-bg {
            right: 0px;
            background-size: 80% auto;
        }

        .container3 {
            clear: left;
            float: left;
            max-width: none;
            margin: 0;
        }

        .container2 {
            clear: left;
            float: left;
            right: 33.333%;
        }

        .container1 {
            float: left;
            right: 33.33%;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            padding: 0;
        }

        .headline {
            float: left;
            width: 29.33%;
            left: 68.67%;
        }

            .headline h4 {
                font-size: 3.4em;
                width: 150px;
            }

        #section-02 .headline {
            overflow: visible;
        }

            #section-02 .headline h4 {
                width: 350px;
            }

        #section-05 .headline h4 {
            font-size: 3.4em;
            width: 850px;
        }

        .animation {
            float: left;
            width: 100%;
            left: 0;
            margin: 0;
            padding: 0;
        }

        .overwritte {
            float: none !important;
            left: 330px;
            position: absolute;
            top: 100px;
            width: 27.9% !important;
            z-index: 500;
        }

        .animation-button {
            width: 75px;
            left: 0;
            margin-left: 0;
        }

        .hide {
            display: none !important;
        }

        .product {
            float: left;
            width: 29.33%;
            left: 76.67%;
        }

            .product p {
                font-size: 1.3em;
                padding: 0 10px;
                letter-spacing: 2px;
            }

        .float-right .headline {
            left: 135.30%;
        }

        .float-right .product {
            left: 10%;
        }

        .animation .animation-container {
            width: 220px;
        }

        .animation .gif-preload, .animation .gif-holder {
            width: 210px;
        }

        .animation .gif-holder {
            bottom: 8px;
        }

        .animation-border {
            width: 220px;
            height: 220px;
            bottom: 12px;
        }

        .animation-skin-container {
            width: 220px;
            height: 280px;
            bottom: 12px;
        }

        .animation-skin {
            width: 225px;
        }

        #section-04 .animation-skin {
            bottom: -23px;
            width: 125px;
        }

        .products-responsive {
            width: 225px;
        }

        .animation .animation-play-btn {
            width: 30px;
            bottom: 90px;
        }


        .scrollDown {
            bottom: 3.5em;
            right: 0.5%;
            display: block;
        }

        /* exception for section 5 biore de social media panel */

        #section-05 .container3 {
            width: 100%;
            overflow: hidden;
            max-width: 980px;
            margin: 0 auto;
            clear: both;
            left: auto;
            right: auto;
        }

        #section-05 .container2 {
            width: 100%;
            position: relative;
            clear: both;
            float: none;
            left: auto;
            right: auto;
        }

        #section-05 .container1 {
            width: 100%;
            position: relative;
            padding: 20px 0;
            clear: both;
            float: none;
            left: auto;
            right: auto;
            display: block;
        }

        #section-05 .headline {
            width: 100%;
            position: relative;
            overflow: hidden;
            text-align: center;
            top: 0;
            bottom: 0;
            margin: auto 0;
            clear: both;
            float: none;
            left: auto;
            right: auto;
        }

        #section-05 .animation {
            width: 100%;
            position: relative;
            overflow: hidden;
            text-align: center;
            margin: 20px 0px;
            clear: both;
            float: none;
            left: auto;
            right: auto;
        }

        #section-05 .product {
            width: 100%;
            position: relative;
            overflow: hidden;
            text-align: center;
            top: 0;
            bottom: 0;
            margin: auto 0;
            clear: both;
            float: none;
            left: auto;
            right: auto;
        }

        #section-05 {
            background-position: 0 0
        }

        /* SKIN APP */
        .skinapp {
            width: 70%;
            margin: auto;
            max-width: 925px;
        }

        #section-2017-interim .welcome-module {
            background-size: 1000px;
        }

        /*shay video 06/29/18*/
        .prodList .videoHolder img {
            width: auto;
        }
        /* end shay video 06/29/18 */
    }

    @media (max-width: 850px) {
        .ïmg-less {
            width: 400px !important;
        }
    }

    @media screen and (min-width: 804px) {

        .headline-center {
            top: 1em;
            position: absolute;
        }

            .headline-center h4 {
                width: 330px; 
            }

        .welcome-module-content {
            left: 46%;
            text-align: center;
            width: 50%;
        }

            .welcome-module-content h1 {
                font-size: 2.3em;
            }

            .welcome-module-content p {
                font-size: 1.28em;
            }

        .products-responsive {
            width: 230px;
        }
    }

    @media screen and (min-width: 880px) {
        .home-section {
        }

        .animation .animation-container {
            width: 242px;
        }

        .animation img {
            margin-top: 45px;
        }

        .animation .gif-preload, .animation .gif-holder {
            width: 230px;
        }

        .overwritte-gif {
            width: 105px !important;
        }

        .overwritte-btn {
            bottom: 43px !important;
        }

        .animation-border {
            width: 242px;
            height: 242px;
        }

        .animation-skin-container {
            width: 242px;
            height: 302px;
            bottom: 12px;
        }

        .animation-skin {
            width: 240px;
        }

        #section-04 .animation-skin {
            bottom: -25px;
            width: 140px;
        }

        .animation .animation-play-btn {
            width: 35px;
            bottom: 100px;
        }
    }

    @media screen and (min-width: 1024px) {

        .combo-skin, .oily-skin {
            font-size: 4em;
        }
            #section-2017-interim {
            height: 655px;
            padding: 10px 0;
        }

        .left-text, .right-text {
            font-size: 2.5em;
        }

        .home-content section {
            padding: 100px 0;
        }

        .container3 {
            max-width: 1024px;
            margin: 0 auto;
            float: none;
        }

        .bubbles-charcoal-nosestrips {
            bottom: -10px;
            left: 61%;
        }

        .bubbles-charcoal-active {
            bottom: 0;
            left: 45%;
        }


        .bubbles-charcoal-bakingsoda {
            bottom: 0;
        }

        #section-01 {
            max-height: 600px;
            height: 600px;
            padding: 10px 0;
        }

        .home-section {
        }

        .welcome-module {
            margin-top: 10px;
        }

        .welcome-module-content {
            text-align: center;
            width: 60%;
            left: 41%;
            top: 0;
        }

            .welcome-module-content h1 {
                font-size: 3.1em;
                margin-top: 15px;
            }

        .products-responsive {
            width: 100%;
        }

        .welcome-module-content p {
            font-size: 1.3em;
        }

        .welcome-video a {
            width: 120px;
            height: 140px;
        }

        .section-down-arrow {
            width: 40px;
            margin-top: 25px;
        }

        .animation .animation-container {
            width: 300px;
        }

        .animation .gif-preload, .animation .gif-holder {
            width: 288px;
        }

        .animation-button {
            width: 100px;
        }

        .overwritte {
            float: none !important;
            left: 400px;
            position: absolute;
            top: 150px;
            width: 27.9% !important;
            z-index: 500;
        }

        .overwritte-gif {
            width: 150px !important;
        }

        .overwritte-btn {
            bottom: 61px !important;
        }

        .animation-border {
            width: 300px;
            height: 300px;
        }

        .animation-skin-container {
            width: 300px;
            height: 360px;
            bottom: 12px;
        }

        .animation-skin {
            width: 300px;
        }

        #section-04 .animation-skin {
            bottom: -33px;
            width: 170px;
        }

        .animation img {
            margin-top: 40px;
        }

        .animation .animation-play-btn {
            bottom: 130px;
            width: 45px;
        }

        .headline h4 {
            font-size: 4em;
            width: 300px;
        }

        #section-02 .headline h4 {
            font-size: 3.5em;
        }

        #section-05 .headline h4 {
            font-size: 3.5em;
            width: 980px;
        }

        .product p {
            font-size: 2em;
            line-height: 1.2em;
        }

        .scrollDown {
            bottom: 3.5em;
            right: 1.5%;
        }

        .prodList li {
            height: auto;
        }
    }

    @media screen and (min-width: 1024px) and (max-width: 1090px) {
        /*to address homepage shay promotion opacity 041116 */
        #welcomeImage img {
            /*opacity: 0.5;*/
        }

        .scrollDown {
            bottom: 3.5em;
            right: 1.5%;
        }
    }

    @media screen and (min-width: 1250px) {

        #section-2017-interim {
            height: 655px;
            max-height: none;
            padding: 0;
        }

        .newicon {
            position: relative;
            left: 100%;
            top: 25em;
            z-index: 200;
            width: 150px;
            display: block;
        }

        .home-content section {
            padding: 155px 0;
        }


        .left-text .right-text {
            font-size: 2.5em;
        }

        .charcoal-img-2017 > img, .baking-soda-img-2017 > img {
            width: auto;
        }

        .container3 {
            max-width: 1200px;
        }

        #section-01 {
            height: 730px;
            max-height: none;
            padding: 10px 0;
        }

        .welcome-module {
            margin-top: 25px;
        }

        .welcome-module-content {
            text-align: center;
            width: 60%;
            left: 40%;
            top: 0;
        }

            .welcome-module-content h1 {
                font-size: 3.3em;
                margin-top: 15px;
                margin-bottom: .2em;
            }

            .welcome-module-content p {
                font-size: 2em;
                line-height: 24px;
            }

        .section-down-arrow {
            width: 44px;
            /*margin-top: 120px;*/
        }

        .animation .animation-container {
            width: 352px;
        }

        .animation .gif-preload, .animation .gif-holder {
            width: 338px;
        }

        .overwritte {
            float: none !important;
            left: 500px;
            position: absolute;
            top: 200px;
            width: 27.9% !important;
            z-index: 500;
        }

        .overwritte-gif {
            width: 260px !important;
        }

        .overwritte-btn {
            bottom: 108px !important;
        }

        .animation-border {
            width: 352px;
            height: 352px;
        }

        .animation-skin-container {
            width: 352px;
            height: 412px;
            bottom: 12px;
        }

        .animation-skin {
            width: 335px;
        }

        #section-02 .headline h4 {
            font-size: 4em;
        }

        #section-04 .animation-skin {
            bottom: -45px;
            width: 200px
        }

        .animation img {
            margin-top: 45px;
        }

        .animation .animation-play-btn {
            bottom: 155px;
            width: 55px;
        }

        .headline h4 {
            font-size: 4em;
            width: 275px;
        }

        .product p {
            font-size: 2.2em;
            line-height: 1.2em;
        }

        .scroll-dots .scroll-dot {
            width: 18px;
            height: 18px;
            background-size: 18px;
        }

            .scroll-dots .scroll-dot.enable {
                width: 18px;
                height: 18px;
                background-size: 18px;
            }

        .products-responsive {
            width: 280px;
            /*initial*/
        }

        .bubbles-bg {
            background-size: 80% auto;
        }

        .scrollDown {
            bottom: 4.5em;
            right: 2%;
        }
    }

    @media screen and (min-width: 1500px) {

        .welcome-module-content {
            text-align: center;
            /*width: 60%;
        left: 38%;
        top:2em;*/
        }

            .welcome-module-content h1 {
                margin-bottom: 0;
            }

        .white-headline {
            font-size: 3.3em;
            line-height: 1em;
            margin-top: .1em;
        }

        .orange-headline {
            font-size: 3em;
            line-height: 1em;
        }

        .sub-headline {
            font-size: 1.8em;
        }

        .container3 {
            max-width: 1500px;
        }

        .animation .animation-container {
            width: 420px;
        }

        .animation-border {
            width: 420px;
            height: 420px;
        }

        .animation-skin-container {
            width: 420px;
            height: 480px;
            bottom: 12px;
        }

        .animation-skin {
            width: 390px;
        }

        #section-04 .animation-skin {
            bottom: -60px;
            width: 240px;
        }

        .animation .animation-play-btn {
            bottom: 185px;
            width: 55px;
        }

        .animation .gif-preload, .animation .gif-holder {
            width: 408px;
        }

        .headline h4 {
            width: 300px;
            font-size: 4em;
        }

        #section-05 .headline h4 {
            width: 980px;
            font-size: 4em;
        }

        .product p {
            padding: 0 45px;
            font-size: 2.5em;
        }

        .bubbles-bg {
            background-size: auto auto;
        }
    }

    /*IE HACK*/
    /*@media screen and (min-width:0\0) {
    #section-01 video {height:auto\9; width:100%\9;}
}
_:-ms-fullscreen, :root #section-01 video { height: auto; width:100% }*/

