﻿#contactFormWrap {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 80%;
}

#contactFormWrap p {
    padding-bottom: 10px;
    padding-top: 10px;
}

#contactFormWrap div {
    padding-bottom: 10px;
}

#contactFormWrap input.submit {
    background-color: #104588;
    color: #FFF;
    cursor: pointer;
}

.ErrorContainer, .ErrorContainer p {
    padding:0 !important;
}


.ErrorContainer .errormsg
{
    color: #AA0000 !important;
    clear: none;
    display: inline;
    padding-left: 154px;
    font-size: 10px;
}



.Question label {
    float:left;width:75px;
}
