﻿#main{
    
    max-width:1024px;
    min-width:320px;
    width:100%;
    margin:0 auto;
}

#mainContent h1{
    width:100%;
    max-width:875px;
    height:106px;
    text-align:center;
    font-size:80px;
    background: url(../images/whereToBuy/wtbHeaderRule.png) no-repeat -8px 68px;

    color:#304065;
    margin: 0 auto;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
}
#mainContent titleh1
{
    width:875px;
}
#mainContent h2,#mainContent h3,#mainContent h4
{
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
}
#mainContent h2{font-size: 40px;color:#ec5d20;line-height:45px;margin-bottom: 8px;}
#mainContent h3{font-size: 24px;color:#304065;font-weight: 700;line-height:40px;}

#mainContent h4{font-size: 20px;color:#304065;font-weight: 700;}
#responseRule {
   /* background: url(../images/ourProducts/productsResponseRule.jpg);*/
    width: 852px;
    height: 2px;
    margin: 5px auto 45px auto;
}
#content p
{
    line-height:22px;
    width: 74%;
}

#mainContent h3.green, .green{color:#64b632;}
.rowCont
{
   /* padding-left: 40px;*/
}
.row1
{
    width: 95%;
    height: 380px;
    margin-left: 5%;
}
.row2
{
    width: 90%;
    height: 370px;
    margin-left: 10%;
}
.row3
{
    width: 95%;
    height: 400px;
    margin-left: 5%;
}
.col1,.col2
{
    width:49%;
    float:left;
}
.row1 .col1 img
{
    width:84%;
    max-width:375px;
    margin-left:6%;
}
.row2 .col2 img
{
    width:84%;
    max-width:367px;
    margin-left:6%;
}
.row3 .col1 img
{
    width:89%;
    max-width:421px;
    margin-left:-2%;
}
.row1 .col1
{
}
.row1 .col2
{
    padding-top: 10%;
}
.colMobile
{
    display: none;
}
.colDesktop
{
    display: block;
}
.row2 .col1
{
    padding-top: 6%;
}
.row2 .col2
{
    top: -10%;
    position: relative;
}
.row3 .col1
{
    position: relative;
    top: -8%;
    height:420px;
}
.row3 .col2
{
}
.bullets
{
    width:100%;
    max-width:890px;
    text-align:center;
    margin: 0 auto 40px auto;
    position: relative;
}
.titleh1
{
    height: 120px;
}
.titleh1 h1 span
{
    font-size: 100px;
}

.largeNumber, .tipsFor, .clearSkin
{
    text-align:center;
    font-family: 'Archer A', 'Archer B'; font-weight: 700; font-style: normal;
}
#Tips10
{
    position:relative;
}
#Tips10 p
{
    margin: 0 auto;
}
.ruleBG
{
    position:relative;
    top:-22px;
    width:100%;
    max-width:890px;
    height:2px;
    margin:0 auto;
    background: url(../images/poreCare/10TipsBG.jpg) no-repeat center 0;
}
.ruleBGa
{
    position:relative;
    top:-42px;
    width:100%;
    max-width:890px;
    height:2px;
    margin:0 auto;
    background: url(file:///Web/Users/www.biore.com/en-US/images/whereToBuy/wtbHeaderRule.png) repeat-y center 0;
    background-size:cover;
}
.largeNumber
{
    font-size:125px;
    line-height: 110px !important;
    color:#304065;
}
.tipsFor
{
    font-size:35px;
    line-height: 25px !important;
}
.clearSkin
{
    font-size:26px;
    line-height:26px;
    color:#304065;
}
p.clearSkin2
{
    text-align:center;
    font-family: 'Archer A', 'Archer B'; font-weight: 700; font-style: normal;
    font-size:15px;
    line-height:11px;
}
.responseRule {
    background: url(file:///Web/Users/www.biore.com/en-US/images/ourProducts/productsResponseRule.jpg);
    width:167px;
    height:2px;
    margin: 25px auto 15px auto;
    display:none;
}
/*  Mobile Portrait 320x480 */
@media all and (max-width:479px){
    #mainContent h1 {
        width: 280px;
        height: 8px;
        font-size: 22px;
        margin: 20px auto;
        font-weight:700;
    }
    #mainContent h2
    {
        font-size: 30px;
        line-height: 35px;
        width: 90%;
        text-align:center;
        margin: 0 auto;
    }
    .ruleBGa
    {
        display: none;
    }
    .responseRule {
        display:block;
    }
    #mainContent h3 {
        font-size: 16px;
        line-height: 23px;
    }
    #mainContent h4{font-size: 18px;text-align:center;}
    .titleh1 {
        height: 70px;
    }
    .titleh1 h1 span {
        font-size: 30px;
    }
    #responseRule
    {
        background-position:-33px 0px;
        width: 270px;
    }
    #content p
    {
        text-align: center;
        width:90%;
        margin: 0 auto;
    }
    .row1 .col1 img {
        margin: 0 auto;
        width:100%;
    }
    .row2 .col2 img {
        margin: 0 auto;
    }
    .row3 .col1 img {
        margin: 0 auto;
    }
    .row3 .colMobile {
        margin: 30px auto -50px auto;
    }
    .row1
    {
        width: 100%;
        height: 540px;
        margin-left: 0px;
    }
    .row2
    {
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .row3
    {
        width: 100%;
        height: auto;
        margin:0 auto;
    }
    .row1 .col1 {

        top: 20px;
        position: relative;
        text-align:center;
        
    }
    .row1 .col2 {
        top: 0;
        position: relative;
        padding-top:0;
    }
    .colMobile
    {
        display: block;
    }
    .colDesktop
    {
        display: none;
    }
    .row2 .col2 {
        margin-top: 20px;
        text-align: center;
    }
    .row3 .col1 {
        position: relative;
        text-align: center;
        
    }
    .row3 .col2 {
        position: relative;
    }
    .col1,.col2
    {
        width:95%;
        float:none;
        margin: 0 auto;
    }
    .row2 .col1 {
        padding-top: 0;
    }
}
/*  Mobile Portrait 320x480 END */
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px){
     #mainContent h1 {
        width: 280px;
        height: 8px;
        font-size: 22px;
        margin: 20px auto;
        font-weight:700;
    }
    #mainContent h2
    {
        font-size: 30px;
        line-height: 35px;
        width: 90%;
        text-align:center;
        margin: 0 auto;
    }
    .ruleBGa
    {
        display: none;
    }
    .responseRule {
        display:block;
    }
    #mainContent h3 {
        font-size: 16px;
        line-height: 23px;
    }
    #mainContent h4{font-size: 18px;text-align:center;}
    .titleh1 {
        height: 70px;
    }
    .titleh1 h1 span {
        font-size: 30px;
    }
    #responseRule
    {
        background-position:-33px 0px;
        width: 270px;
    }
    #content p
    {
        text-align: center;
        width:90%;
        margin: 0 auto;
    }
    .row1
    {
        width: 100%;
        height: 550px;
        margin-left: 0px;
    }
    .row2
    {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .row3
    {
        width: 100%;
        height: auto;
        margin:0 auto;
    }
    .colMobile
    {
        display: block;
    }
    .colDesktop
    {
        display: none;
    }
    .row1 .col1 {
        top: 20px;
        position: relative;
        text-align:center;

    }
    .row1 .col2 {
        top: 0;
        position: relative;
        text-align: center;
        padding-top:0;
    }
    
    .row2 .col2 {
        margin-top: 20px;
        text-align:center;
    }
    .row3 .col1 {
        position: relative;
        text-align: center;
    }
    .row3 .col2 {
        position: relative;
    }
    .col1,.col2
    {
        width:95%;
        float:none;
        margin: 0 auto;
    }
    .row2 .col1 {
        padding-top: 0;
    }
}
/*  Mobile Landscape 480x320 - END */
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - START */
@media all and (min-width:600px) and (max-width:767px){
     #mainContent h1 {
        width: 500px;
        font-size: 60px;
    }
     #mainContent h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .titleh1 h1 span {
        font-size: 80px;
    }
    .ruleBGa
    {
        display: none;
    }
    .responseRule {
        background: url(file:///Web/Users/www.biore.com/en-US/images/ourProducts/productsResponseRule.jpg);
        width:441px;
        height:2px;
        margin: -20px auto 15px auto;
        display:block;
    }
    #content p {
        width: 94%;
    }
    .row1
    {
        height: 300px;
    }
    .row2
    {
        height: 300px;
    }
    .row3
    {
        height: 300px;
    }
}
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - END */
/*  Tablet Portrait 768x1024 - START */
@media all and (min-width:768px) and (max-width:1023px) {

    #responseRule
    {
        background-position:22px 0px;
        width: 670px;
    }
    #content p {
        width: 94%;
    }
}
/*  Tablet Portrait 768x1024 - END */
/* Tablet Landscape 1024x768 &&  Desktop 1200x1024 */
@media all and (min-width:1024px) {

}