body, h1, h2, p{
	margin:0;
	padding:0;	
}
#biore_sweeps_wrapper{
	background: url(http://www.biore.com/usa/facebook/images/biore_sweeps_bg.jpg) no-repeat top left;	
	height: 500px; width: 520px;
	margin-left: 100px;
}
#biore_sweeps_wrapper #biore_sweeps_top{
  position: absolute;
}
#biore_sweeps_wrapper #biore_sweeps_top h1, #biore_sweeps_wrapper #biore_sweeps_top p a, #biore_sweeps_wrapper #biore_sweeps_top p#click_txt{text-indent:-9000px;}
#biore_sweeps_wrapper #biore_sweeps_top h1.intro{
	background: url(http://www.biore.com/usa/facebook/images/biore_h1_intro.jpg) no-repeat top left;	
	height:59px; width: 294px;
}
#biore_sweeps_wrapper #biore_sweeps_top h1.prod{
	background: url(http://www.biore.com/usa/facebook/images/biore_h1_prod.jpg) no-repeat top left;	
	height:28px; width: 520px;
	top: 59px;
}
#biore_sweeps_wrapper #biore_sweeps_top div#towelettes_img{
  background: url(http://www.biore.com/usa/facebook/images/biore_towelettes.jpg) no-repeat top left;	
	height: 197px; width: 305px;
	top: 87px;  
}
#biore_sweeps_wrapper #biore_sweeps_top p a#click {
  display: block;
  height: 35px;
}
#biore_sweeps_wrapper #biore_sweeps_top p a:hover#click {background-position: bottom left;}
#biore_sweeps_wrapper #biore_sweeps_top p a#click{
  background: url(http://www.biore.com/usa/facebook/images/biore_click_btn.jpg) no-repeat top left;
  position: absolute;	
	height: 35px; width: 160px;
	top: 182px; left: 305px;  
}
#biore_sweeps_wrapper #biore_sweeps_top p#click_txt{
  background: url(http://www.biore.com/usa/facebook/images/biore_click_txt.jpg) no-repeat;
  position: absolute;
  height: 55px; width: 185px;
	top: 127px; right: 30px;
}
#biore_sweeps_wrapper #biore_sweeps_btm{
  position: absolute;
  top: 284px;
}
#biore_sweeps_wrapper #biore_sweeps_btm h1{
  text-indent: -9999px;
	background: url(http://www.biore.com/usa/facebook/images/biore_h1_vidtxt.jpg) no-repeat 0px 1px;	
	height: 114px; width: 305px;
}
#biore_sweeps_wrapper #biore_sweeps_btm #murt_video{
  background: url(http://www.biore.com/usa/facebook/images/biore_vid_bg.jpg) no-repeat top left;
	position: absolute;
	height: 90px; width: 155px;
	top: 30px; left: 334px;
}
#biore_sweeps_wrapper #biore_sweeps_rules{
  position: absolute;
  width: 520px;
  top: 440px;
}
#biore_sweeps_wrapper #biore_sweeps_rules p{
  color: #676767;
  font: 11px Helvetica, arial, sans-serif;
}
#biore_sweeps_wrapper #biore_sweeps_rules p a{
  color: #676767;
  text-decoration: underline;
}