#instantlyClear #middle{
	background: #fff url(../images/instantlyClear/ic_bg_repeat.jpg) repeat-x;
}


#instantlyClear #middle_content{
	background: url(../images/instantlyClear/ic_bg.jpg) no-repeat 0px 0;
	width:967px;
	padding:0px 0 15px;
}

#instantlyClear #product_info{
	background: url(../images/instantlyClear/intro_text.gif) no-repeat 0px 0px;
	padding:128px 0 0 0px;
	width:320px;
	float:left;
	margin:60px 0 0 0px;
}

#instantlyClear #product_info h1, 
#instantlyClear #product_info h2{
	text-indent:-9000px;
}

#instantlyClear #product_info p{
	font-size:10px;
	color:#adb1b5;
	width:305px;
	padding:13px 0 0 5px;
	line-height:11px;
}

#where_to_buy_wrapper{
	position:absolute;
	top:375px;
	height:108px;
	width:60px;
	left:120px;
}

#where_to_buy{
	position:absolute;
	top:0;
	height:88px;
	width:60px;
	cursor:pointer;
	z-index:10;
}

#where_to_buy a{background: url(../images/instantlyClear/where_to_buy_over.png) no-repeat;}
* html #where_to_buy a{behavior: url(/usa/includes/pngbehavior.htc);}

#where_to_buy img{
	height:88px;
	width:60px;
	cursor:pointer;
}

#where_to_buy a, #where_to_buy span{
	display:block;
	height:100%;
	cursor:pointer;
	width:100%;
}

#shadow{
	background: url(../images/instantlyClear/where_to_buy_shadow_bigger.jpg) no-repeat;
	position:absolute;
	top:95px;
	height:17px;
	z-index:8;
	width:60px;
	left:0px;
}

#tab_nav{
	position:absolute;
	top:0;
	z-index:20;
	right:1px;
}

#tab_nav li{
	float:left;
	width:165px;	
	height:40px;
	list-style:none;
}

#tab_nav li a{
	text-indent:-9000px;
	display:block;
	width:100%;
	height:100%;
}

li#how_it_works_nav{background: url(../images/instantlyClear/how_it_works_over.gif) no-repeat;}
li#latest_buzz_nav{background: url(../images/instantlyClear/the_latest_buzz_over.gif) no-repeat;}

#tab_nav li#how_it_works_nav.ui-tabs-selected a{background: url(../images/instantlyClear/how_it_works_on.gif) no-repeat;}
#tab_nav li#latest_buzz_nav.ui-tabs-selected a{background: url(../images/instantlyClear/the_latest_buzz_on.gif) no-repeat;}

li#how_it_works_nav a{background: url(../images/instantlyClear/how_it_works.gif) no-repeat;}
li#latest_buzz_nav a{background: url(../images/instantlyClear/the_latest_buzz.gif) no-repeat;}

#tab_nav li a:hover{background-image:none;}

#instantlyClear #tabbed_content{
	float:left;
	position:relative;
	width:630px;
	padding-top:27px;
	margin-top:35px;
}

#how_it_works, #latest_buzz_wrapper{
	background: url(../images/instantlyClear/how_it_works/how_it_works_bg.jpg) no-repeat;
	/*height:400px;
	width:100%;
	padding-top:16px;
	overflow:hidden;*/
}

#latest_buzz_wrapper{
	display:none;	
}

#how_it_works.ui-tabs-panel, #latest_buzz_wrapper.ui-tabs-panel{
	position:relative;	
	display:block;
}

#how_it_works{
	z-index:10;	
}

#how_it_works.ui-tabs-hide{
	z-index:8;
}	

#instantlyClear #how_it_works div p{
	margin-bottom:17px;
}

.IC_prod_details{
	padding:26px 0 0 40px;	
	overflow:hidden;
	height:390px;
}

#product_tab_nav{
	position:absolute;
	bottom:16px;
	/*top:370px;*/
	top:395px;
	z-index:15;
	left:25px;
	height:30px;
}

#product_tab_nav li{
	float:left;
	width:130px;
	margin-right:7px;
	list-style:none;
	display:inline;
	height:30px;
}

li#intro_nav{width:65px; background: url(../images/instantlyClear/how_it_works/intro.gif) no-repeat;}
li#pore_unclogging_nav{background: url(../images/instantlyClear/how_it_works/pore_unclogging.gif) no-repeat;}
li#blemish_fighting_nav{background: url(../images/instantlyClear/how_it_works/blemish_fighting.gif) no-repeat;}
li#triple_action_nav{width:108px; background: url(../images/instantlyClear/how_it_works/triple_action.gif) no-repeat;}
li#deep_cleansing_nav{margin:0; background: url(../images/instantlyClear/how_it_works/deep_cleansing.gif) no-repeat;}

#product_tab_nav li a{
	display:block;
	background: url(../images/instantlyClear/how_it_works/arrow.gif) no-repeat 0px 6px;
	width:100%;
	height:100%;	
}

#product_tab_nav li a:hover, #product_tab_nav li.ui-tabs-selected a{background-image:none;}

/* intro section of how it works */
#intro{
	background: url(../images/instantlyClear/how_it_works/how_it_works_bg_landing.jpg) no-repeat 0px 0px;
	width:570px;
	height:377px;
	position:relative;
	z-index:10;
	padding:39px 0 0 55px;
}

#intro img{
	float:left;
}

#intro span.plus, #intro span.equals{
	float:left;
	height:40px;
	width:40px;
	display:inline;
	text-indent:-9000px;
	margin:53px 14px 20px;
	background: url(../images/instantlyClear/how_it_works/intro_plus.gif) no-repeat;
}

 #intro span.equals{
	width:200px;
	height:80px;
	margin:37px 0px 10px 20px;
	background: url(../images/instantlyClear/how_it_works/instantly_clearer_h.gif) no-repeat;
}

#intro .overflow_hidden{
	height:125px;	
}

#combination{
	text-indent:-9000px;
	height:79px;
	width:410px;
	line-height:14px;
	margin-top:3px;
	background: url(../images/instantlyClear/how_it_works/combination_h.gif) no-repeat;
}

#click_product{
	text-indent:-9000px;
	position:absolute;
	top:326px;
	left:30px;
	width:231px;
	height:33px;
	background: url(../images/instantlyClear/how_it_works/click_a_product_h.gif) no-repeat;
}

#people_are_saying{
	text-indent:-9000px;
	float:right;
	width:306px;
	height:60px;
	display:inline;
	margin-right:89px;
	background: url(../images/instantlyClear/how_it_works/people_are_saying_over.gif) no-repeat;
}

#people_are_saying a{
	display:block;
	width:100%;
	height:100%;
	background: url(../images/instantlyClear/how_it_works/people_are_saying.gif) no-repeat 68px 18px;
}

#people_are_saying a:hover{background-image:none;}

/* how it works product details section */
.IC_prod_details .img_holder, .IC_prod_details .boxes, .IC_prod_details .details, .box_holder{
	float:left;
}

.box_holder{
	width:415px;	
}

.img_holder{
	width:163px;	
}

#deep_cleansing .img_holder img{
	position:relative;
	left:-10px;	
}

.IC_prod_details .details{
	width:235px;	
	padding:13px 0 0 0px;
	font-size:15px;
	color:#4ca697;
	line-height:19px;
}

.details p.smaller{
	font-size:12px;	
	color:#4ca697;
	line-height:16px;
}

.details ol li{
	margin-bottom:10px;	
	overflow:hidden;
	font-size:13px;
	line-height:16px;
}

.details ol li.last{
	margin-bottom:17px;
}

.details ol li span{
	float:left;
	width:15px;
}

#instantlyClear #tabbed_content .details ol li p{
	float:left;
	width:220px;
	margin:0;
}

.get_detail{
	text-indent:-9000px;
	position:absolute;
	/*bottom:50px;*/
	top:366px;
	left:38px;
	width:216px;
	height:10px;
	background: url(../images/instantlyClear/how_it_works/get_more_detail.gif) no-repeat;
}

.learn_more{
	height:30px;
	width:120px;	
	background: url(../images/instantlyClear/how_it_works/learn_more_over.gif) no-repeat;
}

.learn_more a{
	display:block;
	text-indent:-9000px;
	height:100%;
	width:100%;	
	background: url(../images/instantlyClear/how_it_works/learn_more.gif) no-repeat;
}

.learn_more a:hover{background-image:none;}

.IC_prod_details .boxes{
	padding:15px 0 0 26px;	
	width:150px;
}

.time{
	width:117px;
	height:72px;
	padding:10px 12px 5px;
	background: url(../images/instantlyClear/how_it_works/time_bg.gif) no-repeat;
	margin-bottom:8px;
}

.one_minute, .use_daily, .weekly_use, .ten_minutes{
	background: url(../images/instantlyClear/how_it_works/1_minute.gif) no-repeat;
	text-indent:-9000px;
	display:block;
	width:100%;
	height:40px;
}

.ten_minutes{background: url(../images/instantlyClear/how_it_works/ten_minutes.gif) no-repeat;}

.use_daily{
	background: url(../images/instantlyClear/how_it_works/use_daily.gif) no-repeat;
	margin-left:2px;
	height:30px;
}

.weekly_use{
	background: url(../images/instantlyClear/how_it_works/weekly_use.gif) no-repeat;
	margin-left:2px;
	height:30px;
}

.works_great_with{
	width:131px;
	height:136px;
	color:#84888b;
	line-height:12px;
	padding:12px 0 12px 12px;
	background: url(../images/instantlyClear/how_it_works/works_great_with_bg.gif) no-repeat;
}

.works_great_with h2{
	text-indent:-9000px;
	height:15px;
	background: url(../images/instantlyClear/how_it_works/works_great_with_h.gif) no-repeat;
}

.prod_img{
	float:left;
	width:53px;
	margin-top:20px;	
	text-align:center;
}

.prod_img img{
	margin-bottom:5px;
}

.prod_img a{
	color:#00c0f3;
	text-decoration:none;
}

.prod_img a:hover{color:#009ddb;}

.works_great_with .plus{
	float:left;
	width:14px;
	height:14px;	
	margin-top:60px;
	text-indent:-9000px;
	background: url(../images/instantlyClear/how_it_works/plus.gif) no-repeat;
}

.IC_prod_details h1{
	text-indent:-9000px;
	height:30px;
	width:400px;	
	margin-top:20px;
}

#pore_unclogging h1{background: url(../images/instantlyClear/how_it_works/pore_unclogging_h.gif) no-repeat;}
#blemish_fighting h1{background: url(../images/instantlyClear/how_it_works/blemish_fighting_h.gif) no-repeat;}
#triple_action h1{background: url(../images/instantlyClear/how_it_works/triple_action_h.gif) no-repeat;}
#deep_cleansing h1{background: url(../images/instantlyClear/how_it_works/deep_cleansing_h.gif) no-repeat;}

/* the latest buzz */
#latest_buzz_wrapper.ui-tabs-panel{
	background: url(../images/instantlyClear/latest_buzz/the_latest_buzz_bg_repeat.gif) repeat-y;
	padding-top:0;
	overflow:visible;
	margin-bottom:17px;
}

.ui-tabs-panel #latest_buzz_inner_wrapper{
	height:100%;
	background: url(../images/instantlyClear/latest_buzz/the_latest_buzz_bg_bottom.gif) no-repeat bottom left;
	position:relative;
}

.ui-tabs-panel #latest_buzz{
	height:100%;
	padding:16px 0 30px 14px;
	background: url(../images/instantlyClear/latest_buzz/the_latest_buzz_bg.jpg) no-repeat;
}

html > body #latest_buzz_wrapper.ui-tabs-panel,
html > body .ui-tabs-panel #latest_buzz_inner_wrapper, 
html > body .ui-tabs-panel #latest_buzz{
	height:auto;
	min-height:500px;
}

#terms_links{
	position:absolute;
	bottom:-18px;
	left:120px;	
}

#latest_buzz_wrapper #terms_links a{
	color:#adb1b5;
	text-decoration:underline;
}

#latest_buzz_wrapper #terms_links a:hover{text-decoration:none;}

#others_are_saying, #others_are_saying_second_line{
	text-indent:-9000px;
	height:26px;
	width:300px;	
	margin:0px 0 3px 15px;
	padding-top:15px;
	background: url(../images/instantlyClear/latest_buzz/others_are_saying_h.gif) no-repeat 0 15px;
}

#others_are_saying_second_line{
	background: url(../images/instantlyClear/latest_buzz/other_are_saying_second_line.gif) no-repeat;
	width:530px;
	padding:0;
	height:17px;
	margin:0 0 12px 17px;
}

#submit_your_own{
	position:absolute;
	top:26px;
	right:32px;
	width:113px;
	height:20px;
	background: url(../images/instantlyClear/latest_buzz/submit_button_over.gif) no-repeat;
}

#submit_your_own a{
	display:block;
	text-indent:-9000px;
	background: url(../images/instantlyClear/latest_buzz/submit_button.gif) no-repeat;
	width:100%;
	height:100%;
}

#submit_your_own a:hover{background-image:none;}

#column_holder{
	width:605px;	
	clear:both;
}

#instantlyClear #column1, #instantlyClear #column2{
	float:left;
	width:277px;	
}

#instantlyClear #column1{
	padding:0 10px 0 13px;	
}

#latest_buzz a{
	color:#00c0f3;
	text-decoration:none;
}	

#latest_buzz a:hover{	
	color:#009ddb;
}

.you_tube_link{
	font-size:13px;
	margin-left:2px;
	line-height:19px;
	display:block;
}

.twitter_link{
	font-size:12px;
}

.you_tube .source{
	margin:2px 0 17px 2px; 	
}

.you_tube img{
	padding:0 0 4px 2px;	
}

.source{
	color:#adb1b5;
	font-size:11px;	
}

.twitter_bubble_wrapper{
	width:279px;	
	background: url(../images/instantlyClear/latest_buzz/twitter_bubble_repeat.gif) repeat-y;
}

.twitter_bubble_inner_wrapper{
	width:279px;	
	background: url(../images/instantlyClear/latest_buzz/twitter_bubble_bottom.gif) no-repeat bottom left;
}

.twitter_bubble{
	width:239px;	
	background: url(../images/instantlyClear/latest_buzz/twitter_bubble_top.gif) no-repeat;
	padding:10px 20px 35px;
	
}

.twitter_bubble .source{
	margin:10px 0 -30px 35px;
}

.flickr{
	margin:18px 0 15px 2px;
}

.flickr img{
	border:10px solid #444;
	margin-bottom:5px;
}

#instantlyClear #column2{
	padding:0 13px 0 10px;
}

.blog_wrapper{
	width:279px;	
	background: url(../images/instantlyClear/latest_buzz/blog_box_repeat.gif) repeat-y;
}

.blog_inner_wrapper{
	width:279px;	
	background: url(../images/instantlyClear/latest_buzz/blog_box_bottom.gif) no-repeat bottom left;
}

.blog{
	width:239px;	
	background: url(../images/instantlyClear/latest_buzz/blog_box_top.gif) no-repeat;
	padding:22px 20px 19px;
	position:relative;
	color:#84888b;
	font-size:12px;
	line-height:17px;
}

.blog a{
	font-size:14px;
}

.blog p{
	margin-top:10px;	
}

.blog p.source{
	margin-top:2px;
}

/* submit your own buzz lightbox */

.buzzForm #one label, .buzzForm #two label{
	width:108px;
}

#optin.buzzForm #one p.error {
	left:50px;
}

#optin.buzzForm #one p.smaller{
	font-size:11px;	
	line-height:15px;
}

.buzzForm #one div, .buzzForm #two div{
	margin-left:95px;
	margin-right:95px;
}

.buzzForm #two label {
    font-weight: bold;
    float: left;
    padding: 4px 14px 0 0;
    text-align: right;
    width: 98px;
}

.buzzForm #two select {
    width: 194px;
    display:inline;
    margin:0;
}

.buzzForm #two select.bdaySelect {
    width: 62px;
}

/* where to buy lightbox */
#optin.whereToBuy #inner{
	height:326px;
	width:574px;
	padding:83px 0 0 12px;
	background: url(../images/whereToBuy/bg.jpg) no-repeat;
}

/* for IE6 */
* html #optin.whereToBuy #inner{
    width: 610px;
}

#optin.whereToBuy h1#shop_at_retailer{
	text-indent:-9000px;	
	padding:0 0 15px 0;
	clear:both;
	background: url(../images/whereToBuy/shop_at_retailer_h.gif) no-repeat;
}

#optin.whereToBuy h1#shop_online{
	text-indent:-9000px;	
	padding:0 0 15px 0;
	clear:both;
	background: url(../images/whereToBuy/shop_online_h.gif) no-repeat;
}

#optin.whereToBuy #topOptin { background: url(/usa/images/whereToBuy/top.png)) no-repeat;}
#optin.whereToBuy #bottomOptin {  background: url(/usa/images/whereToBuy/bottom.png) no-repeat;}
#optin.whereToBuy #left { background: url(/usa/images/whereToBuy/left.png) no-repeat;}
#optin.whereToBuy #right {  background: url(/usa/images/whereToBuy/right.png) no-repeat;}

#optin.whereToBuy #topOptin { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='/usa/images/whereToBuy/top.png')\9}
#optin.whereToBuy #bottomOptin { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='/usa/images/whereToBuy/bottom.png')\9}
#optin.whereToBuy #left { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='/usa/images/whereToBuy/left.png')\9}
#optin.whereToBuy #right {  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='/usa/images/whereToBuy/right.png')\9}

.logo{
	float:left;
	width:115px;
	height:30px;
	margin-right:75px;
}

.logo a{
	display:block;
	width:100%;
	height:100%;
	text-indent:-9000px;
}

#cvs{
    background: url(../images/whereToBuy/cvs_over.gif) no-repeat; 
    margin-left:32px;
    width:120px;
}
#target{
	background: url(../images/whereToBuy/target_over.gif) no-repeat;
	position:relative; 
	top:-15px;
	width:44px;
	height:56px; 
}
#walmart{
    background: url(../images/whereToBuy/walmart_over.gif) no-repeat;
	position:relative; 
	top:-10px;
	width:148px;
	height:41px;
}
#walgreens{
    background: url(../images/whereToBuy/walgreens_online_over.gif) no-repeat;
    width:120px;
    margin-left:100px;
}

/* for IE6 */
* html #walgreens{
    margin-left:60px;
}

#riteaid{
	background: url(../images/whereToBuy/riteaid_over.gif) no-repeat;
	position:relative; 
	top:-15px;
	width:66px;
	height:57px;
}

#cvs a{background: url(../images/whereToBuy/cvs.gif) no-repeat;}
#target a{background: url(../images/whereToBuy/target.gif) no-repeat;}
#walmart a{background: url(../images/whereToBuy/walmart.gif) no-repeat;}
#walgreens a{background: url(../images/whereToBuy/walgreens_online.gif) no-repeat;}
#riteaid a{background: url(../images/whereToBuy/riteaid.gif) no-repeat;}

#cvs_online{background: url(../images/whereToBuy/cvs_over.gif) no-repeat; margin-left:105px; width:120px;}
/* for IE6 */
* html #cvs_online{margin-left:65px;}
#walgreens_online{background: url(../images/whereToBuy/walgreens_online_over.gif) no-repeat; width:120px;}
#duane_reade_online{background: url(../images/whereToBuy/duane_reade_online_over.gif) no-repeat; margin-top:15px; margin-left:30px;}
#drugstore_online{background: url(../images/whereToBuy/drugstore_com_online_over.gif) no-repeat; margin-top:15px; position:relative; left:-15px; width:104px; height:25px;}
#ulta_online{background: url(../images/whereToBuy/ulta_online_over.gif) no-repeat; margin:0; width:72px; margin-top:15px; position:relative; left:-30px;}

#cvs_online a{background: url(../images/whereToBuy/cvs.gif) no-repeat;}
#walgreens_online a{background: url(../images/whereToBuy/walgreens_online.gif) no-repeat;}
#duane_reade_online a{background: url(../images/whereToBuy/duane_reade_online.gif) no-repeat;}
#drugstore_online a{background: url(../images/whereToBuy/drugstore_com_online.gif) no-repeat;}
#ulta_online a{background: url(../images/whereToBuy/ulta_online.gif) no-repeat;}
 
#optin.whereToBuy .logo a:hover{background-image:none;}

#optin.whereToBuy #closeBtn{
	position:absolute;
	top:5px;
	right:0px;	
	height:50px;
	width:74px;
	background: url(../images/whereToBuy/closebtn_over.jpg) no-repeat;
}

/* for IE6 */
* html #optin.whereToBuy #closeBtn{
    right:30px;
}

#optin.whereToBuy #closeBtn a{
	text-indent:-9000px;
	display:block;
	height:100%;
	width:100%;
	background: url(../images/whereToBuy/closebtn.jpg) no-repeat;
}

#optin.whereToBuy #closeBtn a:hover{background-image:none;}


/* PORE PROFILER PAGE STYLES ******************************************************************************************************************************************/
.pp_radio_spacing {
    margin: 4px;
}

.pp_radio_label {
    float: left;
    padding-top: 6px;
}
  
/* STYLES COPIED FROM OLD CSS FILE ************************************************************************************************************************************/
a:hover {text-decoration:none;}
a {color:#7FB677;}

.copyText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #7FB677;
}

p.copyText {
    margin-top: 4px;
}

td {
	vertical-align: top;
}

.productLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 60C2EB;
}
.productLink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 60C2EB;
}
.productLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 60C2EB;
}
.productLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 60C2EB;
}
.productLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 60C2EB;
}
.printheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #7FB677;
}
.titleProducts {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #7FB677;
}
.copyTextBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #7FB677;
	font-weight: bold;
}


/* terms for ning */
#terms input{border: 1px solid #A8E7B2;}
#terms input#termsSubmit{border:none;}

/* Contact Form */
.footer_pages select.event_date { width: 60px;}
.footer_pages select.event_text option { margin-right: 10px;}