/* bubbles styles */
.bubbles{
	height:160px;
	position:absolute;
	opacity:0;
	width:auto;
	display:none;
	z-index:50;
	filter:alpha(opacity=0);	
}	

 * html .bubbles{
	display:block;
	opacity:1;
}

.bubbles a{
	display:block;
	width:100%;
	height:100%;
	cursor:pointer;
	text-decoration:none;
	border:2px solid green;
	font:14px arial, sans-serif;
}

.bubble_anchor{
	filter:alpha(opacity=0);
	z-index:60;
	text-indent:-9000px;
	opacity:0;
	height:93px;
	width:210px;
	display:none;
	position:absolute; 
}

a#cc_bubble_anchor{
	background: url(../images/bubble/cc_text.gif) no-repeat 0 0;
	top:525px;
	width:220px;
	right:368px;
}

a#dr_bubble_anchor{
	background: url(../images/bubble/dr_text.gif) no-repeat 0 0;
	top:480px;
	width:220px;
	left:598px;
}

a#sp_bubble_anchor{
	background: url(../images/bubble/sp_text.gif) no-repeat 0 0;
	top:600px;
	width:250px;
	right:390px;
}

a#ps_bubble_anchor{
	background: url(../images/bubble/ps_text.gif) no-repeat 0 0;
	top:610px;
	width:190px;
	left:640px;
}

.bubbles .bubble_container{
	width:230px;
	float:left;
	position:relative;
	overflow:hidden;
	height:100%;
	z-index:0;
}

.bubbles.lowerLayer{z-index:0;}
.bubble_anchor.lowerLayer{z-index:10;}

/* for ie 7 */
*:first-child+html .bubbles.lowerLayer{z-index:-2;}
*:first-child+html .bubble_anchor.lowerLayer{z-index:-1;}

/* for ie 6 */
* html .bubbles.lowerLayer{z-index:-2;}
* html #sp_bubble_anchor.lowerLayer, 
* html #dr_bubble_anchor.lowerLayer,
* html #cc_bubble_anchor.lowerLayer,
* html #ps_bubble_anchor.lowerLayer{z-index:10;}

#ps_bubble .bubble_container{
	width:200px;
}

#sp_bubble .bubble_container{
	width:248px;
}

.bubbles .bubble_right, .bubbles .bubble_left{
	height:200px;
	width:40px;
	float:left; 
}

.bubbles .bubble_left{
	width:31px;
}

.bubble_middle{
	height:200px;
	width:0;
	float:left;
}

/* for firefox and safari */
#cc_bubble .bubble_container {background: url(../images/bubble/cc_bubble_bg.png) no-repeat top left;}
#cc_bubble .bubble_left{background: url(../images/bubble/cc_bubble_left.png) no-repeat top left;} 
#cc_bubble .bubble_middle{background: url(../images/bubble/cc_products.png) no-repeat top left;} 
#dr_bubble .bubble_container{background: url(../images/bubble/dr_bubble_bg.png) no-repeat top left;}
#dr_bubble .bubble_right{background: url(../images/bubble/dr_bubble_right.png) no-repeat top left;}
#sp_bubble .bubble_container {background: url(../images/bubble/sp_bubble_bg.png) no-repeat top left;}
#sp_bubble .bubble_left{background: url(../images/bubble/sp_bubble_left.png) no-repeat top left;} 
#sp_bubble .bubble_middle{background: url(../images/bubble/sp_products.png) no-repeat top left;} 
#ps_bubble .bubble_container{background: url(../images/bubble/ps_bubble_bg.png) no-repeat top left;}
#ps_bubble .bubble_right{background: url(../images/bubble/ps_bubble_right.png) no-repeat top left;}  

/* for ie  */
#cc_bubble .bubble_middle{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/bubble/cc_products.png')\9}
#cc_bubble .bubble_container{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/bubble/cc_bubble_bg.png')\9}
#cc_bubble .bubble_left{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/bubble/cc_bubble_left.png')\9}
#dr_bubble .bubble_right{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/bubble/dr_bubble_right.png')\9}
#dr_bubble .bubble_container{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/bubble/dr_bubble_bg.png')\9}
#sp_bubble .bubble_middle{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/bubble/sp_products.png')\9}
#sp_bubble .bubble_container{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/bubble/sp_bubble_bg.png')\9}
#sp_bubble .bubble_left{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/bubble/sp_bubble_left.png')\9}
#ps_bubble .bubble_container{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/bubble/ps_bubble_bg.png')\9}
#ps_bubble .bubble_right{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='images/bubble/ps_bubble_right.png')\9}
 
.model_container{
	position:absolute;
	top:0px;
	opacity:0;
	height:398px;
	width:550px;
	left:0px;
	z-index:30;
	display:none;
}

.model_container div{
	display:block;
	position:relative;
	z-index:30;
	width:100%;
	height:100%;	
}

.model_container div img{width:508px\9}
.model_container div img{height:398px\9}

/* for ie 7 & 8 */

/* for ie 6 */
#cc_bubble{
	right:338px;
	top:550px;
}

#dr_bubble{
	left:580px;
	top:420px;
}

#sp_bubble{
	right:376px;
	top:500px;
}

#ps_bubble{
	left:615px;
	top:570px;
}
