#contact {
    position:relative;
    margin:0 auto;
    padding-top:43px;
    font-size:12px;
    background:url(/usa/images/contact/bg_top.jpg) no-repeat 0 0;
}

#contact_inner {
    padding-bottom:50px;
    background:url(/usa/images/contact/bg_btm.png) no-repeat bottom left;
    overflow:hidden; height:1%;
}

table {
    margin-top:15px;
}

table img {
    margin-top:-17px;
    padding-left:25px;
}

i {
    color:#40a7c6;
}

#middle td {
    padding-bottom:8px;
    vertical-align:top;
}

#middle td {
    padding:0 35px 8px 0;
    vertical-align:top;
}

table a {
    color:#40a7c6; text-decoration:none;
}

table a:hover {
    text-decoration:underline;
}

.event_text, .event_date, select.event_text {
    font-size:11px;
    width:174px; height:14px;
    font-size:11px; line-height:13px;
}

.event_date {
    width:59px; height:19px;
}

select.event_text {
    width:178px; height:19px;
}

textarea {
    height:100px;
}

.submit {
    display:block;
    width:144px; height:24px;
    background:url(/usa/images/contact/btn_submit_contact.png) no-repeat 0 0;
	font-size: 1px; line-height: 1px;
	text-indent:-9000px;
	cursor: pointer;
    border:0 none;
}

.submit:hover {
    background-position:bottom left;
}
