﻿/******************************************************************************
  CSS Document for Biore Website

    Form Specific Styles
*******************************************************************************/
/******************************************************************************
  	Submit Button 
*******************************************************************************/
#optin_inner {
    background: url("../images/optin/bg_btm.png") no-repeat scroll left bottom transparent;
    height: 1%;
    overflow: hidden;
    padding-bottom: 50px;
}
.vertical div{
    padding:0px;
    margin:0px;
}
.vertical #contactFormWrap .SubmitContainer
{
    clear: left;
	overflow:hidden;
	padding: 12px 20px 0px 0px;
}
.vertical #contactFormWrap .SubmitContainer input
{
 background: url("../images/optin/btn_sign_me_up.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 1px;
    height: 24px;
    line-height: 1px;
    text-indent: -9000px;
    width: 144px;
}

.vertical #contactFormWrap .SubmitContainer input:hover {
    background-position:bottom left;
}

/*.vertical #contactFormWrap input.buttonLink
{
   background-color: #e9e9e9;
	border: 1px solid #cfcece;
	color: #6d6f73;
	display: inline;	
	font-size: 11px;
	font-weight: bold;
	padding: 2px 15px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	width: auto;
	line-height: 11px;
	position: static;
	height: auto;
	cursor: pointer;
	margin: 0;	
}

.vertical #ContactFormContainer .SubmitContainer input:hover.buttonLink
{
	color: #edefd3;
	background-color: #7a736d;
}*/

#contact_top {
    background: url("/usa/images/contact/bg_top.jpg") no-repeat scroll 0 0 transparent;
    font-size: 12px;
    margin: 0 auto;
    padding-top: 43px;
    position: relative;
}


.vertical #contactFormWrap {
	float: left;	
	width: 920px;
	margin: 10px 0;
	min-height: 670px;
}


.vertical #BrandImageContainer,
.vertical #ContactFormContainer {
	float: left;	
}

.vertical #BrandImageContainer {
	width: 400px;	
	margin: 21px 0 0 25px;
}
.vertical #ContactFormContainer {
	width: 490px;	
}
.vertical #ContactFormContainer h1 {
	margin: 23px 0px 0px 12px;
	text-indent:-9999px;
	height:30px;
}


.vertical #ContactFormContainer h1 strong {
	font-weight: bold;
	color: #d2b576;
}
.vertical #ContactFormContainer .DescriptionContainer {	
	padding: 0px 0px 0px 12px;
	margin-bottom: 15px; 
	color: #7C7D7C;
}

.vertical #ContactFormContainer .DescriptionContainer h2 {
	font-size: 17px;
    font-weight: bold;
}

.vertical #ContactFormContainer .DescriptionContainer .ConfrimationContainer h2 {
	padding:10px 0px 10px 0px;
}

.vertical #ContactFormContainer .DescriptionContainer p{	
    font-size:16px;
}

.vertical #ContactFormContainer .FormContainer
{
    margin:0px 0px 0px 13px;
}

.vertical p.req { 
	font-size: 16px;
	color: #40A7C6;
	margin-bottom: 15px; 		

}


.vertical #ContactFormContainer .Question {
	float: left;
	clear: both;
	margin-bottom: 3px;
	width: 590px;
}


.vertical #ContactFormContainer .MemberInfoContainer .Question {
    padding:5px 0px 0px 20px;
}

.vertical #ContactFormContainer label { 
	display: block;
	float: left;
	width: 135px;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
}

.vertical #ContactFormContainer .MemberInfoContainer label{
    text-align: right;
    margin-left:-50px;
    margin-right: 15px;
}
.vertical #ContactFormContainer .CountryContainer span {	
	display: block;
	float: left;
	width: 135px;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	margin-left:-50px;
	margin-right:10px;
}
* html .vertical #ContactFormContainer .CountryContainer span {
	width: 138px;	
}
.vertical #ContactFormContainer .CountryContainer .fake_input {
    background-color:#C5E5EE;
	width: 199px;
	padding: 2px 3px;
    border-left: 1px solid #0072BC;
    border-top: 1px solid #0072BC;
	color: #747474;
	line-height: normal;
	font-weight: normal;
	font-size: 15px;
	display:block;
	text-align: left;
	margin-left:5px;
}
*+html .vertical #contactFormWrap .CountryContainer .fake_input {width: 201px;}
* html .vertical #contactFormWrap .CountryContainer .fake_input {width: 201px;}
.vertical #ContactFormContainer input,
.vertical #ContactFormContainer select
 {
	width: 205px;

}

.vertical #ContactFormContainer .BirthdayContainer select {
	width: 67px; 
	margin-right: 1px;
}

.vertical .QuestionContainer{
    float: left;
	clear: both;
	margin-bottom: 3px;
	width: 590px;
}

.vertical #ContactFormContainer .QuestionContainer label.dropdownLabel,
.vertical #ContactFormContainer .QuestionContainer label.checkboxLabel,
.vertical #ContactFormContainer .QuestionContainer label.radioLabel,
.vertical #ContactFormContainer .QuestionContainer label.textboxLabel,
.vertical #ContactFormContainer .QuestionContainer label.textareaLabel { 
	display: block;
	float: left;
	width: 190px;
	line-height: 20px;
	padding:5px 10px 0 0;
	font-weight: bold;
}

.vertical #ContactFormContainer .QuestionContainer .textboxAnswer{
    width:500px;
}

.vertical #ContactFormContainer .QuestionContainer select {
	width: 220px;
	margin-top:10px;
}

.vertical #ContactFormContainer .QuestionContainer .textareaAnswer{
    width:500px;	
}

.vertical #wrapper #contactFormWrap .SubmitContainer {
	clear: left;
	overflow:hidden;	
}

.vertical #wrapper #contactFormWrap input.buttonLink{   
    float: left;
    margin-left:135px;
}

.vertical #contactFormWrap .ErrorContainer {
    display:block;
   float:left;
   clear:both;
   width:330px;
}

.vertical #ContactFormContainer span.errormsg {
	padding:2px 0px 0px 0px;
   margin:0px;
}

.vertical #contactFormWrap .MemberInfoContainer .ErrorContainer{ 
    margin-left:100px
}

.vertical #contactFormWrap .MemberInfoContainer .BirthdayContainer .ErrorContainer{ 
    margin-left:-35px;
}
.vertical #ContactFormContainer .BirthdayContainer {
	position: relative;	
}
.vertical #ContactFormContainer .BirthdayContainer span.errormsg {
	clear: left;
	padding-left: 135px;
	margin: 0;
	float: left;
}
.vertical #ContactFormContainer .BirthdayContainer span.year {
}
.vertical #ContactFormContainer .BirthdayContainer span.month {
}
.vertical #ContactFormContainer .BirthdayContainer span.day {
}
.vertical #ContactFormContainer .BirthdayContainer span.validdate {
	float: none;
	clear: none;
	padding-left: 10px;
	display: inline;
}
.vertical #ContactFormContainer span.phone {
	position: relative;
	left: 135px;	
}



.vertical .MarketingQuestionContainer{
    margin-top:30px;
}

.vertical #contactFormWrap .OptinContainer {
	width: 485px;
	border-width: 1px 1px 1px 0;
}

.vertical #contactFormWrap .OptinContainer label {
	width:auto;
	font-weight:normal;
}
.vertical #contactFormWrap .OptinContainer p.privacy {
	font-size:16px;
	width:451px;
}
.vertical #contactFormWrap .OptinContainer p.privacy a {
	color: #40A7C6;
	font-weight:normal;
	text-decoration: underline;
}

.vertical #contactFormWrap .OptinContainer p.privDisclaimer a {
	color: #40A7C6;
}
.vertical #contactFormWrap .OptinContainer p.privDisclaimer a:hover {
	color: #000;
}
.vertical #contactFormWrap .OptinContainer input {
	width: 20px;
	padding: 0;
	margin: 0;
	clear: left;
	border: 0;
	float: left;
}
.vertical #contactFormWrap .OptinContainer label a {
	font-weight: normal;
	color: #40A7C6;
	text-decoration: none;
}
.vertical #contactFormWrap .OptinContainer label a:hover {
	text-decoration: underline;
}

.vertical #contactFormWrap .OptinContainer div.MultiBrandOptinContainer {
	padding: 0 0 0 25px;
}
.vertical #contactFormWrap .OptinContainer ul {
}
.vertical #contactFormWrap .OptinContainer li {
	margin: 10px 0 0 25px;
	float: left;
}
* html .vertical #contactFormWrap .OptinContainer li {
	float: none;
}
.vertical #contactFormWrap .OptinContainer input {
	margin: 2px 0 0 -25px;
	float: left;
}
.vertical #contactFormWrap .OptinContainer label {
	float: left;
}
.vertical #contactFormWrap .OptinContainer .MultiBrandOptinContainer input.multiOptin {
	margin: 0;
}
.vertical #contactFormWrap .OptinContainer #optinToAll {
	margin-left: 0;
}
.vertical #contactFormWrap .OptinContainer .jfOptinChkbox {
	margin-bottom: 5px;
}
.vertical #contactFormWrap .OptinContainer .brandLabels {
	width: 430px;
}


.vertical #contactFormWrap .QuestionContainer .cbVert {
    clear: both;
    display: block;
    padding: 15px 0 0;
}

.vertical #contactFormWrap .QuestionContainer .CustomQuestioncheckbox label {
    width: 476px;
    display:block;
    float:left;
    font-size: 16px; 
 
}


.vertical #contactFormWrap .QuestionContainer .checkboxAnswer {
    display: block;
    margin: 0 0 0 10px;
}

.vertical #contactFormWrap .QuestionContainer .checkboxAnswer span{
    display:block;
    clear:both;
}

.vertical #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput {
    padding-bottom: 4px;
    display:block;    
}

.vertical #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput label
{
    font-weight:normal;
}

.vertical #contactFormWrap .CustomQuestioncheckbox span input {
    clear: both;
    width: 25px;
    float:left;
	height:15px;
}


/*Checkbox Answers*/
.vertical #contactFormWrap .QuestionContainer .checkboxAnswer{
   display:block;
   margin:0px 0px 0px 10px;
}

/*Verticle checkbox*/
.vertical #contactFormWrap .QuestionContainer .cbVert{
    padding:15px 0px 0px 0px;
    display:block;
    clear:both;
}

.vertical #contactFormWrap #DisclaimerContainer{
    padding:15px 0px 0px 10px;
}


/******************************************************************************
  	Contact Form
*******************************************************************************/
.contact #ContactFormContainer h1 {
	font-size: 13px;
    font-weight: bold;
    margin: 23px 0 13px 30px;
    text-indent: 0;
    height:14px;
}

.contact #ContactFormContainer .DescriptionContainer h2 {
    font-size: 13px;
    font-weight: bold;
    float:left;
    clear:both;
}

.contact #ContactFormContainer .DescriptionContainer {		
	padding: 0px;
	margin:0px 0px 15px 30px;	
}
.contact #ContactFormContainer .DescriptionContainer p{
    float:left;
    clear:both;
    font-size:13px;
}

.contact #ContactFormContainer .DescriptionContainer hr{
    display:block;
    float:left;
    width:400px;
    margin-top:5px;
}

.contact #ContactFormContainer .DescriptionContainer ul {
    width:390px;
}

.contact #ContactFormContainer p.req {
	float:left;
	clear:both;
	font-size:13px;
	margin:0px 0px 0px 18px;
	padding-top:10px;
}

.contact #ContactFormContainer label { 
	display: block;
	float: left;
	width: 135px;
	line-height: 20px;
	font-weight: normal;
	font-size: 16px;
}
.contact #ContactFormContainer .MemberInfoContainer {
    margin:0px 0px 10px 48px;
}

.contact #ContactFormContainer .MemberInfoContainer .Question {
    width:350px;
}

.contact #ContactFormContainer .MemberInfoContainer label{
    text-align: left;
    font-size:13px;
}

.contact #ContactFormContainer .MemberInfoContainer input,
.contact #ContactFormContainer .MemberInfoContainer select,
.contact #ContactFormContainer .CountryContainer .fake_input{
    width:174px;
}

*+html .contact #contactFormWrap .CountryContainer .fake_input {width: 174px;}
* html .contact #contactFormWrap .CountryContainer .fake_input {width: 174px;}

.contact #ContactFormContainer .CountryContainer span {	
	display: block;
	float: left;
	width: 135px;
	line-height: 20px;
	font-weight: normal;
	font-size: 13px;
	text-align: left;
	margin-left:-50px;
	margin-right:10px;
}

.contact #ContactFormContainer .BirthdayContainer select {
    margin-right: 1px;
    width: 56px;
}

.contact #contactFormWrap textarea {
    color:#093556; 
    height:136px; 
    width:350px; 
    margin-left:-50px;
    font: normal 12px Verdana;
}

.contact #contactFormWrap .MemberInfoContainer .CommentContainer {*width:auto;}


.contact #contactFormWrap .MemberInfoContainer .CommentContainer .ErrorContainer {
   display:block;
   float:left;
   clear:both;
   width:330px;
   margin-left:-50px;
}

.contact #ContactFormContainer .MemberInfoContainer .CommentContainer span.errormsg {
	padding:2px 0px 0px 0px;
   margin:0px;
}

.contact #contactFormWrap .SubmitContainer input {
    background: url("/usa/images/contact/btn_submit_contact.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 1px;
    height: 24px;
    line-height: 1px;
    text-indent: -9000px;
    width: 144px;
}

.contact #contactFormWrap .SubmitContainer{
    padding-left:15px;
}



/******************************************************************************
  	Unsubscribe Form
*******************************************************************************/
#imgContact{
   float:left;
   margin: 21px 0 0 25px;
}

#unsubscribe{
float: left;
	margin: 25px 0px 0px 15px;
	width:475px;
}

#optOut h1 {
    font-size:16px;
	font-weight:normal;
	padding-bottom:10px;
}
#optOut p {
	font-weight:normal;
	font-size:16px;
	padding-bottom:7px;
}
#optOut p.req {
	font-size: 16px;
	color: #40A7C6;
	margin-bottom: 15px; 
	padding-top:10px;
}

#optOut label {
	display: block;
    float: left;
    font-weight: bold;
    font-size:16px;
    margin: 0 10px 0 15px;
    text-align: right;
    width: 90px;
}

#optOut input{
    width:174px;
}

#optOut input.submit {
    clear:both;
    float:left;
	margin:20px 0px 20px 75px;
	width:auto;
	
}


#optOut span.errormsg {
	clear: both;
	display:block;
	float:left;
	margin-left:115px;
}

/*No Form*/

.noForm {

    height:160px 
}

.noForm #contactFormWrap .DescriptionContainer p{
        display:block;
        font-weight:bold;
		margin-top:50px;
    	margin-left:auto;
		margin-right:auto;
		text-align:center;
		width:650px;
    
}

/*FaceOff Forms*/
.faceOff #ContactFormContainer h1
{
	display:none;
}

.faceOff #ContactFormContainer  .DescriptionContainer {
	padding-top:15px;
}


.faceOff #ContactFormContainer  .DescriptionContainer h2,
.faceOff #ContactFormContainer  .DescriptionContainer .ConfrimationContainer h2{
	display:block;
	float:left;
	margin: 23px 0px 5px 0px;
	font-size:16px;
	text-indent:0px;
	height:30px;
	font-weight:bold;	
}

.faceOff #ContactFormContainer  .DescriptionContainer p {

	clear:both;
}

.faceOff  #contactFormWrap .SubmitContainer input, .customButton  #contactFormWrap .SubmitContainer input {
	background:none;
	background-color:#6699cc;
	color:#FFFFFF;
	text-indent:0px;
	font-size:13px;
	line-height:14px;
	font-weight:bold;
	border: 2px solid #339999;
	Padding-bottom:2px;
	width: 180px;
}

.faceOff  #contactFormWrap .SubmitContainer input:hover,.customButton  #contactFormWrap .SubmitContainer input:hover {
	background-color:#ff99cc;
	border: 2px solid #cc6699;

}

/******************************************************************************
  	Facebook
*******************************************************************************/
.facebook
{
	color: #7C7D7C;
}

.facebook #contactFormWrap,
/*.facebook #ContactFormContainer .Question,
.facebook #ContactFormContainer .QuestionContainer,*/
.facebook #contactFormWrap .QuestionContainer .CustomQuestioncheckbox label,
.facebook #contactFormWrap .DescriptionContainer h2{
    width: auto;
}
.facebook #ContactFormContainer .Question,
.facebook #ContactFormContainer .QuestionContainer{width:100%;}
.facebook #BrandImageContainer {
	display:none;
}
.facebook #contactFormWrap .DescriptionContainer h2{
	background:none;
	margin:0px;
	font-size:18px;
}
.facebook #contactFormWrap p {
	text-indent:0px;
	text-align:left;
}
.facebook #contactFormWrap sup {
  font-size: 80%; 
  position: relative; 
  top: -.35em;
}

/******************************************************************************
  	End Cap
*******************************************************************************/
.EndCap #ContactFormContainer  {
color: #7C7D7C;
}
.EndCap #ContactFormContainer h1 {display:none;}
.EndCap #ContactFormContainer h3 {
	background:url('../images/optin/h1_optin.png') no-repeat;
	display:block;
	margin: 23px 0px 0px 0px;
	text-indent:-9999px;
	height:30px;
}

.EndCap #ContactFormContainer .DescriptionContainer{padding-top:0px;}

.EndCap #ContactFormContainer .ConfrimationContainer  {margin-top:20px;}
.EndCap #ContactFormContainer .QuestionContainer label.dropdownLabel{width:200px;}
.EndCap #contactFormWrap .ErrorContainer{width:365px;}
.EndCap #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput{height:17px;}
.EndCap #contactFormWrap .OptinContainer input,
.EndCap #contactFormWrap .CustomQuestioncheckbox span input {height:17px;}
.EndCap #contactFormWrap .OptinContainer p.privacy a:hover{color: #40A7C6;text-decoration:none;}
.EndCap #contactFormWrap .OptinContainer p.privDisclaimer a:hover {color: #40A7C6;text-decoration:none;}
.EndCap #ContactFormContainer .ConfrimationContainer  h4{
	background:url('../images/optin/wereSorryHeader.png') no-repeat;
	display:block;
	margin: 23px 0px 0px 0px;
	text-indent:-9999px;
	height:30px;}
	
/******************************************************************************
  	Optin with ProveIt 
*******************************************************************************/
.proveIt #ContactFormContainer .DescriptionContainer #proveIt{clear:both;float:left;position:relative;}
.proveIt #ContactFormContainer .DescriptionContainer #proveIt img{
	position:relative;
	border:0px;
	width:195px;
	height:55px;
	float:left;
	left: 35px;
	top: 25px;
}
.proveIt #ContactFormContainer .DescriptionContainer #proveIt a{
	background:url('../images/optin/btnProveIt.png') 0 0 no-repeat;
	position:relative;
	height:27px;
	width:181px;
	text-indent:-9999px;
	font-size:0px;
	display:block;
	float:left;
	top:40px;
	left:65px;
}
.proveIt #ContactFormContainer .DescriptionContainer #proveIt a:hover{background:url('../images/optin/btnProveIt.png') 0 -27px no-repeat;}
.proveIt #ContactFormContainer .DescriptionContainer p{margin-bottom:15px;}

.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  {
	display: block;
    left: 25px;
    position: relative;
    width: 330px;
	margin-top: 25px;
}

.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  .checkboxAnswer{
	 display: block;
    height: 25px;
    left: -40px;
    position: relative;
    top: -141px;
    width: 25px;
}

.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  label{display:block;width:395px;position:relative;top:0px;left:0px;}
.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  .ErrorContainer{
	  margin-bottom: 20px;
    margin-top: -18px;
}
.vertical #contactFormWrap  h3.qualifyHeader{
	background-image: none;
    color: #40A7C6;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 11px;
    text-indent: 0;
}


/*Porespectives*/
#porespective{position:relative;}
#contact_top_starBurst {
    background: url("/usa/images/common/bgStarburstTop.png") no-repeat scroll -6px 0 transparent;
    font-size: 12px;
    height: 224px;
    margin: 0 auto;
    padding-top: 43px;
    position: relative;
}
#porespective_inner{
	background: url("../images/porespective/bg_btm.png") no-repeat scroll left bottom transparent;
    height: 1%;
    overflow: hidden;
    padding-bottom: 110px;
}
.porespectiveForm #ContactFormContainer .DescriptionContainer #videoPlayer {
	 
	position: absolute;	 
    left: 495px;    
    top: 275px;   
	height: 568px;
   width: 421px; 
 }
 .porespectiveForm #ContactFormContainer .DescriptionContainer  #frameTop{
	position: absolute;	 
    left: 495px;    
    top: 275px;   
	height: 36px;
   width: 405px;   
   z-index:2;
 }
 .porespectiveForm #ContactFormContainer .DescriptionContainer  #frameBottom{
	position: absolute;	 
    left: 495px;    
    top: 732px;   
	height: 35px;
   width: 405px;   
   z-index:2;
 }
  .porespectiveForm #ContactFormContainer .DescriptionContainer  #frameLeft{
	position: absolute;	 
    left: 495px;    
    top: 311px;   
	height: 421px;
   width: 48px;   
   z-index:2;
 }
   .porespectiveForm #ContactFormContainer .DescriptionContainer  #frameRight{
	position: absolute;	 
    left: 855px;    
    top: 311px;   
	height: 421px;
	width: 45px;   
	z-index:2;
 }
.porespectiveForm #ContactFormContainer .DescriptionContainer #videoPlayer a
{
   background: url("../images/porespective/videoButton.jpg") no-repeat scroll -14px top transparent;   
    display: block;
    height: 459px;
    left: 24px;
    position: absolute;
    text-indent: -9999px;
    top: 20px;
    width: 368px; 
	z-index:0;
}
.porespectiveForm #ContactFormContainer .DescriptionContainer #videoPlayer object,
.porespectiveForm #ContactFormContainer .DescriptionContainer #videoPlayer video{
	position:absolute;
	float:left;
	left:26px;
	top: 13px;
	z-index:0;
	height: 468px;
	width: 350px; 
}
.porespectiveForm #ContactFormContainer .DescriptionContainer #videoPlayer #noFlashAdvisor{
	color: #FFFFFF;
    left: 56px;
    position: relative;
    text-indent: 0;
    top: 161px;
    width: 339px;
}
.porespectiveForm #ContactFormContainer .DescriptionContainer .ConfrimationContainer #videoPlayer
{
    background: url("../images/porespective/porespectiveTYImage.jpg") no-repeat scroll left top transparent;    
    height: 407px;
    left: 495px;
    position: absolute;
    text-indent: -9999px;
    top: 275px;
    width: 417px;
}
#porespective #wrapUp
{
    background: url("../images/porespective/getYourBestClean.jpg") no-repeat scroll left top transparent;    
    clear: both;
    height: 29px;
    left: 270px;
    position: relative;
    text-indent: -9999px;
    top: 50px;;
    width: 417px;
    float:left;
}
#porespective #facebookReminder
{
    background: url("../images/porespective/fbLikeMessage.png") no-repeat scroll left top transparent;  
    clear: both;
    display: block;
    float: left;
    height: 53px;
    left: 131px;
    position: relative;
    text-indent: -9999px;
    top: 0;
    width: 674px; 
} 
#porespective p#porespectiveDisclaimer
{
    clear: both;
    display: block;
    float: left;
    font-size: 11px;
    height: 45px;
    left: 104px;
    margin: 30px 0 0;
    position: relative;
    text-align: center;
    width: 630px;
}
#porespective p#porespectiveDisclaimer a, #porespective p#porespectiveDisclaimer a:hover
{
     color: #7C7D7C;
}
.porespectiveForm #contactFormWrap 
{
    margin-left: 71px;
    width: 410px;
    min-height: 400px;
}
#porespective #notEligable
{
    height:300px;
}
#porespective #notEligable p
{
    left: 70px;
    position: relative;
    top: 120px;
}
#porespective #notEligable h2,
.porespectiveForm #ContactFormContainer .DescriptionContainer h2
{
    background: url("../images/porespective/hdrPorespective.png") no-repeat scroll left top transparent;    
    left: 63px;
    position: absolute;
    top: 76px;
    height:197px;
    width:688px;
    text-indent:-9999px;
}
.porespectiveForm #ContactFormContainer .DescriptionContainer h3
{
    background: url("../images/porespective/hdrBeFirst.png") no-repeat scroll left top transparent;    
    display: block;
    float: left;
    height: 61px;
    left: 13px;
    position: absolute;
    text-indent: -9999px;
    top: 280px;
    width: 461px;
}
#porespective #notEligable h3,
.porespectiveForm #ContactFormContainer .DescriptionContainer .SorryContainer h3
{
    background: url("../images/porespective/bgBlueBar.jpg") no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 38px;
    height: 61px;
    left: 13px;
    line-height: 56px;
    padding-left: 50px;
    position: absolute;
    text-indent: 0;
    top: 280px;
    width: 461px;
}

.porespectiveForm #ContactFormContainer .DescriptionContainer
{
     width: 380px;
}

.porespectiveForm #ContactFormContainer .DescriptionContainer p {
    font-size: 14px;
    display:block;
    margin-top:20px;
}
#porespective #notEligable p,
.porespectiveForm #ContactFormContainer .DescriptionContainer .SorryContainer p,
.porespectiveForm #ContactFormContainer .DescriptionContainer span {
    font-weight:bold;
    color:#073b87;
}
.porespectiveForm p.req {
    font-size: 14px;
    font-weight:bold;
}

.porespectiveForm #ContactFormContainer .MemberInfoContainer .Question{padding:0px;width:375px;}
.porespectiveForm #ContactFormContainer .MemberInfoContainer .Question input{clear:both;float:left;width:340px;}
*+html .porespectiveForm #ContactFormContainer .MemberInfoContainer .Question input{margin-left:-15px;}
*+html .porespectiveForm #ContactFormContainer .MemberInfoContainer .FirstNameContainer input{margin-left:-5px;}
.porespectiveForm #ContactFormContainer .MemberInfoContainer label,
.porespectiveForm #ContactFormContainer .QuestionContainer label.textareaLabel{font-size:14px;text-align:left;margin:0px;color:#073b87;}
.porespectiveForm #ContactFormContainer .QuestionContainer label.textareaLabel{width: 290px};
.porespectiveForm #contactFormWrap .NameWrapper{float:left;width:375px;}
.porespectiveForm #ContactFormContainer .NameWrapper .Question,
.porespectiveForm #ContactFormContainer .MemberInfoContainer .StateContainer {clear:none;float:left;width:180px;}
.porespectiveForm #contactFormWrap #ContactFormContainer  .NameWrapper input,
.porespectiveForm #ContactFormContainer .MemberInfoContainer .CityContainer input{width:160px;}
.porespectiveForm #ContactFormContainer .MemberInfoContainer .CityContainer {width:180px;}
.porespectiveForm #ContactFormContainer .MemberInfoContainer .StateContainer select{width:165px;}
.porespectiveForm #contactFormWrap .ErrorContainer{font-size:11px;}
.porespectiveForm #contactFormWrap .MemberInfoContainer .ErrorContainer{margin-left:0px;}
.porespectiveForm #contactFormWrap #DisclaimerContainer{
	display:none;
}
.porespectiveForm #ContactFormContainer .BirthdayContainer{float:left;}
.porespectiveForm #ContactFormContainer .BirthdayContainer .month{clear:both;}
.porespectiveForm #ContactFormContainer .BirthdayContainer select
{
    clear: none;
    float: left;
    margin: 0 5px 0 0;
    width: 113px;   
}
*+html .porespectiveForm #ContactFormContainer .BirthdayContainer select
{
    float:none;
    display:inline;
}
.porespectiveForm #ContactFormContainer .BirthdayContainer span.errormsg {
    padding-left: 35px;
}
.porespectiveForm #ContactFormContainer .QuestionContainer .CustomQuestioncheckbox input
{
    border: 0 none;
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 20px;
}

.porespectiveForm #ContactFormContainer .QuestionContainer .CustomQuestioncheckbox label,
.porespectiveForm #contactFormWrap .OptinContainer label
{
    font-size: 14px;
    color:#073b87;
    font-weight: bold;
}
.porespectiveForm #ContactFormContainer .QuestionContainer .CustomQuestioncheckbox label
{
    left: 25px;
    position: relative;
    top: 18px;
    width: 300px;    
}
.porespectiveForm #ContactFormContainer .QuestionContainer .CustomQuestioncheckbox label a{color: #ec008c;}
.porespectiveForm #ContactFormContainer .QuestionContainer .CustomQuestioncheckbox label a:hover{color: #ec008c;text-decoration:none;}
.porespectiveForm #ContactFormContainer .QuestionContainer .CustomQuestioncheckbox input{position:relative;left:-10px;}
.porespectiveForm #ContactFormContainer .QuestionContainer .CustomQuestioncheckbox .ErrorContainer{margin-left:25px;margin-top:3px;}
.porespectiveForm #contactFormWrap .OptinContainer{float:left;padding:0px;}
.porespectiveForm #contactFormWrap .OptinContainer p.privacy    
{
    display: block;
    font-size: 14px;
    margin-top: 15px;
    width: 370px;
}
.porespectiveForm #contactFormWrap .OptinContainer p.privacy a{
color: #ec008c;
}
.porespectiveForm #contactFormWrap .SubmitContainer input {
    background: url("../images/porespective/submitPorespective.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 1px;
    height: 32px;
    line-height: 1px;
    text-indent: -9000px;
    width: 270px;    
}
.porespectiveForm #contactFormWrap .SubmitContainer{margin-bottom:50px;}
.porespectiveForm #ContactFormContainer .DescriptionContainer .ConfrimationContainer h2
{
     background: url("../images/porespective/hdrPorespectiveThankYou.png") no-repeat scroll left top transparent;
    height: 91px;
    left: 179px;
    position: absolute;
    text-indent: -9999px;
    top: 105px;
    width: 688px;
}
.porespectiveForm #ContactFormContainer .DescriptionContainer .ConfrimationContainer h3
{
    background: url("../images/porespective/successfulSubmit.jpg") no-repeat scroll left top transparent;    
    display: block;
    float: left;
    height: 61px;
    left: 13px;
    position: absolute;
    text-indent: -9999px;
    top: 280px;
    width: 461px;
}
.porespectiveForm #ContactFormContainer .DescriptionContainer .ConfrimationContainer a
{
    background: url("../images/porespective/btnVisitFacebook.jpg") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    font-size: 1px;
    height: 32px;
    line-height: 1px;
    text-indent: -9000px;
    width: 240px; 
}
.porespectiveForm #ContactFormContainer .DescriptionContainer .ConfrimationContainer a:hover
{
    background: url("../images/porespective/btnVisitFacebook.jpg") no-repeat scroll 0 -32px transparent;
}
.porespectiveForm #ContactFormContainer .QuestionContainer .textareaAnswer{
	clear:both;
	float:left;
    width:345px;	
	height:65px;
}
.porespectiveForm  div.tyPhoto{
	background: url("../images/porespective/porespectiveTYImage.jpg") no-repeat scroll left top transparent;    
    height: 407px;
    left: 495px;
    position: absolute;
    text-indent: -9999px;
    top: 275px;
    width: 417px;
}
#vidBlock{
    background:#ddd;
    color:#444;
    font-size:18px;
    height:225px;
    left:50%;
    margin-left:-241px;
    position:absolute;
    text-align:center;
    top:500px;
    width:400px;
}
#vidBlock p{padding:30px 50px 0;}