/* Reset All Styles */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:none;-moz-outline-style:none;}
a:active{outline:0;}
a:focus{-moz-outline-style:none;}
body{line-height:1;}
*:first-child+html body{overflow:visible;}
* html body{overflow:visible;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
/*End Reset */

html {overflow-y:scroll;}

body {
	font:14px Arial,Helvetica,sans-serif; color:#7c7d7c;
	background: #9dd29c	url(../images/common/page_bg.jpg) repeat-x top left;
}

#container {
	position:relative;
    width:100%; height:100%;
}

#left_shadow, #right_shadow {
	position:fixed;
	background: url(../images/common/left_shadow.png) repeat-y top left;
	bottom:0;
	z-index:100;
	width:27px;
	height:100%;
}

#right_shadow {
	background: url(../images/common/right_shadow.png) repeat-y top left;
	right:0;
}

/* global styles - START */
a.moreLink {
    color:#55b9d6;
    text-decoration:none;
}

a.moreLink:hover {
    text-decoration:underline;
}

.clearer {
    clear:both;    
}

sup {
    font-size:70%; vertical-align:top;
}
/* global styles - END */

/* header styles - START */
#header {
	position:relative;
	width:987px;
	margin:0 auto;
	background: transparent url(../images/common/top_bg.jpg) repeat-x top left;
    z-index:99;
}

#logo {
	font-size:12px;
	text-indent:-9000px;
	width:987px; height:68px;
	margin:0 auto;
	background: transparent url(../images/common/logo.gif) no-repeat top left;
}

#logo a {
	display:block;
	width:125px;
	height:100%;
}

#header ul.global_nav {
	width:967px;
	margin:0 auto;
	overflow:hidden;
}

#header ul li.navMenu {
	float:left;
	display:inline;
	height:34px;
	text-indent:-9000px;
	overflow:hidden;
}
#header ul li#globalNav_6{
    width:34px;
}
#header ul li a.global_anchor {
	display:block;
	overflow:hidden;
	width:100%;
	height:100%;
}

#header #navPromo_container{	
	background: url(../images/common/bg_previewLook.png) no-repeat 0 0; 
	height: 109px;
	position: absolute; right:15px;
	width: 261px;
	top:-12px;
}
#header #navPromo_container a#linkPreviewLook{	
	display:block;
	background: url(../images/common/btnPreviewLook.png) no-repeat 0 0; 
	text-indent:-9999px;
	font-size:0px;
	width:172px;
	height:27px;
	position:relative;
	top:81px;
	left:36px;
}
#header #navPromo_container a#linkPreviewLook:hover{
	background: url(../images/common/btnPreviewLook.png) no-repeat 0 -27px; 
}
#header #navPromo_container a#facebook{
	background: url(../images/common/bg_facebook_btn.png) no-repeat 0 0; 
	display: block;
	height: 40px;
	left:43px;
	position: absolute;
	top: 65px;
	width: 173px;
}

#header #facebook_container a#facebook:hover{background-image:none;}

ul li#globalNav_1, ul li#globalNav_1 a.active {
	width:150px;
	background: url(../images/common/nav_our_products_1.gif) no-repeat 0 0;
}

ul li#globalNav_2, ul li#globalNav_2 a.active {
	width:113px;
	background: url(../images/common/nav_whats_new_1.gif) no-repeat 0 0;
}

ul li#globalNav_3, ul li#globalNav_3 a.active {
	width:92px;
	background: url(../images/common/nav_the_buzz_1.gif) no-repeat 0 0;
}

ul li#globalNav_4, ul li#globalNav_4 a.active {
	width:141px;
	background: url(../images/common/nav_sign_me_up_1.gif) no-repeat 0 0;
}

ul li#globalNav_5, ul li#globalNav_5 a.active {
	width:124px;
	background: url(../images/common/nav_where_to_buy_1.gif) no-repeat 0 0;
}

li#globalNav_1 a.global_anchor {background: url(../images/common/nav_our_products_0.gif) no-repeat 0 0;}
li#globalNav_2 a.global_anchor {background: url(../images/common/nav_whats_new_0.gif) no-repeat 0 0;}
li#globalNav_3 a.global_anchor {background: url(../images/common/nav_the_buzz_0.gif) no-repeat 0 0;}
li#globalNav_4 a.global_anchor {background: url(../images/common/nav_sign_me_up_0.gif) no-repeat 0 0;}
li#globalNav_5 a.global_anchor {background: url(../images/common/nav_where_to_buy_0.gif) no-repeat 0 0;}
li#globalNav_6 a.global_anchor {background: url(../images/common/facebookLogo.png) no-repeat 0 0;}

ul.navSubMenu, ul.navSubMenuContact {
    position:absolute; top:102px; left:9px;
    padding:9px 0 18px;
    color:#40a7c6;
    font:bold 13px/18px helvetica,sans-serif;
    background: url(../images/common/bg_navSubMenu.png) no-repeat bottom left;
    /*visibility:hidden;*/
    z-index:99;
    display: none;
}

ul.navSubMenu li.menuHdr, ul.navSubMenuContact li.menuHdr {
    width:300px;
    padding-left:15px;
    text-indent:0;
}

ul.navSubMenu li a, ul.navSubMenuContact li a {
    display:block;
    width:286px;
    padding-left:29px;
    color:#919598;
    font-weight:normal;
    text-decoration:none;
    background: url(../images/common/bg_navSubMenu_0.gif) no-repeat 16px 6px;
    text-indent:0;
}

ul.navSubMenu li a:hover {
    color:#fff;
    background: #47A1BC url(../images/common/bg_navSubMenu_1.png) no-repeat 0 0;
}

ul.navSubMenuContact {
    left:363px;
    background-image: url(../images/common/bg_navSubMenu_contact.png);
    /*visibility:hidden;*/
}

ul.navSubMenuContact li.menuHdr, ul.navSubMenuContact li a {
    width:227px;
    padding-left:15px;
    background-image:none;
}
/* header styles - END */

/* footer styles - START */
#footer, #ctl00_footer{
	background: url(../images/common/bg_footer.jpg) repeat-x top left;
	height:68px;
  margin-top:-54px;
    padding-top:124px;
    color:#fff;
	font-size:10px;
	min-width:987px;
	width:auto !important;
	width:987px;
}

#footer.withHomePromo, #ctl00_footer.withHomePromo {
	margin-top:-132px;
}

#footer.withProdPromo, #ctl00_footer.withProdPromo {
 margin-top:-99px;
}

#footer ul, #ctl00_footer ul{
	width:930px;
	margin:0 auto;
	padding-left:37px;
	overflow:hidden;
	position:relative;
}

#footer ul li, #ctl00_footer ul li {
	float:left; display:inline;
	margin-right:40px;
}

#footer ul li#copyright, #ctl00_footer ul li#copyright {
	position:absolute;
	right:0;
}

#footer ul li a, #ctl00_footer ul li a {
	color:#fff;
}

#footer ul li a:hover, #ctl00_footer ul li a:hover{
	text-decoration:none;
}

#footer #promo_disclaimer, #ctl00_footer #ctl00_promo_disclaimer {
    width:530px;
    margin:0 auto;
    padding:28px 0 20px 0;
}

/* footer styles - END */

/* middle styles - START */
#middle {
    /*width:100%;*/
    min-height:498px; height:auto !important; height:498px;
	background: #fff url(../images/common/bg_middle.jpg) repeat-x top left;
	min-width:987px;
	width:auto !important;
	width:987px;
}

#middle_content, #ctl00_middle_content {
	overflow:hidden;
	position:relative;
	width:967px;
	margin:0 auto;
}

/* some pages need the middle content offset */
.mc_buzz {
    left:-21px;
    background: transparent url(../images/buzz/bg_buzz.jpg) no-repeat 0 0;
}

.mc_prod_detail {
    left:-13px;
}

/* buzz styles - START */
#buzzColA, #buzzColB {
    float:left; display:inline;
    position:relative;
    width:595px;
}

#buzzColB {
    width:346px;
    margin:31px 0 25px 20px;
}

.mc_buzz h2, .mc_buzz h3 {
    position:absolute; top:29px; left:37px;
    width:328px; height:61px;
    background:url(../images/buzz/h2.png) no-repeat 0 0;
    text-indent:-9000px;
}

.mc_buzz h3 {
    top:100px; left:66px;
    width:489px; height:48px;
    background-image:url(../images/buzz/h3.png);
}

#twitter {
    float:left; display:inline;
    width:595px;
    margin-top:139px;
    padding:72px 0 0 0;
    font-size:13px;
    background:url(../images/buzz/twitter_top.png) no-repeat 0 0;
}

.mc_buzz p.buzzMore {
    float:right; display:inline;
    margin-top:10px;
    font-size:13px;
}

.mc_buzz #flickr p.buzzMore {
    margin-top:-3px;
}

.mc_buzz p.buzzMore a span{
    padding-right:11px;
    background:url(../images/common/arrow_blue_sm.png) no-repeat top right;
}

#twitter_list {
    position:relative;
    width:573px;
    margin:0 0 10px 22px;
    padding-bottom:6px;
    background:url(../images/buzz/twitter_btm.png) no-repeat bottom left;
}

#twitter_list dl {
    position:relative;
    width:561px; height:86px;
    margin:0 0 2px 6px;
    color:#92cd91;
    background:url(../images/buzz/bg_tweet.gif) no-repeat 0 0;
}

#twitter_list dl a {
    color:#7d7c7d;
    text-decoration:none;
}

#twitter_list dl a:hover {
    text-decoration:underline;
}

#twitter_list dt, #twitter_list dd {
    display:inline;
}

#twitter_list dt {
    position:relative; top:16px; left:16px;
}

#twitter_list dt img {
    border:3px solid #55b9d6;
}

#twitter_list dd {
    position:absolute; top:20px; left:80px;
    padding-right:10px;
}

#twitter_list dd span a {
    margin-right:8px;
    color:#40a7c6;
}

#flickr div {
    width:346px; height:307px;
    margin-bottom:20px;
    padding-top:6px;
    color:#fff;
    background:url(../images/buzz/bg_flickr_ends.png) no-repeat 0 0;
}

#flickr div p {
    width:346px; height:289px;
    padding-top:6px;
    background:url(../images/buzz/bg_flickr_mid.jpg) no-repeat 0 0;
    text-align:center;
}

#flickr div p img {
    display:block;
    margin:0 auto;
    border:1px solid #fff;
}

#flickr div p span {
    margin:4px 11px 0 0;
    float:right;
    display:block;
    clear:left;
    font-size:12px;
}

#flickr div p span a {
    color:#fff;
    font-weight:bold;
}

#flickr div p span a:hover {
    text-decoration:none;
}

#disclaimer_buzz{
	font-size:10px;
	margin-left:20px;
}

/* buzz styles - END */

/* about biore styles - START */
#about {
    position:relative;
    width:948px; height:595px;
    background: url(../images/about/bg.jpg) no-repeat 0 0;
}

#about h1 {
    position:absolute; top:65px; left:351px;
    width:519px; height:50px;
    text-indent:-9000px;
    background: url(../images/about/h1.png) no-repeat 0 0;
}

#about div {
    position:absolute; top:166px; left:360px;
    width:526px;
}

#about div p {
    margin-bottom:17px;
}

#about div p.indent {
    margin-left:170px;
}

#about a span {
    padding-right:11px;
    background:url(../images/common/arrow_blue_sm.png) no-repeat top right;
}

.aboutGo {
    position:absolute; top:476px; right:44px;
}
/* about biore styles - END */

/* where to buy styles - START */
#where_to_buy {
    position:relative;
    width:948px; height:543px;
    background: url(../images/where_to_buy/bg.png) no-repeat 0 0;
}

#where_to_buy h1 {
    position:absolute; top:416px; left:58px;
    width:251px; height:82px;
    text-indent:-9000px;
    background: url(../images/where_to_buy/h1.png) no-repeat 0 0;
}

#bnm {
    position:absolute; top:45px; left:352px;
    width:575px; height:231px;
}

#online {
    position:absolute; top:290px; left:352px;
    width:575px; height:231px;
}

#bnm h2, #online h2 {
    position:absolute; top:23px; left:24px;
    width:388px; height:17px;
    text-indent:-9000px;
    background: url(../images/where_to_buy/h2_bnm.jpg) no-repeat top left;
}

#online h2 {
    top:22px;
    width:262px; height:19px;
    background: url(../images/where_to_buy/h2_online.jpg) no-repeat top left;
}

/* brick n mortar */
#walmart, #kmart, #target,#rite_aid,#walgreens_bnm,#harmon_bnm,#harmon_online,#cvs_bnm,#cvs_online,#walgreens_online,#walmart_online,#duane_reade,#drugstore,#ulta {
    position:absolute; top:54px; left:34px;
    width:169px; height:47px;
    text-indent:-9000px;
    background: url(../images/where_to_buy/walmart.png) no-repeat 0 0;
}
#kmart {
    top:55px; left:261px;
    width:50px; height:50px;
    background-image: url(../images/where_to_buy/kmart.png);
}
#harmon_bnm {
    top:51px; left:371px;
    width:177px; height:50px;
    background-image: url(../images/where_to_buy/harmon.png);
}
#target {
    top:107px; left:200px;
    width:40px; height:52px;
    background-image: url(../images/where_to_buy/target.png);
}
#rite_aid {
    top:107px; left:315px;
    width:59px; height:52px;
    background-image: url(../images/where_to_buy/rite_aid.png);
}
#walgreens_bnm {
    top:168px; left:75px;
    width:174px; height:39px;
    background-image: url(../images/where_to_buy/walgreens.png);
}
#cvs_bnm {
    top:172px; left:291px;
    width:207px; height:28px;
    background-image: url(../images/where_to_buy/cvs.png);
}

/* online */
#walmart_online {
    top:52px; left:34px;
    width:169px; height:47px;
    background-image: url(../images/where_to_buy/walmart.png);
} 
#ulta {
    top:57px; left:238px;
    width:100px; height:41px;
    background-image: url(../images/where_to_buy/ulta.png);
}
#harmon_online {
    top:47px; left:371px;
    width:177px; height:50px;
    background-image: url(../images/where_to_buy/harmon.png);
}
#duane_reade {
    top:114px; left:117px;
    width:154px; height:39px;
    background-image: url(../images/where_to_buy/duane_reade.png);
}
#drugstore {
    top:116px; left:296px;
    width:143px; height:33px;
    background-image: url(../images/where_to_buy/drugstore.png);
} 
#walgreens_online {
    top:170px; left:74px;
    width:174px; height:39px;
    background-image: url(../images/where_to_buy/walgreens.png);
}
#cvs_online {
    top:174px; left:291px;
    width:207px; height:28px;
    background-image: url(../images/where_to_buy/cvs.png);
}

a:hover#walmart,a:hover#harmon_bnm,a:hover#harmon_online, a:hover#kmart,a:hover#target,a:hover#rite_aid,a:hover#walgreens_bnm,a:hover#cvs_bnm,a:hover#cvs_online,
a:hover#walgreens_online,a:hover#walmart_online,a:hover#duane_reade,a:hover#drugstore,a:hover#ulta {
    background-position:bottom left;
}
/* where to buy styles - END */

/* what's new styles - START */
#whats_new {
    position:relative;
    width:505px; height:415px;
    padding:150px 0 0 443px;
    color:#40a7c6;
    background: url(../images/whats_new/bg.jpg) no-repeat 0 0;
}

#whats_new h1, #whats_new h2 {
    position:absolute; top:53px; left:391px;
    width:319px; height:46px;
    text-indent:-9000px;
    background: url(../images/whats_new/h1.png) no-repeat 0 0;
}

#whats_new h2 {
    top:104px; left:430px;
    width:494px; height:28px;
    background-image: url(../images/whats_new/h2.png);
}

#whats_new h3 {
    font-weight:bold;
    margin-bottom:2px;
}

#whats_new p {
    margin-bottom:3px;
}

#whats_new a {
    color:#40a7c6; text-decoration:none;
}

#whats_new a:hover {
    text-decoration:underline;
}

#whats_new a#promo2Btn {
    background: url('../images/whats_new/promo2_enterBtn.png') left top;
    display: block;
    text-indent: -9999px;
    width: 135px;
    height: 32px;
}

#whats_new a#promo2Btn:hover {
    background-position: left bottom;
}

#whats_new div img {
    float:right; display:inline;
    width:149px; height:121px;
    padding-right:12px;
	*padding-right:0px;
}
#whats_new #newLookProdShot{
	position: relative;
    right: 7px;
	*right: 0px;
    top: 1px;
    width: 161px;
}
#whats_new a span {
    padding-right:11px;
    background:url(../images/common/arrow_blue_sm.png) no-repeat top right;
    cursor: pointer;
}

/* all product styles - START */
#prod_index {
    position:relative;
    width:934px; height:714px;
    padding:38px 0 0 14px;
    background: url(../images/products/index/bg.jpg) no-repeat 0 0;
}

#prod_index #comingSoon {
    position:absolute; top:302px; left:444px;
    width:490px; height:435px;
    text-indent:-9000px;
    background: url(../images/products/index/bg_Corner.jpg) no-repeat 0 0;
}
#prod_index #comingSoon a{
	 background: url(../images/products/index/comingSoonLink.png) no-repeat 0 0;
	position:relative;
	display:block;
	width:280px;
	height:119px;
	top: 280px;
	left:189px;
}
#prod_index #signup {
    float:left; display:inline;
    width:164px; height:399px;
    padding-top:268px;
    color:#009ddb;
}
#prod_index #signup img{border:0px}
#prod_index #signup #proveItLogo{margin: 12px 0 0 8px;width:144px;height:41px;}
#prod_index #signup #loveOurStuff{margin: 12px 0 0 22px;width:123px;height:59px;}
#prod_index #signup p {
    padding: 11px 0 0 18px;
	color:#5c5c5d;
	font-size:13px;
}
#prod_index #signup p a{
	background:url('../images/products/index/btn_StartEarningNow.png') 0 0 no-repeat;
	position:relative;
	height:27px;
	width:149px;
	text-indent:-9999px;
	font-size:0px;
	display:block;
	margin: 10px 0 0 -9px;
}
#prod_index #signup p a:hover{background:url('../images/products/index/btn_StartEarningNow.png') 0 -27px no-repeat;}
#prod_index .prod_cat {
    float:left; display:inline;
    width:756px; height:174px;
    margin-bottom:1px;
}

#prod_index h3 {
    float:left; display:inline;
    width:36px; height:174px;
    text-indent:-9000px;
    background: url(../images/products/index/h3_deep.jpg) no-repeat 0 0;
}

    #complexion_clearing h3 {
        background-image:url(../images/products/index/h3_cc.jpg);
    }

    #pore_strips h3 {
        background-image:url(../images/products/index/h3_pore.jpg);
    }

    #moisturizing h3 {
        background-image:url(../images/products/index/h3_moist.jpg);
    }
	
#prod_index h3.active{background-position:bottom left;}
    
#prod_index .prod_link, #prod_index .prod_link a {
    width:120px; height:174px;
}

#prod_index .prod_link {
    position: relative;
    float:left; display:inline;
}

#prod_index .prod_link a {
    position:absolute; top:0; left:0;
    display:block;
    text-decoration:none;
    cursor:pointer;
}    
   
#prod_index .prod_link a:hover {
    background-position: 0 -174px;
}

#prod_index .prod_link a span {
    display:block;
}
 
#prod_index .prod_link a span.prod_summ {
	visibility:hidden;
    color:#409fbb;  font-size:13px; line-height:16px;
    width:110px;
    padding:0 5px;
    text-align:center;
}

#prod_index .prod_link a.active span.prod_summ {
    visibility:visible;
}

#prod_index .prod_link a span.prod_title {
    width:110px;
    padding:0 5px;
    text-align:center;
    color: #959596; font-size:11px; line-height:12px;
}
#prod_index .prod_link a.active span.prod_title {
	color: #fff;
}

#plink_1 a {background: url(../images/products/index/bg_product_1.jpg) no-repeat 0 0;}
#plink_2 a {background: url(../images/products/index/bg_product_2.jpg) no-repeat 0 0;}
#plink_3 a {background: url(../images/products/index/bg_product_3.jpg) no-repeat 0 0;}
#plink_4 a {background: url(../images/products/index/bg_product_4.jpg) no-repeat 0 0;}
#plink_5 a {background: url(../images/products/index/bg_product_5.jpg) no-repeat 0 0;}
#plink_6 a {background: url(../images/products/index/bg_product_6.jpg) no-repeat 0 0;}
#plink_7 a {background: url(../images/products/index/bg_product_7.jpg) no-repeat 0 0;}
#plink_8 a {background: url(../images/products/index/bg_product_8.jpg) no-repeat 0 0;}
#plink_9 a {background: url(../images/products/index/bg_product_9.jpg) no-repeat 0 0;}
#plink_10 a {background: url(../images/products/index/bg_product_10.jpg) no-repeat 0 0;}
#plink_11 a {background: url(../images/products/index/bg_product_11.jpg) no-repeat 0 0;}
#plink_12 a {background: url(../images/products/index/bg_product_12.jpg) no-repeat 0 0;}
#plink_13 a {background: url(../images/products/index/bg_product_13.jpg) no-repeat 0 0;}
#plink_14 a {background: url(../images/products/index/bg_product_14.jpg) no-repeat 0 0;}
#plink_15 a {background: url(../images/products/index/bg_product_15.jpg) no-repeat 0 0;}
#plink_16 a {background: url(../images/products/index/bg_product_16.jpg) no-repeat 0 0;}
#plink_17 a {background: url(../images/products/index/bg_product_17.jpg) no-repeat 0 0;}

#signup a {
    color:#01658C;
    text-decoration:none;
}

#signup a:hover{
    text-decoration:underline;
}

#signup a span {
    padding-right:13px;
    background:url(../images/common/arrow_blue_dk_sm.png) no-repeat 38px 5px;
}

#cat_bar_grad {
    position:absolute; top:38px; left:214px;
    width:7px; height:699px;
    background:url(../images/products/index/bg_cat_bar_grad.png) repeat-y 0 0;
    z-index:10;
}
/* all product styles - END */

/* product detail styles - START */
#prod_detail {
    position:relative; left:13px;
    margin:0 auto;
    padding-top:43px;
    background: url(../images/products/bg_top.jpg) no-repeat 0 0;
}

#prod_detail_inner {
    padding-bottom:50px;
    background: url(../images/products/bg_btm.png) no-repeat bottom left;
    overflow:hidden; height:1%;
}

#prod_detail .watch_video, #prod_detail .learn_more, #prod_detail #buy_now {
    position:absolute; top:78px; left:-13px;
    width:101px; height:101px;
    text-indent:-9000px;
    z-index:10;
}

/* modifier for learn_more and watch_video only */
#prod_detail .low {
    top:203px;
}

#prod_detail .watch_video a, #prod_detail .learn_more a, #prod_detail #buy_now a {
    display:block;
    width:100%; height:100%;
    background:url(../images/products/watch_video.png) no-repeat 0 0;
}

#prod_detail .learn_more a {
    background-image:url(../images/products/learn_more.png);
}

#prod_detail .watch_video a:hover, #prod_detail .learn_more a:hover, #prod_detail #buy_now a:hover {
    background-position:bottom left;
}

#prod_detail #buy_now {
    top:452px; left:100px;
    width:95px; height:24px;
}

#prod_detail #buy_now a {
    background-image: url(../images/products/buy_now.png);
}

.prod_main_info {
    float:left; display:inline; position:relative;
    min-height:430px; height:auto !important; height:430px; width:472px;
    padding:38px 47px 0 227px;
    line-height:23px;
}

.prod_main_info h1 {
    margin-bottom:8px;
}

/* product images for the background of .prod_main_info */
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13, .p14, .p15, .p16, .p17 { 
    background:url(../images/products/large/1.png) no-repeat 14px 0;
}
.p2 {background-image:url(../images/products/large/2.png);}
.p3 {background-image:url(../images/products/large/3.png);}
.p4 {background-image:url(../images/products/large/4.png);}
.p5 {background-image:url(../images/products/large/5.png);}
.p6 {background-image:url(../images/products/large/6.png);}
.p7 {background-image:url(../images/products/large/7.png);}
.p8 {background-image:url(../images/products/large/8.png);}
.p9 {background-image:url(../images/products/large/9.png);}
.p10 {background-image:url(../images/products/large/10.png);}
.p11 {background-image:url(../images/products/large/11.png);}
.p12 {background-image:url(../images/products/large/12.png);}
.p13 {background-image:url(../images/products/large/13.png);}
.p14 {background-image:url(../images/products/large/14.png);}
.p15 {background-image:url(../images/products/large/15.png);}
.p16 {background-image:url(../images/products/large/16.png);}
.p17 {background-image:url(../images/products/large/17.png);}

.prod_main_info h3 {
    margin:0 0 30px 58px;
    font-size:17px; line-height:22px; color:#40a7c6; font-weight:normal;
}

.prod_main_info h3 span {
    margin-right:6px;
    color:#f184b5; font-weight:bold;
}

#product_detail_tabs {
    margin-left:58px;
}

/* styles for the product detail tab content */
#product_detail_tabs div {
    line-height:18px;
}

#product_detail_tabs p {
    margin-bottom:3px;
    line-height:21px;
}

#product_detail_tabs p span {
    color:#40a7c6; font-weight:bold;
}

#product_detail_tabs div ul li, #ltCautionsInner ul li {
    position:relative;
    padding-left:10px;
    background:url(../images/common/bullet.gif) no-repeat 0 7px;
}

#product_detail_tabs div ol, #ltCautionsInner ol {
    list-style-type:decimal;
    padding-left:25px;
    font-weight:bold;
}

#ltCautionsInner ol {
    font-weight:normal;
}

#product_detail_tabs div ol li span {
    font-weight:normal;
}

#product_detail_tabs div li, #ltCautionsInner ul li {
    margin-bottom:5px;    
}

/* product badge images */
.b1, .b2, .b3, .b4{
	display: block;
	position:absolute;
}
.b1 {
	background:url(../images/products/badge/bg_badge_1.png) no-repeat 0 0;
	height: 99px;
	width: 108px;
}
.b2 {
	background:url(../images/products/badge/bg_badge_2.png) no-repeat 0 0;
	height: 84px;
	width: 81px;
}
.b3 {
	background:url(../images/products/badge/bg_badge_3.png) no-repeat 0 0;
	height: 70px;
	width: 98px;	
}
.b4 {
	background:url(../images/products/badge/bg_badge_4.png) no-repeat 0 0;
	height: 94px;
	width: 66px;
}

ul#tab_nav {
    height:33px;
    margin-bottom:10px;
    background:url(../images/products/bg_tabs.gif) no-repeat 0 0;
}

#tab_nav li {
    float:left; display:inline;
    width:136px; height:33px;
    padding-top:5px;
    text-align:center;
}

#tab_nav li a, #prod_add_info ul#works_great_with li a {
    display:block;
    width:100%; height:100%;
    text-decoration:none;
}

#tab_nav li a {
    color:#a3a7aa; font-weight:bold;
}

#tab_nav li a:hover {
    color:#40a7c6;
}

.ui-tabs .ui-tabs-hide {display: none;}

#tab_nav li.ui-tabs-selected a {
    color:#40a7c6;
    background:url(../images/products/bg_tab_selected.gif) no-repeat 64px 25px;
}

.prod_main_info p span {
    display:block;
    color:#40a7c6;
    font-weight:bold;
}

#prod_add_info {
    float:left; display:inline;
    width:158px;
    padding-top:20px;
}

#prod_add_info h4 {
    padding:16px 0 0 16px;
    font-size:15px; line-height:15px; font-weight:normal;
    background:url(../images/products/bg_h4.gif) no-repeat 0 0;
}

#prod_add_info ul {
    padding-bottom:5px;
    background:url(../images/products/bg_add_ul.png) no-repeat bottom left;
}

#prod_add_info ul#when_to_use {
    margin-bottom:3px;
}

ul#when_to_use li {
    padding:15px 0 0 56px;
    height:24px;
    background:url(../images/products/bg_calendar.gif) no-repeat 18px 10px;
}

ul#when_to_use li#clock {
    padding-bottom:15px;
    background:url(../images/products/bg_clock.gif) no-repeat 16px 10px;
}

#prod_add_info ul#works_great_with {
    font-size:12px; line-height:14px;
}

#prod_add_info ul#works_great_with li {
    margin:0 4px;
    text-align:center;
    border-top:1px solid #d7d8d7;
}

#prod_add_info ul#works_great_with li#prod_image_sm {
    padding:8px 0;
    border-top:0 none;
}

#prod_add_info ul#works_great_with li a {
    /*padding:8px 0;*/
    color:#7d7e7d;
}

#prod_add_info ul#works_great_with li a:hover {
    background:url(../images/products/bg_works_btm.gif) no-repeat bottom left;
}

#prod_add_info ul#works_great_with li a span.wgwOuter {
    display:block;
    padding:8px 0;
    /*padding:0 12px;*/
}

#prod_add_info ul#works_great_with li a:hover span.wgwOuter {
    color:#40a7c6;
    background:url(../images/products/bg_works_top.gif) no-repeat top left;
}

#prod_add_info ul#works_great_with li a span.wgwInner {
    display:inline;
    padding:0 8px;
    /*padding:12px;
    background:url(../images/common/arrow_grey_sm.png) no-repeat right 15px;*/
}

#prod_add_info ul#works_great_with li a:hover span.wgwInner {
    /*background:url(../images/common/arrow_blue_sm.png) no-repeat right 15px;*/
}

#product_detail_tabs p#cottonPromo {
  font-size:8px;
  line-height:12px;
  margin:25px 0 0 12px;
  padding-top: 50px;
  background: url(../images/products/cottonLogo.png) top left no-repeat;
}
#product_detail_tabs p#cottonPromo span {
  color: #7C7D7C;
  font-weight: normal;
}
/* product detail styles - END */


#home_theatre #no_flash{
	background:url('../images/home/no_flash.png');
	height:407px;
	position:relative;
	width:940px;
}
#home_theatre #no_flash *{
	text-indent:-9999px;
}
#home_theatre #no_flash a#noFlashLink{
	display: block;
    height: 23px;
    left: 489px;
    position: absolute;
    top: 288px;
    width: 427px;
}
#home_theatre #no_flash a#noFlashLink:hover{
	background:url('../images/home/no_flash_a_hover_link.png') top left no-repeat;
}

#home_theatre #no_flash p#disclaimer a{
	display:block;
	height:13px;
	left:611px;
	position:absolute;
	top:359px;
	width:100px;
}
#home_theatre #no_flash p#disclaimer a:hover{
	background:url('../images/home/no_flash_disclaimer_a_hover_link.jpg');
}

/* home page promos - START */
#home_promos {
    width:967px; height:161px;
    color:#40a7c6; font-size:13px;
    z-index:100;
}

#home_promos div {
    float:left; display:inline;
    width:176px; height:161px;
    padding-left:129px; /*width of image*/
    background:url(../images/home/home_promo_1.png) no-repeat 0 0;
}

#home_promos div#promo2 {
  width:213px;
  padding-left:122px;  /*width of image*/
  background:url(../images/home/home_promo_2.png) no-repeat 0 8px;
}
    #home_promos div#promoCoupon {
      width:171px; height:166px;
      padding-left:164px;
      text-indent:-9000px;
      background-image:url(../images/home/home_promo_coupon.png);
    }
#home_promos div#promo3 {
  width:203px;
  padding-left:124px; /*width of image*/
  background-image:url(../images/home/home_promo_3.png);
}

#home_promos p {
  display:block;
  margin-top:20px;
  padding:0 15px 0 12px;
  background: url(../images/home/arrow_promo.png) no-repeat 0 0;
}

#home_promos a {
  color:#40a7c6;
  text-decoration:none;
}

#home_promos a:hover {
  text-decoration:underline;
}
    #home_promos div#promoCoupon p {
      margin-top:11px;
      padding-left:0;
      background:none;
    }
    #home_promos div#promoCoupon p a {
        display:block;
        width:135px; height:83px;
        background:url(../images/home/save_now.png) no-repeat 0 0;  
    }
    #home_promos div#promoCoupon p a:hover {
        background-position:0 -83px;
        text-decoration:none;
    }
/* home page promos - END */

#prod_promo {
  position:relative;
  margin-top:-54px; _top: -54px; _margin-top: 0;
  margin-bottom:0;
  height:189px;
    color:#40a7c6;
    font-size:14px; line-height:18px;
  z-index:1000;
}

#prod_promo h5 {
    line-height:0;
    text-indent:-9000px;
}

#prod_promo p {
    position:absolute; top:80px; left:648px;
}

#prod_promo a{
    color:#40a7c6;
    text-decoration:none;
}

#prod_promo a:hover {
    text-decoration:underline;
}

#prod_promo a span{
    padding-right:19px;
    background:url(../images/common/arrow_blue_lg.png) no-repeat top right;
    cursor: pointer;
}

/*
#prod_promo a span {
    float:right; display:inline;
    position:relative;
    margin-left:6px;
    width:13px; height:14px;
    background:url(../images/common/arrow_blue_lg.png) no-repeat 0 0;
}
*/

.promo1, .promo2, .promo3, .promo4, .promo5 {
    background:url(../images/products/promo/bg_promo_1.png) no-repeat 0 0;
}    
    
.promo2 {
    background-image:url(../images/products/promo/bg_promo_2.png);
}    

.promo3 {
    background-image:url(../images/products/promo/bg_promo_3.png);
}    

.promo4 {
    background-image:url(../images/products/promo/bg_promo_4.png);
}    

.promo5 {
    background-image:url(../images/products/promo/bg_promo_5.png);
}    

.promo6 {
    background-image:url(../images/products/promo/bg_promo_6.png);
} 
.promo7 {
    background-image:url(../images/products/promo/bg_promo_7.png);
} 
.promo7 a {
    display: block;
    text-indent: -9999px;
    background-image:url(../images/products/promo/bg_promo_7_aLink.png);
    position: absolute;
    top: 50px;
    left: -247px;
    width: 147px;
    height: 31px;
}   
.promo7 a:hover {
    background: none;
}   
#middle .promo8,#middle .promo9,#middle .promo10,#middle .promo11,#middle .promoWhereToBuy{
	height: 304px;
    left: 58px;
    top: 21px;
    width: 865px;
}
#middle .promoWhereToBuy{
	height:274px
}
#middle .promo8,#middle .promo9,#middle .promo10{
		background:url(../images/products/promo/bg_promo_ProveIt_1.png) top left no-repeat;
}
#middle .promo11,#middle .promoWhereToBuy{
		background:url(../images/products/promo/bg_promo_ProveIt_2.png) top left no-repeat;
}
#middle .promo8 h5,#middle .promo9 h5,#middle .promo10 h5,#middle .promo11 h5,#middle .promoWhereToBuy h5{
	position: relative;
    top: 90px;
	left:394px;
    width: 426px;
	text-indent: -9999px;
}
#middle .promo8 h5{
	background:url(../images/products/promo/h5_promo_8.jpg) top left no-repeat;
	width:426px;
	height:16px;
} 
#middle .promo9 h5{
	background:url(../images/products/promo/h5_promo_9.jpg) top left no-repeat;
	width:356px;
	height:16px;
} 
#middle .promo10 h5{
	background:url(../images/products/promo/h5_promo_10.jpg) top left no-repeat;
	width:378px;
	height:16px;
}
#middle .promo11 h5{
	background:url(../images/products/promo/h5_promo_11.jpg) top left no-repeat;
	width:378px;
	height:16px;
}
#middle .promoWhereToBuy h5{
	background:url(../images/where_to_buy/h5_promo_wtb.jpg) top left no-repeat;
	width:346px;
	height:21px;
	top:85px;
}
#middle .promo8 a,#middle .promo9 a,#middle .promo10 a,#middle .promo11 a,#middle .promoWhereToBuy a{
	color: #7c7d7c;
    display: block;
    left: -255px;
    position: relative;
    text-decoration: none;
    top: 35px;
    width: 426px;
}
#middle .promo8 a:hover,#middle .promo9:hover,#middle .promo10:hover,#middle .promo11 a:hover,#middle .promoWhereToBuy a:hover{
	text-decoration:none;
}
#middle .promo8 span,#middle .promo9 span,#middle .promo10 span,#middle .promo11 span,#middle .promoWhereToBuy span{
	background: url("../images/optin/btnProveIt.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 0;
    height: 27px;
    text-indent: -9999px;
    top: 170px;
    width: 181px;
	margin-top:10px;
}
#middle .promo9 span{margin-top:30px;}
#middle .promo8 span:hover,#middle .promo9 span:hover,#middle .promo10 span:hover,#middle .promo11 span:hover,#middle .promoWhereToBuy span:hover{
	background: url("../images/optin/btnProveIt.png") no-repeat scroll 0 -27px transparent;
}
#prod_promo.promo2 p {
    top:120px; left:706px;
}
    
#prod_promo.promo3 p {    
    top:138px; left:693px;
}    

#prod_promo.promo4 p {
    top:135px; left:614px;
}
    
#prod_promo.promo5 p {    
    top:138px; left:646px;
}   

#prod_promo.promo6 p {    
   top:138px; left:736px;
}

/* See Detail link styles */
a.seeDetail{
    color:#40a7c6;
    font-size:11px; text-decoration:none; font-weight: bold; font-style: italic;
	position:absolute;
}

a.seeDetail span{
    padding-right:13px;
    background:url(../images/common/arrow_blue_sm.png) no-repeat right -2px;
}

a.seeDetail:hover{text-decoration: underline;}

div#ltIngredInner, div#ltCautionsInner{
   background:url(../images/common/bg_pop.gif) no-repeat 0 0;
   color: #797a79;
   padding: 40px 30px 30px 30px;
   height: 315px;
   width: 412px;
}

a.lkPop{
	color: #797A79;	
	font-weight: bold;
	text-decoration: none;
}

a.lkPop:hover{
	text-decoration: underline;
}

a.lkPop span{
    padding-right:13px;
    background:url(../images/common/arrow_grey_sm.png) no-repeat right 4px;
    cursor: pointer;
}

div#ltIngredInner a.video_close, div#ltCautionsInner a.video_close{
	background:url(../images/common/close_pop.gif) no-repeat 0 0;
	height: 13px;
	width: 52px;
	margin: 25px 15px 0 0;
}

div#ltIngredInner a.video_close:hover, div#ltCautionsInner a.video_close:hover{
	background-position:bottom left;
}

div#ltIngredInner h5, div#ltCautionsInner h5{
	color: #6ABB69;
	font-weight: bold;
	margin-bottom: 6px;
}

div#ltIngredInner p, div#ltCautionsInner p{
	margin-bottom: 14px;
}

#cautionsURL a.lkPop span{background-position: 65px 5px;}
.pagenotfound #prod_detail_inner {
  min-height: 350px; _height: 350px;
  text-align: center;
  padding-top: 30px;
}
.pagenotfound #prod_detail_inner h1{
  font-size:24px;
  font-weight:bold;
  margin:0 0 10px;
}
.pagenotfound #prod_detail_inner a {
  color:#40A7C6;
  text-decoration:none;
}
.pagenotfound #prod_detail_inner a:hover {
  color:#40A7C6;
  text-decoration:underline;
}
#prod_detail.unsubscribe  {
  width:946px;
  left: auto;
}
#prod_detail.unsubscribe #prod_detail_inner {
  padding-top: 30px; min-height: 350px; _height: 350px;
}
#prod_detail.unsubscribe #prod_detail_inner #usub_main {
  background: url(/USA/images/p_aboutBiore.jpg) top right no-repeat;
  margin: 0 35px; padding: 0 200px 25px 0;
  min-height: 250px; _height: 250px;
}
#prod_detail.unsubscribe #prod_detail_inner #usub_main img, #prod_detail.unsubscribe #prod_detail_inner #usub_main p {
  padding-bottom: 10px;
}

input#imageField {
  background: url('../images/contact/btn_unsubscribe.png') top left no-repeat;
  width: 144px; height: 24px; border: none; text-indent: -9000px; cursor: pointer;
}
input#imageField:hover {
  background-position: bottom left;
}
/* Styles for Lightboxes - video & caution/ingredients */

/* lightbox with different close button */
.video_close{
	height:32px;
	display:block;
	width:32px;
	position:absolute;
	top:0px;
	right:15px;
	cursor:pointer;
	z-index:50000;
  background:transparent url(/usa/images/common/close.gif) no-repeat center;
}

.video_close_over{
  background:transparent url(/usa/images/common/close_over.gif) no-repeat center;}

.video_close:hover span{background-image:none;}

div#ltIngredInner a.video_close, div#ltCautionsInner a.video_close{
  background:url(../images/common/close_pop-norm.gif) no-repeat 0 0;
}
div#ltIngredInner a:hover.video_close, div#ltCautionsInner a:hover.video_close{
 background:url(../images/common/close_pop-over.gif) no-repeat 0 0;
}

#product_detail_flash_lbVideo, #product_detail_flash_lbPromo {
  background:transparent url(../images/common/bg_vid_pop.gif) no-repeat scroll 0 25px;
  padding:32px 16px 15px 8px;
}
#product_detail_flash_lbVideo.wide_video, #product_detail_flash_lbPromo.wide_video {
  background:transparent url(../images/common/bg_vid_wide_pop.gif) no-repeat scroll 0 25px;
  padding:32px 16px 15px 8px;
}
#product_detail_flash_lbVideo embed,
#product_detail_flash_lbPromo embed,
#product_detail_flash_lbVideo object,
#product_detail_flash_lbPromo object {
  margin-top: 1px;
}
.macff2 {display:none;}
#product_detail_flash_lbVideo .no-flash, #product_detail_flash_lbPromo .no-flash {
  background:#b7dab7; text-align:center; color:#767A7C;
  width: 532px; height: 424px;
}
#product_detail_flash_lbVideo.wide_video .no-flash, #product_detail_flash_lbPromo.wide_video .no-flash {
  background:#b7dab7; text-align:center; color:#767A7C;
  width: 641px; height: 383px;
}

#prod_disclaimer{font-size:10px;}

/* Styles New Look Coming Soon Page */
 #comingSoon_top{
	background: url("/usa/images/new_look/bg_top.jpg") no-repeat scroll 0 0 transparent;
    font-size: 12px;
    margin: 0 auto;
    padding-top: 43px;
    position: relative;

}
#comingSoon_inner{
	padding-bottom:50px;
	background: url(../images/new_look/bg_bottom.png) no-repeat bottom left;
    overflow:hidden; height:1016px;
	width:948px;
	margin-top: -73px;
	position:relative;
} 

#comingSoon_inner  #hdr_ComingSoon{
    background: url("/usa/images/new_look/hdr_FreshenUp.png") no-repeat scroll 0 0 transparent;
    height: 178px;
	width:350px;
    left: 14px;
    position: relative;
    top: 126px;
	text-indent:-9999px;
}
#comingSoon_inner  #hdr_ProveIt{
	background: url("/usa/images/new_look/hdr_ProveIt.png") no-repeat scroll 0 0 transparent;
    height: 181px;
	width: 387px;
    left: 14px;
    position: relative;
    text-indent: -9999px;
    top: 240px;
}
#comingSoon_inner  #hdr_KeepEarning{
	background: url("/usa/images/new_look/hdr_keepEarning.png") no-repeat scroll 0 0 transparent;
    height: 49px;
	width: 521px;  
    left: 413px;
    position: relative;
    text-indent: -9999px;
    top: 75px;    
	*left:232px;
}
#comingSoon_inner  #hdr_SignUp{
	 background: url("/usa/images/new_look/hdr_WrapUp.jpg") no-repeat scroll 0 0 transparent;
    height: 53px;
    left: 171px;
    position: relative;
    text-indent: -9999px;
    top: 165px;
    width: 595px;
}
#comingSoon_inner  #hdr_BestClean{
	background: url("/usa/images/new_look/hdr_BestClean.jpg") no-repeat scroll center bottom transparent;
    border-top: 1px solid #DEDEDE;
    font-size: 0;
    height: 57px;
    left: 148px;
    position: relative;
    text-indent: -9999px;
    top: 260px;
    width: 632px;
	*left:0px;
}
#comingSoon_inner  #linkStartEarning{
	background: url("../images/optin/btnProveIt.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 0;
    height: 27px;
    left: 48px;
    position: relative;
    text-indent: -9999px;
    top: 170px;
    width: 181px;
}
#comingSoon_inner  #linkStartEarning:hover{background: url("../images/optin/btnProveIt.png") no-repeat scroll 0 -27px transparent;}
#comingSoon_inner  #linkSignUp{
	 background: url("../images/new_look/btnSignUp.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 0;
    height: 32px;
    left: 355px;
    position: relative;
    text-indent: -9999px;
    top: 195px;
    width: 172px;
}
#comingSoon_inner  #linkSignUp:hover{background: url("../images/new_look/btnSignUp.jpg") no-repeat scroll 0 -32px transparent;}
#comingSoon_inner p {
	position: relative;
	display: block;
	font:16px/16px Arial,Helvetica,sans-serif; color:#073b87;
}
#comingSoon_inner  #p1{	
    left: 123px;    
    top: 137px;
	width: 220px;
	height: 143px;
}
#comingSoon_inner  #p2{
    left: 461px;
    top: 90px;
	width:425px;
}

