/* Reset All Styles */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:none;-moz-outline-style:none;}
a:active{outline:0;}
a:focus{-moz-outline-style:none;}
body{line-height:1;}
*:first-child+html body{overflow:visible;}
* html body{overflow:visible;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
/*End Reset */

html {overflow-y:scroll;}

body {
	font:14px Arial,Helvetica,sans-serif; color:#7c7d7c;
	background: #9dd29c	url(../images/common/page_bg.jpg) repeat-x top left;
}

#container {
	position:relative;
    width:100%; height:100%;
}

#left_shadow, #right_shadow {
	position:fixed;
	background: url(../images/common/left_shadow.png) repeat-y top left;
	bottom:0;
	z-index:100;
	width:27px;
	height:100%;
}

#right_shadow {
	background: url(../images/common/right_shadow.png) repeat-y top left;
	right:0;
}

/* global styles - START */
a.moreLink {
    color:#55b9d6;
    text-decoration:none;
}

a.moreLink:hover {
    text-decoration:underline;
}

.clearer {
    clear:both;    
}

sup {
    font-size:70%; vertical-align:top;
}
/* global styles - END */

/* header styles - START */
#header {
	position:relative;
	width:987px;
	margin:0 auto;
	background: transparent url(../images/common/top_bg.jpg) repeat-x top left;
    z-index:99;
}

#logo {
	font-size:12px;
	text-indent:-9000px;
	width:987px; height:68px;
	margin:0 auto;
	background: transparent url(../images/common/logo.gif) no-repeat top left;
}

#logo a {
	display:block;
	width:125px;
	height:100%;
}

#header ul.global_nav {
	width:967px;
	margin:0 auto;
	overflow:hidden;
}

#header ul li.navMenu {
	float:left;
	display:inline;
	height:34px;
	text-indent:-9000px;
	overflow:hidden;
}

#header ul li a.global_anchor {
	display:block;
	overflow:hidden;
	width:100%;
	height:100%;
}

#header #facebook_container{
	background: url(../images/common/bg_facebook.png) no-repeat 0 0; 
	height: 103px;
	position: absolute; right:15px;
	width: 261px;
}

#header #facebook_container a#facebook{
	background: url(../images/common/bg_facebook_btn.png) no-repeat 0 0; 
	display: block;
	height: 40px;
	left:43px;
	position: absolute;
	top: 65px;
	width: 173px;
}

#header #facebook_container a#facebook:hover{background-image:none;}

ul li#globalNav_1, ul li#globalNav_1 a.active {
	width:150px;
	background: url(../images/common/nav_our_products_1.gif) no-repeat 0 0;
}

ul li#globalNav_2, ul li#globalNav_2 a.active {
	width:113px;
	background: url(../images/common/nav_whats_new_1.gif) no-repeat 0 0;
}

ul li#globalNav_3, ul li#globalNav_3 a.active {
	width:92px;
	background: url(../images/common/nav_the_buzz_1.gif) no-repeat 0 0;
}

ul li#globalNav_4, ul li#globalNav_4 a.active {
	width:141px;
	background: url(../images/common/nav_sign_me_up_1.gif) no-repeat 0 0;
}

ul li#globalNav_5, ul li#globalNav_5 a.active {
	width:122px;
	background: url(../images/common/nav_where_to_buy_1.gif) no-repeat 0 0;
}

li#globalNav_1 a.global_anchor {background: url(../images/common/nav_our_products_0.gif) no-repeat 0 0;}
li#globalNav_2 a.global_anchor {background: url(../images/common/nav_whats_new_0.gif) no-repeat 0 0;}
li#globalNav_3 a.global_anchor {background: url(../images/common/nav_the_buzz_0.gif) no-repeat 0 0;}
li#globalNav_4 a.global_anchor {background: url(../images/common/nav_sign_me_up_0.gif) no-repeat 0 0;}
li#globalNav_5 a.global_anchor {background: url(../images/common/nav_where_to_buy_0.gif) no-repeat 0 0;}

ul.navSubMenu, ul.navSubMenuContact {
    position:absolute; top:102px; left:9px;
    padding:9px 0 18px;
    color:#40a7c6;
    font:bold 13px/18px helvetica,sans-serif;
    background: url(../images/common/bg_navSubMenu.png) no-repeat bottom left;
    /*visibility:hidden;*/
    z-index:99;
}

ul.navSubMenu li.menuHdr, ul.navSubMenuContact li.menuHdr {
    width:300px;
    padding-left:15px;
    text-indent:0;
}

ul.navSubMenu li a, ul.navSubMenuContact li a {
    display:block;
    width:286px;
    padding-left:29px;
    color:#919598;
    font-weight:normal;
    text-decoration:none;
    background: url(../images/common/bg_navSubMenu_0.gif) no-repeat 16px 6px;
    text-indent:0;
}

ul.navSubMenu li a:hover {
    color:#fff;
    background: url(../images/common/bg_navSubMenu_1.png) no-repeat 0 0;
}

ul.navSubMenuContact {
    left:363px;
    background-image: url(../images/common/bg_navSubMenu_contact.png);
    /*visibility:hidden;*/
}

ul.navSubMenuContact li.menuHdr, ul.navSubMenuContact li a {
    width:227px;
    padding-left:15px;
    background-image:none;
}
/* header styles - END */

/* footer styles - START */
#footer, #ctl00_footer{
	background: url(../images/common/bg_footer.jpg) repeat-x top left;
	height:68px;
	margin-top:-54px;
    padding-top:124px;
    color:#fff;
	font-size:10px;
}

#footer.withHomePromo, #ctl00_footer.withHomePromo {
	margin-top:-132px;
}

#footer.withProdPromo, #ctl00_footer.withProdPromo {
	margin-top:-99px;
}

#footer ul, #ctl00_footer ul{
	width:930px;
	margin:0 auto;
	padding-left:37px;
	overflow:hidden;
	position:relative;
}

#footer ul li, #ctl00_footer ul li {
	float:left; display:inline;
	margin-right:40px;
}

#footer ul li#copyright, #ctl00_footer ul li#copyright {
	position:absolute;
	right:0;
}

#footer ul li a, #ctl00_footer ul li a {
	color:#fff;
}

#footer ul li a:hover, #ctl00_footer ul li a:hover{
	text-decoration:none;
}

#footer #promo_disclaimer, #ctl00_footer #ctl00_promo_disclaimer {
    width:530px;
    margin:0 auto;
    padding:28px 0 20px 0;
}

/* footer styles - END */

/* middle styles - START */
#middle {
    /*width:100%;*/
    min-height:498px; height:auto !important; height:498px;
	background: #fff url(../images/common/bg_middle.jpg) repeat-x top left;
}

#middle_content, #ctl00_middle_content {
	overflow:hidden;
	position:relative;
	width:967px;
	margin:0 auto;
}

/* some pages need the middle content offset */
.mc_buzz {
    left:-21px;
    background: transparent url(../images/buzz/bg_buzz.jpg) no-repeat 0 0;
}

.mc_prod_detail {
    left:-13px;
}

/* buzz styles - START */
#buzzColA, #buzzColB {
    float:left; display:inline;
    position:relative;
    width:595px;
}

#buzzColB {
    width:346px;
    margin:31px 0 25px 20px;
}

.mc_buzz h2, .mc_buzz h3 {
    position:absolute; top:29px; left:37px;
    width:328px; height:61px;
    background:url(../images/buzz/h2.png) no-repeat 0 0;
    text-indent:-9000px;
}

.mc_buzz h3 {
    top:100px; left:66px;
    width:489px; height:48px;
    background-image:url(../images/buzz/h3.png);
}

#twitter {
    float:left; display:inline;
    width:595px;
    margin-top:139px;
    padding:72px 0 0 0;
    font-size:13px;
    background:url(../images/buzz/twitter_top.png) no-repeat 0 0;
}

#twitter p {
    float:right; display:inline;
    margin-top:10px;
}

#twitter p a span {
    padding-right:11px;
    background:url(../images/common/arrow_blue_sm.png) no-repeat right 5px;
}

#twitter_list {
    position:relative;
    width:573px;
    margin:0 0 10px 22px;
    padding-bottom:6px;
    background:url(../images/buzz/twitter_btm.png) no-repeat bottom left;
}

#twitter_list dl {
    position:relative;
    width:561px; height:86px;
    margin:0 0 2px 6px;
    color:#92cd91;
    background:url(../images/buzz/bg_tweet.gif) no-repeat 0 0;
}

#twitter_list dl a {
    color:#7d7c7d;
    text-decoration:none;
}

#twitter_list dl a:hover {
    text-decoration:underline;
}

#twitter_list dt, #twitter_list dd {
    display:inline;
}

#twitter_list dt {
    position:relative; top:16px; left:16px;
}

#twitter_list dt img {
    border:3px solid #55b9d6;
}

#twitter_list dd {
    position:absolute; top:20px; left:80px;
    padding-right:10px;
}

#twitter_list dd span a {
    margin-right:8px;
    color:#40a7c6;
}

#flickr div {
    width:346px; height:307px;
    margin-bottom:20px;
    padding-top:6px;
    color:#fff;
    background:url(../images/buzz/bg_flickr_ends.png) no-repeat 0 0;
}

#flickr div p {
    width:346px; height:289px;
    padding-top:6px;
    background:url(../images/buzz/bg_flickr_mid.jpg) no-repeat 0 0;
    text-align:center;
}

#flickr div p img {
    display:block;
    margin:0 auto;
    border:1px solid #fff;
}

#flickr div p span {
    margin:4px 11px 0 0;
    float:right;
    display:block;
    clear:left;
    font-size:12px;
}

#flickr div p span a {
    color:#fff;
    font-weight:bold;
}

#flickr div p span a:hover {
    text-decoration:none;
}
/* buzz styles - END */

/* about biore styles - START */
#about {
    position:relative;
    width:948px; height:595px;
    background: url(../images/about/bg.jpg) no-repeat 0 0;
}

#about h1 {
    position:absolute; top:65px; left:351px;
    width:519px; height:50px;
    text-indent:-9000px;
    background: url(../images/about/h1.png) no-repeat 0 0;
}

#about div {
    position:absolute; top:166px; left:360px;
    width:526px;
}

#about div p {
    margin-bottom:17px;
}

#about div p.indent {
    margin-left:170px;
}

#about a span {
    padding-right:11px;
    background:url(../images/common/arrow_blue_sm.png) no-repeat right 5px;
}

.aboutGo {
    position:absolute; top:476px; right:44px;
}
/* about biore styles - END */

/* where to buy styles - START */
#where_to_buy {
    position:relative;
    width:948px; height:543px;
    background: url(../images/where_to_buy/bg.jpg) no-repeat 0 0;
}

#where_to_buy h1 {
    position:absolute; top:416px; left:58px;
    width:251px; height:82px;
    text-indent:-9000px;
    background: url(../images/where_to_buy/h1.png) no-repeat 0 0;
}

#bnm {
    position:absolute; top:45px; left:352px;
    width:575px; height:231px;
}

#online {
    position:absolute; top:290px; left:352px;
    width:575px; height:231px;
}

#bnm h2, #online h2 {
    position:absolute; top:23px; left:24px;
    width:388px; height:17px;
    text-indent:-9000px;
    background: url(../images/where_to_buy/h2_bnm.jpg) no-repeat top left;
}

#online h2 {
    width:258px;
    background: url(../images/where_to_buy/h2_online.jpg) no-repeat top left;
}

/* brick n mortar */
#walmart,#target,#rite_aid,#walgreens_bnm,#cvs_bnm,#cvs_online,#walgreens_online,#duane_reade,#drugstore,#ulta {
    position:absolute; top:66px; left:49px;
    width:169px; height:47px;
    text-indent:-9000px;
    background: url(../images/where_to_buy/walmart.png) no-repeat 0 0;
}

#target {
    top:59px; left:294px;
    width:53px; height:65px;
    background-image: url(../images/where_to_buy/target.png);
}

#rite_aid {
    top:59px; left:434px;
    width:77px; height:67px;
    background-image: url(../images/where_to_buy/rite_aid.png);
}

#walgreens_bnm {
    top:145px; left:74px;
    width:174px; height:39px;
    background-image: url(../images/where_to_buy/walgreens.png);
}

#cvs_bnm {
    top:149px; left:291px;
    width:207px; height:28px;
    background-image: url(../images/where_to_buy/cvs.png);
}

/* online */
#cvs_online {
    top:71px; left:83px;
    width:207px; height:28px;
    background-image: url(../images/where_to_buy/cvs.png);
}

#walgreens_online {
    top:69px; left:327px;
    width:174px; height:39px;
    background-image: url(../images/where_to_buy/walgreens.png);
}

#duane_reade {
    top:143px; left:61px;
    width:154px; height:39px;
    background-image: url(../images/where_to_buy/duane_reade.png);
}

#drugstore {
    top:146px; left:246px;
    width:143px; height:33px;
    background-image: url(../images/where_to_buy/drugstore.png);
}

#ulta {
    top:144px; left:427px;
    width:100px; height:41px;
    background-image: url(../images/where_to_buy/ulta.png);
}

a:hover#walmart,a:hover#target,a:hover#rite_aid,a:hover#walgreens_bnm,a:hover#cvs_bnm,a:hover#cvs_online,
a:hover#walgreens_online,a:hover#duane_reade,a:hover#drugstore,a:hover#ulta {
    background-position:bottom left;
}
/* where to buy styles - END */

/* what's new styles - START */
#whats_new {
    position:relative;
    width:505px; height:415px;
    padding:150px 0 0 443px;
    color:#40a7c6;
    background: url(../images/whats_new/bg.jpg) no-repeat 0 0;
}

#whats_new h1, #whats_new h2 {
    position:absolute; top:53px; left:358px;
    width:319px; height:46px;
    text-indent:-9000px;
    background: url(../images/whats_new/h1.png) no-repeat 0 0;
}

#whats_new h2 {
    top:104px; left:401px;
    width:494px; height:28px;
    background-image: url(../images/whats_new/h2.png);
}

#whats_new h3 {
    font-weight:bold;
    margin-bottom:2px;
}

#whats_new p {
    margin-bottom:3px;
}

#whats_new a {
    color:#40a7c6; text-decoration:none;
}

#whats_new a:hover {
    text-decoration:underline;
}

#whats_new div img {
    float:right; display:inline;
    width:149px; height:121px;
    padding-right:12px;
}

#whats_new a span {
    padding-right:11px;
    background:url(../images/common/arrow_blue_sm.png) no-repeat right 5px;
}

/* all product styles - START */
#prod_index {
    position:relative;
    width:934px; height:714px;
    padding:38px 0 0 14px;
    background: url(../images/products/index/bg.jpg) no-repeat 0 0;
}

#prod_index h1 {
    position:absolute; top:302px; left:611px;
    width:323px; height:435px;
    text-indent:-9000px;
    background: url(../images/products/index/h1_click.jpg) no-repeat 0 0;
}

#prod_index h2 {
    position:absolute; top:309px; left:22px;
    width:147px; height:71px;
    text-indent:-9000px;
    background: url(../images/products/index/h2_loveOurStuff.png) no-repeat 0 0;
}

#prod_index #signup {
    float:left; display:inline;
    width:164px; height:399px;
    padding-top:268px;
    color:#009ddb;
}

#prod_index #signup p {
    padding: 80px 0 0 16px;
}

#prod_index .prod_cat {
    float:left; display:inline;
    width:756px; height:174px;
    margin-bottom:1px;
}

#prod_index h3 {
    float:left; display:inline;
    width:36px; height:174px;
    text-indent:-9000px;
    background: url(../images/products/index/h3_deep.jpg) no-repeat 0 0;
}

    #complexion_clearing h3 {
        background-image:url(../images/products/index/h3_cc.jpg);
    }

    #pore_strips h3 {
        background-image:url(../images/products/index/h3_pore.jpg);
    }

    #moisturizing h3 {
        background-image:url(../images/products/index/h3_moist.jpg);
    }
	
#prod_index h3.active{background-position:bottom left;}
    
#prod_index .prod_link, #prod_index .prod_link a {
    width:120px; height:174px;
}

#prod_index .prod_link {
    position: relative;
    float:left; display:inline;
}

#prod_index .prod_link a {
    position:absolute; top:0; left:0;
    display:block;
    text-decoration:none;
    cursor:pointer;
}    
   
#prod_index .prod_link a:hover {
    background-position: 0 -174px;
}

#prod_index .prod_link a span {
    display:block;
}
 
#prod_index .prod_link a span.prod_summ {
	visibility:hidden;
    color:#409fbb;  font-size:13px; line-height:16px;
    width:110px;
    padding:0 5px;
    text-align:center;
}

#prod_index .prod_link a.active span.prod_summ {
    visibility:visible;
}

#prod_index .prod_link a span.prod_title {
    width:110px;
    padding:0 5px;
    text-align:center;
    color: #959596; font-size:11px; line-height:12px;
}
#prod_index .prod_link a.active span.prod_title {
	color: #fff;
}

#plink_1 a {background: url(../images/products/index/bg_product_1.jpg) no-repeat 0 0;}
#plink_2 a {background: url(../images/products/index/bg_product_2.jpg) no-repeat 0 0;}
#plink_3 a {background: url(../images/products/index/bg_product_3.jpg) no-repeat 0 0;}
#plink_4 a {background: url(../images/products/index/bg_product_4.jpg) no-repeat 0 0;}
#plink_5 a {background: url(../images/products/index/bg_product_5.jpg) no-repeat 0 0;}
#plink_6 a {background: url(../images/products/index/bg_product_6.jpg) no-repeat 0 0;}
#plink_7 a {background: url(../images/products/index/bg_product_7.jpg) no-repeat 0 0;}
#plink_8 a {background: url(../images/products/index/bg_product_8.jpg) no-repeat 0 0;}
#plink_9 a {background: url(../images/products/index/bg_product_9.jpg) no-repeat 0 0;}
#plink_10 a {background: url(../images/products/index/bg_product_10.jpg) no-repeat 0 0;}
#plink_11 a {background: url(../images/products/index/bg_product_11.jpg) no-repeat 0 0;}
#plink_12 a {background: url(../images/products/index/bg_product_12.jpg) no-repeat 0 0;}
#plink_13 a {background: url(../images/products/index/bg_product_13.jpg) no-repeat 0 0;}
#plink_14 a {background: url(../images/products/index/bg_product_14.jpg) no-repeat 0 0;}
#plink_15 a {background: url(../images/products/index/bg_product_15.jpg) no-repeat 0 0;}
#plink_16 a {background: url(../images/products/index/bg_product_16.jpg) no-repeat 0 0;}
#plink_17 a {background: url(../images/products/index/bg_product_17.jpg) no-repeat 0 0;}

#signup a {
    color:#009CD8;
    text-decoration:none;
}

#signup a:hover{
    text-decoration:underline;
}

#signup a span {
    padding-right:13px;
    background:url(../images/common/arrow_blue_sm.png) no-repeat 40px 5px;
}

#cat_bar_grad {
    position:absolute; top:38px; left:214px;
    width:7px; height:699px;
    background:url(../images/products/index/bg_cat_bar_grad.png) repeat-y 0 0;
    z-index:10;
}
/* all product styles - END */

/* product detail styles - START */
#prod_detail {
    position:relative; left:13px;
    margin:0 auto;
    padding-top:43px;  
    background: url(../images/products/bg_top.jpg) no-repeat 0 0;
}

#prod_detail_inner {
    padding-bottom:50px;
    background: url(../images/products/bg_btm.png) no-repeat bottom left;
    overflow:hidden; height:1%;
}

#prod_detail .watch_video, #prod_detail .learn_more, #prod_detail #buy_now {
    position:absolute; top:78px; left:-13px;
    width:101px; height:101px;
    text-indent:-9000px;
    z-index:10;
}

/* modifier for learn_more and watch_video only */
#prod_detail .low {
    top:203px;
}

#prod_detail .watch_video a, #prod_detail .learn_more a, #prod_detail #buy_now a {
    display:block;
    width:100%; height:100%;
    background:url(../images/products/watch_video.png) no-repeat 0 0;
}

#prod_detail .learn_more a {
    background-image:url(../images/products/learn_more.png);
}

#prod_detail .watch_video a:hover, #prod_detail .learn_more a:hover, #prod_detail #buy_now a:hover {
    background-position:bottom left;
}

#prod_detail #buy_now {
    top:452px; left:100px;
    width:95px; height:24px;
}

#prod_detail #buy_now a {
    background-image: url(../images/products/buy_now.png);
}

.prod_main_info {
    float:left; display:inline; position:relative;
    min-height:430px; height:auto !important; height:430px; width:472px;
    padding:38px 47px 0 227px;
    line-height:23px;
}

.prod_main_info h1 {
    margin-bottom:8px;
}

/* product images for the background of .prod_main_info */
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13, .p14, .p15, .p16, .p17 { 
    background:url(../images/products/large/1.png) no-repeat 14px 0;
}
.p2 {background-image:url(../images/products/large/2.png);}
.p3 {background-image:url(../images/products/large/3.png);}
.p4 {background-image:url(../images/products/large/4.png);}
.p5 {background-image:url(../images/products/large/5.png);}
.p6 {background-image:url(../images/products/large/6.png);}
.p7 {background-image:url(../images/products/large/7.png);}
.p8 {background-image:url(../images/products/large/8.png);}
.p9 {background-image:url(../images/products/large/9.png);}
.p10 {background-image:url(../images/products/large/10.png);}
.p11 {background-image:url(../images/products/large/11.png);}
.p12 {background-image:url(../images/products/large/12.png);}
.p13 {background-image:url(../images/products/large/13.png);}
.p14 {background-image:url(../images/products/large/14.png);}
.p15 {background-image:url(../images/products/large/15.png);}
.p16 {background-image:url(../images/products/large/16.png);}
.p17 {background-image:url(../images/products/large/17.png);}

.prod_main_info h3 {
    margin:0 0 30px 58px;
    font-size:17px; line-height:22px; color:#40a7c6; font-weight:normal;
}

.prod_main_info h3 span {
    margin-right:6px;
    color:#f184b5; font-weight:bold;
}

#product_detail_tabs {
    margin-left:58px;
}

/* styles for the product detail tab content */
#product_detail_tabs div {
    line-height:18px;
}

#product_detail_tabs p {
    margin-bottom:3px;
    line-height:21px;
}

#product_detail_tabs p span {
    color:#40a7c6; font-weight:bold;
}

#product_detail_tabs div ul li {
    position:relative;
    padding-left:10px;
    background:url(../images/common/bullet.gif) no-repeat 0 7px;
}

#product_detail_tabs div ol {
    list-style-type:decimal;
    padding-left:20px;
    font-weight:bold;
}
#product_detail_tabs div ol li span {
    font-weight:normal;
}

#product_detail_tabs div li {
    margin-bottom:5px;    
}

/* product badge images */
.b1, .b2, .b3, .b4{
	display: block;
	position:absolute;
}
.b1 {
	background:url(../images/products/badge/bg_badge_1.png) no-repeat 0 0;
	height: 99px;
	width: 108px;
}
.b2 {
	background:url(../images/products/badge/bg_badge_2.png) no-repeat 0 0;
	height: 84px;
	width: 81px;
}
.b3 {
	background:url(../images/products/badge/bg_badge_3.png) no-repeat 0 0;
	height: 70px;
	width: 98px;	
}
.b4 {
	background:url(../images/products/badge/bg_badge_4.png) no-repeat 0 0;
	height: 67px;
	width: 67px;
}

ul#tab_nav {
    height:33px;
    margin-bottom:10px;
    background:url(../images/products/bg_tabs.gif) no-repeat 0 0;
}

#tab_nav li {
    float:left; display:inline;
    width:136px; height:33px;
    padding-top:5px;
    text-align:center;
}

#tab_nav li a, #prod_add_info ul#works_great_with li a {
    display:block;
    width:100%; height:100%;
    text-decoration:none;
}

#tab_nav li a {
    color:#a3a7aa; font-weight:bold;
}

#tab_nav li a:hover {
    color:#40a7c6;
}

.ui-tabs .ui-tabs-hide {display: none;}

#tab_nav li.ui-tabs-selected a {
    color:#40a7c6;
    background:url(../images/products/bg_tab_selected.gif) no-repeat 64px 25px;
}

.prod_main_info p span {
    display:block;
    color:#40a7c6;
    font-weight:bold;
}

#prod_add_info {
    float:left; display:inline;
    width:158px;
    margin-top:20px;
}

#prod_add_info h4 {
    padding:16px 0 0 16px;
    font-size:15px; line-height:15px; font-weight:normal;
    background:url(../images/products/bg_h4.gif) no-repeat 0 0;
}

#prod_add_info ul {
    padding-bottom:5px;
    background:url(../images/products/bg_add_ul.png) no-repeat bottom left;
}

#prod_add_info ul#when_to_use {
    margin-bottom:3px;
}

ul#when_to_use li {
    padding:15px 0 0 56px;
    height:24px;
    background:url(../images/products/bg_calendar.gif) no-repeat 18px 10px;
}

ul#when_to_use li#clock {
    padding-bottom:15px;
    background:url(../images/products/bg_clock.gif) no-repeat 16px 10px;
}

#prod_add_info ul#works_great_with {
    font-size:12px; line-height:14px;
}

#prod_add_info ul#works_great_with li {
    margin:0 4px;
    text-align:center;
    border-top:1px solid #d7d8d7;
}

#prod_add_info ul#works_great_with li#prod_image_sm {
    padding:8px 0;
    border-top:0 none;
}

#prod_add_info ul#works_great_with li a {
    /*padding:8px 0;*/
    color:#7d7e7d;
}

#prod_add_info ul#works_great_with li a:hover {
    background:url(../images/products/bg_works_btm.gif) no-repeat bottom left;
}

#prod_add_info ul#works_great_with li a span.wgwOuter {
    display:block;
    padding:8px 0;
    /*padding:0 12px;*/
}

#prod_add_info ul#works_great_with li a:hover span.wgwOuter {
    color:#40a7c6;
    background:url(../images/products/bg_works_top.gif) no-repeat top left;
}

#prod_add_info ul#works_great_with li a span.wgwInner {
    display:inline;
    padding:0 8px;
    /*padding:12px;*/
    /*background:url(../images/common/arrow_grey_sm.png) no-repeat right 15px;*/
}

#prod_add_info ul#works_great_with li a:hover span.wgwInner {
    /*background:url(../images/common/arrow_blue_sm.png) no-repeat right 15px;*/
}
/* product detail styles - END */

/* home page promos - START */
#home_promos {
    width:960px; height:161px;
    color:#40a7c6; font-size:13px;
    z-index:100;
}

#home_promos div {
    float:left; display:inline;
    width:181px; height:161px;
    padding-left:117px; /*width of image*/
    background:url(../images/home/home_promo_1.png) no-repeat 0 0;
}

#home_promos div#promo2 {
  width:213px;
  padding-left:122px;  /*width of image*/
  background-image:url(../images/home/home_promo_2.png);
}

#home_promos div#promo3 {
  width:203px;
  padding-left:124px; /*width of image*/
  background-image:url(../images/home/home_promo_3.png);
}

#home_promos p {
  display:block;
  margin-top:20px;
  padding:0 15px 0 12px;
  background: url(../images/home/arrow_promo.png) no-repeat 0 5px;
}

#home_promos a {
  color:#40a7c6;
  text-decoration:none;
}

#home_promos a:hover {
  text-decoration:underline;
}
/* home page promos - END */

/*
body #nav-overlay.macFirefox{
	opacity:1;
	-moz-opacity: 1;
	display:none;
	background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAPSURBVHjaYmJgYGgACDAAAI8Ag+R3NvwAAAAASUVORK5CYII=);
}
*/

#prod_promo {
    position:relative;
    margin-top:-54px;
    margin-bottom:0;
	height:189px;
	color:#40a7c6;
	font-size:14px; line-height:18px;
    z-index:1000;
}

#prod_promo h5 {
    line-height:0;
    text-indent:-9000px;
}

#prod_promo p {
    position:absolute; top:80px; left:648px;
}

#prod_promo a{
    color:#40a7c6;
    text-decoration:none;
}

#prod_promo a:hover {
    text-decoration:underline;
}

#prod_promo a span{
    padding-right:19px;
    background:url(../images/common/arrow_blue_lg.png) no-repeat top right;
}

/*
#prod_promo a span {
    float:right; display:inline;
    position:relative;
    margin-left:6px;
    width:13px; height:14px;
    background:url(../images/common/arrow_blue_lg.png) no-repeat 0 0;
}
*/

.promo1, .promo2, .promo3, .promo4, .promo5 {
    background:url(../images/products/promo/bg_promo_1.png) no-repeat 0 0;
}    
    
.promo2 {
    background-image:url(../images/products/promo/bg_promo_2.png);
}    

.promo3 {
    background-image:url(../images/products/promo/bg_promo_3.png);
}    

.promo4 {
    background-image:url(../images/products/promo/bg_promo_4.png);
}    

.promo5 {
    background-image:url(../images/products/promo/bg_promo_5.png);
}    

.promo6 {
    background-image:url(../images/products/promo/bg_promo_6.png);
}    

#prod_promo.promo2 p {
    top:120px; left:706px;
}
    
#prod_promo.promo3 p {    
    top:138px; left:693px;
}    

#prod_promo.promo4 p {
    top:76px; left:567px;
}
    
#prod_promo.promo5 p {    
    top:138px; left:646px;
}   

#prod_promo.promo6 p {    
   top:138px; left:736px;
}

/* See Detail link styles */
a.seeDetail{
    color:#40a7c6;
    font-size:11px; text-decoration:none; font-weight: bold; font-style: italic;
	position:absolute;
}

a.seeDetail span{
    padding-right:13px;
    background:url(../images/common/arrow_blue_sm.png) no-repeat right 3px;
}

a.seeDetail:hover{text-decoration: underline;}

div#ltIngredInner, div#ltCautionsInner{
   background:url(../images/common/bg_pop.png) no-repeat 0 0;
   color: #797a79;
   padding: 40px 30px 30px 30px;
   height: 315px;
   width: 412px;
}

a.lkPop{
	color: #797A79;	
	font-weight: bold;
	text-decoration: none;
}

a.lkPop:hover{
	text-decoration: underline;
}

a.lkPop span{
    padding-right:13px;
    background:url(../images/common/arrow_grey_sm.png) no-repeat right 4px;
}

div#ltIngredInner a.video_close, div#ltCautionsInner a.video_close{
	background:url(../images/common/close_pop.gif) no-repeat 0 0;
	height: 13px;
	width: 52px;
	margin: 25px 30px 0 0;
}

div#ltIngredInner a.video_close:hover, div#ltCautionsInner a.video_close:hover{
	background-position:bottom left;
}

div#ltIngredInner h5, div#ltCautionsInner h5{
	color: #6ABB69;
	font-weight: bold;
	margin-bottom: 6px;
}

div#ltIngredInner p, div#ltCautionsInner p{
	margin-bottom: 14px;
}

#cautionsURL a.lkPop span{background-position: 65px 5px;}
.pagenotfound #prod_detail_inner {
  min-height: 350px; _height: 350px;
  text-align: center;
  padding-top: 30px;
}
.pagenotfound #prod_detail_inner a {
  color:#40A7C6;
  text-decoration:none;
}
.pagenotfound #prod_detail_inner a:hover {
  color:#40A7C6;
  text-decoration:underline;
}