/*png fixes: #home_promos div,#home_promos p  */

#home_promos {
  width:960px; height:161px;
  color:#40a7c6; font-size:13px;
	z-index:100;
}

#home_promos div {
	float:left; display:inline;
	width:181px; height:161px;
  padding-left:117px; /*width of image*/
  background:url(../images/home/home_promo_1.png) no-repeat 0 0;
}

#home_promos div#promo2 {
  width:213px;
  padding-left:122px;  /*width of image*/
  background-image:url(../images/home/home_promo_2.png);
}

#home_promos div#promo3 {
  width:203px;
  padding-left:124px; /*width of image*/
  background-image:url(../images/home/home_promo_3.png);
}

#home_promos p {
  display:block;
  margin-top:20px;
  padding:0 15px 0 12px;
  background: url(../images/home/arrow_promo.png) no-repeat 0 5px;
}

#home_promos a {
  color:#40a7c6;
  text-decoration:none;
}

#home_promos a:hover {
  text-decoration:underline;
}

#footer.withHomePromo, #ctl00_footer.withHomePromo {
	margin-top:-132px;
}
