* html #left_shadow, * html #right_shadow { display:none; }

sup {
    font-size:9px;
    padding-bottom:4px;
}




/* Footer */
#container div.withProdPromo {
    margin-top:-99px;
}
#container div.withHomePromo {
	margin-top:-132px;
}

/* Promos */
#prod_detail div.promo2 p {
    top:120px; left:706px;
}

#prod_detail div.promo3 p {
    top:138px; left:693px;
}

#prod_detail div.promo4 p {
    top:76px; left:567px;
}

#prod_detail div.promo5 p {
    top:138px; left:646px;
}

#prod_detail div.promo6 p {
   top:138px; left:736px;
}
/*#prod_promo {
  top: -54px; margin-top: 0;
}*/

/* Other */
.prod_main_info {
    /*width:457px;*/
    /*padding-right:47px;*/ padding-right:23px;
}
/*#prod_detail_inner {
    background: url(../images/products/bg_btm.png) no-repeat bottom left;
}*/


#prod_detail #buy_now {
    /*top:452px;*/ top:415px;
}

#prod_detail .watch_video, #prod_detail .learn_more {
    /*top:78px; left:-13px;*/
    top:41px; left:-3px;
}

/* modifier for learn_more and watch_video only */
#prod_detail .low {
    /*top:203px;*/ top:166px;
}
a.lkPop span {
    background-position:right 5px;
}
ul.navSubMenu li.menuHdr {
    padding-left:15px;
    text-indent:0;
    width:286px;
}
a.seeDetail span{
    background:url(../images/common/arrow_blue_sm.png) no-repeat right 3px;
}