#optin
{
	position: relative;
	margin: 0 auto;
	padding-top: 43px;
	font-size: 12px;
	background: url(../images/optin/bg_top.jpg) no-repeat 0 0;
}

#optin.rulesCopy {
    padding-top:35px;
}

#optin_inner
{
	padding-bottom: 50px;
	background: url(../images/optin/bg_btm.png) no-repeat bottom left;
	overflow: hidden;
	height: 1%; /* *padding-bottom: 0px;*/
}

/** html #optin_inner { padding-bottom: 0px; }*/

#imgContact
{
	float: left;
	display: inline;
	width: 400px;
	height: 510px;
	margin: 31px 0 0 25px;
	background: url(../images/optin/sidebar_biorecontact.jpg) no-repeat 0 0;
}

* html #ctl00_ContentPlaceHolder1_OptinForm
{
	padding-bottom: 20px;
}

#ctl00_ContentPlaceHolder1_OptinForm
{ *padding-bottom:20px;}


#ctl00_ContentPlaceHolder1_OptinForm, #ctl00_ContentPlaceHolder1_CouponFormSuccess, #ctl00_ContentPlaceHolder1_OptinFormFailure, 
#ctl00_ContentPlaceHolder1_TechnicalProblem, #ctl00_ContentPlaceHolder1_SampleFormSuccess, #ctl00_ContentPlaceHolder1_InvalidEntry, #ctl00_ContentPlaceHolder1_OutOfSamples, #ctl00_ContentPlaceHolder1_UnderAge
{
	float: right;
	display: inline;
	width: 500px;
	margin: 33px 30px 0 0;
}

#ctl00_ContentPlaceHolder1_OptinForm h1
{
	width: 197px;
	height: 29px;
	text-indent: -9000px;
	background: url(../images/optin/h1_optin.png) no-repeat 0 0;
}

#ctl00_ContentPlaceHolder1_OptinForm h2, #ctl00_ContentPlaceHolder1_CouponFormSuccess h2, #ctl00_ContentPlaceHolder1_OptinFormFailure h2, 
#ctl00_ContentPlaceHolder1_TechnicalProblem h2, #ctl00_ContentPlaceHolder1_SampleFormSuccess h2, #ctl00_ContentPlaceHolder1_InvalidEntry h2, #ctl00_ContentPlaceHolder1_OutOfSamples h2, #ctl00_ContentPlaceHolder1_UnderAge h2
{
	margin-bottom: 15px;
	font-size: 15px;
	font-weight: bold;
}

p
{
	margin-bottom: 10px;
}

.rulesCopy p {
    padding-right:15px;
}
p.req
{
	color: #40a7c6;
}

#ctl00_ContentPlaceHolder1_OptinForm #optinPart1 div
{
	position: relative;
	min-height: 20px;
	height: auto !important;
	height: 20px;
	padding-bottom: 15px;
}

#ctl00_ContentPlaceHolder1_OptinForm div label, span#ctl00_ContentPlaceHolder1_CountryLbl, span#ctl00_ContentPlaceHolder1_DOBLbl
{
	float: left;
	display: block;
	margin: 0 10px 0 15px;
	text-align: right;
	width: 90px;
}

select
{
	font-size: 11px;
	margin-top: 5px;
}

.radiobtn
{
	display: inline;
	background-color: Lime;
}

.inputTextbox, #ctl00_ContentPlaceHolder1_Gender, .inputSelectBDay
{
	width: 174px;
	height: 14px;
	font-size: 11px;
	line-height: 13px;
}

#ctl00_ContentPlaceHolder1_Gender, .inputSelectBDay
{
	height: 19px;
}

.inputSelectBDay
{
	width: 58px;
}

span.errormsg
{
	position: absolute;
	top: 0;
	right: 3px;
	display: block;
	width: 225px;
	font-size: 80%;
	text-align: right;
}

span.errormsg.month
{
	top: 10px;
}

span.errormsg.day
{
	top: 20px;
}

span.fake_input
{
	display: block;
	float: left;
	width: 142px;
	padding: 2px;
	color: #000;
	font-size: 11px;
	background-color: #c5e5ee;
	border-left: 1px solid #0072BC;
	border-top: 1px solid #0072BC;
}

#ctl00_ContentPlaceHolder1_OptinForm #optinPart2 div
{
	position: relative;
	min-height: 40px;
	height: auto !important;
	height: 40px;
	padding-bottom: 15px;
}

#ctl00_ContentPlaceHolder1_OptinForm #optinPart2 div label
{
	width: 180px;
}

#ctl00_ContentPlaceHolder1_OptinForm #optinPart2 span.errormsg
{
	width: 80px;
}

#ctl00_ContentPlaceHolder1_OptinForm #optinPart2 select
{
	width: 220px;
}

#ctl00_ContentPlaceHolder1_State
{
	width: 147px;
}

#ctl00_ContentPlaceHolder1_OptinForm div label, span#ctl00_ContentPlaceHolder1_CountryLbl, span#ctl00_ContentPlaceHolder1_DOBLbl
{
	float: left;
	display: block;
	width: 90px;
	margin: 0 10px 0 15px;
	text-align: right;
	font-weight: bold;
}
#ctl00_ContentPlaceHolder1_OptinForm #optinPart2 div label.ddlabels
{
	text-align: left;
	width: 190px;
	margin: 0 10px 0 0;
}
#ctl00_ContentPlaceHolder1_OptinForm div span label
{
	font-weight: normal;
}

#ctl00_ContentPlaceHolder1_OptinForm #optinPart2 div.checkboxDiv label
{
	float: none;
	display: inline;
	margin: -1px 0 3px 5px;
	line-height: 15px;
}

#ctl00_ContentPlaceHolder1_OptinForm #optinPart2 div.checkboxDiv label.checkboxHdrLabel
{
	display: block;
	width: 400px;
	margin-top: 15px;
	text-align: left;
	font-weight: bold;
}

#ctl00_ContentPlaceHolder1_OptinForm #optinPart2 div.checkboxDiv span
{
	display: block;
	margin-left: 20px;
}

p.optinLine
{
	margin-left: 20px;
}

a
{
	color: #40a7c6;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

.submit
{
	display: block;
	width: 144px;
	height: 24px;
	background: url(../images/optin/btn_sign_me_up.png) no-repeat 0 0;
	font-size: 1px;
	line-height: 1px;
	text-indent: -9000px;
	cursor: pointer;
	border: 0 none;
}

.submit:hover
{
	background-position: bottom left;
}
#ctl00_ContentPlaceHolder1_OptinForm #optinPart2 div#ctl00_ContentPlaceHolder1_ageReq
{
	min-height: 10px;
	padding-bottom: 8px;
}
#ctl00_ContentPlaceHolder1_OptinForm #optinPart2 div#ctl00_ContentPlaceHolder1_ageReq label
{
	width: 370px;
	text-align: left;
	margin-left: 0;
}
#ctl00_ContentPlaceHolder1_ageReq input
{
	float: left;
}

/*ie6 hack*/
* html #ctl00_ContentPlaceHolder1_OptinForm #optinPart2 select
{
	width: 200px;
}

.ban_disc
{
	font-size: 10px;
}

.radioGroup p, caption, th
{
	font-weight: bold;
}

table
{
	margin-bottom: 15px;
}

td
{
	text-align: center;
}

td.none
{
	padding-top: 10px;
	font-weight: bold;
}

.nameCol
{
	width: 248px;
	text-align: left;
}

.buttonCol
{
	width: 100px;
}

