/* Main Shell Styles*/
*
{
    margin: 0px;
    padding: 0px;
}
a:active
{
    outline: 0 none;
}
:focus
{
    -moz-outline-style: none;
}
.clear
{
    clear: both;
} 
body
{
    background: #ffffff url('../images/p57/header-footerBG.jpg') no-repeat center top;
    color: #5c5c5d;
    font: 16px Arial, sans-serif;
}
#wrapper
{
    background: #ffffff url('../images/p57/bg.jpg') no-repeat center top;
    margin: 3px auto 0px;
}
#content
{
    margin: 0px auto;
    width: 950px;
}
#header
{
    position: relative;
    height: 96px;
}
#header a#logo, #header a#fb
{
    display: block;
    position: absolute;
    text-indent: -9999px;
}
#header a#logo
{
    background: url('../images/p57/logo.jpg') no-repeat left top;
    top: 4px;
    left: 50%;
    margin-left: -60px;
    width: 119px;
    height: 59px;
}
#header a#fb
{
    background: url('../images/p57/fb.png') no-repeat left bottom;
    top: 0px;
    left: 655px;
    width: 254px;
    height: 81px;
}
#header a#fb:hover
{
    background-position: left top;
}
#header #nav
{
    background: url('../images/p57/navBG.jpg') no-repeat center top;
    display: block;
    position: absolute;
    top: 68px;
    width: 950px;
    height: 26px;
}
#header #nav ul
{
    list-style: none;
    color: #b8b8b8;
    display: inline;
    float: left;
    padding-left: 60px;
}
#header #nav ul li
{
    border-right: 1px solid #cacaca;
    float: left;
}
#header #nav ul li.last
{
    border: none;
}
#header #nav ul li a
{
    color: #b8b8b8;
    display: block;
    padding: 2px 20px 5px;
    text-decoration: none;
}
#header #nav ul li a:hover
{
    background: url('../images/p57/navHover.jpg') repeat left top;
    color: #969696;
}
body.home #header #nav ul li a#home, body.class #header #nav ul li a#class, body.murt #header #nav ul li a#murt, body.about #header #nav ul li a#about, body.sweeps #header #nav ul li a#sweeps
{
    background: url('../images/p57/navHover.jpg') repeat left top;
    color: #969696;
}
#mainContent
{
    padding: 15px 40px;
}
#mainContent p
{
    margin-bottom: 10px;
}
#footer
{
    background: #ffffff url('../images/p57/header-footerBG.jpg') repeat center top;
    color: #ffffff;
    font-size: 10px;
}
#footer ul
{
    margin: 0 auto;
    overflow: hidden;
    padding-left: 90px;
    position: relative;
    height: 27px;
}
#footer ul li
{
    display: inline;
    float: left;
    margin-right: 30px;
    padding: 7px 0px 0px;
}
#footer ul li#copyright
{
    margin-left: 70px;
    width: 270px;
}
#footer ul li a
{
    color: #ffffff;
}
#footer ul li a:hover
{
    text-decoration: none;
}


/* Home Page & MURT Page Styles */
#theater
{
    background: url('../images/p57/home_theaterBG.jpg');
    margin: 0px auto;
    width: 800px;
    height: 269px;
    position: relative;
}
body.murt #theater
{
    background: url('../images/p57/murt_theaterBG.jpg');
    margin: 0px auto 120px;
    height: 424px;
    position: relative;
    top: -17px;
}
body.murt #theater a#murtProdImg
{
    background: url('../images/p57/murt_prod.jpg');
    display: block;
    position: absolute;
    top: 98px;
    left: 379px;
    width: 371px;
    height: 244px;
    text-indent: -9999px;
}
#theater h1
{
    text-indent: -9999px;
}
#theater h3
{
    font-size: 17px;
    position: absolute;
    top: 96px;
    left: 395px;
    width: 375px;
}
body.murt #theater h3
{
    top: 75px;
    left: 45px;
    width: 350px;
}
#theater p
{
    font-size: 12px;
    position: absolute;
    top: 123px;
    left: 395px;
    width: 335px;
}
#theater p sup
{
    position: absolute;
    top: 3px;
}
body.murt #theater p
{
    left: 45px;
    width: 327px;
}
body.murt #theater a#btn
{
    background: url('../images/p57/murt_buy_now.jpg') no-repeat left top;
    position: absolute;
    display: block;
    text-indent: -9999px;
    top: 198px;
    left: 40px;
    width: 95px;
    height: 30px;
}
body.murt #theater a#btn:hover
{
    background-image: none;
}

body.murt #rules
{
    margin: 0px auto;
    font-size: 10px;
    width: 800px;
}

body.murt #rules a
{
    color: #d1347c;
}
body.murt #rules a:hover
{
    color: #3da3c4;
}

#signup
{
    background: url('../images/p57/home_signup_now_img.jpg') no-repeat right top;
    display: inline;
    float: left;
    margin: 0px 0px 0px 40px;
    padding: 35px 55px 0px 0px;
    width: 437px;
    height: 321px;
    position: relative;
}
#signup img#signup_img
{
    position: absolute;
    top: -20px;
    left: 250px;
}
#signup h2
{
    background: url('../images/p57/home_signup_now_hdr.gif');
    text-indent: -9999px;
    width: 207px;
    height: 30px;
}
#signup h3
{
    font-size: 17px;
    margin: 10px 0px;
}
#signup p
{
    font-size: 12px;
}
#signup p em
{
    font-size: 10px;
}
#signup a#btn
{
    background: url('../images/p57/home_signup_now_btn.jpg') no-repeat left top;
    display: block;
    text-indent: -9999px;
    width: 164px;
    height: 30px;
}
#signup a#btn:hover
{
    background-position: left bottom;
}

#signup a
{
    color: #d1347c;
}
#signup a:hover
{
    color: #3da3c4;
}
#teaser
{
    background: url('../images/p57/home_murt_teaser.jpg');
    display: block;
    _display: inline;
    text-indent: -9999px;
    float: left;
    margin-top: 40px;
    width: 301px;
    height: 174px;
    position: relative;
}
#teaser a#murt
{
    background: url('../images/p57/home_murt_teaser_over.jpg') no-repeat 15px 112px;
    display: block;
    width: 93px;
    height: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 112px 193px 40px 15px;
}
#teaser a#murt:hover
{
    background-image: none;
}
#homeAbbrevRules
{
    margin: 0px auto;
    font-size: 10px;
    width: 800px;
}
#homeAbbrevRules a
{
    color: #d1347c;
}
#homeAbbrevRules a:hover
{
    color: #3da3c4;
}



/* Schedule Class Page Styles */
body.class #top
{
    background: url('../images/p57/class_theaterBG.jpg');
    width: 800px;
    height: 176px;
    margin: 0px auto;
    position: relative;
}
body.class #top h1
{
    text-indent: -9999px;
}
body.class #top p
{
    font-size: 11px;
    position: absolute;
    top: 80px;
    left: 45px;
    width: 400px;
}
body.class #top a
{
    background: url('../images/p57/class_learn_btn.jpg');
    display: block;
    position: absolute;
    text-indent: -9999px;
    top: 120px;
    left: 41px;
    width: 227px;
    height: 28px;
}
body.class #top a:hover
{
    background-image: none;
}
#scheduleTable
{
    background: url('../images/p57/class_scheduleBG.jpg') no-repeat;
    display: inline;
    float: left;
    margin: 28px 0px 0px 42px;
    width: 464px;
    height: 354px;
}
#scheduleTable table
{
    border-collapse: collapse;
    margin: 50px 3px 0px;
    width: 458px;
    height: 290px;
    color: #666666;
    font-size: 12px;
}
#scheduleTable table tr
{
    background: url('../images/p57/class_scheduleTrBG.jpg');
    height: 29px;
}
#scheduleTable table tr#ctl00_ContentPlaceHolder1_PA
{
    border-bottom: 1px solid #b8c3c3;
}
#scheduleTable table tr td
{
    background: url('../images/p57/class_scheduleTdBG.jpg');
    padding-left: 15px;
}
#scheduleTable table tr td.date
{
    border-left: 1px solid #b8c3c3;
}
#scheduleTable table tr td.detailsLinkTD
{
    border-right: 1px solid #b8c3c3;
}
#scheduleTable table td a.detailsLink
{
    color: #d1347c;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
}
#scheduleTable table td a.detailsLink:hover
{
    text-decoration: underline;
}
#scheduleTable table tr.selected
{
    background: none;
    border-top: 1px solid #b8c3c3;
}
#scheduleTable table tr#ctl00_ContentPlaceHolder1_PA.selected
{
    border-bottom: 0;
}
#scheduleTable table tr#ctl00_ContentPlaceHolder1_NY
{
    border-top: 0;
}
#scheduleTable table tr.selected td.date
{
    border-left: 1px solid #ffffff;
}
#scheduleTable table tr.selected td.detailsLinkTD
{
    border-right: 1px solid #ffffff;
}
#scheduleTable table tr.selected td
{
    background: none;
    color: #3da3c4;
}
#scheduleTable table tr.selected td a
{
    color: #3da3c4;
}
body.class #details
{
    background: url('../images/p57/class_detailsBG.jpg');
    float: left;
    display: inline;
    width: 293px;
    height: 423px;
    padding: 121px 5px 5px 26px;
    color: #6e6e6e;
    font-size: 12px;
}
#venueDetails
{
    background-color: #cbd2d2;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    width: 244px;
}
#venueDetails #marketName
{
    font-size: 20px;
}
body.class #details #venueLink
{
    margin: 7px 0px 9px;
}
#ctl00_ContentPlaceHolder1_Class1, #ctl00_ContentPlaceHolder1_Class2, #ctl00_ContentPlaceHolder1_Class3
{
    border-top: 1px solid #b8c3c3;
    line-height: 18px;
    padding: 6px 0px 12px;
    width: 274px;
    position: relative;
}
body.class #details .classFull
{
    position: absolute;
    top: 10px;
    left: 195px;
    font-style: italic;
    font-weight: bold;
    color: #4a544a;
}
body.class #details .registerLink a
{
    background: url('../images/p57/class_register.jpg') left top;
    display: block;
    width: 117px;
    height: 28px;
    text-indent: -9999px;
    position: absolute;
    top: 10px;
    left: 160px;
}
body.class #details .registerLink a:hover
{
    background-position: left bottom;
}
body.class #details #venueLink a
{
    color: #d1347c;
    font-size: 11px;
}
body.class #details #venueLink a:hover
{
    color: #3da3c4;
}
body.class #details span
{
    color: #4a544a;
    font-weight: bold;
}
body.class #btmTxtContainer
{
    position: absolute;
}
body.class #btmTxt
{
    color: #3fa5c6;
    font-size: 12px;
    font-style: italic;
    margin-bottom: -160px;
    padding-left: 70px;
    position: relative;
    top: -160px;
    width: 420px;
}

body.class #btmTxt span
{
    color: #3fa5c6;
    font-weight:bold;
    font-size:14px;
}

body.class #btmTxt div
{
    color: #5C5C5D;
    font-size: 10px;
    font-style: normal;
    margin-top: 20px;
}

body.class #btmTxt div a
{
    color: #d1347c;
}

body.class #btmTxt div a:hover
{
    color: #3da3c4;
}
body.class #footer
{
    margin-top: 30px;
}

/* Cancel Class Page Styles */
#cancelBg
{
    width: 320px;
    height: 179px;
    background: url('../images/p57/cancelBg.jpg') no-repeat;
    margin-bottom: 235px;
    padding: 90px 90px 0 390px;
}
#cancelBg h2
{
    background: url('/usa/images/p57/cancel_hdr.png') no-repeat;
    height: 38px;
    width: 295px;
    position: absolute;
    top: 145px;
}
#cancelBg p
{
    font-family: helvetica;
    font-size: 11px;
    color: #5C5C5D;
}
#cancelBg #rescheduleButton
{
    margin-top: 10px;
}
#cancelBg #rescheduleButton a
{
    width: 257px;
    height: 30px;
    background: url('../images/p57/rescheduleBtn.jpg') no-repeat;
    display: block;
    text-indent: -9000px;
}
#shortRules
{
    font-family: helvetica;
    font-size: 10px;
    font-style: italic;
    color: #666666;
    margin-left: 16px;
}
#shortRules a, #cancelBg a
{
    color: #d1347c;
}

#shortRules a, #cancelBg a
{
    color: #3da3c4;
}

/* About Page Styles */
#about-txt
{
    background: url('../images/p57/about_topBG.jpg');
    width: 800px;
    height: 210px;
    margin: 0px auto;
    position: relative;
    top: -17px;
}
#about-txt p
{
    font-size: 12px;
    position: absolute;
    top: 85px;
    left: 45px;
    width: 384px;
}
#do-at-class
{
    background: url('../images/p57/about_btmBG.jpg');
    width: 800px;
    height: 311px;
    margin: 0px auto 100px;
    position: relative;
    top: -17px;
}
#do-at-class h3
{
    font-size: 17px;
    position: absolute;
    top: 20px;
    left: 45px;
}
#do-at-class p
{
    font-size: 11px;
    position: absolute;
    top: 55px;
    left: 45px;
    width: 138px;
}
#do-at-class a#btn
{
    background: url('../images/p57/about_btm_btn.jpg') left top;
    width: 160px;
    height: 30px;
    position: absolute;
    text-indent: -9999px;
    top: 247px;
    left: 44px;
}
#do-at-class a#btn:hover
{
    background-position: left bottom;
}
#aboutAbbrevRules
{
    margin: 0px auto;
    font-size: 10px;
    width: 800px;
}
#aboutAbbrevRules a
{
    color: #d1347c;
}
#aboutAbbrevRules a:hover
{
    color: #3da3c4;
}


/* Sweepstakes Page Styles */
body.sweeps #mainContent
{
    padding: 15px 0px;
}
body.sweeps #optin_inner
{
    background: none;
    height: auto;
    overflow: auto;
    padding: 0px;
}
body.sweeps #imgContact
{
    background: url("/usa/images/p57/sweeps_model.jpg") no-repeat;
    margin: 12px 0px 0px 60px;
    width: 291px;
    height: 367px;
}
body.sweeps #ctl00_ContentPlaceHolder1_OptinForm, body.sweeps #ctl00_ContentPlaceHolder1_OptinFormSuccess, body.sweeps #ctl00_ContentPlaceHolder1_OptinFormFailure, body.sweeps #ctl00_ContentPlaceHolder1_RequestSuccess, body.sweeps #ctl00_ContentPlaceHolder1_InvalidEntry, body.sweeps #ctl00_ContentPlaceHolder1_default_Success, body.sweeps #ctl00_ContentPlaceHolder1_InvalidPromo, body.sweeps #ctl00_ContentPlaceHolder1_OutOfSamples
{
    margin: 0px;
    font-size: 14px;
}

body.sweeps #ctl00_ContentPlaceHolder1_OptinForm, body.sweeps #ctl00_ContentPlaceHolder1_OptinFormSuccess, body.sweeps #ctl00_ContentPlaceHolder1_OptinFormFailure
{
    border: solid 1px #cbd2d2;
    float: left;
    padding-left: 23px;
    margin: 12px 0px 0px 15px;
    background: #ffffff url("/usa/images/p57/rules_bg.gif") no-repeat left bottom;
    min-height: 600px;
}
body.sweeps #ctl00_ContentPlaceHolder1_OptinFormSuccess,
body.sweeps #ctl00_ContentPlaceHolder1_OptinFormFailure{height:600px;}

body.sweeps #ctl00_ContentPlaceHolder1_OptinForm h2, body.sweeps #ctl00_ContentPlaceHolder1_OptinFormSuccess h2, body.sweeps #ctl00_ContentPlaceHolder1_OptinFormFailure h2
{
    background-image: url("/usa/images/p57/sweeps_hdr.gif");
    background-repeat: no-repeat;
    margin-top: 20px;
    width: 301;
    height: 50px;
}

body.sweeps #ctl00_ContentPlaceHolder1_OptinForm p, body.sweeps #ctl00_ContentPlaceHolder1_OptinFormSuccess p, body.sweeps #ctl00_ContentPlaceHolder1_OptinFormFailure p
{
    font-size: 12px;
}

body.sweeps #ctl00_ContentPlaceHolder1_OptinForm input[type="checkbox"]
{
    margin: 3px 3px 3px 4px;
}

body.sweeps #ctl00_ContentPlaceHolder1_OptinForm p a
{
    color: #d1347c;
}
body.sweeps #ctl00_ContentPlaceHolder1_OptinForm p a:hover
{
    color: #3da3c4;
}
body.sweeps #ctl00_ContentPlaceHolder1_OptinForm .enterNow
{
    display: block;
    width: 100px;
    height: 27px;
    background: url("/usa/images/p57/enterNow.png") no-repeat 0 0;
    font-size: 1px;
    line-height: 1px;
    text-indent: -9000px;
    cursor: pointer;
    border: 0 none;
}

body.sweeps #ctl00_ContentPlaceHolder1_FooterRules
{
    clear: both;
    font-size: 10px;
    padding: 30px 90px 0px;
}

body.sweeps #ctl00_ContentPlaceHolder1_FooterRules a
{
    color: #d1347c;
}

body.sweeps #ctl00_ContentPlaceHolder1_FooterRules a:hover
{
    color: #3da3c4;
}
/* Official Rules and waiver */
#official_rules, #waiver
{
    width: 580px;
    padding: 20px 20px;
    /*background: #ffffff url("/usa/images/p57/rules_bg.gif") no-repeat left bottom;*/
}
#official_rules h1
{
    width: 547px;
    height: 41px;
    background: url(/usa/images/p57/rules_hdr.gif) no-repeat;
    padding-bottom: 32px;
}

#rules_body
{
    background-image: none;
    width:650px;
}

#official_rules h2
{
    font-size: 14px;
    font-weight: bold;
}

#official_rules div, #waiver div
{
    padding: 0 30px 0 30px;
    font-size: 12px;
}

#official_rules ol li
{
    list-style-type: decimal;
    margin-left: 20px;
}

#official_rules #close, #waiver #close
{
    position: fixed;
    top: 6px;
    right: 24px;
    background: url(../images/p57/regbox_close.jpg) left top no-repeat;
    width: 53px;
    height: 21px;
    text-indent: -9999px;
}
#official_rules #close.hover, #waiver #close.hover
{
    background-position: left bottom;
}

#official_rules a
{
    color: #d1347c;
}
#official_rules a:hover
{
    color: #3da3c4;
}
#waiver h1
{
    font-size: 14px;
    font-style: italic;
    text-align: center;
    font-weight: normal;
}

#waiver h2
{
    font-size: 14px;
    font-style: italic;
    text-align: center;
    font-weight: normal;
}

#waiver span 
{
    text-decoration:underline;
}
