body, h3{font:10pt/14pt georgia;}
h1{font:bold 14pt/18pt georgia;}
h2{font:bold 12pt/15pt georgia;}

#header .global_nav, #header #secondary_nav, #footer ul li, #subnav_bar{display:none;}

#footer #copyright{display:block;}