/* daily recharging product detail page */
#flash_object{
	clear:both;
}

#flash_object p{
	text-align:center;
	line-height:22px;
}

#flash_object p#margin_top{
	padding-top:60px;
}

#flash_object p#margin_bottom{
	padding-bottom:250px;
}

/* end */
/* product landing styles */
#products.landing #middle_content{
	background: url(../images/productLanding/product_intro_bg.jpg) no-repeat top left;
	padding:10px 0 20px 0;
	width:967px;
}
	
#intro_content{
	width:190px;
	float:left;
	padding:21px 0 0 0px;
}

#intro_content h1{
	margin:0 0 0 12px;
	height:50px;
	width:160px;
	text-indent:-9000px;
	background: url(../images/productLanding/beauty_starts_here_h.gif) no-repeat bottom left;
}

#intro_content div{
	margin:4px 0 0;
	height:420px;
	width:190px;
	background: url(../images/productLanding/beauty_starts_here_para.gif) no-repeat top left;
}

#intro_content p{
	text-indent:-9000px;
}

#intro_content ul{
	margin-top:26px;	
}

#intro_content div a{
	text-indent:-9000px;
	display:block;
	margin-bottom:1px;
	height:55px;
	width:89%;
}

#intro_content a#skinPres{height:59px; background: url(../images/productLanding/skinPres.gif) no-repeat top left;}
#intro_content a#dailyRecharge{height:62px; background: url(../images/productLanding/dailyRecharge.gif) no-repeat top left;}
#intro_content a#comClearing{height:92px; background: url(../images/productLanding/comClearing.gif) no-repeat top left;}
#intro_content a#poreStrips{height:62px; background: url(../images/productLanding/poreStrips.gif) no-repeat top left;}

#middle_content #intro_content a:hover{background-image:none;}

#main_content{
	width:750px;
	float:left;
}

.landing #column1, .landing #column2, .landing #column3, .landing #column4{
	height:152px;
	width:750px;
	background: url(../images/productLanding/row1_bg.jpg) no-repeat 16px top;
}

.landing #column1{
	height:151px;	
}

.landing #column2{
	height:154px;
	background: url(../images/productLanding/row2_bg.jpg) no-repeat 16px bottom;
}

.landing #column3{background: url(../images/productLanding/row3_bg.jpg) no-repeat 16px bottom;}
.landing #column4{background: none}

#main_content div ul{
	list-style:none;
	float:left;
	margin:0;
}

#main_content div ul li{
	float:left;
	width:105px;
	margin-right:1px;
	display:inline;
}

div ul li#dual_fusion{width:116px;}
div ul li#see_the_future{width:117px;}
div ul li#hard_days_night{width:119px;}
div ul li#even_smoother{width:118px;}
div ul li#clean_things_up{width:132px;}

div ul li#nourish{width:106px;}
div ul li#restore{width:121px;}
div ul li#enliven{width:93px;}
div ul li#detoxify{width:73px;}
div ul li#revitalize{width:122px;}
div ul li#purify{width:105px;}
div ul li#refresh{width:105px;margin:0;}

div ul li#anti_blackhead{width:123px;}
div ul li#cleansing_cloths{width:97px;}
div ul li#ice_cleanser{width:113px;}
div ul li#pore_unclogging{width:97px;}
div ul li#triple_action{width:79px;}

div ul li#deep_cleansing{width:99px;}
div ul li#combo_deep_cleansing{width:117px;}
div ul li#ultra_deep_cleansing{width:116px;}

#main_content div li img{
	display:block;
	float:none;
	margin:0 auto;
	border:none;
	font-size:1px;
	margin-bottom:6px;
}

* html #main_content div li img{	
	behavior: url(/usa/includes/pngbehavior.htc);
}

#main_content div li a{
	display:block;
	height:137px;
	width:100%;
	padding-top:15px;
	font:10px helvetica, arial, sans-serif;
	text-align:center;
	line-height:11px;
	color:#fff;
	text-decoration:none;
}

#main_content div#column1 li a{padding-top:13px;}

div#column1 li a{background: url(../images/productLanding/skin_preservation_over.jpg) no-repeat bottom left; height:138px;}
div#column2 li a{background: url(../images/productLanding/daily_recharging_over.jpg) no-repeat bottom left;height:139px;}
div#column3 li a{background: url(../images/productLanding/complexion_clearing_over.jpg) no-repeat bottom left;}
div#column4 li a{background: url(../images/productLanding/pore_strips_over.jpg) no-repeat bottom left;}

div#column1 li{background: url(../images/productLanding/skin_pres_bg.gif) no-repeat bottom left;}
div#column2 li{background: url(../images/productLanding/daily_recharge_bg.gif) no-repeat bottom left;}
div#column3 li{background: url(../images/productLanding/com_clearing_bg.gif) no-repeat bottom left;}
div#column4 li{background: url(../images/productLanding/pore_strips_bg.gif) no-repeat bottom left;}

#main_content li a:hover{background-image:none;}

#main_content div h1{
	width:16px;
	float:left;
	height:100%;
}

#main_content div h1 a{
	display:block;
	height:100%;
	width:100%;
	text-indent:-9000px;
}

div#column2 h1{height:154px;}

h1#skin_preservation_h{background: url(../images/productLanding/skin_preservation_h_over.gif) no-repeat top left;}
h1#daily_recharging_h{background: url(../images/productLanding/daily_recharging_h_over.gif) no-repeat top left;}
h1#complexion_clearing_h{background: url(../images/productLanding/complexion_clearing_h_over.gif) no-repeat top left;}
h1#pore_strips_h{background: url(../images/productLanding/pore_strips_h_over.gif) no-repeat top left;}

h1#skin_preservation_h a{background: url(../images/productLanding/skin_preservation_h.gif) no-repeat top left;}
h1#daily_recharging_h a{background: url(../images/productLanding/daily_recharging_h.gif) no-repeat top left;}
h1#complexion_clearing_h a{background: url(../images/productLanding/complexion_clearing_h.gif) no-repeat top left;}
h1#pore_strips_h a{background: url(../images/productLanding/pore_strips_h.gif) no-repeat top left;}

#main_content div h1 a:hover{
	background-image:none;
}

/* new channel landing pages */
#products.detail #middle, .footer_pages #middle, .landing #middle, #profiler #middle{background:#fff;}

.footer_pages #middle, #profiler #middle{
	padding-top:20px;
	padding-bottom:20px;	
}

#beauty_guru #middle{
	padding:0;	
}

#middle_content.channel_landing{
	padding:280px 0 0px 115px;
}

.channel_landing h1{
	text-indent:-9000px;
	width:348px;
	height:60px;
	position:absolute;
	left:160px;
}

.channel_landing p#intro_text{
	text-indent:-9000px;
	height:60px;
	width:410px;
	position:absolute;
	right:140px;
}

.channel_landing ul{
	list-style:none;
	overflow:hidden;
	margin-left:75px;
	width:700px;
	padding-top:60px;
	clear:both;
}

.channel_landing ul li{
	float:left;
	width:125px;
	margin-right:1px;
	display:inline;
}

.channel_landing ul li a{
	display:block;
	height:132px;
	width:100%;
	font:10px helvetica, arial, sans-serif;
	text-align:center;
	line-height:12px;
	color:#fff;
	text-decoration:none;
}

#middle_content.channel_landing ul li a:hover{
	background-image:none;
}

.channel_landing img{
	display:block;
	float:none;
	border:none;
	font-size:1px;
	margin-bottom:4px;
}

.clear{
	font-size:2px;
	line-height:1px;
	height:0;
	clear:both;	
}

.landing #product_list li{
	float:left;
	width:150px;
}

.landing #product_list li a{
	display:block;
	text-indent:-9000px;
	width:100%;
	height:100%;
}

.landing #container ul#product_list li a:hover {background-image:none;}

#subnav_bar{
	height:552px;
	position:absolute;
	right:15px;	
	padding:23px 10px 25px 11px;
	width:142px;
	top:24px;
	text-align:center;
}

#subnav_bar h2{
	text-indent:-9000px;
	height:36px;
	width:140px;
}

#subnav_bar li a{
	display:block;
	margin-top:2px;
	color:#84888b;
	font-size:10px;
	line-height:12px;
	padding-bottom:8px;
	text-decoration:none;
}

#subnav_bar li{
	text-align:center;	
	display:inline;
	float:left;
	position:relative;
}

#subnav_bar li a img{
	display:block;
	margin: 0 46px;
}

* html #subnav_bar li a img{behavior: url(/usa/includes/pngbehavior.htc);}

#product_img{position:absolute;}

.detail #tabbed_content{
	padding-left:31px;	
}

.detail #tabbed_content h3{
	font:17px arial, sans-serif;
	margin:0px 0 10px;
}

.ui-tabs-hide { display: none; }

.detail #tabbed_content #tabs li{
	float:left;
	width:130px;
	padding:5px 5px 0;
	text-align:center;
	margin-top:1px;
}

.detail #tabbed_content #tabs li#last_tab{
	border-right:none;
}
	
.detail #tabbed_content #tabs li a{
	color:#b6b7bb;
	display:block;
	padding-bottom:5px;
	font:bold 13px arial, sans-serif;
	text-decoration:none;
}

.detail #container #tabbed_content #tabs li.ui-tabs-selected{
	border-bottom:none;
	margin:0;	
}
	
.detail #tabbed_content div{
	clear:both;	
	width:440px;
	position:relative;
	padding-top:20px;
	font:14px/20px arial, sans-serif;
	color:#767a7c;
}

/* daily recharging landing page - START */
#dr.landing #middle_content{
	background: url(../images/daily_recharging/daily_recharging_bg.jpg) no-repeat 0px 0px;
	padding-left:90px;
	position:relative;
	width:877px;
}

#dr .channel_landing h1{
	background: url(../images/daily_recharging/intro_h.gif) no-repeat top left;
	width:355px;
	left:154px;
}

#dr .channel_landing p#intro_text{
	background: url(../images/daily_recharging/intro_text.gif) no-repeat 0px 0px;
	right:110px;
}

#dr .channel_landing ul{
	width:800px;
	margin-left:0;
	background: url(../images/daily_recharging/product_list_bg.gif) no-repeat bottom left;
}

#dr .channel_landing li a{
	background: url(../images/productLanding/daily_recharging_over.jpg) no-repeat bottom left;
	height:129px;
}

#dr .channel_landing img{
	margin-bottom:5px;
}

#dailyrecharging_link{
	position:absolute;
	display:block;
	background: url(../images/daily_recharging/dailyrecharging_link_off.jpg) no-repeat top left;
	height:50px;
	width:229px;
	text-indent:-9000px;
	top:0;
	right:27px;
}

#dailyrecharging_link:hover{background-image:none;}

.channel_landing li#nourish{width:111px;}
.channel_landing li#restore{width:110px;}
.channel_landing li#enliven{width:92px;}
.channel_landing li#detoxify{width:88px;}
.channel_landing li#revitalize{width:133px;}
.channel_landing li#purify{width:113px;}
.channel_landing li#refresh{width:110px;margin-right:1px;}

#dr.detail #middle_content{padding:0; width:967px;}

/* daily recharging landing page - END */
/* complexion clearing landing page - START */
#cc #middle{background: #d6e5c9 url(../images/complexion_clearing/cc_bg.jpg) repeat-x 0px 0px;}

#cc #middle_content{
	background: url(../images/complexion_clearing/cc_landing_glow_bg.jpg) no-repeat 0px 0px;
	padding:0 0 0 0px;
	height:498px;
	color:#4ca697;
}

#cc.landing #middle_content h1, #cc.landing #middle_content p{
	position:absolute;
	text-indent:-9000px;
}

#cc #middle_content #intro_h{
	height:80px;
	margin-top:15px;
	right:0;
	width:354px;
	top:50px;
	background: url(../images/complexion_clearing/intro_h.gif) no-repeat top left;
}

#cc.landing p#intro_text{
	top:126px;
	height:100px;
	right:40px;
	width:271px;	
	background: url(../images/complexion_clearing/intro_text.gif) no-repeat top left;
}

#cc #instantly_clear_promo{
	position:absolute;
	right:35px;
	width:285px;
	height:86px;	
	top:223px;
	background: url(../images/complexion_clearing/instantly_clear_promo_over.gif) no-repeat top left;
}

#cc #instantly_clear_promo a{
	background: url(../images/complexion_clearing/instantly_clear_promo.gif) no-repeat top left;
	display:block;
	width:100%;
	height:100%;
	text-indent:-9000px;
}

#cc #instantly_clear_promo a:hover{background-image:none;}

#cc.landing p#disclaimer{
	height:80px;
	color:#7cc5b9;
	font-size:10px;
	line-height:12px;
	width:245px;
	top:314px;
	right:50px;
	text-indent:0;
}

#cc.landing p#learn_more{
	top:386px;	
	height:30px;
	right:210px;
	width:103px;
	background: url(../images/complexion_clearing/learn_more.gif) no-repeat top left;
}

#cc #product_list{
	margin:100px 0 0 62px;
}

#cc #product_list li{
	height:330px;
}

#product_list li#ice_cleanser{width:142px; background:  url(../images/complexion_clearing/blemish_fighting_ice_cleanser_over.jpg) no-repeat bottom left;}
#product_list li#pore_unclogging{width:156px; background:  url(../images/complexion_clearing/pore_unclogging_scrub_over.jpg) no-repeat bottom left;}
#product_list li#anti-blackhead{width:162px; background:  url(../images/complexion_clearing/warming_anti-blackhead_cream_cleanser_over.jpg) no-repeat bottom left;}
#product_list li#triple_action{width:119px; background:  url(../images/complexion_clearing/triple_action_astringent_over.jpg) no-repeat bottom left;}

#product_list li#ice_cleanser a{background:  url(../images/complexion_clearing/blemish_fighting_ice_cleanser.jpg) no-repeat bottom left;}
#product_list li#pore_unclogging a{background:  url(../images/complexion_clearing/pore_unclogging_scrub.jpg) no-repeat bottom left;}
#product_list li#anti-blackhead a{background:  url(../images/complexion_clearing/warming_anti-blackhead_cream_cleanser.jpg) no-repeat bottom left;}
#product_list li#triple_action a{background:  url(../images/complexion_clearing/triple_action_astringent.jpg) no-repeat bottom left;}

/* complexion clearing landing page - END */
/* complexion clearing detail page - START */
#cc.detail #middle_content{
	width:737px;
	overflow:visible;
	padding:24px 0 30px 230px;
	background: url(../images/complexion_clearing/cc_glow_bg.jpg) no-repeat top left;
}

#container.cc #middle_content{
	height:525px;
}

html > body #container.cc #middle_content{
	height:auto;
	min-height:525px;	
}

#cc.detail #middle_content h1.heading, #cc.detail #middle_content h2.heading{
	text-indent:-9000px;
	height:84px;
	width:540px;	
}

#cc.detail #middle_content h2.heading{height:40px;}

#cc.detail #middle_content h1.pHeading_2{background: url(../images/complexion_clearing/blemish_fighting_ice_cleanser_h.gif) no-repeat;}
#cc.detail #middle_content h1.pHeading_3{background: url(../images/complexion_clearing/warming_anti-blackhead_cream_cleanser_h.gif) no-repeat; height:111px;}
#cc.detail #middle_content h1.pHeading_4{background: url(../images/complexion_clearing/pore_unclogging_scrub_h.gif) no-repeat;}
#cc.detail #middle_content h1.pHeading_5{background: url(../images/complexion_clearing/triple_action_astringent_h.gif) no-repeat;}

#cc.detail #middle_content h2.pHeading_2{background: url(../images/complexion_clearing/blemish_fighting_ice_cleanser_sh.gif) no-repeat 31px 0;}
#cc.detail #middle_content h2.pHeading_3{background: url(../images/complexion_clearing/warming_anti-blackhead_cream_cleanser_sh.gif) no-repeat 31px 0;}
#cc.detail #middle_content h2.pHeading_4{background: url(../images/complexion_clearing/pore_unclogging_scrub_sh.gif) no-repeat 31px 0;}
#cc.detail #middle_content h2.pHeading_5{background: url(../images/complexion_clearing/triple_action_astringent_sh.gif) no-repeat 31px 0;}

#cc #instantly_clear_detail_promo{
	height:82px;
	width:520px;
	margin:15px 0 20px 31px;
	background: url(../images/complexion_clearing/instantly_clear_detail_promo_over.gif) no-repeat top left;
}

#cc #instantly_clear_detail_promo a{
	display:block;
	text-indent:-9000px;
	height:100%;
	width:100%;
	background: url(../images/complexion_clearing/instantly_clear_detail_promo.gif) no-repeat top left;
}

#cc #instantly_clear_detail_promo a:hover{background-image:none;}

#cc #subnav_bar{background: url(../images/complexion_clearing/subnav_bar_bg.jpg) no-repeat top left;}
#cc #subnav_bar h2{
	background: url(../images/complexion_clearing/explore_cc.gif) no-repeat top center;
	height:25px;
}

#cc #subnav_bar li a:hover{
	color:#4ca697;
	background: url(../images/complexion_clearing/cc_subnav_bg.jpg) no-repeat 0 0
}

#cc #product_img{
	left:35px;
	top:29px;	
}

#cc #tabbed_content h3{
	color:#008b9d;
}

#cc #tabbed_content #tabs li{
	border-bottom:1px solid #bcd7e1;
	border-right:1px solid #bcd7e1;
}

#cc #tabbed_content #tabs li.ui-tabs-selected{
	border-top:1px solid #bcd7e1;
}

#cc #tabbed_content #tabs li.ui-tabs-selected a{
	background: url(../images/complexion_clearing/down_arrow.gif) no-repeat bottom center;
}

#cc #tabbed_content #tabs li a:hover, #cc #tabbed_content #tabs li.ui-tabs-selected a{
	color:#4ca697
}

#cc #detail_disclaimer{
	font-size:10px;
	color:#7cc5b9;
	padding-top:15px;
	width:460px;
}
/* complexion clearing detail page - END */
/* pore strips landing page - START */
#ps #middle{
	background: #fce7ef url(../images/pore_strips/ps_bg.jpg) repeat-x 0px 0px;
}

#ps #middle_content{
	height:498px;
	background: url(../images/pore_strips/ps_landing_glow_bg.jpg) no-repeat;
}

#ps.landing #middle_content p, #ps.landing #middle_content h1{
	text-indent:-9000px;
	position:absolute;
}


#ps #middle_content h1#intro_h{
	background: url(../images/pore_strips/intro_h.gif) no-repeat top left;
	width:239px;
	height:43px;
	right:15px;
	top:60px;
}

#ps p#intro_text{
	background: url(../images/pore_strips/intro_text.gif) no-repeat 0 15px;
	top:105px;
	height:100px;
	right:13px;
	width:269px;
}

#ps #instantly_clear_promo{
	position:absolute;
	right:9px;
	width:285px;
	height:86px;	
	top:223px;
	background: url(../images/pore_strips/instantly_clear_promo_over.gif) no-repeat top left;
}

#ps #instantly_clear_promo a{
	background: url(../images/pore_strips/instantly_clear_promo.gif) no-repeat top left;
	display:block;
	width:100%;
	height:100%;
	text-indent:-9000px;
}

#ps #instantly_clear_promo a:hover{background-image:none;}

#ps.landing p#disclaimer{
	color:#f4b0cb;
	font-size:10px;
	line-height:12px;
	width:285px;
	top:317px;
	right:0px;
	text-indent:0;
}

#ps.landing p#learn_more{
	top:406px;	
	height:30px;
	right:194px;
	width:103px;
	background: url(../images/pore_strips/learn_more.gif) no-repeat top left;
}

#ps #product_list{
	margin:118px 0 0 38px;
}

#ps #product_list li{
	height:319px;
}

#product_list li#ultra_pore_strips{width:204px; background:  url(../images/pore_strips/ultra_deep_cleansing_pore_strips_over.jpg) no-repeat bottom left;}
#product_list li#combo_pore_strips{width:232px; background:  url(../images/pore_strips/combo_pack_deep_cleansing_pore_strips_over.jpg) no-repeat bottom left;}
#product_list li#deep_cleansing_pore_strips{width:192px; background:  url(../images/pore_strips/deep_cleansing_pore_strips_over.jpg) no-repeat bottom left;}

#product_list li#ultra_pore_strips a{background:  url(../images/pore_strips/ultra_deep_cleansing_pore_strips.jpg) no-repeat bottom left;}
#product_list li#combo_pore_strips a{background:  url(../images/pore_strips/combo_pack_deep_cleansing_pore_strips.jpg) no-repeat bottom left;}
#product_list li#deep_cleansing_pore_strips a{background:  url(../images/pore_strips/deep_cleansing_pore_strips.jpg) no-repeat bottom left;}

/* pore strips landing page - END */
/* pore strips detail page - START */
#ps.detail #middle_content{
	width:737px;
	overflow:visible;
	padding:27px 0 30px 230px;
	background: url(../images/pore_strips/ps_glow_bg.jpg) no-repeat top left;
}

#container.ps #middle_content{
	height:525px;
}

html > body #container.ps #middle_content{
	height:auto;
	min-height:525px;	
}

#ps.detail #middle_content h1.heading, #ps.detail #middle_content h2.heading{
	text-indent:-9000px;
	height:112px;
	width:540px;	
}

#ps.detail #middle_content h2.heading{height:25px;}

#ps.detail #middle_content h1.pHeading_9{height:82px; background: url(../images/pore_strips/deep_cleansing_pore_strips_h.gif) no-repeat;}
#ps.detail #middle_content h1.pHeading_10{background: url(../images/pore_strips/ultra_deep_cleansing_pore_strips_h.gif) no-repeat; height:111px;}
#ps.detail #middle_content h1.pHeading_19{background: url(../images/pore_strips/combo_pack_deep_cleansing_pore_strips_h.gif) no-repeat;}

#ps.detail #middle_content h2.heading{background: url(../images/pore_strips/pore_strips_sh.gif) no-repeat 31px 0;}
#ps.detail #middle_content h2.pHeading_19{background-image: url(../images/pore_strips/pore_strips_combo_sh.gif);}
#ps.detail #middle_content h2.pHeading_10{background-image: url(../images/pore_strips/pore_strips_ultra_sh.gif);}

#ps #instantly_clear_detail_promo{
	height:82px;
	width:520px;
	margin:5px 0 20px 31px;
	background: url(../images/complexion_clearing/instantly_clear_detail_promo_over.gif) no-repeat top left;
}

#ps #instantly_clear_detail_promo a{
	display:block;
	text-indent:-9000px;
	height:100%;
	width:100%;
	background: url(../images/complexion_clearing/instantly_clear_detail_promo.gif) no-repeat top left;
}

#ps #instantly_clear_detail_promo a:hover{background-image:none;}

#ps #subnav_bar{
	background: url(../images/pore_strips/subnav_bar_bg.jpg) no-repeat top left;
	padding-top:11px;
}

#ps #subnav_bar h2{
	background: url(../images/pore_strips/explore_ps.gif) no-repeat top center;
	height:51px;
}

#ps #subnav_bar ul{
	position:relative;
	top:-8px;	
}

#ps #subnav_bar li a:hover{
	color:#e883b6;
	background: url(../images/pore_strips/ps_subnav_bg.jpg) no-repeat 0 0
}

#ps #product_img{
	left:35px;
	top:29px;	
	padding-top:10px;
}

#ps #tabbed_content h3{
	color:#e883b6;
}

#ps #tabbed_content #tabs li{
	border-bottom:1px solid #efd7e8;
	border-right:1px solid #efd7e8;
}

#ps #tabbed_content #tabs li.ui-tabs-selected{
	border-top:1px solid #efd7e8;
}

#ps #tabbed_content #tabs li.ui-tabs-selected a{
	background: url(../images/pore_strips/down_arrow.gif) no-repeat bottom center;
}

#ps #tabbed_content #tabs li a:hover, #ps #tabbed_content #tabs li.ui-tabs-selected a{
	color:#e883b6
}

#ps #detail_disclaimer{
	font-size:10px;
	color:#f4b0cb;
	padding-top:15px;
	width:460px;
}

/* skin preservation landing page - START */
#sp #middle{background: #cfe0c0 url(../images/skin_preservation/sp_bg.jpg) repeat-x top left;}
#sp #middle_content{
	background: #cfe0c0 url(../images/skin_preservation/sp_landing_glow_bg.jpg) no-repeat top left;
	height:458px;
	padding:32px 0 0px 25px;
	width:942px;
}

#sp.landing #middle_content p, #sp.landing #middle_content h1{
	text-indent:-9000px;
	position:absolute;
}

#sp.landing h1#intro_h{
	background: url(../images/skin_preservation/intro_h.gif) no-repeat top left;
	height:80px;
	margin-top:20px;
	right:-41px;
	width:461px;
	top:50px;
}

#sp.landing p#intro_text{
	top:133px;
	height:100px;
	right:0;
	width:242px;
	background: url(../images/skin_preservation/intro_text.gif) no-repeat top left;
}

#sp.landing #inbetween_nation_promo{
	width:221px;
	height:143px;
	position:absolute;
	text-indent:-9000px;
	right:22px;
	top:245px;
	background: url(../images/skin_preservation/inbetween_nation_promo_over.gif) no-repeat top left;
}

#sp.landing #inbetween_nation_promo a{
	display:block;
	width:100%;
	height:100%;
	background: url(../images/skin_preservation/inbetween_nation_promo.gif) no-repeat top left;
}

#sp.landing #inbetween_nation_promo a:hover{background-image:none;}

#sp.landing p#learn_more{
	top:390px;	
	height:30px;
	right:127px;
	width:115px;
	background: url(../images/skin_preservation/learn_more.gif) no-repeat top left;
}

#sp #footer{height:72px;}

#sp #product_list li{
	height:400px;	
}

#product_list li#dual_fusion{width:172px; background:  url(../images/skin_preservation/dual_fusion_over.jpg) no-repeat bottom left;}
#product_list li#clean_things_up{width:156px; background:  url(../images/skin_preservation/clean_things_up_over.jpg) no-repeat bottom left;}
#product_list li#see_the_future{width:115px; background:  url(../images/skin_preservation/see_the_future_over.jpg) no-repeat bottom left;}
#product_list li#hard_days_night{width:120px; background:  url(../images/skin_preservation/hard_days_night_over.jpg) no-repeat bottom left;}
#product_list li#even_smoother{width:129px; background:  url(../images/skin_preservation/even_smoother_over.jpg) no-repeat bottom left;}

#product_list li#dual_fusion a{background:  url(../images/skin_preservation/dual_fusion.jpg) no-repeat bottom left;}
#product_list li#clean_things_up a{background:  url(../images/skin_preservation/clean_things_up.jpg) no-repeat bottom left;}
#product_list li#see_the_future a{background:  url(../images/skin_preservation/see_the_future.jpg) no-repeat bottom left;}
#product_list li#hard_days_night a{background:  url(../images/skin_preservation/hard_days_night.jpg) no-repeat bottom left;}
#product_list li#even_smoother a{background:  url(../images/skin_preservation/even_smoother.jpg) no-repeat bottom left;}

#botanamide{
	width:100%;	
	background:  url(../images/skin_preservation/botanamide_bg.gif) repeat-x top left;
	height:48px;
}

#botanamide a#message{
	background: url(../images/skin_preservation/message_bg.gif) no-repeat 0 0px;
	width:797px;
	height:50px;
	display:block;
	position:relative;
	top:-7px;
	opacity:.6;
	filter: alpha(opacity=60);
	text-indent:-9000px;
	margin:0px auto 0;
}

/* skin preservation landing page - END */
/* skin preservation detail pages - START */
#sp.detail #middle_content{
	width:737px;
	overflow:visible;
	padding:22px 0 30px 230px;
	background: url(../images/skin_preservation/sp_glow_bg.jpg) no-repeat top left;
}

#container.sp #middle_content{
	height:525px;
}

html > body #container.sp #middle_content{
	height:auto;
	min-height:525px;	
}

#sp.detail #middle_content h1.heading, #sp.detail #middle_content h2.heading{
	text-indent:-9000px;
	height:85px;
	width:540px;	
}

#sp.detail #middle_content h2.heading{height:40px;}

#sp.detail #middle_content h1.pHeading_27{background: url(../images/skin_preservation/dual_fusion_h.gif) no-repeat top left;}
#sp.detail #middle_content h2.pHeading_27{background: url(../images/skin_preservation/dual_fusion_sh.gif) no-repeat 33px 0px;}
#sp.detail #middle_content h1.pHeading_28{background: url(../images/skin_preservation/see_the_future_h.gif) no-repeat top left;}
#sp.detail #middle_content h2.pHeading_28{background: url(../images/skin_preservation/see_the_future_sh.gif) no-repeat 33px 0px;}
#sp.detail #middle_content h1.pHeading_29{background: url(../images/skin_preservation/hard_days_night_h.gif) no-repeat top left;}
#sp.detail #middle_content h2.pHeading_29{background: url(../images/skin_preservation/hard_days_night_sh.gif) no-repeat 33px 0px;}
#sp.detail #middle_content h1.pHeading_30{background: url(../images/skin_preservation/even_smoother_h.gif) no-repeat top left;}
#sp.detail #middle_content h2.pHeading_30{background: url(../images/skin_preservation/even_smoother_sh.gif) no-repeat 33px 0px;}
#sp.detail #middle_content h1.pHeading_31{background: url(../images/skin_preservation/clean_things_up_h.gif) no-repeat top left; height:115px;}
#sp.detail #middle_content h2.pHeading_31{background: url(../images/skin_preservation/clean_things_up_sh.gif) no-repeat 33px 0px;}

/*#skin_cancer_logo{
	position:absolute;
	top:40px;
	right:205px;
}*/

#tv_ad{
	position:absolute;
	right:40px;
	top:5px;
	width:130px;
	height:20px;
	background: url(../images/skin_preservation/tv_ad_over.gif) no-repeat top left;
}

#tv_ad a{
	display:block;
	height:100%;
	width:100%;
	text-indent:-9000px;
	background: url(../images/skin_preservation/tv_ad.gif) no-repeat top left;
}

#tv_ad a:hover{background-image:none;}

.bug{
	opacity:.8;
	filter:alpha(opacity=80);
	height:100px;
	width:100px;
	position:absolute;
	left:150px;
	top:325px;
}

.bug_28{top:280px; left:90px;}
.bug_31{left:128px;top: 330px}
.bug_see_in_action{top: 90px}


.bug a{
	display:block;
	height:100%;
	width:100%;
	cursor:pointer;
}

.bug_27 a{background: url(../images/skin_preservation/dual_fusion_bug.png) no-repeat top left;}
.bug_28 a{background: url(../images/skin_preservation/see_the_future_bug.png) no-repeat top left;}
.bug_29 a{background: url(../images/skin_preservation/hard_days_night_bug.png) no-repeat top left;}
.bug_31 a{background: url(../images/skin_preservation/hard_days_night_bug.png) no-repeat top left;}
.bug_see_in_action a{background: url(../images/skin_preservation/see_in_action_bug.png) no-repeat top left;}

/* for the ie browsers */
.bug_27 a{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='/usa/images/skin_preservation/dual_fusion_bug.png')\9}
.bug_28 a{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='/usa/images/skin_preservation/see_the_future_bug.png')\9}
.bug_29 a, .bug_31 a{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='/usa/images/skin_preservation/hard_days_night_bug.png')\9}
.bug_see_in_action a{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='/usa/images/skin_preservation/see_in_action_bug.png')\9}

.bug_27 a, .bug_28 a, .bug_29 a, .bug_31 a,.bug_see_in_action a{background:none\9}

#bride_award{
	position:absolute;
	top:-5px;
	left:3px;	
}


s#sp #subnav_bar{background: url(../images/skin_preservation/subnav_bar_bg.jpg) no-repeat top left;}
#sp #subnav_bar h2{background: url(../images/skin_preservation/explore_sp.gif) no-repeat top center;}

#subnav_bar li img.works_with{
	position:absolute;
	left:-45px;
	display:none;
	top:28px;
}

#subnav_bar li img.works_with.display{
	display:block;
}

#sp #subnav_bar li a:hover{
	color:#00798f;
	background: url(../images/skin_preservation/sp_subnav_bg.jpg) no-repeat 0 0
}

#sp #subnav_bar{
	right:17px;	
	top:28px;
}

#sp #product_img{
	left:0;
	top:49px;	
}

#sp #tabbed_content h3{
	color:#008b9d;
}

#sp #tabbed_content #tabs li{
	border-bottom:1px solid #bdd7e3;
	border-right:1px solid #bdd7e3;
}

#sp #tabbed_content #tabs li.ui-tabs-selected{
	border-top:1px solid #bdd7e3;
}

#sp #tabbed_content #tabs li.ui-tabs-selected a{
	background: url(../images/skin_preservation/down_arrow.gif) no-repeat bottom center;
}

#sp #tabbed_content #tabs li a:hover, #sp #tabbed_content #tabs li.ui-tabs-selected a{
	color:#008b9d;
}

p.disclaimer{
	position:absolute;
	bottom:-150px;
	font-size:12px;	
}

div#the-difference.ui-tabs-panel, div#ingredients.ui-tabs-panel{
	display:block;
}

div#the-difference, div#ingredients, #tabbed_content div.ui-tabs-hide{
	display:none;
}

.detail #tabbed_content div p{
	margin-bottom:12px;	
}

.detail #tabbed_content div ul{
	list-style-type:disc;
	margin:0 0 15px 15px;
}

#tabbed_content div.factoid{
	background: url(../images/skin_preservation/factoid_bg.png) no-repeat top left;
	width:496px;
	padding:0;
	height:88px;
	overflow:hidden;
}

#tabbed_content div.factoid p{
	color:#60a95f;
	width:380px;
	margin:24px 0 0 50px;
	background:#fff;
	font:italic 16px/20px georgia, serif;
}

* html #tabbed_content div.factoid, * html #expandable p, * html #expandable{
	behavior: url(/usa/includes/pngbehavior.htc);
}


