﻿/* Reset All Styles */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:none;-moz-outline-style:none;}
a:active{outline:0;}
a:focus{-moz-outline-style:none;}
body{line-height:1;}
*:first-child+html body{overflow:visible;}
* html body{overflow:visible;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
/*End Reset */

/*=Global */
#wrapper {
	overflow: hidden;
	margin: 0 auto;
	min-width: 1020px;
	position: relative;
	font: 16px Arial,Helvetica,sans-serif;
}
#headWrap {
	width: 1020px;
	margin: 0 auto;
	position: relative;
	padding-top: 1px;
}
#header, #footer {
	background: #b095c5;
	position: relative;
	margin: 0;
}
sup {
	font-size: 80%;
	position: relative;
	top: -0.35em;
}

/*=Header */
#header {
	height: 389px;
	width: 100%;
}
#header #logo {
	display: block;
	background: url(../images/TargetEndCap/BioreLogo.png) 0 0 no-repeat;
	width: 145px;
	height: 91px;
	margin: 27px auto 18px;
}
#header h1 {
	margin: 0 0 18px 60px;
	background: url(../images/TargetEndCap/BioreTargetEndCapHdr.png) 0 0 no-repeat;
	width: 724px;
	height: 90px;
}
#header h2 {
	margin: 0 0 0 60px;
	background: url(../images/TargetEndCap/BioreTargetEndCapSubHdr.png) 0 0 no-repeat;
	width: 724px;
	height: 44px;
	
}
#header img {
	position: absolute;
	top: 96px;
	right: 55px;	
}	

/*=Footer */
#footer {
    color: #fff;
    font-size: 10px;
    height: 40px;
    top: -100px;
    padding-top: 88px;
}
#footer ul {
    margin: 0 auto;
    overflow: hidden;
    padding-left: 35px;
    position: relative;
    width: 930px;
}
#footer ul li {
    display: inline;
    float: left;
    margin-right: 35px;
    line-height: 16px;
}
#footer ul li a,
#footer ul li a.visited {
	color: #fff;
}
#footer ul li a:hover {
	color: #000;
}

/*=Middle (consolidated form container */
#middle {
	position: relative;
	z-index: 10;
	background: #fff;
	margin: 0 auto;
	min-height: 500px;
	width: 960px;	
	overflow:hidden;
	top: -50px;
	-webkit-box-shadow: 0px 0px 5px 0px #555;
	-moz-box-shadow: 0px 0px 5px 0px #555;
	-o-box-shadow: 0px 0px 5px 0px #555;
	box-shadow: 0px 0px 5px 0px #555;
	behavior: url(../js/pie.htc);
}
#midWrap {
	width: 960px;
	position: relative;
}
#middle .vertical #contactFormWrap {
	margin: 0;
	padding: 10px 0;
}
#middle .vertical #contactFormWrap .OptinContainer #optinToAll {
	clear: left;
}
#middle .disclaimer {
	color: #005daa;
	font: 12px arial,helvetica,sans-serif;
	margin: 35px auto 20px;
	width: 876px;
}
#middle .disclaimer a {
	color: #005daa;
	text-decoration: underline;	
}
#middle .disclaimer a:hover {
	color: #000;
}

/*=Helper (non-semantic) classes */
.ir {
	display: block;
	position: relative;
	text-indent: -9999px;
	overflow: hidden;
	border: 0;
}

/*=Rules */
.rules #header h1 {
	background: url(../images/TargetEndCap/BioreTargetEndCapRulesHdr.png) 0 0 no-repeat;
}
.rules #middle {
	padding: 20px;
	width: 920px;
}
.rules h2, .rules h3 {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 0 150px;
	margin: 0 0 12px;
}
.rules h2 {
	font-size: 18px;
}
.rules p,
.rules li {
	margin: 0 0 8px;
}
.rules ul {
	padding-left: 30px;	
}
.rules a {
	color: #000;
}
.rules a:hover {
	color: #B095C5;
}