﻿.education #bg{
    position:absolute;
    left:0px;
    width:100%;
    min-width:320px;
    background: url(../images/education/educationEdgesBg.jpg) no-repeat center top;
}

.education #bg img{
    width:100%;
    display:block;
    max-width:990px;
    max-height:391px;
    margin:0 auto;
}

#mainContent h1{
    position:relative;
}

#mainContent h1 .newLine{
    display:block;
}

#mainContent h1 .firstLine{color:#f67f25;}
#mainContent h1 .secondLine{color:#7bacd9;}
    
    
#mainContent h1 img{
    position:absolute;
}

#arrow{display:none;}

#mainContent h2{
    width:47.5%;
    min-width:280px;
}

#mainContent h2 img{
    width:100%;
}

#steps{
    padding-bottom:30px;
}

#steps .imageWrapper{
    position:relative;
}

#steps img.drawnArrows{
    left: 24%;
    max-width: 194px;
    position: absolute;
    top: 14.2%;
    width: 90%;
}

#listCopy{
    float:left; 
    position:relative;
}

#listCopy li{
    overflow:hidden;
}

#listCopy .sideImg{
    width:27.1%;
    max-width:132px;
}

#listCopy .copy{
    float:right;
    width:68%;
    color:#666666;
    line-height:18px;
    margin-top:6%;
}

#listCopy .copy img{
    /*max-width: 202px;
    width: 100%;*/
} 

/*#item1 .copy img {max-height:16px;}
#item2 .copy img {max-height:40px;}
#item3 .copy img {max-height:41px;}*/

#listCopy .copy p{
    padding-left:40px;
}

#listCopy h3{
    background: url(../images/education/numbersBg.png) no-repeat;
    padding:7px 0 0px 39px;
    line-height:15px;
    min-height:21px;
}

#item2 h3{background-position:0 -100px;}
#item3 h3{background-position:0 -225px;}

#copy{
    overflow:hidden;
    line-height:20px;
} 

#copy h3{
    text-transform:uppercase;
    margin-bottom:10px;
    line-height:20px;
    font-weight:normal;
}

#copy p{
    margin-bottom:15px;
}

#copy a{
    color:#005dab;
    text-decoration:none;
}

.notouch #copy a:hover{
   color:#5091CD;
}

.combinationSkin{
    padding-top:15px;
    margin-bottom:15px;
    overflow:hidden;
}

.combinationSkin h3{
    padding-top:5px;
}

.combinationSkin img{
    float:left;
    width:32%;
    max-width:97px;
    max-height:222px;
    margin:0 3.5% -18px 0;
}

.orange{color:#f67f25;}
.blue{color:#005dab;}


/* teasers */
.teaser{
    position:relative;
}

#productChanges h3{
    font-size:17px;
}
    
#newLook {
    position:relative;
    max-width:440px;
}

.notouch #newLook:hover p{color:#005daa;}

#newLook p{
    color:#013a81;
    left:0;
    padding: 14% 0 0 57%;
    position: absolute;
    top: 0;
    width: 37.8%;
}

#newLook .newLookImg{
    position:absolute;
    top:0px;    
    width:24.7%;
    right:40%;
}

#newLook .backgroundImg{
    width:100%;
    top:0;
}

/* smallest size */
@media all and (max-width:624px){  
    #mainContent .centeringDiv {
        padding-left:22px;
        padding-right:22px;
    }
    
    #mainContent h1{
        padding-top:20px;
        margin-bottom:20px;
    }
    
    #mainContent #arrow{
        display:block;
        left:78px;
        top:100%;
        position:absolute;
    }
        
    #mainContent h1 .firstLine{
        font-size:32px;
        line-height:36px;
        width:52%;
    }
    
    #mainContent h1 .secondLine{
        font-size:30px;        
        line-height:30px;
        width:83%;
        max-width: 245px;
    }
    
    #steps .imageWrapper{
        margin:-7px auto -25px;
        width:218px;
    }
    
    #steps img.drawnArrows{
        display:none;
    } 
    
    #listCopy .copy {
        width: 71%;
        font-size:14px;
    }
    
    .scrollPage{
        position:absolute;
        display:block;
        height:70px;
        width:60px;
    }
    
    #item1Nav{
        left:38px;
        background: url(../images/education/oneAnimate.gif) no-repeat;
        top:122px;
    }
    
    #item2Nav{
        left:139px;
        background: url(../images/education/twoAnimate.gif) no-repeat;
        top:182px;
    }
    
    #item3Nav{
        left:163px;
        background: url(../images/education/threeAnimate.gif) no-repeat;
        top:259px;
    }
    
    #copy h3{
        font-size:18px;
        width:90%;
    }
    
    #copy .col{
        font-size:14px;
        clear:left;
    }
    
    #copy .combinationSkin h3{
        margin-bottom:13px;
    }
    
    #newLook{
        margin:0 auto;
    }
    
    #productChanges{
        text-align:center;
        margin:0 auto;
    }
    
    #productChanges img{
        margin:0 auto;
        display:block;
    }
    
    p.faceAnything img{
        width:90%;
        max-width:293px;
    }
}

/* shared medium to big size */
@media all and (min-width:625px){  
    #mainContent .centeringDiv{
        padding-left:15px;
        max-width:975px;
    }

    #steps{
        margin-left:14%;
    }
    
    #steps .imageWrapper{
        float:left;
        margin:-7px 0 0 0;
        position:relative;
        width:36%;
        max-width:218px;
    }
    
    #steps img.productImg{
        width:100%;       
    }
    
    .scrollPage{display:none;}
    
    #listCopy{
        width:58%;
        padding:20px 0 0 4%;   
    }
    
    #listCopy .copy{
        font-size:15px;
    }
    
    #item1 .copy{
        margin-top:12%;
    }
    
    #copy .col{
        float:left;
        width:47%;
        font-size:15px;
    }
    
    .combinationSkin{
        width:91%;
        overflow:hidden;
    }
    
    .teaser{
        float:left;
    }
    
    #productChanges{
        margin-left:7%;
        width: 45.2%;
    }
    
    #productChanges img{
        float:left;
        width:52.8%;
        max-width:199px;
        margin-right:2%;
        max-height:167px;
    }
    
    #productChanges h3{
        padding-top:13%;
        line-height:17px;
        margin-bottom:5px;
    }
    
    #newLook {
        width:45.2%;
    } 
    
    .marginRight{margin-right:6%;}
}

/* medium size */
@media all and (min-width:625px) and (max-width:809px){  
    #mainContent h1{
        padding-top:35px;
    }
    
    #mainContent h1 .firstLine{
        font-size:41px;
    }
    
    #mainContent h1 .secondLine{
        font-size:32px;        
    }
   
    #copy h3{
        font-size:19px;
    }
    
    #productChanges p{
        font-size:14px;
    }    
    
    #newLook p{
        font-size:14px;
        line-height:17px;
        padding: 13% 0 0 57%;
    }
}

/* full size */
@media all and (min-width:810px){ 
    #mainContent h1{
        padding-top:60px;
        line-height:50px;
    }
    
    #mainContent h1 .firstLine{
        font-size:50px;
    }
    #mainContent h1 .secondLine{
        font-size:34px;        
        padding-left:20px;
    }   
    
    #copy h3{
        font-size:20px;
    }
    
    #productChanges p{
        font-size:15px;
    }
    
    #newLook p{
        font-size:15px;
        line-height:20px;
    }
}

/* for teasers at small size but still scaling */
@media all and (min-width:505px) and (max-width:624px) { 
    #newLook p,
    #productChanges p{
        font-size:15px;
        line-height:20px;
    }
    #productChanges {width:255px;}
}

@media all and (min-width:385px) and (max-width:504px) { 
    #newLook p,
    #productChanges p{
        font-size:14px;
        line-height:18px;
    }
}

@media all and (max-width:384px) { 
    #newLook p{padding: 12% 0 0 57%;}
    
    #newLook p,
    #productChanges p{
        font-size:13px;
        line-height:15px;
    }
}
