﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="BVSEO.ascx.cs" Inherits="Biore.BazaarVoice.Controls.BVSEO" %>

<div id="BVRRSummaryContainer" runat="server"></div>                
<div id="BVRRContainer" runat="server"></div>
