﻿<%@ Page Language="C#" MasterPageFile="../Site.Master" AutoEventWireup="true" CodeBehind="NewsletterForm.aspx.cs"
    Inherits="Biore2012.FormConfig.NewsletterForm" %>
<%@ Register TagPrefix="skm" Namespace="skmValidators" Assembly="skmValidators" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <%#SquishIt.Framework.Bundle .Css()
        .Add("~/css/formConfig.css")
        .Render("~/css/combinedform_#.css")
    %>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="main">
        <div id="mainContent">
            <div id="shadow">
            </div>
            <div class="centeringDiv">
                <div class="responsive contact">
                    <div id="contactFormWrap">
                        <div id="BrandImageContainer" class="png-fix">
                            <img class="png-fix" src="images/forms/contactUsPhoto.jpg" style="border-width: 0px;" />
                        </div>
                        <div id="ContactFormContainer">
                            <asp:Panel ID="ContactDetails" runat="server">
                                <!-- Header -->
                                <div id="formHeader">
                                    <h1 id="ctl00_ContentPlaceHolder1_ucForm_PageHeader">
                                        Join the Movement for Great Skin 24/7!
                                    </h1>
                                </div>
                            </asp:Panel>
                            <asp:Panel ID="OptinForm" runat="server">
                                <!-- Description -->
                                <div class="DescriptionContainer png-fix">
                                    <h2>
                                        Thanks for your interest in Bioré® Skincare!</h2>
                                    Please enter the information below to hear about all our latest promotions, contests,
                                    and news.
                                </div>
                                <!-- From Fields -->
                                <div class="FormContainer">
                                    <p class="req png-fix">
                                        <em>Required*</em></p>
                                    <div class="MemberInfoContainer png-fix">
                                        <div class="NameWrapper">
                                            <div class="FirstNameContainer Question">
                                                <asp:Label ID="FNameLbl" runat="server" Text="First Name*" AssociatedControlID="FName"></asp:Label>
                                                <asp:TextBox ID="FName" runat="server" MaxLength="50" CssClass="inputTextBox"></asp:TextBox>
                                                <div class="ErrorContainer">
                                                    <asp:RequiredFieldValidator ID="FNameValidator1" runat="server" ErrorMessage="Please enter your First Name."
                                                        ControlToValidate="FName" EnableClientScript="true" SetFocusOnError="true" Display="Dynamic"
                                                        CssClass="errormsg"></asp:RequiredFieldValidator>
                                                    <asp:RegularExpressionValidator ID="FNameValidator2" runat="server" ErrorMessage="The characters '>' and '<' are not permitted. Please re-enter your First Name."
                                                        ValidationExpression="^[^<>]+$" ControlToValidate="FName" EnableClientScript="true"
                                                        SetFocusOnError="true" Display="Dynamic" CssClass="errormsg"></asp:RegularExpressionValidator>
                                                </div>
                                            </div>
                                            <div class="LastNameContainer Question">
                                                <asp:Label ID="LNameLbl" runat="server" Text="Last Name*" AssociatedControlID="LName"></asp:Label>
                                                <asp:TextBox ID="LName" runat="server" MaxLength="50" CssClass="inputTextBox"></asp:TextBox>
                                                <div class="ErrorContainer">
                                                    <asp:RequiredFieldValidator ID="LNameValidator1" runat="server" ErrorMessage="Please enter your Last Name."
                                                        ControlToValidate="LName" EnableClientScript="true" SetFocusOnError="true" Display="Dynamic"
                                                        CssClass="errormsg"></asp:RequiredFieldValidator>
                                                    <asp:RegularExpressionValidator ID="LNameValidator2" runat="server" ErrorMessage="The characters '>' and '<' are not permitted. Please re-enter your Last Name."
                                                        ValidationExpression="^[^<>]+$" ControlToValidate="LName" SetFocusOnError="true"
                                                        Display="Dynamic" CssClass="errormsg"></asp:RegularExpressionValidator>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="EmailWrapper">
                                            <div class="EmailContainer Question">
                                                <asp:Label ID="EmailLbl" runat="server" Text="Email*" AssociatedControlID="Email"></asp:Label>
                                                <asp:TextBox ID="Email" runat="server" MaxLength="150" CssClass="inputTextBox"></asp:TextBox>
                                                <div class="ErrorContainer">
                                                    <asp:RequiredFieldValidator ID="EmailValidator1" runat="server" ErrorMessage="Please enter your Email Address."
                                                        ControlToValidate="Email" EnableClientScript="true" SetFocusOnError="true" Display="Dynamic"
                                                        CssClass="errormsg"></asp:RequiredFieldValidator>
                                                    <asp:RegularExpressionValidator ID="EmailValidator2" runat="server" ErrorMessage="Please enter a valid Email Address."
                                                        ValidationExpression="^([a-zA-Z0-9_\-\.\+]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                                                        ControlToValidate="Email" EnableClientScript="true" SetFocusOnError="true" Display="Dynamic"
                                                        CssClass="errormsg"></asp:RegularExpressionValidator>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seperator png-fix">
                                        </div>
                                        <div id="ctl00_ContentPlaceHolder1_ucForm_ucFormMemberInfo_PanelAddress" class="AddressContainer">
                                            <div class="AddressWrapper">
                                                <div class="Address1Container Question">
                                                    <asp:Label ID="Address1Lbl" runat="server" Text="Address 1*" AssociatedControlID="Address1"></asp:Label>
                                                    <asp:TextBox ID="Address1" runat="server" MaxLength="50" CssClass="inputTextBox"></asp:TextBox>
                                                    <div class="ErrorContainer">
                                                        <asp:RequiredFieldValidator ID="Address1Validator1" runat="server" ErrorMessage="Please enter your Address."
                                                            ControlToValidate="Address1" EnableClientScript="true" SetFocusOnError="true"
                                                            Display="Dynamic" CssClass="errormsg" />
                                                        <asp:RegularExpressionValidator ID="Address1Validator2" runat="server" ErrorMessage="Please do not use special characters in the Address 1 field."
                                                            ValidationExpression="^[^<>]+$" ControlToValidate="Address1" EnableClientScript="true"
                                                            SetFocusOnError="true" Display="Dynamic" CssClass="errormsg" />
                                                    </div>
                                                </div>
                                                <div class="Address2Container Question">
                                                    <asp:Label ID="Address2Lbl" runat="server" Text="Address 2" AssociatedControlID="Address2"></asp:Label>
                                                    <asp:TextBox ID="Address2" runat="server" MaxLength="50" CssClass="inputTextBox"></asp:TextBox>
                                                    <div class="ErrorContainer">
                                                        <asp:RegularExpressionValidator ID="Address2Validator1" runat="server" ErrorMessage="Please do not use special characters in the Address 2 field."
                                                            ValidationExpression="^[^<>]+$" ControlToValidate="Address2" EnableClientScript="true"
                                                            SetFocusOnError="true" Display="Dynamic" CssClass="errormsg" />
                                                    </div>
                                                </div>
                                                <div class="Address3Container Question">
                                                    <asp:Label ID="Address3Lbl" runat="server" Text="Address 3" AssociatedControlID="Address3"></asp:Label>
                                                    <asp:TextBox ID="Address3" runat="server" MaxLength="50" CssClass="inputTextBox"></asp:TextBox>
                                                    <div class="ErrorContainer">
                                                        <asp:RegularExpressionValidator ID="Address3Validator1" runat="server" ErrorMessage="Please do not use special characters in the Address 3 field."
                                                            ValidationExpression="^[^<>]+$" ControlToValidate="Address3" EnableClientScript="true"
                                                            SetFocusOnError="true" Display="Dynamic" CssClass="errormsg" />
                                                    </div>
                                                </div>
                                                <div class="CityContainer Question">
                                                    <asp:Label ID="CityLbl" runat="server" Text="Suburb*" AssociatedControlID="City"></asp:Label>
                                                    <asp:TextBox ID="City" runat="server" MaxLength="50" CssClass="inputTextBox"></asp:TextBox>
                                                    <div class="ErrorContainer">
                                                        <asp:RequiredFieldValidator ID="CityValidator1" runat="server" ErrorMessage="Please enter your Suburb."
                                                            ControlToValidate="City" EnableClientScript="true" SetFocusOnError="true" Display="Dynamic"
                                                            CssClass="errormsg" />
                                                        <asp:RegularExpressionValidator ID="CityValidator2" runat="server" ErrorMessage="Please do not use special characters in the Suburb field."
                                                            ValidationExpression="^[^<>]+$" ControlToValidate="City" EnableClientScript="true"
                                                            SetFocusOnError="true" Display="Dynamic" CssClass="errormsg" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="StateContainer Question">
                                                <asp:Label ID="StateLbl" runat="server" Text="State*" AssociatedControlID="State"></asp:Label>
                                                <asp:DropDownList ID="State" runat="server">
                                                    <asp:ListItem Value="" Selected="true">Select State</asp:ListItem>
                                                    <asp:ListItem Value="ACT">Australian Capital Territory</asp:ListItem>
                                                    <asp:ListItem Value="NSW">New South Wales</asp:ListItem>
                                                    <asp:ListItem Value="NT">Northern Territory</asp:ListItem>
                                                    <asp:ListItem Value="QLD">Queensland</asp:ListItem>
                                                    <asp:ListItem Value="SA">South Australia</asp:ListItem>
                                                    <asp:ListItem Value="TAS">Tasmania</asp:ListItem>
                                                    <asp:ListItem Value="VIC">Victoria</asp:ListItem>
                                                    <asp:ListItem Value="W.A">Western Australia</asp:ListItem>
                                                </asp:DropDownList>
                                                <div class="ErrorContainer">
                                                    <asp:RequiredFieldValidator ID="StateValidator" runat="server" ErrorMessage="Please select your State."
                                                        ControlToValidate="State" EnableClientScript="true" SetFocusOnError="true" Display="Dynamic"
                                                        CssClass="errormsg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seperator png-fix">
                                        </div>
                                        <div class="PostalCodeContainer Question">
                                            <asp:Label ID="PostalCodeLbl" runat="server" Text="Post Code*" AssociatedControlID="PostalCode"></asp:Label>
                                            <asp:TextBox ID="PostalCode" runat="server" MaxLength="20" CssClass="inputTextBox"></asp:TextBox>
                                            <div class="ErrorContainer">
                                                <asp:RequiredFieldValidator ID="PostalCodeValidator1" runat="server" ErrorMessage="Please enter your Post Code"
                                                    ControlToValidate="PostalCode" EnableClientScript="true" SetFocusOnError="true"
                                                    Display="Dynamic" CssClass="errormsg"></asp:RequiredFieldValidator>
                                               
                                            </div>
                                        </div>
                                        <div class="CountryContainer Question">
                                            <span id="ctl00_ContentPlaceHolder1_ucForm_ucFormMemberInfo_CountryLbl">Country
                                            </span><span class="fake_input">Australia</span>
                                        </div>
                                        <div class="seperator png-fix">
                                        </div>
                                        <div id="ctl00_ContentPlaceHolder1_ucForm_ucFormMemberInfo_PanelGender" class="GenderContainer Question">
                                            <asp:Label ID="GenderLbl" runat="server" Text="Gender*" AssociatedControlID="Gender"></asp:Label>
                                            <asp:DropDownList ID="Gender" runat="server">
                                                <asp:ListItem Value="">Select</asp:ListItem>
                                                <asp:ListItem Value="F">Female</asp:ListItem>
                                                <asp:ListItem Value="M">Male</asp:ListItem>
                                            </asp:DropDownList>
                                            <div class="ErrorContainer">
                                                <asp:RequiredFieldValidator ID="GenderValidator" runat="server" ErrorMessage="Please enter your Gender."
                                                    ControlToValidate="Gender" EnableClientScript="true" SetFocusOnError="true" Display="Dynamic"
                                                    CssClass="errormsg"></asp:RequiredFieldValidator>
                                            </div>
                                        </div>
                                        <div class="BirthdayContainer Question">
                                            <asp:Label ID="DOBLbl" runat="server" Text="Birthdate*" AssociatedControlID="yyyy"></asp:Label>
                                            <asp:DropDownList ID="dd" runat="server" CssClass="inputSelectBDay day">
                                            </asp:DropDownList>
                                            <asp:DropDownList ID="mm" runat="server" CssClass="inputSelectBDay month">
                                            </asp:DropDownList>
                                            <asp:DropDownList ID="yyyy" runat="server" CssClass="inputSelectBDay year">
                                            </asp:DropDownList>
                                            <div class="ErrorContainer">
                                                <asp:CustomValidator ID="DOBValidator" runat="server" ErrorMessage="Please enter a valid date."
                                                    OnServerValidate="DOBValidate" EnableClientScript="false" Display="Dynamic" CssClass="errormsg validdate"></asp:CustomValidator>
                                                <asp:RequiredFieldValidator ID="ddValidator" runat="server" ErrorMessage="Please enter your Birth Day."
                                                    ControlToValidate="dd" EnableClientScript="true" SetFocusOnError="true" Display="Dynamic"
                                                    CssClass="errormsg day"></asp:RequiredFieldValidator>
                                                <asp:RequiredFieldValidator ID="mmValidator" runat="server" ErrorMessage="Please enter your Birth Month."
                                                    ControlToValidate="mm" EnableClientScript="true" SetFocusOnError="true" Display="Dynamic"
                                                    CssClass="errormsg month"></asp:RequiredFieldValidator>
                                                <asp:RequiredFieldValidator ID="yyyyValidator" runat="server" ErrorMessage="Please enter your Birth Year."
                                                    ControlToValidate="yyyy" EnableClientScript="true" SetFocusOnError="true" Display="Dynamic"
                                                    CssClass="errormsg year"></asp:RequiredFieldValidator>
                                            </div>
                                        </div>

                                        <div class="seperator png-fix">
                                        </div>
                                    </div>
                                              
                                    <div id="ctl00_ContentPlaceHolder1_ucForm_QuestionPanel" class="QuestionContainer">
                        			            
                                        <div class="MarketingQuestionContainer">
                                            <div class="CustomQuestiondropdown Question trait420">
					                            <label for="Biore_mkt_q1" id="Biore_mkt_q1LBL" class="dropdownLabel">How would you describe your skin type? (select one)*</label>
                                                
                                                <asp:DropDownList ID="Biore_mkt_q1" runat="server" CssClass="dropDownAnswer">
						                            <asp:ListItem value="">Select...</asp:ListItem>
						                            
						                            <asp:ListItem value="Normal">Normal</asp:ListItem>
						                            <asp:ListItem value="Combination">Combination</asp:ListItem>
                                                    <asp:ListItem value="Oily">Oily</asp:ListItem>
						                            <asp:ListItem value="Blackhead prone">Blackhead prone</asp:ListItem>
						                            <asp:ListItem value="Blemish prone">Blemish prone</asp:ListItem>
                                                    <asp:ListItem value="Dry">Dry</asp:ListItem>
					                            </asp:DropDownList>
					                            <div class="ErrorContainer">
						                             <asp:RequiredFieldValidator ID="v_Biore_mkt_q1" runat="server" ControlToValidate="Biore_mkt_q1" ErrorMessage="Please answer all required questions." Display="Dynamic" CssClass="errormsg"></asp:RequiredFieldValidator>
					                            </div>
				                            </div>
                                            <div id="collection_mkt_q2_Checkboxes" class="CustomQuestioncheckbox Question trait419 cbVert">
					                            <label for="Biore_mkt_q2" id="Biore_mkt_q9LBL" class="checkboxLabel">Which types of skincare products do you currently use? (select all that apply)*</label>
					                           <asp:CheckBoxList ID="Biore_mkt_q2" RepeatDirection="Vertical" runat="server" RepeatLayout="Flow" CssClass="checkboxAnswer">
							                        <asp:ListItem>Liquid cleanser</asp:ListItem>
							                        <asp:ListItem>Facial scrub</asp:ListItem>
                                                    <asp:ListItem>Toner</asp:ListItem>
							                        <asp:ListItem>Moisturiser</asp:ListItem>
							                        <asp:ListItem>Sunscreen</asp:ListItem>
                                                    <asp:ListItem>Eye cream</asp:ListItem>
                                                    <asp:ListItem>Serum</asp:ListItem>
							                        <asp:ListItem>Mask</asp:ListItem>
							                        <asp:ListItem>Other</asp:ListItem>
							                    </asp:CheckBoxList>
                                                <div style="clear:both"></div>
                                                <div id="Biore_mkt_q2_Other_Div" style="display:none;position:relative;top:0;left:35px;width:100px;">
                                                    <asp:TextBox ID="Biore_mkt_q2_Other" runat="server" MaxLength="20" CssClass="inputTextBox"></asp:TextBox>
                                                </div>
							                    
				         <span class="cbinput"></span>
					                            <div class="ErrorContainer">
						                            <skm:CheckBoxListValidator ID="v_Biore_mkt_q2" ControlToValidate="Biore_mkt_q2"
                                                    runat="server" Display="Dynamic" CssClass="errormsg" ErrorMessage="Please answer all required questions." />
					                            </div>
					                           
				                            </div>

       
                                            <div class="CustomQuestioncheckbox Question trait413 cbVert noneToggle1">
				                                <label for="Biore_mkt_q3" id="Biore_mkt_q3LBL" class="checkboxLabel">What's your favourite Bior&eacute;<sup>&reg;</sup> skincare product? (select all that apply)*</label>
				                                <asp:CheckBoxList ID="Biore_mkt_q3" RepeatDirection="Vertical" runat="server" RepeatLayout="Flow" CssClass="checkboxAnswer">
							                       
							                        <asp:ListItem Value="Bioré® Original Deep Cleansing Pore Strips">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Original Deep Cleansing Pore Strips</asp:ListItem>
							                        <asp:ListItem Value="Bioré® Ultra Pore Strips">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Ultra Pore Strips</asp:ListItem>
							                        <asp:ListItem Value="Bioré® Deep Cleansing Pore Strips Combo">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Deep Cleansing Pore Strips Combo</asp:ListItem>
							                         <asp:ListItem Value="Bioré® Combo Deep Cleansing Pore Strips with Ultra Nose Strips">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Combo Deep Cleansing Pore Strips with Ultra Nose Strips</asp:ListItem>

                                                      <asp:ListItem Value="Bioré® Daily Deep Pore Cleansing Wipes">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Daily Deep Pore Cleansing Wipes</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® Daily Detoxify Scrub">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Daily Detoxify Scrub</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® 4-in-1 Revitalising Cleanser">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; 4-in-1 Revitalising Cleanser</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® Pore Unclogging Scrub">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Pore Unclogging Scrub</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® Steam Activated Cleanser">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Steam Activated Cleanser</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® Make-Up Removing Wipes">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt;  Make-Up Removing Wipes</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® Warming Anti-Blackhead Cleanser">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Warming Anti-Blackhead Cleanser</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® Blemish Fighting Ice Cleanser">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Blemish Fighting Ice Cleanser</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® Triple Action Toner">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Triple Action Toner</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® Nourish Moisture Lotion spf 15">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Nourish Moisture Lotion spf 15</asp:ListItem>

                                                      <asp:ListItem Value="Bioré® Even Smoother Microderm Exfoliator">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Even Smoother Microderm Exfoliator</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® Clean Things Up Nourishing Gel Cleanser">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Clean Things Up Nourishing Gel Cleanser</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® See The Future Fortifying Eye Cream">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; See The Future Fortifying Eye Cream</asp:ListItem>
                                                      <asp:ListItem Value="Bioré® Hard Day’s Night Overnight Moisturiser">Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; Hard Day’s Night Overnight Moisturiser</asp:ListItem>
							                        <asp:ListItem Value="I haven't tried Bioré® before">I haven't tried Bior&eacute;&lt;sup&gt;&reg;&lt;/sup&gt; before</asp:ListItem>

							                    </asp:CheckBoxList>
							                    
				         <span class="cbinput"></span>
				         
					                            <div class="ErrorContainer">
						                            <skm:CheckBoxListValidator ID="HairAppliancesLblVal" ControlToValidate="Biore_mkt_q3"
                                                    runat="server" Display="Dynamic" CssClass="errormsg" ErrorMessage="What's your favourite Bior&eacute;<sup>&reg;</sup> skincare product?" />
					                            </div>
				                            </div>

                                            <div id="collection_mkt_q4_Checkboxes" class="CustomQuestioncheckbox Question cbVert">
				                                <label for="Biore_mkt_q4" id="Biore_mkt_q4LBL" class="checkboxLabel">Where do you purchase Bior&eacute;<sup>&reg;</sup> products from? (select all that apply)*</label>
				                                <asp:CheckBoxList ID="Biore_mkt_q4" RepeatDirection="Vertical" runat="server" RepeatLayout="Flow" CssClass="checkboxAnswer">
							                        <asp:ListItem>Priceline</asp:ListItem>
							                        <asp:ListItem>Woolworths</asp:ListItem>
                                                    <asp:ListItem>Coles</asp:ListItem>
							                        <asp:ListItem>Big W</asp:ListItem>
							                        <asp:ListItem>Target</asp:ListItem>
                                                    <asp:ListItem>Chemist Warehouse</asp:ListItem>
                                                    <asp:ListItem>Pharmacies</asp:ListItem>
							                        <asp:ListItem>Independent Grocers</asp:ListItem>
							                        <asp:ListItem>Other</asp:ListItem>
							                    </asp:CheckBoxList>
                                                <div style="clear:both"></div>
                                                <div id="Biore_mkt_q4_Other_Div" style="display:none;position:relative;top:0;left:35px;width:100px;">
                                                    <asp:TextBox ID="Biore_mkt_q4_Other" runat="server" MaxLength="20" CssClass="inputTextBox"></asp:TextBox>
                                                </div>
							                    
				         <span class="cbinput"></span>
				         
					                            <div class="ErrorContainer">
						                            <skm:CheckBoxListValidator ID="CheckBoxListValidator1" ControlToValidate="Biore_mkt_q4"
                                                    runat="server" Display="Dynamic" CssClass="errormsg" ErrorMessage="Where do you purchase Bior&eacute;<sup>&reg;</sup> products from?" />
					                            </div>
				                            </div>

			                            </div>
		                            </div>
           
                                    <div class="OptinContainer">
                                        <div class="seperator png-fix"></div>
	                                    <p class="privacy">
		                                    Your privacy is important to us. You can trust that Kao (UK) Limited will use personal information in accordance with our <a href="http://www.kaobrands.com/privacy_policy.asp"
			                                    target="_blank">Privacy Policy</a>.
	                                    </p>

	                                    <div class="CurrentSiteOptinContainer">
	                                        <ul>
		                                        <li>
		                                            <asp:CheckBox ID="bioreoptin" runat="server" />
			                                        <asp:Label ID="bioreoptinLabel" runat="server" Text="Yes, tell me about future Bior&eacute;<sup>&reg;</sup> product news and offerings." AssociatedControlID="bioreoptin" CssClass="siteOptinChkbox" />

			                                        <div class="ErrorContainer">
                                    			        <skm:CheckBoxValidator ID="cbv_bioreOptin" runat="server" ControlToValidate="bioreoptin" ErrorMessage="If you want to become a Bioré® Brand Member, please check Yes!" CssClass="errormsg" Display="Dynamic"></skm:CheckBoxValidator>
				                                    </div>

		                                        </li>
	                                        </ul>
	                                    </div>
                                        
                                        <!--<div id="ctl00_ContentPlaceHolder1_ucForm_ucFormOptin_PanelMultiOptin" class="MultiBrandOptinContainer">
                                    			            
		                                    <ul>            
			                                    <li id="optinToAll">
			                                        <asp:CheckBox ID="MultiOptin" runat="server" CssClass="multiOptin" />
			                                        <asp:Label ID="MultiOptinLabel" runat="server" Text="Yes, I'd like to receive emails and newsletters from other great products from Kao Brands Company:" AssociatedControlID="MultiOptin" />
			        
			                                    </li>			

			                                    <li id="ctl00_ContentPlaceHolder1_ucForm_ucFormOptin_curelListItem">
			                                        <asp:CheckBox ID="cureloptin" runat="server" />
			                                <asp:Label ID="cureloptinLabel" runat="server" Text="Cur&eacute;l<sup>&reg;</sup></a> Skincare's full line of hand, foot and body moisturizers delivers freedom from dry skin." AssociatedControlID="cureloptin"
				                                CssClass="brandLabels" />
			                         
			                                    </li>
			                                    <li id="ctl00_ContentPlaceHolder1_ucForm_ucFormOptin_jergensListItem">
			                                        <asp:CheckBox ID="jergensoptin" runat="server" />
			                                        <asp:Label ID="jergensoptinLabel" runat="server" Text="Jergens<sup>&reg;</sup></a> Skincare collection of moisturizers delivers a natural glow, smooth and firm skin and an allure that captivates." AssociatedControlID="jergensoptin"
				                                CssClass="brandLabels" />

			                                    </li>

			                                    <li>
				                                    <p class="privDisclaimer">Before submitting your information, please view our <a
					                                    href="http://www.kaobrands.com/privacy_policy.asp" target="_blank">Privacy Policy</a>.</p>
			                                    </li>
		                                    </ul>
                                    	
		                                    </div>	-->	

                                    </div> 

                                    <div id="submit-container" class="SubmitContainer png-fix">
                                        <asp:Button ID="Button1" runat="server" CssClass="submit buttonLink png-fix" Text="SUBMIT ›" OnClick="Step1_ButtonClick"  />
                                    </div>
                                    <asp:HiddenField ID="hfHookID" runat="server" />
                                </div>
                            </asp:Panel>
                            <asp:Panel ID="OptinFormResults" runat="server">
                                 <div class="ConfrimationContainer"><h2>Thanks!</h2><p>Thanks for your interest in Bior&eacute;<sup>&reg;</sup> Skincare. We look forward to sending you all the latest news on exciting events, contests, and product information throughout the year.</p></div>  

                            </asp:Panel>
                            <asp:Panel ID="OptinError" runat="server">
                                An error has occurred while attempting to submit your information.   <asp:Literal ID="litError" runat="server"></asp:Literal>
                            </asp:Panel>
                            <div class="FormBottom png-fix">
                            </div>
                            <!-- Disclaimer -->
                            <div id="DisclaimerContainer" class="png-fix">
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">

                    </script>

                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" runat="server">

    <script type="text/javascript">
        $(function() {

            if ($(".signUp").length) {
                toggle("noneToggle1");
                toggle("noneToggle2");
                toggle("noneToggle3");
                toggle("noneToggle4");
            }

            $("#ctl00_ContentPlaceHolder1_cureloptin, #ctl00_ContentPlaceHolder1_jergensoptin").click(function() {
                if ($('#ctl00_ContentPlaceHolder1_cureloptin:checked').val()
                    || $('#ctl00_ContentPlaceHolder1_jergensoptin:checked').val()) 
                {
                        $('#ctl00_ContentPlaceHolder1_MultiOptin').attr("checked", "true");
                }
                else { $('#ctl00_ContentPlaceHolder1_MultiOptin').removeAttr("checked"); }
            });
            $("#ctl00_ContentPlaceHolder1_MultiOptin").click(function() {
                if ($('#ctl00_ContentPlaceHolder1_MultiOptin:checked').val()) {
                    $("#ctl00_ContentPlaceHolder1_cureloptin").attr("checked", "true");
                    $("#ctl00_ContentPlaceHolder1_jergensoptin").attr("checked", "true");
                } else {
                    $("#ctl00_ContentPlaceHolder1_cureloptin").removeAttr("checked");
                    $("#ctl00_ContentPlaceHolder1_jergensoptin").removeAttr("checked");
                }
            });

            /*// $(this).prop('checked', false); */
            //Rank Order handling.

            $(".RankHolders input").click(function () {
                rankOrderHandler(".RankHolders input", this);
            });

            $(".RankHolders2 input").click(function () {
                rankOrderHandler(".RankHolders2 input", this);
            });

        });

        function rankOrderHandler(rankClass, inputId) {
            var RankerString = $(inputId).attr('id');
            var RankerCheckedNum = RankerString.substr(RankerString.length - 1);
            var CompareString;
            var CompareNum;

            $(rankClass).each(function () {
                CompareString = $(this).attr('id');
                CompareNum = CompareString.substr(CompareString.length - 1);
                if (CompareString != RankerString && CompareNum == RankerCheckedNum) {
                    if ($("#" + CompareString).attr("checked")) {
                        $("#" + CompareString).attr("checked", false);
                    }
                }
             })
        }
        
        function toggle(className) {
            var checkToggle = $("." + className + " input:last");
            checkToggle.click(function() {
                if ($("#" + checkToggle.attr('id') + ":checked").val()) {
                    $("." + className + " input").each(function() {
                        if ($(this).attr('id') != checkToggle.attr('id')) {
                            $(this).attr("checked", false);
                            $(this).attr('disabled', 'disabled');
                        }
                    });
                } else {
                    $("." + className + "  input").each(function() {
                        if ($(this).attr('id') != checkToggle.attr('id')) {
                            $(this).removeAttr('disabled');
                        }
                    });
                }
            });
        }
    </script>

</asp:Content>
