﻿/******************************************************************************
  CSS Document for Biore Website

    Form Specific Styles
*******************************************************************************/
/******************************************************************************
  	Submit Button 
*******************************************************************************/
#optin_inner {
    background: url("../images/optin/bg_btm.png") no-repeat scroll left bottom transparent;
    height: 1%;
    overflow: hidden;
    padding-bottom: 50px;
}
.vertical div{
    padding:0px;
    margin:0px;
}
.vertical #contactFormWrap .SubmitContainer
{
    clear: left;
	overflow:hidden;
	padding: 12px 20px 0px 0px;
}
.vertical #contactFormWrap .SubmitContainer input
{
 background: url("../TargetEndCap/images/btn_sign_me_up.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 1px;
    height: 24px;
    line-height: 1px;
    text-indent: -9000px;
    width: 144px;
}

.vertical #contactFormWrap .SubmitContainer input:hover {
    background-position:bottom left;
}

#contact_top {
    background: url("/usa/images/contact/bg_top.jpg") no-repeat scroll 0 0 transparent;
    font-size: 12px;
    margin: 0 auto;
    padding-top: 43px;
    position: relative;
}


.vertical #contactFormWrap {
	float: left;	
	width: 920px;
	margin: 10px 0;
	min-height: 670px;
}


.vertical #BrandImageContainer,
.vertical #ContactFormContainer {
	float: left;	
}

.vertical #BrandImageContainer {
	width: 400px;	
	margin: 21px 0 0 25px;
}
.vertical #ContactFormContainer {
	width: 490px;	
}
.vertical #ContactFormContainer h1 {
	margin: 23px 0px 0px 12px;
	text-indent:-9999px;
	height:30px;
}


.vertical #ContactFormContainer h1 strong {
	font-weight: bold;
	color: #d2b576;
}
.vertical #ContactFormContainer .DescriptionContainer {	
	padding: 0px 0px 0px 12px;
	margin-bottom: 15px; 
	color: #7C7D7C;
}

.vertical #ContactFormContainer .DescriptionContainer h2 {
	font-size: 17px;
    font-weight: bold;
}

.vertical #ContactFormContainer .DescriptionContainer .ConfrimationContainer h2 {
	padding:10px 0px 10px 0px;
}

.vertical #ContactFormContainer .DescriptionContainer p{	
    font-size:16px;
}

.vertical #ContactFormContainer .FormContainer
{
    margin:0px 0px 0px 13px;
}

.vertical p.req { 
	font-size: 16px;
	color: #40A7C6;
	margin-bottom: 15px; 		

}


.vertical #ContactFormContainer .Question {
	float: left;
	clear: both;
	margin-bottom: 3px;
	width: 590px;
}


.vertical #ContactFormContainer .MemberInfoContainer .Question {
    padding:5px 0px 0px 20px;
}

.vertical #ContactFormContainer label { 
	display: block;
	float: left;
	width: 135px;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
}

.vertical #ContactFormContainer .MemberInfoContainer label{
    text-align: right;
    margin-left:-50px;
    margin-right: 15px;
}
.vertical #ContactFormContainer .CountryContainer span {	
	display: block;
	float: left;
	width: 135px;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	margin-left:-50px;
	margin-right:10px;
}
* html .vertical #ContactFormContainer .CountryContainer span {
	width: 138px;	
}
.vertical #ContactFormContainer .CountryContainer .fake_input {
    background-color:#C5E5EE;
	width: 199px;
	padding: 2px 3px;
    border-left: 1px solid #0072BC;
    border-top: 1px solid #0072BC;
	color: #747474;
	line-height: normal;
	font-weight: normal;
	font-size: 15px;
	display:block;
	text-align: left;
	margin-left:5px;
}
*+html .vertical #contactFormWrap .CountryContainer .fake_input {width: 201px;}
* html .vertical #contactFormWrap .CountryContainer .fake_input {width: 201px;}
.vertical #ContactFormContainer input,
.vertical #ContactFormContainer select
 {
	width: 205px;

}

.vertical #ContactFormContainer .BirthdayContainer select {
	width: 67px; 
	margin-right: 1px;
}

.vertical .QuestionContainer{
    float: left;
	clear: both;
	margin-bottom: 3px;
	width: 590px;
}

.vertical #ContactFormContainer .QuestionContainer label.dropdownLabel,
.vertical #ContactFormContainer .QuestionContainer label.checkboxLabel,
.vertical #ContactFormContainer .QuestionContainer label.radioLabel,
.vertical #ContactFormContainer .QuestionContainer label.textboxLabel,
.vertical #ContactFormContainer .QuestionContainer label.textareaLabel { 
	display: block;
	float: left;
	width: 190px;
	line-height: 20px;
	padding:5px 10px 0 0;
	font-weight: bold;
}

.vertical #ContactFormContainer .QuestionContainer .textboxAnswer{
    width:500px;
}

.vertical #ContactFormContainer .QuestionContainer select {
	width: 220px;
	margin-top:10px;
}

.vertical #ContactFormContainer .QuestionContainer .textareaAnswer{
    width:500px;
}

.vertical #wrapper #contactFormWrap .SubmitContainer {
	clear: left;
	overflow:hidden;	
}

.vertical #wrapper #contactFormWrap input.buttonLink{   
    float: left;
    margin-left:135px;
}

.vertical #contactFormWrap .ErrorContainer {
    display:block;
   float:left;
   clear:both;
   width:330px;
}

.vertical #ContactFormContainer span.errormsg {
	padding:2px 0px 0px 0px;
   margin:0px;
}

.vertical #contactFormWrap .MemberInfoContainer .ErrorContainer{ 
    margin-left:100px
}

.vertical #contactFormWrap .MemberInfoContainer .BirthdayContainer .ErrorContainer{ 
    margin-left:-35px;
}
.vertical #ContactFormContainer .BirthdayContainer {
	position: relative;	
}
.vertical #ContactFormContainer .BirthdayContainer span.errormsg {
	clear: left;
	padding-left: 135px;
	margin: 0;
	float: left;
}
.vertical #ContactFormContainer .BirthdayContainer span.year {
}
.vertical #ContactFormContainer .BirthdayContainer span.month {
}
.vertical #ContactFormContainer .BirthdayContainer span.day {
}
.vertical #ContactFormContainer .BirthdayContainer span.validdate {
	float: none;
	clear: none;
	padding-left: 10px;
	display: inline;
}
.vertical #ContactFormContainer span.phone {
	position: relative;
	left: 135px;	
}



.vertical .MarketingQuestionContainer{
    margin-top:30px;
}

.vertical #contactFormWrap .OptinContainer {
	width: 485px;
	border-width: 1px 1px 1px 0;
}

.vertical #contactFormWrap .OptinContainer label {
	width:auto;
	font-weight:normal;
}
.vertical #contactFormWrap .OptinContainer p.privacy {
	font-size:16px;
	width:451px;
}
.vertical #contactFormWrap .OptinContainer p.privacy a {
	color: #40A7C6;
	font-weight:normal;
	text-decoration: underline;
}

.vertical #contactFormWrap .OptinContainer p.privDisclaimer a {
	color: #40A7C6;
}
.vertical #contactFormWrap .OptinContainer p.privDisclaimer a:hover {
	color: #000;
}
.vertical #contactFormWrap .OptinContainer input {
	width: 20px;
	padding: 0;
	margin: 0;
	clear: left;
	border: 0;
	float: left;
}
.vertical #contactFormWrap .OptinContainer label a {
	font-weight: normal;
	color: #40A7C6;
	text-decoration: none;
}
.vertical #contactFormWrap .OptinContainer label a:hover {
	text-decoration: underline;
}

.vertical #contactFormWrap .OptinContainer div.MultiBrandOptinContainer {
	padding: 0 0 0 25px;
}
.vertical #contactFormWrap .OptinContainer ul {
}
.vertical #contactFormWrap .OptinContainer li {
	margin: 10px 0 0 25px;
	float: left;
}
* html .vertical #contactFormWrap .OptinContainer li {
	float: none;
}
.vertical #contactFormWrap .OptinContainer input {
	margin: 2px 0 0 -25px;
	float: left;
}
.vertical #contactFormWrap .OptinContainer label {
	float: left;
}
.vertical #contactFormWrap .OptinContainer .MultiBrandOptinContainer input.multiOptin {
	margin: 0;
}
.vertical #contactFormWrap .OptinContainer #optinToAll {
	margin-left: 0;
}
.vertical #contactFormWrap .OptinContainer .jfOptinChkbox {
	margin-bottom: 5px;
}
.vertical #contactFormWrap .OptinContainer .brandLabels {
	width: 430px;
}


.vertical #contactFormWrap .QuestionContainer .cbVert {
    clear: both;
    display: block;
    padding: 15px 0 0;
}

.vertical #contactFormWrap .QuestionContainer .CustomQuestioncheckbox label {
    width: 476px;
    display:block;
    float:left;
    font-size: 16px; 
}


.vertical #contactFormWrap .QuestionContainer .checkboxAnswer {
    display: block;
    margin: 0 0 0 10px;
}

.vertical #contactFormWrap .QuestionContainer .checkboxAnswer span{
    display:block;
    clear:both;
}

.vertical #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput {
    padding-bottom: 4px;
    display:block;    
}

.vertical #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput label
{
    font-weight:normal;
}

.vertical #contactFormWrap .CustomQuestioncheckbox span input {
    clear: both;
    width: 25px;
    float:left;
	height:15px;
}


/*Checkbox Answers*/
.vertical #contactFormWrap .QuestionContainer .checkboxAnswer{
   display:block;
   margin:0px 0px 0px 10px;
}

/*Verticle checkbox*/
.vertical #contactFormWrap .QuestionContainer .cbVert{
    padding:15px 0px 0px 0px;
    display:block;
    clear:both;
}

.vertical #contactFormWrap #DisclaimerContainer{
    padding:15px 0px 0px 10px;
}

/******************************************************************************
  	End Cap
*******************************************************************************/
.EndCap #ContactFormContainer  {
color: #7C7D7C;
}
.EndCap #ContactFormContainer h1 {display:none;}
.EndCap #ContactFormContainer h3 {
	background:url('../TargetEndCap/images/h1_optin.png') no-repeat;
	display:block;
	margin: 23px 0px 0px 0px;
	text-indent:-9999px;
	height:30px;
}

.EndCap #ContactFormContainer .DescriptionContainer{padding-top:0px;}

.EndCap #ContactFormContainer .ConfrimationContainer  {margin-top:20px;}
.EndCap #ContactFormContainer .QuestionContainer label.dropdownLabel{width:200px;}
.EndCap #contactFormWrap .ErrorContainer{width:365px;}
.EndCap #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput{height:17px;}
.EndCap #contactFormWrap .OptinContainer input,
.EndCap #contactFormWrap .CustomQuestioncheckbox span input {height:17px;}
.EndCap #contactFormWrap .OptinContainer p.privacy a:hover{color: #40A7C6;text-decoration:none;}
.EndCap #contactFormWrap .OptinContainer p.privDisclaimer a:hover {color: #40A7C6;text-decoration:none;}
.EndCap #ContactFormContainer .ConfrimationContainer  h4{
	background:url('../images/optin/wereSorryHeader.png') no-repeat;
	display:block;
	margin: 23px 0px 0px 0px;
	text-indent:-9999px;
	height:30px;}

.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  {
	display: block;
    left: 25px;
    position: relative;
    width: 330px;
	margin-top: 25px;
}

.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  .checkboxAnswer{
	 display: block;
    height: 25px;
    left: -40px;
    position: relative;
    top: -141px;
    width: 25px;
}

.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  label{display:block;width:395px;position:relative;top:0px;left:0px;}
.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  .ErrorContainer{
	  margin-bottom: 20px;
    margin-top: -18px;
}
.vertical #contactFormWrap  h3.qualifyHeader{
	background-image: none;
    color: #40A7C6;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 11px;
    text-indent: 0;
}

/******************************************************************************
  	Responsive Form
*******************************************************************************/
.forms #mainContent{
    background: url(../images/forms/formsBg.jpg) no-repeat top center;
    font-size:14px;
}

.responsive .DescriptionContainer h2{
    font-weight:normal;
    margin-bottom:15px;
}

.responsive.contact .DescriptionContainer h2{
    margin:15px 0 0;
}

.responsive .DescriptionContainer p{
    margin-bottom:15px;
}

.responsive .req{
    color: #5091cd;
    font-style: italic;
    font-size: 16px;
    line-height: 18px;
    margin-top: 18px;
}

.responsive .MemberInfoContainer textarea{
    font:14px arial, sans-serif;
}

.responsive select,
.responsive input{font-size:14px;}

.responsive .MemberInfoContainer{
    margin-top: 25px;
    overflow: hidden;
}

.responsive #contactFormWrap .SubmitContainer{
    clear: left;
	overflow:hidden;
	padding: 12px 20px 0px 0px;
}

.responsive #contactFormWrap .SubmitContainer input{
    background: url("../images/promoLinkBg.png") no-repeat;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    width: 165px;
    height: 47px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 18px auto;
    
}

.notouch .responsive #contactFormWrap .SubmitContainer input:hover{
    background-position:bottom left;
}

.responsive #ContactFormContainer .Question {
    padding-top: 12px;
    overflow:hidden;
    width:100%;
}

.responsive #contactFormWrap .QuestionContainer .cbVert {
    clear: both;
    display: block;
    padding: 15px 0 0;
}

.responsive #contactFormWrap .QuestionContainer .CustomQuestioncheckbox label {
    float:left;
    padding-bottom:5px;
    width: 88%;
}

.responsive #contactFormWrap .QuestionContainer .checkboxAnswer {
    float:left;
    width:98%;
    padding:10px 0 0 0px;
}

.responsive #contactFormWrap .QuestionContainer .checkboxAnswer span{
    float:left;
    width:100%;
}

.responsive #contactFormWrap .QuestionContainer .checkboxAnswer span label span{
    float:none;
}

.responsive #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput {
    display:block;    
    overflow: hidden;
}

.responsive #contactFormWrap .CustomQuestioncheckbox span input {
    clear: both;
    width: 25px;
    float:left;
    height:15px;
    margin:0;
}

.responsive #contactFormWrap .QuestionContainer .cbVert{
    padding:15px 0px 15px 0px;
    display:block;
    clear:both;
}

.responsive #contactFormWrap .OptinContainer p.privacy {
    line-height: 18px;
    margin: 15px 0 8px 0;
    float: left;
}

.responsive #contactFormWrap .OptinContainer input {
    width: 20px;
    padding: 0;
    margin: 0;
    clear: left;
    border: 0;
    float: left;
}

.responsive #contactFormWrap .OptinContainer div.MultiBrandOptinContainer {
    padding: 0 0 0 25px;
}

.responsive #contactFormWrap .OptinContainer li {
    margin: 14px 0 0 25px;
    float: left;
    width:90%;
}

.responsive #contactFormWrap .OptinContainer input {
    margin: 2px 0 0 -25px;
    float: left;
}

.responsive #contactFormWrap .OptinContainer label {
    float: left;
}

.responsive #contactFormWrap .OptinContainer .MultiBrandOptinContainer input.multiOptin {
    margin: 0;
}

.responsive #contactFormWrap .OptinContainer #optinToAll {
    margin-left: 0;
}

.responsive #contactFormWrap .OptinContainer .jfOptinChkbox {
    margin-bottom: 5px;
}

.responsive .QuestionContainer .CustomQuestiondropdown{
    padding: 0 0 8px 0;
}

.responsive .QuestionContainer .CustomQuestiondropdown label{
    width: 95%;
}

.responsive #ContactFormContainer .CountryContainer .fake_input {
    background-color:#C5E5EE;
    padding: 2px 3px;
    border: 1px solid #0072BC;
    color: #747474;
    display:block;
    margin: 0;
}

.responsive .ErrorContainer{
    line-height:1px;
}

.responsive .ErrorContainer span{
    padding-top:3px;
    display:block;
    line-height:18px;
}

 .responsive #contactFormWrap #DisclaimerContainer{
    font-size:11px;
}

.responsive div#proveIt img {
    float: left;
    max-width:226px;
    width:50%;
    min-width:180px;
}

.responsive #proveIt a {
    background: url("../images/ourProducts/productDetail/startEarningNowBtn.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    margin: 3% 0 0 4%;
    padding: 8px 0 10px;
    position: static;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 189px;
}

.notouch .responsive #proveIt a:hover {
    background-position: 0 -41px;
    color:#fff;
}

/* smallest size */
@media all and (max-width:624px){
    #mainContent .centeringDiv{
        padding-left:22px;
        padding-right:22px;
    }
   
    .responsive #BrandImageContainer img{
        display: none;
    }

    .responsive .DescriptionContainer h2{
        font-size: 18px;
        line-height: 20px;
    }

    .responsive .DescriptionContainer p{
        font-size: 14px;
        line-height: 16px;
    }
    
    .responsive #formHeader h1{
        font-size: 55px;
        line-height: 57px;
        padding-top:23px;
    }
    
    .responsive.contact #formHeader h1{
        font-size: 51px;
        line-height: 51px;
        padding-top:23px;
    }

    .responsive .MemberInfoContainer label, 
    .responsive .BirthdayContainer label{
        width: 99%;
        display:block;
        margin-bottom: 10px;
    }
            
    .responsive .MemberInfoContainer input {
        width: 98%;
        display:block;
        margin-bottom: 0px;
        padding-left:0;
        padding-right:0;
    }
    
    .responsive #ContactFormContainer .CountryContainer #ctl00_ContentPlaceHolder1_ucForm_ucFormMemberInfo_CountryLbl {	
	    display: block;
	    margin-bottom: 10px;
    }
    
    .responsive #ContactFormContainer .CountryContainer .fake_input {
	    width: 97%;
    }
    
    .responsive #ContactFormContainer .BirthdayContainer select {
        width: 29.6%;
        float:left;
    }

    .responsive #ContactFormContainer .BirthdayContainer select.year, 
    .responsive #ContactFormContainer .BirthdayContainer select.day{
        margin-left: 5%;
    }
        
    .responsive .QuestionContainer select{
        margin-top:10px;
    }
    
    .responsive select{
        width: 98.5%;
    } 
    
    .responsive .MemberInfoContainer textarea{
        width:97%;
    }
}   
    
/* shared medium to big size */
@media all and (min-width:625px){
    .responsive .FormContainer{
        padding-right:5%;
    }
    
    .responsive #BrandImageContainer {
        float: left;  
        width: 41.2%;
    }

    .responsive #BrandImageContainer img{
        margin-top: 34%;
        max-width: 407px;
        width: 100%;
    }
    
    .responsive.contact #BrandImageContainer img{
        max-width: 383px;
        margin-top:26%;
    }
    
    .responsive .DescriptionContainer{
        width:95%;
    }

    .responsive #ContactFormContainer {
       float: right;
       width: 53.7%;
       margin: 0 0 0 5%;
    }
    
    .responsive .MemberInfoContainer label {
        float: left;
        width: 100px;
    }
    
    .responsive .CommentContainer label{
        width:100%;
        margin-bottom: 10px;
    }
    
    .responsive .MemberInfoContainer textarea{
        width:320px;
        height:120px;
    }

    .responsive .MemberInfoContainer input {
        width: 220px;
    }
    
    .responsive .MemberInfoContainer select{
        width: 226px;
    }   
        
    .responsive #ContactFormContainer .CountryContainer #ctl00_ContentPlaceHolder1_ucForm_ucFormMemberInfo_CountryLbl {	
	    float: left;
	    width: 100px;
    }
        
    .responsive #ContactFormContainer .CountryContainer .fake_input {
	    width: 218px;
	    float:left;
    }

    .responsive #ContactFormContainer .BirthdayContainer select {
	    width: 70px; 
	    margin-right: 4px;
    }
     
    .responsive #ContactFormContainer .QuestionContainer select {
	    width: 220px;
	    margin-top:10px;
    }
    
    .responsive #contactFormWrap .QuestionContainer .checkboxAnswer{
       display:block;
       margin:0px 0px 0px 10px;
    }

    .responsive #contactFormWrap .QuestionContainer .cbVert{
        padding:15px 0px 0px 0px;
        display:block;
        clear:both;
    }

    .responsive #ContactFormContainer .BirthdayContainer select {
	    width: 72px; 
	    margin-right: 1px;
    }

    .responsive .QuestionContainer{
        float: left;
	    clear: both;
    }

    .responsive #ContactFormContainer .QuestionContainer label.dropdownLabel,
    .responsive #ContactFormContainer .QuestionContainer label.checkboxLabel,
    .responsive #ContactFormContainer .QuestionContainer label.radioLabel,
    .responsive #ContactFormContainer .QuestionContainer label.textboxLabel,
    .responsive #ContactFormContainer .QuestionContainer label.textareaLabel { 
	    display:block;
	    line-height: 20px;
	    padding:5px 10px 0 0;
    }
 
    .responsive #wrapper #contactFormWrap .SubmitContainer {
	    clear: left;
	    overflow:hidden;	
    }

    .responsive #wrapper #contactFormWrap input.buttonLink{   
        float: left;
        margin-left:135px;
    }

    .responsive #contactFormWrap .ErrorContainer {
        float:left;
        width:98%;
    }

    .responsive #contactFormWrap .MemberInfoContainer .ErrorContainer{ 
        margin-left:100px;
        width:235px;
        clear:both;
    }
    
    .responsive #contactFormWrap .MemberInfoContainer .CommentContainer .ErrorContainer{ 
        margin-left:0px;
        width:310px;
    }
    
    .responsive #ContactFormContainer span.phone {
	    position: relative;
	    left: 135px;	
    }

    .responsive .MarketingQuestionContainer{
        margin-top:15px;
    }

    .responsive #contactFormWrap #DisclaimerContainer{
        padding:15px 0px 0px 10px;
    }
}

/* medium size */
@media all and (min-width:625px) and (max-width:809px){  
    .responsive #formHeader h1{
        font-size: 56px;
        line-height: 58px;
        padding-top:34px;
    }
    
    .responsive .DescriptionContainer h2{
        font-size: 21px;
        line-height: 23px;
    }
    
    .responsive .DescriptionContainer p{
        font-size: 16px;
        line-height: 18px;
    }
}

/* for inputs breaking to next line */
@media all and (min-width:626px) and (max-width:730px){
    .responsive .MemberInfoContainer label,
    .responsive #ContactFormContainer .CountryContainer #ctl00_ContentPlaceHolder1_ucForm_ucFormMemberInfo_CountryLbl  {
        width:100%;
        margin-bottom: 10px;
    }
    
    .responsive #contactFormWrap .MemberInfoContainer .ErrorContainer {
        margin-left: 0;
        width:95%;
    }
    
    .responsive .MemberInfoContainer input{
        width:97.5%;
    }
    
    .responsive .MemberInfoContainer select{
        width:99.5%;
    }
    
    .responsive .MemberInfoContainer textarea{
        width:97.5%;
    }
    
    .responsive #ContactFormContainer .CountryContainer .fake_input {
        width:97%;
    }
        
    .responsive #ContactFormContainer .BirthdayContainer select {
        width:31.9%;
    }
}

/* full size */
@media all and (min-width:810px){ 
    .responsive #formHeader h1{
        font-size: 57px;
        line-height: 59px;
        padding-top:45px;
    }

    .responsive .DescriptionContainer h2{
        font-size: 24px;
        line-height: 26px;
    }
    
    .responsive .DescriptionContainer p{
        font-size: 17px;
        line-height: 19px;
    }
    
    .contact.responsive .DescriptionContainer h2 {
        font-size:20px;
    }
    .contact.responsive .DescriptionContainer p {
        font-size:16px;
    }
}

/* honey pot trap */
.mmSweet {
    margin-left: -999em;
    position: absolute;
    width: 350px;
    z-index: 500;
}

.rankorder {
    float:left;
    width:350px;
    display:block;
}

.rankorder label {
    width:25px !important;
    float:left;
    display:block;
    padding:0;
    margin:0;
    visibility:hidden;
}

.rankorder input {
    display:block;
    width:23px !important;
    float:left;
    padding:0;
    margin:0;
}

.RankHolders, .RankHolders2 {
    width:600px;
    padding-top:55px;
    background:transparent url(../images/forms/most-least-important-fr.png) 104px 10px no-repeat;
}
.RankAnswer {
    width:120px;
    float:left;
    padding-right:20px
}

.RankContainer {
    padding-top:10px;
    padding-bottom:10px;
    float:left;
    width:550px;
    clear:both;
}