/* Reset All Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}

:focus{
	outline: none;
	-moz-outline-style: none;
}

a:active { outline: 0; }
a:focus { -moz-outline-style: none; }

ol, ul { list-style: none; }

caption, th, td{
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/*End Reset */
body{
    width:100%;
    min-width:320px;
    color:#666;
    -webkit-text-size-adjust: none;
    font:12px arial, sans-serif;
    background: url(../images/contentBg.jpg);
}

#shadow{
    background: url(../images/topShadowBg.png) repeat-x;
    width:100%;
    height:26px;
    left:0px;
    position:absolute;
    z-index:100;
}

/* footer styles - START */
#footer {
    margin-top:20px;
    color:#104588;
    min-height:220px;
    background: url(../images/footerBg.jpg) top center no-repeat;
}

#footer .centeringDiv {
    overflow:hidden;
    padding:60px 10px 5px 20px;
}

#biore{
    text-indent:-9000px;
    width:66px;
    height:21px;
    margin:0 0 10px 15px;
    background: url(../images/biore.png) no-repeat;
}

#copyright{
    float:left;
    width:285px;
    margin-left:15px;
    padding-bottom:20px;
}

#footer ul{
    float:left;
    margin:0 50px 0px 5px;
    padding-bottom:10px;
}

#footer ul li{
    float:left;
    padding:0 2px;
    margin-bottom:10px;
    border-right:1px solid #7eb0dc;
}

#footer ul li:last-child{
    border-right:none;    
}

#footer ul li a{
    color:#104588;
    text-decoration:none;
    padding:5px;
}

.whereToBuy #footerNav3 a,
.sitemap #footerNav7 a,
.about #footerNav1 a,
.contactUs #footerNav4 a,
.notouch #footer ul li a:hover{
    color:#6597d0;
}

#footer .top{
    height:31px;
    width:80px;
    background: url(../images/topBtn.png) no-repeat;
    display:none;
    position:absolute;
    right:10px;
    top:55px;
    text-indent:-9000px;
}

.mobile #footer .top{
    display:block;
}
/* footer styles - END */
/* header styles - START */
#header{
    background:#fff;
} 

.centeringDiv{
    max-width:990px;
    margin:0 auto;
}

#header .centeringDiv, 
#footer .centeringDiv{
    position:relative;
    z-index:990;
}

.languageToggle {
    left: 40px;
    width:50%; padding-bottom: 10px;
    position: relative;
    top: 0px;
    z-index: 200;
    padding-top: 10px
}

#LoggedInNav {
    float: right;
    padding-right: 200px;
    width: 250px;
}

#LoggedInNav a {
    padding-left:10px;
}

#logo{
    float:left;
}

#topnav{
    position:relative;
    z-index:150;
}

#topnav li{
    float:left;
    border-right:1px solid #b2bdc7; 
    text-align:center;
    position:relative;
    z-index:1000;
}

ul li#facebookLike{
    padding:0 0 0 4px;
    border:none;
}

#topnav li > a{
    color:#0b478d;
    font-family: arial, sans-serif;
    text-decoration:none;
    padding:3px;
    text-transform:uppercase;
}

.whatsNew #topnavItem2 a,
.signUp #topnavItem3 a,
.whereToBuy #topnavItem4 a,
.notouch #topnav li > a:hover{
    color:#6597d0;
}

#topnav li#topnavItem1{
    border-right:none;
    background: url(../images/ourProductsNavBg.jpg) top center no-repeat;
    padding:5px;
    min-width:156px;
    margin-top:-10px;
}

li#topnavItem1 a{
    padding:10px 17px 17px;
    display:block;
    background: url(../images/ourProductsArrow.png) bottom center no-repeat;
}

.notouch li#topnavItem1 a:hover,
.ourProducts li#topnavItem1 a{
    color:#005daa;
}

#proveItNav{
   background: url(../images/proveIt.png) no-repeat;
   width:313px;
   height:56px;
}

#proveItNav a{
    display:block;
    width:100%;
    text-indent:-9000px;
    height:100%;
}

#header .likeBtn{
    min-width:100px;
    min-height:30px;
}

#ourProductsBlock{
    background:#fff;
    width:590px;
    padding-top:10px;
    position:absolute;
    margin-top:22px;
    z-index:1000;
    top:30px;
    left:-9000px;
    opacity:0;
}

#ourProductsBg{
    -moz-box-shadow: 0 11px 12px 0px #9bb5d5;
    -webkit-box-shadow: 0 11px 12px 0px #9bb5d5;
    box-shadow: 0 11px 12px 0px #9bb5d5;
    position:absolute;
    height:100%;
    background:#fff;
    width:100%;
    top:0;
    left:0;
}

#ourProductsBlock.open{
    left:0;
}

#ourProductsBlock.show{
    opacity:1 !important;
    filter: alpha(opacity=100) !important;    
}

#ourProductsBlock h2{
    text-transform:uppercase;
    color:#fff;
    width:170px;
    padding:8px 5px;
    background:#005daa;
    margin:10px 0 13px 10px;
}

#ourProductsBlock img{
    margin-top:-20px;
}

#complexionClearingSubnav h2{background:#f58025;}
#makeupRemovingSubnav h2{background:#ad208e;}

#makeupRemovingSubnav{
    margin-top:45px;
}

#ourProductsBlock .col{
    float:left;
    padding:0 0px 20px 15px;
}

#ourProductsBlock ul{
    margin:-5px 0 0; 
    padding:0; 
    overflow:hidden;
}

#topnav #ourProductsBlock li{
    padding:0;
    margin:0;
    padding:3px 0px;
    border:none;
    float:none;
    text-align:left;
}

#topnav #ourProductsBlock li a{
    padding:3px 8px 4px;
    font-size:12px;
    display:block;
    color:#005dab;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius:7px; 
    background:#fff;
}

.notouch #topnav #ourProductsBlock li a:hover{
    background:#C7DAEE;    
}

#topnav #ourProductsBlock li a .new{
    color:#ed008a;
}

#ourProductsBlock #discontinued{
    height:51px;
    position:relative;
    clear:both;
    padding-top:12px;
    overflow:hidden;
}

#ourProductsBlock #discontinued a{
    color:#1a4d8d;
    text-decoration:none;
    font-size:13px;
    position:relative;
    background: #c9dbef;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c9dbef), to(#a6c7e1));
    background: -webkit-linear-gradient(#c9dbef, #a6c7e1);
    background: -moz-linear-gradient(#c9dbef, #a6c7e1);
    background: -ms-linear-gradient(#c9dbef, #a6c7e1);
    background: -o-linear-gradient(#c9dbef, #a6c7e1);
    background: linear-gradient(#c9dbef, #a6c7e1);
    -pie-background: linear-gradient(#c9dbef, #a6c7e1);
    padding: 17px 0px;
    display:block;
    height:17px;
}

#ourProductsBlock #discontinued .wrapper{
    position:relative;
    width:500px;
    display:block;
    margin:0 auto;
}

#ourProductsBlock #discontinued img{
    margin:0;
    top:-31px;
    position:absolute;
}

.oldProds{left:-1%;}
.newProds{right:-2%;}

/* header styles - END */
/* shared small to middle size styles - START */
@media all and (max-width:899px){ 
    #footer ul{
        margin-right:0;
    }
    
    #logo{
        height:58px;
        width:152px;
        float:none;
    }
    
    .languageToggle {padding-bottom:10px;}
    
    #logoAndNav{
        margin-top:-5px;
    }
    
    #logoAndLike{
        margin:0px auto;
        position:relative;
        z-index:200;
    }
   
    .desktop #logoAndLike{width: 255px;}
    .mobile #logoAndLike{width: 155px;}

    .desktop #header .likeBtn{
       position:absolute;
       left:162px;
       top:19px;
    }

    #logo img{
        width:100%;
    }  
    
    #topnav{        
        margin:8px auto 7px;
        width:100%;
    }
    
    #topnav li{
       padding:5px 6px;
    }
    
    #topnav li a{
        font-size:12px;
    }
    
    #proveItNav{
        margin:0 auto;    
    }
}
/* shared small to middle size styles - END */
/* smallest size for nav  - START */
@media all and (max-width:504px){
    ul#topnav{
        margin: -10px auto 0;    
    }
    
    ul#topnav li{
       padding:5px 0px;
    }
    
    #topnav li#topnavItem1{
        float:none;
        margin:0px auto 0px;
        border:none;
        padding-left:0;
        padding-right:0;
        text-align: center;
    }
    
    ul li#facebookLike{padding-top:0;}
    ul li#topnavItem2{padding-left:2px;}

    li#topnavItem2{width:27%;}    
    li#topnavItem3{width:30%;}
    li#topnavItem4{width:26%;}    
    li#facebookLike{width:10%;}
}
/* smallest size for nav  - END */
/* smallest size for everything else  - START */
@media all and (max-width:624px){    
    #footer{
        font-size:11px;
    }
    
    #footer ul {
       
        width:93%;
    }
    
    #footer #biore{
        padding-bottom:10px;
    }
    
    #topnav li a{
        font-size:12px;
    }
    
    #topnav li#topnavItem1 a{
        background:none;
    }
}
/* smallest size  - END */
/* middle size - START */
@media all and (min-width:505px){
    #topnav{
        width:500px;
        width:100%;
        max-width:650px;
    }
    
    #topnav li{padding:5px 0;}
    
    li#topnavItem1{width:29%;}    
    li#topnavItem2{width:18%;}    
    li#topnavItem3{width:18%;}
    li#topnavItem4{width:16%;}
    li#facebookLike{width:15%;}
    
    li#facebookLike{padding-left:0;}
}   
/* middle size - END */
/* large size - START */
@media all and (min-width:900px) {
    #logo{
        height:75px;
        width:199px;
        margin:0 10px 0 15px;
    }
    
    div#logo img{
        width:100%;
    }
    
    #mainContent{
        min-height:450px;
    }
       
    #proveItNav{
        float:right;
        margin-right:5px;
    }
    
    .languageToggle {padding-bottom:10px;}
    
    #logoAndNav{
        max-width:990px;
        float:left;
        margin:0;
        margin-top:-4px;
        width:100%;
    }
    
    #logoAndLike{
        float:left;
        width:225px;
        position:relative;
    }
    
    #header .likeBtn{
        position:absolute;
        top: 30px;
        left:225px;
    }

    #topnav{
        margin:25px 2% 0px 0px;    
        float:right;
        min-width:525px;
        width:63%;
    }
    
    #topnav li{
        padding:5px 0;
        margin-right:-1px;
    }
    
    li#topnavItem1{width:20%;}    
    li#topnavItem2{width:19%;}    
    li#topnavItem3{width:20%;}
    li#topnavItem4{width:17%;}    
    li#facebookLike{width:15%;}
    
    #topnav li a{
        font-size:14px;
    }
    #topnav li#topnavItem1{
        padding-bottom:20px;
    }
    
    #ourProductsBlock{
        margin-top:37px;
    }
}
/* large size - END */
@media all and (min-width:1200px) {
    #proveItNav{
        background: url(../images/proveItPeel.png) no-repeat;
        position:absolute;
        right:0px;
        width:247px;
        height:200px;
        z-index:101;
        margin:0;
    }
    
    #proveItNav a{
        width:150px;
        height:130px;
        position:absolute;
        top:0;
        right:0;
    }
    
    #logoAndNav{
        padding-top:17px;
    }
    
    #header .centeringDiv{position:relative;}
}

/* global things */
/* http://www.fontsquirrel.com/fonts/news-cycle */
 @font-face {
    font-family: 'NewsCycleRegular';
    src: url('font/newscycle-webfont.eot');
    src: url('font/newscycle-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/newscycle-webfont.woff') format('woff'),
         url('font/newscycle-webfont.ttf') format('truetype'),
         url('font/newscycle-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clear{
    font-size:1px;
    clear:both;
    width:100%;
    height:1px;
    line-height:1px;
}

sup {
	font-size: .8em;	
	position: relative;
	font-family:Arial,Sans-Serif;
	top:-4px;
}

h1 sup, h2 sup {
    font-size: 0.5em;
    top: -0.8em;
}

a {
    color: #005DAB;
    text-decoration: none;
}

.notouch a:hover {
    color: #5091CD;
}


.roundedCorners{
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;  
    font-size:13px;
    font-weight:normal;
    position:relative;
    color:#fff;
    text-transform:uppercase;
}

.circle{
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    height:23px;
    width:23px; 
    position:relative;
    display:block; 
}

.promoButton a{
    display:block;
    height:37px;
    width:165px;
    background: url(../images/promoLinkBg.png) no-repeat;
    color:#fff;
    font-size:12px;
    padding-top:10px;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
}

.notouch .promoButton a:hover{
    background-position:bottom left;
    color:#fff;
}

a span.arrow{
    font-size:18px;
}

#mainContent .new{
    color:#ed008a;
}

#mainContent h1{
    font-family:'NewsCycleRegular';
    font-weight:normal;
    color:#5091cd;
    margin-bottom:13px;
    text-transform:uppercase;
}

#mainContent .centeringDiv{
    position:relative;
}


/* discontinued product teaser */
#productChanges{
    width:235px;
    position:relative;
}

#productChanges h3{
    color:#005daa;
    line-height:30px;
    font-weight:normal;
    font-size:18px;
    margin-top:-10px;
}

#productChanges p{
    line-height:16px;
}

.teaser a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:block;
    height:100%;
}

.ie7 .teaser a,
.ie8 .teaser a{
    background: url(../images/blank.gif);
}

.notouch #productChanges:hover p{
    color:#5091CD;
}

.no-flash{
    text-align:center;
    padding:30px;
}