﻿/* theater styles */
#theater {
	/*overflow:hidden;*/
    margin:0 auto;
    width: 100%;
} 

 /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
    display: none;
}

.theaterHolder{
    min-width:320px;
    margin:0 auto;
    min-height:200px;
}

#theaterItem1{background: url(../images/home/mTheater1Bg.jpg) no-repeat top center;}
#theaterItem2{background: url(../images/home/mTheater2Bg.jpg) no-repeat top center;}
#theaterItem3{background: url(../images/home/mTheater3Bg.jpg) no-repeat top center;}
#theaterItem4{background: url(../images/home/mTheater4Bg.jpg) no-repeat top center;}
#theaterItem5{background: url(../images/home/mTheater5Bg.jpg) no-repeat top center;}

#pagerWrapper{
    margin:-15px auto 0;
    width:320px;
    position:relative;
}

#pager{
    overflow:hidden;
}

#pager li{
    float:left;
}

#pager a{
    background:#6597d0;
    width:23px;
    float:left;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;  
    -moz-box-shadow: 0px 2px 2px 0px #a7a6a6;
    -webkit-box-shadow: 0px 2px 2px 0px #a7a6a6;
    box-shadow: 0px 2px 2px 0px #a7a6a6;
    height:23px;
    text-indent:-9000px;
    cursor:pointer;
    margin:18px 28px;
}

#pager a.active,
.notouch #pager a:hover{
    background:#013a81;
}

.theaterHolder img{   
    display:none;   
    position:relative;
    filter:inherit;
    z-index:5; 
}

.theaterBox{
    position:relative;
    filter:inherit;
    margin:0 auto;
    max-width:990px;
    width:100%;
}

#mainContent .theaterBox h1{
    display:none;
}

.theaterHolder p{
    position:absolute;
    filter:inherit;
    z-index:10;
    color:#073b87;
    width:25.7%;
    min-width:170px;
}

#theaterItem1.theaterHolder p{
    left:6%;
    top:32%;
    width:34%;
}

#theaterItem2.theaterHolder p{
    right:4.9%;
    top:34%;
}

#theaterItem3.theaterHolder p{
    left:10.5%;
    top:41%;
    width:34%;
}

#theaterItem4.theaterHolder p{
    left:7%;
    top:52%;
    width:45%;
}

#theaterItem5.theaterHolder p{
    left:72%;
    top:0;
    width:34%;
}

.theaterHolder a{
    height:95px;
    display:block;
    overflow:hidden;
    position:relative;
    filter:inherit;
    width:100%;
    font:20px 'NewsCycleRegular';
}

#theaterItem1.theaterHolder a{
    margin:5% 0 0 -6.3%;
    width:86.4%;
}

#theaterItem2.theaterHolder a{
    margin:5px 0 0 -34.5%;
    width:142.3%;
}

#theaterItem3.theaterHolder a{
    margin:0 0 0 26%;
    width:87%;
}

#theaterItem4.theaterHolder a{
    margin:25px 0 0 -10%;
    width:100%;
	height:175px;
}

#theaterItem5.theaterHolder a{
    margin:20% 0 0 0;
    width:80%;
}

.theaterHolder a img{
    width:100%;
    left:0%;
    top:0px;
    position:absolute;
}

#promoHolder{
    max-width:990px;
    margin:0 auto;
    overflow:hidden;
    width:100%;
}

.promo{
    font:14px arial, sans-serif;
    overflow:hidden;
}

.promoContent{
    float:left;
    width:56%;
}

#promo3 .promoContent{
    padding-left:4%;
    width:51%;
}

.promoImage{
    float:left;
    width:44%;
    margin:0;
}

.promoImage img{
    width:100%;
}

.promoHeader{
    padding:30px 0 10px;
    color:#1160a5; 
    font-size:16px;
    text-transform:uppercase;
}

.promoBody{	
    padding-bottom:3px;
} 

.promoButton{
    position:relative;
    left:-15px;
    float:right;
    min-width:165px;
}

/* end theater styles */
/* smallest size */
@media all and (max-width:599px){ 
    #pagerWrapper{
        margin-top:-25px;
    }
    
    .theaterHolder p span,
    .theaterHolder a img{
        display:none;
    }
    
    #theater .theaterHolder p{
        margin:0 auto;
        position:static;
    }
    
    #theaterItem1.theaterHolder p{
        padding:90px 0 0 18px;
        width:292px;
    }
    
    #theaterItem2.theaterHolder p{
        padding:86px 0 0 39px;
        width:271px;
    }
    
    #theaterItem3.theaterHolder p{
        padding:100px 0 0 0px;
        width:305px;
    }
    
     #theaterItem4.theaterHolder p{
        padding:100px 0 0 0px;
        width:305px;
    }
    
    #theaterItem5.theaterHolder p{
        padding:10px 0 0 200px;
        width:305px;
    }
    
    #theaterItem1.theaterHolder a{
        background: url(../images/home/mSeeOurNewLookBtn.png) no-repeat;
        height:69px;
        width:123px;
    }
    
    #theaterItem2.theaterHolder a{
        background: url(../images/home/mStartEarningTodayBtn.png) no-repeat;
        height:66px;
        width:199px;
        margin:0 0 0 80px;
    }
    
    #theaterItem3.theaterHolder a{
        background: url(../images/home/mLearnMoreBtn.png) no-repeat;
        height:49px;
        width:161px;
        margin:0px;
    }
    
    #theaterItem4.theaterHolder a{
        background: url(../images/home/mWriteReviewBtn.png) no-repeat;
        height:49px;
        width:161px;
        margin:5px 0 0 5px;
    }
    
    #theaterItem5.theaterHolder a{
        background: url(../images/home/mEnterNowBtn.png) no-repeat;
        height:49px;
        width:161px;
        margin:5px 0 0 5px;
    }
    
    .notouch #theater .theaterHolder a:hover{
        background-position:bottom left;
    }
    
    #promoHolder {
        margin-top:-25px;
    }
}

/* shared small and medium size */
@media all and (max-width:779px){    
    .promo{
        margin:0 auto; 
        width:300px;
    }
}

/* shared medium and large size for theater */
@media all and (min-width:600px){     
    .theaterHolder img{
        width:100%;
        max-width:990px !important; 
        max-height:420px;
        display:block; 
        margin:0 auto; 
    }
    
    #pagerWrapper{
        position:relative;
        z-index:20;
    }
    
    .theaterHolder p{
        font-size:13px;
        line-height:17px;
    }
    
    .theaterHolder a img.over,
    .notouch .theaterHolder a:hover img.normal{display:none;}

    .notouch .theaterHolder a:hover img.over{display:block;}
}

/* large size */
@media all and (min-width:780px){  
    .promo{ 
        max-width:300px;
        width:31%;
        float:right;
        margin-right:2%;
    }

    .promoImage{    
        margin-bottom:20px;
    }
    
    #theaterItem1{background: url(../images/home/theater1EdgesBg.jpg) no-repeat top center;}
    #theaterItem2{background: url(../images/home/theater2EdgesBg.jpg) no-repeat top center;}
    #theaterItem3{background: url(../images/home/theater3EdgesBg.jpg) no-repeat top center;}
    #theaterItem4{background: url(../images/home/theater4EdgesBg.jpg) no-repeat top center;}
    #theaterItem5{background: url(../images/home/theater5EdgesBg.jpg) no-repeat top center;}
}

/* full size */
@media all and (min-width:810px){ 
    .theaterHolder p{
        font-size:16px;
        line-height:19px;
    }
}