:focus{
	outline: none;
	-moz-outline-style: none;
}

a:active { outline: 0; }
a:focus { -moz-outline-style: none; }


#buttons p a, #steps li a,
a#closeQuiz {text-indent: -9999px;}

#steps, #steps li, #optin h1, #optin h2, #optin h3, p {
    list-style: none;
    margin:0;
    padding:0
}

#optin {
	background: none;
	color: #767a7c;
	font: 14px arial, sans-serif;
	height: 448px;
	position: relative;
	width: 620px;
}

#optin #inner {
    background:	url(/usa/optin/images/bg.jpg) top left no-repeat;
    height: 409px;
    left: 17px;
    top: 10px;
    width: 586px;
}
#topOptin, #bottomOptin, #optin #left, #optin #right, #optin #inner {position: absolute;}
#topOptin, #bottomOptin {
    height: 29px;
    left:17px;
    font-size:8px;
    width: 586px;
}

#TB_window #optin #topOptin, 
#TB_window #optin #bottomOptin, 
#TB_window #optin #left, 
#TB_window #optin #right  {background: none\9}

#topOptin {
    background: url(/usa/optin/images/top.png);
    top: 0;
    height:10px;
}
#bottomOptin {
    background: url(/usa/optin/images/bottom.png);
    bottom: 0;
    font-size: 2px;
}
#optin #left,#optin #right {
    height: 448px;
    top: 0;
    width: 17px;
}
#optin #left {
    background: url(/usa/optin/images/left.png);
    left: 0;
}
#optin #right {
    background: url(/usa/optin/images/right.png);
    right: 0;
}
#optin h1 {	
	font-size: 18px;
	color:#5d985b;
	height:22px;
	font-weight:bold;
	padding: 27px 0 6px 120px;
}
#optin sup {
	font-size: 60%;
	vertical-align:top;
	text-decoration: none;
}

#optin sup.req{font-size:100%;}
.req, .error, #theForm label#mainYes.error{ color: #E94B91;}
p#errorMsg, .req{ margin-bottom: 5px;}
#optin p.req {
    position: relative;
    top: 0px;
    left:147px;
    font-size:12px;
}
#optin p.req sup{font-size:100%;}

#two p.req {left:0px;}
#optin p.error {
    font-weight: bold;
    display: none;
    position:relative;
    top:-2px;
    text-align:left;
	margin-bottom: 4px;
}
#optin #one p.error {
	left:125px;
}

html>body .req sup {font-size: 75%}
#TB_closeAjaxWindow {
	background: url(/usa/optin/images/closeBtnOver.jpg);
	position: absolute;
	height: 44px;
	right: 28px;
	z-index:10;
	top: 17px;
	width: 88px;
}
#TB_closeWindowButton  {
    background: url(/usa/optin/images/closeBtn.jpg);
    display: block;
    height: 100%;
    text-indent:-9000px;
    width: 100%;
}
#TB_closeWindowButton:hover {background: none}
#steps {
	height: 33px;
	overflow: hidden;	
	margin-left:11px;
	width: 435px;
	margin-top:55px;
}
#steps li {
	background: red;
	float: left;
	height: 34px;
	width: 88px;		
}
#steps li a {
    cursor: default;
    display: block;
    height: 100%;
    width: 100%;
}
li#oneLink, li#oneLink.on a {background: url(/usa/optin/images/step1On.gif); width:87px;}
li#oneLink a {background: url(/usa/optin/images/step1Off.gif);}
li#oneLink.active a {background: url(/usa/optin/images/step1Off.gif);}
* html li#oneLink {margin-left: 10px;}

li#twoLink, li#twoLink.on a {background: url(/usa/optin/images/step2On.gif);}
li#twoLink a {background: url(/usa/optin/images/step2Off.gif);}
li#twoLink.active a {background: url(/usa/optin/images/step2Off.gif);}

li#threeLink, li#threeLink.on a {background: url(/usa/optin/images/step3On.gif);}
li#threeLink a {background: url(/usa/optin/images/step3Off.gif);}
li#threeLink.active a {background: url(/usa/optin/images/step3Off.gif);}

li#thankyouLink, li#thankyouLink.on a {background: url(/usa/optin/images/thankyouOn.gif); width: 119px;}
li#thankyouLink a {background: url(/usa/optin/images/thankyouInact.gif);}

#steps li.active a {cursor: pointer;}
#steps li.active a:hover {background: none;}

#optin #theForm {
	margin: 0 auto;
	width: 560px;
	padding-top:19px;
}
#optin h2 {	
	font-size: 16px;
	font-weight:bold;
	margin-bottom:3px;
}
/*#optin h2, #optin p {text-align: center;}*/
#optin p{
	font-size: 14px;
	width:480px;
	line-height:18px;
}

#optin p.intro{padding-bottom:10px;}
.stepDiv {display: none;}

/* Step One Div */
#one {
	display: block;    		
}
#one div {margin-left: 100px; margin-right: 100px}
.stepDiv div {
    margin-bottom: 6px;
    overflow: hidden;    
}
#one label {
    font-weight: bold;
    float: left;
    padding: 4px 14px 0 0;
    text-align: right;
    width: 98px;
}
.textBx {
    height: 19px;
    width: 217px;
}
#one select {
    width: 194px;
}
#one select.bdaySelect {
    width: 62px;
}

/* Step Two Div */
#two {margin: 0 0 0 5px;}
#two label, #two select {display: block;}
#two label{  
    font-size: 14px;
    font-weight: bold;
}
#two select {
    margin: 3px 0 10px 6px;
    width: 189px;
}
/* Step Three Div */
#three {padding-top:10px;}
#three label {
    font-size:12px;
    margin: 0 0 2px 5px;
    width: 440px;
    line-height:16px;
}

#three p#errorMsg3{
	position:absolute;
	top:97px;
	left:10px;
}
#three label, #three input {float: left;}
#three label a, #theForm label#mainYes {
    color: #767a7c;
    font-size: 14px;
    font-weight: bold;
}

#theForm label#mainYes{margin-left:5px;}
#three label a:hover {text-decoration: none;}
#three p {
    font-weight: bold;
    text-align: left;
}
#three p, #three div {
    clear: both;
    margin-left: 18px;
}

#three .yes {
    font-weight: bold;
    margin-left: 0;
}

#three .yes label{
	width:520px;	
	font-size:14px;
	margin-left:0;
}

#three .privLink {
    font-size: 10px;
    width:125px;
    font-weight: normal;
    float:right;
    margin-top:4px;
    line-height:12px;
    font-weight:bold;
	display:inline;
}
#three .privLink a {color: #767a7c}
#three .privLink a:hover {text-decoration: none;}
/* Thank you Div */
#optin #thankyou h2 {
    height: 49px;
    color:#86c085;
    margin: 43px auto 24px auto;
    width: 232px;
    line-height:64px;
    font-size:64px;
}
#thankyou p {
    font-size: 18px;
    text-align:center;
    margin:0 auto;
    line-height: 24px;
}

/* Buttons */
#buttons p {    
    bottom: 8px;
    /*display: none;*/
    visibility:hidden;
    height: 40px;
    position: absolute; 
}
p#nextBtn {
    background: url(/usa/optin/images/nextBtnOver.jpg);
    visibility: visible;
    right: 9px;
}
p#nextBtn a {
    background: url(/usa/optin/images/nextBtn.jpg);
    display: block;
}

p#prevBtn {
    background: url(/usa/optin/images/prevBtnOver.jpg);
    left: 9px;
}
p#prevBtn a {background: url(/usa/optin/images/prevBtn.jpg)}

p#doneBtn {
    background: url(/usa/optin/images/doneBtnOver.jpg) no-repeat 0px -1px;
    left: 265px;
    width: 87px;
    height:37px;
}
p#doneBtn a {background: url(/usa/optin/images/doneBtn.jpg);}

p#signUpBtn {
    background: url(/usa/optin/images/signUpBtnOver.jpg);
    left: 260px;
    height:37px;
    width: 122px;
}
p#signUpBtn a {background: url(/usa/optin/images/signUpBtn.jpg)}

p#nextBtn, p#prevBtn  {
    width: 85px;
}
#buttons p a {
    display: block;
    height: 100%;
    width: 100%;
}
#buttons p a:hover, #buttons p a:focus {background: none;}