/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
/**{padding: 0; margin: 0;}*/

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:1000;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background:#000;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

#TB_overlay.TB_overlayMacFFBGHack {
	background: transparent url(../../images/grey.png) repeat;
	display:none;
	opacity:1;
	-moz-opacity: 1;
}

/*#TB_overlay.TB_overlayBG {
	background:#000;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	display:block;
}*/

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	/*background: #ffffff;*/
	z-index: 1002;
	color:#000000;
	display:none;
	text-align:left;
	top:40%;
	left:50%;
}

#TB_window.absolute {
	position:absolute;
}
	

* html #TB_window { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2.5) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	/*height:32px;
	width:32px;
	position:absolute;
	top:-30px;
	right:-30px;
	background: transparent url(/usa/images/skin_preservation/close_over.png) no-repeat;*/
}

#TB_closeWindow a{
	/*background: transparent url(/usa/images/skin_preservation/close.gif) no-repeat center;
	display:block;
	text-indent:-9000px;
	width:100%;
	height:100%;*/
}

#TB_closeWindow a:hover {background-image:none; }

#TB_closeAjaxWindow{
	/*padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;*/
}

#TB_ajaxWindowTitle{
	/*float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;*/
}

#TB_title{
	/*background-color:#e8e8e8;
	height:27px;*/
}

#TB_ajaxContent{
	clear:both;
	/*padding:2px 15px 15px 15px;*/
	/*overflow:auto;*/
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	/*padding:15px;*/
}

#TB_ajaxContent p{
	/*padding:5px 0px 5px 0px;*/
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:1003;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:999;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	margin-bottom:1px;
}
