/* @license
 * MyFonts Webfont Build ID 2691715, 2013-11-19T14:11:25-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Proxima Nova A Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-bold/
 * 
 * Webfont: Proxima Nova S Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-regular/
 * 
 * Webfont: Proxima Nova S Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-bold/
 * 
 * Webfont: Proxima Nova A Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-light/
 * 
 * Webfont: Proxima Nova A Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/a-regular/
 * 
 * Webfont: Proxima Nova S Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/s-light/
 * 
 * Webfont: Proxima Nova Light by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/light/
 * 
 * Webfont: Proxima Nova Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
 * 
 * Webfont: Proxima Nova Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2691715
 * Licensed pageviews: 1,000,000
 * Webfonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 * 
 * © 2013 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/291283");

  
@font-face {font-family: 'ProximaNovaA-Bold';src: url('webfonts/291283_0_0.eot');src: url('webfonts/291283_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/291283_0_0.woff') format('woff'),url('webfonts/291283_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Regular';src: url('webfonts/291283_1_0.eot');src: url('webfonts/291283_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/291283_1_0.woff') format('woff'),url('webfonts/291283_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Bold';src: url('webfonts/291283_2_0.eot');src: url('webfonts/291283_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/291283_2_0.woff') format('woff'),url('webfonts/291283_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Light';src: url('webfonts/291283_3_0.eot');src: url('webfonts/291283_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/291283_3_0.woff') format('woff'),url('webfonts/291283_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Regular';src: url('webfonts/291283_4_0.eot');src: url('webfonts/291283_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/291283_4_0.woff') format('woff'),url('webfonts/291283_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Light';src: url('webfonts/291283_5_0.eot');src: url('webfonts/291283_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/291283_5_0.woff') format('woff'),url('webfonts/291283_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Light';src: url('webfonts/291283_6_0.eot');src: url('webfonts/291283_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/291283_6_0.woff') format('woff'),url('webfonts/291283_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Regular';src: url('webfonts/291283_7_0.eot');src: url('webfonts/291283_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/291283_7_0.woff') format('woff'),url('webfonts/291283_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Bold';src: url('webfonts/291283_8_0.eot');src: url('webfonts/291283_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/291283_8_0.woff') format('woff'),url('webfonts/291283_8_0.ttf') format('truetype');}
 

/* .ProximaNovaA-Bold { font-family: ProximaNovaA-Bold; }
.ProximaNovaS-Regular { font-family: ProximaNovaS-Regular; }
.ProximaNovaS-Bold { font-family: ProximaNovaS-Bold; }
.ProximaNovaA-Light { font-family: ProximaNovaA-Light; }
.ProximaNovaA-Regular { font-family: ProximaNovaA-Regular; }
.ProximaNovaS-Light { font-family: ProximaNovaS-Light; } */

.ProximaNova-Light { font-family: ProximaNova-Light; }
.ProximaNova-Regular { font-family: ProximaNova-Regular; }
.ProximaNova-Bold { font-family: ProximaNova-Bold; }
