﻿.ourProducts #mainContent{
    background: url(../images/ourProducts/productsBg.jpg) no-repeat top center;
}

#mainContent .centeringDiv{
    padding-left:15px;
    max-width:975px;
}

#mainContent .intro p{
    font-size:15px;
    line-height:20px;
    width:90%;
    max-width:600px;
    padding-bottom:28px;
}

.prodList{
    overflow:hidden;
}

.prodList h2{
    width:270px;
    text-align:center;
    padding:8px 5px;
    margin-bottom:20px;
}

h2.deepCleansing{background-color:#005daa;margin-top:20px;margin-bottom:0;}
h2.complexionClearing{background-color:#f48025;margin-top:20px;margin-bottom:0;}
h2.murt{background-color:#ad208e;margin-top:20px;margin-bottom:0;}

span.arrow{
    background: url(../images/ourProducts/prodListArrow.png) no-repeat 0 0;
    height:31px;
    width:30px;
    position:absolute;
    right:0px;
    top:0px;
}

.prodList h2 span{display:none;}

.prodList ul{
    margin-left:-25px;
    overflow:hidden;
    padding-bottom:20px;
}

.prodList li{
    float:left;
    width:204px;
    height:120px;
    padding:210px 21px 0px 25px;
    position:relative;
    cursor:pointer;
    font-size:15px;
    line-height:20px;
}

.prodList li.taller{
    height:130px;
}

.prodList li a{
    display:block;
    height:95%;
    position:absolute;
    width:100%;
    top:0;
    text-indent:-9000px;
    left:0;
    background: url(../images/ourProducts/detailsBg.png) no-repeat 0 -9000px;
}

.prodList li .starRating {
    position: relative; 
    left: 15px; 
    bottom: -10px;
    padding-bottom:15px;
}

.notouch .prodList li a:hover{
    background-position: 40px 80px;
}

.prodList li img{
    position:absolute;
    bottom:80px;
    display:block;
    left:19%;
}

.prodList li.taller img{
    bottom:100px;
}

#dailyCleansingCloths img{left:10%;}
#murt img{left:15.5%;}

.prodList li h3{
    position:relative;
    font-weight:normal;
    width:90%;
    font-size:15px;
}

.prodList li p{
    position:relative;
}

#deepCleansingProds h3{color:#005dab;}
#complexionClearingProds h3{color:#f48025}
#murtProds h3{color:#ad208e;}

/* smallest size */
@media all and (max-width:624px){  
    #mainContent .centeringDiv {
        padding-left:22px;
        padding-right:22px;
    }
    
    #mainContent h1{
        font-size:42px;
        line-height:42px;
        padding-top:23px;
    }
    
    #mainContent .intro p{
        font-size:14px;
    }
    
    .prodList{
        overflow:visible;
    }
    
    .prodList ul{
        display:none;
        position:relative;
        top:-30px;
        margin-left:0;
        margin-bottom:-30px;
    }
    
    .prodList.open ul{display:block;}

    .prodList h2{
        margin:0 auto 30px;
        cursor:pointer;
    }
    
    .prodList h2 span{display:inline;}
    
    .open h2 .arrow{background-position: 0 -31px; }
   
    .prodList li{
        float:none;
        margin:0 auto;
        width:70%;
        padding:0px 10px 10px;
        height:auto;
        min-width:260px;
        text-align:center;
    }

    .prodList li.taller{height:auto;}

    #mainContent .prodList li img{
        position:relative;
        top:20px;
        left:0;
        margin:0 auto; 
    }
     
    .prodList li h3{
        margin:0 auto;
        width:100%;    
    }
     
    .notouch .prodList li a:hover{
        background-position: center 80px;
    }
    
    #productChanges{
       margin:0 auto;
       text-align:center;
    }
}
/* medium size */
@media all and (min-width:625px){  
    #mainContent h1{
        font-size:49px;
        line-height:51px;
        padding-top:37px;
    }
}

@media all and (max-width:759px){
    .prodList ul{max-width:500px;}   
}

/* max size before layout shifts to 2 col */
@media all and (min-width:760px){
    #productChanges{
        position:absolute;
        top:12px;
        right:8%;
    }   
    
    #mainContent .intro p{
        width:60%;
    }
}  

/* full size */
@media all and (min-width:810px){ 
    #mainContent h1{
        font-size:60px;
        line-height:62px;
        padding-top:45px;
    }
}

