﻿.utility #mainContent .centeringDiv{
    padding-left:15px;
    padding-right:15px;
    max-width:960px;
}

.utility #mainContent{
    background: url(../images/utilityPages/topBg.jpg) no-repeat top center;
}

.sitemap #mainContent{
    background: url(../images/utilityPages/sitemapBg.jpg) no-repeat top center;
}

.unsubscribe #mainContent,
.rules #mainContent {
    background: url("../images/forms/formsBg.jpg") no-repeat scroll center top transparent;
    font-size:14px;
}

.sitemap #mainContent h1,
.pageNotFound #mainContent h1,
.error #mainContent h1{
    font-size:60px;
    line-height:60px;
}

.pageNotFound #mainContent p,
.error #mainContent p{
    line-height:20px;
    margin-bottom:10px;
}

.rules #polaroid{
    float:left;
    width:40%;
    padding-top:12.5%;
}

.rules #polaroid img{
    width:100%;
    max-width:407px;
    max-height:409px;
}

.rules ol{
    margin-left:23px;
    list-style:decimal;
}

.rules ol li,
.rules p{
    margin-bottom:20px;
}

.rules h2{
    margin-bottom:20px;
}

.proveItLanding #mainContent p{
    font-size:14px;
    line-height:20px;
    margin-bottom:20px;
}

.proveItLanding #mainContent .centeringDiv {
    padding-right:22px;
    padding-left:22px;
    max-width:946px;
}

h2.deepCleansing{background-color:#005daa;}
h2.complexionClearing{background-color:#f48025;}
h2.murt{background-color:#ad208e;}

#linkList li a{
    text-decoration:none;
    font-size:13px;
    float:none;
    color:#0c5ba8;
    text-transform:uppercase
}

#linkList li a:hover{
    color:#5091CD;
}

#linkList{
    overflow:hidden;
}

#linkList ul{
    clear:both;
}

#prodLinks{
    float:left;
}

#linkList ul h2{
    text-transform:uppercase;
    font-size:12px;
    margin:10px 0 20px;
    padding:3px 6px;
    float:left;
    font-weight:normal;
    clear:both;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;  
    color:#fff;
    position:relative;
}

#linkList ul h2.murt{
    margin-top:20px;    
}

#linkList ul li{
    margin-bottom:5px;
}

#prodLinks > ul > li,
#linkList > ul > li{
    margin-bottom:13px;
}

#prodLinks > ul > li li,
#linkList > ul > li li{
    margin-bottom:20px;
}

#col3 #linkList > ul > li li{margin-bottom:11px;}

#prodLinks > ul > li > a,
#linkList > ul > li > a{
    font-size:16px;
    color:#666;
}

#prodLinks > ul ul,
#linkList > ul ul{
    margin:5px 0 10px;
}

.discontinued{
    background: url(../images/productChanges/dividerHorizontalBg.png) no-repeat;
    min-width: 238px;
    padding-top: 23px;
    float:left;
}
                  
#linkList .col{
    float:left;
    clear:none;
    padding-right:8%;
}

#linkList #col2{margin-bottom:15px;}

#linkList ul.noPadding{
    padding-right:0;
    width:280px;
}

.responsive #submit-container input{
    background: url("../images/promoLinkBg.png") no-repeat;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    width: 165px;
    height: 47px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 18px auto;
}

.responsive #submit-container input:hover{
    background-position:bottom left;
}

.responsive .req {
    color: #5091CD;
    font-size: 16px;
    font-style: italic;
    line-height: 18px;
    margin-top:18px;
}

.tbin{margin-top:25px;}


/* smallest size */
@media all and (max-width:624px){  
    #mainContent .centeringDiv{
        padding:0;
    }
    
    .unsubscribe #mainContent .centeringDiv{
        padding-left:22px;
        padding-right:22px;
    }
    
    #mainContent h1,
    .responsive #formHeader h1{
        font-size:46px;
        line-height:46px;
        padding-top:23px;
    }
        
    #mainContent .intro p{
        font-size:14px;
        padding-left:30px;
    }
    
    .utility #mainContent{
        background-position: -150px -20px;
    }
    
    .pageNotFound #mainContent p,
    .error #mainContent p{
        font-size:14px;
        width:80%;
    }
    
    .utility #photo,
    .rules #polaroid{display:none;}
    
    .responsive .tbin label{
        width: 99%;
        display:block;
        margin-bottom: 10px;
    }
            
    .responsive .tbin input {
        width: 98%;
        display:block;
        margin-bottom: 0px;
        padding-left:0;
        padding-right:0;
    }
    
    #unsubscribe p{
        font-size:14px;
    }
    
    #BrandImageContainer{display:none;}
    
}
/* medium size */
@media all and (min-width:625px){  
    #mainContent h1,
    .responsive #formHeader h1{
        font-size:49px;
        line-height:51px;
        padding-top:37px;
    }
    
    .utility #content{
        float:left;
        width:59%;
        max-width:450px;    
    }
    
    .nopic #content{
        width:100%;
    }
    
    .rules #content{
        max-width:1000px;
    }
    
    .utility #content p{
        width:100%;
        max-width:320px;
        line-height:20px;
        font-size:16px;
        margin-bottom:10px;
    }
    
    .rules #content p{
        max-width:900px;
    }
    
    .rules #content li{
        font-size:16px;
    }
    
    .utility #photo{
        width:40.9%;
        float:left;
        padding-top:2%;
    }

    .utility #photo img{
        width:100%;
    }   
     
    #linkList .col{
        height:324px;
        width:33%;
        margin-bottom:20px;
    }

    #linkList #col1{min-width:315px;}
    
    #linkList #col2{
        min-width:255px;
        margin-top:33px;
    }
    
    #linkList #col3{
        min-width:218px; 
        width:20%;
        margin-top:43px;
    }
    
    #prodLinks{
        width:72%;
    }
    
    .responsive #BrandImageContainer {
        float: left;  
        width: 41.2%;
    }

    .responsive #unsubscribe{
       margin: 0 1% 0 5%;
       float:left;
       width:47.2%;
    }

    .responsive #BrandImageContainer img{
        margin-top: 34%;
        max-width: 407px;
        width: 100%;
    }
    
    #unsubscribe p{
        font-size:15px;
    }
    
    #optOut label {
        float: left;
        width: 60px;
    }

    #optOut input{
        width: 220px;
    }

    #optOut .ErrorContainer{
       margin-left:60px;
    }

}

@media all and (max-width:759px){
    .prodList ul{max-width:500px;}   
}

/* full size */
@media all and (min-width:810px){ 
    #mainContent h1,
    .responsive #formHeader h1{
        font-size:60px;
        line-height:62px;
        padding-top:48px;
    }
    
    #unsubscribe p{
        font-size:16px;
    }
}