﻿#mainContent .centeringDiv{
    padding-left:15px;
    max-width:975px;
    overflow:hidden;
}

.whereToBuy #mainContent{
    background: url(../images/whereToBuy/whereToBuyBg.jpg) no-repeat top center;
}

#productShot{
    width:42.65%;
    float:right;
    padding-top:70px;
}

#productShot img{
    width:100%;
}

#logoHolder{
    float:left;
    width:100%;
}

.logos{    
    padding:10px 0;
}

.logos ul{    
    width:100%;
    overflow:hidden;
    margin-left:-2%;
    padding-top:7px;
    position:relative;
}

.logos p{
    padding-bottom:15px;
}

#storeLogos img {margin:0 60px 35px 0}

#onlineLogos{
    background: url(../images/whatsNew/longHorizontalDivider.png) no-repeat;
    padding-top:25px;
}

#onlineLogos li{
    min-height:50px;
}

.logos li{
    float:left;
    text-align:center;
    padding:11px 3%;
}

.logos li a{
    display:block;
    text-indent:-9000px;
}

.logos li div a{margin:0 auto;}

.notouch .logos li a{background-position: top left; width:180px; height:100px; text-indent:-9999px; background-repeat:no-repeat;}
.notouch .logos li a:hover{background-position: top right;}

/* logos */
div.walgreens{
    padding:3px 0 22px;
}

.walmart a{
    background: url(../images/whereToBuy/walmart.png) no-repeat top center;    
    width:178px;
    height:54px;
}

.kmart a{
    background: url(../images/whereToBuy/kmart.png) no-repeat top center;    
    width:66px;
    height:66px;
}

.harmon a{
    background: url(../images/whereToBuy/harmon.png) no-repeat top center;    
    width:173px;
    height:48px;
}

.riteaid a{
    background: url(../images/whereToBuy/riteaid.png) no-repeat top center;    
    width:79px;
    height:69px;
}

.walgreens a{
    background: url(../images/whereToBuy/walgreens.png) no-repeat top center;    
    width:176px;
    height:40px;
}

.cvs a{
    background: url(../images/whereToBuy/cvs.png) no-repeat top center;    
    width:209px;
    height:28px;
}

.target a{
    background: url(../images/whereToBuy/target.png) no-repeat top center;    
    width:67px;
    height:94px;
}

.ulta a{
    background: url(../images/whereToBuy/ulta.png) no-repeat top center;    
    width:101px;
    height:43px;
}

.duanereade a{
    background: url(../images/whereToBuy/duanereade.png) no-repeat top center;    
    width:156px;
    height:40px;
}

.drugstore a{
    background: url(../images/whereToBuy/drugstore.png) no-repeat top center;    
    width:156px;
    height:34px;
}

/* smallest size */
@media all and (max-width:624px){  
    #mainContent .centeringDiv {
        padding-left:25px;
        padding-right:25px;
    }
    
    #mainContent h1{
        padding-top:23px;
        font-size:42px;
        line-height:42px;
    }
    
    #logoHolder{width:100%;}
    
    #productShot{display:none;}
        
    .logos p{font-size:15px;}
    
    .logos ul{margin:0;}
    
    .logos li{
        float:none;
        padding:6px 2% 22px
    }
    
    .logos li a{
        margin:0 auto;
    }
}
 /* shared medium and full size */
@media all and (min-width:625px){
    #storeLogos li.harmon{padding-bottom:42px;}
    #onlineLogos li.harmon{padding-bottom:40px;}

    li.harmon{
        padding-left:5%;
    }

    li.ulta{
        padding-left:5%;
        padding-right:4%;
        padding-bottom:14px;
        margin-top:-3px;
    }

    li.walmart{
        padding-right:4%; 
        padding-bottom:33px;
    }
    
    .float{width:209px;}

    li.target{
        margin-top:-18px;
    }

    li.riteaid{
        padding-bottom:21px;
    }

    #storeLogos li.riteaid,
    li.kmart{
        padding-left:6%;
        padding-right:6%;
    }

    #onlineLogos li.riteaid{
        padding-left:5%;
        padding-right:5%;
    }    
}

/* medium size */
@media all and (min-width:625px) and (max-width:809px){  
    #mainContent h1{
        padding-top:34px;
        font-size:51px;
        line-height:51px;
    }
    
    .logos p{
        font-size:17px;
    }
}

/* full size */
@media all and (min-width:810px){ 
    #mainContent h1{
        padding-top:45px;
        font-size:60px;
        line-height:60px;
    }
    
    .logos p{
        font-size:18px;
    }
}