﻿<%@ Page Title="Sitemap | Bior&eacute;&reg; Skincare" MasterPageFile="../Site.Master" Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="Biore2012.sitemap._default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"> 
    <meta content="Explore the Bioré® Skincare website." name="description" />
    <%=SquishIt.Framework.Bundle .Css()
        .Add("~/css/utilityPages.css")
        .Render("~/css/combinedutility_#.css")
    %>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="main">
        <div id=“mainContent” style=“min-height:730px”>
            <div id="shadow"></div>
            <div class="centeringDiv">
            <br /><br />
                 <h1>Politique de confidentialité</h1>
                 <h2>Kao Canada Inc.</h2><br />
                 <p>Kao Canada Inc. ("Kao") respecte votre vie privée et prend les mesures raisonnables pour protéger la confidentialité de vos renseignements. La présente politique ne s'applique qu'au site Web sur lequel elle apparaît et ne s'applique à aucun autre site ou service de Kao. En accédant au présent site Web ou en l'utilisant, vous acceptez et consentez à notre utilisation de vos renseignements conformément à la présente politique.</p><br />
                 <h2>Date d'entrée en vigueur</h2><br />
                 <p>Cette politique de confidentialité est en vigueur et sa date de dernière mise à jour est le 7 jan. 2010. </p><br />
                 <h2>Renseignements personnels recueillis</h2><br />
                 <p><strong>Renseignements permettant de vous identifier</strong></p>

<p>Le site Web est structuré de manière à ce que, en règle générale, vous puissiez le visiter sans révéler le moindre renseignement personnel permettant de vous identifier. Si vous choisissez de nous fournir des renseignements de cette nature, l'on pourrait vous garantir qu'ils seront uniquement utilisés en vertu des principes énoncés dans la présente.</p><br />

<p>Sur certains sites Kao, vous pouvez remplir des formulaires afin de communiquer avec nous, vous inscrire à des bulletins de nouvelles et autres événements promotionnels. Les renseignements personnels qui sont recueillis sur ces pages peuvent comprendre votre nom, votre adresse postale ou votre adresse courriel. Nous pourrions également être amenés à vous poser des questions concernant vos intérêts personnels ou professionnels, votre catégorie démographique, vos expériences relativement à nos produits et le mode de correspondance que vous privilégiez.</p><br />

<p>Nous ne recueillons aucun renseignement personnel qui permettrait de vous identifier à moins que vous ne nous le fournissiez. Si vous nous écrivez par courriel ou répondez à des questions que nous avons placées sur le présent site Web, vous nous diffusez volontairement cette information et nous autorisez à l'utiliser conformément à la présente politique. Veuillez ne pas nous envoyer de renseignements personnels qui permettraient de vous identifier si vous ne souhaitez pas que nous conservions ces renseignements dans notre base de données. </p><br />

<p><strong>Statistiques</strong></p>
<p>Kao peut être amenée à enregistrer vos interactions avec nos publicités, nos sites Web, nos courriels et autres applications que nous rendons disponibles en utilisant votre parcours de navigation et des témoins. Le « parcours de navigation » est un enregistrement des éléments sur lesquels vous cliquez pendant que vous naviguez sur Internet. Ces données nous permettent de savoir le type d'ordinateur et de navigateur que vous utilisez ainsi que l'adresse du site Web qui vous a mené jusqu'au nôtre. Ces renseignements peuvent être recueillis et enregistrés par le serveur de tout site Web, dont le nôtre.</p> <br />

<p>Les « témoins » sont de petits fichiers qui sont enregistrés sur votre ordinateur par un site Web afin de faciliter et d'améliorer votre communication et votre interaction avec ce site Web et de recueillir des renseignements agrégés. De nombreux sites Web, dont le nôtre, utilisent les témoins à ces fins. Vous pouvez interdire ou restreindre l'installation de témoins sur votre ordinateur ou les effacer de votre navigateur en modifiant les préférences de votre navigateur et la configuration des modules de votre navigateur, dans quel cas vous pourrez toujours utiliser notre site Web, mais il se peut que certaines fonctionnalités ne fonctionnent pas correctement. </p><br />

<p><strong>Ce que nous ne recueillons PAS</strong></p>
<p>Kao ne tente pas de recueillir des renseignements protégés comme des numéros d'assurance sociale ou de carte de crédit. De plus, Kao n'a aucunement l'intention de recueillir les renseignements personnels d'une personne de moins de 13 ans. Kao entretient des politiques qui permettent de s'assurer que les renseignements personnels d'enfants de moins de 13 ans ne soient recueillis sans le consentement explicite d'un parent ou d'un tuteur légal. Si un enfant de moins de 13 ans a fourni à Kao des renseignements personnels permettant de l'identifier sans l'obtention préalable de ce consentement, Kao demande à ce que le parent ou tuteur légal de l'enfant communique avec Kao à l'aide de la page « Nos coordonnées » afin de nous en informer. Kao prendra les mesures nécessaires pour effacer les renseignements concernés de ses bases de données. </p><br />

<h2>Comment vos renseignements sont utilisés</h2><br />
<p>Kao utilise vos renseignements dans le but de comprendre vos besoins et de vous offrir de meilleurs produits et services. Kao peut combiner vos renseignements personnels et votre parcours de navigation afin de personnaliser votre visite, adapter ses correspondances et vous envoyer des offres pertinentes. Occasionnellement, Kao pourrait également utiliser vos coordonnées pour vous demander de participer à une étude de marché ou vous fournir des renseignements sur des produits qui pourraient vous intéresser. Nous vous donnerons toujours la possibilité de vous exclure de ce type de correspondance.  </p><br />
<p>Kao peut partager les renseignements personnels permettant de vous identifier que vous soumettez en ligne avec d'autres filiales ou partenaires de Kao. </p>
<br />
<p>Parfois, des renseignements personnels permettant de vous identifier pourraient être recueillis au nom de Kao et d'un tiers nommé au moment du recueil de l'information. Dans ces situations, vos renseignements personnels pourraient être diffusés à Kao ainsi qu'au tiers en question. Bien que Kao utilisera vos renseignements personnels conformément à la présente politique, le tiers en question utilisera vos renseignements personnels conformément aux modalités de sa propre politique de confidentialité. De ce fait, vous devriez étudier ces politiques avant de fournir vos renseignements personnels. Kao n'est pas responsable des gestes de ces tiers. </p><br />
<p>Kao peut être amenée à permettre à ses vendeurs et sous-traitants d'accéder à vos renseignements personnels, mais ceux-ci sont uniquement autorisés à y accéder dans le cadre de services qu'ils effectuent pour Kao. Kao n'autorise pas ces tiers à retirer quelque profit de ces renseignements. Kao peut être amenée à divulguer des renseignements personnels si la loi ou une procédure judiciaire l'exige.  </p><br />
<p>Kao peut être amenée à diffuser des renseignements personnels dans le cas d'une enquête pour fraude, harcèlement ou autre enfreinte à la loi ou aux modalités des politiques du présent site Web.</p><br />
<p>En cas de vente, de fusion, de liquidation, de dissolution, de réorganisation ou d'acquisition de Kao, ou d'une société de Kao, les renseignements recueillis par Kao vous concernant pourraient être vendus ou transférés. Cependant, ceci n'arrivera que si la partie qui devient propriétaire de ces renseignements accepte d'utiliser les renseignements personnels d'une manière sensiblement similaire à celle énoncée dans la présente politique.</p>




<h2>Contenu et messages ciblés</h2><br />
<p>Nous croyons que le contenu, les messages et les publicités sont plus pertinents à vos yeux lorsqu'ils prennent en compte vos intérêts, vos besoins et votre catégorie démographique. Pour cette raison, nous pourrions être amenés à combiner vos renseignements personnels avec des renseignements recueillis automatiquement afin de vous transmettre spécifiquement du contenu, des messages et des publicités en fonction de vos activités sur Internet ou de renseignements que vous avez fournis. Par exemple, si vous avez déjà exprimé un intérêt envers les produits de soins capillaires par le biais de vos interactions avec notre site Web, nous pourrions être amenés à vous transmettre plus de publicités se rapportant aux produits de soins capillaires que de publicités se rapportant à des produits pour lesquels vous n'avez pas démontré d'intérêt ou avec lesquels vous n'avez pas interagi sur le site Web. Bien que nous utilisions ces profils afin de personnaliser ce qui vous est transmis, nous gérerons et protégerons vos renseignements personnels conformément à la présente politique. </p><br />
<h2>Choix</h2><br />
<p>Kao n'utilisera pas ni ne partagera les renseignements qui nous sont fournis en ligne de manières qui ne sont pas énoncées ci-dessus sans votre consentement et sans vous offrir le choix. </p><br />
<h2>Sécurité</h2><br />
<p>Kao s'engage à prendre les mesures nécessaires pour assurer la sécurité des renseignements recueillis. Pour prévenir les accès non autorisés, assurer la validité des renseignements et garantir que l'utilisation faite des renseignements personnels est adéquate, nous avons mis en place des procédures physiques, électroniques et réglementaires afin de protéger les renseignements personnels que nous recueillons en ligne. Si nous vous fournissons un moyen direct de gérer vos renseignements dans notre base de données, comme par exemple avec une application de type « Configuration du profil », vous avez la responsabilité de prendre les précautions nécessaires pour protéger vos données d'identification, comme votre identifiant et votre mot de passe. Kao n'est pas responsable des failles de sécurité causées par la perte ou le vol de vos données d'identification. </p><br />
<h2>Non confidentialité</h2>
<br />
<p>Toute correspondance ou document dont vous nous faites part par courriel ou un autre moyen, y compris toute donnée, question, commentaire, suggestion ou information semblable, sera considérée non confidentielle et non exclusive. Sauf en cas d'indication contraire dans la présente politique, nous pourrions être amenés à réutiliser toute information transmise ou soumise par vous à toute fin utile, dont, entre autres, la reproduction, la transmission, la publication, la diffusion ou l'affichage. Vous consentez expressément au fait que nous sommes libres d'utiliser toute idée, concept, savoir-faire ou technique contenus dans vos correspondances qui nous sont adressées sans la moindre rémunération et à toute fin utile, dont, entre autres, la création, la fabrication et la commercialisation de produits et de services employant l'information en question. De plus, vous confirmez que tout fichier multimédia dont vous nous faites part (images, vidéos, etc.) vous appartiennent et que vous avez la permission de toute personne y figurant d'en transférer les droits à Kao. </p><br />
<h2>Accès à l'information, correction de l'information et liste d'exclusion</h2><br />
<p>Kao mettra en œuvre les mesures raisonnables pour vous permettre d'accéder à vos renseignements personnels et à vos préférences. Kao corrigera tout renseignement incorrect ou incomplet et vous permettra de spécifier votre niveau de consentement individuel. Vous pouvez exercer ce droit en nous communiquant votre requête en détail.</p><br />
<p>Si vous souhaitez que nous cessions d'utiliser vos renseignements personnels et que nous les effacions de notre liste d'utilisateurs actifs, veuillez communiquer avec nous en faisant les précisions nécessaires pour que nous puissions traiter votre demande. Nous traiterons ces requêtes dans un délai raisonnable suivant leur réception. Cependant, même si nous supprimons vos renseignements personnels de notre liste d'utilisateurs actifs, nous ne sommes pas responsables de faire supprimer vos renseignements personnels des listes de tout autre tiers auquel vos renseignements ont été transmis conformément à la présente politique, comme un partenaire commercial.</p><br />
<h2>Commentaires et questions</h2><br />
<p>Si vous avez des commentaires ou des questions concernant notre politique de confidentialité ou le traitement de vos renseignements personnels, veuillez utiliser la page Nos coordonnées. </p><br />
<h2>États-Unis d'Amérique</h2><br />
<p>Le présent site Web et ses bases de données sont gérées aux États-Unis. En utilisant le présent site Web, vous nous donnez expressément et spécifiquement votre consentement à ce que nous recueillions et conservions vos renseignements aux États-Unis et y utilisions vos renseignements conformément à la présente.</p><br />
<h2>Modifications à la politique de confidentialité</h2><br />
                 <p>Kao pourrait, et se réserve le droit de, modifier et mettre à jour la présente politique ou ses pratiques commerciales connexes en tout temps. Toute modification de ce type sera indiquée ici à des fins de consultation. Cependant, Kao n'appliquera aucun changement à la présente politique, comme la manière dont Kao utilise les renseignements personnels, sans vous donner la chance de demander à être exclu de ces nouvelles formules d'utilisation.</p><br /><br />
            </div>
        </div>
    </div>
</asp:Content>