﻿.freesample {
	position:relative;
	padding-bottom:200px;
	font:13px/15px Helvetica, Arial, sans-serif;
	color:#666;
	background:url(../FreeSample/images/bg.jpg) no-repeat left bottom;
}
.freesample .ir {text-indent:-9999px;}
.freesample strong {color:#e80083; text-decoration:none; font-weight:bold;}
 
/* Like Overlay (.likeOverlay) */
.freesample .likeOverlay {
	width:520px; min-height:427px;
	background:url(../FreeSample/images/LikeOverlayBg.jpg) no-repeat;
}
.freesample .likeOverlay h1 {
	position:absolute; top:20px; left:14px;
	width:197px; height:228px;
	font-size:30px; line-height:35px; font-weight:bold;
	color:#0f57a7;
	background:url(../FreeSample/images/LikeOverlayH1.png) no-repeat;
}
.freesample .likeOverlay p.main {
	position:absolute; top:267px; left:21px;
	width:204px; height:auto;
	font-size:14px; line-height:18px;
	color:#0f57a7;
}
.freesample .likeOverlay p.fine {
	position:absolute; top:339px; left:21px;
	width:204px; height:auto;
	font-size:11px;
}

/* Main Liked Panel (.userLikes) */
.freesample .userLikes {
	width:520px; min-height:990px;
	background:url(../FreeSample/images/LikedBg.jpg) no-repeat;
}
.freesample .userLikes .section {
	position:relative;
	width:100%;
	overflow:hidden;
}
.freesample .userLikes .header {
	height:273px;
}
.freesample .userLikes h1 {
	position:absolute; top:13px; left:14px;
	width:264px; height:153px;
	background:url(../FreeSample/images/LikedH1.png) no-repeat;
}
.freesample .userLikes h2 {
	position:absolute; top:185px; left:20px;
	width:276px; height:35px;
	background:url(../FreeSample/images/LikedH2.png) no-repeat;
}
.freesample .userLikes a.btn {
	position:absolute; top:198px; left:30px; 
	width:263px; height:40px;
	background:url(../FreeSample/images/LikedBtn.png) no-repeat;
}
.freesample .userLikes a.btn:hover {
	background-position:right top;
}
.freesample .userLikes .productHolder a {
	float:left;
	width:114px;
	margin-left:62px;
	padding-top:257px;
	overflow:hidden;
	color:#666; text-decoration:none;
}
.freesample .userLikes .productHolder a.first {
	width:112px;
	margin-left:36px;
}
.freesample .userLikes .productHolder a:hover strong {
	color:#0f57a7;
}
.freesample .userLikes .productHolder p.productFine {
	position:absolute; top:220px; left:36px;
	width:457px;
	font-size:10px; line-height:14px;
	z-index:10;
}
.freesample .userLikes .fine {
	width:272px; height:255px;
	margin-top:20px;
	padding:0 0 0 213px;
	font-size:10px; line-height:14px;
	background:url(../FreeSample/images/LikedFineBg.png) no-repeat;
}
/*
0f57a7 blue text
e80083 pink text
666 gray text
*/

/* Not on Facebook (.notFacebook) */
.freesample .notFacebook {color:#0f57a7; margin:20px;}
.freesample .notFacebook h1 {
	font-size:20px; line-height:27px;
	padding-bottom:10px;
	font-weight:bold;
}
.freesample .notFacebook p {
	font-size:14px; line-height:18px;
}
.freesample .notFacebook a {
	color:#0f57a7;
}
.freesample .notFacebook a:hover {
	text-decoration:none;
}