﻿/* Reset All Styles 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit; vertical-align: baseline; }
:focus{ outline: none; -moz-outline-style: none; }
a:active { outline: 0; }
a:focus { -moz-outline-style: none; }
ol, ul { list-style: none; }
caption, th, td{ text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }*/
/*End Reset */

/* Global 
body {
	overflow-x: hidden;
	width: 520px;	
}*/
/* non-semantic helper classes 
.no-wrap {
	white-space:nowrap;
}
sup {
  font-size: 80%; 
  position: relative; 
  top: -.35em;
}*/

/* Our Products Tab (.products) */
.products {
	width: 520px;
	height: 480px;
	background: url(../Products/images/productsBg.jpg) 0 0 no-repeat;
	position: relative;
}
.products h1 {
	text-indent: -9999px;
	height: 1px;
	line-height: 1px;
}
.products a {
	display: block;
	text-decoration: none;
}
.products a:hover {
}
.products #visitUs {
	text-indent: -9999px;
	width: 520px;
	height: 485px;
	background: url(../Products/images/visitUsCtA.png) 0 408px no-repeat;
}
.products #visitUs:hover {
	background-position: -520px 408px;
}
.products #updatedProds {
	width: 400px;
	height: 86px;
	font: 15px/100px Arial,sans-serif;
	color: #666;
	background: url(../Products/images/updatedLineupCtA.png) 0 0 no-repeat;
	padding: 0 0 0 120px;
}
.products #updatedProds span {
	color: #1a4d8d;
}
.products #updatedProds:hover span {
	color: #ea078a;
}