﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PriceSpider.ascx.cs" Inherits="megrhythm.buynow.PriceSpider" %>
<meta name="ps-key" content="1804-58afa2dac691d77a4e331a99">
<meta name="ps-country" content="US">
<meta name="ps-language" content="en">
<script src="//cdn.pricespider.com/1/lib/ps-widget.js" async></script>

