﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteNoHeader.master.cs" Inherits="Biore2012.SiteNoHeader" %>

<%@ Import Namespace="SquishIt.Framework" %>
<!DOCTYPE html>
<!--[if IE 7 ]><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" class="ie7 ie"><![endif]-->
<!--[if IE 8 ]><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" class="ie8 ie"><![endif]-->
<!--[if IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" class="ie9 ie"><![endif]-->
<!--[if !IE]><!--><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" ><!--<![endif]-->
<head id="Head1" runat="server">
    <title></title>
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
    <meta property="og:image" id="fbImage" runat="server" />
    
    <link rel="icon" type="image/png" href="<%= VirtualPathUtility.ToAbsolute("~/favicon.ico") %>" />
    <%=Bundle .Css()
        .Add("~/css/global.css")
        .Add("~/css/pie.css")
        .Render("~/CSS/combined_#.css")
    %>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="<%=bodyClass %>">
    <asp:ContentPlaceHolder ID="floodlightPixels" runat="server"></asp:ContentPlaceHolder>
    <asp:placeholder Visible="false" id="fbAsyncInitScript" runat="server">
        <script>
            window.fbAsyncInit = function() {
			    FB.init({
				    appId: '<asp:Literal runat="server" ID="asyncAppID" />', // App ID
				    //channelURL : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
				    status: true, // check login status
				    cookie: true, // enable cookies to allow the server to access the session
				    oauth: true, // enable OAuth 2.0
				    xfbml: true  // parse XFBML
			    });

			    // Additional initialization code here
			    FB.Canvas.setAutoGrow();
			    FB.Canvas.scrollTo(0, 0);
		    };
	    </script>
    </asp:placeholder>
    <asp:Panel Visible="false" ID="fbScript" runat="server">
        <div id="fb-root"></div>
        <script>
            (function(w, d, s) {
                function go() {
                    var js, fjs = d.getElementsByTagName(s)[0],load = 
                    function(url, id) {
                        if (d.getElementById(id)) { return; }
                        js = d.createElement(s); js.src = url; js.id = id;
                        fjs.parentNode.insertBefore(js, fjs);
                        if(typeof productDetail !== "undefined"){
                            js.onload = (function() { productDetail.socialScriptLoaded(id); });
                            js.onreadystatechange = (function() { productDetail.socialScriptLoaded(id); });
                        }
                    };
                    <asp:Literal id="plusScript" visible="false" runat="server">
                        load('//apis.google.com/js/plusone.js', 'gplus1js');      
                    </asp:Literal>
                    load('//connect.facebook.net/en_US/all.js#xfbml=1', 'facebook-jssdk');                    
                }
                if (w.addEventListener) {
                    w.addEventListener("load", go, false);                    
                }
                else if (w.attachEvent) { w.attachEvent("onload", go); }
            } (window, document, 'script'));
        </script>
    </asp:Panel>
    <asp:Panel Visible="false" ID="fbPageTabScript" runat="server">
        <div id="fb-root"></div>
        <script type="text/javascript">
		var extJsHost_connect_facebook_net = (("https:" == document.location.protocol) ? "https://" : "http://");
		window.fbAsyncInit = function() {
		    FB.init({
		        appId: '<asp:Literal id="fbPageTabAppID" visible="false" runat="server" />', // App ID
		        //channelURL : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
		        status: true, // check login status
		        cookie: true, // enable cookies to allow the server to access the session
		        oauth: true, // enable OAuth 2.0
		        xfbml: true  // parse XFBML
		    });

		    // Additional initialization code here
		    FB.Canvas.setAutoGrow(); 
		    FB.Canvas.scrollTo(0, 0);
		};

		// Load the SDK Asynchronously
		(function(d) {
			var js, id = 'facebook-jssdk'; if (d.getElementById(id)) { return; }
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = extJsHost_connect_facebook_net + "connect.facebook.net/en_US/all.js";
			d.getElementsByTagName('head')[0].appendChild(js);        } (document));
		
	</script>
    </asp:Panel>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
        <div id="footer">
            <div class="centeringDiv">
                <ul>
                    <li id="footerNav6">View <a href="http://www.kaobrands.com/privacy_policy.asp" target="_blank">Privacy&nbsp;Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    </form>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            var source = '<%= VirtualPathUtility.ToAbsolute("~/js/jquery-1.6.4.min.js") %>';
            document.write(unescape("%3Cscript src='"+source+"' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <%=SquishIt.Framework.Bundle .JavaScript()
        .Add("~/js/respond.min.js")
        .Add("~/js/bioreUtils.js")
        .Add("~/js/hoverIntent.min.js")
        .Render("~/js/combined_#.js")
    %>
 
    <asp:Panel ID="panel_Question_Pro" runat="server" Visible="false">
        <!-- BEGIN CUSTOMIZED SURVEY POPUP CODE -->
        <!--script>
            $(document).ready(function() {
                $.getScript('<%= VirtualPathUtility.ToAbsolute("~/js/questionProPopupInvitationCustomStep1.js") %>', function() {
                    $.getScript('<%= VirtualPathUtility.ToAbsolute("~/js/questionProPopupInvitationCustom.js") %>');
                });
            });
        </script>
        <noscript><a href="http://www.questionpro.com/akira/TakeSurvey?id=XXXXXX">Start Survey</a>  <a href="http://www.questionpro.com/">Survey</a></noscript-->
        <!-- END SURVEY POPUP CODE -->
    </asp:Panel>
    <asp:ContentPlaceHolder ID="scripts" runat="server">
    </asp:ContentPlaceHolder>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var firstTracker = _gat._getTracker("UA-385129-27"); // Global Tag
            firstTracker._setDomainName("none");
            firstTracker._trackPageview();
            var secondTracker = _gat._getTracker("UA-385129-4"); // Biore Tag
            secondTracker._trackPageview();
        } catch (err) { }
    </script>
</body>
</html>
