﻿

.charcoalLanding #mainContent {
    height: 1000px;
        background: url(../images/charcoalLanding/charcoalBg.jpg) 50% 0px no-repeat;
		background-size: cover;
}

.charcoalHeaderSpacer {
    display:inline-block;
    width: 899px;
    height: 60px;
}

.charcoalLanding h1 img {
     /* background: url(../images/charcoalLanding/charcoalHeader.png) no-repeat; */
     text-align:center;
     /*width:899px;
     height:195px; */
     top: auto;
     /*max-height:195px;*/
     max-height:384px;
     max-width:899px;
     width:100%;
}

#charcoalProdWrap {
    margin-left: auto;
    margin-right: auto;
    width: 770px;
    height: 428px;
    margin-top:50px;
}

#charDescript {
    width: 339px;
    float:left;
}

#charPaint {
    width: 216px;
    height: 103px;
    background: url(../images/charcoalLanding/paint.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.charcoalLanding h2 {
    color:#7ac141;
    font-size:40px
}

.charGrey {
    color: #87888b;
}

.charcoalLanding p {
    font-size: 14px;
    color: #304065;
    line-height: 21px;
    width:324px;
	font-family:"Gotham Book", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.charGreeen {
    color: #70b92f;
}

#charProducts {
    width: 431px;
    height: 337px;
    background: url(../images/charcoalLanding/product.png) no-repeat;
    display:inline-block;
}

.charList {
    text-align:center;
    width:100%;
    font-size:20px;
    color:#23244a;
    text-transform:uppercase;
    line-height:34px;
}

.charbullet {
    width: 13px;
    height: 13px;
    background: url(../images/charcoalLanding/bullet.png) no-repeat;
    display:inline-block;
    margin-right: 5px;
}

#charTryNowWrap {
    margin-left: auto;
    margin-right: auto;
    width: 335px;
    height: 393px;
    margin-top:29px;
}

#charTryProdOne {
    width: 148px;
    height: 393px;
    background: url(../images/charcoalLanding/deepProduct.png) 13px 0px no-repeat;
    float:left;
    display:inline-block;
}

#charTryProdTwo {
    width: 156px;
    height: 393px;
    background: url(../images/charcoalLanding/selfProduct.png) 13px 32px no-repeat;
    display:inline-block;
    float:right;
    margin-left:20px;
}

.charTry-container {
	width: 431px;
    float: right;
    text-align: center;
    margin: 0px auto;}

.charTry {
    width: 275px;
    margin: 0px auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    border: solid 1px #fff;
}

.charTry:hover {
   background-position: 0px -41px;
}



 @media all and (min-width:1024px) and (max-width:1199px)
{
     #mainContent .centeringDiv
    {
        max-width:899px;
    }
}
  @media all and (min-width:768px) and (max-width:1023px)
{
    #mainContent .centeringDiv {
         max-width: 899px;
    }
    #charcoalProdWrap
    {
        margin-left: auto;
        margin-right: auto;
        width: 770px;
        height: 428px;
        margin-top: 50px;
    }
    
    .charcoalLanding p
    {
        margin-bottom: 15px;
    }

    .charcoalLanding #mainContent
    {
        height: 900px;
    }

    #charTryNowWrap
    {
        margin-left: 27%;
    }

    #mainContent .centeringDiv
    {
        max-width: 899px;
        min-width: 768px;
    }

    .charcoalHeaderSpacer
    {
        display: inline-block;
        width: 320px;
        height: 20px;
    }

    .charcoalLanding h1 img
    {
        width: 94%;
        margin: 0 15px;
    }

    #charDescript
    {
        width: 339px;
    }

    .charcoalLanding h2
    {
        font-size: 35px;
    }

    .charList
    {
        font-size: 20px;
        line-height: 20px;
    }

    .charbullet
    {
        margin-top: 25px;
    }
}
  @media all and (min-width:600px) and (max-width:767px)
{
    #charcoalProdWrap
    {
        height: auto;
        margin-left: 20px;
        margin-top: 20px;
        width: 580px;
    }

    .charcoalLanding p
    {
        margin-bottom: 15px;
    }

    #charProducts
    {
        margin-left: 49px;
    	display:inherit;
    }

    .charcoalLanding #mainContent
    {

        height: 1150px;

    }

    #charTryNowWrap
    {
        margin-left: auto;
        margin-right: auto;
    }

    #mainContent .centeringDiv
    {
        max-width: 600px;
    }

    .charcoalHeaderSpacer
    {
        display: inline-block;
        width: 320px;
        height: 20px;
    }

    .charcoalLanding h1 img
    {
        width: 94%;
        margin: 0 15px;
    }

    #charDescript
    {
        margin: 0px auto;
		text-align: center;
		float: none;
    }

    .charcoalLanding h2
    {
        font-size: 35px;
    }

    .charList
    {
        font-size: 16px;
        line-height: 0px;
    }

    .charbullet
    {
        margin-top: 25px;
    }
	
	.charTry-container
	{
		width: inherit;
		float:none;
		text-align: center;
		margin: 0px auto;
	}
}
  @media all and (min-width:480px) and (max-width:599px)
{
    #charcoalProdWrap
    {
        height: auto;
        margin-left: 20px;
        margin-top: 0px;
        width: 420px;
    }
    
    .charcoalLanding p
    {
        margin-bottom: 15px;
        font-size: 15px;
        color: #304065;
        line-height: 22px;
        width: 310px;
        margin-left: auto;
        margin-right: auto;
    }

    #charProducts
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .charcoalLanding #mainContent
    {

        height: 1050px;

    }

    #charTryNowWrap
    {
        margin-left: 17%;
    }

    #mainContent .centeringDiv
    {
        max-width: 460px;
    }

    .charcoalHeaderSpacer
    {
        display: inline-block;
        width: 320px;
        height: 20px;
    }

    .charcoalLanding h1 img
    {
        width: 94%;
        margin: 0 15px;
    }

    #charDescript
    {
        width: 410px;
        margin-left: auto;
        margin-right: auto;
		margin-top:15px;
        text-align: center;
        float: none;
        display:block;

    }

    .charcoalLanding h2
    {
        font-size: 39px;
		line-height:42px;
    }

    .charList
    {
        font-size: 17px;
        line-height: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .charbullet
    {
        margin-top: 25px;
    }
}

/*  Mobile Portrait 320x480 */
@media all and (max-width:479px)
{
    .centeringDiv h1 img {
        display: none;
    }

     #charcoalProdWrap
    {
        height: auto;
        margin-top: 0px;
        width: 100%;
    }
    
    .charcoalLanding p
    {
        margin-bottom: 15px;
        font-size: 15px;
        color: #304065;
        line-height: 23px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    #charProducts
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
		width:320px;
		height:250px;
		background-size: cover;
		background: url(../images/charcoalLanding/product_small.png) no-repeat;    
	}
	
    #charTryProdTwo
    {
        margin-left: 0px;
    }
    .charcoalLanding #mainContent
    {

        height: 1050px;

    }


    #mainContent .centeringDiv
    {
        max-width: 460px;
    }

    .charcoalHeaderSpacer
    {
        display: inline-block;
        width: 98%;
        height: 260px;
        background: transparent url(/en-CA/images/charcoalLanding/charcoalHeader-mobile.png) center top no-repeat;
		margin-top:20px;
    }

    .charcoalLanding h1 img
    {
        width: 94%;
        margin: 0 3%;
    }

    #charDescript
    {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: none;
        display:block;

    }

    .charcoalLanding h2
    {
        font-size: 35px;
    }

    .charList
    {
        font-size: 17px;
        line-height: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .charbullet
    {
        margin-top: 25px;
    }
    
    #charTryNowWrap
    {
        width: 320px;
        overflow:hidden;
    }
    .charTry
    {
        margin-left: 18px;
        zoom:.9;
        -moz-transform: scale( .9,.9 );
    }
	.charTry-container
	{
		width:300px;
		float:none;	
	}
}


 
 @media all and (min-width:1200px)
{
    .charcoalLanding #mainContent
    {
        background: url(../images/charcoalLanding/charcoalBg.jpg) 50% 0px no-repeat;
		background-size: cover;
    }
}
