﻿/* Reset All Styles 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit; vertical-align: baseline; }
:focus{ outline: none; -moz-outline-style: none; }
a:active { outline: 0; }
a:focus { -moz-outline-style: none; }
ol, ul { list-style: none; }
caption, th, td{ text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }*/
/*End Reset */

/* Global 
body {
	overflow-x: hidden;
	width: 520px;	
}*/
/* non-semantic helper classes
.no-wrap {
	white-space:nowrap;
}
sup {
  font-size: 80%; 
  position: relative; 
  top: -.35em;
} */

/* Like Overlay (.newLook) */
.newLook {
	width: 520px;
	height: 1525px;
	background: url(../NewLook/images/newLookBg.jpg) 0 0 no-repeat;
	font-family: arial,sans-serif;
}
.newLook h1,
.newLook h2,
.newLook .linkBtn {
	text-indent: -9999px;
}
.newLook .linkBtn {
	display: block;
}
.newLook h1 {
	height: 525px;
}
.newLook p {
	padding: 0 50px;
	color: #666;
}
.newLook #newLookCopy h2 {
	height: 1px;
	line-height: 1px;
}
.newLook #newLookCopy .linkBtn {
	background: url(../NewLook/images/takePeekBtn.png) 0 0 no-repeat;
	height: 41px;
	width: 170px;
	margin: 10px 0 0 50px;
}
.newLook #newLookCopy .linkBtn:hover {
	background-position: top right;
}
.newLook #proveIt {
	background: url(../NewLook/images/proveItBg.jpg) 72px 151px no-repeat;
	height: 350px;
}
.newLook #proveIt h2 {
	background: url(../NewLook/images/keepEarningRewardsHdr.png) 0 0 no-repeat;
	width: 343px;
	height: 95px;
	margin: 10px 0 0 0;
}
.newLook #proveIt p a {
	color: #005aa8;
	text-decoration: none;
}
.newLook #proveIt p a:hover {
	text-decoration: underline;
}
.newLook #proveIt .linkBtn {
	background: url(../NewLook/images/proveItBtn.png) 0 0 no-repeat;
	height: 39px;
	width: 186px;
	margin: 100px 0 0 85px;
}
.newLook #proveIt .linkBtn:hover {
	background-position: top right;
}
.newLook #cleanSkin {
	background: url(../NewLook/images/cleanSkinMovementBg.jpg) 42px 0 no-repeat;
	height: 334px;
	margin: 15px 0 0 0;
}
.newLook #cleanSkin h2 {
	height: 1px;
	line-height: 1px;
}
.newLook #cleanSkin p {
	margin: 184px 0 0 320px;
	padding: 0 15px 0 0;
}
.newLook #cleanSkin .linkBtn {
	background: url(../NewLook/images/signUpBtn.png) 0 0 no-repeat;
	height: 42px;
	width: 155px;
	margin: 5px 0 0 320px;
}
.newLook #cleanSkin .linkBtn:hover {
	background-position: top right;
}
.newLook #logoTagline {
	text-indent: -9999px;	
	background: url(../NewLook/images/bioreLogoTagline.png) 162px 5px no-repeat;
	height: 145px;
}