﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPages/Main.master" CodeFile="5-days-of-swag.aspx.cs" Inherits="usa_promotions_rules_5_days_of_swag" %>
<%@ MasterType VirtualPath="../../MasterPages/Main.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <meta name="Description" content="Bioré® skincare Porespectives Rules." />
    <link rel="stylesheet" type="text/css" href="/usa/css/optin2.css" media="screen, projection" />
    <!--[if lt IE 7]>
	<script>
	    DD_belatedPNG.fix('#optin_inner, #ctl00_ContentPlaceHolder1_OptinForm h1');
	</script>
	<![endif]-->
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div id="optin" class="rulesCopy">
        <div id="optin_inner">
            <div id="imgContact">
            </div>
            <asp:Panel ID="OptinForm" runat="server">
                <h2>
                    Bior&eacute;<sup>&reg;</sup> Skincare 5 Days of Swag Program<br />
                    Official Rules<br />
                    NO PURCHASE NECESSARY. A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING.</h2>

                <p><strong>1. Eligibility:</strong> Bior&eacute;<sup>&reg;</sup> Skincare 5 Days of Swag Program (the &quot;Instant Win Game&quot;) is open only to legal residents of the fifty (50) United States and the District of Columbia who are at least eighteen (18) years old and a Prove It!&trade; Rewards Points Loyalty Program member at the time of entry. Employees, officers, and directors of Kao Brands Company, ePrize LLC, Brand Networks, Inc. ("Brand Networks"), Enlighten, Inc., and their respective parent companies, subsidiaries, affiliates, partners, advertising and promotion agencies, manufacturers or distributors of Promotion materials and their immediate family (spouse, parents, siblings, and children) or members of the same household (whether related or not) of such employees, officers, and directors are not eligible to enter. The Instant Win Game is subject to all applicable federal, state, and local laws and regulations and is void where prohibited. Participation in the Instant Win Game constitutes entrant's full and unconditional agreement to these Official Rules and Sponsor's decisions, which are final and binding in all matters related to the Instant Win Game. Winning a prize is contingent upon fulfilling all requirements set forth herein.</p>
                 
                <p><strong>2. Sponsor:</strong> Kao Brands Company, 2535 Spring Grove Ave, Cincinnati, OH 45214.</p>
                 	
                <p><strong>3. Timing:</strong> The Instant Win Game begins on December 12, 2011 at 12:00 a.m. Eastern Time ("ET"), ends on December 16, 2011 at 11:59 p.m. ET (the "Promotion Period") and consists of five (5) daily entry periods (each a "Daily Entry Period). Each Daily Entry Period starts at 12:00 a.m. ET and ends that night at 11:59 p.m. ET. Brand Network's computer is the official time-keeping device for the Instant Win Game.</p>

                <p><strong>4. How to Enter:</strong> During the Promotion Period, you can enter the Instant Win Game through the Prove It!&trade; Rewards Points application on the Bior&eacute;<sup>&reg;</sup> Skincare Facebook page at www.facebook.come/bioreskin. Follow the links and instructions to respond to the daily polling question for which there are no right or wrong answers. You will automatically receive one (1) Instant Win Game play for the Daily Entry Period regardless of your answer. The Instant Win Game results will be instantly displayed. Potential winners of the Instant Win Game will be asked to provide their valid mailing address for prize fulfillment purposes to validate their win. All potential winners are subject to verification before any prize will be awarded. Brand Networks is responsible for the functionality of the Instant Win Game. All entrants, including potential winners, will automatically receive ten (10) Prove It!&trade; points.</p>

                <p><strong>Limit:</strong> Each entrant may play one (1) time per Daily Entry Period during the Promotion Period. Entrants may only be awarded one (1) prize, but may receive Prove It!&trade; points each day. Multiple entrants are not permitted to share the same email address or Facebook account. Any attempt by any entrant to obtain more than the stated number of plays by using multiple/different email addresses, Facebook accounts, identities, registrations and logins, or any other methods will void that entrant's plays and that entrant may be disqualified. Use of any automated system to participate is prohibited and will result in disqualification. Sponsor is not responsible for lost, late, incomplete, invalid, unintelligible, or misdirected plays, which will be disqualified. In the event of a dispute as to any play, the authorized account holder of the email address used to register will be deemed to be the entrant or player. The &quot;authorized account holder&quot; is the natural person assigned an email address by an Internet access provider, online service provider, Internet service provider, or other organization responsible for assigning email addresses for the domain associated with the submitted address. Each potential winner may be required to show proof of being the authorized account holder.</p>

                <p><strong>5. ALL POTENTIAL WINNING PLAYS ARE SUBJECT TO VERIFICATION BY SPONSOR OR BRAND NETWORKS, WHOSE DECISIONS ARE FINAL AND BINDING. <em>AN ENTRANT IS NOT A WINNER OF ANY PRIZE, EVEN IF THE INSTANT WIN GAME SHOULD SO INDICATE, UNLESS AND UNTIL ENTRANT'S ELIGIBILITY AND THE POTENTIAL WINNING PLAY HAVE BEEN VERIFIED AND ENTRANT HAS BEEN NOTIFIED THAT VERIFICATION IS COMPLETE.</em> SPONSOR WILL NOT ACCEPT SCREEN SHOTS OR OTHER EVIDENCE OF WINNING IN LIEU OF ITS VALIDATION PROCESS. ANY PLAY THAT OCCURS AFTER THE SYSTEM HAS FAILED FOR ANY REASON IS DEEMED A DEFECTIVE PLAY, IS VOID, AND WILL NOT BE HONORED.</strong></p>

                <p><strong>6. Instant Win Game Prize Selection and Verification of Potential Winners:</strong> Receiving a prize is contingent upon compliance with these Official Rules. Brand Networks and ePrize are independent judging organizations. Brand Networks' decisions regarding the administration and operation of the Instant Win Game and ePrize's decisions regarding the selection of potential winners by random drawing, if necessary, are final and binding in all matters related to the Instant Win Game. Each potential winner will be required to provide his or her valid mailing address for prize fulfillment purposes when notified of his or her win. If any potential winner fails to provide his or her address at the time of the win notification, or the prize is returned as undeliverable, potential winner forfeits the prize. In the event that any potential winners are disqualified for any reason, Sponsor will award the applicable prizes to an alternate winner by random drawing from among all remaining eligible entries. Sponsor will notify any such alternate potential winners by email to request an appropriate mailing address for prize fulfillment within five (5) days of the date notice or attempted notice is sent. There will be three (3) alternate drawings after which the applicable prize will remain unawarded. Prizes will be fulfilled approximately 8-10 weeks after the conclusion of the Instant Win Game.</p>
                 
                <p><strong>7. Prizes:</strong><br />
                <strong>FIFTY (50) Daily Entry Period 1 PRIZES:</strong> A PEOPLE Stylewatch clutch purse. Approximate Retail Value (&quot;ARV&quot;): $29.95.<br />
                <strong>FORTY-FIVE (45) Daily Entry Period 2 PRIZES:</strong> Lucky purple cosmetic case. ARV: $10.<br />
                <strong>TWENTY (20) Daily Entry Period 3 PRIZES:</strong> Cosmopolitan cosmetic case. ARV: $10.<br />
                <strong>NINE (9) Daily Entry Period 4 PRIZES:</strong> InStyle Beauty Tip book. ARV: $24.95.<br />
                <strong>TWO (2) Daily Entry Period 5 PRIZES:</strong> Trisha McEvoy candle sets. ARV: $100.</p>

                <p>Odds of winning an Instant Win Game prize depend on the number of prizes available for each Daily Entry Period divided by the number of eligible Instant Win Game plays on the applicable Daily Entry Period. No cash or other substitution, assignment or transfer of any prizes permitted, except by Sponsor, who reserves the right to substitute a prize or prize component with cash or another prize of comparable or greater value. Winners are responsible for all federal, state, and local taxes and fees associated with prize receipt and/or use. Prizes will be awarded "as is" with no warranty or guarantee, either express or implied offered by Sponsor. Total ARV of all prizes: $2,572. Limit: One (1) Instant Win Game prize per person.</p>

                <p><strong>8. Publicity:</strong> Except where prohibited, participation in the Instant Win Game constitutes winner's consent to Sponsor's use of winner's name, likeness, photograph, voice, opinions, biographical information, hometown, and state for promotional purposes in any media without further payment or consideration.</p>
                 
                <p><strong>9. General Conditions:</strong> Sponsor reserves the right to cancel or modify the Instant Win Game if fraud, technical failures, or any other factor beyond Sponsor's reasonable control impairs the integrity of the Instant Win Game, as determined by Sponsor in its sole discretion. In such event, Sponsor reserves the right to award the prizes at random from among the eligible entries received up to the time of the impairment. Sponsor reserves the right, in its sole discretion, to disqualify any individual it finds to be tampering with the entry process or the operation of the Instant Win Game, or to be acting in violation of the Official Rules of this or any other promotion, or in an unsportsmanlike or disruptive manner. Any attempt by any person to deliberately damage any website or undermine the legitimate operation of the Instant Win Game is a violation of criminal and civil law, and, should such an attempt be made, Sponsor reserves the right to seek damages from any such person to the fullest extent permitted by law. Sponsor's failure to enforce any term of these Official Rules shall not constitute a waiver of that provision.</p>

                <p><strong>10. Release:</strong> By participating in this Instant Win Game and/or receipt of any prize, entrant and/or each winner agrees to release and hold harmless Sponsor, Enlighten, Inc., ePrize, LLC, and any promotional partners, each of their parent, subsidiary, affiliate, and related companies, and each of its and their respective officers, directors, employees, and agents (collectively the &quot;Released Parties&quot;) from and against any losses, damages, rights, claim, or cause of action of any kind arising, in whole or in part, directly or indirectly, out of participation in the Instant Win Game or resulting directly or indirectly, from acceptance, possession, use, or misuse of any prize awarded in connection with the Instant Win Game, including without limitation personal injury, death, and/or property damage, as well as claims based on publicity rights, defamation, and/or invasion of privacy.</p>
                 
                <p><strong>11. Limitations of Liability:</strong> The Released Parties are not responsible for: (1) any incorrect or inaccurate information, whether caused by entrants, printing errors or by any of the equipment or programming associated with or utilized in the Instant Win Game; (2) technical failures of any kind, including, but not limited to malfunctions, interruptions, or disconnections in phone lines, or network hardware, or software; (3) unauthorized human intervention in any part of the entry process or the Instant Win Game; (4) technical or human error which may occur in the administration of the Instant Win Game or the processing of entries; or (5) any injury or damage to persons or property which may be caused, directly or indirectly, in whole or in part, from entrant's participation in the Instant Win Game, or receipt, or use of any prize or while traveling to or from any prize-related activity. If for any reason an entrant's entry is confirmed to have been erroneously deleted, lost, or otherwise destroyed or corrupted, entrant's sole remedy is another entry in the Instant Win Game. If the Instant Win Game, or any part of it, is discontinued for any reason, Sponsor, in its sole discretion, may elect to hold a random drawing from among all eligible entries received up to the date of discontinuance for any or all of the prizes offered herein. No more than the stated number of prizes will be awarded. In the event that production, technical, seeding, programming, or any other reasons cause more than the stated number of prizes as set forth in these Official Rules to be available and/or claimed, Sponsor reserves the right to award only the stated number of prizes by a random drawing among all legitimate, unawarded, eligible prize claims.</p>

                <p><strong>12. Disputes:</strong> Entrant agrees that: (i) any and all disputes, claims, and causes of action arising out of or connected with this Instant Win Game or any prizes awarded shall be resolved individually, without resort to any form of class action, and exclusively by the United States District Court for the District of Delaware or the appropriate Delaware State Court; (ii) any and all claims, judgments, and awards shall be limited to actual out-of-pocket costs incurred, including costs associated with entering this Instant Win Game but in no event attorneys' fees; and (iii) under no circumstances will entrant be permitted to obtain awards for and entrant hereby waives all rights to claim punitive, incidental, and consequential damages and any other damages, other than for actual out-of-pocket expenses, and any and all rights to have damages multiplied or otherwise increased. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATIONS OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE MAY NOT APPLY TO YOU. All issues and questions concerning the construction, validity, interpretation, and enforceability of these Official Rules, or the rights and obligations of the entrant and Sponsor in connection with the Instant Win Game, shall be governed by, and construed in accordance with, the laws of the State of Delaware, without giving effect to any choice of law or conflict of law rules (whether of the State of Delaware or any other jurisdiction), which would cause the application of the laws of any jurisdiction other than the State of Delaware.</p>

                <p><strong>13. Entrant's Personal Information:</strong> Information collected from entrants is subject to the Sponsor's Privacy Policy (<a href="http://www.kaobrands.com/privacy_policy.asp" target="_blank">http://www.kaobrands.com/privacy_policy.asp</a>) and, in the event of a random drawing per Sections 6, 11 and 12, entrants are also subject to the ePrize Privacy Policy (<a href="http://www.eprize.com/privacy-policy" target="_blank">http://www.eprize.com/privacy-policy</a>).</p>
                	
                <p><strong>14. Winner List:</strong> Winner List requests will only be accepted after the promotion end date (listed above) and no later than March 16, 2012. For a winner list, mail-in your request to Bior&eacute;<sup>&reg;</sup> Skincare 5 Days of Swag Program Win List, c/o Enlighten, 3027 Miller Road, Ann Arbor, MI 48103.</p>

            </asp:Panel>
        </div>
    </div>
</asp:Content>

