﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ratings-and-review-contest.aspx.cs" Inherits="Biore2012.promotions.rules.ratings_and_review_contest" MasterPageFile="~/Site.Master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 <%=SquishIt.Framework.Bundle .Css()
        .Add("~/css/utilityPages.css")
        .Render("~/css/combinedrules_#.css")
    %>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="main">
        <div id="mainContent">
            <div id="shadow"></div>
            <div class="centeringDiv">
                <!--<div id="polaroid"><img src="<%= VirtualPathUtility.ToAbsolute("~/images/forms/signUpPhoto.jpg") %>" alt="" /></div>-->
                <div id="content">
                    <h1>Concours de classement et d’évaluation sur les soins de la peau de Bioré<sup>MD</sup> </h1>

                    <p><strong>1.	CONCOURS :</strong> Le Concours de classement et d’évaluation sur les soins de la peau de Bioré<sup>MD</sup> (le « concours ») est tenu par Kao Canada inc. (ci-après, le « <strong>commanditaire</strong> »). Aucun achat requis. Le concours débute à 0 h 0 min 1 s (heure de l’Est) le 1er septembre 2014 et prend fin à 23 h 59 min 59 s (heure de l’Est) le 30 septembre 2014 (la « <strong>période du concours</strong> »). Le concours est ouvert à tous les résidents légaux du Canada qui ont atteint l’âge de la majorité dans leur province ou territoire de résidence au moment de leur inscription. Les employés, les représentants et les agents (et les personnes domiciliées à la même adresse qu’eux, qu’elles leur soient apparentées ou non) du commanditaire, de ses sociétés mères, de ses filiales, des sociétés affiliées et des agences de publicité ou de promotion (collectivement appelés les « <strong>parties au concours</strong> ») ne sont pas admis à participer au concours.<br /><br /></p>

                     <p><strong>2.	GRAND PRIX : </strong>Il y a un (1) grand prix à gagner. Le grand prix comprend un panier-cadeau de produits Bioré, adapté au type de peau de la personne gagnante (valeur approximative au détail de 150 $), et 52 entrées pour une personne aux cinémas Cineplex (valeur approximative au détail de 450 $), pour une valeur approximative totale de 600 $CA. Le gagnant est prié de compter de quatre à six semaines après avoir été déclaré gagnant en conformité avec le règlement du concours pour recevoir son grand prix par messagerie. Le grand prix doit être accepté tel quel est n’est ni transférable, ni monnayable. Aucune substitution ne peut être faite, à moins que le commanditaire n’en décide autrement. Le commanditaire se réserve le droit, à sa seule et entière discrétion, de remplacer le grand prix, en tout ou en partie, par un prix de valeur égale ou supérieure, ce qui peut comprendre, entre autres, la remise d’une somme en argent.  <br /><br /></p>

                     <p><strong>3.	COMMENT PARTICIPER :</strong> Il y a deux (2) façons de participer au concours. <strong>AUCUN ACHAT REQUIS. </strong>  <br /><br /></p>

                     <div style="margin-left:50px"><p>a)	Pour participer au concours, visitez le site www.biore.ca (le « <strong>site Web</strong> ») et suivez les consignes à l’écran pour : i) afficher un classement et/ou une évaluation (l’« <strong>évaluation</strong> ») au sujet de n’importe quel produit Bioré<sup>MD</sup> pour les soins de la peau dans l’espace prévu à cette fin; ii) remplir au complet et soumettre le formulaire d’inscription; iii) cocher la case indiquant que vous avez lu et accepté le règlement du concours et que vous convenez d’être juridiquement lié par lui. Pour être admissible, votre évaluation doit : i) avoir une longueur d’au moins <strong>50 caractères</strong>; ii) être rédigée en anglais ou en français; iii) être écrite dans l’espace prévu à cette fin et être conforme à tous autres égards aux exigences énoncées ci dessous à la règle 5. Après avoir rédigé votre évaluation et rempli le formulaire d’inscription, suivez les consignes à l’écran pour soumettre votre inscription remplie (l’« <strong>inscription</strong> »). Le tirage au sort du prix se fera entre toutes les inscriptions admissibles qui auront été reçues pendant la période du concours (voir la règle 6). Une inscription est rejetée dans l’un ou l’autre des cas suivants (à la seule et entière discrétion du commanditaire) : i) le formulaire d’inscription (y compris l’évaluation) n’est pas complètement rempli et soumis pendant la période du concours; ii) l’évaluation n’est pas conforme aux exigences énoncées ci dessous à la règle 5. Il est interdit d’utiliser un système automatisé, un script, une macro, un programme robotique ou tout autre logiciel semblable pour s’inscrire au concours ou y participer de quelque façon que ce soit, sous peine de disqualification par le commanditaire. Les renonciataires (définis ci-dessous) se déchargent de toute responsabilité en cas d’inscription tardive, perdue, mal dirigée, retardée, incomplète ou irrecevable.  <br /><br /></p>
                     <p>b)	Pour obtenir une (1) inscription au concours sans rédiger d’évaluation, écrivez en caractères d’imprimerie vos prénom, nom, numéro de téléphone, adresse postale complète et âge sur une feuille de papier blanc uni, signez le tout et envoyez-le, accompagné d’un texte unique et original d’au moins 50 caractères ayant pour sujet « Pourquoi j’aime les soins de la peau de Bioré<sup>MD</sup> », par la poste (dans une enveloppe suffisamment affranchie), à : Concours de classement et d’évaluation sur les soins de la peau de Bioré<sup>MD</sup>, Kao Canada Inc., 75 Courtneypark Drive West, Unit 2, Mississauga (Ontario), L5W 0E3. Sur réception de votre demande par la poste en conformité au règlement du concours, nous vous enverrons une (1) inscription au concours. Pour être admissible, l’inscription par la poste doit avoir été oblitérée pendant la période du concours et reçue par nous au plus tard le 3 octobre 2014. Les renonciataires (définis ci-dessous) se déchargent de toute responsabilité advenant qu’une inscription par la poste sans achat nécessaire soit perdue, volée, retardée, illisible, endommagée, mal dirigée, tardive ou détruite. <br /><br /></p>
                         </div>

                     <p><strong>4.	LIMITE D’INSCRIPTION :</strong> Une (1) seule inscription par personne est admise pendant la période du concours, quelle que soit la méthode d’inscription utilisée. Le participant ne peut utiliser qu’un (1) nom pour participer au concours. Toute inscription générée par un script ou une macro, au moyen d’un robot ou d’un programme, par quelque autre moyen automatisé que ce soit ou par quelque autre moyen que le commanditaire, à sa seule et entière discrétion, estime contraire à l’esprit du processus d’inscription est rejetée. S’il s’avère qu’une personne a tenté de soumettre une ou plusieurs inscriptions autrement qu’en conformité avec le règlement du concours, toutes les inscriptions soumises par cette personne pourront être rejetées, à la seule et entière discrétion du commanditaire. Advenant un différend à savoir qui a soumis une inscription, il revient à la seule et entière discrétion du commanditaire (à l’aide des éléments de preuve dont il dispose) de déterminer quel participant, le cas échéant, est admissible à gagner un prix. Une preuve de transmission (saisie d’écran, etc.) ne constitue pas une preuve de livraison.<br /><br /></p> 

                     <p>Toutes les inscriptions sont sujettes à vérification en tout temps. Le commanditaire se réserve le droit, à sa seule et entière discrétion, d’exiger une preuve d’identité ou d’admissibilité pour valider la participation à ce concours (sous une forme qu’il jugera acceptable, ce qui peut comprendre, entre autres, une pièce d’identité délivrée par une autorité gouvernementale). Le défaut de fournir la preuve exigée en temps voulu, à la satisfaction du commanditaire, pourrait entraîner une disqualification. Aux fins du présent concours, les seules dates et heures utilisées pour déterminer la validité des inscriptions seront celles du ou des serveurs utilisés pour le concours.<br /><br /></p>

                     <p><strong>5.	ÉVALUATION : </strong> <br /><br />

                    EN SOUMETTANT UNE ÉVALUATION, VOUS ACCEPTEZ QUE VOTRE ÉVALUATION SOIT CONFORME À TOUTES LES CONDITIONS ÉNONCÉES DANS LE RÈGLEMENT DU CONCOURS. LES RENONCIATAIRES (DÉFINIS CI-APRÈS) N’ASSUMENT AUCUNE RESPONSABILITÉ JURIDIQUE EN CE QUI A TRAIT À L’UTILISATION DE VOTRE ÉVALUATION PAR LES PARTIES AU CONCOURS, ET LES RENONCIATAIRES (DÉFINIS CI-APRÈS) SERONT TENUS INDEMNES DANS L’ÉVENTUALITÉ OÙ IL S’AVÉRERAIT SUBSÉQUEMMENT QUE VOUS AVEZ ENFREINT UNE DISPOSITION DU RÈGLEMENT DU CONCOURS OU QUE VOUS AVEZ OMIS DE VOUS Y CONFORMER. <br /><br /></p>

                     <p>Pour constituer une inscription admissible au présent concours, votre évaluation doit : i) avoir une longueur d’au moins 50 caractères; ii) être rédigée en anglais ou en français; iii) être écrite dans l’espace prévu à cette fin. En participant au concours, chaque participant, en plus d’accepter d’être lié par le règlement du concours et par l’interprétation qu’en fait le commanditaire, garantit et déclare que son évaluation : <br /><br /></p>

                    <div style="margin-left:50px">
                    i)	est de son cru et qu’il possède tous les droits nécessaires à l’égard de l’évaluation pour participer au concours;<br /><br />

                    ii)	ne contrevient à aucune loi ou ordonnance ni à aucun règlement;<br /><br />

                    iii)	ne contient aucune référence ou ressemblance à une tierce partie identifiable, à moins qu’un consentement ait été donné à cette fin par la tierce partie et par son parent ou gardien légal, si la personne n’a pas atteint l’âge de la majorité dans sa province ou son territoire de résidence;<br /><br />

                    iv)	ne donnera lieu à aucune réclamation pour infraction, pour atteinte à la vie privée ou à la publicité, et ne violera aucun des droits ou intérêts d’une tierce partie, ni ne donnera lieu à aucune réclamation de paiement, quelle qu’elle soit; <br /><br />
 
                    v)	n’est pas diffamatoire, commercialement diffamatoire, pornographique ou obscène, et ne contient aucun des éléments suivants ni n’y fait allusion, de quelque façon que ce soit : la nudité; une activité ou une insinuation à caractère sexuel, qu’elles soient explicites ou graphiques; une expression ou un symbole grossier, vulgaire ou injurieux; la caractérisation méprisante d’un groupe ethnique, racial, sexuel ou religieux; un contenu qui avalise, tolère ou aborde des activités, des conduites ou des comportements illégaux, inappropriés ou risqués, quels qu’ils soient; des renseignements personnels, y compris, mais sans s’y limiter, le nom ou l’adresse (physique ou électronique) d’une personne; toute conduite ou autre activité contraire au règlement du concours; un message commercial, une comparaison ou une sollicitation à l’égard de produits ou de services autres que ceux du commanditaire; un produit d’une tierce partie ou une marque de commerce, une marque ou un logotype autre que ceux du commanditaire; tout autre contenu qui est ou pourrait être considéré inapproprié, inadéquat ou injurieux, comme pourront le déterminer, à leur entière discrétion, le commanditaire ou les parties au concours.<br /><br />
                        </div>

                     <p>En participant au concours et en soumettant une évaluation, chaque participant : i) accorde au commanditaire, à perpétuité, une licence non exclusive pour publier, afficher, reproduire, modifier, corriger ou utiliser de quelque autre façon son évaluation, en tout ou en partie, pour publiciser ou promouvoir le concours ou pour tout autre motif; ii) renonce à tous les droits moraux rattachés à son évaluation, en faveur du commanditaire; iii) convient de dégager les parties au concours et chacun de leurs agents, employés, administrateurs, successeurs et ayants droit (collectivement, les « renonciataires ») de toute responsabilité relativement aux droits publicitaires, à la diffamation, à l’atteinte à la vie privée, à la violation de droits d’auteur, à la violation de marques de commerce ou à toute cause d’action liée à la propriété intellectuelle. Il est entendu que le commanditaire se réserve le droit, à sa seule discrétion, de modifier, de corriger ou de disqualifier une inscription, ou de demander à un participant de modifier ou de corriger son évaluation, pour quelque motif que ce soit. 
                         <strong>L’ÉVALUATION NE FAIT PAS L’OBJET D’UN JUGEMENT. LA SOUMISSION D’UNE INSCRIPTION ADMISSIBLE (Y COMPRIS UNE ÉVALUATION ADMISSIBLE) CONFORMÉMENT AU RÈGLEMENT DU CONCOURS DONNE AU PARTICIPANT ADMISSIBLE UNE (1) INSCRIPTION AU TIRAGE AU SORT DU PRIX.</strong><br /><br /></p>

                     <p><strong>6.	TIRAGE AU SORT :</strong> La personne qui gagnera le La personne qui gagnera le grand prix sera choisie parmi toutes les inscriptions admissibles reçues pendant la période du concours, lors d’un tirage au sort effectué par l’organisation indépendante chargée de juger le concours, à Mississauga (Ontario), le 6 octobre 2014 (la « <strong>date du tirage</strong> »), vers 14 heures, HAE. Les chances de gagner le grand prix dépendent du nombre total d’inscriptions admissibles reçues pendant la période du concours en conformité avec le règlement du concours. Le commanditaire ou son représentant désigné tentera de joindre le participant sélectionné au téléphone, par la poste ou par courriel (au moyen des renseignements fournis au moment de l’inscription) au maximum à trois (3) reprises dans les quinze (15) jours ouvrables suivant la date du tirage. Si le participant sélectionné ne peut pas être joint en trois (3) tentatives ou au cours des quinze (15) jours ouvrables suivant la date du tirage (selon la première éventualité), ou si l’un des avis envoyés donne lieu à un message de non-livraison, alors ce participant sélectionné sera disqualifié (et perdra du même coup toute possibilité de prétendre au grand prix), et le commanditaire se réserve dès lors le droit, à sa seule discrétion, de sélectionner au hasard un autre participant parmi les inscriptions admissibles restantes reçues au cours de la période du concours (auquel cas les dispositions énoncées ci-dessus dans la présente règle s’appliquent au nouveau participant sélectionné). <br /><br /></p>

                     <p>7.	Pour être officiellement déclaré gagnant du grand prix, le participant sélectionné devra d’abord : a) répondre correctement dans un délai prescrit, sans aide mécanique ou autre, à une question réglementaire d’arithmétique administrée par la poste, par courriel ou au téléphone; b) signer et envoyer, dans les dix (10) jours ouvrables suivant la date de notification, le formulaire de déclaration et de renonciation à l’intention du commanditaire, par lequel le participant veille (entre autres) : i) à confirmer le respect du présent règlement; ii) à déclarer qu’il accepte le grand prix tel quel; iii) à dégager les renonciataires de toute responsabilité relativement au concours, au fait qu’il y participe ou à l’attribution et à l’utilisation appropriée ou non du grand prix, en tout ou en partie; iv) à consentir à la publication, à la reproduction ou à l’utilisation à d’autres fins de ses nom, adresse, voix, déclarations relatives au concours, photo ou autre image le représentant, sans autre avis ni indemnisation, dans une quelconque publicité ou annonce diffusée de quelque manière que ce soit par le commanditaire ou pour le compte de celui-ci, ce qui peut comprendre l’utilisation de supports imprimés, de la radiodiffusion, de la télédiffusion ou d’Internet. Les situations suivantes entraînent la disqualification du participant sélectionné (qui perd du même coup toute possibilité de prétention au grand prix) : a) il ne répond pas correctement à la question réglementaire d’arithmétique; b) il n’envoie pas comme prévu les documents du concours dans les délais prescrits; c) il n’est pas en mesure d’accepter le grand prix pour une quelconque raison; le cas échéant, le commanditaire se réserve le droit, à sa seule discrétion, de sélectionner au hasard un autre participant parmi les inscriptions admissibles restantes reçues au cours de la période du concours (auquel cas les dispositions énoncées dans la présente règle s’appliquent au nouveau participant sélectionné). <br /><br /></p>
                                     <p><strong>8.	DISPOSITIONS GÉNÉRALES :</strong> Tous les documents soumis  Tous les documents soumis pour l’inscription deviennent la propriété du commanditaire. Les renonciataires se dégagent de toute responsabilité en cas d’inscription perdue, retardée, incomplète, irrecevable ou mal dirigée. Le concours est assujetti à toutes les lois fédérales, provinciales et municipales applicables. En s’inscrivant au concours, les participants acceptent d’être liés par le présent règlement officiel du concours (le « <strong>règlement du concours</strong> ») et par les décisions du commanditaire relativement à tous les aspects de ce concours, décisions qui sont sans droit d’appel, péremptoires et exécutoires pour tous les participants et qui comprennent, entre autres, les décisions concernant l’admissibilité ou la disqualification des inscriptions et des participants.<br /><br /></p>

                     <p>La responsabilité des renonciataires ne peut en aucun cas être engagée dans les éventualités suivantes : i) une panne du site Web pendant le concours; ii) une défaillance ou autres problèmes techniques liés au réseau téléphonique ou aux lignes de téléphone, aux systèmes informatiques en ligne, aux serveurs, aux fournisseurs d’accès, à l’équipement informatique ou aux logiciels; iii) la non-réception d’une quelconque inscription par les parties au concours, quelle qu’en soit la raison, ce qui peut entre autres comprendre des problèmes techniques ou un encombrement du réseau Internet ou d’un quelconque site Web; iv) tout dommage ou préjudice causé à l’ordinateur ou à un autre appareil d’un participant ou de toute autre personne, en lien direct ou indirect avec la participation au concours ou le téléchargement de quelconques documents s’y rapportant; v) toute combinaison des éventualités ci-dessus.               <p>En cas de différend quant à la personne ayant soumis une inscription, chaque inscription sera réputée avoir été soumise par le titulaire autorisé du compte de courriel utilisé à cette fin. Par « titulaire autorisé du compte », on entend la personne qui a réservé une adresse courriel auprès d’un fournisseur Internet, d’un fournisseur de services en ligne ou d’une autre organisation (entreprise, établissement d’enseignement, etc.) responsable de l’attribution des adresses courriel pour le domaine associé au compte de courriel ayant servi à l’inscription. Tout participant peut se voir exiger de fournir la preuve qu’il est le titulaire autorisé du compte de courriel associé à l’inscription sélectionnée.<br /><br /></p>

                     <p>Toutes les inscriptions sont sujettes à vérification. Le commanditaire se réserve le droit, à sa seule et entière discrétion, d’exiger une preuve d’identité ou d’admissibilité (sous une forme qu’il jugera acceptable) pour valider la participation à ce concours. Le défaut de fournir la preuve exigée en temps voulu pourrait entraîner une disqualification. Aux fins du présent concours, les seules dates et heures utilisées pour déterminer la validité des inscriptions sont celles du ou des serveurs utilisés pour le concours.<br /><br /></p>

                     <p>Le commanditaire se réserve le droit, à sa seule et entière discrétion (sous réserve de l’approbation de la Régie, le cas échéant) et sans préavis, de modifier les dates et les délais indiqués dans le présent règlement, en tout ou en partie et dans la mesure nécessaire, que ce soit pour vérifier si un participant ou une inscription quelconque satisfait au règlement, pour composer avec des problèmes techniques ou pour s’adapter à toute autre circonstance qu’il juge, à sa seule et entière discrétion, préjudiciable à la bonne administration du concours comme le prévoit le règlement du concours.<br /><br /></p>

                     <p>Le commanditaire se réserveLe commanditaire se réserve le droit, sous réserve de l’approbation donnée par la Régie des alcools, des courses et des jeux (la « <strong>Régie</strong> ») au Québec, de supprimer, de modifier ou de suspendre ce concours (ou d’en modifier le règlement) de quelque façon que ce soit, en cas d’erreur, de problème technique, de virus informatique, de bogue, de manœuvres malhonnêtes, d’intervention non autorisée, de fraude, de défectuosité technique ou de toute autre situation hors de son contrôle raisonnable qui entraverait le bon déroulement du concours comme prévu dans le présent règlement. Toute tentative d’altérer délibérément un quelconque site Web ou de nuire à l’exécution légitime de ce concours représente une violation de la législation civile et criminelle, et le commanditaire se réserve le droit, le cas échéant, d’entreprendre des recours en dommages et intérêts dans toute la mesure permise par la loi. Le commanditaire se réserve également le droit, avec l’autorisation de la Régie, d’annuler, de modifier ou de suspendre ce concours, ou d’en modifier le règlement, sans préavis ni obligation, en cas d’accident, d’erreur d’impression ou d’administration, d’autre erreur de quelque nature que ce soit, ou pour tout autre motif. <br /><br /></p>

                     <p>En remplissant le formulaire d’inscription, tous les participants consentent à la collecte, à l’utilisation et à la distribution de leurs renseignements personnels par le commanditaire, aux seules fins d’exécution du concours (ces renseignements sont consignés pour une période d’environ un an). Le commanditaire s’engage à ne pas vendre ni transmettre ces renseignements à des tiers, sauf aux fins d’administration du concours. Pour en savoir plus sur l’utilisation de renseignements personnels relativement à ce concours, prière de consulter la politique de confidentialité publiée à http://www.biore.ca/fr-CA/privacy/.               <p>Les modalités du concours, telles qu’elles sont énoncées dans le présent règlement, ne peuvent faire l’objet d’aucune modification ni contre-proposition, sauf dans la mesure prévue aux présentes.<br /><br /></p>

                     <p>Résidents du Québec : Tout litige concernant la tenue ou l’organisation d’un concours publicitaire peut être soumis à la Régie des alcools, des courses et des jeux pour fins de règlement. Tout litige afférent à la remise d’un prix peut être soumis à la Régie seulement dans le but d’aider les parties à conclure un accord. <br /><br /></p>

                     <p>Tous les éléments de propriété intellectuelle utilisés par le commanditaire relativement à la promotion ou à l’administration du concours appartiennent au commanditaire ou aux sociétés affiliées (ou sont utilisés sous licence, selon le cas); cela peut comprendre, entre autres, l’utilisation de marques de commerce, d’appellations commerciales, de logos, d’éléments de conception, de documents promotionnels, de pages Web, de code source, de dessins, d’illustrations, de slogans et de représentations. Tous droits réservés. Il est strictement interdit de reproduire ou d’utiliser ces éléments de propriété intellectuelle sans en avoir obtenu expressément l’autorisation écrite. <br /><br /></p>

                     <p>Les conditions générales énoncées dans la version anglaise du règlement du concours prévalent en cas de divergence entre celles-ci et les affirmations ou autres énoncés que pourrait comporter tout autre élément connexe au concours, y compris, entre autres, le formulaire d’inscription au concours, la version française du règlement du concours et la publicité aux points de vente, à la télévision, dans des publications imprimées ou en ligne.<br /><br /></p>

                     <p>9.	Le commanditaire du concours est Kao Canada Inc., 75 Courtneypark Drive West, Unit 2, Mississauga (Ontario), L5W 0E3. <br /><br /></p>

                    
                </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" runat="server">
</asp:Content>
