﻿#footer {
    float: none;
    clear: both;
    width: 100%;
    color:#ffffff;
    min-height:100px;
    background-color: #202a51;
    background: url(../images/header/footerBg.jpg);
}
#footer .centeringDiv{
    position:relative;
    z-index:990;
    overflow:hidden;
}
    #footer ul {
        margin: 30px auto 0 auto;
        width: 290px;
        text-align: center;
    }
#footer ul li{
    padding:0 2px;
    margin-bottom: 5px;
    display:inline-block;
    color:#ffffff;
    border-right: 1px solid white;
    line-height: 15px;    
}
#footer ul li:last-child{
    border-right:none;    
}
#footer ul li a{
    color:#ffffff;
    text-decoration:none;
    padding:5px;
    font-family: 'Archer A', 'Archer B'; 
    font-weight: 500; 
    font-style: normal;
    font-size: 9px;
    text-transform:uppercase;
    text-align: center;
}
#copyright{
    clear:both;
    text-align:center;
    width: 80%;
    margin: 0 auto;
    font-size:9px;
    font-family: ProximaNova-Regular;
}
.whereToBuy #footerNav3 a, .sitemap #footerNav7 a, .about #footerNav1 a, .contactUs #footerNav4 a, .notouch #footer ul li a:hover {
    color:#b8dbf2;
}
.mobile #footer .top{
    display:block;
}
@media screen and (min-width: 320px) {
    #footerNav1{
        margin-left: 0px;
    }
    #footerNav5{
        margin-left: 0px;
   }
    /*#footerNav8 {
        margin-right: 100px;
    }*/
}
@media screen and (min-width: 600px) {
    #footer ul {
        width: 385px;        
    }
    #footer ul li a{
        font-size:10px;
    }
}
@media screen and (min-width: 1024px) { 
    #footer ul {
        width: 445px;
    }
    #footer ul li{
        margin-bottom:10px; 
    }
    #footer ul li a{
        font-size:12px;
    }
}