/* Reset All Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}
/*div, form, table {
outline: 1px solid #3A87AD !important;
}
.web-developer-outline-absolute-positioned-elements {
outline: 1px solid #B94A48 !important;
}
    */
.divLitHeaderText {
    color: #23244b;
}

:focus{
	outline: none;
	-moz-outline-style: none;
}
#header, #main, #footer
{
    width: 100%;
}
a:active { outline: 0; }
a:focus { -moz-outline-style: none; }

ol, ul { list-style: none; }

caption, th, td{
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/*End Reset */
body{
    overflow-x:hidden;
    width:100%;
    min-width:320px;
    color:#666;
    -webkit-text-size-adjust: none;
    font:12px arial, sans-serif;
    /* background: url(../images/contentBg.jpg); */
}

#shadow{
   /*  background: url(../images/topShadowBg.png) repeat-x;
    width:100%;
    height:26px;
    left:0px;
    position:absolute;
    z-index:100; */
}

.whatsNew #shadow {
    background: none;
}

.contactUs  #shadow {
    background: none;
}

.ourProducts #shadow {
    background: none;
}

.whereToBuy #shadow {
    background: none;
}

.languageToggle {
        float:left;
        color: #FFFFFF;
        /*left: 240px;
        padding-top: 10px;
        position: absolute;
        top: 10px;*/
        width: 50%;
        z-index: 200;
        font-family:'Archer A';
    }
    
    .languageToggle a { color:#FFF !important}

    .languageToggleLink {
        float:left;
    }

    #LoggedInNav {
        float: right;
        /*padding-right: 50px;
        width: 250px;*/
    }

    #LoggedInNav a {
        padding-left:10px;
        color:#FFF;
    }

/* footer styles - START */
#footer {
    color:#ffffff;
    min-height:100px;
    background-color: #202a51;
     background: url(../images/header/headerBg.gif);
}

.home #footer {
    color:#ffffff;
    min-height:100px;
    background-color: #202a51;
     background: url(../images/header/headerBg.gif);
	 margin-top: 0px;
}/*margin-top: 0px*/

#footer .centeringDiv {
    overflow:hidden;
}

#biore{
    text-indent:-9000px;
    width:66px;
    height:21px;
    margin:0 0 10px 15px;
    background: url(../images/biore.png) no-repeat;
}

#copyright{
    clear:both;
    text-align:center;
    width:100%;
    font-size:9px;
    font-family: ProximaNova-Regular;
}

#footer ul {
    margin: 30px auto;
    width: 415px;
}/*width: 750px;*/

#footer ul li{
    padding:0 2px;
    margin-bottom:10px;
    float:left;
    color:#ffffff;
    border-right: 1px solid white;
    
}

#footer ul li:last-child{
    border-right:none;    
}

#footer ul li a{
    color:#ffffff;
    text-decoration:none;
    padding:5px;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    font-size:14px;
    text-transform:uppercase;
}

.whereToBuy #footerNav3 a,
.sitemap #footerNav7 a,
.about #footerNav1 a,
.contactUs #footerNav4 a,
.notouch #footer ul li a:hover{
    color:#b8dbf2;
}

#footer .top{
    
}

.mobile #footer .top{
    display:block;
}
/* footer styles - END */
/* header styles - START */
#header{
    background: url(../images/header/headerBg.gif);
    height:106px;
} 

.centeringDiv{
    width:100%;
    max-width:1024px;
    margin:0 auto;
}

#header .centeringDiv, 
#footer .centeringDiv{
    position:relative;
    z-index:990;
}

#logo{
    float:left;
}

#topnav{
    position:relative;
    z-index:150;
    top: 12px;
}

#topnav li{
    float:left;
    text-align:center;
    position:relative;
    z-index:1000;
    padding-right: 1.2em;
}

ul li#facebookLike, ul li#instagramLike{
    padding:0 0 0 4px;
    border:none;
}

#topnav li > a{
    font-family: 'Archer A', 'Archer B'; font-weight: 700; font-style: normal;
    text-decoration:none;
    padding:3px;
    text-transform:uppercase;
}

.notouch #topnav li > a:hover{
    color:#b8dbf2;   
}

.notouch #topnav  li#topnavItem1 > a:hover{
    color:#202a51;
}

#topnav li#topnavItem1{
    /*background: url(../images/header/downArrow.png)  130px 10px no-repeat;*/
    /*min-width:156px;*/
    background: url(../images/header/downArrow.png)  105px 10px no-repeat;
    min-width:100px;
    margin-top:-5px;
}

 li#topnavItem1 a{
     padding:6px 17px 32px 0;
    display:block;
} 

.ourProducts li#topnavItem1 a{
    padding:6px 17px 32px 0;
    display:block;
    background: url(../images/header/selectArrow.png) 35px 31px no-repeat;
}

.whatsNew li#topnavItem2 a {
    padding: 0 3px 29px 3px;
    display: block;
    background: url(../images/header/selectArrow.png) 25px 26px no-repeat;
}

.signUp li#topnavItem3 a{
    padding: 0 3px 29px 3px;
    display:block;
    background: url(../images/header/selectArrow.png) 25px 26px no-repeat;
}

.whereToBuy li#topnavItem4 a{
    padding: 0 3px 29px 3px;
    display:block;
    background: url(../images/header/selectArrow.png) 32px 26px no-repeat;
} 

.reviews li#topnavItem5 a{
    padding: 0 3px 29px 3px;
    display:block;
    background: url(../images/header/selectArrow.png) 15px 26px no-repeat;
} 

.notouch li#topnavItem1 a:hover {
   color:#005daa;
}

.subNavHeadlines {
    font-family: 'Archer A', 'Archer B';
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    display:block;
    text-transform:lowercase;
    height:32px;
    width:auto;
    margin: 0px 0px 10px 20px;
    padding: 0px 0px 0px 0px;
    color:#8a8a8a;
    text-align:left;
}

.subNavAcneHead {
    color: #ec5a1e;
}

.greenBold {
    color: #63b632;
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}

.orangeBold {
    color: #ec5a1e;
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}

.redBold {
    color: #e92e5f;
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}

.redSubHead {
    color: #e92e5f;
}

.tealBold {
	color: #6ec8e4;
font-family: 'Archer A','Archer B';
font-weight: 800;
font-style: normal;
}

#proveItNav{
   background: url(../images/header/biore-buzzing-bloggers.png) no-repeat;
   width:75px;
   height:44px;
   float:right;
   margin: 9px 59px 0px 0px;
}

#proveItNav a{
    display:block;
    width:100%;
    text-indent:-9000px;
    height:100%;
}

#header .likeBtn{
    min-width:100px;
    min-height:30px;
}

#ourProductsBlock{
    background:#fff;
    width:665px;
    padding-top:10px;
    position:absolute;
    margin-top:22px;
    z-index:1000;
    top:10px;
    left:-9000px;
    opacity:0;
    border-left: solid 13px #202a51;
    border-right: solid 13px #202a51;
    border-bottom: solid 13px #202a51;
    margin-left: -13px;
}

#ourProductsBg{
    /*-moz-box-shadow: 0 11px 12px 0px #9bb5d5;
    -webkit-box-shadow: 0 11px 12px 0px #9bb5d5;
    box-shadow: 0 11px 12px 0px #9bb5d5; */
    position:absolute;
    height:100%;
    background:#fff;
    width:100%;
    top:0;
    left:0;
}



#ourProductsBlock.open{
    left:0;
}

#ourProductsBlock.show{
    opacity:1 !important;
    filter: alpha(opacity=100) !important;    
}

/*#ourProductsBlock h2{
    text-transform:uppercase;
    color:#fff;
    width:170px;
    padding:8px 5px;
    background:#005daa;
    margin:10px 0 13px 10px;
} */

#ourProductsBlock img{
    margin-top:-20px;
}

#complexionClearingSubnav h2{background:#f58025;}
#makeupRemovingSubnav h2{background:#ad208e;}

#makeupRemovingSubnav{
    margin-top:45px;
}

#ourProductsBlock .col{
    float:left;
    padding:10px 0px 20px 15px;
}

#ourProductsBlock ul{
    margin:-5px 0 0; 
    padding:0; 
    overflow:hidden;
}

#topnav #ourProductsBlock li{
    padding:0;
    margin:0;
    padding:3px 0px;
    border:none;
    float:none;
    text-align:left;
}

#topnav #ourProductsBlock li a{
    padding:3px 8px 4px;
    font-size:13px;
    display:block;
    color:#202a51;
    background:#fff;
    font-family: ProximaNova-Regular;
    line-height:14px;
    letter-spacing:0px;
    font-weight:normal;
    margin-left:15px;
	text-transform: none;
}

.notouch #topnav #ourProductsBlock li.orangeHover a:hover{
    color:#ec5a1e;    
}

.notouch #topnav #ourProductsBlock li.greenHover a:hover{
    color:#63b632;    
}

.notouch #topnav #ourProductsBlock li.redHover a:hover{
    color:#e92e5f;    
}
.notouch #topnav #ourProductsBlock li.tealHover a:hover{
    color:#6ec8e4;    
}
#topnav #ourProductsBlock li a .new{
    color:#ed008a;
}

#ourProductsBlock #discontinued{
    height:51px;
    position:relative;
    clear:both;
    padding-top:12px;
    overflow:hidden;
}

#ourProductsBlock #discontinued a{
    color:#1a4d8d;
    text-decoration:none;
    font-size:13px;
    position:relative;
    background: #fbc093;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fbc093), to(#f58126));
    background: -webkit-linear-gradient(#fbc093, #f58126);
    background: -moz-linear-gradient(#fbc093, #f58126);
    background: -ms-linear-gradient(#fbc093, #f58126);
    background: -o-linear-gradient(#fbc093, #f58126);
    background: linear-gradient(#fbc093, #f58126);
    -pie-background: linear-gradient(#fbc093, #f58126);
    padding: 17px 0px;
    display:block;
    height:17px;
}

#ourProductsBlock #discontinued .wrapper{
    position:relative;
    width:500px;
    display:block;
    margin:0 auto;
}



#ourProductsBlock #discontinued img{
    margin:0;
    top:-31px;
    position:absolute;
}

.oldProds{left:-1%;}
.newProds{right:-2%;}

/* header styles - END */


/*  Mobile Portrait 320x480 */
@media all and (max-width:479px){

    #proveItNav 
    {
        display:none;
    }
    .divLitHeaderText {
        color: #23244B;
        font-size: 41px;
    }
     .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1765px;
    }

   .ourProducts li#topnavItem1 a{
        padding:0px 8px 0px 0px;
        display:block;
        background-image: none;
    }
   
    .whatsNew li#topnavItem2 a{
        /*padding:0px 0px 0px 8px;*/
        padding:0;
        display:block;
        background-image: none;
    }

    .signUp li#topnavItem3 a{
        /*padding:0px 0px 0px 8px;*/
        padding:0;
        display:block;
        background-image: none;
    }

    .whereToBuy li#topnavItem4 a{
        /*padding:0px 0px 0px 8px;*/
        padding:;
        display:block;
        background-image: none;
    }

    .reviews li#topnavItem5 a {
        padding:0;
    }

    #topnav {
        min-width: 320px;
        text-align:center;
    }

    #topnav li > a {
        font-family: 'Archer A', 'Archer B', serif;
        font-weight: 400;
        font-style: normal;
		text-transform: uppercase;
    }

    ul#topnav{
       /* margin: -6px auto 0;  */
    }
    
    ul#topnav li{
       /*padding:22px 0px;*/
       display:inline-block;
       float:none;
    }
    
    #topnav li#topnavItem1{
        float:none;
       /* margin: 5px 0px 0px 5px;
        padding: 0px 2px 0px;*/
        text-align: center;
        background-image:none;
    }

    li#topnavItem1 a {
         float: none;
        margin: 0 0 0 3px;
        padding: 3px;
        position: relative;
    }

    .notouch #topnav  li#topnavItem1 > a:hover{
        color:#b8dbf2;
      }

    li#topnavItem4 a {
     border-right:none;    
    }

    #facebookLike, #twitterLike {
        display: none !important;
    }
    
    ul li#facebookLike, ul li#twitterLike{padding-top:0;}
    ul li#topnavItem2{padding-left:2px;}

    /*li#topnavItem1{width:20%;} 
    li#topnavItem2{width:20%}    
    li#topnavItem3{width:25%;}
    li#topnavItem4{width:20%;}  */  
    /*li#facebookLike{width:10%;} */

    .languageToggle {
        /*left: 150px;*/
    }

    .languageToggleLink {
        padding-top:10px;
    }
    
     #LoggedInNav {
            float: left;
            padding: 5px 0;
            width: 100%;
     }

    #footer ul li a {
        text-align: center;
        font-size: 9px;
    }

    #footer ul {
        margin-left: 2%;
        /* min-width:850px; */
    }
    #footer .centeringDiv
    {
        overflow: hidden;
        
    }
    #proveItNav{
        float: right;
        margin-right: 5px;
        position: absolute;
        right: 7px;
        top: 24px;
        width: 117px;
        height: 80px;
        z-index: 200;
        margin: 0;  
    }
    #logo {
        height: 56px;
        width: 107px;
        float: left;
        padding-left:10px;
    }
    #logo img {
        float: left;
        /*margin-left: 22px;*/
        width: 100%;
    }
    #topnav {
        top: -7px;
    }
}
/*  Mobile Portrait 320x480 END */
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px){
    
    #proveItNav 
    {
        display:none;
    }
    
     .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1565px;
    }

   .ourProducts li#topnavItem1 a{
        padding:0px 8px 0px 0px;
        display:block;
        background-image: none;
    }
   
    .whatsNew li#topnavItem2 a{
        padding:0px 0px 0px 8px;
        display:block;
        background-image: none;
    }

    .signUp li#topnavItem3 a{
        padding:0px 0px 0px 8px;
        display:block;
        background-image: none;
    }

    .whereToBuy li#topnavItem4 a{
        padding:0px 0px 0px 8px;
        display:block;
        background-image: none;
    }

    #topnav {
        min-width: 320px;
    }

    #topnav li > a {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
    }

    ul#topnav{
        margin: -6px auto 0;   
    }
    
    ul#topnav li{
       padding:22px 0px;
    }
    
    #topnav li#topnavItem1{
        float:none;
        margin: 5px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border:none;
        padding-left:0;
        padding-right:0;
        text-align: center;
        background-image:none;
    }

    li#topnavItem1 a {
         margin: 22px 0px 0px 35px;
         padding: 0px 8px 0px 0px;
         float:left;
    }

    .notouch #topnav  li#topnavItem1 > a:hover{
        color:#b8dbf2;
      }

    li#topnavItem4 a {
     border-right:none;    
    }

    #facebookLike, #twitterLike {
        display: none;
    }
    
    ul li#facebookLike, ul li#twitterLike{padding-top:0;}
    ul li#topnavItem2{padding-left:2px;}

    /*li#topnavItem1{width:20%;} 
    li#topnavItem2{width:125px;}    
    li#topnavItem3{width:20%;}
    li#topnavItem4{width:25%;}*/    
    /*li#facebookLike{width:10%;} */

    .languageToggle {
        /*left: 150px;*/
        padding: 10px 0 0 40px;

    }

     #LoggedInNav {
            float: right;
            padding: 0;
            width: 180px;
     }


    #footer ul li a {
        text-align: center;
        font-size: 10px; 
    }

    #footer ul {
        margin-left: 16%;
        /* min-width:850px; */
    }

    #proveItNav{
        float: right;
        margin-right: 5px;
        position: absolute;
        right: 7px;
        top: 24px;
        width: 117px;
        height: 69px;
        z-index: 200;
        margin: 0;  
    }
    #logo {
        height: 56px;
        width: 107px;
        float: left;
    }
    #logo img {
        float: left;
        margin-left: 22px;
        width: 100%;
    }
    #topnav {
        top: 0px;
    }
}
/*  Mobile Landscape 480x320 - END */
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - START */
@media all and (min-width:600px) and (max-width:767px){ 

     .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1565px;
    }

   .ourProducts li#topnavItem1 a{
        padding:0px 8px 0px 0px;
        display:block;
        background-image: none;
    }
   
    .whatsNew li#topnavItem2 a{
        padding:0px 0px 0px 8px;
        display:block;
        background-image: none;
    }

    .signUp li#topnavItem3 a{
        padding:0px 0px 0px 8px;
        display:block;
        background-image: none;
    }

    .whereToBuy li#topnavItem4 a{
        padding:0px 0px 0px 8px;
        display:block;
        background-image: none;
    }

    #topnav {
        min-width: 320px;
    }

    #topnav li > a {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
    }

    ul#topnav{
        margin: -6px auto 0;   
    }
    
    ul#topnav li{
       padding:22px 0px;
    }
    
    #topnav li#topnavItem1{
        float:none;
        margin: 5px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border:none;
        padding-left:0;
        padding-right:0;
        text-align: center;
        background-image:none;
    }

    li#topnavItem1 a {
         margin: 22px 0px 0px 35px;
         padding: 0px 8px 0px 0px;
         float:left;
    }

    .notouch #topnav  li#topnavItem1 > a:hover{
        color:#b8dbf2;
      }

    li#topnavItem4 a {
     border-right:none;    
    }

    #facebookLike, #twitterLike {
        display: none;
    }
    
    ul li#facebookLike, ul li#twitterLike{padding-top:0;}
    ul li#topnavItem2{padding-left:2px;}

    /*li#topnavItem1{width:20%;} 
    li#topnavItem2{width:125px;}    
    li#topnavItem3{width:20%;}
    li#topnavItem4{width:25%;} */
       
    /*li#facebookLike{width:10%;} */

    .languageToggle {
        padding: 10px 0 0 40px;
    }

    #footer ul li a {
        text-align: center;
        /* font-size: 10px; */
    }

    #footer ul {
        margin-left: 7%;
        /* min-width:850px; */
    }
    #proveItNav{
        float: right;
        margin-right: 5px;
        position: absolute;
        right: 7px;
        top: 24px;
        width: 117px;
        height: 69px;
        z-index: 200;
        margin: 0;  
    }
    #logo {
        height: 56px;
        width: 107px;
        float: left;
    }
    #logo img {
        float: left;
        margin-left: 22px;
        width: 100%;
    }
    #topnav {
        top: 0px;
    }
    

}
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - END */
/*  Tablet Portrait 768x1024 - START */
@media all and (min-width:768px) and (max-width:1023px) {
    #logo{
        height:94px;
        width:180px;
        margin:-53px 10px 0 15px;
    }
    
    div#logo img{
        width:100%;
    }
    
    #mainContent{
      /*  min-height:450px;  */
       min-height:911px;
    }
       
    #proveItNav{
        background: url(../images/header/biore-buzzing-bloggers.png) no-repeat;
        float: right;
        margin-right: 5px;
        position: absolute;
        right: 7px;
        top: 24px;
        width: 117px;
        height: 69px;
        z-index: 200;
        margin: 0;
    }
    
    #logoAndNav{
        max-width:990px;
        float:left;
        /*margin:0;
        margin-top:-4px; */
        width:100%;
        margin:53px 0px -30px 0px;
    }

    #LoggedInNav {
        padding-right:100px;
    }

    #logoAndLike{
        float:left;
        width:225px;
        position:relative;
    }
    
    #header .likeBtn{
        position:absolute;
        top: 30px;
        left:225px;
    }

    .home #topnav{
        margin:0px 2% 0px 0px;    
        float:left;
        min-width:500px;
        width:63%;
    }

    #topnav{
        margin:0px 2% 0px 0px;    
        float:left;
        min-width:505px;
        width:63%;
    }
    
    #topnav li{
        margin-right:-1px;
    }

    #topnav li#topnavItem1{
        background: url(../images/header/downArrow.png)  115px 10px no-repeat;
        min-width:140px;
    }

    #topnav li#topnavItem1:hover {
       background-color:white;
       background-position: 105px -2px;
    }

    .ourProducts li#topnavItem1 a{
    padding:6px 17px 32px 0;
    display:block;
    background: url(../images/header/selectArrow.png) 23px 31px no-repeat;
}

    /*li#topnavItem1{width:20%;}    
    li#topnavItem2{width:100px;}    
    li#topnavItem3{width:90px;}
    li#topnavItem4{width:23%;}  */  
    li#facebookLike, li#twitterLike{display:none;}
    
    #topnav li a{
        font-size:12px;
    }
    #topnav li#topnavItem1{
        padding-bottom:20px;
    }

    .languageToggle { 
        left: 210px;
        position: absolute;
        top: -35px;
        width: 580px;
    }

    #ourProductsBlock{
        margin-top:36px;
    }
    #footer ul {
        margin-left: 18%;
    }
}
/*  Tablet Portrait 768x1024 - END */
/* Tablet Landscape 1024x768 &&  Desktop 1200x1024 */
@media all and (min-width:1024px) {
    #proveItNav{
        background: url(../images/header/biore-buzzing-bloggers.png) no-repeat;
        float: right;
        margin-right: 5px;
        position: absolute;
        right: 7px;
        top: 24px;
        width: 117px;
        height: 69px;
        z-index: 200;
        margin: 0;
    }
    
    #proveItNav a{
        width:150px;
        height:130px;
        position:absolute;
        top:0;
        left:0;
    }
    
    #logoAndNav {
        max-width: 990px;
        float: left;
        width: 100%;
        margin: 53px 0px -30px 0px;
    }
    #logoAndLike {
        float: left;
        width: 225px;
        position: relative;
    }
    #logo {
        height: 94px;
        width: 180px;
        margin: -53px 10px 0 15px;
    }
    .home #topnav {
        margin: 0px 2% 0px 0px;
        float: left;
        min-width: 525px;
        width: 70%;
    }
    #topnav li#topnavItem1 {
        padding:0 20px 0 5px;
    }

    #topnav li#topnavItem1:hover {
       background-color:white;
       background-position: 105px -2px;
    }

    #topnav li a {
     /*font-size: 14px;*/
     font-size: 1.05em;
    }

    .languageToggle { 
        left: 210px;
        position: absolute;
        top: -35px;
        width: 580px;
    }

    #ourProductsBlock
    {
        top: 24px;
    }
    /*li#topnavItem2 {
width: 130px;
}*/

   /* li#topnavItem3 {
    width: 115px;
}*/

}

/* global things */
/* http://www.fontsquirrel.com/fonts/news-cycle */
 @font-face {
    font-family: 'NewsCycleRegular';
    src: url('font/newscycle-webfont.eot');
    src: url('font/newscycle-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/newscycle-webfont.woff') format('woff'),
         url('font/newscycle-webfont.ttf') format('truetype'),
         url('font/newscycle-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clear{
    font-size:1px;
    clear:both;
    width:100%;
    height:1px;
    line-height:1px;
}


h1 sup, h2 sup {
    font-size: 0.4em;
    vertical-align: top;
    text-transform:uppercase;
    margin-left:2px;
    line-height: 0px;

}
.subNavHeadlines sup
{
    font-size: 0.5em;
        line-height: 19px;

}

a {
    color: #22244a;
    text-decoration: none;
}

.notouch a:hover {
    font-weight: bold;
} 

.notouch a:hover {
    color:none;
}

.roundedCorners{
    font-size:13px;
    font-weight:normal;
    position:relative;
    color:#fff;
}

.circle{
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    height:16px;
    width:16px; 
    position:relative;
    display:block; 
}

.circleNewOld {
    height:20px;
    width:19px; 
    position:relative;
    display:block; 
    background: url(../images/ourProducts/productDetail/circleNewOld.png) no-repeat;
}

.circleLeft {
    height:20px;
    width:19px; 
    position:relative;
    display:block; 
    background: url(../images/ourProducts/productDetail/circleNewOldComplexion.png) no-repeat;
}

.circleRight {
    height:20px;
    width:19px; 
    position:relative;
    display:block; 
    background: url(../images/ourProducts/productDetail/circleNewOld.png) no-repeat;
}

.promoButton a{
    color: #22244A;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 28px;
    line-height: 14px;
    margin: 10px 10px 5px 0;
    padding: 14px 0 0 15px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    background: url("../images/ourProducts/productDetail/complexionClearingBuyNowBtn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.notouch .promoButton a:hover{
    background-position:bottom left;
    /* color:#fff; */
}

a span.arrow{
    font-size:18px;
}

#mainContent .new{
}

#mainContent h1{
    margin-bottom:13px;
    text-transform:uppercase;
}

#mainContent .centeringDiv{
    position:relative;
}


/* discontinued product teaser */
#productChanges{
    width:235px;
    position:relative;
}

#productChanges h3{
    color:#005daa;
    line-height:30px;
    font-weight:normal;
    font-size:18px;
    margin-top:-10px;
}

#productChanges p{
    line-height:16px;
}

.teaser a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:block;
    height:100%;
}

/* this is for teasers in which the entire teaser is clickable ONLY
.ie7 .teaser a,
.ie8 .teaser a{
    background: url(../images/blank.gif);
}
*/

.notouch #productChanges:hover p{
    color:#5091CD;
}

.no-flash{
    text-align:center;
    padding:30px;
}

.navBlue {
    color: #202a51;
}

.whiteTopNav {
   color: #ffffff !important;
}

