/* Reset All Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}
#responseRule {
    background: url(../images/ourProducts/productsResponseRule.jpg);
    width: 852px;
    height: 2px;
    margin: 5px auto 45px auto;
}

.centeringDiv{
    max-width:950px;
    margin:0 auto;
}
.charcoalLanding .centeringDiv{
    max-width:1024px;
}

.divLitHeaderText {
    color: #23244b;
}

:focus{
	outline: none;
	-moz-outline-style: none;
}
#main{
    width: 100%;
}

a:active { outline: 0; }
a:focus { -moz-outline-style: none; }

ol, ul { list-style: none; }

caption, th, td{
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/*End Reset */
body{
    overflow-x:hidden;
    width:100%;
    min-width:320px;
    color:#666;
    -webkit-text-size-adjust: none;
    font:12px arial, sans-serif;
    /* background: url(../images/contentBg.jpg); */
}

img {
    border: none;
}

#shadow{
   /*  background: url(../images/topShadowBg.png) repeat-x;
    width:100%;
    height:26px;
    left:0px;
    position:absolute;
    z-index:100; */
}

.whatsNew #shadow {
    background: none;
}

.contactUs  #shadow {
    background: none;
}

.ourProducts #shadow {
    background: none;
}

.whereToBuy #shadow {
    background: none;
}
#burgerShot
{
    display: none;
}

/*  Mobile Portrait 320x480 */
@media all and (max-width:479px){
   .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1705px;
    }

    .cookie-class .mfp-content {
        height: 600px !important;
    }


}
/*  Mobile Portrait 320x480 END */
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px){    
    .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1705px;
    }
    .cookie-class .mfp-content {
        height: 600px !important;
    }
}
/*  Mobile Landscape 480x320 - END */
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - START */
@media all and (min-width:600px) and (max-width:767px){
  
   .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1705px;
    }   
}
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - END */
/*  Tablet Portrait 768x1024 - START */
@media all and (min-width:768px) and (max-width:1023px) {
   .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1565px;
    }
    
}
/*  Tablet Portrait 768x1024 - END */

/* global things */
/* http://www.fontsquirrel.com/fonts/news-cycle */
 @font-face {
    font-family: 'NewsCycleRegular';
    src: url('font/newscycle-webfont.eot');
    src: url('font/newscycle-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/newscycle-webfont.woff') format('woff'),
         url('font/newscycle-webfont.ttf') format('truetype'),
         url('font/newscycle-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clear{
    width:100%;
    clear:both;
}


h1 sup, h2 sup {
    font-size: 0.4em;
    vertical-align: middle;
    text-transform:uppercase;
    margin-left:2px;
    line-height: 0px;
    position: relative;
    top: -7px;

}

@media screen and (min-width:768px) {       
    h1 sup, h2 sup {
        top: -20px;

    }
}
.subNavHeadlines sup
{
    font-size: 0.5em;
    /*line-height: 19px;*/
    top: -7px;

}

a {
    color: #22244a;
    text-decoration: none;
}

.notouch a:hover {
    font-weight: bold;
} 

.notouch a:hover {
    color:none;
}

.roundedCorners{
    font-size:13px;
    font-weight:normal;
    position:relative;
    color:#fff;
}

.circle{
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    height:16px;
    width:16px; 
    position:relative;
    display:block; 
}

.circleNewOld {
    height:20px;
    width:19px; 
    position:relative;
    display:block; 
    background: url(../images/ourProducts/productDetail/circleNewOld.png) no-repeat;
}

.circleLeft {
    height:20px;
    width:19px; 
    position:relative;
    display:block; 
    background: url(../images/ourProducts/productDetail/circleNewOldComplexion.png) no-repeat;
}

.circleRight {
    height:20px;
    width:19px; 
    position:relative;
    display:block; 
    background: url(../images/ourProducts/productDetail/circleNewOld.png) no-repeat;
}

.promoButton a{
    color: #22244A;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 28px;
    line-height: 14px;
    margin: 10px 10px 5px 0;
    padding: 14px 0 0 15px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    background: url("../images/ourProducts/productDetail/complexionClearingBuyNowBtn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.notouch .promoButton a:hover{
    background-position:bottom left;
    /* color:#fff; */
}

a span.arrow{
    font-size:18px;
}

#mainContent .new{
}

#mainContent h1{
    margin-bottom:13px;
    text-transform:uppercase;
}

#mainContent .centeringDiv{
    position:relative;
}


/* discontinued product teaser */
#productChanges{
    width:235px;
    position:relative;
}

#productChanges h3{
    color:#005daa;
    line-height:30px;
    font-weight:normal;
    font-size:18px;
    margin-top:-10px;
}

#productChanges p{
    line-height:16px;
}

.teaser a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:block;
    height:100%;
}

/* this is for teasers in which the entire teaser is clickable ONLY
.ie7 .teaser a,
.ie8 .teaser a{
    background: url(../images/blank.gif);
}
*/

.notouch #productChanges:hover p{
    color:#5091CD;
}

.no-flash{
    text-align:center;
    padding:30px;
}

.navBlue {
    color: #202a51;
}

.whiteTopNav {
   color: #ffffff;
}

/* BUY NOW */

#BuyNow h1 { color:#523A4F; font-size:16px; text-transform:uppercase; margin-top:0px; }
		
a.buyNow {
        background-color: white;
        text-decoration: none;
        text-transform: uppercase;
        color: #6D6F73;
        font-size: 14px;
        font-weight: bold;
        border-width: 0;
        padding-right: 18px;
        margin-left: 0px;
        background: white url(/images/products/grayArrow.gif) center right no-repeat;
		}

/* CHANNEL INTELLIGENCE WHERE TO BUY */

#boxcontainer-buynow { width:100%;background-color:#FFF;
}
#ci-product-description{float: left;
    padding: 20px 0;
    width: 300px}
.ci-results-placeholder{float:left;background:transparent none no-repeat top left;margin-top:10px;margin-bottom:20px;padding:0 0 0 20px}
.ci-results{width:100%;height:520px;overflow:auto;margin:10px auto;overflow-x:hidden;padding:0px 5px;}
#ci-retailers{margin-left:30px}
/*#ci-product-image{margin:10px auto 45px auto;width:220px;height:220px}*/
#ci-product-image{margin:10px auto 15px auto;width:auto;height:auto;text-align:center}
    #ci-product-image img {
        width:100%;
    }
#ci-store-locator{width:300px;padding-top:10px;}
#ci-globe{float:left;width:62px;height:65px;padding-right:10px}
#ci-zip-txt-container{width:85%;}
    #ci-zip-txt-container h3 {
        margin-bottom:5px;font-size:1em;
    }
    #ci-zip-txt-container #zip-txt {
        margin:2px 2px 5px 0px;font-size:0.9em;
    }
#zipText {float:left;width:100px;margin-top:5px}
#zipButton{float:left;background:transparent url(/en-US/images/buynow/btn-submit-sm.gif) no-repeat top left;width:77px;height:26px}
.zipButton {background-color:transparent;border:0 none;width:77px;color:#FFF;font-weight:bold;cursor:pointer;font-size:12px;padding-top:5px}
.ciText{width:90px;color:#999;font-size:10px;font-weight:bold;}
.ci-retailer{float:left;width:175px;height:85px;margin:5px;}
.clearFloat {
    clear: both;
}
.ci-view-online-retailers {
    color:#7d58a5;
    font-size: .9em;
    display:block;
    padding-top:5px;
}

.ci-prod-desc-mobile {float:none;clear:both;margin-left:auto;margin-right:auto;}
.ci-results-mobile {float:none;clear:both;display:block;width:100%;padding:0; height:80%;}
.ci-results-desktop {width:570px;height:540px;}


.adsense-container {
    padding-bottom: 50px;
}

/* COOKIE POP-UP */

.cookie-class .mfp-content {
    max-width: 620px !important;
}

.cdp-cookies-alerta.cdp-cookies-tema-blanco {
    background-color: #2c2b30;
    border-bottom: 1px solid #2c2b30;
    border-top: 1px solid #2c2b30;
}
.cdp-cookies-layout-ventana.cdp-cookies-pos-inferior {
    bottom: 0;
    display: none;
    position: fixed;
}
.cdp-cookies-alerta {
    background-color: #2c2b30;
    color: #FFF;
    width: 100%;
    z-index: 10000;
}

.cdp-cookies-alerta .cdp-cookies-texto {
    margin: 0 auto;
    max-width: 960px;
    padding: 5px 10px;
}

.cdp-cookies-alerta .cdp-cookies-texto h4 {
    color: #FFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    margin: 0;
    padding: 0 0 5px;
    text-align: center;
    text-rendering: optimizelegibility;
}

.cdp-cookies-alerta .cdp-cookies-texto p {
    color: #FFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: 11px;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    text-rendering: optimizelegibility;
}

.cdp-cookies-alerta .cdp-cookies-texto p a 
{
    color:#FFF;
}

.cdp-cookies-alerta .cdp-cookies-boton-cerrar {
    background-color: #FFF;
    border: medium none;
    border-radius: 5px;
    color: #000 !important;
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin: 5px auto;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
    width: 75px;
}