/* Icon font for arrow icons */

  @font-face {
  font-family: 'icomoon';
  src:  url('/css/font/icomoon.eot?2qt4d6');
  src:  url('/css/font/icomoon.eot?2qt4d6#iefix') format('embedded-opentype'),
    url('/css/font/icomoon.ttf?2qt4d6') format('truetype'),
    url('/css/font/icomoon.woff?2qt4d6') format('woff'),
    url('/css/font/icomoon.svg?2qt4d6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  /* Iconfont by Icomoon http://icomoon.io/ */
  /* https://icomoon.io/app/#/select/font */
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest:before {
  content: "\ead1";
}


/* Accordion style */
h3.cbp-nttrigger {
    color: #666;
}

h4.cbp-nttrigger {
    color: #333;
}

.cbp-ntaccordion {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cbp-ntsubaccordion {
	list-style: none;
}

.cbp-ntaccordion .cbp-nttrigger {
	cursor: pointer;
} 

.cbp-ntaccordion h3 {
	margin: 0 0 0.3em;
	padding: 1em 0 0.5em;
	border-bottom: 1px solid #ddd;
	font-size: 2.3em;
	font-weight: 300;
}

.cbp-ntaccordion h4 {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 0.5em 0 0.5em;
	margin: 0 0 0.5em;
}

.cbp-ntaccordion h5 {
   color: #444;
    font-size: 1.25em;
    margin: 0 0 0.5em 20px;
    padding: 0.5em 0 0;
}

.cbp-ntaccordion .cbp-ntcontent p {
	color: #666;
    opacity: 0.9;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.5;
	padding: 0.2em 0 1.5em;
	margin: 0;
}

.cbp-ntcontent li {
    margin: 0 !important;
}
/* Arrow icons */
.cbp-ntaccordion > li > .cbp-nttrigger:before,
.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #ddd;
	margin-right: 0.5em;
	-webkit-font-smoothing: antialiased;
}

.cbp-ntaccordion > li > .cbp-nttrigger:before {
	font-size: 75%;
}

.cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\ea0a"; /*"\ea3c";*/
    color: #64b632;
}
.cbp-ntaccordion > li > .cbp-nttrigger:hover:before {
	content: "\ea0a";
	color: inherit;
}

.cbp-ntaccordion > li.cbp-ntopen {
    position:relative;
}

.cbp-ntaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\ea0b";
	color: #64b632;
}

.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\ea0a";
    color: #f35959;
}
.cbp-ntsubaccordion > li > .cbp-nttrigger:hover:before {
	content: "\ea0a";
	color: inherit;
}
.cbp-ntsubaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\ea0b";
	color: inherit;
}

/* Initial height is zero */
.cbp-ntaccordion .cbp-ntcontent {
	height: 0;
	overflow: hidden;
}

/* When open, set height to auto */
.cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
.cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
.no-js .cbp-ntaccordion .cbp-ntcontent {
	height: auto;
}



/* Example for media query */
@media screen and (max-width: 32em) { 

	.cbp-ntaccordion {
		font-size: 70%;
	}

        .cbp-ntaccordion h3 {
            font-size: 1.8em;
        }

        .cbp-ntsubaccordion {
            padding-left: 1.2em;
        }

}