﻿#mainContent .centeringDiv{
    padding-left:15px;
    max-width:975px;
    /* overflow:hidden; */
}

.whereToBuy #mainContent{
    background: url(../images/whereToBuy/whereToBuyBg.jpg) no-repeat top center;
}

#productShot{
    width:42.65%;
    float:right;
    padding-top:70px;
}

#productShot img{
    width:100%;
}

#logoHolder{
    float:left;
    width:57.3%;
}

.logos{    
    padding:10px 0;
}

.logos ul{    
    width:100%;
    overflow:hidden;
    margin-left:-2%;
    padding-top:7px;
    position:relative;
}

.logos p{
    padding-bottom:15px;
}

#onlineLogos{
    background: url(../images/whatsNew/longHorizontalDivider.png) no-repeat;
    padding-top:25px;
}

#onlineLogos li{
    min-height:50px;
}

.logos li{
    float:left;
    text-align:center;
    padding:11px 2%;
}

.logos li a{
    display:block;
    text-indent:-9000px;
}

.logos li div a{margin:0 auto;}

.notouch .logos li a:hover{background-position: bottom left;}

/* logos */
div.walgreens{
    padding:3px 0 22px;
}

.walmart a{
    background: url(../images/whereToBuy/walmart.png) no-repeat top center;    
    width:178px;
    height:54px;
}

.kmart a{
    background: url(../images/whereToBuy/kmart.png) no-repeat top center;    
    width:66px;
    height:66px;
}

.harmon a{
    background: url(../images/whereToBuy/harmon.png) no-repeat top center;    
    width:173px;
    height:48px;
}

.riteaid a{
    background: url(../images/whereToBuy/riteaid.png) no-repeat top center;    
    width:79px;
    height:69px;
}

.walgreens a{
    background: url(../images/whereToBuy/walgreens.png) no-repeat top center;    
    width:176px;
    height:40px;
}

.cvs a{
    background: url(../images/whereToBuy/cvs.png) no-repeat top center;    
    width:209px;
    height:28px;
}

.target a{
    background: url(../images/whereToBuy/target.png) no-repeat top center;    
    width:67px;
    height:94px;
}

.ulta a{
    background: url(../images/whereToBuy/ulta.png) no-repeat top center;    
    width:101px;
    height:43px;
}

.duanereade a{
    background: url(../images/whereToBuy/duanereade.png) no-repeat top center;    
    width:156px;
    height:40px;
}

.drugstore a{
    background: url(../images/whereToBuy/drugstore.png) no-repeat top center;    
    width:156px;
    height:34px;
}

/* smallest size */
@media all and (max-width:624px){  
    #mainContent .centeringDiv {
        padding-left:25px;
        padding-right:25px;
    }
    
    #mainContent h1{
        padding-top:23px;
        font-size:42px;
        line-height:42px;
    }
    
    #logoHolder{width:100%;}
    
    #productShot{display:none;}
        
    .logos p{font-size:15px;}
    
    .logos ul{margin:0;}
    
    .logos li{
        float:none;
        padding:6px 2% 22px
    }
    
    .logos li a{
        margin:0 auto;
    }
}
 /* shared medium and full size */
@media all and (min-width:625px){
    #storeLogos li.harmon{padding-bottom:42px;}
    #onlineLogos li.harmon{padding-bottom:40px;}

    li.harmon{
        padding-left:5%;
    }

    li.ulta{
        padding-left:5%;
        padding-right:4%;
        padding-bottom:14px;
        margin-top:-3px;
    }

    li.walmart{
        padding-right:4%; 
        padding-bottom:33px;
    }
    
    .float{width:209px;}

    li.target{
        margin-top:-18px;
    }

    li.riteaid{
        padding-bottom:21px;
    }

    #storeLogos li.riteaid,
    li.kmart{
        padding-left:6%;
        padding-right:6%;
    }

    #onlineLogos li.riteaid{
        padding-left:5%;
        padding-right:5%;
    }    
}

/* medium size */
@media all and (min-width:625px) and (max-width:809px){  
    #mainContent h1{
        padding-top:34px;
        font-size:51px;
        line-height:51px;
    }
    
    .logos p{
        font-size:17px;
    }
}

/* full size */
@media all and (min-width:810px){ 
    #mainContent h1{
        width:893px;
        height:56px;
        background: url(../images/whereToBuy/wtbHeaderRule.png) no-repeat 0px 53px;
        text-align:center;
        font-size:80px;
        display:inline-block;
        color:#304065;
    }
    
    .logos p{
        font-size:18px;
    }
}




/*NEW 031513*/
#logoHolder {width:95%; background-color:#FFF; padding:15px; margin-right:5%;}

#logoHolder #col1, 
#logoHolder #col2 {
	float: left;
	width: 458px;
	background: #fff;
	min-height: 425px;
}
#logoHolder .innercol {
	float: left;
	border: 1px solid #dedfe0;
}
#logoHolder #col1 .innercol {
	border-width: 1px 0 2px 2px; 
}
#logoHolder #col2 .innercol {	
	border-width: 1px 2px 2px 0;
}
* html #logoHolder #col1 {
	height: 445px;
	width: 458px;
} 
* html #logoHolder #col2 {
	height: 445px;
	width: 457px;
}
#logoHolder h1 {
	margin-top: 10px;
	width: 459px;
	color: #fff;
	background:none repeat scroll 0 0 #AFA3A5;
	font-size:24px;
	line-height:65px;
	text-align:center;
	text-transform:uppercase;
	border: 2px solid #dedfe0;
}
* html #logoHolder h1 {
	width: 458px;	
}
* html #logoHolder #col1 h1 {
	width: 458px;	
}
#logoHolder h1#retail {
	border-width: 2px 0 0 2px;
}
#logoHolder h1#online {
	border-width: 2px 2px 0 0;	
}
#logoHolder ul {
	float:left;
	padding:0 20px;	
	margin:20px 0;
	width: 418px;
	min-height: 425px;
}
*+html #logoHolder .innercol {
	padding-bottom: 20px;	
}
#logoHolder #col1 ul {
	width: 419px;
}
* html #logoHolder ul {
	width: 417px;
	height: 405px;
}
* html #logoHolder #col1 ul {
	width: 418px;
}
#logoHolder #col2 ul {
	border: 1px solid #dedfe0;
	border-width: 0 0 0 1px;
}
* html #logoHolder #col2 ul {
	margin-right: -1px;
}
#logoHolder ul li {
	float: left;	
	width: auto;
}
#logoHolder ul li a {
	display: block;
	width: 209px;
	height: 100px;
	text-indent: -9999px;
}
#logoHolder ul li a:hover {
	background-position: top right !important;
}

.bubbleInfo {
    position: relative;
    width: 500px;
    padding: 0px 10px 0px 0px;
}
     
/* Bubble pop-up */

.popup {
    position: absolute;
    display: none;
    z-index: 50;
    border-collapse: collapse;
	width:157px;
}

.popup div.corner {
    height: 15px;
    width: 19px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
	background-color: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
}
.popup div.top-bottom {
    height: 15px;
    width: 119px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
	background-color: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"
}
.popup div.sides {
    height: 50px;
    width: 19px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
	background-color: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"
}

.popup div#topleft { background-image: url(/images/wheretobuy/popup/bubble-1.png); float:left;}
.popup div#top { background-image: url(/images/wheretobuy/popup/bubble-2.png); float:left;
	}
.popup div#topright { background-image: url(/images/wheretobuy/popup/bubble-3.png); float:right; }
.popup div#left { background-image: url(/images/wheretobuy/popup/bubble-4.png); float:left; }
.popup div#right { background-image: url(/images/wheretobuy/popup/bubble-5.png); float:right; }
.popup div#bottomleft { background-image: url(/images/wheretobuy/popup/bubble-6.png); float:left; height:29px; background-position:top; }
.popup div#bottom { background-image: url(/images/wheretobuy/popup/bubble-7.png); text-align: center; float:left; height:29px; background-position:top;}
.popup div#bottom img { display: block; margin: 0 auto; }
.popup div#bottomright { background-image: url(/images/wheretobuy/popup/bubble-8.png); float:right; height:29px; background-position:top; }

.popup div.popup-contents {
    font-size: 12px;
    line-height: 1.2em;
    background-color: #fff;
    color: #666;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	float:left;
    width: 119px;
	min-height:50px;
    }

div.popup-contents div {
    text-align: left;
    }

#wtbProductsAll img {
    margin-left: 10%;
    display: inline-block;
    max-height: 184px;
    max-width: 893px !important;
    width: 100%;
}

/* large size */
@media all and (min-width:780px) {
    #wtbProductsAll img {
        margin-left: 0px;
    }
}

/* smallest size */
@media all and (max-width:599px) {
     #wtbProductsAll img {
        margin-left: 0px;
    }
}

/* shared small and medium size */
@media all and (max-width:779px) {
     #wtbProductsAll img {
        margin-left: 0px;
    }
}