﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="A-Story-to-Pore-Over-Rules.aspx.cs" Inherits="Biore2012.promotions.rules.A_Story_to_Pore_Over_Rules" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 <%=SquishIt.Framework.Bundle .Css()
        .Add("~/css/utilityPages.css")
        .Render("~/css/combinedrules_#.css")
    %>
</asp:Content>
<%--<asp:Content ID="Content2" ContentPlaceHolderID="floodlightPixels" runat="server">
</asp:Content>--%>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="main">
    <div id="mainContent">
        <div id="shadow"></div>
        <div class="centeringDiv">
            <div id="polaroid"><img src="<%= VirtualPathUtility.ToAbsolute("~/images/forms/signUpPhoto.jpg") %>" alt="" /></div>                
            <div id="content">
                <h1>Bior&eacute;<sup>&reg;</sup> A Story to Pore (Strip) Over</h1>
                <h2>Official Rules</h2>
                <h2>NO PURCHASE NECESSARY. A PURCHASE OR PAYMENT OF ANY KIND WILL NOT INCREASE YOUR CHANCES OF WINNING.</h2>
                <p><strong>1. Eligibility:</strong> Bior&eacute;<sup>&reg;</sup> A Story to Pore (Strip) Over (the &quot;Promotion&quot;) is open only to legal residents of the fifty (50) United States and the District of Columbia who are at least eighteen (18) years old at the time of entry and who did not purchase any equipment for purposes of entering the Promotion. Employees of Kao Canada Inc., Enlighten, Inc. ("Enlighten"), ePrize, Inc., and any of their respective related companies, parents, subsidiaries, affiliates, and agents and any agencies or other companies involved in the development or execution of the Promotion or production or distribution of Promotion materials, as well as the immediate family (spouse, parents, siblings, and children) and household members of each such employee are not eligible. The Promotion is subject to all applicable federal, state, and local laws and regulations and is void where prohibited. The Promotion consists of two (2) independent sweepstakes (the &quot;Sweepstakes&quot;), a product giveaway (&quot;Giveaway&quot;) and a contest (the &quot;Contest&quot;). </p>
                <p><strong>2. Sponsor:</strong> Kao Canada Inc., 2535 Spring Grove Ave, Cincinnati, OH 45214.<br /><strong>Administrator:</strong> ePrize, Inc., One ePrize Drive, Pleasant Ridge, MI 48069.</p>
				<p><strong>3. Agreement to Official Rules:</strong> By participating in the Promotion, entrant fully and unconditionally agrees to and accepts these Official Rules and the decisions of the Sponsor and/or Administrator, which are final and binding in all matters related to the Promotion. Whether an entrant receives a prize is contingent upon fulfilling all requirements set forth herein. </p>
				<p><strong>4. Timing:</strong> The Promotion begins on October 15, 2012 at 8:00 a.m. Eastern Time ("EST") and ends on November 12, 2012 at 10:00 a.m. EST (the "Promotion Period"), and consists of four (4) independent phases (each a separate Sweepstakes, Giveaway, or Contest) as set forth in the chart below. </p>
				<table cellpadding="0" callspacing="0" summary="Contest Phase Start and End Dates">
					
					<thead>
						<tr><th>Phase</th><th>Starts (time is EST)</th><th>Ends (time is EST)</th></tr>
					</thead>
					<tbody>
						<tr><td>Sweepstakes I</td><td>October 15, 2012 at 8:00 a.m.</td><td>November 1, 2012 at 9:59 a.m.</tr>
						<tr><td>Giveaway</td><td>November 1, 2012 at 10:00 a.m.</td><td>November 1, 2012 at 2:59 p.m.</td></tr>
						<tr><td>Sweepstakes II</td><td>November 1, 2012 at 3:00 p.m.</td><td>November 1, 2012 at 4:59 p.m.</td></tr>
						<tr><td>Book Club Contest</td><td>November 1, 2012 at 5:00 p.m.</td><td>November 12, 2012 at 10:00 a.m.</td></tr>	
					</tbody>
				</table>
				<p>Enlighten's computer is the official time-keeping device for the Promotion.</p>
				<p><strong>5. How to Enter:</strong></p>
				<p><strong>a) Sweepstakes I and II:</strong> During the times listed above, you may enter into each Sweepstakes through the Bior&eacute;<sup>&reg;</sup> A Story to Pore (Strip) Over application on the Bior&eacute;<sup>&reg;</sup> Skincare Facebook page at <a href="//www.Facebook.com/Bioreskin" target="_blank">www.Facebook.com/Bioreskin</a>. Follow the instructions to complete and submit the registration form including a valid home address and you will receive one (1) entry into the applicable Sweepstakes. Your entry will not be included in the subsequent Sweepstakes; instead you must separately register for each. <u>Limit:</u> Each entrant may receive one (1) entry into each Sweepstakes. Multiple entrants are not permitted to share the same email address. Any attempt by any entrant to obtain more than the stated number of entries by using multiple/different email addresses, identities, registrations and logins, or any other methods will void that entrant's entries and that entrant may be disqualified. Use of any automated system to participate is prohibited and will result in disqualification. In the event of a dispute as to any registration, the authorized account holder of the email address used to register will be deemed to be the entrant. The &quot;authorized account holder&quot; is the natural person assigned an email address by an Internet access provider, online service provider or other organization responsible for assigning email addresses for the domain associated with the submitted address. The potential winner may be required to show proof of being an authorized account holder.</p>
				<p><strong>b) Giveaway:</strong> Beginning at 10:00 am on November 1, 2012, entrants must fully complete the online registration form. The first two hundred fifty (250) entrants to complete and submit the online registration will be deemed the Giveaway winners. Once there are two hundred fifty (250) entrants that have successfully responded or until 2:59 pm on November 1, 2012, whichever occurs first, the Giveaway will be over and no other prizes will be awarded in this phase of the Promotion.</p>
				<p><strong>c) The Contest:</strong> During the Book Club Contest Phase, you can enter through the Bior&eacute;<sup>&reg;</sup> A Story to Pore (Strip) Over application on the Bior&eacute;<sup>&reg;</sup> Skincare Facebook page at <a href="//www.Facebook.com/Bioreskin" target="_blank">www.Facebook.com/Bioreskin</a>. Follow the links and instructions to complete and submit the registration form, including a short essay describing what makes you the perfect book club candidate, questions regarding your reading habits, and skin care product usage. You will also be required to upload one (1) photo of yourself. Your essay response and answers to questions about your reading habits as well as your photo will be deemed your contest submission ("Submission"). Your response to questions about skin product usage will not be considered in determining the winner of this Contest. You agree that your Submission conforms to the Submission Guidelines and Content Restrictions as defined below (collectively, the &quot;Guidelines and Restrictions&quot;) and that Sponsor, in its sole discretion, may remove your Submission and disqualify you from the Contest if it believes, that your Submission fails to conform to the Guidelines and Restrictions.</p>
				<p><u>Submission Guidelines:</u></p>
				<ul>
					<li>The Photo must be in .jpg format and may not exceed 5 MB in size;</li>
					<li>The responses must be in English and not exceed the character limits;</li>
					<li>The Submission cannot have been submitted previously in a promotion of any kind.</li>
				</ul>
				<p><u>Content Restrictions:</u></p>
				<ul>
					<li>The Submission must not contain material that violates or infringes another's rights, including but not limited to privacy, publicity or intellectual property rights, or that constitutes copyright infringement;</li>
					<li>The Submission must not contain brand names or trademarks, except for Sponsor's trademark for which entrant has a limited license to use for the sole purposes of creating and uploading a Submission into this Contest;</li>
					<li>The Submission must not contain images or artwork not created by entrant;</li>
					<li>The Submission must not include photo of any other persons other than the entrant;</li>
					<li>The Submission must not contain material that is inappropriate, indecent, obscene hateful, tortious, defamatory or libelous;</li>
					<li>The Submission must not contain material that promotes bigotry, racism, hatred or harm against any group or individual or promotes discrimination based on race, gender, religion, nationality, disability, sexual orientation or age; and</li>
					<li>The Submission must not contain material that is unlawful, in violation of or contrary to the laws or regulations in any state where the Submission is created.</li>
				</ul>
				<p><u>For all Submissions:</u> Uploading a Submission constitutes entrant's consent to give Sponsor a royalty-free, irrevocable, perpetual, non-exclusive license to use, reproduce, modify, publish, create derivative works from, and display such submissions in whole or in part, on a worldwide basis, and to incorporate it into other works, in any form, media or technology now known or later developed, including for promotional or marketing purposes. If necessary, entrant will sign any necessary documentation that may be required for Sponsor or its designees to make use of the non-exclusive rights entrant is granting to use the Submission. Sponsor is not responsible for lost, late, incomplete, invalid, un-intelligible or misdirected Submissions, which are disqualified. Limit: Each entrant may submit one (1) entry into the Contest during the Contest Phase. </p>
				<p><strong>6. Winner Determination:</strong> Winners will be determined via the processes set forth below.</p>
				<p><strong>Contest:</strong> After the Contest phase, a panel of qualified judges determined by Sponsor in its sole discretion will select the five (5) potential winners from among all eligible Submissions received, based on an application of the following criteria (&quot;Judging Criteria&quot;):</p>
				<ul>
					<li>Creativity/Originality (33%)</li>
					<li>Quality of Submission (33%); and</li>
					<li>Demonstrates Passion for the Author and her Work (34%).</li>
				</ul>	
				<p>In the event of a tie, the entrant whose Submission received the higher score in the "Demonstrates Passion for the Author and her Work", as determined by the qualified judges in their sole discretion, will be deemed the potential winner. Sponsor reserves the right to select fewer than the stated number of winners, if, in its sole discretion, it does not receive a sufficient number of eligible and qualified Submissions. Sponsor will notify the potential winners by email and/or phone on or around November 15, 2012.</p>
				<p><strong>Sweepstakes:</strong></p>
				<p><strong>Sweepstakes I and II:</strong> Administrator is an independent judging organization whose decisions as to the administration and the selection of winners in Sweepstakes I and II are final and binding in all matters related to the Sweepstakes. For each of these Sweepstakes, Administrator will randomly select the potential Sweepstakes winners from all eligible entries on or around November 7, 2012 and will notify each potential winner by email at that time.</p>
				<p><strong>Giveaway:</strong> Sponsor's decisions as to the administration and operation of this Giveaway and the determination of Giveaway winners are final and binding in all matters related to the Giveaway. The first two hundred fifty (250) entrants to complete and submit the online registration form during the Giveaway period defined in paragraph 4 will be deemed the winners and will receive a tube of Bior&eacute;<sup>&reg;</sup> Acne Clearing Scrub (4.5 FL OZ). ARV: $5.99. No registrations/entries will be accepted after 2:59 pm on November 1, 2012. Administrator will notify the Giveaway winners by email on or around November 7, 2012.</p>
				<p><strong>7. Winner Requirements:</strong> Receiving a prize is contingent upon compliance with these Official Rules. If a potential winner cannot be contacted, or prize is returned as undeliverable, potential winner forfeits the prize. Contest winners will be notified by Sponsor on or around the date stated above by email and phone and must confirm that he or she is able to participate through a computer with private internet access in the virtual book club prize on December 5, 2012.  Winners will be asked to participate in a practice session on either December 1, 2012 at 1:00p.m. EST or December 3, 2012 at 7:00 p.m. EST. If Contest winners don't respond to Sponsor's phone call or email confirming acceptance of the prize in the time frame requested, he or she will forfeit the prize and alternate winner may be notified (time permitting). In the event that a potential Sweepstakes Prize winner is disqualified for any reason, Sponsor will award the applicable prize to an alternate winner by random drawing from among all eligible entries. Only three (3) alternate drawings will be held after which the applicable prize will remain un-awarded. Acceptance of any prize shall constitute and signify winner's agreement and consent that Sponsor may use the winner's name, city, state, likeness, Photo and/or prize information in connection with the Promotion, worldwide, including the Internet, without limitation and without further payment or consideration, except where prohibited by law. Without limiting the generality of these Official Rules, winner shall irrevocably grant, transfer, convey and assign to Sponsor the entirety of the rights in and to the Photo and all renewals and extensions of copyright, and the right to secure copyright registrations thereto in perpetuity including, without limitation, the rights to use the Photo for any and all purposes in any and all media whether now known or hereafter developed, on a worldwide basis, in perpetuity. Winner accepts and acknowledges that Sponsor shall not be obligated to use the Photo and that Sponsor in its sole discretion shall have the right to refrain from using the Photo. Sponsor shall not incur any liability whatsoever to the extent Sponsor chooses to refrain from any exploitation of its rights hereunder. Winner will indemnify Sponsor, Released Parties (as defined in Section 9, below) and any licensee of Sponsor against all claims, damages, liabilities, and expenses (including reasonable counsel fees and legal expenses) arising out of any breach of these terms. Sweepstakes and Giveaway prizes will be fulfilled 8 &mdash; 10 weeks after end of the Sweepstakes/Giveaway. </p>
				<p><strong>8. Prizes:</strong></p>
				<p><strong>Contest Grand Prize:</strong> <u>FIVE (5) GRAND PRIZES:</u> The opportunity to participate in a virtual book club event with Jane Green and the other winners on December 5, 2012 at 8:00 p.m. EST. The virtual book club will be approximately an hour long event whereby each winner participates through his or her home computer with the webcam provided by Sponsor. Sponsor will require that each winner confer with its designees via phone before the book club event to discuss the event and confirm that the equipment functions. Winner will receive a signed copy of Jane Green's published Short Stories and a webcam kit. Approximate Retail Value ("ARV"): $264. </p>
				<p><strong>Sweepstakes I:</strong> <u>FIVE (5) GIFT BASKET PRIZES:</u> A basket of Bior&eacute;<sup>&reg;</sup> products (selection of products will be determined by Sponsor in its sole discretion). ARV: $90. </p>
				<p><strong>Giveaway:</strong> <u>TWO HUNDRED FIFTY (250) BIOR&Eacute;<sup>&reg;</sup> ACNE SCRUB PRIZES:</u> A tube of Bior&eacute;<sup>&reg;</sup> Acne Clearing Scrub (4.5 FLOZ). ARV: $5.99</p>
				<p><strong>Sweepstakes II:</strong> <u>TWENTY-FIVE (25) BOOK PRIZES:</u> A copy of Jane Green's book. ARV: $14. </p>
				<p><u>For all prizes:</u> Prizes are non-transferable and no substitution will be made unless Sponsor, in its sole discretion, determines otherwise. Sponsor reserves the right to substitute a prize or a component thereof, for one of equal or greater value should it become unavailable for any reason. Winners are responsible for all taxes and fees associated with prize receipt and/or use. Odds of winning each Sweepstakes prize depend on the number of eligible entries received for the particular Sweepstakes.</p>
				<p><strong>9. Release:</strong> By receipt of any prize, the applicable winner agrees to release and hold harmless Sponsor, Enlighten, Facebook, Inc., Administrator, and their respective subsidiaries, affiliates, suppliers, distributors, advertising/promotion agencies, and prize suppliers, and each of their respective parent companies and each such company's officers, directors, employees and agents (collectively, the &quot;Released Parties&quot;) from and against any claim or cause of action, including, but not limited to, personal injury, death, or damage to or loss of property, arising out of participation in the Promotion or receipt or use or misuse of any prize. </p>
				<p><strong>10. General Conditions:</strong> Sponsor reserves the right to cancel, suspend and/or modify the Promotion, or any part of it, if any fraud, technical failures or any other factor beyond Sponsor's reasonable control impairs the integrity or proper functioning of the Promotion, as determined by Sponsor in its sole discretion. In such event, Sponsor may elect to hold a random drawing from among all eligible entries received up to the date of discontinuance for any or all of the Sweepstakes prizes offered and herein. Sponsor may also, in its sole discretion, determine the Contest winners from among all non-suspect, eligible Submissions received up to time of such action using the judging procedure outlined above. Sponsor, in its sole discretion, reserves the right to disqualify any individual it finds to be tampering with the entry process or the operation of the Promotion or to be acting in violation of the Official Rules of this or any other promotion or in an unsportsmanlike or disruptive manner. Any attempt by any person to deliberately undermine the legitimate operation of the Promotion may be a violation of criminal and civil law, and, should such an attempt be made, Sponsor reserves the right to seek damages from any such person to the fullest extent permitted by law. Sponsor's failure to enforce any term of these Official Rules shall not constitute a waiver of that provision. </p>
				<p><strong>11. Limitations of Liability:</strong> The Released Parties are not responsible for: (1) any incorrect or inaccurate information, whether caused by entrant, printing errors or by any of the equipment or programming associated with or utilized in the Promotion; (2) technical failures of any kind, including, but not limited to malfunctions, interruptions, or disconnections in phone lines or network hardware or software; (3) unauthorized human intervention in any part of the entry process or the Promotion; (4) technical or human error which may occur in the administration of the Promotion or the processing of entries; (5) late, lost, undeliverable, damaged or stolen mail; or (6) any injury or damage to persons or property which may be caused, directly or indirectly, in whole or in part, from entrant's participation in the Promotion or receipt or use or misuse of any prize. Sponsor is not responsible for misdirected or undeliverable entries or for any technical problems, malfunctions of computer systems, servers, providers, hardware/software, lost or unavailable network connections or failed, incomplete, garbled or delayed computer transmission or any combination thereof. Sponsor and Administrator are not responsible for any typographical/other error in entries, selection announcement or for any liability for damage to any computer system resulting from participation in, accessing or downloading information in connection with this Promotion. If for any reason an entrant's entry is confirmed to have been erroneously deleted, lost, or otherwise destroyed or corrupted, entrant's sole remedy is another entry in the Sweepstakes, if it is possible. No more than the stated number of prizes will be awarded. In the event that production, technical, seeding, programming or any other reasons cause more than the stated number of prizes as set forth in these Official Rules to be available and/or claimed, Sponsor reserves the right to award only the stated number of prizes by a random drawing among all legitimate, un-awarded, eligible prize claims. </p>
				<p><strong>12. Disputes:</strong> Except where prohibited, entrant agrees that: (1) any and all disputes, claims and causes of action arising out of or connected with this Promotion or any prize awarded shall be resolved individually, without resort to any form of class action, and exclusively by the United States District Court for the Eastern District of Michigan (Southern Division) or the appropriate Michigan State Court located in Oakland County, Michigan; (2) any and all claims, judgments and awards shall be limited to actual out-of-pocket costs incurred, including costs associated with entering this Promotion, but in no event attorneys' fees; and (3) under no circumstances will entrant be permitted to obtain awards for, and entrant hereby waives all rights to claim, indirect, punitive, incidental and consequential damages and any other damages, other than for actual out-of-pocket expenses, and any and all rights to have damages multiplied or otherwise increased. All issues and questions concerning the construction, validity, interpretation and enforceability of these Official Rules, or the rights and obligations of the entrant and Sponsor in connection with the Promotion, shall be governed by, and construed in accordance with, the laws of the State of Michigan without giving effect to any choice of law or conflict of law rules (whether of the State of Michigan or any other jurisdiction), which would cause the application of the laws of any jurisdiction other than the State of Michigan. </p>
				<p><strong>13. Entrant's Personal Information:</strong> Information collected from entrant is subject to Sponsor's Privacy Policy <a href="http://www.kaobrands.com/privacy_policy.asp" target="_blank">http://www.kaobrands.com/privacy_policy.asp</a> and to Administrator's Privacy Policy <a href="http://www.eprize.com/privacy-policy" target="_blank">http://www.eprize.com/privacy-policy</a></p>
				<p><strong>14. Winner List:</strong> Winner List requests will only be accepted after the promotion end date (listed above) and no later than February 28, 2013. For a winner list, mail-in your request to "Bior&eacute;<sup>&reg;</sup> A Story to Pore (Strip) Over" Win List, c/o Enlighten, 3027 Miller Road, Ann Arbor, MI 48103. </p>
				<p>This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook. </p>
			</div>
		</div>
	</div>
</div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="scripts" runat="server">
</asp:Content>
