﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="prove-it-vacation-giveaway.aspx.cs" Inherits="Biore2012.__proveit" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 <%=SquishIt.Framework.Bundle .Css()
        .Add("~/css/utilityPages.css")
        .Render("~/css/combinedrules_#.css")
    %>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="main">
        <div id="mainContent">
            <div id="shadow"></div>
            <div class="centeringDiv">
                <div id="polaroid"><img src="<%= VirtualPathUtility.ToAbsolute("~/images/forms/signUpPhoto.jpg") %>" alt="" /></div>
                <div id="content">
                    <h1>Prove It!&trade; Reward Points Vacation Giveaway</h1>
                    <h2>Official Rules<br />
                    NO PURCHASE NECESSARY.  A PURCHASE OR PAYMENT OF ANY KIND WILL NOT INCREASE YOUR CHANCES OF WINNING.</h2>

					<p><strong>1. Eligibility:</strong> Prove It!&trade; Reward Points Vacation Giveaway (the &quot;Sweepstakes&quot;) is open only to legal residents of the fifty (50) United States and the District of Columbia who are at least eighteen (18) years old and a Prove It!&trade; Rewards Points Loyalty Program member at the time of entry. Employees of Kao Canada Inc., Brand Networks, Inc. ("Brand Networks"), Enlighten, Inc., ePrize, LLC, and their parent and affiliate companies as well as the immediate family (spouse, parents, siblings and children) and household members of each such employee are not eligible. The Sweepstakes is subject to all applicable federal, state, and local laws and regulations and is void where prohibited. Participation constitutes entrant's full and unconditional agreement to these Official Rules and Sponsor's and Administrator's decisions, which are final and binding in all matters related to the Sweepstakes. Winning the prize is contingent upon fulfilling all requirements set forth herein.</p>

					<p><strong>2. Sponsor:</strong> Kao Canada Inc., 2535 Spring Grove Ave, Cincinnati, OH 45214. <strong>Administrator:</strong> ePrize, LLC, One ePrize Drive, Pleasant Ridge, MI 48069.</p>

					<p><strong>3. Timing:</strong> The Sweepstakes begins on March 1, 2012 at 12:00 a.m. Eastern Time ("ET") and ends on April 30, 2012 at 11:59 p.m. ET (the "Promotion Period"). Brand Networks' computer is the official time-keeping device for the Sweepstakes.</p>

					<p><strong>4. How to Enter:</strong> During the Promotion Period, visit the Prove It!&trade; Reward Points application on the Bior&eacute;<sup>&reg;</sup> Skincare Facebook page at <a href="http://www.facebook.com/bioreskin?sk=app_205787372796203" target="_blank">www.facebook.com/bioreskin?sk=app_205787372796203</a>. Follow the links and instructions and agree to opt-in to the Sweepstakes. You will automatically receive one (1) entry into the Sweepstakes when you opt-in. You can earn additional entries every calendar day (defined as 12:00 a.m. ET through 11:59 p.m. ET) that you return to the Prove It!&trade; Rewards Points application on the Bior&eacute;<sup>&reg;</sup> Skincare Facebook page during the Promotion Period. <strong>Limit:</strong> You may receive one (1) entry per calendar day during the Promotion Period. Multiple entrants are not permitted to share the same email address. Any attempt by any entrant to obtain more than the stated number of entries by using multiple/different email addresses, identities, registrations and logins, or any other methods will void that entrant's entries and that entrant may be disqualified. Use of any automated system to participate is prohibited and will result in disqualification. In the event of a dispute as to any registration, the authorized account holder of the email address used to register will be deemed to be the entrant. The &quot;authorized account holder&quot; is the natural person assigned an email address by an Internet access provider, online service provider or other organization responsible for assigning email addresses for the domain associated with the submitted address. The potential winner may be required to show proof of being an authorized account holder.</p>
					  
					<p><strong>5. Grand Prize Drawing:</strong> Administrator is an independent judging organization whose decisions as to the administration and operation of the Sweepstakes and the selection of the potential winner are final and binding in all matters related to the Sweepstakes. Administrator will randomly select the potential Sweepstakes winner from all eligible entries received during the Promotion Period, on or around May 8, 2012. The potential winner will be notified by email and/or telephone. Except where prohibited, the potential Grand Prize winner (or parent/legal guardian if winner is a minor in his/her state of residence) will be required to sign and return a Declaration of Compliance, Liability and Publicity Release ("Declaration") as well as a copy of his or her driver's license or other form of government identification which must be received by Administrator, within seven (7) days of the date notice or attempted notice is sent, in order to claim the prize. If potential Sweepstakes winner is considered a minor in his/her jurisdiction of residence, the Declaration must be signed by his/her parent or legal guardian and such prize will be delivered to minor's parent/legal guardian and awarded in the name of parent/legal guardian. If a potential winner of any prize cannot be contacted, or fails to sign and return the Declaration within the required time period, the potential winner forfeits the prize. Upon prize forfeiture, no compensation will be given. Receiving a prize is contingent upon compliance with these Official Rules. In the event that the potential winner is disqualified for any reason, Sponsor will award the prize to an alternate winner by random drawing from among all remaining eligible entries. Only three (3) alternate drawings will be held, after which the prize will remain un-awarded. Prize will be fulfilled approximately 8-10 weeks after the conclusion of the Sweepstakes.</p>

					<p><strong>6. Prize:</strong> <strong>ONE (1) GRAND PRIZE:</strong> $1,500 gift card and an Unforgettaways resort vacation e-certificate including a digital code redeemable for seven (7) nights of lodging (single room, double occupancy) from a variety of vacation resorts throughout the world. Approximate Retail Value: $2,900. Winner is responsible for booking lodging within one (1) year of receipt of e-certificate and must complete travel within one (1) year of the booking date. A complete listing of potential vacation resort properties may be reviewed at <a href="https://www.rci.com/RCI/" target="_blank">https://www.rci.com/RCI/</a> ("Site"). Depending on selected property/lodging, there may be additional fees, including "all inclusive fees" or utility charges. Properties are subject to availability and blackout dates. The lodging prize is subject to the terms and conditions listed at the Site as well as terms and conditions provided with the e-certificate. The gift card is subject to its terms and conditions. All expenses and incidental travel costs including but not limited to, ground transportation, meals, incidentals, passenger tariffs or duties, airline fees, surcharges, airport fees, service charges or facility charges, personal charges at lodging, security fees, taxes or other expenses are the responsibility solely of winner. Winner and travel companions are solely responsible for obtaining valid passports and any other documents necessary for international travel, if chosen vacation resort property is outside of the United States. Sponsor will not replace any lost, mutilated, or stolen travel vouchers or gift cards. Prize is non-transferable and no substitution will be made except as provided herein at the Sponsor's sole discretion. Sponsor reserves the right to substitute the prize for one of equal or greater value if the designated prize should become unavailable for any reason. Winner is responsible for all taxes and fees associated with prize receipt and/or use. Odds of winning the prize depend on the number of eligible entries received during the Promotion Period.</p>

					<p><strong>7. Release:</strong> By receipt of any prize, winner agrees to release and hold harmless Sponsor, Brand Networks, Facebook, Inc., Administrator, and their respective subsidiaries, affiliates, suppliers, distributors, advertising/promotion agencies, and prize suppliers, and each of their respective parent companies and each such company's officers, directors, employees and agents (collectively, the &quot;Released Parties&quot;) from and against any claim or cause of action, including, but not limited to, personal injury, death, or damage to or loss of property, arising out of participation in the Sweepstakes or receipt or use or misuse of any prize.</p>
					 
					<p><strong>8. Publicity:</strong> Except where prohibited, participation in the Sweepstakes constitutes the winner's consent to Sponsor's and its agents' use of winner's name, likeness, photograph, voice, opinions and/or hometown and state for promotional purposes in any media, worldwide, without further payment or consideration.</p>

					<p><strong>9. General Conditions:</strong> Sponsor reserves the right to cancel, suspend and/or modify the Sweepstakes, or any part of it, if any fraud, technical failures or any other factor beyond Sponsor's reasonable control impairs the integrity or proper functioning of the Sweepstakes, as determined by Sponsor in its sole discretion. Sponsor reserves the right, in its sole discretion, to disqualify any individual it finds to be tampering with the entry process or the operation of the Sweepstakes or to be acting in violation of the Official Rules of this or any other promotion or in an unsportsmanlike or disruptive manner. Any attempt by any person to deliberately undermine the legitimate operation of the Sweepstakes may be a violation of criminal and civil law, and, should such an attempt be made, Sponsor reserves the right to seek damages from any such person to the fullest extent permitted by law. Sponsor's failure to enforce any term of these Official Rules shall not constitute a waiver of that provision.</p>

					<p><strong>10. Limitations of Liability:</strong> The Released Parties are not responsible for: (1) any incorrect or inaccurate information, whether caused by entrants, printing errors or by any of the equipment or programming associated with or utilized in the Sweepstakes; (2) technical failures of any kind, including, but not limited to malfunctions, interruptions, or disconnections in phone lines or network hardware or software; (3) unauthorized human intervention in any part of the entry process or the Sweepstakes; (4) technical or human error which may occur in the administration of the Sweepstakes or the processing of entries; (5) late, lost, undeliverable, damaged or stolen mail; or (6) any injury or damage to persons or property which may be caused, directly or indirectly, in whole or in part, from entrant's participation in the Sweepstakes or receipt or use or misuse of any prize. If for any reason an entrant's entry is confirmed to have been erroneously deleted, lost, or otherwise destroyed or corrupted, entrant's sole remedy is another entry in the Sweepstakes, if it is possible. If the Sweepstakes, or any part of it, is discontinued for any reason, Sponsor, in its sole discretion, may elect to hold a random drawing from among all eligible entries received up to the date of discontinuance for any or all of the prizes offered herein. No more than the stated number of prizes will be awarded. In the event that production, technical, seeding, programming or any other reasons cause more than the stated number of prizes as set forth in these Official Rules to be available and/or claimed, Sponsor reserves the right to award only the stated number of prizes by a random drawing among all legitimate, un-awarded, eligible prize claims.</p>

					<p><strong>11. Disputes:</strong> Except where prohibited, entrant agrees that: (1) any and all disputes, claims and causes of action arising out of or connected with this Sweepstakes or any prize awarded shall be resolved individually, without resort to any form of class action, and exclusively by the United States District Court for the Eastern District of Michigan (Southern Division) or the appropriate Michigan State Court located in Oakland County, Michigan; (2) any and all claims, judgments and awards shall be limited to actual out-of-pocket costs incurred, including costs associated with entering this Sweepstakes, but in no event attorneys' fees; and (3) under no circumstances will entrant be permitted to obtain awards for, and entrant hereby waives all rights to claim, indirect, punitive, incidental and consequential damages and any other damages, other than for actual out-of-pocket expenses, and any and all rights to have damages multiplied or otherwise increased. All issues and questions concerning the construction, validity, interpretation and enforceability of these Official Rules, or the rights and obligations of the entrant and Sponsor in connection with the Sweepstakes, shall be governed by, and construed in accordance with, the laws of the State of Michigan without giving effect to any choice of law or conflict of law rules (whether of the State of Michigan or any other jurisdiction), which would cause the application of the laws of any jurisdiction other than the State of Michigan.</p>

					<p><strong>12. Entrant's Personal Information:</strong> Information collected from entrants is subject to Sponsor's Privacy Policy (<a href="http://www.kaobrands.com/privacy_policy.asp" target="_blank">http://www.kaobrands.com/privacy_policy.asp</a>) and ePrize, LLC's Privacy Policy (<a href="http://www.eprize.com/privacy-policy" target="_blank">http://www.eprize.com/privacy-policy</a>).</p>

					<p><strong>13. Winner List:</strong> Winner List requests will only be accepted after the promotion end date (listed above) and no later than August 15, 2012. For a winner list, mail-in your request to Prove It!&trade; Reward Points Vacation Giveaway Win List, c/o Enlighten, 3027 Miller Road, Ann Arbor, MI 48103.</p>

					<p>This Promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook, Inc. Participants are providing information to the Sponsor, and not to Facebook, Inc.</p>

                </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" runat="server">
</asp:Content>
