<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Master.cs" Inherits="Biore2012.Site" %>
<%@ Import Namespace="SquishIt.Framework" %>
<!DOCTYPE html>
<!--[if IE 7 ]><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" class="ie7 ie"><![endif]-->
<!--[if IE 8 ]><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" class="ie8 ie"><![endif]-->
<!--[if IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" class="ie9 ie"><![endif]-->
<!--[if !IE]><!--><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" ><!--<![endif]-->
<head runat="server">
    <title></title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 
    <meta property="og:image" id="fbImage" runat="server" />
    
    <link rel="icon" type="image/png" href="<%= VirtualPathUtility.ToAbsolute("~/favicon.ico") %>" />
    <%=Bundle .Css()
        .Add("~/css/global.css")
        .Add("~/css/pie.css")
        .Render("~/CSS/combined_#.css")
    %>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="<%=bodyClass %>">
    <asp:Panel Visible="false" ID="fbScript" runat="server">
        <div id="fb-root"></div>
        <script>
            (function(w, d, s) {
                function go() {
                    var js, fjs = d.getElementsByTagName(s)[0],load = 
                    function(url, id) {
                        if (d.getElementById(id)) { return; }
                        js = d.createElement(s); js.src = url; js.id = id;
                        fjs.parentNode.insertBefore(js, fjs);
                        if(typeof productDetail !== "undefined"){
                            js.onload = (function() { productDetail.socialScriptLoaded(id); });
                            js.onreadystatechange = (function() { productDetail.socialScriptLoaded(id); });
                        }
                    };
                    <asp:Literal id="plusScript" visible="false" runat="server">
                        load('//apis.google.com/js/plusone.js', 'gplus1js');      
                    </asp:Literal>
                    load('//connect.facebook.net/en_US/all.js#xfbml=1', 'facebook-jssdk');                    
                }
                if (w.addEventListener) {
                    w.addEventListener("load", go, false);                    
                }
                else if (w.attachEvent) { w.attachEvent("onload", go); }
            } (window, document, 'script'));
    </script>
    </asp:Panel>
    <form id="form1" runat="server">
    <div>
        <div id="header">
            <div class="centeringDiv">
                <%--<div id="proveItNav"><asp:HyperLink ID="proveItLink" NavigateUrl="http://www.facebook.com/bioreskin?sk=app_205787372796203" runat="server" Text="Prove It! Reward Points - Start Earning Now!" Target="_blank" /></div>--%>
                <div id="logoAndNav">
                    <div class="languageToggle"><a href="/fr-CA/">Fran&#231;ais</a></div>
                    <div id="logoAndLike">
                        <div id="logo"><a href="<%= VirtualPathUtility.ToAbsolute("~/biore-skincare") %>"><img src="<%= VirtualPathUtility.ToAbsolute("~/images/logo.png") %>" border="0" alt="" /></a></div>
                        <div id="likeBtn" class="likeBtn" runat="server" visible="false"><div class="fb-like" data-href="http://www.facebook.com/biorecanada" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div></div>
                        <div class="clear"></div>
                    </div>
                    <ul id="topnav">
                        <li id="topnavItem1">
                            <a href="<%= VirtualPathUtility.ToAbsolute("~/biore-facial-cleansing-products/") %>" id="ourProducts">Our Products</a>
                            <div id="ourProductsBlock" style="filter: alpha(opacity=0);">
                                <div id="ourProductsBg" class="pie"></div>
                                <div class="col">
                                    <div class="navGroup" id="deepCleansingSubnav">
                                        <h2 class="pie roundedCorners">Deep Cleansing</h2>
                                        <ul>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-cleansing-products/combination-skin-balancing-cleanser") %>"><span class="new">New</span> Combination Skin Balancing Cleanser</a></li>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-cleansing-products/4-in-1-detoxifying-cleanser") %>">4-in-1 Revitalizing Cleanser</a></li>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-cleansing-products/pore-unclogging-scrub") %>">Pore Unclogging Scrub</a></li>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-cleansing-products/daily-purifying-scrub") %>">Daily Purifying Scrub</a></li>
                                            <%--<li><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-cleansing-products/daily-cleansing-cloths") %>">Daily Cleansing Cloths</a></li>--%>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-cleansing-products/steam-activated-cleanser") %>">Steam Activated Cleanser</a></li>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-cleansing-product-family/pore-strips#regular") %>">Deep Cleansing Pore Strips</a></li>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-cleansing-product-family/pore-strips#combo") %>">Deep Cleansing Pore Strips Combo</a></li>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-cleansing-product-family/pore-strips#ultra") %>">Deep Cleansing Pore Strips Ultra</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="navGroup" id="complexionClearingSubnav">
                                        <h2 class="pie roundedCorners">Complexion Clearing</h2>
                                        <ul>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/complexion-clearing-products/blemish-fighting-ice-cleanser") %>">Blemish Fighting Ice Cleanser</a></li>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/complexion-clearing-products/blemish-treating-astringent") %>">Blemish Fighting Astringent</a></li>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/complexion-clearing-products/warming-anti-blackhead-cleanser") %>">Warming Anti-Blackhead Cream Cleanser</a></li>
                                        </ul>
                                    </div>
                                    <div class="navGroup" id="makeupRemovingSubnav">
                                        <h2 class="pie roundedCorners">Make-Up Removing</h2>
                                        <ul>
                                            <li><a href="<%= VirtualPathUtility.ToAbsolute("~/make-up-removing-products/make-up-removing-towelettes") %>">Make-Up Removing Towelettes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <%--<div id="discontinued">
                                    <a href="<%= VirtualPathUtility.ToAbsolute("~/past-biore-favorites") %>" class="pie">
                                        <span class="wrapper">
                                            <img src="<%= VirtualPathUtility.ToAbsolute("~/images/oldProducts.jpg") %>" alt="" class="oldProds" />
                                            Can't find your favorite? Check out our updated lineup &raquo;
                                            <img src="<%= VirtualPathUtility.ToAbsolute("~/images/newProducts.jpg") %>" alt="" class="newProds" />
                                        </span> 
                                        
                                    </a>
                                </div>--%>
                            </div>
                        </li>
                        <li id="topnavItem2"><a href="<%= VirtualPathUtility.ToAbsolute("~/special-offers-and-skincare-tips") %>">What's New</a></li>
                        <li id="topnavItem3"><a href="<%= VirtualPathUtility.ToAbsolute("~/email-newsletter-sign-up") %>">Sign Me Up</a></li>
                        <%--<li id="topnavItem4"><a href="<%= VirtualPathUtility.ToAbsolute("~/where-to-buy-biore") %>">Where to Buy</a></li>--%>
                        <li id="facebookLike"><a href="http://www.facebook.com/biorecanada" target="_blank"><img src="<%= VirtualPathUtility.ToAbsolute("~/images/facebookIcon.png") %>" border="0" alt="" /></a>&nbsp;<a href="http://www.twitter.com/biorecanada" target="_blank"><img src="<%= VirtualPathUtility.ToAbsolute("~/images/twitterIcon.png") %>" border="0" alt="" /></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">        
        </asp:ContentPlaceHolder>
        <div id="footer">
            <div class="centeringDiv">
                <div id="biore">Biore</div>
                <ul>
                    <li id="footerNav1"><a href="<%= VirtualPathUtility.ToAbsolute("~/about-us") %>">About Bior&eacute;<sup>&reg;</sup> Skincare</a></li>
                    <li id="footerNav2"><a href="http://www.kaobrands.com/" target="_blank"><asp:Literal ID="kaoBrandsLinkText" runat="server" /></a></li>
                    <%--<li id="footerNav3"><a href="<%= VirtualPathUtility.ToAbsolute("~/where-to-buy-biore") %>">Where to Buy</a></li>--%>
                    <li id="footerNav4"><a href="<%= VirtualPathUtility.ToAbsolute("~/contact-us") %>">Contact Us</a></li>
                    <li id="footerNav5"><a href="http://www.kaobrands.com/legal.asp" target="_blank">Legal</a></li>
                    <li id="footerNav6"><a href="/en-CA/privacy/" target="_blank">Privacy&nbsp;Policy</a></li>
                    <li id="footerNav7"><a href="<%= VirtualPathUtility.ToAbsolute("~/sitemap") %>">Sitemap</a></li>
                    <li id="footerNav8"><a href="/fr-CA/">Fran&ccedil;ais</a></li>
                </ul>
                <p id="copyright">&copy; <asp:Literal ID="litDate" runat="server"></asp:Literal> <asp:Literal ID="kaoBrandsCopyright" runat="server" /> All Rights Reserved.</p>
                <a href="#header" class="top scrollPage">Top</a>
            </div>
        </div>
    </div>
    </form>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='js/jquery-1.6.4.min.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <%=SquishIt.Framework.Bundle .JavaScript()
        .Add("~/js/respond.min.js")
        .Add("~/js/bioreUtils.js")
        .Add("~/js/webtrends.js")
        .Add("~/js/hoverIntent.min.js")
        .Render("~/js/combined_#.js")
    %>
 
    <asp:Panel ID="panel_Question_Pro" runat="server" Visible="false">
    </asp:Panel>
    <asp:ContentPlaceHolder ID="scripts" runat="server">
    </asp:ContentPlaceHolder>
    <!-- START OF SmartSource Data Collector TAG -->
    <script type="text/javascript">
        //<![CDATA[
        var _tag = new WebTrends();
        _tag.dcsGetId();
        //]]>>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        // Add custom parameters here.
        //_tag.DCSext.param_name=param_value;
        _tag.dcsCollect();
        //]]>>
    </script>
    <noscript>
    <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://sdc.enlighten.com/dcsx5r2z6x4568dp93c02vf9d_4y5t/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.6.0"/></div>
    </noscript>
    <!-- END OF SmartSource Data Collector TAG -->
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var firstTracker = _gat._getTracker("UA-385129-27"); // Global Tag
            firstTracker._setDomainName("none");
            firstTracker._trackPageview();
            var secondTracker = _gat._getTracker("UA-385129-15"); // Biore Tag
            secondTracker._setCampNameKey("enl_campaign")
            secondTracker._setCampMediumKey("enl_medium")
            secondTracker._setCampSourceKey("enl_source")
            secondTracker._trackPageview();
        } catch (err) { }
    </script>
</body>
</html>
