﻿#header {
    width: 100%;
    background: url(../images/header/headerBg.jpg);
    height:106px;
}
#header .centeringDiv {
    position:relative;
    z-index:990;
}
#logo{
    float:left;
}
#logo a img{
    border: none;
}
#logo .desktop-logo {
    display: none;
    margin-top: 10px;
    width: 100%;
}
#logo .mobile-logo {
    margin-top: 10px;
    width: 90%;
}
#logoAndLike {
        padding: 0 10px;
}
#topnav{
    z-index:150;
    width: 100%;
    margin-top: 5px;
}
#topnav li{
    display: inline-block;
    text-align:left;
    position:relative;
    z-index:1000;
    padding: 4px 0px;
}
li#topnavItem1:after, li#topnavItem2:after, li#topnavItem3:after, li#topnavItem5:after{
    content: "|";
    color: #fff;
    font-size: 10px;
}
ul li#facebookLike{
    border:none;
}
#topnav li > a{
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    font-size:10px;
    text-decoration:none;
    padding:3px;
    text-transform:uppercase;
    font-weight: 400;
    font-style: normal;
    padding: 0 5px;
}

/*li#facebookLike, li#twitter, li#instagram, li#youtube{
    width:23px; 
    margin-right:6px;
   
}*/
#topnavItemSocial {
    /*width:23px;*/ 
    margin-right:6px;
    width: 120px;
    height: 10px;
}
#topnavItemSocial a {
    display: inline-block;
    width: 23px;
    /*padding: 0 2px !important;*/
    position: absolute;
    top: 0px;
    padding: 0px !important;
}
#topnav-facebook-icon { left: 10px }
#topnav-twitter-icon { left: 39px; }
#topnav-instagram-icon { left: 68px; }
#topnav-youtube-icon { left: 98px; }

#topnav li a img.socialIcons{
    width:100%;
}
.notouch #topnav li > a:hover{
    color:#b8dbf2;   
}
/*.notouch #topnav  li#topnavItem1 > a:hover{
    color:#202a51;
}
#topnav li#topnavItem1:hover {
   background-color:white;
   background-position:  127px 4px;
}*/
/*#topnav li#topnavItem1{
    background: url(../images/header/downArrow.png)  127px 14px no-repeat;
}
.ourProducts li#topnavItem1 {
    background: url(../images/header/selectArrow.png) 63px 22px no-repeat;
}*/
/*.notouch li#topnavItem1 a:hover {
   color:#005daa;
}*/
.subNavHeadlines {
    font-family: 'Archer A', 'Archer B';
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    display:block;
    text-transform:lowercase;
    height:32px;
    width:auto;
    margin: 0px 0px 10px 20px;
    padding: 0px 0px 0px 0px;
    color:#8a8a8a;
    text-align:left;
}
.subNavAcneHead {
    color: #ec5a1e;
}
.greenBold { color: #63b632; font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal; }
.orangeBold { color: #ec5a1e; font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal; }
.redBold { color: #e92e5f; font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal; }

.redSubHead {
    color: #e92e5f;
}
.tealBold {
    color: #6ec8e4;
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}
/*#proveItNav{
   background: url(../images/header/proveItMobile.png) no-repeat;
   width:75px;
   height:44px;
   float:right;
   margin: 9px 59px 0px 0px;
}
#proveItNav a{
    display:block;
    width:100%;
    text-indent:-9000px;
    height:100%;
}*/
#header .likeBtn{
    min-width:100px;
    min-height:30px;
}
#ourProductsBlock{
    background:#fff;
    width:600px;
    padding-top:10px;
    position:absolute;
    margin-top:22px;
    z-index:1000;
    top:10px;
    left:-9000px;
    opacity:0;
    border-left: solid 13px #202a51;
    border-right: solid 13px #202a51;
    border-bottom: solid 13px #202a51;
    margin-left: -13px;
}
#ourProductsBg{
    position:absolute;
    height:100%;
    background:#fff;
    width:100%;
    top:0;
    left:0;
}
#ourProductsBlock.open{
    left:0;
}
#ourProductsBlock.show{
    opacity:1 !important;
    filter: alpha(opacity=100) !important;    
}
#ourProductsBlock img{
    margin-top:-20px;
}
#complexionClearingSubnav h2{background:#f58025;}
#makeupRemovingSubnav h2{background:#ad208e;}
#makeupRemovingSubnav{
    margin-top:45px;
}
#ourProductsBlock .col{
    float:left;
    padding:10px 0px 20px 0px;
}
#ourProductsBlock ul{
    margin:-5px 0 0; 
    padding:0; 
    overflow:hidden;
}
#topnav #ourProductsBlock li{
    padding:0;
    margin:0;
    padding:3px 0px;
    border:none;
    float:none;
    text-align:left;
    height:17px;
}
#topnav #ourProductsBlock li a{
    padding:3px 8px 4px;
    font-size:13px;
    display:block;
    color:#202a51;
    background:#fff;
    font-family: ProximaNova-Regular;
    line-height:10px;
    letter-spacing:0px;
    font-weight:normal;
    margin-left:15px;
    text-transform: none;
}
.notouch #topnav #ourProductsBlock li.orangeHover a:hover{
    color:#ec5a1e;    
}
.notouch #topnav #ourProductsBlock li.greenHover a:hover{
    color:#63b632;    
}
.notouch #topnav #ourProductsBlock li.redHover a:hover{
    color:#e92e5f;    
}
.notouch #topnav #ourProductsBlock li.tealHover a:hover{
    color:#6ec8e4;    
}
#topnav #ourProductsBlock li a .new{
    color:#ed008a;
}
#ourProductsBlock #discontinued{
    height:51px;
    position:relative;
    clear:both;
    padding-top:12px;
    overflow:hidden;
}
.col-n01 {
    width: 45%;
}
.col-n02 {
    width: 55%;
}
#ourProductsBlock #discontinued a{
    color:#1a4d8d;
    text-decoration:none;
    font-size:13px;
    position:relative;
    background: #fbc093;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fbc093), to(#f58126));
    background: -webkit-linear-gradient(#fbc093, #f58126);
    background: -moz-linear-gradient(#fbc093, #f58126);
    background: -ms-linear-gradient(#fbc093, #f58126);
    background: -o-linear-gradient(#fbc093, #f58126);
    background: linear-gradient(#fbc093, #f58126);
    -pie-background: linear-gradient(#fbc093, #f58126);
    padding: 17px 0px;
    display:block;
    height:17px;
}
#ourProductsBlock #discontinued .wrapper{
    position:relative;
    width:500px;
    display:block;
    margin:0 auto;
}
#ourProductsBlock #discontinued img{
    margin:0;
    top:-31px;
    position:absolute;
}
.oldProds{left:-1%;}
.newProds{right:-2%;}
@media screen and (min-width: 420px) {
    #topnav li > a{
        padding: 0 10px;
    }
}
@media screen and (min-width: 690px) {
    #topnav {
        padding: 0;        
    }
    #topnav li#topnavItem1 {
        margin-left: 10px;
    }
    #topnav li > a{
        font-size:12px;
    }
    #logo .mobile-logo {
        margin-top: 20px;
        width: 100%;
    }
    #logoAndLike {
        padding: 0 20px;
    }
    li#topnavItem1:after, li#topnavItem2:after, li#topnavItem3:after, li#topnavItem5:after{
        content: "";
    }
}
@media screen and (min-width: 768px) {    
    #topnav li {
        padding: 4px 0px;
    }
    #topnav li a{
        font-size:14px;
    }
    #topnavItem1 {
        
    }
    #topnav li#topnavItem1{
        width: 140px;
        background: url(../images/header/downArrow.png)  123px 7px no-repeat;
        height: 30px;
    }
    #topnav li#topnavItem1:hover {
       background-color: white;
       background-position:  123px -3px;
    }
    #topnav  li#topnavItem1 > a:hover{
        color:#202a51;
    }
}
@media screen and (min-width: 1024px) {
    #logoAndNav {
        width: 1024px;
        margin: 0 auto;
    }
    #topnav {
        padding: 60px 0 0 0;
        margin-top: 0px;
    }
    #topnav li#topnavItem1 {
        /*margin-left: 60px;*/
    }
    #logoAndLike {
        width: 160px;
        height: 100px;
        float: left;
        position: relative;
        padding: 0 30px 0 20px;
    }
    #logo .desktop-logo {
        display: block;
        margin: 0;
        width: 120%;
    }
    #logo .mobile-logo {
        display: none;
    }
    
}
@media screen and (min-width: 1180px) {
    #logo .desktop-logo {
        width: 135%;
    }
    #logoAndLike {
        left: -70px;
    }
}
@media screen and (min-width: 1250px) {
    #logoAndNav {
        width: 1140px;
    }
    #topnav li#topnavItem1 {
       /* margin-left: 80px;*/
    }    
}

