﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Master.cs" Inherits="Biore2012.Site" %>
<%@ Import Namespace="SquishIt.Framework" %>
<!DOCTYPE html>
<!--[if IE 7 ]><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" class="ie7 ie"><![endif]-->
<!--[if IE 8 ]><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" class="ie8 ie"><![endif]-->
<!--[if IE 9 ]><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" class="ie9 ie"><![endif]-->
<!--[if !IE]><!--><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" lang="en-GB"><!--<![endif]-->
<head runat="server">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta property="og:image" id="fbImage" runat="server" />

    <link rel="icon" type="image/png" href="<%= VirtualPathUtility.ToAbsolute("~/favicon.ico") %>" />
    <!--<link rel="stylesheet" type="text/css" href="//cloud.typography.com/747434/618702/css/fonts.css" />-->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/747434/726384/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="~/css/archer.css" />
    <link rel="stylesheet" type="text/css" href="~/css/ProximaNovaA.css" />
    <%=Bundle .Css()
        .Add("~/css/global.css")
        .Add("~/css/pie.css")
        .Add("~/rs-plugin/css/settings.css")
        .Render("~/CSS/combined_#.css")
    %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.js"></script>

    <script type="text/javascript" src="<%= VirtualPathUtility.ToAbsolute("~/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js") %>"></script>
    <script type="text/javascript" src="<%= VirtualPathUtility.ToAbsolute("~/rs-plugin/js/jquery.themepunch.revolution.min.js") %>"></script>


    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
	
	<!--for responsive video -->
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="~/css/header.css" />
    <link rel="stylesheet" type="text/css" href="~/css/footer.css" />    
    <script type="text/javascript" src="<%= VirtualPathUtility.ToAbsolute("~/js/jquery.magnific-popup.min.js") %>"></script>
    <script type="text/javascript" src="<%= VirtualPathUtility.ToAbsolute("~/js/jquery.fancybox.pack.js") %>"></script>    
    <!--<script type="text/javascript" src="<%= VirtualPathUtility.ToAbsolute("~/js/homepage.js") %>"></script>-->
    <script type="text/javascript">
        $(function() {
            $(".popup-youtube").live("click", function(event) {
              //delegate since pore strips build json elements after initial DOM load
            event.preventDefault();

            //alert($('.popup-youtube').attr('href'));
                $.magnificPopup.open({ 
                items: {
                src: $(this).attr('href')
                },
                disableOn: 300,
                type: 'iframe',
                mainClass: 'mfp-fade',
                removalDelay: 160,
                preloader: false,

                    fixedContentPos: false
                
                });

              
            });

            /*$('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
                disableOn: 300,
                type: 'iframe',
                mainClass: 'mfp-fade',
                removalDelay: 160,
                preloader: false,

                fixedContentPos: false
            });*/
        });
    </script>
</head>
<body class="<%=bodyClass %>">
    <div id="cookiepop" class="cdp-cookies-alerta cdp-cookies-layout-ventana cdp-cookies-pos-inferior cdp-cookies-textos-izq cdp-cookies-tema-blanco">
        <div class="cdp-cookies-texto">
            <h4>We Use Cookies</h4>
            <p>
                We use cookies on our site to improve your user experience. By browsing you agree to our use of cookies. Read our <a href="/privacy">PRIVACY POLICY</a> for details. 
            
            <a class="cdp-cookies-boton-cerrar" href="#">OK</a>
            </p>

        </div>
    </div>
    <asp:ContentPlaceHolder ID="floodlightPixels" runat="server">
    </asp:ContentPlaceHolder>
    <asp:Panel Visible="false" ID="fbScript" runat="server">
        <div id="fb-root"></div>
        <script>
            (function(w, d, s) {
                function go() {
                    var js, fjs = d.getElementsByTagName(s)[0],load = 
                    function(url, id) {
                        if (d.getElementById(id)) { return; }
                        js = d.createElement(s); js.src = url; js.id = id;
                        fjs.parentNode.insertBefore(js, fjs);
                        if(typeof productDetail !== "undefined"){
                            js.onload = (function() { productDetail.socialScriptLoaded(id); });
                            js.onreadystatechange = (function() { productDetail.socialScriptLoaded(id); });
                        }
                    };
                    <asp:Literal id="plusScript" visible="false" runat="server">
                        load('//apis.google.com/js/plusone.js', 'gplus1js');      
                    </asp:Literal>
                    load('//connect.facebook.net/en_US/all.js#xfbml=1', 'facebook-jssdk');                    
                }
                if (w.addEventListener) {
                    w.addEventListener("load", go, false);                    
                }
                else if (w.attachEvent) { w.attachEvent("onload", go); }
            } (window, document, 'script'));
        </script>
    </asp:Panel>
    <form id="form1" runat="server">
        <div>
            <div id="header">
                <div class="centeringDiv">
                   
                    <div id="logoAndNav">
                        <div id="logoAndLike">
                            <div id="logo">
                            <a href="<%= VirtualPathUtility.ToAbsolute("~/biore-skincare") %>" class="track" data-tracking="TopNav|Click|Logo">
                                <img src="<%= VirtualPathUtility.ToAbsolute("~/images/header/logo.png") %>" alt="" class="desktop-logo" />
                                <img src="<%= VirtualPathUtility.ToAbsolute("~/images/header/logo_mobile.png") %>" alt="" class="mobile-logo" />
                            </a>
                        </div>
                            <!-- <div id="likeBtn" class="likeBtn" runat="server" visible="false"><div class="fb-like" data-href="http://www.facebook.com/bioreskin" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div></div> -->
                            <div class="languageToggle">
                                <div class="languageToggleLink"></div>

                                <div id="LoggedInNav">
                                    <asp:HyperLink ID="hlLogout" runat="server" Visible="false"></asp:HyperLink>
                                    <asp:HyperLink ID="hlChangePassword" runat="server" Visible="false"></asp:HyperLink>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <ul id="topnav">

                          <li id="topnavItem3"><a href="<%= VirtualPathUtility.ToAbsolute("~/about-us/") %>" id="topnav-about-us" class="whiteTopNav">About Us</a></li>
                            <li id="topnavItem1">
                                <a href="<%= VirtualPathUtility.ToAbsolute("~/biore-facial-cleansing-products/") %>" id="ourProducts" class="whiteTopNav ourProductTopNav">Our Products</a>
                                <div id="ourProductsBlock" style="filter: alpha(opacity=0);">
                                    <div id="ourProductsBg" class="pie"></div>
                                    <div class="col col-n01">
                                        <div class="navGroup" id="DontBeDirtySubnav">
                                            <%--deepCleansingSubnav--%>
                                            <h2 class="pie roundedCorners"><span class="subNavHeadlines"><span class="greenBold">DeepPOREfection:</span> <b>Oily Skin</b></span></h2>
                                            <ul>
                                              
                                                 <li class="greenHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-porefection-oily-skin/deep-pore-charcoal-cleanser") %>" id="A3">Deep Pore Charcoal Cleanser</a></li>
                                                <li class="greenHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-porefection-oily-skin/pore-penetrating-charcoal-bar") %>" id="topnav-pore-penetrating-charcoal-bar">Pore Penetrating Charcoal Bar</a></li>
                                                
                                                <li class="greenHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-porefection-oily-skin/charcoal-pore-minimizer") %>" id="topnav-charcoal-pore-minimizer">Charcoal Pore Minimiser</a></li>

                                                <li class="greenHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-porefection-oily-skin/pore-unclogging-scrub") %>" id="topnav-pore-unclogging-scrub">Pore Unclogging Scrub</a></li>
                                             
                                                <li class="greenHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-porefection-oily-skin/self-heating-one-minute-mask") %>" id="A4">Self-Heating One Minute Mask</a></li>
                                                 <li class="greenHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-porefection-oily-skin/daily-deep-pore-cleansing-wipes") %>" id="topnav-daily-cleansing-cloths">Daily Deep Pore Cleansing Wipes</a></li>
                                                
												
                                             </ul>
                                    </div><br /><br />
									<div class="navGroup" id="BackOffBigPoresSubnav"><%--poreMinimizingSubnav--%>
                                       <h2 class="pie roundedCorners"><span class="subNavHeadlines"><span class="greenBold">DeepPOREfection:</span> <span class="tealBold">Combination Skin</span></span></h2>
                                        <ul>
                                            <li class="tealHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-porefection-combination-skin/baking-soda-pore-cleanser") %>">Baking Soda Pore Cleanser</a></li>
                                            <li class="tealHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/deep-porefection-combination-skin/baking-soda-cleansing-scrub") %>">Baking Soda Cleansing Scrub</a></li>

                                        </ul>
                                    </div><br /><br />

                                        <div class="navGroup" id="TakeItAllOffSubnav">
                                            <%--takeitalloffSubnav--%>
                                            <h2 class="pie roundedCorners"><span class="subNavHeadlines">Just take it <span class="purpleBold">all off!</span></span></h2>
                                            <ul>
                                                <li class="purpleHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/take-it-all-off/baking-soda-cleansing-micellar-water") %>" id="topnav-baking-soda-cleansing-micellar-water" class="track" data-tracking="TopNav|Click|Baking Soda Cleansing Micellar Water">Baking Soda Cleansing Micellar Water</a></li>
                                                <li class="purpleHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/take-it-all-off/charcoal-cleansing-micellar-water") %>" id="topnav-charcoal-cleansing-micellar-water" class="track" data-tracking="TopNav|Click|Charcoal Cleansing Micellar Water">Charcoal Cleansing Micellar Water</a></li>
                                                
                                            </ul>
                                        </div>
                                </div>
								
                                    <div class="col col-n02">
                                        <div class="navGroup" id="AcneOuttaHereSubnav">
                                            <%--complexionClearingSubnav--%>
                                            <h2 class="pie roundedCorners"><span class="subNavHeadlines"><span class="orangeBold">Acne's Outta Here</span></span></h2>
                                            <ul>
                                                <li class="orangeHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/acnes-outta-here/charcoal-acne-clearing-cleanser") %>" id="A6">Charcoal Acne Clearing Cleanser - For Oily Skin</a></li>
                                                 <li class="orangeHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/acnes-outta-here/charcoal-acne-scrub") %>" id="A1">Charcoal Acne Scrub - For Oily Skin</a></li>
                                                <li class="orangeHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/acnes-outta-here/baking-soda-acne-scrub") %>" id="topnav-blemish-treating-astringent">Baking Soda Acne Scrub - For Combination Skin</a></li>
                                               
                                                <li class="orangeHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/acnes-outta-here/triple-action-toner") %>" id="A2">Triple Action Toner</a></li>
                                                
                                            </ul>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="navGroup" id="BreakupWithBlackHeadsSubnav">
                                            <%--makeupRemovingSubnav--%>
                                            <h2 class="pie roundedCorners"><span class="subNavHeadlines"><span class="redBold">Breakup with Blackheads</span></span></h2>
                                            <ul>
                                            <li class="redHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/breakup-with-blackheads/warming-anti-blackhead-cleanser") %>" id="topnav-warming-anti-blackhead-cleanser">Warming Anti-Blackhead Cleanser</a></li>
 											<li class="redHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/breakup-with-blackheads/deep-cleansing-pore-strips") %>" id="topnav-pore-strips-regular">Deep Cleansing Pore Strips 6ct</a></li>
                                            <li class="redHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/breakup-with-blackheads/charcoal-pore-strips") %>" id="A5">Deep Cleansing Charcoal Pore Strips 6ct</a></li>
											<li class="redHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/breakup-with-blackheads/deep-cleansing-pore-strips-ultra") %>" id="topnav-pore-strips-ultra">Ultra Deep Cleansing Pore Strips 6ct</a></li>
											<li class="redHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/breakup-with-blackheads/deep-cleansing-pore-strips-combo") %>" id="topnav-pore-strips-combo">Combo Deep Cleansing Pore Strips 14ct</a></li>
											<li class="redHover"><a href="<%= VirtualPathUtility.ToAbsolute("~/breakup-with-blackheads/deep-cleansing-pore-strips-ultra-combo") %>" id="topnav-pore-strips-ultra-combo">Combo Deep Cleansing Pore Strips<br /><span class="topPadding">with Ultra Nose Strips</span></a></li>
                                          
											</ul>
                                    </div>
                                </div>
                                
                            </div>
                        </li>
                            <li id="topnavItem2"><a href="<%= VirtualPathUtility.ToAbsolute("~/pore-care/") %>" id="topnav-pore-care" class="whiteTopNav">Pore Care</a></li>
                          
                            <li id="topnavItem4"><a href="<%= VirtualPathUtility.ToAbsolute("~/where-to-buy") %>" id="topnav-where-to-buy" class="whiteTopNav">Where to Buy</a></li>
                            <!--<li id="topnavItem5"><a href="<%= VirtualPathUtility.ToAbsolute("~/ratings-and-reviews") %>" id="A2" class="whiteTopNav">Reviews</a></li>-->
							 <li id="topnavItemSocial">
                                 
                                 <a href="https://www.facebook.com/BioreAus/" target="_blank" id="topnav-facebook-icon" class="track" data-tracking="TopNav|Click|Facebook"><img class= "socialIcons" src="<%= VirtualPathUtility.ToAbsolute("~/images/header/facebook.png") %>" alt="" /></a>
                                <a href="http://www.instagram.com/bioreaus/" target="_blank" id="topnav-instagram-icon" class="track" data-tracking="TopNav|Click|Instagram"><img class= "socialIcons" src="<%= VirtualPathUtility.ToAbsolute("~/images/header/instagram.png") %>" alt="" /></a>
                                <a href="https://www.youtube.com/channel/UCfw8nLL6pqo68Bi6z0_ZbMw" target="_blank" id="topnav-youtube-icon" class="track" data-tracking="TopNav|Click|Youtube"><img class= "socialIcons" src="<%= VirtualPathUtility.ToAbsolute("~/images/header/youtube.png") %>" alt="" /></a>

                               </li>
                            </ul>
                            
                </div>           

                <div class="clear"></div>
            </div>
        </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">        
        </asp:ContentPlaceHolder>
            <div id="footer">
                <div class="centeringDiv">
                    <!-- <div id="biore">Biore</div> -->
                    <ul>
                        <!--<li id="footerNav1"><a href="<%= VirtualPathUtility.ToAbsolute("~/about-us") %>" id="footer-about-biore">About Bior&eacute;<sup>&reg;</sup> Skincare</a></li>-->
                        <li id="footerNav2"><a href="http://www.kaobrands.com/" target="_blank" id="footer-kaobrands">
                            <asp:Literal ID="kaoBrandsLinkText" runat="server" /></a></li>
                        <li id="footerNav4"><a href="<%= VirtualPathUtility.ToAbsolute("~/contact-us") %>" id="footer-contact-us">Contact Us</a></li>
                        <li id="footerNav5"><a href="<%= VirtualPathUtility.ToAbsolute("~/legal") %>" id="footer-legal">Legal</a></li>
                        <li id="footerNav6"><a href="<%= VirtualPathUtility.ToAbsolute("~/privacy") %>" id="footer-privacy">Privacy&nbsp;Policy</a></li>
                        <li id="footerNav7"><a href="<%= VirtualPathUtility.ToAbsolute("~/sitemap") %>" id="footer-sitemap">Sitemap</a></li>
                        <!--<li id="footerNav8"><a id="footer-patents" target="_blank" href="http://www.kaobrands.com/patents/">Patents</a></li>-->
                    </ul>
                    <br />
                    <br />
                    <p id="copyright">&copy;
                        <asp:Literal ID="litDate" runat="server"></asp:Literal>
                        <asp:Literal ID="kaoBrandsCopyright" runat="server" />
                        All Rights Reserved.</p>
            </div>
        </div>
    </div>
    </form>

    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            var source = '<%= VirtualPathUtility.ToAbsolute("~/js/jquery-1.6.4.min.js") %>';
            document.write(unescape("%3Cscript src='"+source+"' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <%=SquishIt.Framework.Bundle .JavaScript()
        .Add("~/js/respond.min.js")
        .Add("~/js/bioreUtils.js")
        .Add("~/js/webtrends.js")
        .Add("~/js/hoverIntent.min.js")
        .Add("~/js/tracking.js")
        .Add("~/js/jquery.cookie.js")
        .Render("~/js/combined_#.js")
    %>

    
    <asp:Panel ID="panel_Question_Pro" runat="server" Visible="false">
        <!-- BEGIN CUSTOMIZED SURVEY POPUP CODE -->
        <!--script>
            $(document).ready(function() {
                $.getScript('<%= VirtualPathUtility.ToAbsolute("~/js/questionProPopupInvitationCustomStep1.js") %>', function() {
                    $.getScript('<%= VirtualPathUtility.ToAbsolute("~/js/questionProPopupInvitationCustom.js") %>');
                });
            });
        </script>
        <noscript><a href="http://www.questionpro.com/akira/TakeSurvey?id=XXXXXXXXX">Start Survey</a>  <a href="http://www.questionpro.com/">Survey</a></noscript-->
        <!-- END SURVEY POPUP CODE -->
    </asp:Panel>
    <asp:ContentPlaceHolder ID="scripts" runat="server">
    </asp:ContentPlaceHolder>

   
     <!-- Facebook Pixel Code -->
    <script type="text/javascript">
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '310507249151515'); 
        fbq('track', 'PageView');
    </script>
        <!--<noscript>
        <img height="1" width="1" 
        src="https://www.facebook.com/tr?id=310507249151515&ev=PageView
        &noscript=1"/>
        </noscript>-->
    <!-- End Facebook Pixel Code -->

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var firstTracker = _gat._getTracker("UA-385129-27"); // Global Tag
            firstTracker._setDomainName("none");
            firstTracker._trackPageview();
            var secondTracker = _gat._getTracker("UA-385129-23"); // Biore AU Tag
            secondTracker._trackPageview();
        } catch (err) { }
    </script>
</body>
</html>
