﻿/* Stylesheet for Biore Cleanser Faceoff */

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
/* Reset All Styles */
html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, a,abbr,acronym,address,big,cite,code, del,dfn,font,img,ins,kbd,q,s,samp, small,strike,sub,sup,tt,var, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:none;-moz-outline-style:none;}
a:active{outline:0; }
a:focus{-moz-outline-style:none; }
body{line-height:1;}
*:first-child+html body{overflow:visible;}
* html body{overflow:visible;}
ol,ul{list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after, q:before,q:after{content:""; }
blockquote,q{quotes:"" ""; }
/*End Reset */

body {
	width: 520px;
}
#container {
	width: 520px;
}
sup {
	font-size: 80%;
	position: relative;
	top: -0.35em;
}

/* Generic styles for Fans/Non-Fans 
------------------------------------*/
.textReplacement h1,
.textReplacement h2,
.textReplacement h3,
.textReplacement p {
	text-indent: -9999px;
}


/* Non Fan Overlay 
------------------------------*/
.FBNonFanDiv {
	background: #fff url(../images/fbOverlayBg.jpg) top left no-repeat;
	min-height: 402px;
}

/* Fan Round 1
------------------------------*/
.FBFanDiv {
	background: #fff url(../images/faceoffBGRnd1.jpg) top left no-repeat;
	min-height: 580px;
}
.product {
	height: 252px;
	position: absolute;
	top: 240px;
	width: 220px;	
}
.faceoff1 .product {width: 232px;}
/*.faceoff3 .product {width: 210px;}
.faceoff3 #prodRight {left: 310px;}*/
#prodLeft {
	background: url(../images/products/productMURT.png) top right no-repeat;
	left: 0px;
}
#prodRight {
	background: url(../images/products/productRefresh.png) top left no-repeat;
	left: 288px;
}

/* Product Images */
.faceoff2 #prodLeft {background: url(../images/products/productBFIC.png) top right no-repeat;}
.faceoff2 #prodRight {background: url(../images/products/productRevitalize.png) top left no-repeat;}
.faceoff3 #prodLeft {background: url(../images/products/productPoreUnclogging.png) top right no-repeat;}
.faceoff3 #prodRight {background: url(../images/products/productAntiBlackhead.png) top left no-repeat;}
.faceoff4 #prodLeft {background: url(../images/products/productSAC.png) top right no-repeat;}
.faceoff4 #prodRight {background: url(../images/products/productDetox.png) top left no-repeat;}

.faceoff5 #prodLeft {background: url(../images/products/productPoreUnclogging.png) top right no-repeat;}
.faceoff5 #prodRight {background: url(../images/products/productRefresh.png) top left no-repeat; left: 287px;}

.faceoff6 #prodLeft {background: url(../images/products/productRevitalize.png) top right no-repeat;}
.faceoff6 #prodRight {background: url(../images/products/productSAC.png) top left no-repeat; left: 287px;}

.faceoff7 #prodLeft {background: url(../images/products/productPoreUnclogging.png) top right no-repeat;}
.faceoff7 #prodRight {background: url(../images/products/productRevitalize.png) top left no-repeat; left: 287px;}

/* product popups */
.product a {
	display: block;
	width: 100%;
	height: 201px;
	padding-top: 30px;
	text-decoration: none;
}
.product a span {
	position: absolute;
	left: -9999px;
	display: block;
	width: 188px;
	height: 195px;
	background: url(../images/productPopupBg.png) top left no-repeat;
	font: bold 14px arial,helvetica,sans-serif;
	color: #fff;
}
.product a:hover span {
	position: static;
	left: auto;
}
.product a span span {
	background: none;
	position: static;
	left: auto;	
}
.product a span span.detailTitle {
	height: 41px;
	width: 168px;
	padding: 15px 10px 0;
	text-align: center;
}
.faceoff3 #prodRight a span span.detailTitle {
	width: 178px;
	padding: 15px 5px 0;
}
.product a span span.detailCopy {
	color: #008b9d;
	height: 125px; 		
	width: 158px;
	padding: 15px 15px 0;
	text-align: left;
	font-weight: normal;
	line-height: 1.4;
}
.faceoff3 .product a span span.detailCopy {padding: 10px 15px 0;}
#prodLeft a span {
	margin: 0 0 0 38px;
}
#prodLeft a span span {
	margin: 0;
}
#prodRight a span {
	margin: 0 44px 0 0;
}
#prodRight a span span {
	margin: 0;
}

/* Like Buttons */
.fb_edge_widget_with_comment {margin: -5px 0 0 100px;}
#prodRight .fb_edge_widget_with_comment {margin: -5px 0 0 80px;}
.faceoff1 .fb_edge_widget_with_comment {margin: -5px 0 0 90px;}
.faceoff1 #prodRight .fb_edge_widget_with_comment {margin: -5px 0 0 75px;}
.faceoff3 .fb_edge_widget_with_comment {margin: -5px 0 0 95px;}
.faceoff3 #prodRight .fb_edge_widget_with_comment {margin: -5px 0 0 78px;}

/* Fan Round 1 Vote Complete
------------------------------*/
.voted {
	background: #fff url(../images/votedFullBg.jpg) top left no-repeat;
	min-height: 306px;
	padding-top: 277px;
}
#votedShield {
	overflow: hidden;
}
.voteBox {
	display: block;
	width: 150px;
	height: 60px;
	text-align: center;
	padding: 10px 5px 0;
	float: left;
	margin: 0 0 0 54px;
}
#votedProdRight {
	margin: 0 0 0 87px;
}
.voteBox h4 {
	color: #3f3f3f;
	font: bold 12px arial,helvetica,sans-serif;
	height: 30px;
}
.voteBox p {	
	color: #009ddb;
	font: bold 18px arial,helvetica,sans-serif;
}
#votedShield a {
	display: block;
	background: url(../images/votedBannerBg.jpg) top left no-repeat;
	width: 520px;
	height: 98px;
	text-indent: -9999px;
	float: left;
	clear: left;
	margin: 25px 0 0;
}
#votedShield a:hover {
	background-position: top right;
}

/* Fan Round 2
------------------------------*/
.round2 .FBFanDiv {
	background: #fff url(../images/faceoffBGRnd2.jpg) top left no-repeat;
	min-height: 628px;
}
.round2 .product {
	top: 294px;
}
.round2 .voted {
	background: #fff url(../images/votedFullBg2.jpg) top left no-repeat;
	min-height: 303px;
	padding-top: 325px;
}
.round2 #votedShield a {		
	background: url(../images/votedBannerBg2.jpg) top left no-repeat;
}
.round2 #votedShield a:hover {
	background-position: top right;
}
.round2 .fb_edge_widget_with_comment {margin: -9px 0 0 95px;}
.round2 #prodRight .fb_edge_widget_with_comment {margin: -9px 0 0 83px;}

/* Fan Round 3
------------------------------*/
.round3 .FBFanDiv {
	background: #fff url(../images/faceoffBGRnd3.jpg) top left no-repeat;
	min-height: 678px;
}
.round3 .product {
	top: 315px;
}
.round3 .voted {
	background: #fff url(../images/votedFullBg3.jpg) top left no-repeat;
	min-height: 336px;
	padding-top: 342px;
}
.round3 #votedShield a {		
	background: url(../images/votedBannerBg3.jpg) top left no-repeat;
}
.round3 #votedShield a:hover {
	background-position: top right;
}
.round3 .fb_edge_widget_with_comment {margin: -5px 0 0 100px;}
.round3 #prodRight .fb_edge_widget_with_comment {margin: -5px 0 0 80px;}

/* Fan Winner Round 3
------------------------------*/
.round4 .FBFanDiv {
	background: #fff url(../images/faceoffBGRnd4-PoreUnclogging.jpg) top left no-repeat;
	min-height: 811px;
}
.round4 #prodLeft {	
	background: none;
	/*height: 252px;
	width: 232px;
	margin: 35px 0 0 15px;*/
}
.round4 #prodLeft h4 {
	text-indent: -9999px;
}
.round4 #specialOffer a {
	display: block;
	width: 197px;
	height: 35px;		
	background: url(../images/requestCouponBtn.png) top left no-repeat;
	text-indent: -9999px;
	position: absolute;
	top: 775px;
	left: 166px;
}
.round4 #specialOffer a:hover {
	background-position: top right;
}
.FBFanDiv  {
	overflow: hidden;
}
.FBFanDiv p.disclaimer {
	color: #5C5C5D;
  font: 10px/1.3 arial,helvetica,sans-serif;
	float: right;
	margin: 700px 0 10px;
  text-align: right;
  width: 75%;
}


.nocoup .FBFanDiv {
	background: #fff url(../images/faceoffBGRnd4-PoreUnclogging-nc.jpg) top left no-repeat;
	min-height: 810px;
}
.nocoup #specialOffer a {
	background: none repeat scroll 0 0 transparent;
  display: block;
  height: 122px;
  left: 48px;
  position: absolute;
  text-indent: -9999px;
  top: 669px;
  width: 436px;
}
.nocoup .disclaimer {
	display: none;
}
/* Instructions / Disclaimer styles 
----------------------------------------*/
#supplementalCopy {
	margin-top: -20px;
	overflow: hidden;
	padding: 0 10px 0 20px;
}
#supplementalCopy h4, 
#supplementalCopy li, 
#supplementalCopy p {
	font: 11px/1.3 arial,helvetica,sans-serif;
	color: #5c5c5d;
	margin: 5px 0 7px;
}
#supplementalCopy p {
	font-size: 12px;
	clear: both;
	width: 90%;
}
#supplementalCopy ul {
	overflow: hidden;
	padding: 10px 0;
	background: url(../images/instrHorDivider.png) center center no-repeat;
}
#supplementalCopy li {
	min-height: 30px;
	width: 225px;
}
#supplementalCopy li span {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/instrNums.png) top left no-repeat;
	text-indent: -9999px;
}
#supplementalCopy li.instr1 span {background-position: 0 0;}
#supplementalCopy li.instr2 span {background-position: 0 -30px;}
#supplementalCopy li.instr3 span {background-position: 0 -60px;}
#supplementalCopy li.instr4 span {background-position: 0 -90px;}
#supplementalCopy li.col1 {
	float: left;
	clear: left;
}
#supplementalCopy li.col2 {
	float: right;
	clear: right;
}
#supplementalCopy h4 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 15px 0 10px;
}
#supplementalCopy strong {
	color: #61ad5e;
	font-weight: bold;
}
#supplementalCopy p.disclaimer {
	font-size: 10px;
	text-align: right;
	width: 71%;
	float: right;
	margin: 10px 0;
}