﻿/*! Story to Pore Over Styles */
body.stpo {
	width: 810px;
    background:#fff;
}
.stpo .privacyPolicy {
	display: none;
}
/* =============================================================================
   Generic helper classes
   ========================================================================== */
/*-------------------------*\
    $GLOBAL
\*-------------------------*/
.stpo abbr[title] { border-bottom: 1px dotted;}
.stpo b,.stpo strong {font-weight: bold;}
.stpo mark {background: #ff0;color: #000;}
.stpo pre,.stpo code {font-family: monospace, serif;  font-size: 1em;}
.stpo pre {white-space: pre;  white-space: pre-wrap;  word-wrap: break-word;}

.stpo sub, .stpo sup { 
    font-size: 75%; 
    line-height: 0; 
    position: relative; 
    vertical-align: baseline;
}

.stpo sup {top: -0.5em;}
.stpo sub {bottom: -0.25em;}

/* Style helpers */
.stpo .underline {
    text-decoration: underline;
}
/* For image replacement */
.stpo .ir {
    display: block;
    text-indent: 105%;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr; 
    *line-height:0;
}
.stpo .ir br {
    display: none;
}
/*-------------------------*\
    $TYPOGRAPHY
\*-------------------------*/
body.stpo {
	font: 14px/20px Arial,sans-serif;
	color: #545454;
}
.stpo b,
.stpo strong {
	color: #333;
}
.stpo .disclaimer,
.stpo .footerLinks a,
.stpo .quizHolder .proveItDisclaimer {
	font: 11px/18px Arial,sans-serif;
	color: #555;
}
.stpo .disclaimer a,
.stpo .footerLinks a {
	color: #0b58a4;
}
.stpo .disclaimer a:hover,
.stpo .footerLinks a:hover {
	color: #e90d8e;
}
.stpo .stpoCountdownCalendar {
	font: bold 72px/205px 'Trebuchet MS',Arial,sans-serif;
	color: #e90d8e;
}
.stpo.phInterimContent .howDoesItWorkPopup h5 {
	text-transform: uppercase;
	font: normal 16px/18px Arial,sans-serif;
	color: #0b58a4;
}
.stpo.phInterimContent .howDoesItWorkPopup p,
.stpo.phInterimContent .howDoesItWorkPopup li {
	font: normal 14px/18px Arial,sans-serif;
	color: #555;
}

/* sprite(s) created with http://www.texturepacker.com */

.stpo .sprite {display:block; position: relative; overflow:hidden; background-repeat: no-repeat;background-image:url(../StoryToPoreOver/images/stpo.png);}

.stopLikeOverlayCopy {width:297px; height:134px; background-position: -1px -341px}
.stpoBackToEventBtn:hover {width:201px; height:35px; background-position: -231px -32px}
.stpoBackToEventBtn {width:201px; height:35px; background-position: -433px -32px}
.stpoBioreLogo {width:117px; height:36px; background-position: -635px -32px}
.stpoCountdownCalendar {width:146px; height:185px; background-position: -299px -341px}
.stpoCountdownDayCopy {width:312px; height:107px; background-position: -702px -125px}
.stpoCountdownDaysCopy {width:312px; height:107px; background-position: -1px -233px}
.stpoCountdownSwatchCopy {width:312px; height:107px; background-position: -627px -233px}
.stpoCountdownZeroDayCopy {width:312px; height:107px; background-position: -314px -233px}
.stpoEventBtn:hover {width:158px; height:41px; background-position: -160px -74px}
.stpoEventBtn {width:158px; height:41px; background-position: -1px -74px}
.stpoEventSubHdr {width:333px; height:30px; background-position: -625px -1px}
.stpoFormSubmitBtn:hover {width:153px; height:41px; background-position: -319px -74px}
.stpoFormSubmitBtn {width:153px; height:41px; background-position: -753px -32px}
.stpoHdr {width:372px; height:18px; background-position: -1px -1px}
.stpoLikeUsCtA {width:229px; height:33px; background-position: -1px -32px}
.stpoLogo {width:203px; height:189px; background-position: -446px -341px}
.stpoRSVPHdr {width:356px; height:53px; background-position: -1px -125px}
.stpoSorryHdr {width:250px; height:27px; background-position: -374px -1px}
.stpoSweepEntryHdr {width:343px; height:105px; background-position: -358px -125px}
.stpoSweepsEntryBtn:hover {width:158px; height:41px; background-position: -473px -74px}
.stpoSweepsEntryBtn {width:158px; height:41px; background-position: -632px -74px}
.stpoThankYouForEnteringHdr {width:209px; height:50px; background-position: -791px -74px}


/* Like Overlay */
.stpo .likeOverlay {
	background: url(../StoryToPoreOver/images/stpoLikeOverlayBg.jpg) no-repeat;
	padding-top: 600px;
	width: 810px;
}

.stpo .stpoBioreLogo { position: absolute; top: 9px; left: 90px; }
.stpo .stpoLikeUsCtA { position: absolute; top: 0; left: 548px; }
.stpo .stpoLogo { position: absolute; top: 81px; left: 50px; }
.stpo .stopLikeOverlayCopy { position: absolute; top: 299px; left: 32px; }

.stpo .disclaimer {
	text-align: center;
	padding: 0 35px;
}
.stpo .footerLinks {
	margin: 10px auto;
	width: 200px;
}
.stpo .footerLinks a {
	text-align: center;
	text-decoration: none;
}
.stpo.panLikeOverlay .userLikes {
	display: none;
}

/* Liked Page */
.stpo .userLikes {
	background: url(../StoryToPoreOver/images/stpoLikedBg.jpg) no-repeat;
	width: 810px;
	height: 1274px;
	padding-top: 290px;
}
.stpo.pageliked .disclaimer {
	margin-top: -100px;
}
.stpo .bottomSection,
.stpo .topSection,
.stpo .countdownSwatch {
	overflow: hidden;
}
.stpo .userLikes .fbShare {
	display: block;
	background: url(../StoryToPoreOver/images/stpoFBShareBtn.png) 0 0 no-repeat;
	width: 57px;
	height: 18px;
	position: absolute;
	/*top: 257px;
	left: 314px;*/
	z-index: 10;
	top: 234px;
	left: 250px;
	/*top: 25px;
	left: 290px;*/
}
.stpo .userLikes .fbShare:hover {
	background-position: -57px 0;
}
.stpo .RSVPSec,
.stpo .joinEventSec {
	float: left;
	width: 380px;
}
.stpo .RSVPSec h3 {
	margin-left: 20px;
}
.stpo .RSVPSec p {
	margin-top: 10px;
	padding-right: 5px;
	padding-left: 20px;
}
.stpo .joinEventSec {
	width: 400px;
	padding: 203px 0 0 27px;
}
.stpo .stpoEventBtn {
	margin: 20px auto 0;
	position: relative;
	z-index: 10;
}
.stpo .countdownSwatch {
	position: relative;
	height: 190px;
	padding-top: 1px;
	width: 624px;
	margin: -15px auto 15px;
}
.stpo .stpoCountdownSwatchCopy,
.stpo .stpoCountdownDaysCopy,
.stpo .stpoCountdownDayCopy,
.stpo .stpoCountdownZeroDayCopy {
	float: left;
	margin-top: 53px; 
}
.stpo .countdown {
	position: absolute;
	left: 288px;
	z-index: 5;
}
.stpo .stpoCountdownCalendar {
	padding-left: 20px;
	width: 126px;
	/*-webkit-font-smoothing: antialiased;*/
}

.stpo .productBasket {
	float: left;
}
.stpo .productBasket img {
	margin-top: 5px;
}
.stpo .sweepsEntry {
	float: left;
	width: 400px;
}
.stpo .sweepsEntry p {
	margin-top: 10px;
	padding-right: 65px;
}
.stpo .stpoSweepsEntryBtn {
	margin: 20px 0 0 90px;
}

.stpo .spriteCalDay {margin: 78px 0 0 4px; width:81px; height:55px; display:block; overflow:hidden; background-position: -1px -281px; background-repeat: no-repeat;background-image:url(../StoryToPoreOver/images/stpoCalDays.png);}
.stpo .daysLeft0 {background-position: -1px -1px}
.stpo .daysLeft1 {background-position: -83px -1px}
.stpo .daysLeft2 {background-position: -1px -225px}
.stpo .daysLeft3 {background-position: -83px -281px}
.stpo .daysLeft4 {background-position: -165px -281px}
.stpo .daysLeft5 {background-position: -1px -337px}
.stpo .daysLeft6 {background-position: -83px -337px}
.stpo .daysLeft7 {background-position: -165px -337px}
.stpo .daysLeft8 {background-position: -1px -393px}
.stpo .daysLeft9 {background-position: -83px -393px}
.stpo .daysLeft10 {background-position: -165px -1px}
.stpo .daysLeft11 {background-position: -1px -57px}
.stpo .daysLeft12 {background-position: -83px -57px}
.stpo .daysLeft13 {background-position: -165px -57px}
.stpo .daysLeft14 {background-position: -1px -113px}
.stpo .daysLeft15 {background-position: -83px -113px}
.stpo .daysLeft16 {background-position: -165px -113px}
.stpo .daysLeft17 {background-position: -1px -169px}
.stpo .daysLeft18 {background-position: -83px -169px}
.stpo .daysLeft19 {background-position: -165px -169px}
.stpo .daysLeft20 {background-position: -83px -225px}
.stpo .daysLeft21 {background-position: -165px -225px}
.stpo .daysLeft22 {background-position: -1px -281px}


.stpoPhase2 .disclaimer.hide {
	display: none;
}

/*-------------------------*\
    $PHASE2_10am
\*-------------------------*/
.spritePhase2 {display:block; overflow:hidden; background-repeat: no-repeat;background-image:url(../StoryToPoreOver/images/stpoPhase2Tabs.png);}

.stpo10amGetItNowBtn:hover {width:158px; height:41px; background-position: -1px -1px}
.stpo10amGetItNowBtn {width:158px; height:41px; background-position: -160px -1px}
.stpo10amHdr {width:268px; height:104px; background-position: -1px -43px}
.stpo1and3pmHdr {width:263px; height:96px; background-position: -1px -148px}
.stpoDownloadStoryBtn:hover {width:425px; height:58px; background-position: -1px -245px}
.stpoDownloadStoryBtn {width:425px; height:58px; background-position: -1px -304px}
.stpoEnterNowBtn:hover {width:145px; height:41px; background-position: -1px -363px}
.stpoEnterNowBtn {width:145px; height:41px; background-position: -147px -363px}
.stpoTab10amSubHdr {width:357px; height:106px; background-position: -1px -405px}
.stpoTab10amThanksSubHdr {width:336px; height:52px; background-position: -1px -512px}
.stpoTab3pmSubHdr {width:373px; height:90px; background-position: -1px -565px}
.tabs10amInactive {width:162px; height:42px; background-position: -164px -656px}
.tab1000am.active {width:162px; height:42px; background-position: -1px -656px}
.tabs1pmInactive {width:162px; height:42px; background-position: -1px -699px}
.tab0100pm.active {width:162px; height:42px; background-position: -327px -656px}
.tab0100pm.preunlock {width:162px; height:42px; background-position: -1px -699px}
/*.tab0100pm.preunlock {width:162px; height:42px; background-position: -164px -699px}*/
.tabs3pmInactive {width:162px; height:42px; background-position: -1px -742px}
.tab0300pm.active {width:162px; height:42px; background-position: -327px -699px}
.tab0300pm.preunlock {width:162px; height:42px; background-position: -1px -742px}
/*.tab0300pm.preunlock {width:162px; height:42px; background-position: -164px -742px}*/


/*-------------------------*\
    $TABS
\*-------------------------*/
.tabContainer {
	display: block;
	width: 750px;
	position: relative;
	margin: 0 auto;
	padding: 1px 0 10px;
}
.tab, 
.tabPanel {
	margin: 0;
	padding: 0;
}
.tabsHolder {
	overflow: hidden;
	position: relative;
	padding: 45px 0 0 137px;
}
.lt-ie8 .tabsHolder {
	z-index: 10;	
}
.tab {
	display: block;
	float: left;
	position: relative;
	z-index: 1;
	width: 162px;
	height: 42px;
}
.tab a {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
}
.tab .lock {
	display: none;
	cursor: pointer;
}
.tab.preunlock .lock {
	display: block;
	position: absolute;
	top: 2px;
	left: 106px;
	height: 34px;
	width: 35px;
	background: url(../StoryToPoreOver/images/stpoTabLock.png) no-repeat;
	z-index: 20;
}
.tab .tabLabel {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 162px;
	height: 42px;
	margin: -21px 0 0 -81px;
}
.oldie .tabLabel {
	width: 162px;
	height: 42px;
}
.tab.active {
	z-index: 10;
}
.tab.active a { 
	cursor: default;
}
.tabPanels {
	position: relative;
	width: 750px;
}
.tabPanel {
	display: block;
	position: absolute;
	left: -9999px;
	padding: 32px;
	width: 686px;
	z-index: 5;
	zoom: 1;
	min-height: 550px;
	overflow: hidden;
	background: #fff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,.25);
	-moz-box-shadow: 0 0 12px rgba(0,0,0,.25);
	box-shadow: 0 0 12px rgba(0,0,0,.25);
	-pie-png-fix: false;
	behavior: url(../../PIE.htc);
}
.tabPanel.active {
	left: 0;
}

/*-------------------------*\
    $PHASE2_10am
\*-------------------------*/
.stpo .introCopy {
	padding-left: 30px;
	width: 310px;
}
.stpo .introCopy p {
	margin: 20px 0 0;
}/*
.stpo .tabPanel1000am .polaroids {
	background: url(../StoryToPoreOver/images/stpo10amTabBg.jpg) no-repeat;
	margin: 5px 0 0 11px;
	position: relative;
	height: 278px;
	width: 381px;
}*/
.stpo .tabPanel1000am {
	background: #fff url(../StoryToPoreOver/images/stpo10amTabBg.jpg) 41px 295px no-repeat;
}
.stpo .tabPanel1000am img {
	float: right;
	margin-right: 40px;
}
.stpo .stpo10amGetItNowBtn {
	margin: 15px 0 0 75px;
}
.stpo .tabPanel1000am p {
	width: 375px;
	margin: 15px 0;
}

/*-------------------------*\
    $PHASE2_1pm
\*-------------------------*/
.stpo .authorImg {
	position: absolute;
	top: 0;
	left: 350px;
	z-index: 0;
}
.stpo .tabs1and3pm .introCopy {
	width: 375px;
}
.stpo .topSection .introCopy .introPara {
	width: 310px;
}
.stpo .topSection.tabs1and3pm  {
	position: relative;
	z-index: 1;
}
.stpo .downloadPanel {
	margin: 20px 0 0;
}
.stpo .downloadPanel .stpoDownloadStoryBtn {
	margin: 0 auto 15px;
}
.stpo .downloadPanel p {
	font: bold 13px Arial,sans-serif;
	width: 320px;
	margin: 0 auto; 
}
.stpo .downloadPanel a {
	color: #305e98;
}
.stpo .downloadPanel a:hover {
	color: #e90d8e;
}

/*-------------------------*\
    $QUIZ
\*-------------------------*/
.spriteQuiz {display: block; overflow:hidden; background-repeat: no-repeat;background-image:url(../StoryToPoreOver/images/stpoQuiz.png);}

.stpoBookRecoBookends {width:100px; height:134px; background-position: -104px -224px}
.stpoBookRecoDuneRoad {width:100px; height:134px; background-position: -154px -88px}
.stpoBookRecoJemimaJ {width:100px; height:134px; background-position: -256px -88px}
.stpoBookRecoMrMaybe {width:100px; height:134px; background-position: -358px -88px}
.stpoBookRecoSecondChance {width:100px; height:134px; background-position: -2px -224px}
.stpoBookRecoStraightTalking {width:100px; height:134px; background-position: -308px -224px}
.stpoBookRecoTheBeachHouse {width:100px; height:134px; background-position: -206px -224px}
.stpoBookRecoTheOtherWoman {width:100px; height:134px; background-position: -410px -224px}
.stpoQuizNextBtn:hover {width:70px; height:29px; background-position: -2px -2px}
.stpoQuizNextBtn {width:70px; height:29px; background-position: -146px -2px}
.stpoQuizPrevBtn:hover {width:70px; height:29px; background-position: -218px -2px}
.stpoQuizPrevBtn {width:70px; height:29px; background-position: -74px -2px}
.stpoQuizProveItBtn:hover {width:128px; height:41px; background-position: -290px -2px}
.stpoQuizProveItBtn {width:128px; height:41px; background-position: -132px -45px}
.stpoQuizProveItLogo {width:150px; height:43px; background-position: -2px -88px}
.stpoQuizResultsInHdr {width:390px; height:54px; background-position: -2px -420px}
.stpoQuizSubHdr {width:363px; height:58px; background-position: -2px -360px}
.stpoQuizSubmitBtn:hover {width:128px; height:41px; background-position: -262px -45px}
.stpoQuizSubmitBtn {width:128px; height:41px; background-position: -2px -45px}

.stpo .pan100Quiz h5 {
	font: bold 15px Arial,sans-serif;
	margin: 15px 0 0;
}
.stpo .pan100Quiz h5 a {
	color: #e90d8e;
	text-decoration: none;
}
.stpo .pan100Quiz h5 a:hover {
	color: #305e98;
}
.stpo .pan100Quiz p {
	font: 15px Arial,sans-serif;
	margin: 15px 0 0;
}
.stpo .quizQuestionsHdr {
	height: 180px;
}
.stpo .quizAnswerHdr {
	height: 140px;
}

/* Quiz panels */
.stpo .quizHolder {
	position: relative;
}
.stpo .quizHolder .questions {
	position: relative;
	margin: 30px 0 25px;
	height: 160px;
	overflow: hidden;
}
.stpo .quizHolder .questions.results {
	margin-top: 0;
	height: 170px;
}
.stpo .quizHolder .qzPanel {
	position: absolute;
	top: 0;
	left: 105%;
	width: 686px;
}
.stpo .quizHolder .qzPanel.q1 {
	left: 0;
}
.stpo .quizHolder .question li {
	margin: 11px 0 0 15px;
	padding-top: 1px;
} 
.stpo .quizHolder .question h5 {
	font: 18px Arial,sans-serif;
	color: #e90d8e;
}
.stpo .quizHolder .question input {
	margin: 3px 10px 0 0;
} 
.stpo .quizHolder .question label {
	font: 14px/18px Arial,sans-serif;
	color: #555;
}
.stpo .quizHolder .question .error {
	width: 160px;
	position: absolute;
	left: 50%;
	margin-left: -80px;
	top: 120px;
	color: #d10;
	font: 12px Arial,sans-serif;
}

.stpo .quizHolder .quizNav {
	padding: 10px 0;
	width: 750px;
	border: 1px solid #cecaca;
	border-width: 1px 0;
	overflow: hidden;
	margin: 0 0 0 -32px;
}
.stpo .quizHolder .navBtns {
	overflow: hidden;
	margin: 0 auto;
	width: 330px;
}
.stpo .quizHolder .navBtns p, 
.stpo .quizHolder .navBtns a {
	float: left;
}
.stpo .quizHolder .navBtns .stpoQuizPrevBtn {
	visibility: hidden;
}
.stpo .quizHolder .navBtns p {
	margin: 0 30px;
	line-height: 29px;
}
.stpo .quizHolder .stpoQuizSubmitBtn {
	margin: 23px auto 0;
}
.stpo .proveIt {
	width: 750px;
	margin-left: -32px;
	padding-top: 1px;
	border-top: 1px solid #cecaca;
}
.stpo .proveIt h5 {
	margin: 25px auto 0;
}
.stpo .proveIt p {
	margin: 25px auto;
	width: 490px;
	text-align: center;
}
.stpo .proveIt .stpoQuizProveItBtn {
	margin: 40px auto 0;
}
.stpo .result .bookReco {
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 2.5em;
}
.stpo .result .bookReco a {
	float: left;
	margin-right: 45px; 
	position: relative;
	overflow: visible;
	text-decoration: none;
}
.stpo .result .bookReco .last {
	margin-right: 0;
}
.stpo .result .stpoBookRecoDuneRoad,
.stpo .result .stpoBookRecoStraightTalking {
	margin-left: 148px;
}
.stpo .result .stpoBookRecoSecondChance {
	margin-left: 220.5px;
}
.stpo .result .bookReco a span {
	position: absolute;
	bottom: -2em;
	left: -7.5px;
	width: 115px;
	text-align: center;
	font: 14px Arial, sans-serif;
	color: #555;
	white-space: nowrap;
}
.stpo .quizHolder .proveItDisclaimer {
	margin: 40px 10px 0;
	text-align: center;
}

/*-------------------------*\
    $PHASE2_3pm
\*-------------------------*/
.stpo .tabPanel0300pm {
	background: #fff url(../StoryToPoreOver/images/stpoTab3pmBg.jpg) 315px 60px no-repeat;
	height: 550px;
	padding-bottom: 0;
}
.stpo .tabPanel0300pm p {
	width: 290px;
	margin: 20px 0;
}
.stpo .tabPanel0300pm .stpoEnterNowBtn {
	margin-left: 75px;
}

/*-------------------------*\
    $PHASE3_5pm_AND_POST
\*-------------------------*/
.spriteVBC {display:block; overflow:hidden; background-repeat: no-repeat;background-image:url(../StoryToPoreOver/images/stpoVBC.png);}

.stpoHowItWorksHdr {width:364px; height:83px; background-position: -1px -1px}
.stpoHowItWorksPopupClose:hover {width:18px; height:18px; background-position: -366px -1px}
.stpoHowItWorksPopupClose {width:18px; height:18px; background-position: -385px -1px}
.stpoVBCDownloadStoryBtn:hover {width:249px; height:53px; background-position: -1px -85px}
.stpoVBCDownloadStoryBtn {width:249px; height:53px; background-position: -251px -85px}
.stpoVBCEnterNowBtn:hover {width:158px; height:41px; background-position: -1px -139px}
.stpoVBCEnterNowBtn {width:158px; height:41px; background-position: -160px -139px}
.stpoVBCHdr {width:221px; height:88px; background-position: -1px -181px}
.stpoWalkInTheParkSubHdr {width:347px; height:28px; background-position: -1px -270px}

.stpo.phPostLaunchDayContent .userLikes {
	background: url(../StoryToPoreOver/images/stpoLikedPostLaunchBg.jpg) no-repeat;
	height: 1274px;
}
.stpo.phPostLaunchDayContent .introCopy {
	width: 435px;
	margin-top: -19px;
	z-index: 10;
	position: relative;
}
.stpo.phPostLaunchDayContent .topSection .introCopy .introPara {
	width: 290px;
}
.stpo .stpoDivider {
	background: url(../StoryToPoreOver/images/stpoHLine.png) no-repeat;
	height: 5px;
	width: 750px;
	margin: 40px 0 40px 30px;
}
.stpo.phPostLaunchDayContent a {
	color: #e90d8e;
}
.stpo.phPostLaunchDayContent a:hover {
	color: #305e98;
}
.stpo.phPostLaunchDayContent .stpoEnterNowBtn {
	position: absolute;
	top: 243px;
	left: 500px;
}
.stpo.phPostLaunchDayContent .ebookDownload {
	overflow: hidden;
	padding: 64px 30px 0 0;
	margin-top: -64px;
}
.stpo.phPostLaunchDayContent .ebookDownload p {
	margin: 15px 0 0;
}
.stpo.phPostLaunchDayContent .bookCover {
	float: left;
	margin: -64px 15px 0 37px;
}
.stpo.phPostLaunchDayContent .downloadPanel {
	float: left;
	padding: 0 0 0 20px;
}
.stpo.phPostLaunchDayContent .downloadPanel p {
	width: auto;
}

.stpo.phPostLaunchDayContent .pan100Quiz {
	padding-left: 32px;
	margin-top: -20px;
}
.stpo.phPostLaunchDayContent .pan100Quiz .quizQuestionsHdr {
	height: 100px;
}
.stpo.phPostLaunchDayContent .quizHolder .questions,
.stpo.phPostLaunchDayContent .quizHolder .quizNav {
	margin: 0;
}
.stpo.phPostLaunchDayContent .quizHolder .stpoQuizSubmitBtn {
	margin: 15px auto 0;
}
.stpo .howDoesItWorkPopup {
	display: none;
	background: url(../StoryToPoreOver/images/stpoHowItWorksPopupBg.png) no-repeat;
	height: 368px;
	width: 521px;
	padding: 41px 23px 0 47px; 
	position: absolute;
	top: 405px;
	left: 50%;
	margin-left: -295.5px;
	z-index: 1001;
}
.stpo .howDoesItWorkPopupOverlay {
	display: none;
	background: url(../StoryToPoreOver/images/stpoHowItWorksPopupOverlay.png) repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
.stpo .stpoHowItWorksPopupClose {
	position: absolute;
	top: 14px;
	right: 23px;
}
.stpo .howDoesItWorkPopup p {
	margin: 15px 0 0;
	color: #555;
}

/*-------------------------*\
    $PHASE3_FORM
\*-------------------------*/
.stpoFBForm {
	position: relative;
}
.stpoFBForm .fbPhotoPreview {
	position: relative;
	height: 120px;
	width: 115px;
	margin-top: 10px;
	overflow: hidden;
}
.stpoFBForm .fbPhotoPreview img {
	position: absolute;
	top: 0;
	left: 0;
}
.stpoFBForm .selectFromFB {
	display: block;
	background: #fff;
	padding: 3px 8px;
	float: left;
	font: 11px Tahoma,Arial,sans-serif;
	line-height: 12px;
	color: #555;
	text-decoration: none;
	width: 180px;
	text-align: center;
	border: 1px solid #999;
	margin: 3px 0 0 125px;
	position: relative;
	top: 20px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #979797;
}
.stpoFBForm .selectFromFB:hover {
	background: #ddd;
	color: #222;
	box-shadow: 1px 1px 1px #979797;
}


.stpoFBForm .howDoesItWorkPopupOverlay {
	display: none;
	background: url(../StoryToPoreOver/images/stpoHowItWorksPopupOverlay.png) repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
.stpoFBForm .selectPhotoWrap {
	display: none;
	background: url(../StoryToPoreOver/images/stpoSelectPhotoBg.jpg) no-repeat;
	height: 278px;
	width: 571px;
	padding: 25px 20px;
	position: absolute;
	top: 760px;
	left: 50%;
	margin-left: -305.5px;
	z-index: 1001;
	border-radius: 5px;
	box-shadow: 3px 3px 7px #575757;
}
.stpoFBForm .selectPhotoWrap h3 {
	font: bold 14px Arial,sans-serif;
	color: #1b78b8;
}
.stpoFBForm .albumWrap {
	margin: 25px 0 15px;
	overflow: hidden;
}
.stpoFBForm .albumWrap p {
	line-height: 26px;
	height: 26px;
	font: bold 13px Arial,sans-serif;
	color: #333;
	margin: 0 0 13px;
}
.stpoFBForm .imageWrap {
	height: 170px;
}
.stpoFBForm .imageWrap ul {
	overflow-x: hidden;
	overflow-y: auto;
	height: 162px;
	padding: 4px 0;
}
.ie7 .stpoFBForm .imageWrap ul {
	position: relative;
}
.stpoFBForm .imageWrap h3 {
	padding: 15px 0 0 25px;
}
.stpoFBForm .imageWrap li {
	width: 75px;
	height: 75px;
	float: left;
	margin: 0 0 15px 15px;
	overflow: hidden;
}
.stpoFBForm .imageWrap a {
	display: block;
	width: 75px;
	height: 75px;
	position: relative;
	overflow: hidden;
}
.stpoFBForm .imageWrap .selected a {
	border: 4px solid #cecece;
	border-radius: 4px;
	width: 67px;
	height: 67px;
	overflow: hidden;
}
.stpoFBForm .selectPhotoWrap .actions a {
	font: bold 12px Arial,sans-serif;
	color: #1b78b8;
	text-transform: uppercase;
	text-decoration: underline;
	float: right;
	line-height: 26px;
}
.stpoFBForm .selectPhotoWrap .actions .selectFBImageBtn {
	display: block;
	overflow: hidden;
	background: url(../StoryToPoreOver/images/stpoSelectPhotoBtn.png) 0 0 no-repeat;
	text-decoration: none;
	text-align: center;
	width: 79px;
	height: 26px;
	text-indent: 105%;
	margin-right: 15px;
}
.stpoFBForm .selectPhotoWrap .actions .selectFBImageBtn:hover {
	background-position: -79px 0;
}


/* Interim Phase */
.spriteInt {display:block; overflow:hidden; background-repeat: no-repeat;background-image:url(../StoryToPoreOver/images/stpoInterim.png);}

.stpoBehindTheScenes {width:232px; height:103px; background-position: -1px -167px}
.stpoClubTipsHdr {width:373px; height:57px; background-position: -1px -43px}
.stpoGetTipsBtn:hover {width:127px; height:41px; background-position: -1px -1px}
.stpoGetTipsBtn {width:127px; height:41px; background-position: -129px -1px}
.stpoStartBookClubHdr {width:322px; height:65px; background-position: -1px -101px}

.stpo.phInterimContent .userLikes {
	background: url(../StoryToPoreOver/images/stpoInterimBg.jpg) no-repeat 0 30px;
	height: 1899px;
}
.stpo.phInterimContent .topSection p {
	width: 319px;
}
.stpo.phInterimContent .behindTheScenes {
	overflow: hidden;
	padding-left: 69px;
	margin: -17px 0 -20px;
}
.stpo.phInterimContent .stpoBehindTheScenes {
	margin: 64px 0 10px;
}
.stpo.phInterimContent .videoContainer {
	float: right;
	margin: 0 32px 0 0;
	height: 378px;
	width: 442px;
}
.stpo.phInterimContent .videoHolder {
	position: relative;
	margin: 0 29px 16px;
	height: 309px;
	width: 384px;
	background: url(../StoryToPoreOver/images/stpoWatchVideoBg.jpg) no-repeat;
}
.stpo.phInterimContent .videoHolder a {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../StoryToPoreOver/images/btnWatchVideo.png) no-repeat 50% 54%;
}
.stpo.phInterimContent .watchButton {
	position: relative;
	background: url(../StoryToPoreOver/images/btnWatchVideo.png) no-repeat;	
}
.stpo.phInterimContent .videoContainer li {
	float: left;
}
.stpo.phInterimContent .videoContainer ul li a {
	display: block;
	height: 38px;
	width: 107px;
	background: url(../StoryToPoreOver/images/videoButtons.png) no-repeat;
}
.stpo.phInterimContent .videoContainer ul li a.vid2 {
	width: 103px;
	background-position: -107px 0;
}
.stpo.phInterimContent .videoContainer ul li a.vid3 {
	width: 121px;
	background-position: -210px 0;
}
.stpo.phInterimContent .videoContainer ul li a.vid4 {
	width: 111px;
	background-position: -331px 0;
}
.stpo.phInterimContent .videoContainer ul li a.selected {
	cursor: default;
}
.stpo.phInterimContent .videoContainer ul li a:hover, .stpo.phInterimContent .videoContainer ul li a.vid1.selected {
	background-position: 0 -38px;
}
.stpo.phInterimContent .videoContainer ul li a.vid2:hover, .stpo.phInterimContent .videoContainer ul li a.vid2.selected {
	background-position: -107px -38px;
}
.stpo.phInterimContent .videoContainer ul li a.vid3:hover, .stpo.phInterimContent .videoContainer ul li a.vid3.selected {
	background-position: -210px -38px;
}
.stpo.phInterimContent .videoContainer ul li a.vid4:hover, .stpo.phInterimContent .videoContainer ul li a.vid4.selected {
	background-position: -331px -38px;
}
.stpo.phInterimContent .lbVideo {
	height: 216px;
	width: 384px;
}
.stpo.phInterimContent .startBookClub {
	overflow: hidden;
	margin: -77px 0 -24px;
	padding: 60px 30px 0 0;
}
.stpo.phInterimContent .startBookClub img {
	margin: -60px 10px 0 0;
	float: left;
}
.stpo.phInterimContent .stpoStartBookClubHdr {
	margin: 22px 0 20px;
}
.stpo.phInterimContent .startBookClub p {
	padding: 0 61px 45px 0;
}
.stpo.phInterimContent .startBookClub .stpoGetTipsBtn {
	float: right;
	margin: 0 70px 0 0;
}
.stpo.phInterimContent .howDoesItWorkPopup {
	background: #fff;
	height: auto;
	padding: 35px;
	top: 1200px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 2px 10px 2px #373737;
	-moz-box-shadow: 0 2px 10px 2px #373737;
	box-shadow: 0 2px 10px 2px #373737;
}
.stpo.phInterimContent .howDoesItWorkPopup h5 {
	margin: 20px 0 3px; 
}
.stpo.phInterimContent .howDoesItWorkPopup p {
	margin: 3px 15px 10px 0;
}
.stpo.phInterimContent .howDoesItWorkPopup ul {
	list-style: disc;
	padding-left: 30px;
}
.stpo.phInterimContent .howDoesItWorkPopup li {
	margin: 3px 0 10px;
}
.stpo.phInterimContent .howDoesItWorkPopup .btmCtA {
	text-align: center;
}
.stpo.phPostLaunchDayContent .pan100Quiz {
	margin-top: 10px;
}
