﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PriceSpider.ascx.cs" Inherits="Biore2012.buynow.PriceSpider" %>
<meta name="ps-key" content="1804-58afa2e37c27927a6722e2e8">
<meta name="ps-country" content="CA">
<meta name="ps-language" content="en">
<script src="//cdn.pricespider.com/1/lib/ps-widget.js" async></script>

