﻿/* theater styles */
#theater {
	
    margin:0 auto;
    width: 100%;
     
}
.fma1Product {
padding-top: 50px;
}
.fma1FindWrapper
{
    width:100%;
    max-width:205px;
    margin:0 auto;
    display:inline-block;
}
.home {
    color: #1f254a;
}

    .home main {
        height: 911px;
    }

  .home #mainContent {
      height: 900px;
        overflow: hidden;
    }
#theaterItem2 h1
{
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    color:#ffffff;
    font-size:80px;
}
#theaterItem2 h1 span
{
    font-size:100px;
}
#theaterItem2 h1
{
    font-size:50px;
	margin-top:15px;
}
#theaterItem2 h1 span
{
    font-size:100px;
}
.ruleBG
{
    position:relative;
    top:-72px;
    width:100%;
    max-width:890px;
    height:2px;
    margin:0 auto;
    background: url(../images/whereToBuy/wtbHeaderRule.png) repeat-y center 0;
    background-size:cover;
}
#theaterItem2 .c2 {
    height:15%;
}
#theaterItem2 .c3 {
    font-size: 20px;
    text-transform: uppercase;
    height: 4%;
    font-family: ProximaNova-Regular;
    font-weight:bold;
}
#theaterItem2 .c4
{
    font-family: 'Archer A', 'Archer B';
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    height:5%;
}
#theaterItem2 .c5
{
    font-size: 15px;
    text-transform: uppercase;
    height: 4%;
    padding-bottom:3%;
    font-family: ProximaNova-Regular;
    font-weight:bold;
}
#theaterItem2 .c6 {
    height: 20%;
    padding-bottom:5%;
}
#mobileFMA
{
    display:none;
}
.NTable
{
    display:table;
}
.NRow
{
    display:table-row;
}
.NCell
{
    display:table-cell;
}
#theaterItem2 {
    height: 101%;
}
#theaterItem2 .NTable
{
    width:100%;
    height:100%;
    background:#fe547c;
}
#theaterItem2 .NCell
{
    text-align:center;
    vertical-align:middle;
    color:white;
}
.ie8 #theaterItem2 .NCell
{
    text-align:center;
    vertical-align:top;
    color:white;
}
#theaterItem2 .NCell a
{
    display:block;
    max-width:269px;
    width:100%;
    margin:0 auto;

}
#theaterItem3,.slides,#theater
{
    height:100%;
}
.r1
{
    height: 15%;
}
 /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
    display: none;
}

.theaterHolder{
    min-width:320px;
    margin:0px auto;
}

  #theaterItem1 {
        background-color:#092349;
    } 

    #theaterItem3 {
        background-color:#73ba2e;
    } 


#pagerWrapper{
    width:60px; /* 160px for 2 , 240px for 3 , 320px for 4 */
    position:absolute;
}

.home #pagerWrapper {
    margin: -25px auto 0 auto;
    position: relative;
    width: 60px;
}

#pager{
    overflow:hidden;
}

#pager li{
    float:left;
}

.fma1Find:hover
{
    background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 247px 19px white;
    border:3px solid #FAEA25;
    width:259px;
    height:29px;
    padding: 22px 0 0 21px;
}

#pager {

}

#pager a{
    width:20px;
    float:left;
    height:20px;
    text-indent:-9000px;
    cursor:pointer;
    margin:0px 0px 10px 0px;
    background: url(../images/fmas/bullet.png) no-repeat;
}

#pager a.active,
.notouch #pager a:hover{
    background-position: 0px -20px;
}

#theaterItem2 img {
width: 100%;
max-width: 882px;
max-height:455px;
}
.fma3Face {
background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 226px 22px #FAEA25;
    color: #22244A;
    float: left;
    font-family: ProximaNova-Bold;
    font-size: 19px;
    font-weight: bold;
    height: 35px;
    line-height: 14px;
    padding: 25px 0 0 24px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 245px;
}
.fma3Face:hover {
background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 223px 19px white;
    color: #22244A;
    border:#FAEA25 3px solid;
    padding: 22px 0 0 21px;
    width: 242px;
    height: 32px;
}
.theaterBox{
    position:relative;
    filter:inherit;
    margin:0 auto;
    max-width:990px;
    width:100%;
}

#mainContent .theaterBox h1{
    display:none;
}

.theaterHolder a img{
    width:100%;
    left:0%;
    top:0px;
    position:absolute;
}

#promoHolder{
    max-width:990px;
    margin:0 auto;
    overflow:hidden;
    width:100%;
}

#theaterDisclaimer{
    color: #999;
    max-width:905px;
    padding: 2px 8%;
    margin:25px auto 0;
    font-size:11px;
    overflow:hidden;
    width:84%;
}

.promo{
    font:14px arial, sans-serif;
    overflow:hidden;
}

.promoContent{
    float:left;
    width:56%;
}

#promo3 .promoContent{
    padding-left:4%;
    width:51%;
}

.promoImage{
    float:left;
    width:44%;
    margin:0;
}

.promoImage img{
    width:100%;
}

.promoHeader{
    padding:30px 0 10px;
    color:#1160a5; 
    font-size:16px;
    text-transform:uppercase;
}

.promoBody{	
    padding-bottom:3px;
} 

.promoButton{
    position:relative;
    left:-15px;
    float:right;
    min-width:165px;
}



/* end theater styles */

.fma1Intro {
    font-family: ProximaNova-Light;
    color:#ffffff;
    margin-bottom:5px;
    display:inline-block;
}

.fma1Char {
    font-family: ProximaNova-Bold;
    color:#474748;
}

.fma1New {
    font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
    color:#ffffff;
    font-size:66px;
}

.fma1From {
    font-family: ProximaNova-Light;
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 5px;
    display: inline-block;
    margin-top:5px;
}

.fma1Find {
    background: url("../../en-us/images/fmas/moreArrow.png") no-repeat 250px 22px;
    color: #22244A;
    float: left;
    font-size: 26px;
    font-weight: bold;
    height: 35px;
    line-height: 14px;
    margin: 80px 10px 5px 32%;
    padding: 25px 0 0 15px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 284px;
    background-color:#faea25;
    font-family: ProximaNova-Bold;
}
    .fma2Bubbles {
        background: url("../../images/fmas/fma2Bubbles.png") no-repeat scroll 0 0;
        margin: 69px auto 0 auto;
        max-width: 770px;
        height: auto;
        text-align: center;
        text-transform: uppercase;
        width: 90%;
        background-size:contain;
    }
    .fma2Prove
{
    max-width: 348px;
    width: 45%;
    margin:0 auto;
}
.fma2Prove img {
    display:block;
    margin: -46px auto 0 auto;
    max-height: 50%;
    padding-top: 45px;
    text-align: center;
    max-width: 348px;
    width:100%;
}
.fma1Product img {
    display: block;
    margin: 0 auto;
    max-height: 668px;
    max-width: 990px !important;
    width: 100%;
}
.fma2HowWrap {
        text-align:center;
        margin: 20px auto 0 auto;
        max-width: 590px;
        width: 100%;
        display:table;
}
.fma2row
{
    display: table-row;
}
    .fma1headline {
    background: url(../../en-us/images/fmas/fma1Rules.png) -59px -3px no-repeat;
    text-transform:uppercase;
    text-align:center;
    margin: 0 auto;
    max-height: 112px;
    max-width: 990px !important;
    width: 63%;
}
#theaterItem3 a
{
    margin: 0 auto;
    width: 500px;
    display: block;
}
#responseRule {
    background: url(../images/ourProducts/productsResponseRule.jpg);
    width: 511px;
    height: 2px;
    margin: -56px auto 0 auto;
    display:none;
}
#theaterItem2 img.strikeOut
{
    display:inline-block;
    width:inherit;
    padding: 5px;
    vertical-align: middle;
    width:15%;
    max-width:182px;
}

/*  Mobile Portrait 320x480 */
@media all and (max-width:479px){
    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        margin-top:0px;
        font-size:17px;
    }

     #responseRule {
        display:block;
        width: 224px;
        margin: -15px auto 0 auto;
    }
     .ruleBG
    {
        display: none;
    }
    #pager {

    }
    #theaterItem2 .NCell a {
        max-width: 229px;
        width: 100%;
        margin: 0 auto;
    }
     .fma3Face {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 192px 17px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 16px;
        font-weight: bold;
        height: 25px;
        line-height: 4px;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 205px;
    }
     .theaterHolder{
        margin:0 auto;
    }

     .fma1headline {
        background: none;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-width: 990px !important;
        width: 80%;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:19px;
        padding-top:0px;
        float:none;
        line-height: 0px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .fma1FindWrapper
    {
        width:205px;
        margin:0 auto;
        display:inline-block;
    }
    .fma1Find {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 173px 11px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        line-height: 14px;
        margin: 12px 0 5px 0;
        padding: 14px 0 5px 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 190px;
    }

     .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:24px;
        color:#ffffff;
        line-height:0;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
        padding-top:50px;
    }
        .home #footer {
            margin-top: -10px;
        }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:21px;
        color:#ffffff;
        width:230px;
        line-height:14px;
        letter-spacing:-2px;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 37px;
        display: table-cell;
        text-transform: uppercase;
        color:#00427a;
        vertical-align: middle;
    }
    #mobileFMA
    {
        display: table-row;
    }
    #fma2List
    {
        display:none;
    }
    #fma2ListM {
        color: #00427A;
        display: table-cell;
        font-family: ProximaNova-Regular;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        min-width:175px;
        vertical-align: middle;
        padding:7px;
    }

    .fma2HowWrap
    {
        max-width: 340px;
    }
    .fma2Face {
            background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 232px 9px #FAEA25;
            color: #22244A;
            float: left;
            font-family: ProximaNova-Bold;
            font-size: 12px;
            font-weight: bold;
            height: 24px;
            line-height: 14px;
            margin-top: 4px;
            padding: 11px 0 0 15px;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            width: 252px;
    }
    #theaterItem3 a {
        width: 267px;
    }
     
    #theaterItem1 img{
        width:100%;
        max-width:990px !important; 
        max-height:575px;
        display:block; 
        margin:0 auto; 
    }

   

     #theaterItem3 {
        background-color:#73ba2e;
    }

      #theaterItem1 {
        background-color:#092349;
    }


     .promo{
        margin:0 auto; 
        width:300px;
    }


   .home #mainContent {
        height: 510px;
    }



   .fmaListOneLine li {
        width: 100px;
        float:left;
    }

    .fmaListOneLineSpacer {
        margin-left: 34px;
    }
    .home #main {
        margin-top: 0px;
        position: relative;
    }
    #theaterItem2 h1
    {
        font-size:25px;
    }
    #theaterItem2 h1 span
    {
        font-size:42px;
    }
    #theaterItem2 > div > div:nth-child(3) > div {
        font-size:16px;
    }
    #theaterItem2 > div > div:nth-child(4) > div {
        font-size:29px;
    }
    #theaterItem2 > div > div:nth-child(5) > div {
        font-size:12px;
    }
    #theaterItem2 img.strikeOut
    {

        width:14%;
    }
    .fma1Find:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 170px 8px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 17px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 11px 0 5px 12px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 187px;
        border:#FAEA25 3px solid;
    }
        .fma2Face:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 229px 6px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 21px;
        line-height: 14px;
        margin-top: 4px;
        padding: 8px 0 0 12px;
        text-align: left;
        width: 249px;
        border:#FAEF25 3px solid;
    }
    .fma3Face:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 189px 14px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 22px;
        font-weight: bold;
        height: 22px;
        line-height: 4px;
        padding: 22px 0 0 21px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 202px;
        border:#FAEA25 3px solid;
    }
}
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px){
    #responseRule {
        display:block;
        width: 443px;
    } 
    .ruleBG
    {
        display: none;
    }
    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        margin-top:0px;
        font-size:15px;
    }
    #theaterItem2 .NCell a {
        max-width: 229px;
        width: 100%;
        margin: 0 auto;
    }
     .fma3Face {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 192px 16px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 15px;
        font-weight: bold;
        height: 25px;
        line-height: 4px;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 205px;
    }
     .fma3Face:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 189px 13px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 22px;
        font-weight: bold;
        height: 22px;
        line-height: 4px;
        padding: 22px 0 0 21px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 202px;
        border:#FAEA25 3px solid;
    }
     .theaterHolder{
        margin:0 auto;
    }

     .fma1headline {
        background: none;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-width: 990px !important;
        width: 460px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:16px;
        padding-top:0px;
        float:none;
        line-height: 0px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 0px;
    }

    .fma1Find {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 173px 11px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 14px 0 5px 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 190px;
    }

     .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:36px;
        color:#ffffff;
        line-height:11px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 460px;
        padding-top:50px;
    }
        .home #footer {
            margin-top: -10px;
        }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:31px;
        color:#ffffff;
        width:230px;
        line-height:14px;
        letter-spacing:-2px;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 460px;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 37px;
        display: table-cell;
        text-transform: uppercase;
        color:#00427a;
        vertical-align: middle;
    }

    #fma2List {
      color: #00427A;
        display: table-cell;
        font-family: ProximaNova-Regular;
        font-size: 12px;
        line-height: 11px;
        text-align: left;
        text-transform: uppercase;
        min-width:187px;
        vertical-align: middle;
        padding-top: 10px;
    }

    .fma2Face {
            background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 232px 9px #FAEA25;
            color: #22244A;
            float: left;
            font-family: ProximaNova-Bold;
            font-size: 12px;
            font-weight: bold;
            height: 24px;
            line-height: 14px;
            margin-top: 4px;
            padding: 11px 0 0 15px;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            width: 252px;
    }
    .fma2Face:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 229px 6px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 21px;
        line-height: 14px;
        margin-top: 4px;
        padding: 8px 0 0 12px;
        text-align: left;
        width: 249px;
        border:#FAEF25 3px solid;
    }
     
    #theaterItem1 img{
        width:100%;
        max-width:990px !important; 
        max-height:575px;
        display:block; 
        margin:0 auto; 
    }

   

     #theaterItem3 {
        background-color:#73ba2e;
    }

      #theaterItem1 {
        background-color:#092349;
    }


     .promo{
        margin:0 auto; 
        width:300px;
    }

   .home #mainContent {
       height:660px;
    }


   .fmaListOneLine li {
        width: 100px;
        float:left;
    }

    .fmaListOneLineSpacer {
        margin-left: 34px;
    }
    .home #main {
        margin-top: 0px;
        position: relative;
    }
    #theaterItem3 a {
        width: 267px;
    }
    .fma2HowWrap
    {
        max-width: 370px;
        padding-bottom: 20px;
    }
    #theaterItem2 h1
    {
        font-size:35px;
		margin-top:-30px;
    }
    #theaterItem2 h1 span
    {
        font-size:80px;
    }

    #theaterItem2 > div > div:nth-child(4) > div {
        font-size:39px;
    }
    .fma1Find:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 173px 11px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 17px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 11px 0 5px 12px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 187px;
        border:#FAEA25 3px solid;
    }
} 
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 */
@media all and (min-width:600px) and (max-width:767px){    
    #responseRule {
        display:block;
    }
    .ruleBG
    {
        display: none;
    }
     
    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        margin-top:-11px;
         font-size:32px;
    }
    .theaterHolder{
        margin:0 auto;
    }

     .fma1headline {
        background: none;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 56px;
        max-width: 990px !important;
        width: 600px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:33px;
        margin-top:-18px;
        float:none;
        line-height: 12px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 16px;
        margin-bottom: 5px;
        margin-top: 6px;
    }

    .fma1Find {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 173px 11px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 14px 0 5px 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 190px;
    }
    .fma1Find:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 170px 8px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 17px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 11px 0 5px 12px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 187px;
        border:#FAEA25 3px solid;
    }


     .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:53px;
        color:#ffffff;
        line-height:36px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 580px;
        padding-top:50px;
    }


    #footer ul {
        margin-top: 11px;
    }


    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:46px;
        color:#ffffff;
        line-height:14px;
        letter-spacing:-2px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 580px;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
        display: table-cell;
        text-transform: uppercase;
        color:#00427a;
        vertical-align: middle;
    }

    #fma2List {
        color: #00427A;
        display: table-cell;
        font-family: ProximaNova-Regular;
        font-size: 15px;
        line-height: 16px;
        text-align: left;
        text-transform: uppercase;
        vertical-align: middle;
        padding-top: 10px;
    }

    .fmaListOneLine li {
        width: 100px;
        float:left;
    }

    .fmaListOneLineSpacer {
        margin-left: 20px;
    }

    .fma2Face {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 314px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 18px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin-top: 20px;
        padding: 25px 0 0 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
         width: 330px;
    }
    .fma2Face:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 311px 19px white;

        height: 33px;
        padding: 22px 0 0 12px;
        width: 327px;
        border:#FAEF25 3px solid;
    }
    .promo{ 
        max-width:300px;
        width:31%;
        float:right;
        margin-right:2%;
    }

    .promoImage{    
        margin-bottom:20px;
    }

    #footer .centeringDiv {  
        overflow: visible;
        padding: 12px 10px 5px 20px;
    }
   
   .home #mainContent {
        height: 740px;
    }
    .home #main
    {
        margin-top: 0px;
        position: relative;
    }
   #theaterItem3 a {
        width: 365px;
    }
   .fma2HowWrap {
        max-width: 470px;
    }
   #theaterItem2 h1
    {
        font-size:40px;
		margin-top:-30px;
    }
    #theaterItem2 h1 span
    {
        font-size:90px;
    }
    #theaterItem2 > div > div:nth-child(4) > div {
        font-size:49px;
    }
} 
/*  Tablet Portrait 768x1024 */
@media all and (min-width:768px) and (max-width:1023px){ 

   .theaterHolder p{
        font-size:16px;
        line-height:19px;
    }

    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        
        margin-top:-11px;
        font-size:32px;
    }

     .fma1headline {
        text-transform:uppercase;
        text-align:center;
        margin: -35px auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 751px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:58px;
        margin-top:-10px;
        line-height:32px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 21px;
        margin-bottom: 5px;
        margin-top: 6px;
    }

    .fma1Find {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 250px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin: 25px auto 5px auto;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 265px;
    }
    .fma1Find:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 247px 19px white;
        padding: 22px 0 0 21px;
        border:#FAEA25 3px solid;
        height: 32px;
         width: 262px;
        
    }
    .fma1FindWrapper
    {
        max-width:290px;
    }
    .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:65px;
        color:#ffffff;
        line-height:50px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 760px;
        padding-top:50px;
    }

    .fmaListOneLine li {
        float: none;
        width: 300px;
    }
    .fmaListOneLineSpacer {
        margin-left: 0px;
    }

    .home #footer ul{
        margin-top: 16px;
    }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:56px;
        color:#ffffff;
        line-height:14px;
        letter-spacing:-2px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 760px;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        float: left;
        display: inline-block;
        text-transform: uppercase;
        color:#00427a;
        vertical-align: middle;
    }

    #fma2List {
      color: #00427A;
        display: table-cell;
        font-family: ProximaNova-Regular;
        font-size: 18px;
        line-height: 19px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing:1px;
        vertical-align: middle;
        padding-top: 10px;
    }

    .fma2Face {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 453px 19px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 26px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin-top: 42px;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 475px;
    }
        .fma2Face:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 453px 19px white;
        height: 33px;
        padding: 22px 0 0 21px;
        width: 472px;
        border:#FAEA25 3px solid;

    }
    #theaterItem1 img {
        display: block;
        margin: 0 auto;
        max-height: 575px;
        max-width: 900px !important;
        width: 100%;
    }

} /* End Large */
/* Tablet Landscape 1024x768 &&  Desktop 1200x1024 */
@media all and (min-width:1024px){ 
    
     .theaterHolder p{
        font-size:16px;
        line-height:19px;
    }

    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        
        margin-top:-11px;
        font-size:32px;
    }

     .fma1headline {
        text-transform:uppercase;
        text-align:center;
        margin: -35px auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 751px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:58px;
        margin-top:-10px;
        line-height:32px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 21px;
        margin-bottom: 5px;
        margin-top: 6px;
    }

    .fma1Find {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 250px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin: 25px auto 45px auto;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 265px;
    }
    .fma1Find:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 247px 19px white;
        color: #22244A;
        height: 32px;
        width: 262px;
        padding: 22px 0 0 21px;
        border: 3px solid #FAEA25;
    }
    .fma1FindWrapper {
        max-width: 290px;
    }
    .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:64px;
        color:#ffffff;
        line-height:50px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 760px;
        padding-top:50px;
    }

    .fmaListOneLine li {
        float: none;
        width: 300px;
    }
    .fmaListOneLineSpacer {
        margin-left: 0px;
    }

    .home #footer {
    }

    .home #footer ul{
        margin-top: 16px;
    }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:56px;
        color:#ffffff;
        line-height:14px;
        letter-spacing:-2px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 760px;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        display: table-cell;
        text-transform: uppercase;
        color:#00427a;
        vertical-align: middle;
    }

    #fma2List {
      color: #00427A;
        display: table-cell;
        font-family: ProximaNova-Regular;
        font-size: 18px;
        line-height: 19px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing:1px;
        vertical-align: middle;
        padding-top: 10px;
    }

    .fma2Face {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 456px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 26px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin-top: 42px;
        margin-bottom: 42px;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 475px;
    }
    .fma2Face:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 453px 19px white;
        height: 33px;
        padding: 22px 0 0 21px;
        width: 472px;
        border:#FAEA25 3px solid;
    }

    #theaterItem1 img {
        display: block;
        margin: 0 auto;
        max-height: 575px;
        max-width: 990px;
        width: 103%;
    }
    .ruleBG
{
    position:relative;
    top:-78px;
    width:100%;
    max-width:890px;
    height:2px;
    margin:0 auto;
    background: url(../images/whereToBuy/wtbHeaderRule.png) repeat-y center 0;
    background-size:cover;
}
}


 #theaterItem1{background: url(../images/home/image003.png) repeat #092349; clear:both;height: 100%;padding-top:230px;}
#theaterItem2 img { 
    display: block;
    margin: 0 auto;
    max-height: 575px;
    max-width: 990px;
    width: 103%;
}


    /*/#theaterItem1{background-color: #092349; clear:both;height: 100%;}*/
    #theaterItem2{background: url(../images/home/image003.png) repeat #092349; clear:both;height: 100%;}
#theaterItem2 img { 
    display: block;
    margin: 0 auto;
    max-height: 575px;
    max-width: 990px;
    width: 103%;
}
    #theaterItem3{background-color: #b8dbf2; clear:both;}
    #theaterItem2Wrapper{background-color: #b8dbf2; clear:both;}
    #theaterItem4{background: url(../images/home/theater4EdgesBg.jpg) no-repeat top center;}
    #theaterItem5{background: url(../images/home/theater5EdgesBg.jpg) no-repeat top center;}
    #theaterItem6{background: url(../images/home/theater6EdgesBg.jpg) no-repeat top center;}





