﻿/*Fix floats class*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* theater styles */
#theater {
	
    margin:0 auto;
    width: 100%;
     
}
.fma1Product {
padding-top: 0px;
}
.fma1FindWrapper
{
    width:100%;
    max-width:205px;
    margin:0 auto;
    display:inline-block;
}
.home {
    color: #1f254a;
}

    .home main {
        height: 911px;
    }

  .home #mainContent {
        /*height: 900px;*/
        height:720px;
        overflow: hidden;
    }


#theaterItemHazteBarra {
    background-color: #002351;
}

#theaterItemHazteBarra .fma1Product .wrapperItem {
    margin:0% auto;
    text-align:center;
    min-height:1000px;
    padding: 0% 0;
}

    #theaterItemHazteBarra img {
        /*width:100%;
*/
    }

#theaterItemHazteBarra .desktop{
    display:none;
}

    #theaterItemHazteBarra .rulestext {
        width:50%;
        margin:0px auto;
        color:#FFF;
    }

        #theaterItemHazteBarra .rulestext p {
            font-size:10px !important;
        }
        #theaterItemHazteBarra .rulestext p a {
            color:#FFF;
        }

/* Susan G Komen */

#theaterItem4 
{
   color: #e30573 !important;
}

#theaterItem4 h1
{
    font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    color:#e30574;
    font-size:50px;
	text-align: center;
	text-transform: uppercase;
	padding-top:0.5em;
}

.ruleBG2
{
    position:relative;
    top:0px;
    width:100%;
    max-width:623px;
    height:2px;
    margin:0 auto;
    background: url(../images/fmas/PinkProject_rule.png) repeat-y center 0;
    background-size:100% 100%;
}

#theaterItem4 .c2 {
    font-family: 'Archer A', 'Archer B';
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
	line-height: 32px;
	height:4%;
	padding: 0.5em 2.3em;
}
#theaterItem4 .c3 {
    height:15%;

}
#theaterItem4 .c4
{
    font-family: 'Archer A', 'Archer B';
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
		line-height: 34px;
    height:5%;
    padding: 10px 120px;

}
#theaterItem4 .c5
{
    font-family: ProximaNova-Regular;
    font-weight:normal;
    font-size: 1.4em;
    color: #e30574;
    display: inline-block;
	height: 4%; /*margin-top: -40px; margin-bottom: 40px;*/
	padding:20px 180px;

}
#theaterItem4 .c6 {
    height: 20%;
    padding-bottom:5%;
}
#theaterItem4 {
    height: 101%;
}
#theaterItem4 .NTable
{
    width:100%;
    height:100%;
}
#theaterItem4 .pinkBubbles {
	background: url(../images/fmas/PinkProject_Bubbles.png) no-repeat top center #fff;
	height: 100%;
	background-size: cover;
}

#theaterItem4 .pinkBubbles .komenContainer{
	max-width:1000px;
	text-align:center;
	margin: 0 auto;
	
}

#theaterItem4 .NCell
{
    text-align:center;
    vertical-align:middle;
    color:#e30573;
	padding: 12px;
}
.ie8 #theaterItem4 .NCell
{
    text-align:center;
    vertical-align:top;
    color:#e30573;
	padding: 12px;

}
#theaterItem4 .NCell a
{
    display:block;
   margin: 0 auto;
}


#theaterItem2 h1
{
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    color:#ffffff;
    font-size:55px;
}
#theaterItem2 h1 span
{
    font-size:100px;
}
#theaterItem2 h1
{
    font-size:55px;
}
#theaterItem2 h1 span
{
    font-size:100px;
}
.ruleBG
{
    position:relative;
    top:-72px;
    width:100%;
    max-width:890px;
    height:2px;
    margin:0 auto;
    background: url(../images/whereToBuy/wtbHeaderRule.png) repeat-y center 0;
    background-size:cover;
}
#theaterItem2 .c2 {
    height:15%;
}
#theaterItem2 .c3 {
    font-size: 20px;
    text-transform: uppercase;
    height: 4%;
    font-family: ProximaNova-Regular;
    font-weight:bold;
}
#theaterItem2 .c4
{
    font-family: 'Archer A', 'Archer B';
    font-weight: 600;
    font-style: normal;
    font-size: 59px;
    height:5%;
}
#theaterItem2 .c5
{
    font-size: 20px;
    text-transform: uppercase;
    height: 4%;
    padding-bottom:3%;
    font-family: ProximaNova-Regular;
    font-weight:bold;
}
#theaterItem2 .c6 {
    height: 20%;
    padding-bottom:5%;
}

#mobileFMA
{
    display:none;
}

#theaterItem2 {
    height: 101%;
}
#theaterItem2 .NTable
{
    width:100%;
    height:100%;
    background:#fe547c;
}
#theaterItem2 .NCell
{
    text-align:center;
    vertical-align:middle;
    color:white;
}
.ie8 #theaterItem2 .NCell
{
    text-align:center;
    vertical-align:top;
    color:white;
}
#theaterItem2 .NCell a
{
    display:block;
    max-width:325px;
    width:100%;
    margin:0 auto;

}

#theaterItem3,.slides,#theater
{
    height:100%;
}
.r1
{
    height: 15%;
}
 /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
    display: none;
}

.theaterHolder{
    min-width:320px;
    margin:0px auto;
}

  #theaterItem1 {
        background-color:#7ad045;
    }  

    #theaterItem3 {
        background-color:#1d1c1f;
    } 
	
	#theaterItem4 {
        background-color:#fff;
    } 
	

#pagerWrapper{
    width:60px; /* 160px for 2 , 240px for 3 , 320px for 4 */
    position:absolute;
}

.home #pagerWrapper {
    margin: -25px auto 0 auto;
    position: relative;
    width: 80px;
}

#pager{
    overflow:hidden;
}

#pager li{
    float:left;
}

.fma1Find:hover
{
    background: url("../../images/fmas/moreArrow.png") no-repeat scroll 247px 19px white;
    border:3px solid #FAEA25;
    width:259px;
    height:29px;
    padding: 22px 0 0 21px;
}

#pager {

}

#pager a{
    width:20px;
    float:left;
    height:20px;
    text-indent:-9000px;
    cursor:pointer;
    margin:0px 0px 10px 0px;
    background: url(../images/fmas/bullet.png) no-repeat;
}

#pager a.active,
.notouch #pager a:hover{
    background-position: 0px -20px;
}



#theaterItem2 img {
width: 100%;
max-width: 882px;
max-height:455px;
}

#theaterItem4 img {
width: 100%;
max-width: 508px;
max-height:368px;
margin-top: 10px}

.fma3Face {
background: url("../../images/fmas/moreArrow.png") no-repeat scroll 313px 22px #FAEA25;
    color: #22244A;
    float: left;
    font-family: ProximaNova-Bold;
    font-size: 26px;
    font-weight: bold;
    height: 35px;
    line-height: 14px;
    padding: 25px 0 0 24px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 325px;
}
.fma3Face:hover {
background: url("../../images/fmas/moreArrow.png") no-repeat scroll 310px 19px white;
    color: #22244A;
    border:#FAEA25 3px solid;
    padding: 22px 0 0 21px;
    width: 322px;
    height: 32px;
}
.theaterBox{
    position:relative;
    filter:inherit;
    margin:0 auto;
    max-width:990px;
    width:100%;
}

#mainContent .theaterBox h1{
    display:none;
}

.theaterHolder a img{
    max-width:100%;
    left:0%;
    top:0px;
    /*position:absolute;*/
}

#promoHolder{
    max-width:990px;
    margin:0 auto;
    overflow:hidden;
    width:100%;
}

#theaterDisclaimer{
    color: #999;
    max-width:905px;
    padding: 2px 8%;
    margin:25px auto 0;
    font-size:11px;
    overflow:hidden;
    width:84%;
}

.promo{
    font:14px arial, sans-serif;
    overflow:hidden;
}

.promoContent{
    float:left;
    width:56%;
}

#promo3 .promoContent{
    padding-left:4%;
    width:51%;
}

.promoImage{
    float:left;
    width:44%;
    margin:0;
}

.promoImage img{
    width:100%;
}

.promoHeader{
    padding:30px 0 10px;
    color:#1160a5; 
    font-size:16px;
    text-transform:uppercase;
}

.promoBody{	
    padding-bottom:3px;
} 

.promoButton{
    position:relative;
    left:-15px;
    float:right;
    min-width:165px;
}



/* end theater styles */


.fma1Intro {
    font-family: ProximaNova-Light;
    color:#ffffff;
    margin-bottom:5px;
    display:inline-block;
}

.fma1Char {
    font-family: ProximaNova-Bold;
    color:#474748;
}

.fma1New {
    font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
    color:#ffffff;
    font-size:66px;
}

.fma1From {
    font-family: ProximaNova-Light;
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 5px;
    display: inline-block;
    margin-top:5px;
}

.fma1Find {
    background: url("../../en-us/images/fmas/moreArrow.png") no-repeat 250px 22px;
    color: #22244A;
    float: left;
    font-size: 26px;
    font-weight: bold;
    height: 35px;
    line-height: 14px;
    margin: 80px 10px 5px 32%;
    padding: 25px 0 0 15px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 284px;
    background-color:#faea25;
    font-family: ProximaNova-Bold;
}

 .fma1headline {
    background: url(../../en-us/images/fmas/fma1Rules.png) -59px -3px no-repeat;
    text-transform:uppercase;
    text-align:center;
    margin: 0 auto;
    max-height: 112px;
    max-width: 990px !important;
    width: 63%;
}


    .fma2Bubbles {
        background: url("../../images/fmas/fma2Bubbles.png") no-repeat scroll 0 0;
        margin: 69px auto 0 auto;
        max-width: 770px;
        height: auto;
        text-align: center;
        text-transform: uppercase;
        width: 90%;
        background-size:contain;
    }
    .fma2Prove
{
    max-width: 348px;
    width: 45%;
    margin:0 auto;
}
.fma2Prove img {
    display:block;
    margin: -46px auto 0 auto;
    max-height: 50%;
    padding-top: 45px;
    text-align: center;
    max-width: 348px;
    width:100%;
}
.fma1Product img {
    display: block;
    margin: 0 auto;
    max-height: 913px;
    max-width: 100% !important;
}
#theaterItem1 .fma1Product .wrapperItem {
    max-width:1034px;
    margin:0 auto;
    text-align:center;
}

#theaterItem1 h2,#theaterItem1 h2 a  {
    font-family: UniversLTPro-BoldCondObl;
}
    #theaterItem1 h2.newest-headline{
        background:#ef3469;
        padding:10px 15px;
        color:#1d1c1f;
        font-size:1.1em;
        text-transform:uppercase;
        -ms-transform: rotate(-3deg); /* IE 9 */
        -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
        transform: rotate(-3deg);
        margin:60px 0 25px 0;     
        display:inline-block;
    }
.ie8 #theaterItem1 h2.newest-headline {
    background:url(../images/fmas/newest-ie8-bg.png) no-repeat;
    width:674px;
    height:81px;
    text-indent:-9999px;
    margin:40px auto 0 auto;
}
   
    #theaterItem1 h2.prepeare-headline {
        margin:-28px 0 30px 0;
        font-size:2em;
        color:#d61558;
        transform:scaleY(1.1);
        line-height:1.4em;
    }
    #theaterItem1 h2.prepeare-headline span {
            display:block;
            font-size:1.5em;
        }
#theaterItem1 .fma1Product .wrapperItem .btnWin {
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
    font-size:2em;
}
    #theaterItem1 .fma1Product .wrapperItem .btnWin span {
        background: url(../images/fmas/cta-arrow.png) no-repeat 0 center;
        width:17px;
        height:19px;
        margin-left:10px;
        display:inline-block;
        }
.ie8 #theaterItem1 .fma1Product .wrapperItem .btnWin {
    background:url(../images/fmas/find-out-cta.png) no-repeat;
    display:block;
    width:230px;
    height:60px;
    text-indent:-9999px;
    margin:0 auto;
}
    

.fma2HowWrap {
        text-align:center;
        margin: 20px auto 0 auto;
        max-width: 590px;
        width: 100%;
        display:table;
}
.fma2row
{
    display: table-row;
}
#theaterItem3 h2, #theaterItem3 h3, #theaterItem3 span, #theaterItem3 p {
    font-family: UniversLTPro-BoldCondObl;
    color:#1d1c1f;
    -ms-transform:scaleY(1.15);
    -webkit-transform:scaleY(1.15);
    transform:scaleY(1.15);    
}

#theaterItem3 .ContenTop {
    background-color:#ef3469;
    position:relative;
    z-index:2;
}
#theaterItem3 .wrapperItems {
    max-width:1032px;
    margin:0 auto;
    position:relative;
}
    #theaterItem3 .wrapperItems .txt {
        clear:both;
    }
    #theaterItem3 .wrapperItems .txt h2 {
        font-size:3em;
        line-height: 1.3em;
        background:#1d1c1f;
        padding:6px 20px 0 20px;
        color:#ef3469;
        text-align:center;
        position:relative;
        margin-bottom:12px;
    }
        #theaterItem3 .wrapperItems .txt h2:before {
            content:"";
            width:100%;
            background:#1d1c1f;
            height:10px;
            top:-3px;
            left:0;
            position:absolute;
        }
        #theaterItem3 .wrapperItems .txt .forChance {
            text-align:center;
            font-size:2em;
            margin:18px 0 10px 0;
        }
            #theaterItem3 .wrapperItems .txt .forChance span {
                display:inline-block;
                vertical-align:middle;
                margin:0 15px;
            }
                #theaterItem3 .wrapperItems .txt .forChance span.line {
                    background:#1d1c1f;
                    height:2px;
                    margin:0;
                    width:18%;
                }
    #theaterItem3 .wrapperItems .txt h3 {
        font-size:1.7em;
        line-height:1.5em;
        padding:0 15px 20px 15px;
        text-align:center;
    }
    #theaterItem3 .wrapperItems .txt h3 span{
          color:#ffffff;
          display:block;
          font-size:1.85em;
          text-indent:-16px;

    }
        #theaterItem3 .wrapperItems .txt h3.bottomLine {
            border-bottom:3px solid #000000;
            margin-bottom:16px;
        }
        #theaterItem3 .wrapperItems .txt h3.white {
            color:#ffffff;
            line-height:1em;
            font-size:3em;
        }
        #theaterItem3 .wrapperItems .txt h4 {
            color:#000000;
            font-size:2em;
            text-transform:uppercase;
            text-align:center;
            margin-bottom:12px;
            font-family: UniversLTPro-BoldCondObl;
        }

    #theaterItem3 .wrapperItems img {
        width:100%;
    }
#theaterItem3 .womanImage {
    width:71.70%;
    float:left;
}

#theaterItem3 .productImage {
    width: 23.74%;
    float: right;
    margin-top: 30.5%;
    position: relative;
    z-index: 2;
    margin-right:14px;
}
    #theaterItem3 .productImage img {
        margin-left:-22%;
    }
#theaterItem3 .blackBorder {
    position:absolute;
    width:100%;
    height:25px;
    bottom:0;
    z-index:1;
    background:#1d1c1f;
    display:none;
}
#theaterItem3 .btnWin,#theaterItem1 .btnWin{
    background:#ef3469;
    color:#1d1c1f;
    display:inline-block;
    padding:10px 30px;
    text-decoration:none;
    font-size:2.4em;
    text-align:center;
    text-transform:uppercase;
    font-family: UniversLTPro-BoldCondObl;
    width:auto;
     -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
    transition: all .2s ease-in-out;
    margin-top: -11px;
}
.ie8 #theaterItem3 .btnWin {
    background:url(../images/home/strip-to-win-ie8.png) no-repeat;
    width:334px;
    height:78px;
    text-indent:-9999px;
}
    #theaterItem3 .btnWin:hover{
        font-size:2.4em;
        
    }
#theaterItem1 .btnWin:hover {
     font-size:2em;
}
#theaterItem3 .ContentBottom {
    text-align:center;
}
#theaterItem3 .ContentBottom img {
    width:147px;
    display:block;
    margin:20px auto 40px auto;
}

#theaterItem3 a
{
    margin: 0 auto;
    width: 278px;
    display: block;
}
#theaterItem3 a:hover
{
	font-weight:normal; font-size:14px; color:#000000;
}
#responseRule {
    background: url(../images/ourProducts/productsResponseRule.jpg);
    width: 511px;
    height: 2px;
    margin: -25px auto 0 auto;
    display:none;
}


#theaterItem2 img.strikeOut
{
    display:inline-block;
    width:inherit;
    padding: 5px;
    vertical-align: middle;
    width:20%;
    max-width:182px;
}


.fma4Face {
  background: none repeat scroll 0 0 #e30574;
  color: #fff;
  font-family: ProximaNova-Bold;
  font-size: 22px;
  font-weight: normal;
  height: 15px;
  line-height: 4px;
  padding: 15px 7px 0 ;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 155px;
  margin: 0 auto;
}

 .fma1headline {
    background: url(../../en-us/images/fmas/fma1Rules.png) -59px -3px no-repeat;
    text-transform:uppercase;
    text-align:center;
    margin: 0 auto;
    max-height: 112px;
    max-width: 990px !important;
    width: 63%;
}

/*  Mobile Portrait 320x480 */
@media all and (max-width:479px){

    #theaterItemHazteBarra .rulestext {
        width:100%;
    }

     #responseRule {
        display:block;
        width: 224px;
        margin: -15px auto 0 auto;
    }
     .ruleBG
    {
        display: none;
    }
    #pager {

    }

#theaterItem2 .NCell a {
        max-width: 238px;
        width: 100%;
        margin: 0 auto;
    }
	#theaterItem4 .NCell a
        {
            display:block;
            max-width:229px;


        }
        
      #theaterItem4 .pinkBubbles 
      {
          background-size: 100% 100%;
      }
      
      .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        margin-top:0px;
        font-size:17px;
    }
    
    
    .fma1headline {
        background: none;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-width: 990px !important;
        width: 80%;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:19px;
        padding-top:0px;
        float:none;
        line-height: 0px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .fma1FindWrapper
    {
        width:205px;
        margin:0 auto;
        display:inline-block;
    }
    .fma1Find {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 173px 11px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        line-height: 14px;
        margin: 12px 0 5px 0;
        padding: 14px 0 5px 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 190px;
    }
    
    .fma1Find:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 170px 8px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 17px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 11px 0 5px 12px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 187px;
        border:#FAEA25 3px solid;
    }
          
     .fma3Face {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 225px 17px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 18px;
        font-weight: bold;
        height: 25px;
        line-height: 4px;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 238px;
    }  
   .fma3Face:hover {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 222px 14px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 18px;
        font-weight: bold;
        height: 22px;
        line-height: 4px;
        padding: 22px 0 0 21px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 235px;
        border:#FAEA25 3px solid;
    }
	
	.fma4Face {
  background: none repeat scroll 0 0 #e30574;
  color: #fff;
  font-family: ProximaNova-Bold;
  font-size: 22px;
  font-weight: normal;
  line-height: 4px;
  padding: 15px 7px 0 ;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 155px;
  margin: 0 auto;
}
	
	
     .theaterHolder{
        margin:0 auto;
    }

     .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:24px;
        color:#ffffff;
        line-height:0;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        /*width: 63%;*/
        padding-top:50px;
    }
        .home #footer {
            margin-top: -10px;
        }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: ProximaNova-Regular; font-weight: 400; font-style: normal;
        font-size:13px;
        color:#00427a;
		letter-spacing:1px;
        width:230px;
        line-height:14px;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        /*width: 63%;*/
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 37px;
        display: table-cell;
        text-transform: uppercase;
        color:#00427a;
        vertical-align: middle;
    }
    #mobileFMA
    {
        display: table-row;
    }
    #fma2List
    {
        display:none;
    }
    #fma2ListM {
        color: #00427A;
        display: table-cell;
        font-family: ProximaNova-Regular;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        min-width:175px;
        vertical-align: middle;
        padding:7px;
    }

    .fma2HowWrap
    {
        max-width: 340px;
    }
    .fma2Face {
            background: url("../../images/fmas/moreArrow.png") no-repeat scroll 115px 9px #FAEA25;
            color: #22244A;
            float: left;
            font-family: ProximaNova-Bold;
            font-size: 12px;
            font-weight: bold;
            height: 24px;
            line-height: 14px;
            margin-top: 4px;
            padding: 11px 0 0 15px;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            width: 135px;
    }
	
.fma2newsletter {
        color: #00427A;
        font-family: ProximaNova-Regular;
        font-size: 11px;
        line-height: 12px;
        text-align: center;
        text-transform: uppercase;
		margin-top: 60px;
    }	
	
    #theaterItem3 a {
        width: 150px;
    }
        
    
    #theaterItem4 .c2, #theaterItem4 .c4, #theaterItem4 .c5
    {
        padding:0.5em;
    }
    
     
        #theaterItem1 img{
        width:100%;
        max-width:990px !important; 
        max-height:575px;
        display:block; 
        margin:0 auto; 
    }
   

       #theaterItem1 {
        background-color:#73ba2e;
    }


     .promo{
        margin:0 auto; 
        width:300px;
    }


   .home #mainContent {
        /*height: 510px;*/
        /*height:720px;*/
        height:950px;
    }



   .fmaListOneLine li {
        width: 100px;
        float:left;
    }

    .fmaListOneLineSpacer {
        margin-left: 34px;
    }
    .home #main {
        margin-top: 0px;
        position: relative;
    }
 
#theaterItem4 h1
    {
        font-size:50px; line-height: 50px;
    }

    #theaterItem4 > div > div:nth-child(2) > div {
        font-size:30px; line-height: 30px;
    }
    #theaterItem4 > div > div:nth-child(4) > div {
        font-size:30px; line-height: 30px;
    }
    #theaterItem4 > div > div:nth-child(5) > div {
        font-size:12px;
    }
	
	   #theaterItem2 h1
    {
        font-size:30px;
    }
    #theaterItem2 h1 span
    {
        font-size:42px;
    }
    #theaterItem2 > div > div:nth-child(3) > div {
        font-size:16px;
    }
    #theaterItem2 > div > div:nth-child(4) > div {
        font-size:29px;
    }
    #theaterItem2 > div > div:nth-child(5) > div {
        font-size:16px;
    }
    #theaterItem2 img.strikeOut
    {

        width:14%;
    }
    .fma1Find:hover {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 170px 8px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 17px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 11px 0 5px 12px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 187px;
        border:#FAEA25 3px solid;
    }
        .fma2Face:hover {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 112px 6px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 21px;
        line-height: 14px;
        margin-top: 4px;
        padding: 8px 0 0 12px;
        text-align: left;
        width: 132px;
        border:#FAEF25 3px solid;
    }
	.fma4Face:hover {
  background: none repeat scroll 0 0 #fff;
color: #e30574;
border:#e30574 3px solid;
  padding: 12px 7px 0 ;
  width: 155px;
}
}
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px){
    #responseRule {
        display:block;
        width: 443px;
    } 
    .ruleBG
    {
        display: none;
    }

     .theaterHolder{
        margin:0 auto;
    }
    
    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        margin-top:0px;
        font-size:15px;
    }

    #theaterItem2 .NCell a {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
    }
	#theaterItem4 .NCell a
    {
        display:block;
	    margin: 0 auto;
        

    }
    #theaterItem4 .pinkBubbles 
      {
          background-size: 100% 100%;
      }
      
	.fma4Face {
  background: none repeat scroll 0 0 #e30574;
  color: #fff;
  font-family: ProximaNova-Bold;
  font-size: 22px;
  font-weight: normal;
  line-height: 4px;
  padding: 15px 7px 0 ;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 155px;
  margin: 0 auto;
}
.fma4Face:hover {
  background: none repeat scroll 0 0 #fff;
color: #e30574;
border:#e30574 3px solid;
  padding: 12px 7px 0 ;
  width: 155px;
}

     .fma3Face {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 270px 16px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 22px;
        font-weight: bold;
        height: 25px;
        line-height: 4px;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 280px;
    }
     .fma3Face:hover {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 267px 13px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 22px;
        font-weight: bold;
        height: 22px;
        line-height: 4px;
        padding: 22px 0 0 21px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 277px;
        border:#FAEA25 3px solid;
    }
     .theaterHolder{
        margin:0 auto;
    }
    
    .fma1headline {
        background: none;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-width: 990px !important;
        width: 460px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:16px;
        padding-top:0px;
        float:none;
        line-height: 0px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 0px;
    }

    .fma1Find {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 173px 11px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 14px 0 5px 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 190px;
    }


     .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:36px;
        color:#ffffff;
        line-height:11px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 460px;
        padding-top:50px;
    }
        .home #footer {
            margin-top: -10px;
        }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: ProximaNova-Regular; font-weight: 400; font-style: normal;
        font-size:13px;
        color:#00427a;
		letter-spacing:1px;
        width:230px;
        line-height:14px;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 460px;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 37px;
        display: table-cell;
        text-transform: uppercase;
        color:#00427a;
        vertical-align: middle;
    }

    #fma2List {
      color: #00427A;
        display: table-cell;
        font-family: ProximaNova-Regular;
        font-size: 12px;
        line-height: 11px;
        text-align: left;
        text-transform: uppercase;
        min-width:187px;
        vertical-align: middle;
        padding-top: 10px;
    }
.fma2newsletter {
        color: #00427A;
        font-family: ProximaNova-Regular;
        font-size: 11px;
        line-height: 12px;
        text-align: center;
        text-transform: uppercase;
		margin-top: 60px;
    }	
	
    .fma2Face {
            background: url("../../images/fmas/moreArrow.png") no-repeat scroll 115px 9px #FAEA25;
            color: #22244A;
            float: left;
            font-family: ProximaNova-Bold;
            font-size: 12px;
            font-weight: bold;
            height: 24px;
            line-height: 14px;
            margin-top: 4px;
            padding: 11px 0 0 15px;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            width: 135px;
    }
    .fma2Face:hover {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 112px 6px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 21px;
        line-height: 14px;
        margin-top: 4px;
        padding: 8px 0 0 12px;
        text-align: left;
        width: 132px;
        border:#FAEF25 3px solid;
    }
     
      #theaterItem1 img{
        width:100%;
        max-width:990px !important; 
        max-height:575px;
        display:block; 
        margin:0 auto; 
    }
  	
     

    #theaterItem1 {
        background-color:#73ba2e;
    }



     #theaterItem4 {
        background-color:#fff;
    }
    
    #theaterItem4 .c2, #theaterItem4 .c4, #theaterItem4 .c5
    {
        padding:0.5em;
    }
	
	
	
     .promo{
        margin:0 auto; 
        width:300px;
    }

   .home #mainContent {
       /*height:660px;*/
       height:720px;
    }


   .fmaListOneLine li {
        width: 100px;
        float:left;
    }

    .fmaListOneLineSpacer {
        margin-left: 34px;
    }
    .home #main {
        margin-top: 0px;
        position: relative;
    }
    #theaterItem3 a {
        width: 147px;
    }
    .fma2HowWrap
    {
        max-width: 370px;
        padding-bottom: 20px;
    }
	
	
	
    #theaterItem4 h1
    {
        font-size:50px; line-height: 50px;
    }

    #theaterItem4 > div > div:nth-child(4) > div {
        font-size:30px; line-height: 30px;
    }

	 #theaterItem2 h1
    {
        font-size:30px;
    }
    #theaterItem2 h1 span
    {
        font-size:80px;
    }

    #theaterItem2 > div > div:nth-child(4) > div {
        font-size:39px;
    }
    .fma1Find:hover {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 173px 11px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 17px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 11px 0 5px 12px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 187px;
        border:#FAEA25 3px solid;
    }

} 
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 */
@media all and (min-width:600px) and (max-width:767px){    
    #responseRule {
        display:block;
    }
    .ruleBG
    {
        display: none;
    }
     
    .theaterHolder{
        margin:0 auto;
    }
    
      .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        margin-top:-11px;
         font-size:32px;
    }
    
     .fma1headline {
        background: none;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 56px;
        max-width: 990px !important;
        width: 600px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:33px;
        margin-top:-18px;
        float:none;
        line-height: 12px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 16px;
        margin-bottom: 5px;
        margin-top: 6px;
    }

    .fma1Find {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 173px 11px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 14px 0 5px 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 190px;
    }
    .fma1Find:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 170px 8px white;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 17px;
        line-height: 14px;
        margin: 12px auto 5px auto;
        padding: 11px 0 5px 12px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 187px;
        border:#FAEA25 3px solid;
    }
    
     .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:45px;
        color:#ffffff;
        line-height:36px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 580px;
        padding-top:50px;
    }


    #footer ul {
        margin-top: 11px;
    }


    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: ProximaNova-Regular; font-weight: 400; font-style: normal;
        font-size:18px;
        color:#00427a;
		letter-spacing:1px;
        line-height:14px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 580px;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
        display: table-cell;
        text-transform: uppercase;
        color:#00427a;
        vertical-align: middle;
    }

    #fma2List {
        color: #00427A;
        display: table-cell;
        font-family: ProximaNova-Regular;
        font-size: 15px;
        line-height: 16px;
        text-align: left;
        text-transform: uppercase;
        vertical-align: middle;
        padding-top: 10px;
    }

    .fmaListOneLine li {
        width: 100px;
        float:left;
    }

    .fmaListOneLineSpacer {
        margin-left: 20px;
    }

.fma2newsletter {
        color: #00427A;
        font-family: ProximaNova-Regular;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
		margin-top: 110px;
    }	
	
    .fma2Face {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 160px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 18px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin-top: 20px;
        padding: 25px 0 0 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
         width: 180px;
    }
    .fma2Face:hover {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 157px 19px white;

        height: 33px;
        padding: 22px 0 0 12px;
        width: 177px;
        border:#FAEF25 3px solid;
    }
    .promo{ 
        max-width:300px;
        width:31%;
        float:right;
        margin-right:2%;
    }

    .promoImage{    
        margin-bottom:20px;
    }

    #footer .centeringDiv {  
        overflow: visible;
        padding: 12px 10px 5px 20px;
    }
   
   .home #mainContent {
        /*height: 740px;*/
        height:930px;
    }
    .home #main
    {
        margin-top: 0px;
        position: relative;
    }
   #theaterItem3 a {
        width: 193px;
    }
   .fma2HowWrap {
        max-width: 470px;
    }
  
	
   #theaterItem2 h1
    {
        font-size:40px;
    }
    #theaterItem2 h1 span
    {
        font-size:90px;
    }
    #theaterItem2 > div > div:nth-child(4) > div {
        font-size:49px;
    }
	    #theaterItem4 h1
    {
        font-size:50px; line-height: 50px;
        }
    #theaterItem4 > div > div:nth-child(4) > div {
    }
} 
/*  Tablet Portrait 768x1024 */
@media all and (min-width:768px) and (max-width:1023px){ 

   .theaterHolder p{
        font-size:16px;
        line-height:19px;
    }
    
    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        
        margin-top:-11px;
        font-size:32px;
    }

     .fma1headline {
        text-transform:uppercase;
        text-align:center;
        margin: -35px auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 751px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:58px;
        margin-top:-10px;
        line-height:32px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 21px;
        margin-bottom: 5px;
        margin-top: 6px;
    }

    .fma1Find {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 250px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin: 25px auto 5px auto;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 265px;
    }
    .fma1Find:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 247px 19px white;
        padding: 22px 0 0 21px;
        border:#FAEA25 3px solid;
        height: 32px;
         width: 262px;
        
    }
    .fma1FindWrapper
    {
        max-width:290px;
    }
    
    .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:56px;
        color:#ffffff;
        line-height:50px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 990px;
        padding-top:50px;
    }

    .fmaListOneLine li {
        float: none;
        width: 300px;
    }
    .fmaListOneLineSpacer {
        margin-left: 0px;
    }

    .home #footer ul{
        margin-top: 28px;
    }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: ProximaNova-Regular; font-weight: 400; font-style: normal;
        font-size:24px;
        color:#00427a;
		letter-spacing:1px;
        line-height:14px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 760px;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        float: left;
        display: inline-block;
        text-transform: uppercase;
        color:#00427a;
        vertical-align: middle;
    }

    #fma2List {
      color: #00427A;
        display: table-cell;
        font-family: ProximaNova-Regular;
        font-size: 18px;
        line-height: 19px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing:1px;
        vertical-align: middle;
        padding-top: 10px;
    }

    .fma2Face {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 230px 19px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 26px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin-top: 42px;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 250px;
    }
        .fma2Face:hover {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 227px 19px white;
        height: 33px;
        padding: 22px 0 0 21px;
        width: 247px;
        border:#FAEA25 3px solid;

    }
	
	.fma2newsletter {
        color: #00427A;
        font-family: ProximaNova-Regular;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
		margin-top: 130px;
    }
	
      #theaterItem1 img {
        display: block;
        margin: 0 auto;
        max-height: 575px;
        max-width: 900px !important;
        width: 100%;
    }
   

} /* End Large */

  /*Tablets and Deskotp Version mobile First */
@media all and (min-width:768px) {
    #theaterItemHazteBarra .desktop{
    display:block;
}
    #theaterItemHazteBarra .mobile{
    display:none;
}
    .fma1Product img {
        max-width:65% !important;
    }
    #theaterItem3 .wrapperItems .txt {
        position: absolute;
        right: 18px;
        top: 50px;
    }
        #theaterItem3 .wrapperItems .txt h2:before {
            display:none;
        }
    #theaterItem3 .blackBorder {
        display: block;
    }

    #theaterItem3 .productImage {
        margin-right: 20px;
    }

        #theaterItem3 .productImage img{
            margin-left:0;
        }
    #theaterItem3 .productImage {
        margin-top:31.5%;
    }
     #theaterItem3 .wrapperItems .txt h2 {
        
        font-size:2.5em;
    }
        #theaterItem3 .wrapperItems .txt .forChance {
            font-size:1.5em;
        }
    #theaterItem3 .wrapperItems .txt h3 {
        font-size:2em;
        line-height:1.4em;
        padding:0;
    }
    #theaterItem3 .wrapperItems .txt h3 span{
         /* font-size:1.8em;*/
    }
    #theaterItem3 .wrapperItems .txt .forChance span.line {
        width:28%;
    }
    #theaterItem1 h2.newest-headline {
        padding:10px 40px;
        font-size:2.5em;
    }
    #theaterItem1 h2.prepeare-headline {
        font-size:3.4em;
    }
    .home #mainContent {
        height:900px;
    }
}
@media all and (min-width:850px) {
     .home #mainContent {
        height:1000px;
    }
}
@media all and (min-width:1024px) {
    #theaterItem3 .wrapperItems .txt {
        right:0;
    }
     #theaterItem3 .wrapperItems .txt h2 {
        font-size:4em;
        line-height:1.1em;
    }
    #theaterItem3 .wrapperItems .txt h3 {
        font-size:2.8em;
    }
     #theaterItem3 .wrapperItems .txt h3 span{
          /*font-size:1.8em;*/
    }
      #theaterItem3 .wrapperItems .txt .forChance {
            
            font-size:2em;
        }
    #theaterItem3 .productImage {
        margin-right:0;
    }
    #theaterItem3 .wrapperItems .txt .forChance span.line {
        width:30%;
    }
    #theaterItem3 .ContenTop {
        padding:0 10px;
    }
    #theaterItem3 .btnWin,#theaterItem1 .btnWin {
        transition: all .2s ease-in-out;
    }
    #theaterItem3 .btnWin:hover,#theaterItem1 .fma1Product .wrapperItem .btnWin:hover {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    }
    #theaterItem1 h2.prepeare-headline {
        font-size:3.9em;
    }
    
      #theaterItem1 img {
        display: block;
        margin: 0 auto;
        max-height: 575px;
        max-width: 990px;
        width: 103%;
    }
    
      .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        
        margin-top:-11px;
        font-size:32px;
    }

     .fma1headline {
        text-transform:uppercase;
        text-align:center;
        margin: -35px auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 751px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:58px;
        margin-top:-10px;
        line-height:32px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 21px;
        margin-bottom: 5px;
        margin-top: 6px;
    }

    .fma1Find {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 250px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin: 25px auto 45px auto;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 265px;
    }
    .fma1Find:hover {
        background: url("../../en-us/images/fmas/moreArrow.png") no-repeat scroll 247px 19px white;
        color: #22244A;
        height: 32px;
        width: 262px;
        padding: 22px 0 0 21px;
        border: 3px solid #FAEA25;
    }
    .fma1FindWrapper {
        max-width: 290px;
    }
    .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:64px;
        color:#ffffff;
        line-height:50px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 760px;
        padding-top:50px;
    }

    .fmaListOneLine li {
        float: none;
        width: 300px;
    }
    .fmaListOneLineSpacer {
        margin-left: 0px;
    }

    
}
@media all and (min-width:1080px) {
     #theaterItem3 .ContenTop {
        padding:0;
    }
}
/* Tablet Landscape 1024x768 &&  Desktop 1200x1024 */
@media all and (min-width:1024px){ 
    
     .theaterHolder p{
        font-size:16px;
        line-height:19px;
    }
    .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:64px;
        color:#ffffff;
        line-height:50px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 990px;
        padding-top:50px;
    }

    .fmaListOneLine li {
        float: none;
        width: 300px;
    }
    .fmaListOneLineSpacer {
        margin-left: 0px;
    }

    .home #footer {
    }

    .home #footer ul{
        margin-top: 28px;
    }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: ProximaNova-Regular; font-weight: 400; font-style: normal;
        font-size:30px;
        color:#00427a;
		letter-spacing:1px;
        line-height:14px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 760px;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        display: table-cell;
        text-transform: uppercase;
        color:#00427a;
        vertical-align: middle;
    }

    #fma2List {
      color: #00427A;
        display: table-cell;
        font-family: ProximaNova-Regular;
        font-size: 18px;
        line-height: 19px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing:1px;
        vertical-align: middle;
        padding-top: 10px;
    }

    .fma2Face {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 230px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 26px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin-top: 42px;
        margin-bottom: 42px;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 250px;
    }
    .fma2Face:hover {
        background: url("../../images/fmas/moreArrow.png") no-repeat scroll 227px 19px white;
        height: 33px;
        padding: 22px 0 0 21px;
        width: 247px;
        border:#FAEA25 3px solid;
    }
.fma2newsletter {
        color: #00427A;
        font-family: ProximaNova-Regular;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
		margin-top: 150px;
    }
    #theaterItem1 img {
        display: block;
        margin: 0 auto;
        max-height: 913px;
        max-width: 100%;
    }
    .ruleBG
{
    position:relative;
    top:-72px;
    width:100%;
    max-width:890px;
    height:2px;
    margin:0 auto;
    background: url(../images/whereToBuy/wtbHeaderRule.png) repeat-y center 0;
    background-size:cover;
}
}



  #theaterItem1{background-color: #7ad045; clear:both;height: 100%;}
    #theaterItem3{clear:both;}





