﻿<%@ Page Title="Privacy Policy | Bior&eacute;&reg; Skincare" MasterPageFile="../Site.Master" Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="Biore2012.privacy._default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server"> 
    <meta content="Explore the Bioré® Skincare website." name="description" />
    <%=SquishIt.Framework.Bundle .Css()
        .Add("~/css/utilityPages.css")
        .Render("~/css/combinedutility_#.css")
    %>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="main">
        <div id="mainContent">
            <div id="shadow"></div>
            <div class="centeringDiv">
                 <h1>Privacy Policy</h1>
                 
                    <strong>Kao Canada Inc. Privacy Policy</strong>
                    <p>At Kao Canada Inc., we respect your privacy. It is Kao Canada Inc.'s policy to take reasonable measures to respect your privacy. We've structured our web site so that, in general, you can visit Kao Canada Inc. on the web without identifying yourself or revealing any personal information (i.e., information by which you can be identified and/or contacted, such as name, mailing address, telephone number, or email address or any similar information you submit to us). If you choose to provide us personal information, you can be assured that it will only be used in accordance with the principles set forth below. </p><br />

                    <p><strong>We respect the privacy rights of individuals</strong></p><br />
                    <p>Kao Canada Inc. will respect the legal requirements that exist regarding the privacy of personal information as it is committed to complying with all applicable law. Kao Canada Inc. will, from time to time, review its personal information collection, use, and disclosure practices in order to assure compliance with applicable laws and regulations.<br />What personal information we collect</p><br />
                    <p>On some Kao Canada Inc. web pages, you can contact us or enter our guestbook. The types of personal information collected at these pages may include name, mailing address and email address.<br />In order to tailor our subsequent communications to you and continuously improve our products and services, we may also ask you to voluntarily provide us with information, including information regarding your personal or professional interests, demographics, experience with our products, and contact preferences.</p><br />
                    <p>We do not collect any personal information about you unless you provide it to us. If you email us or answer questions we have placed on this web site, you are voluntarily releasing that information to us. Please do not submit personal information to us if you do not want us to have this information in our database.</p><br />
                    <p><strong>How we use personal information</strong></p><br />
                    <p>Kao Canada Inc. uses your personal information to better understand your needs and provide you with better products and service. Specifically, we use your information to communicate back to you, to update you on products, services and benefits, and to personalize our web site for you.<br />Occasionally, Kao Canada Inc. may also use your information to contact you for market research or to provide you with marketing information we think would be of particular interest. We will always give you the opportunity to opt out of receiving such contacts.</p><br />
                    <p>Kao Canada Inc. may share the personal information you provide online with other Kao Canada Inc. divisions or affiliates and/or business partners, who are acting on our behalf or who offer products or services that we believe may be of interest to you, which may include transferring the personal information to other countries. Whenever any personal information is transferred to a third party as described above, that party will be contractually bound to abide by the terms of the Kao Canada Inc. privacy policy and the notice provided to you when the information was collected. When permitted or required by law or court order, Kao Canada Inc. reserves the right to collect, use and/or disclose your personal information pursuant to procedures that do not require giving notice or conducting related activities (for example, in connection with law enforcement investigations).</p><br />

                    <p>In the event of a sale, merger, liquidation, dissolution, reorganization or acquisition of Kao Canada Inc., or a Kao Canada Inc. business unit, the information Kao Canada Inc. has collected about you may be sold or otherwise transferred. However, this will only happen if the party acquiring the information agrees to be bound by the terms of the Kao Canada Inc. privacy policy and the notice provided to you when the information was collected.</p><br />
                    <p><strong>Your choice</strong></p><br />
                    <p>Kao Canada Inc. will not use or share the personal information provided to us online in ways unrelated to the ones described above without letting you know and offering you a choice. We will also provide you the opportunity to let us know if you do not wish to receive unsolicited direct marketing materials from us and we will make all reasonable efforts to honor such requests. We are not responsible for removing your personal information from the lists of any third party who has been provided your information in accordance with this policy, such as a business partner.</p><br />
                    <p>What aggregate information we collect<br />We may also collect non-personal information and may aggregate any information collected in a manner which does not identify any specific individual.</p><br />
                    <p>"Cookies" are pieces of information that may be placed on your computer by a web site for the purpose of facilitating and enhancing your communication and interaction with that web site. Many web sites, including ours, use cookies for these purposes. You may stop or restrict the placement of cookies on your computer or flush them from your browser by adjusting your web browser preferences, in which case you may still use our web site, but it may interfere with some of its functionality.</p><br />
                    <p>As you use the Internet, a trail of electronic information is left at each web site you visit. This information, which is sometimes referred to as "clickstream data," may be collected and stored by a web site's server such as ours. Clickstream data can tell us the type of computer and browsing software you use and the address of the web site from which you linked to the Site.</p><br />
                    <p>How we use aggregate information</p><br />
                    <p>We may use cookies to customize your visit to our web site and for other purposes to make your visit more convenient or to enable us to enhance our service. We do not use cookies to retrieve personal information from your computer for purposes that are unrelated to the web site or your interaction with the Site.</p><br />

                    <p>We may collect and use clickstream data as a form of aggregate information to anonymously determine how much time visitors spend on each page of our web site, how visitors navigate throughout the web site and how we may tailor our web pages to better meet the needs of visitors. We may use this information to improve our web site and our services. Any collection or use of clickstream data will be anonymous and aggregate, and will not intentionally contain any personal information.</p><br />
                    <p><strong>Security</strong></p><br />
                    <p>Kao Canada Inc. is committed to taking reasonable steps to ensure the security of your personal information. To prevent unauthorized access, maintain data accuracy, and ensure the appropriate use of personal information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the personal information we collect online.</p><br />
                    <p>Collection of Information from Children<br />Kao Canada Inc. has no intention of collecting personal information from children (i.e., individuals under the age of 13). Kao Canada Inc. will maintain procedures to assure that information about children is only collected with explicit consent and is protected against improper use, consistent with applicable law. If a child has provided Kao Canada Inc. with personal information, Kao Canada Inc. asks that a parent or guardian of the child contact Kao Canada Inc. using our Contact Us page to inform us of that fact. Kao Canada Inc. will use reasonable efforts to delete such information from its database.</p><br />
                    <p><strong>Your Consent</strong></p><br />
                    <p>By using this web site, you consent to our use of your personal information as set out in this Privacy Policy. If we decide to change our Privacy Policy, we will post those changes on this page, so you are always aware of what information we collect, how we use it and under what circumstances we disclose it. You should review our Privacy Policy each time you use this web site to satisfy yourself that you are happy with it.</p><br />
                    <p><strong>Non-confidential<br /></strong><br />Any communication or material you transmit to us by email or otherwise, including any data, questions, comments, suggestions, or the like is, and will be treated as, nonconfidential and nonproprietary. Except to the extent expressly covered by this policy, anything you transmit or post may be used by us for any purpose, including but not limited to, reproduction, disclosure, transmission, publication, broadcast and posting. Furthermore, you expressly agree that we are free to use any ideas, concepts, know-how, or techniques contained in any communication you send to us without compensation and for any purpose whatsoever, including but not limited to, developing, manufacturing and marketing products and services using such information.</p><br />
                    <p>Access to and Correction of Information<br />Kao Canada Inc. will maintain procedures consistent with applicable law for individuals to gain access to their collected personal information and, when appropriate, correct any information that is inaccurate or incomplete, change their individual consent level, or have their personal information deleted.</p><br />

                    <p><strong>Comment and Questions</strong></p><br />
                    <p>If you have comments or questions about our privacy policy or your personal information, would like to review or correct your personal information, or would like us to delete your personal information from our database, please contact us using our Contact Us page.<br /><br /><strong>Changes to Privacy Policy</strong></p><br />
                    <p>Kao Canada Inc. will, and reserves the right to, modify and update this policy or its related business practices at any time. Kao Canada Inc. will NOT apply changes to this policy retroactively to information Kao Canada Inc. has previously collected.</p><br />
                    <p><strong>Effective Date<br /></strong><br />This privacy policy is effective and was last updated on 22 February 2006.<br /></p><br />
                 
            </div>
        </div>
    </div>
</asp:Content>