﻿.about .aboutBlueBG {
    background-color:#7fb1e2;
}

.about #main{
    background: transparent none;
    width:100%;
    margin:0 auto;
}

    .about #mainContent.aboutBlueBG{ 
        background: transparent url(../images/about/charcoal-baking-soda-bg.jpg) no-repeat scroll 50% 0 / cover;
    }

#mainContent h1{
    color: #1f497d;
    font-family: "Archer A","Archer B";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    height: 56px;
    padding: 30px 0 0;
    text-align: center;
    width: 875px;
}

#mainContent h1.privacy {font-size:50px;}

#responseRule {
    background: url(../images/ourProducts/productsResponseRule.jpg);
    width: 852px;
    height: 2px;
    margin: 5px auto 45px auto;
}
.about h1 sup, .about h2 sup
{
    font-size: 0.5em;
    /*vertical-align: text-top;
    line-height: normal;*/
}
#content img
{
    margin: 0 auto;
    display: block;
    width:90%;
    max-width:721px;
}
#content p
{
    
    font-family: ProximaNova-Regular;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0 auto 40px;
    text-align: left;
    width: 80%;
}

#content.aboutBlueTxt p
{
    color: #1f497d;
    font-weight: 600;
    text-align: right;
}

    #content p > span {
        color:#FFF;
        font-size: 1.5em;
    }


p.boldBlue
{
    font-family: ProximaNova-Bold !important;
    color:#304065;
}
.titleh1
{
    width:90%;
    margin:0 auto;
}


/*  Mobile Portrait 320x480 */
@media all and (max-width:479px){
    #mainContent h1, #mainContent h1.privacy {
        width: 280px;
        height: 8px;
        font-size: 22px;
        margin: 0px auto 20px auto;
        font-weight:700;
    }
    #responseRule
    {
        background-position:-33px 0px;
        width: 270px;
    }

}
/*  Mobile Portrait 320x480 END */
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px){
    #mainContent h1, #mainContent h1.privacy {
        width: 420px;
        height: 18px;
        font-size: 32px;
        margin: 0px auto 20px auto;
        font-weight:600;
    }
    #responseRule
    {
        background-position:-101px 0px;
        width: 390px;
    }
}
/*  Mobile Landscape 480x320 - END */
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - START */
@media all and (min-width:600px) and (max-width:767px){
     #mainContent h1, #mainContent h1.privacy {
        width: 500px;
        height: 28px;
        font-size: 40px;
        margin: 0 auto 20px;
    }
    #responseRule
    {
        background-position:0px 0px;
        width: 490px;
    }
}
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - END */
/*  Tablet Portrait 768x1024 - START */
@media all and (min-width:768px) and (max-width:1023px) {
    #mainContent h1, #mainContent h1.privacy {
        width: 684px;
        height: 45px;
        font-size: 55px;
        margin: 0 auto 20px;
    }
    #responseRule
    {
        background-position:22px 0px;
        width: 670px;
    }

    .about #mainContent { 
        background: transparent url("/images/about/charcoal-baking-soda-bg-opaque.jpg") no-repeat scroll 50% 0 / cover ;
    }
}

@media all and (min-width:1024px) and (max-width:1200px) {

    #mainContent h1 {
        font-size: 53px;
    }
    
    #mainContent h1.privacy 
    {
        font-size:45px;
     }

    .about #mainContent { 
        background: transparent url("/images/about/charcoal-baking-soda-bg-opaque.jpg") no-repeat scroll 50% 0 / cover ;
    }

}