
.archer-light {
	font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
}

.archer-book {
	font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
}

.archer-medium {
	font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    color: black;
}

.archer-bold {
	font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
}