﻿.home-content {
    width: 100%;
    font-family: 'Archer A', 'Archer B';
    font-weight: 600;
}
.home-content section {
    position: relative;
    float: left;
    width: 100%;
    min-height: 200px;
    padding: 50px 0;
}
.section-columns .sect-media img {
    width: 90%;
}
.hide-desktop {
    display: none!important;
    top:auto;
    bottom:0 !important;
}

    .hide-desktop img {
        height: 400px;
        filter: alpha(opacity=50);
	    opacity: 0.5;
    }

.show {
    display: inline-block!important;
}
.animation-play-btn {
    transition: all 0.4s;
    cursor: pointer;
}
.white-shadow {
    width: 100%;
    height: 0px;
    z-index: 1035;
    background: white;
    opacity: 0.7;
    position: absolute;
    bottom: 45px;
    box-shadow: 0px 45px 65px 40px white;
}
.products-responsive {
    width: 100%;
}

.bubbles-charcoal-nosestrips {
    bottom: -15%;
    left: 40%;
    position: absolute;
    width: 20%;
    z-index: 200;
}


.bubbles-charcoal-active {
    bottom: -10%;
    left: 57%;
    position: absolute;
    width:20%;
}


.bubbles-charcoal-bakingsoda {
    bottom: 0%;
    left: 77%;
    position: absolute;
    width:20%;
}


.newicon {
   display:none;
}

.newicon > img {
    width: 100%;
}

@media (max-width: 768px) {
    .hide-desktop {
        display: inline-block!important;
    }

    .hide-mobile {
        display: none!important;
    }
}
/* WELCOME MODULE */
#section-01 {
    height: 400px;
    overflow: hidden;
    padding-top: 15px;
    background: #7eb1e2 none repeat scroll 0 0;
    position:relative;
}
/*IE HACK*/
@media screen and (min-width:0\0) {
    #section-01{background: #7eb1e2\9;} /* backslash-9 removes ie11+ & old Safari 4 */    
}
_:-ms-fullscreen, :root #section-01 { background: #7eb1e2; } /* ie 11*/

#welcomeImage {
    position: absolute;   
    /*height: 100%;*/
    top: 0px;
    z-index: 100;
    display: block;
}
#welcomeImage img {
    height: 100%;
    width: inherit;
}
video {
    position: absolute;   
    height: 100%;
    top: 0px;
    z-index: 100;
    display: none;
}
@media screen and (min-width:0\0) {    
    video {
      top: 50%\9;
      left: 50%\9;
      min-width: 100%\9;
      min-height: 100%\9;
      width: auto\9;
      height: auto\9;
      transform: translate(-50%, -50%)\9;
    }
}
_:-ms-fullscreen, :root video { 
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
}
.welcome-module-content {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 200;
}
.welcome-module-content h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #212d61;
    line-height: 1.1em;
}
.welcome-module-content h1 span {
    font-size: 1.5em;
    font-weight: 700;
}
.welcome-module-content p {
    margin: 0 auto;
    font-size: 1.3em;
        line-height: 24px;
    color: #212d61;
}

.welcome-module-line1 {
    font-weight: bold;
}

.welcome-module-line2 {
    color: #fff !important;
    font-weight: bold;
}

.welcome-video {
    margin-top: 40px;   
}
.welcome-video a {
    width: 80px;
    height: 92px;
    display: block;
    background-image: url('../images/homepage/btnPlay.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.welcome-video a:hover {
    background-image: url('../images/homepage/btnPlay_hover.png');
}
.welcome-video img {
    width: 60px;
}
.bubbles-bg {
    background-image: url("/images/homepage/ingredients-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    right: -100px;
    top: 0;
    z-index: 100;
    width:100%;
}
.section-down-arrow {
    width: 35px;
    margin-top: 20px;
}

/* PRODUCT SECTIONS */
.container3 {
	width:100%;
	overflow:hidden;
    max-width: 400px;
    margin: 0 auto;
}
.container2 {
    width:100%;
	position:relative;
}
.container1 {
	width:100%;
	position:relative;
    padding: 20px 0;
}
.headline {
	width:100%;
	position:relative;
	overflow:hidden;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto 0;  
}
.headline h4 {
    font-size: 3em;
    color: #fff;
    font-weight: 700;
    width: 200px;
    margin: 0 auto;
}
.animation {
	width:100%;
	position:relative;
	overflow:hidden;
    text-align: center;
    margin: 20px 0px;
}
.product {
    width:100%;
	position:relative;
	overflow:hidden;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto 0;    
}
.product p {
    font-size: 1.5em;
    color: #fff;
    padding: 0 50px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.animation .animation-container {
    position: relative;
    width: 230px;
    margin: 0 auto;
}

.animation-button {
    width:75px;
}


.overwritte {
    left: 35%;
    position: absolute;
    top: 40%;
    z-index: 200;
}

.animation-border {
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 0% 0% 50% 50%;
    overflow: hidden;
    border-bottom: 5px solid #ea0b8c;
    left: 0px;
    z-index: 200;
    bottom: 10px;
}
.animation-border a {
    display: block;
    width: 100%;
    height: 100%;
}
.animation img{
    width: 100%;
    margin-top: 30px;    
}
.animation .gif-preload, .animation .gif-holder {
    border: 5px solid #ea0b8c;
    border-radius: 50%;
    width: 220px;
}
.gif-holder {
    position: relative;
    bottom: 5px;
}
.animation .gifs li a {
  position:relative;
  display: block;
}
.animation .gif-preload{
  display:none;
}
/*.animation .gif-loading {
  position:absolute;
  width:40px;
  height:40px;
  font-size: 40px;
  color:#fff;
  top:0;
  left:0;
}*/
.animation-skin-container {
    position: absolute;
    width: 230px;
    height: 255px;        
    border-radius: 0 0 50% 50%;
    bottom: 11px;
    overflow: hidden;
}
.animation-skin {
    position: absolute;
    bottom: -10px;
    left: 0;
    right:0;
    margin:auto;
    width: 115px;
}
#section-04 .animation-skin {
    bottom: -30px;
    width: 140px;
}
.animation .animation-play-btn {
    position: absolute;
    width: 30px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 95px;
}

.scroll-dots {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 200    ;
}
.scroll-dots a {
    margin-bottom: 5px;
    margin-top: 1px;
    display: block;
}
.scroll-dots .scroll-dot {
    background: url(../images/homepage/dot-disable.png);
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 10px;
    background-size: 10px;
}
.scroll-dots .scroll-dot.enable {
    background: url(../images/homepage/dot-enable.png);
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 10px;
    background-size: 10px;    
}
.scrollDown {
    color: #ea0a8b !important;
    margin-top: 2em !important;
    position: absolute;
    z-index: 100;
    display:none;
}

#arrowBounce {
    bottom: 1em;
    right: 3.5%;
    position: absolute;
    z-index: 100;
}

#section-01 .bg-left, #section-01 .bg-right {
    background: transparent url('../images/homepage/section-01-bubble.png');
    z-index: 200;
}
#section-02 .bg-left, #section-02 .bg-right {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c9ed8', endColorstr='#8cb3e1',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/section-02-bubble.png'), linear-gradient(to bottom,  #6c9ed8 0%,#8cb3e1 100%); /*#71a1d9*/
}
#section-03 .bg-left, #section-03 .bg-right {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#467fc3', endColorstr='#649bdd',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/section-03-bubble.png'), linear-gradient(to bottom,  #467fc3 0%, #649bdd 100%);
}
#section-04 .bg-left, #section-04 .bg-right {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123264', endColorstr='#03317b',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/section-04-bubble.png'), linear-gradient(to bottom,  #123264 0%, #03317b 100%);
}
#section-05 .bg-left, #section-05 .bg-right {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d2343', endColorstr='#01255a',GradientType=0 ); /* IE6-9 */
    background: url('../images/homepage/section-05-bubble.png'), linear-gradient(to bottom,  #0d2343 0%, #01255a 100%);
}
#section-01 .bg-left, #section-02 .bg-left, #section-03 .bg-left, #section-04 .bg-left, #section-05 .bg-left {    
    background-size: cover;
    background-position: top left;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}
#section-01 .bg-right, #section-02 .bg-right, #section-03 .bg-right, #section-04 .bg-right, #section-05 .bg-right {        
    background-size: cover;
    background-position: top right;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* FANCYBOX REWRITE */
.fancybox-skin {
    padding: 0!important;
}
.fancybox-close {
    background: url('../images/homepage/close.png') !important;
    width: 16px !important;
    height: 16px !important;
    top: -20px !important;
    right: -0px !important;
}

@media screen and (min-width: 480px) {

    .welcome-module-content h1 {
        font-size: 3em;
    }
    .welcome-module-content p {
        font-size: 1.2em;
    }
    .welcome-module-line1 {
        margin-bottom:0;
    }
    .welcome-video {        
        margin-top: 10px;
    }
    .welcome-video a {
        width: 100px;
        height: 120px;
    }
    .section-down-arrow {
        margin-top: 15px;
    }
    .bubbles-bg {
        right: -50px;
        background-size: 40% auto;
    }
    .product p {
        padding: 0 60px;
    }
    .animation .animation-container {
        width: 300px;
    }
    .animation-border {
        width: 300px;
        height: 300px;
    }
    .animation .gif-preload, .animation .gif-holder {
        width: 290px;
    }

    
    .overwritte {
        left: 40%;
        position: absolute;
        top: 30%;
        z-index: 200;
    }

     .overwritte-gif {
        width: 100px!important;
    }
    .overwritte-btn {
        bottom: 43px!important;
    }
    .animation-skin-container {
        width: 300px;
        height: 340px;        
        bottom: 10px;
    }
    .animation-skin {
        width: 150px;
    }
    #section-04 .animation-skin {
        bottom: -32px;
        width: 175px;
    }
    .animation .animation-play-btn {        
        width: 45px;
        bottom: 130px;
    }
}

@media screen and (min-width: 768px) {
    .home-section {
        
    }
    .home-content section {
        padding: 80px 0;
    }
    video {
        display: block;
    }
    #section-01 {
        height: 400px;        
    }

    .welcome-module-content {
        left: 50%;
        text-align: left;
        width: 50%;
    }

    .welcome-module-content h1 {
        font-size: 2em;
    }
    .welcome-module-content p {
        font-size: 1em;
    }
    .welcome-module-line1 {
        margin-bottom: 0.3em !important;
        text-indent: 3em;
    }
    .welcome-module-line2 {
       text-indent: 1em;
    }
    .welcome-video {
        margin-top: 40px;
    }
    .welcome-video a {
        width: 110px;
        height: 130px;
    }
    .bubbles-bg {
        right: 0px;
        background-size: 80% auto;
    }
    .container3 {
	    clear:left;
	    float:left;
        max-width: none;
        margin: 0;
    }
    .container2 {
	    clear:left;
	    float:left;
	    right:33.333%;
    }
    .container1 {
	    float:left;
	    right:33.33%;
        display: -webkit-flex;
        display: flex;        
        align-items: center; 
        padding: 0;
    }
    .headline {
	    float:left;
	    width:29.33%;
	    left:68.67%;
    }
    .headline h4 {
        font-size: 3.4em;       
        width: 150px;
    }
    .animation {
	    float:left;
	    width:29.33%;
	    left:72.67%;
        margin: 0;
        padding: 10px 0;
    }
    .overwritte {
        float: none !important;
        left: 330px;
        position: absolute;
        top: 100px;
        width: 27.9% !important;
        z-index: 500;
    }
    .animation-button {
        width:75px;
    }
    .hide {
        display: none!important;
    }
    .product {
	    float:left;
	    width:29.33%;
	    left:76.67%;
    }
    .product p {
        font-size: 1.3em;        
        padding: 0 10px;
        letter-spacing: 2px;
    }
    .float-right .headline {
        left: 135.30%;
    }
    .float-right .product {
        left: 10%;
    }
    .animation .animation-container {
        width: 220px;
    }
    .animation .gif-preload, .animation .gif-holder {
        width: 210px;
    }
    .animation .gif-holder {
        bottom: 8px;
    }
    .animation-border {
        width: 220px;
        height: 220px;
        bottom: 12px;
    }
    .animation-skin-container {
        width: 220px;
        height: 280px;        
        bottom: 12px;
    }
    .animation-skin {
        width: 112px;
    }
    #section-04 .animation-skin {
        bottom: -23px;
        width: 130px;
    }
    .products-responsive {
        width: 225px;
    }
    .animation .animation-play-btn {        
        width: 30px;
        bottom: 90px;
    }  

    
    .scrollDown {
        bottom: 3.5em;
        right: 0.5%;
        display:block;
    }

}
@media (max-width: 850px) {
    .ïmg-less {
        width: 400px!important;
    }
}
@media screen and (min-width: 804px) {


    .welcome-module-content {
        left: 48%;
        text-align: left;
        width: 50%;
    }

    .welcome-module-content h1 {
        font-size: 2.8em;
    }
    .welcome-module-content p {
        font-size: 1.28em;
    }
    .products-responsive {
        width: 230px;
    }
}
@media screen and (min-width: 880px){
    .home-section {
        
    }
    .animation .animation-container {
        width: 242px;
    }
    .animation img {
        margin-top: 45px;
    }
    .animation .gif-preload, .animation .gif-holder {
        width: 230px;
    }
     .overwritte-gif {
        width: 105px!important;
    }
    .overwritte-btn {
        bottom: 43px!important;
    }
    .animation-border {
        width: 242px;
        height: 242px;
    }
    .animation-skin-container {
        width: 242px;
        height: 302px;        
        bottom: 12px;
    }
    .animation-skin {
        width: 125px;
    }
    #section-04 .animation-skin {
        bottom: -25px;
        width: 140px;
    }
    .animation .animation-play-btn {        
        width: 35px;
        bottom: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .home-content section {
        padding: 100px 0;
    }
    .container3 {
        max-width: 1024px;
        margin: 0 auto;
        float: none;
    }
    #section-01 {
        max-height: 600px;  
        height: 600px;
        padding: 10px 0;      
    }
    .home-section {
      
    }
    .welcome-module {
        margin-top: 10px;
    }

     .welcome-module-content {
        text-align: left;
        width: 60%;
        left: 45%;
        top:0;
    }

    .welcome-module-content h1 {
        font-size: 3.3em;
        margin-top: 15px;
    }
    .products-responsive {
        width: 100%;
    }
    .welcome-module-content p {
        font-size: 1.3em;
    }
    .welcome-video a {
        width: 120px;
        height: 140px;
    }
    .section-down-arrow {
        width: 40px;
        margin-top: 25px;
    }
    .animation .animation-container {
        width: 300px;
    }
    .animation .gif-preload, .animation .gif-holder {
        width: 288px;
    }

    .animation-button {
        width:100px;
    }
    .overwritte {
    float: none !important;
    left: 400px;
    position: absolute;
    top: 150px;
    width: 27.9% !important;
    z-index: 500;
}
    .overwritte-gif {
        width: 150px!important;
    }
    .overwritte-btn {
        bottom: 61px!important;
    }
    .animation-border {
        width: 300px;
        height: 300px;
    }
    .animation-skin-container {
        width: 300px;
        height: 360px;        
        bottom: 12px;
    }
    .animation-skin {
        width: 150px;
    }
    #section-04 .animation-skin {
        bottom: -33px;
        width: 170px;
    }
    .animation img {
        margin-top: 40px;
    }
    .animation .animation-play-btn {
        bottom: 130px;
        width: 45px;
    }
    .headline h4 {
        font-size: 5em;
        width: 220px;
    }
    .product p {
        font-size: 2em;
        line-height: 1.2em;
    }

    .scrollDown {
        bottom: 3.5em;
        right: 1.5%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1090px) {
    /*to address homepage shay promotion opacity 041116 */
    #welcomeImage img {
        /*opacity: 0.5;*/
    }

    .scrollDown {
        bottom: 3.5em;
        right: 1.5%;
    }


}
@media screen and (min-width: 1250px) {
    .newicon {
        position: absolute;
        right: 1em;
        top: 0;
        z-index: 200;
        width:180px;
        display:block;
    }

    .home-content section {
        padding: 155px 0;
    }
    .container3 {
        max-width: 1200px;
    }
    #section-01 {
        height: 730px;
        max-height: none;
        padding: 10px 0;       
    }
    .welcome-module {
        margin-top: 25px;
    }

     .welcome-module-content {
        text-align: left;
        width: 60%;
        left: 45%;
        top:0;
    }

    .welcome-module-content h1 {
        font-size: 4em;
        margin-top: 15px;
    }
    .welcome-module-content p {
        font-size: 2em;
        line-height: 24px;
    }
    .section-down-arrow {
        width: 44px;
        /*margin-top: 120px;*/
    }
    .animation .animation-container {
        width: 100%;
    }
    .animation .gif-preload, .animation .gif-holder {
        width: 338px;
    }
    .overwritte {
    float: none !important;
    left: 500px;
    position: absolute;
    top: 200px;
    width: 27.9% !important;
    z-index: 500;
}
    .overwritte-gif {
         width: 260px!important;
    }
    .overwritte-btn {
        bottom: 108px!important;
    }
    .animation-border {
        width: 352px;
        height: 352px;
    }
    .animation-skin-container {
        width: 352px;
        height: 412px;        
        bottom: 12px;
    }
    .animation-skin {
        width: 175px;
    }
    #section-04 .animation-skin {
        bottom: -37px;
        width: 210px;
    }
    .animation img {
        margin-top: 45px;
    }
    .animation .animation-play-btn {
        bottom: 155px;
        width: 55px;
    }
    .headline h4 {
        font-size: 6em;
        width: 275px;
    }
    .product p {
        font-size: 2.2em;
        line-height: 1.2em;
    }
    .scroll-dots .scroll-dot {
        width: 18px;
        height: 18px;
        background-size: 18px;
    }
    .scroll-dots .scroll-dot.enable {
        width: 18px;
        height: 18px;
        background-size: 18px;    
    }
    .products-responsive {
        width: initial;
    }

    .bubbles-bg {
        background-size: 80% auto;
    }

    .scrollDown {
        bottom: 4.5em;
        right: 2%;
    }
}

@media screen and (min-width: 1500px) {

    .welcome-module-content {
        text-align: left;
        width: 60%;
        left: 38%;
        top:0;
    }
    .container3 {
        max-width: 1500px;
    }
    .animation .animation-container {
        width: 420px;
    }
    .animation-border {
        width: 420px;
        height: 420px;
    }
    .animation-skin-container {
        width: 420px;
        height: 480px;        
        bottom: 12px;
    }
    .animation-skin {
        width: 205px;
    }
    #section-04 .animation-skin {
        bottom: -46px;
        width: 250px;
    }
    .animation .animation-play-btn {
        bottom: 185px;
        width: 55px;
    }
    .animation .gif-preload, .animation .gif-holder {
        width: 408px;
    }
    .headline h4 {
        width: 300px;
        font-size: 7em;
    }
    .product p {
        padding: 0 45px;
        font-size: 2.5em;
    }

    .bubbles-bg {
        background-size: auto auto;
    }
}

/*IE HACK*/
/*@media screen and (min-width:0\0) {
    #section-01 video {height:auto\9; width:100%\9;}
}
_:-ms-fullscreen, :root #section-01 video { height: auto; width:100% }*/

