/* Reset All Styles */
html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, a,abbr,acronym,address,big,cite,code, del,dfn,font,img,ins,kbd,q,s,samp, small,strike,sub,sup,tt,var, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:none;-moz-outline-style:none;}
a:active{outline:0; }
a:focus{-moz-outline-style:none; }
body{line-height:1;}
*:first-child+html body{overflow:visible;}
* html body{overflow:visible;}
ol,ul{list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after, q:before,q:after{content:""; }
blockquote,q{quotes:"" ""; }
a {color: #000; text-decoration: none;}
a:visited {color: #000;}
/*End Reset */

#new_year{
  position:relative;
  top:0px; left:0px;
}
#new_year h1,#new_year h2,#new_year p#main_text,#new_year p#thanks_btnTxt,#new_year p#thanks_btnTxt a#coupon_btn{
  display:block;
  text-indent:-9999px;
}
#new_year h1{
  background:url(http://www.biore.com/usa/facebook/images/so_h1.jpg);
  width:520px; height:109px;
}
#new_year h2{
  background:url(http://www.biore.com/usa/facebook/images/so_h2.jpg);
  width:520px; height:62px;
}
#new_year p#main_text{
  background:url(http://www.biore.com/usa/facebook/images/so_main.jpg);
  width:520px; height:312px;
}
#new_year p#thanks_btnTxt{
  background:url(http://www.biore.com/usa/facebook/images/so_btn.jpg);
  width:520px; height:86px;
}
#new_year p#btm{
  background:url(http://www.biore.com/usa/facebook/images/so_btm.jpg);
  width:520px; height:30px;
}
#new_year p#thanks_btnTxt a#coupon_btn{
  position:relative;
  width:281px; height:30px;
  top:10px; left:120px;
}  
#new_year p#your_gift_disclaimer{
  color:#7c7c7c;
  font:11px Arial, serif;
  margin:8px 0px;
}
#new_year p#your_gift_disclaimer sup{
  font-size:60%;
  position:relative;
  top:-3px;
}