/* Reset All Styles */
html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, a,abbr,acronym,address,big,cite,code, del,dfn,font,img,ins,kbd,q,s,samp, small,strike,sub,sup,tt,var, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:none;-moz-outline-style:none;}
a:active{outline:0; }
a:focus{-moz-outline-style:none; }
body{line-height:1;}
*:first-child+html body{overflow:visible;}
* html body{overflow:visible;}
ol,ul{list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after, q:before,q:after{content:""; }
blockquote,q{quotes:"" ""; }
a {color: #000; text-decoration: none;}
a:visited {color: #000;}

/*End Reset */
#wrap {
  width: 520px; height: 575px;
  margin: 0 auto;
  background: url(http://www.biore.com/usa/facebook/images/sacmurt_bg.jpg) top left no-repeat;
  padding-top: 19px;
}
#wrap h1, #wrap h2, #wrap p, #wrap li {
  display: block;
  text-indent: -9999px;
}
#wrap h1 {
  width: 480px; height: 50px;
  background: url(http://www.biore.com/usa/facebook/images/sacmurt_h1.jpg) top left no-repeat;
  margin: 0 0 0 19px;
}
#wrap h2 {
  width: 480px; height: 62px;
  background: url(http://www.biore.com/usa/facebook/images/sacmurt_h2.jpg) top left no-repeat;
  margin: 0 0 0 19px;
}
#wrap p {
  width: 256px; height: 42px;
  background: url(http://www.biore.com/usa/facebook/images/sacmurt_p.jpg) top left no-repeat;
  margin: 43px 0 12px 225px;
}
#wrap li {
  width: 246px; height: 84px;
  background: url(http://www.biore.com/usa/facebook/images/sacmurt_li1.jpg) top left no-repeat;
  margin: 0 0 0 225px;
}
#wrap #li2 {
  height: 52px;
  background: url(http://www.biore.com/usa/facebook/images/sacmurt_li2.jpg) top left no-repeat;
}
#wrap #li3 {
  height: 47px;
  background: url(http://www.biore.com/usa/facebook/images/sacmurt_li3.jpg) top left no-repeat;
}
#wrap #li4 {
  height: 32px;
  background: url(http://www.biore.com/usa/facebook/images/sacmurt_li4.jpg) top left no-repeat;
}
#wrap #li5 {
  height: 67px;
  background: url(http://www.biore.com/usa/facebook/images/sacmurt_li5.jpg) top left no-repeat;
}