.hide{display:none;}

body, h1, p, form, 
#biore_contest_wrapper h1, 
#biore_contest_wrapper p, 
#biore_contest_wrapper form{
	margin:0;
	padding:0;	
}

#biore_contest_wrapper input, #biore_contest_wrapper select{
	color:#727272;
	font:14px/16px helvetica, arial, sans-serif;	
}

#biore_contest_wrapper, #biore_contest_wrapper p{
	font:14px/16px helvetica, arial, sans-serif;	
	color:#727272;
}

#biore_contest_wrapper{
	background: url(http://biore.com/facebook/images/bg_repeat.png) repeat-y;
	width:760px;
}

#biore_contest_inner_wrapper{background: url(http://biore.com/facebook/images/bottom_bg.png) no-repeat bottom left;width:760px;}

#biore_contest_content{padding:50px 40px 80px; position:relative;}
 
.sac #biore_contest_content{background: url(http://biore.com/facebook/images/sac_top_bg.jpg) no-repeat;}
.murt #biore_contest_content{background: url(http://biore.com/facebook/images/murt_top_bg.jpg) no-repeat;}
.ps #biore_contest_content{background: url(http://biore.com/facebook/images/ps_top_bg.jpg) no-repeat;}

#biore_contest_content a{color:#40a7c6; text-decoration:none;}
#biore_contest_content a:hover{text-decoration:underline;}

#biore_contest_content #top_form p{
	width:100%;
	overflow:hidden;	
	padding:10px 0 5px;
	line-height:30px;
}

#top_form p#required{
	width:230px;
	color:#40a7c6;	
	text-align:right;
	padding-right:0px;
	padding-top:0;
	line-height:16px;
	margin-bottom:4px;
}

#biore_contest_content #top_form label{
	text-transform:uppercase;
	font-size:16px;
	color:#40a7c6;
	width:215px;
	float:left;
	font-weight:normal;
	text-align:right;
	padding-right:20px;
}

#biore_contest_content #top_form input{
	float:left;	
	background:#ebfae9;
	width:267px;
	font-size:16px;
	padding:3px 7px 2px;
	height:23px;
	border:2px solid #c2e8bf;
	-moz-border-radius: 3px;
	/*-webkit-border-radius: 3px;
	-webkit-box-shadow:0px 0px 4px #a4d9a3;
	-moz-box-shadow: 0px 0px 4px 1px #a4d9a3;*/
}

#biore_contest_content #top_form #country{
	background:#dee4e2;
}

#biore_contest_content #top_form input{border:2px solid #c2e8bf\9}

#biore_contest_content select{
	float:left;	
	/*background:#ebfae9 url(http://biore.com/facebook/images/down_arrow.gif) no-repeat 255px 5px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow:0px 0px 4px #a4d9a3;
	-moz-box-shadow: 0px 0px 4px 1px #a4d9a3;
	-khtml-appearance:none;*/
	-moz-border-radius: 3px;
	border:2px solid #c2e8bf;
	background:#ebfae9;
	font-size:16px;
	line-height:24px;
	width:285px;
	height:30px;
	padding:2px 4px 4px;
}

#biore_contest_content #bottom_form select{width:250px;}

#biore_contest_inner_wrapper #top_form p#biore_contest_birthdate select{
	width:88px;	
	margin-right:10px;
	background-position: 62px 5px;
}


#biore_contest_top{position:relative;}
.sac #biore_contest_top{padding:27px 0 112px 184px;}
.murt #biore_contest_top{padding:9px 0 92px 141px;}
.ps #biore_contest_top{padding:53px 0 127px 198px;}

#biore_contest_top h1{
	text-indent:-9000px;
	width:480px;
}

.sac #biore_contest_top h1{
	background: url(http://biore.com/facebook/images/sac_heading.gif) no-repeat;
	height:83px;
}

.murt #biore_contest_top h1{
	background: url(http://biore.com/facebook/images/murt_heading.gif) no-repeat;
	height:86px;
}

.ps #biore_contest_top h1{
	background: url(http://biore.com/facebook/images/ps_heading.gif) no-repeat;
	height:46px;
}

#biore_contest_top p{
	font:20px/22px helvetica, arial, sans-serif;
	color:#40a7c6;	
	width:380px;
	float:left;
	margin-left:12px;
}

.murt #biore_contest_top p{
	margin-left:8px;
	font-size:15px;
	line-height:16px;
	width:300px;
}

.ps #biore_contest_top p{
	line-height:20px;	
	font-size:16px;
	margin-left:8px;
	width:450px;
}

.murt #video_holder{
	display:block;
}

#video_holder{
	position:absolute;
	top:49px;
	display:none;
  right:47px;
	background: url(http://biore.com/facebook/images/video_bg.png) no-repeat;
	width:165px;	
	height:136px;
	padding-top:4px;
	text-align:center;
	color:#fff;
	font-size:10px;
	line-height:12px;
}

#video_holder strong{
	display:block;
	font-size:12px;
	line-height:14px;
}

#murt_video{
	border:1px solid #fff;
	width:155px;
	height:90px;
	margin:0 0 8px 4px;
}

#biore_contest_content a#tell_us_more{
	background: url(http://biore.com/facebook/images/button_bg.gif) no-repeat;
	padding:8px 10px;
	width:260px;
	text-transform:uppercase;
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	line-height:14px;
	font-size:14px;
	margin:15px 0 10px 245px;
}

#biore_contest_content a#tell_us_more:hover{background-position:bottom left;}

#bottom_form{padding:20px 20px 0; }

#bottom_form input{margin-left:15px;}

#biore_contest_content #bottom_form .checkboxes{padding:25px 0;}

#biore_contest_content #bottom_form .checkboxes label{
	font-size:12px;	
	font-weight:normal;
}

#bottom_form .checkboxes input{
	margin:5px 0 5px 10px;
	line-height:16px;
	height:13px;
	width:13px;	
}

#biore_contest_content .col_one{
	float:left;
	width:48%;	
}

#biore_contest_content label{margin-left:10px;}

#biore_contest_content .question{
	float:left;
	width:95%;
	margin:0;
	color:#40a7c6;
	font-size:15px;
	font-weight:normal;
	text-transform:uppercase;
}

#biore_contest_content .float_left{
	float:left;
	width:48%;
	padding-right:15px;
}	

#biore_contest_content .question span.select_all{
	font-size:12px;	
	font-weight:normal;
}

#biore_contest_content .req{
	float:left; 
	margin-right:5px; 
	display:inline;
	color:#40a7c6;
}

#biore_contest_content .q{float:left; width:95%;}

#biore_contest_content .input_wrapper{
	width:100%;
	overflow:hidden;
	display:block;
	margin-bottom:10px;
}

#biore_contest_content .question_wrapper{
	overflow:hidden;
	clear:both;
	padding:15px 0 5px;	
}

#biore_contest_content div#optin_checkboxes{padding:10px 90px 0 20px;}

#biore_contest_content div#optin_checkboxes p{
	font-size:16px;
	line-height:18px;
}

#optin_checkboxes input{
	float:left;
	margin:3px 10px 10px 3px;	
	width:13px;
	height:13px;
}

#optin_checkboxes .optinLine{
	padding-left:25px;	
	padding-right:20px;
}

#optin_checkboxes label{
	margin:0;
	font-weight:normal;	
}

/*#optin_checkboxes .optinLine input{margin-bottom:40px;}*/
#optin_checkboxes p{padding:8px 0; clear:both;}

#biore_contest_content .submit{
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	font-size:16px;
	background: url(http://biore.com/facebook/images/submit_bg.gif) no-repeat;
	border:none;
	width:100px;
	padding:0;
	cursor:pointer;
	margin:10px 0 0 50px;
	text-align:center;
	height:35px;	
}

#biore_contest_content .submit:hover{background-position:bottom left;}

#biore_contest_content .disclaimer{
	margin:25px 0 0px;
	padding:0 60px 0 50px;
}
