#rules {
    position:relative;
    margin:0 auto;
    padding-top:43px;
    font-size:12px;
    background:url(../../images/optin/bg_top.jpg) no-repeat 0 0;
}

#rules #optin_inner {
    background:url(../../images/optin/bg_btm.png) no-repeat bottom left;
    overflow:hidden; 
    height:1%;
    padding:20px 70px 50px 40px;
}

#rules #optin_inner  h1{
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
}

#rules #optin_inner  a{
	color:#40A7C6;
}

#rules #optin_inner  h2{
	font-size:14px;
	font-weight:bold;
	margin-bottom:20px;
}

#rules #optin_inner  ol {
	margin-top:20px;
}

#rules #optin_inner ol li{
	list-style-type:decimal;
	margin:5px 0 15px 20px;	
}

#rules #optin_inner  p{
	margin-top:15px;
}

