﻿.about {
}

    .about #main {
        min-width: 320px;
        min-height: 800px;
        width: 100%;
        margin: 0 auto;
        background: url(../images/about/about-us-bg.jpg);
        background-size: auto auto;
        background-size: cover;
    }

#mainContent h1 {
    width: 875px;
    text-align: center;
    font-size: 60px;
    margin: auto;
    color: #FFF;
    font-family: 'Archer A', 'Archer B';
    font-weight: 600;
    font-style: normal;
    padding: 30px 0;
}

#responseRule {
    background: url(../images/ourProducts/productsResponseRule.jpg);
    width: 852px;
    height: 2px;
    margin: 5px auto 45px auto;
}

.about h1 sup, .about h2 sup {
    font-size: 0.5em;
    /*vertical-align: text-top;
    line-height: normal;*/
}

#content img {
    margin: 0 auto;
    display: block;
    width: 90%;
    max-width: 721px;
}

#content p {
    width: 80%;
    margin: 0px auto 40px auto;
    text-align: center;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    line-height: 22px;
    color: #FFF;
}

p.boldBlue {
    font-family: ProximaNova-Bold !important;
    color: #304065;
}

.titleh1 {
    width: 90%;
    margin: 0 auto;
}


/*  Mobile Portrait 320x480 */
@media all and (max-width:479px) {
    #mainContent h1 {
        width: 280px;
        font-size: 22px;
        margin: auto;
        font-weight: 700;
    }

    #responseRule {
        background-position: -33px 0px;
        width: 270px;
    }

    .about #main {
        min-height: 1250px;
    }
}
/*  Mobile Portrait 320x480 END */
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px) {
    #mainContent h1 {
        width: 420px;
        font-size: 32px;
        margin: 20px auto;
        font-weight: 600;
    }

    #responseRule {
        background-position: -101px 0px;
        width: 390px;
    }
}
/*  Mobile Landscape 480x320 - END */
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - START */
@media all and (min-width:600px) and (max-width:767px) {
    #mainContent h1 {
        width: 500px;
        font-size: 40px;
        margin: 20px auto;
    }

    #responseRule {
        background-position: 0px 0px;
        width: 490px;
    }
}
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - END */
/*  Tablet Portrait 768x1024 - START */
@media all and (min-width:768px) and (max-width:1023px) {
    #mainContent h1 {
        width: 684px;
        font-size: 55px;
        margin: 20px auto;
    }

    #responseRule {
        background-position: 22px 0px;
        width: 670px;
    }
}
