/*
 * ghindaVideoPlayer - jQuery plugin 1.0.0
 *
 * Copyright (c) 2010 Cristian-Ionut Colceriu
 *
 * ghindaVideoPlayer.css
 * Styles for the ghindaVideoPlayer
 *
 */

/* base styles */
.ghinda-video-player {
    position:relative;    
}

.ghinda-video-play, .ghinda-volume-button {
	cursor: pointer;
}
.ghinda-video-timer {
	cursor: default;
}


.ghinda-replay-screen{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    z-index:100;
    padding-bottom:21px;
}

.ghinda-replay-screen div{
    opacity:.6;
    filter: alpha(opacity=60);
    background:#666;
    width:100%;
    height:100%;
    position:absolute;
    z-index:5;
}

.ghinda-replay-screen a{
    background: url(../images/videoControls/replay.png) no-repeat 20px 20px;
    width:100%;
    height:100%;
    display:block;
    position:relative;
    z-index:10;
    padding-bottom:21px;
}

.ghinda-video-player.simpledark .ghinda-video-controls {
	position: relative;
	float: left;
	clear: both;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3e3c3c), to(#282828));
    background: -webkit-linear-gradient(#3e3c3c, #282828);
    background: -moz-linear-gradient(#3e3c3c, #282828);
    background: -ms-linear-gradient(#3e3c3c, #282828);
    background: -o-linear-gradient(#3e3c3c, #282828);
    background: linear-gradient(#3e3c3c, #282828);
    -pie-background: linear-gradient(#3e3c3c, #282828);
	width: 100%;
}

.ie9 .ghinda-video-player.simpledark .ghinda-video-controls{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3c3c', endColorstr='#282828',GradientType=0 );
}

.ghinda-video-player.simpledark .ghinda-video-play, .ghinda-video-player.simpledark .ghinda-video-seek, .ghinda-video-player.simpledark .ghinda-volume-box, .ghinda-video-timer {
	float: left;
}

/* play, pause */
.ghinda-video-player.simpledark .ghinda-video-play {
	display: block;
	width: 21px;
	margin-right:5px;
	height: 21px;
	background: url(../images/videoControls/playBtn.png) no-repeat center;	
	opacity: 0.7;
	-moz-transition: all 0.2s ease-in-out; /* Firefox */
	-webkit-transition: all 0.2s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.2s ease-in-out;  /* Opera */
	transition: all 0.2s ease-in-out; 
}

.ghinda-video-player.simpledark .ghinda-paused-button {
	background: url(../images/videoControls/pauseBtn.png) no-repeat center;	
}

.ghinda-video-player.simpledark .ghinda-video-play:hover {	
    opacity: 1;
}

/* seek */
.ghinda-video-player.simpledark .ghinda-video-seek {
	position:relative;		
	width:360px;
	width:80%;
	height: 7px;
	margin-top: 6px;	
	border: 1px solid #4e4c4c;
	background: #535353;
	background-image: -moz-linear-gradient(top, #535353, #333333);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #535353),color-stop(1, #333333));
}

.ghinda-video-player.simpledark .ghinda-video-seek .ui-slider-handle {
	width: 8px;
	height: 15px;
	top: -2px;
	background: url(../images/videoControls/scrubber.png) no-repeat;
}

.ghinda-video-player.simpledark .ghinda-video-seek .ui-slider-handle.ui-state-hover {
}

.ghinda-video-player.simpledark .ghinda-video-seek .ui-slider-range {
	background: #5288b8;
}

/* timer */
.ghinda-video-player.simpledark .ghinda-video-timer {
	margin: 2px 0 0 7px;
	color: #fff;
	font-size:11px;
}

/* volume */
.ghinda-video-player.simpledark .ghinda-volume-box {
	position: absolute;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	width: 25px;
	height: 21px;
	color: #fff;
	-moz-transition: all 0.1s ease-in-out; /* Firefox */
	-webkit-transition: all 0.1s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.2s ease-in-out;  /* Opera */
	transition: all 0.1s ease-in-out; 
}

/*
.ghinda-video-player.simpledark .ghinda-volume-box:hover {	
	height: 135px;
	padding-top: 5px;
}
*/

.ghinda-video-player.simpledark .ghinda-volume-box:hover .ghinda-volume-slider {
	position: relative;
	visibility: visible;
	opacity: 1;
}
/*
.ghinda-video-player.simpledark .ghinda-volume-slider {	
	position: relative;
	height: 100px;
	width: 7px;
	left: 4px;
	visiblity: hidden;
	opacity: 0;
	border: 1px solid #444;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	background: #535353;
	background-image: -moz-linear-gradient(top, #535353, #333333);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #535353),color-stop(1, #333333));
	box-shadow: inset 0 3px 3px #333333;
	-moz-transition: all 0.1s ease-in-out; 
	-webkit-transition: all 0.1s ease-in-out; 
	-o-transition: all 0.1s ease-in-out; 
	transition: all 0.1s ease-in-out; 
}

.ghinda-video-player.simpledark .ghinda-volume-slider .ui-slider-handle {
	width: 12px;
	height: 12px;
	left: -4px;
	margin-bottom:-0.6em;
	margin-left:0;
	border: 1px solid #333;	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;	
	background: #e6e6e6;
	background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));
	box-shadow: inset 0 3px 3px #d5d5d5;	
}

.ghinda-video-player.simpledark .ghinda-volume-slider .ui-slider-handle.ui-state-hover {
	background: #fff;
}

.ghinda-video-player.simpledark .ghinda-volume-slider .ui-slider-range {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	
	background: #e6e6e6;
	background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));
	
	box-shadow: inset 0 3px 3px #d5d5d5;
}*/

/* volume button */

.ghinda-video-player.simpledark .ghinda-volume-button {
	position: absolute;
	bottom: 0px;
	display: block;
	width: 25px;
	height:21px;
	background: url(../images/videoControls/volumeBtn.png) no-repeat center;
	text-indent: -9999px;
	
	opacity: 0.8;
}

.ghinda-video-player.simpledark .ghinda-volume-button:hover {
	opacity: 1;
}

.ghinda-video-player.simpledark .ghinda-volume-mute {
	background: url(../images/videoControls/muteBtn.png) no-repeat center;
}

/* needed jquery ui styles
 * using these, we don't depend on jQuery UI's stylsheet
 */
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	display: block;
	cursor: pointer;
	outline: none;
}

.ui-slider-range {
	display:block;
	width:100%;	
	height:100%;
	left:0;
	bottom: 0;
	border:0 none;
	position:absolute;
	z-index:1;
}