﻿/* theater styles */
#theater {
	
    margin:0 auto;
    width: 100%;
     
}

.home {
    color: #1f254a;
}

    .home main {
        height: 911px;
    }

  .home #mainContent {
        height: 911px;
    }

 /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
    display: none;
}


.theaterHolder{
    min-width:320px;
    margin:0px auto;
    min-height:913px;
}

  #theaterItem1 {
        /*background-color:#7ad045;*/
        background:#35a047 url(/fr-CA/images/fmas/biore-ca-homepage-bg.jpg) center top repeat-x;
        min-height:920px;
    } 

    #theaterItem2 {
        background-color:#35a047;
        min-height:920px;
    } 


#pagerWrapper{
    margin: 0px auto 0px 0px;;
    width:240px; /* 160px for 2 , 240px for 3 , 320px for 4 */
    position:relative;
}

.home #pagerWrapper {
    margin: -25px auto 0 41%;
    position: relative;
    width: 240px;
}

#pager{
    overflow:hidden;
}

#pager li{
    float:left;
}

.fma1Find:hover
{
    background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 250px 22px white;
    border:3px solid #FAEA25;
}

#pager {
    float:left;
    margin-left: 35%;
}

#pager a{
    width:20px;
    float:left;
    height:20px;
    text-indent:-9000px;
    cursor:pointer;
    margin:0px 0px 10px 0px;
    background: url(/fr-CA/images/fmas/bullet.png) no-repeat;
}

#pager a.active,
.notouch #pager a:hover{
    background-position: 0px -20px;
}

.theaterHolder img{   
    display:none;   
    position:relative;
    filter:inherit;
    z-index:5; 
}

.theaterBox{
    position:relative;
    filter:inherit;
    margin:0 auto;
    max-width:990px;
    width:100%;
}

#mainContent .theaterBox h1{
    display:none;
}

.theaterHolder p{
    position:absolute;
    filter:inherit;
    z-index:10;
    color:#073b87;
    width:25.7%;
    min-width:170px;
}

#theaterItem1.theaterHolder p{
    left:30%;
    top:47%;
    text-align: center;
    width:40%;
}

#theaterItem2.theaterHolder p{
    right:4.9%;
    top:34%;
}

#theaterItem3.theaterHolder p{
    left:10.5%;
    top:41%;
    width:34%;
}

#theaterItem4.theaterHolder p{
    left:13.5%;
    top:43%;
    width:46%;
		font-size:19px;
}

#theaterItem5.theaterHolder p{
    left:14.5%;
    top:43%;
    width:44%;
}

#theaterItem6.theaterHolder p{
    left:34.5%;
    top:43%;
    width:44%;
}



.theaterHolder a img{
    width:100%;
    left:0%;
    top:0px;
    position:absolute;
}


#promoHolder{
    max-width:990px;
    margin:0 auto;
    overflow:hidden;
    width:100%;
}

#theaterDisclaimer{
    color: #999;
    max-width:905px;
    padding: 2px 8%;
    margin:25px auto 0;
    font-size:11px;
    overflow:hidden;
    width:84%;
}

.promo{
    font:14px arial, sans-serif;
    overflow:hidden;
}

.promoContent{
    float:left;
    width:56%;
}

#promo3 .promoContent{
    padding-left:4%;
    width:51%;
}

.promoImage{
    float:left;
    width:44%;
    margin:0;
}

.promoImage img{
    width:100%;
}

.promoHeader{
    padding:30px 0 10px;
    color:#1160a5; 
    font-size:16px;
    text-transform:uppercase;
}

.promoBody{	
    padding-bottom:3px;
} 

.promoButton{
    position:relative;
    left:-15px;
    float:right;
    min-width:165px;
}



/* end theater styles */

.fma1Intro {
    font-family: ProximaNova-Light;
    color:#ffffff;
    margin-bottom:5px;
    display:inline-block;
}

.fma1Char {
    font-family: ProximaNova-Bold;
    color:#474748;
}

.fma1New {
    font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
    color:#ffffff;
    font-size:66px;
}

.fma1From {
    font-family: ProximaNova-Light;
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 5px;
    display: inline-block;
    margin-top:5px;
}

.fma1From sup 
{
    font-size:0.5em;
    position:relative;
    top: -0.5em;
}

.fma1Find {
    background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat 250px 22px;
    color: #22244A;
    float: left;
    font-size: 19px;
    font-weight: bold;
    height: 35px;
    line-height: 14px;
    margin: 80px 10px 5px 32%;
    padding: 25px 0 0 15px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 284px;
    background-color:#faea25;
    font-family: ProximaNova-Bold;
	border:3px solid #FFF;
}

.fma1Product img {
    display: block;
    margin: 0 auto;
    max-height: 668px;
    max-width: 990px !important;
    width: 100%;
}

     .fma1headline {
        /*background: url(/fr-CA/images/fmas/fma1Rules.png) -59px -3px no-repeat;*/
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
    }

/*  Mobile Portrait 320x480 */
@media all and (max-width:479px){
    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        margin-top:0px;
        font-size:15px;
    }

     
    #pager {
        float: left;
        margin-left: 3%;
    }
    #theaterItem1
    {
        top:-10px;
    }

     #theaterItem1, #theaterItem2 {
        min-height: 588px;
    }

     .theaterHolder{
        margin:-8px auto;
    }

     .fma1headline {
        background: none;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 56px;
        max-width: 990px !important;
        width: 70%;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:16px;
        padding-top:0px;
        float:none;
        line-height: 0px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    
    .fma1From sup 
{
    font-size:0.5em;
    position:relative;
    top: -0.5em;
}
    

    .fma1Find {
        background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 173px 11px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        line-height: 14px;
        margin: 12px 0 5px 4%;
        padding: 14px 0 5px 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 190px;
    }

     .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:24px;
        color:#ffffff;
        line-height:21px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
        padding-top:20px;
    }
        .home #footer {
            margin-top: 0px;
        }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:21px;
        color:#ffffff;
        width:230px;
        line-height:14px;
        letter-spacing:-2px;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        
    }

    .fma2Bubbles {
        background: url("/fr-CA/images/fmas/fma2BubblesSmall.png") no-repeat 0px 0px;
        text-transform:uppercase;
        text-align:center;
        margin: 61px auto 0 0%;
        min-height: 196px;
        max-width: 990px !important;
        width: 100%;
    }

   
    .fma2Prove img {
        display: block;
        margin: -46px auto 0 23%;
        max-width: 50% !important;
        padding-top: 45px;
        text-align: center;
    }

    .fma2HowWrap {
        text-align:center;
        margin: 0px auto 0 auto;
        max-width: 990px !important;
        width: 44%;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 37px;
        float: center;
        display: inline-block;
        text-transform: uppercase;
        color:#00427a;
    }

    #fma2List {
      color: #00427A;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 12px;
        line-height: 11px;
        list-style: circle outside none;
        margin: 6px 0 15px -50px;
        text-align: center;
        text-transform: uppercase;
        min-width:273px;
    }

    .fma2Face {
            background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 232px 9px #FAEA25;
            color: #22244A;
            float: left;
            font-family: ProximaNova-Bold;
            font-size: 12px;
            font-weight: bold;
            height: 24px;
            line-height: 14px;
            margin: 4px 10px 5px 8%;
            padding: 11px 0 0 15px;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            width: 252px;
    }
    
     
    #theaterItem1 img{
        width:100%;
        max-width:990px !important; 
        max-height:668px;
        display:block; 
        margin:0 auto; 
    }


    #theaterItem1 .charchoalHeader img {
        width: 100% !important;
    }

   

     #theaterItem2 {
        background-color:#73ba2e;
        min-height:911px;
    }

      #theaterItem1 {
        background-color:#73ba2e;
        min-height:480px;
    }


     .promo{
        margin:0 auto; 
        width:300px;
    }


   .home #mainContent {
        height: 480px;
    }

   
.fma2Prove img {
    display: block;
    margin: 0px auto 0 23%;
    max-width: 25% !important;
    padding-top: 45px;
    text-align: center;
}

   .fmaListOneLine li {
        width: 100px;
        float:left;
    }

    .fmaListOneLineSpacer {
        margin-left: 34px;
    }
    .home #main {
margin-top: 0px;
position: relative;
}
}
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px){ 
    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        margin-top:0px;
        font-size:15px;
    }

     
    #pager {
        float: left;
        margin-left: 3%;
    }
    #theaterItem1
    {
        top:-9px;
    }

     #theaterItem1, #theaterItem2 {
    }

     .theaterHolder{
        margin:-8px auto;
    }

     .fma1headline {
        background: none;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 56px;
        max-width: 990px !important;
        width: 63%;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:16px;
        padding-top:0px;
        float:none;
        line-height: 0px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 0px;
    }
    
    .fma1From sup 
{
    font-size:0.5em;
    position:relative;
    top: -0.5em;
}

    .fma1Find {
        background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 173px 11px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        line-height: 14px;
        margin: 12px 10px 5px 20%;
        padding: 14px 0 5px 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 190px;
    }

     .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:24px;
        color:#ffffff;
        line-height:21px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
        padding-top:20px;
    }
        .home #footer {
            margin-top: 0px;
        }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:21px;
        color:#ffffff;
        width:230px;
        line-height:14px;
        letter-spacing:-2px;
        min-width:230px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
        
    }

    .fma2Bubbles {
        background: url("/fr-CA/images/fmas/fma2BubblesSmall.png") no-repeat 0px 0px;
        text-transform:uppercase;
        text-align:center;
        margin: 61px auto 0 0%;
        min-height: 196px;
        max-width: 990px !important;
        width: 100%;
    }


   
    .fma2Prove img {
        display: block;
        margin: -46px auto 0 23%;
        max-width: 50% !important;
        padding-top: 45px;
        text-align: center;
    }

    .fma2HowWrap {
        text-align:center;
        margin: 0px auto 0 auto;
        max-width: 990px !important;
        width: 44%;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 37px;
        float: center;
        display: inline-block;
        text-transform: uppercase;
        color:#00427a;
    }

    #fma2List {
      color: #00427A;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 12px;
        line-height: 11px;
        list-style: circle outside none;
        margin: 6px 0 15px -50px;
        text-align: center;
        text-transform: uppercase;
        min-width:273px;
    }

    .fma2Face {
            background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 232px 9px #FAEA25;
            color: #22244A;
            float: left;
            font-family: ProximaNova-Bold;
            font-size: 12px;
            font-weight: bold;
            height: 24px;
            line-height: 14px;
            margin: 4px 10px 5px 8%;
            padding: 11px 0 0 15px;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            width: 252px;
    }
    
     
    #theaterItem1 img{
        width:100%;
        max-width:990px !important; 
        max-height:668px;
        display:block; 
        margin:0 auto; 
    }

   #theaterItem1 .charchoalHeader img {
        width: auto !important;
    }


     #theaterItem2 {
        background-color:#73ba2e;
        min-height:600px;
    }

      #theaterItem1 {
        background-color:#73ba2e;
        min-height:600px;
    }


     .promo{
        margin:0 auto; 
        width:300px;
    }

   .home #mainContent {
        max-height: 600px;
    }

   
.fma2Prove img {
    display: block;
    margin: 0px auto 0 23%;
    max-width: 25% !important;
    padding-top: 45px;
    text-align: center;
}

   .fmaListOneLine li {
        width: 100px;
        float:left;
    }

    .fmaListOneLineSpacer {
        margin-left: 34px;
    }
    .home #main {
margin-top: 0px;
position: relative;
}
} 
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 */
@media all and (min-width:600px) and (max-width:767px){    
     
    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        margin-top:-11px;
         font-size:32px;
    }

    #theaterItem1 {
        min-height: 840px;
    }

     #theaterItem2 {
        min-height: 690px;
    }

    .theaterHolder{
        margin:-8px auto;
    }

     .fma1headline {
        background: none;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 56px;
        max-width: 990px !important;
        width: 600px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:33px;
        margin-top:-18px;
        float:none;
        line-height: 12px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 16px;
        margin-bottom: 5px;
        margin-top: 6px;
    }
    
    .fma1From sup 
    {
        margin-top:-10px;
    }

    .fma1Find {
        background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 173px 11px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        line-height: 14px;
        margin: 12px 10px 5px 32%;
        padding: 14px 0 5px 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 190px;
    }

     .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:42px;
        color:#ffffff;
        line-height:50px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
        padding-top:20px;
    }

     .home #footer {
            margin-top: 26px;
        }

    #footer ul {
        margin-top: 11px;
    }


    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:36px;
        color:#ffffff;
        line-height:14px;
        letter-spacing:-2px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 55%;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    }

    .fma2Bubbles {
           background: url("/fr-CA/images/fmas/fma2Bubbles.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            margin: 77px auto 0 7%;
            max-width: 990px !important;
            min-height: 426px;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
    }

    .fma2HowWrap {
       margin: 27px auto 0 41%;
        max-width: 990px !important;
        text-align: center;
        width: 27%;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
        float: left;
        display: inline-block;
        text-transform: uppercase;
        color:#00427a;
    }

    #fma2List {
        color: #00427A;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 15px;
        line-height: 16px;
        list-style: circle outside none;
        margin: 15px 0 15px -91px;
        text-align: center;
        text-transform: uppercase;
    }

    .fmaListOneLine li {
        width: 100px;
        float:left;
    }

    .fmaListOneLineSpacer {
        margin-left: 20px;
    }

    .fma2Face {
        background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 314px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 18px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin: 20px 10px 0px 31%;
        padding: 25px 0 0 15px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
         width: 330px;
    }

    .promo{ 
        max-width:300px;
        width:31%;
        float:right;
        margin-right:2%;
    }

    .promoImage{    
        margin-bottom:20px;
    }

    #footer .centeringDiv {
        margin-top: 9px;
  
        overflow: visible;
        padding: 12px 10px 5px 0px;
    }
   
   .home #mainContent {
        background-color: #B8DBF2;
        height: 910px;
        display:inline;
    }
    .home #main
    {
        margin-top: 0px;
        top: -9px;
        position: relative;
        height: 814px;
    }
   #pager {
        float: left;
        margin-left: 29%;
    }
} 
/*  Tablet Portrait 768x1024 */
@media all and (min-width:768px) and (max-width:1023px){ 

   .theaterHolder p{
        font-size:16px;
        line-height:19px;
    }

    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        
        margin-top:-11px;
        font-size:32px;
    }

     .fma1headline {
        text-transform:uppercase;
        text-align:center;
        margin: -55px auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 755px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:58px;
        margin-top:-10px;
        line-height:58px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 21px;
        margin-bottom: 5px;
        margin-top: 6px;
    }
    
    
.fma1From sup 
{
    font-size:0.5em;
    position:relative;
    top: -0.5em;
}


    .fma1Find {
        background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 250px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin: 25px 10px 5px 31%;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 265px;
        }

    .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:64px;
        color:#ffffff;
        line-height:50px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
        padding-top:20px;
    }

    .fmaListOneLine li {
        float: none;
        width: 300px;
    }
    .fmaListOneLineSpacer {
        margin-left: 0px;
    }

    .home #footer {
    }

    .home #footer ul{
        margin-top: -2px;
    }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:56px;
        color:#ffffff;
        line-height:14px;
        letter-spacing:-2px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    }

    .fma2Bubbles {
        background: url("/fr-CA/images/fmas/fma2Bubbles.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        margin: 89px auto 0 20%;
        max-width: 990px !important;
        min-height: 426px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    .fma2HowWrap {
        text-align:center;
        margin: 0px auto 0 auto;
        max-width: 990px !important;
        width: 45%;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        float: left;
        display: inline-block;
        text-transform: uppercase;
        color:#00427a;
    }

    #fma2List {
      color: #00427A;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 18px;
        line-height: 19px;
        list-style: circle outside none;
        margin: 28px 0 15px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing:1px;
    }

    .fma2Face {
        background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 456px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 19px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin: 42px 10px 55px 32%;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 475px;
    }

    #theaterItem1 img {
        display: block;
        margin: 0 auto;
        max-height: 668px;
        max-width: 900px !important;
        width: 100%;

    }

    #theaterItem1 .charchoalHeader img {
        width: auto !important;
    }


} /* End Large */
/* Tablet Landscape 1024x768 &&  Desktop 1200x1024 */
@media all and (min-width:1024px){ 
    
     .theaterHolder p{
        font-size:16px;
        line-height:19px;
    }

    .fma1Intro {
        font-family: ProximaNova-Light;
        color:#ffffff;
        display:inline-block;
        
        margin-top:-11px;
        font-size:32px;
    }

     .fma1headline {
        text-transform:uppercase;
        text-align:center;
        margin: -55px auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 755px;
    }

     .fma1New {
        font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
        color:#ffffff;
        font-size:50px;
        margin-top:-10px;
        line-height:58px;
    }
     
    .fma1From {
        color: #FFFFFF;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 21px;
        margin-bottom: 5px;
        margin-top: 6px;
    }
    
    
    .fma1From sup 
    {
        position:relative;
        top:-0.5em;
        font-size:0.5em;
    }


    .fma1Find {
        background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 250px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 17px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin: 25px 10px 5px 31%;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 265px;
        }

    .fma2Headline {
        
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:64px;
        color:#ffffff;
        line-height:50px;
        letter-spacing:-2px;
        text-transform:uppercase;
        text-align:center;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
        padding-top:20px;
    }

    .fmaListOneLine li {
        float: none;
        width: 300px;
    }
    .fmaListOneLineSpacer {
        margin-left: 0px;
    }

    .home #footer {
    }

    .home #footer ul{
        margin-top: -2px;
    }

    .fma2HeadlineTwo {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Archer A', 'Archer B'; font-weight: 400; font-style: normal;
        font-size:56px;
        color:#ffffff;
        line-height:14px;
        letter-spacing:-2px;
        margin: 0 auto;
        max-height: 112px;
        max-width: 990px !important;
        width: 63%;
    }

    .fma2Great {
        font-family: 'Archer A', 'Archer B'; font-weight: 600; font-style: normal;
    }

    .fma2Bubbles {
        background: url("/fr-CA/images/fmas/fma2Bubbles.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        margin: 89px auto 0 20%;
        max-width: 990px !important;
        min-height: 426px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    .fma2HowWrap {
        text-align:center;
        margin: 0px auto 0 auto;
        max-width: 990px !important;
        width: 45%;
    }

    #fma2How {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        float: left;
        display: inline-block;
        text-transform: uppercase;
        color:#00427a;
    }

    #fma2List {
      color: #00427A;
        display: inline-block;
        font-family: ProximaNova-Regular;
        font-size: 18px;
        line-height: 19px;
        list-style: circle outside none;
        margin: 28px 0 15px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing:1px;
    }

    .fma2Face {
        background: url("/fr-CA/images/fmas/moreArrow.png") no-repeat scroll 456px 22px #FAEA25;
        color: #22244A;
        float: left;
        font-family: ProximaNova-Bold;
        font-size: 19px;
        font-weight: bold;
        height: 35px;
        line-height: 14px;
        margin: 42px 10px 55px 32%;
        padding: 25px 0 0 24px;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        width: 475px;
    }

    #theaterItem1 img {
        display: block;
        margin: 0 auto;
        max-height: 668px;
        max-width: 990px !important;
        width: 103%;
    }

    #theaterItem1 .charchoalHeader img {
        width: auto !important;
    }

} 


   .fma2Prove img {
        display:block;
        margin: -46px auto 0 23%;
        max-height: 50%%;
        padding-top: 45px;
        text-align: center;
        max-width: 50% !important;
    }

 #theaterItem1{background-color: #35a047; clear:both;}
    #theaterItem2{background-color: #b8dbf2; clear:both;}
    #theaterItem2Wrapper{background-color: #b8dbf2; clear:both;}
    #theaterItem4{background: url(/fr-CA/images/home/theater4EdgesBg.jpg) no-repeat top center;}
    #theaterItem5{background: url(/fr-CA/images/home/theater5EdgesBg.jpg) no-repeat top center;}
    #theaterItem6{background: url(/fr-CA/images/home/theater6EdgesBg.jpg) no-repeat top center;}





