﻿.utility #mainContent .centeringDiv{
    padding-left:15px;
    padding-right:15px;
    max-width:960px;
}
.utility #mainContent{
    min-height: 730px;
}
@media all and (max-width:479px)
{

    .utility #mainContent
    {
        min-height: 1330px;
    }
}
@media all and (max-width:600px)
{

    .utility #mainContent
    {
        min-height: 1130px;
    }
}
@media all and (max-width:900px)
{

    .utility #mainContent
    {
        min-height: 1130px;
    }
}
.pie .subNavHeadlines {
font-family: 'Archer A', 'Archer B';
font-weight: 600;
font-style: normal;
font-size: 22px;
display: block;
text-transform: lowercase;
height: 32px;
width: auto;
margin: 0px 0px 10px 0px;
padding: 0px 0px 0px 0px;
color: #8a8a8a;
text-align: left;
}
.unsubscribe #mainContent,
.rules #mainContent {
    /* background: url("../images/forms/formsBg.jpg") no-repeat scroll center top transparent; */
    background: url("../images/forms/signUpBg.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
    font-size:14px;
    min-height: 750px;
}
.sitemap #mainContent h1,
.pageNotFound #mainContent h1,
.error #mainContent h1{
    font-size:60px;
    line-height:60px;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
}
.pageNotFound #mainContent p,
.error #mainContent p{
    line-height:20px;
    margin-bottom:10px;
}
.rules #polaroid{
    float:left;
    width:40%;
    padding-top:12.5%;
}
.rules #polaroid img{
    width:100%;
    max-width:407px;
    max-height:409px;
}
.rules ol{
    margin-left:23px;
    list-style:decimal;
}
.rules ol li,
.rules p{
    margin-bottom:20px;
}
.rules h2{
    margin-bottom:20px;
}
.proveItLanding #mainContent p{
    font-size:14px;
    line-height:20px;
    margin-bottom:20px;
}
.proveItLanding #mainContent .centeringDiv {
    padding-right:22px;
    padding-left:22px;
    max-width:946px;
}

#linkList li a{
    text-decoration:none;
    font-size:13px;
    float:none;
    color:#0c5ba8;
    text-transform:uppercase
}
#linkList li a:hover{
    color:#5091CD;
}
#linkList{
    overflow:hidden;
}
#linkList ul{
    clear:both;
}
#prodLinks{
    float:left;
}
#linkList ul h2{
    text-transform:uppercase;
    font-size:17px;
    margin:10px 0 20px;
    float:left;
    font-weight:normal;
    clear:both;
   
    position:relative;
}
#linkList ul h2.murt{
    margin-top:20px;    
}
#linkList ul li{
    margin-bottom:5px;
}
#prodLinks > ul > li,
#linkList > ul > li{
    margin-bottom:13px;
}
#prodLinks > ul > li li,
#linkList > ul > li li{
    margin-bottom:20px;
}
#col3 #linkList > ul > li li{margin-bottom:11px;}
#prodLinks > ul > li > a,
#linkList > ul > li > a{
    font-size:16px;
    color:#666;
}
#prodLinks > ul ul,
#linkList > ul ul{
    margin:5px 0 10px;
}
.discontinued{
    background: url(../images/productChanges/dividerHorizontalBg.png) no-repeat;
    min-width: 238px;
    padding-top: 23px;
    float:left;
}             
#linkList .col{
    float:left;
    clear:none;
    padding-right:8%;
}
#linkList #col2{margin-bottom:15px;}
#linkList ul.noPadding{
    padding-right:0;
    width:280px;
}
.responsive #submit-container input{
    background-color: #E62E5E;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-family: ProximaNova-Regular;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    height: 48px;
    margin: 18px auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    padding: 5px 0 0 0;
}
.responsive #submit-container input:hover{
    background-position:bottom left;
}
.responsive .req {
    color: #5091CD;
    font-size: 16px;
    font-style: italic;
    line-height: 18px;
    margin-top:18px;
    font-family: ProximaNova-Regular;
}
.tbin{margin-top:25px;}

/* Custom Rules page for A Story To Pour Over */
.stpo.utility #mainContent .centeringDiv {
    overflow: hidden;
}/*
.stpo.utility #content {
    width: 100%;
}*/
.stpo.utility #content table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px 0 5px;
}
.stpo.utility #content th,
.stpo.utility #content td {
    line-height: 20px;
    font-size: 14px;
    border: 1px solid #666;
    padding: 3px 5px;
}
.stpo.utility #content th {
    font-weight: bold;
    text-align: center;
}
.stpo.utility #content ul {
    list-style: disc;
    padding-left: 40px;
    margin-bottom: 10px;
}
.stpo.utility #content li {
    margin-bottom: 5px;
}
/*.stpo.utility #content .indent {
    padding-left: 40px;
}
.stpo.utility #content ul.indent,
.stpo.utility #content .doubleIndent {
    padding-left: 80px;
}*/

/* smallest size */
@media all and (max-width:1023px){  
    #mainContent .centeringDiv{
        padding:0;
    }
    .unsubscribe #mainContent .centeringDiv{
        padding-left:22px;
        padding-right:22px;
    }
    #mainContent h1,
    .responsive #formHeader h1{
        font-size:46px;
        line-height:46px;
        padding-top:23px;
        font-family: 'Archer A', 'Archer B';
        font-weight: 500;
    }   
    #mainContent .intro p{
        font-size:14px;
        padding-left:30px;
    }
    .utility #mainContent{
        background-position: -150px -20px;
    }
    .pageNotFound #mainContent p,
    .error #mainContent p{
        font-size:14px;
        width:80%;
    }
    .utility #photo, .rules #polaroid{display:none;}
    .responsive .tbin label{
        width: 99%;
        display:block;
        margin-bottom: 10px;
    }
    .responsive #optOut .tbin label{
        width: 191px;
        float: left;
    }
    .responsive #optOut .tbin label#ctl00_ContentPlaceHolder1_ucFormUnsubscribe_emailLbl {
        width: 60px;   
    }
    .responsive #optOut .tbin label.whyRadio {
        float: none;  
        width: 237px; 
    }
    .responsive .tbin input {
        width: 98%;
        display:block;
        margin-bottom: 0px;
        padding-left:0;
        padding-right:0;
    }
    .responsive #optOut .tbin input {
        margin: 5px 8px 0 60px;
		float: left;
		width: 13px;
    }
    .responsive #optOut .tbin input.inputTextBox {
        width: 212px;  
        margin: 0 0 13px 0; 
    }
    #unsubscribe p{
        font-size:14px;
    }
    #BrandImageContainer{display:none;}
}

/* medium size */
@media all and (min-width:1024px){  
    #mainContent h1,
    .responsive #formHeader h1{
        font-size:49px;
        line-height:51px;
        padding-top:37px;
        font-family: 'Archer A', 'Archer B';
        font-weight: 500;
    }
    .utility #content{
        float:left;
        width:59%;
        max-width:450px;    
    }
    .nopic #content{
        width:100%;
    }
    .rules #content{
        max-width:1000px;
    }
    .utility #content p{
        width:100%;
        max-width:320px;
        line-height:20px;
        font-size:16px;
        margin-bottom:10px;
         font-family: ProximaNova-Regular;
    }
    .rules #content p{
        max-width:900px;
    }
    .rules #content li{
        font-size:16px;
    }
    .utility #photo{
        width:40.9%;
        float:left;
        padding-top:2%;
    }
    .utility #photo img{
        width:100%;
    }   
    #linkList .col{
       /* height:364px;*/
        width:33%;
        margin-bottom:20px;
    }
    #linkList #col1{min-width:315px;}
    #linkList #col2{
        min-width:265px;
        margin-top:33px;
    }
    #linkList #col3{
        min-width:218px; 
        width:20%;
        margin-top:43px;
    }
    #prodLinks{
        width:72%;
    }
    .responsive #BrandImageContainer {
        float: left;  
        width: 41.2%;
    }
    .responsive #unsubscribe{
       margin: 0 1% 0 5%;
       float:left;
       width:47.2%;
    }
    .responsive #BrandImageContainer img{
        margin-top: 34%;
        max-width: 407px;
        width: 100%;
    }
    #unsubscribe p{
        font-size:15px;
    }
    #optOut label {
        float: left;
        width: 60px;
        font-family: ProximaNova-Regular;
    }
    #optOut input[type=text]{
        width: 220px;
    }
	#optOut label.whyRadio{
        margin: 12px 0;
        width: 240px;
    }
    #optOut table.whyRadioList tr{
		line-height: 1.8;
    }
    #optOut table.whyRadioList input{
		margin: 5px 8px 0 60px;
		float: left;
		width: 13px;
    }
	#optOut table.whyRadioList label{
		width: 210px;
		max-width: 210px;
        font-family: ProximaNova-Regular;
    }
    #optOut .ErrorContainer{
       margin-left:60px;
    }
}

@media all and (max-width:1023px){
    .prodList ul{max-width:500px;}   
}

/* full size */
@media all and (min-width:1024px){ 
    #mainContent h1, .responsive #formHeader h1{
        font-size:60px;
        line-height:62px;
        padding-top:48px;
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    }
    #unsubscribe p{
        font-size:16px;
        font-family: ProximaNova-Regular;
    }
}
@media all and (max-width:479px)
{
    #mainContent h1
    {
        font-size:36px;
    }
}