﻿/* Dating Rules (.datingRules ) */
.datingRules {
	background: url(../AlloysDatingRules/images/datingRulesVidTabBg.jpg) 0 75px no-repeat;
	width: 520px;
}
.datingRules .ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr; 
	*line-height:0;
}
.datingRules strong {
	font-weight: bold;
}
.datingRules p,
.datingRules h3 {
	font: 14px arial,sans-serif;
	color: #5c5b5b;
}
.datingRules a {
	color: #eb008b;
	text-decoration: none;
}
.datingRules a:hover {
	color: #0c5ba8;
}
/* top nav */
#topNav {
	overflow: hidden;
	padding-top: 20px;
}
#topNav .btn {
	display: block;
	float: left;
	background: #a3a3a3;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;	
	-o-border-radius: 7px;
	border-radius: 7px;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 12px/31px arial,sans-serif;
	color: #fff; 
	padding: 0 40px;
	behavior: url(/Biore2012/PIE.htc);
}
#topNav .btn { /* for QA/QAS/PROD */
	behavior: url(/PIE.htc);
}
#topNav .current,
#topNav .btn:hover {
	background: #ad208e;
}
#topNav .videoFeeds {
	margin: 0 10px 0 47px;
	
}
#topNav .topTen {
}
/* top section */
.datingRules #top {
	padding-top: 320px;
	overflow: hidden;
}
.datingRules #top .productLink {
	width: 295px;
	height: 220px;
	float: right;	
}
.datingRules #top .productLink p {
	padding: 90px 25px 0 105px;
	width: 170px;
}
*+html .datingRules #top .productLink p {
	padding: 120px 25px 0 105px;
}
.datingRules #top .productLink p span {
	color: #eb008b;
}
.datingRules #top .productLink p span span {
	color: #0c5ba8;
}
.datingRules #top .productLink:hover p span { 
	color: #0c5ba8;
}
.datingRules #top p {
	clear: both;
	padding: 0 0 0 45px; 
	width: 435px;
}
*+html .datingRules #top p {
	padding: 25px 0 0 45px; 
}
.datingRules #vidHolder {
	padding: 15px 0 0 40px; 
	background: url(../AlloysDatingRules/images/datingRulesVideoHolder.png) 35px 10px no-repeat;
	width: 453px;
	height: 264px;
}
.datingRules #vidOptions {
	position: relative;
	margin-top: 5px;
}
.datingRules #vidOptions p {
	padding: 0 0 0 45px; 
	width: 435px;
}
.datingRules #vidOptions #btnHolder {
	overflow: hidden; 
	padding: 15px 0 15px 40px; 
	width: 450px;
}
.datingRules #vidOptions .tabBtn {
	float: left;
	display: block;
	margin-right: 14px;
}
.datingRules #vidOptions #btnHolder .tabBtn:hover,
.datingRules #vidOptions #btnHolder .tabBtn.selected {
	background-position: top right;
}
.datingRules #vidOptions #whatsNewLnk {
	height: 31px;
	width: 140px;
	background: url(../AlloysDatingRules/images/whatNewBtn.png) no-repeat;
}
.datingRules #vidOptions #fullEpisodesLnk {
	height: 31px;
	width: 140px;
	background: url(../AlloysDatingRules/images/fullEpisodeBtn.png) no-repeat;
}
.datingRules #vidOptions #behindScenesLnk {
	height: 31px;
	width: 140px;
	background: url(../AlloysDatingRules/images/behindSceneBtn.png) no-repeat;
	margin-right: 0;
}
.datingRules #videoHolders {
	position: relative;
	height: 175px;
}
.datingRules .videoLnkHolder {
	position: absolute;
	z-index: 10;
	margin: 10px 0 0 0;
	left: -9999px;
	width: 520px;
}
.datingRules #whatsNewVids {
	left: auto;
}
.datingRules .vidLnkCarousel {
	position: relative;
	overflow: hidden;
	z-index: 10;
	margin: 0 0 0 72px;
}
.datingRules .vidLnkCarousel li {
	position: relative;
}
.datingRules .videoLnkHolder .vidLink {
	display: block;
	height: 74px;
	width: 75px;
	position: relative;
}
.datingRules .videoLnkHolder .nextBtn {
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	height: 24px;
	width: 24px;
	background: url(../AlloysDatingRules/images/drNextBtn.png) no-repeat;
	position: absolute;
	top: 8px;
	right: 32px;
}
.datingRules .videoLnkHolder .prevBtn {
	display: none;
	text-decoration: none;
	text-indent: -9999px;
	height: 24px;
	width: 24px;
	background: url(../AlloysDatingRules/images/drPrevBtn.png) no-repeat;
	position: absolute;
	top: 8px;
	left: 40px;
}

/* Video Selector Thumbnails */
.datingRules .videoLnkHolder #wn7 { background: url(../AlloysDatingRules/images/webisode7Thumb.png) no-repeat; } /* Episode #7 */
.datingRules .videoLnkHolder #wn6 { background: url(../AlloysDatingRules/images/freshExclusive2Thumb.png) no-repeat; } /* Fresh Exclusive 2 */
.datingRules .videoLnkHolder #wn5 { background: url(../AlloysDatingRules/images/webisode4Thumb.png) no-repeat; } /* Episode #4 */
.datingRules .videoLnkHolder #wn4 { background: url(../AlloysDatingRules/images/freshExclusive1Thumb.png) no-repeat; } /* Fresh Exclusive 1 */
.datingRules .videoLnkHolder #wn3 { background: url(../AlloysDatingRules/images/vignetteThumb.png) no-repeat; } /* Vignette */
.datingRules .videoLnkHolder #wn2 { background: url(../AlloysDatingRules/images/trailerThumb.png) no-repeat; } /* Trailer */
.datingRules .videoLnkHolder #wn1 { background: url(../AlloysDatingRules/images/meetCastThumb.png) no-repeat; } /* Meet the Cast */

.datingRules .videoLnkHolder #fe2 { background: url(../AlloysDatingRules/images/webisode7Thumb.png) no-repeat; } /* Episode #7 */
.datingRules .videoLnkHolder #fe1 { background: url(../AlloysDatingRules/images/webisode4Thumb.png) no-repeat; } /* Episode #4 */

.datingRules .videoLnkHolder #bs5 { background: url(../AlloysDatingRules/images/freshExclusive2Thumb.png) no-repeat; } /* Fresh Exclusive 2 */
.datingRules .videoLnkHolder #bs4 { background: url(../AlloysDatingRules/images/freshExclusive1Thumb.png) no-repeat; } /* Fresh Exclusive 1 */
.datingRules .videoLnkHolder #bs3 { background: url(../AlloysDatingRules/images/vignetteThumb.png) no-repeat; } /* Vignette */
.datingRules .videoLnkHolder #bs2 { background: url(../AlloysDatingRules/images/trailerThumb.png) no-repeat; } /* Trailer */
.datingRules .videoLnkHolder #bs1 { background: url(../AlloysDatingRules/images/meetCastThumb.png) no-repeat; } /* Meet the Cast */

.datingRules .videoLnkHolder .comingSoonLink {
	background: url(../AlloysDatingRules/images/comingSoonThumb.png) no-repeat;
}
.datingRules .contentHolder {
	position: relative;
	height: 120px;	
	width: 520px;
	margin-top: -40px;
}
.datingRules .extraContent {
	position: absolute;
	z-index: 0;
	background: url(../AlloysDatingRules/images/infoWatermarkBg.png) center center no-repeat;
	height: 120px;
	width: 520px;
	display: none;
}
.datingRules .extraContent:first-child {
	display: block;
}
.datingRules .infoArrow {
	display: none;
	position: absolute;
	background: url(../AlloysDatingRules/images/infoArrow.png) no-repeat;
	height: 33px;
	width: 22px;
	z-index: 1;
	top: 35px;
	left: 20px;
}
.datingRules .selected .infoArrow,
.datingRules a:hover .infoArrow {
	display: block;
}
.datingRules a.comingSoonLink .infoArrow {
	display: none;
}
.datingRules #vidOptions .extraContent h3 {
	font-size: 18px;
	color: #0c5ba8;
	padding: 25px 0 0 65px; 
}
.datingRules #vidOptions .extraContent p {
	color: #000;
	padding: 10px 0 0 65px; 
	width: 365px;
}


/* Social Feeds */
.datingRules #socialFeeds {
	position: relative;
}
.datingRules #socialFeeds h2 {
	background: url(../AlloysDatingRules/images/socialHdr.png) no-repeat;
	height: 146px;
	width: 445px;
	margin: 0 0 0 10px;
	position: relative;
	z-index: 10;
}
.datingRules #socialFeeds #smartphoneLayout {
	background: url(../AlloysDatingRules/images/socialPhoneBg.jpg) no-repeat;
	height: 565px;
	width: 394px;
	margin: -87px 0 0 28px;
	position: relative;
	z-index: 1;
	padding: 99px 35px 250px 35px;
}

.datingRules .socialTabs {
	display: block;
	position: absolute;
	top: 100px;
	width: 195px;
	height: 48px;
}
.datingRules .socialTabs.selected {
	height: 58px;
}
.datingRules #fbTab {
	left: 36px;
	background-color: #8398c3;
	background: #8398c3 url(../AlloysDatingRules/images/fbTabBg.png);
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#96a9d3), to(#6f86b1));
	background: -webkit-linear-gradient(top, #96a9d3, #6f86b1);
	background: -moz-linear-gradient(top, #96a9d3, #6f86b1);
	background: -ms-linear-gradient(top, #96a9d3, #6f86b1);
	background: -o-linear-gradient(top, #96a9d3, #6f86b1);
}
.datingRules #fbTab:hover,
.datingRules #fbTab.selected {
	background-color: #3b5998;
	background: #3b5998 url(../AlloysDatingRules/images/fbTabBg.png);
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6985c0), to(#325290));
	background: -webkit-linear-gradient(top, #6985c0, #325290);
	background: -moz-linear-gradient(top, #6985c0, #325290);
	background: -ms-linear-gradient(top, #6985c0, #325290);
	background: -o-linear-gradient(top, #6985c0, #325290);
}	
.datingRules #fbTab span {
	display: block;
	width: 114px;
	height: 23px;
	background: url(../AlloysDatingRules/images/facebookLogo.png) no-repeat;
	margin: -12px 0 0 -57px;
	position: absolute;
	top: 50%;
	left: 50%;
}
.datingRules #twTab {
	left: 233px;
	background-color: #dbeff4;
	background: #dbeff4 url(../AlloysDatingRules/images/twTabBg.png);
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf7fb), to(#c7e6ec));
	background: -webkit-linear-gradient(top, #ecf7fb, #c7e6ec);
	background: -moz-linear-gradient(top, #ecf7fb, #c7e6ec);
	background: -ms-linear-gradient(top, #ecf7fb, #c7e6ec);
	background: -o-linear-gradient(top, #ecf7fb, #c7e6ec);
}
.datingRules #twTab:hover,
.datingRules #twTab.selected {
	background-color: #bfe3ec;
	background: #bfe3ec url(../AlloysDatingRules/images/twTabBg.png);
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0f2f9), to(#a1d5e0));
	background: -webkit-linear-gradient(top, #e0f2f9, #a1d5e0);
	background: -moz-linear-gradient(top, #e0f2f9, #a1d5e0);
	background: -ms-linear-gradient(top, #e0f2f9, #a1d5e0);
	background: -o-linear-gradient(top, #e0f2f9, #a1d5e0);
}	
.datingRules #twTab span {
	display: block;
	width: 116px;
	height: 23px;
	background: url(../AlloysDatingRules/images/twitterLogo.png) no-repeat;
	margin: -12px 0 0 -58px;
	position: absolute;
	top: 50%;
	left: 50%;
}
.datingRules .socialFeedOutput {
	width: 392px;
	height: 504px;
	position: absolute;
	top: 160px;
	overflow: hidden;
	left: 36px;
}
.datingRules .socialFeedOutput #loading {
	padding: 50px 0 0 40px;
	width: 400px;
}
.datingRules #fbFeed {
	display: none;
}
.datingRules #fbFeed #fbComments {
	height: 410px;
	overflow-x: hidden;
	overflow-y: auto;
}
.datingRules #twFeed {
	display: block;
}

.datingRules #fbFeed .commentBlock{
	border-bottom:1px solid #E2E2E2;
	padding-top:10px;
	overflow: hidden;
}
.datingRules #fbFeed a.UIImageBlock_Image{
	float:left;
	margin: 0 10px 10px 10px;
}
.datingRules #fbFeed .UIImageBlock_Content{
	float:left;
	width: 300px;
}
.datingRules #fbFeed .UIImageBlock_Content a {
	color: #4b6ea9;
	font: bold 11px 'Lucida Grande',Tahoma,sans-serif;
}
.datingRules #fbFeed .UIImageBlock_Content a:hover {
	color: #eb008b;
}
.datingRules #fbFeed .postText{
	color:#000;
	font: 11px/13px 'Lucida Grande',Tahoma,sans-serif;
	margin: 10px 0 0 0;
	padding: 0;
	width: auto;
	clear: both;
}
.datingRules #fbFeed .createdTime {
	color:#777;
	font: 11px/13px 'Lucida Grande',Tahoma,sans-serif;
	float: right;
	margin: 5px 0 5px 0;
	padding: 0;
	width: auto;
}
.datingRules #fbFeed #fbShare {
	display: block;
	background: url(../AlloysDatingRules/images/facebookCommentShareBtn.png) no-repeat;
	height: 31px;
	width: 198px;
	margin: 30px auto 0;
}
.datingRules #twFeed #tweets {
	height: 410px;
	overflow-x: hidden;
	overflow-y: auto;
}
.datingRules #tweets .commentBlock{
	border-bottom:1px solid #E2E2E2;
	padding-top:10px;
	overflow: hidden;
}
.datingRules #tweets a.UIImageBlock_Image{
	float:left;
	margin: 0 10px 10px 10px;
}
.datingRules #tweets .UIImageBlock_Content{
	float:left;
	width: 300px;
}
.datingRules #tweets .UIImageBlock_Content a {
	color: #4b6ea9;
	font: bold 11px 'Lucida Grande',Tahoma,sans-serif;
}
.datingRules #tweets .UIImageBlock_Content a:hover {
	color: #eb008b;
}
.datingRules #tweets .postText{
	color:#000;
	font: 11px/13px 'Lucida Grande',Tahoma,sans-serif;
	margin: 10px 0 0 0;
	padding: 0;
	width: auto;
	clear: both;
}
.datingRules #tweets .createdTime {
	color:#777;
	font: 11px/13px 'Lucida Grande',Tahoma,sans-serif;
	float: right;
	margin: 5px 0 5px 0;
	padding: 0;
	width: auto;
}
.datingRules .twitter-share-button {
	display: block;
	margin: 30px auto 0;
}

/* Facebook Comments Popup */
.datingRules#fbCommentsPopup {
	background: none;
}
.datingRules#fbCommentsPopup p {
	font: 12px/14px Tahoma,arial,sans-serif;
	margin: 15px 0 0 20px;
	float: left;
}
.datingRules#fbCommentsPopup a {
	display: block;
	float: right;
	margin: 10px 30px;
	padding: 4px 9px;
	background: #5b74a8;
	color: #fff;
	font: bold 12px/14px Tahoma,arial,sans-serif;
	border-color: #29447e #29447e #1a356e;	
	border-width: 1px;
	border-style: solid;
}
.datingRules#fbCommentsPopup a:hover {
	background: #7b94c8;
}
.datingRules#fbCommentsPopup .fb-comments {
	width: 500px;
	margin: 0 0 0 2px;
}

/* Top Ten Page Styles */
.topTenPg {
	background: url(../AlloysDatingRules/images/topTenHdrBg.png) 45px 75px no-repeat;
	width: 520px;
}
.topTenPg #top {
	padding-top: 255px;
}
.topTenPg #top .instruction {
	position: absolute;
	top: 220px;
	left: 177px;
	width: 230px;
	color: #5c5b5b;
	font: 14px arial,sans-serif;
}
.topTenPg #top .displayBtns {
	overflow: hidden;
	padding: 0 0 10px 75px;
}
.topTenPg #top .displayBtns a {
	display: block;
	float: left;
	color: #5c5b5b;
	font: 14px/36px arial,sans-serif;
}
.topTenPg #top .displayBtns a span {
	padding-right: 7px;
	font-weight: bold;
}
.topTenPg #top #showTopTen {
	background: url(../AlloysDatingRules/images/voteUpBtn.png) no-repeat;
	padding-left: 60px;	
}
.topTenPg #top #showTopTen span {
	color: #416caf;
	background: url(../AlloysDatingRules/images/blueArrow.png) right center no-repeat;
}
.topTenPg #top #showTopTen:hover span {
	color: #eb008b;
	background: url(../AlloysDatingRules/images/pinkArrow.png) right center no-repeat;
}
.topTenPg #top #showAll {
	margin-left: 110px;
}
.topTenPg #top #showAll span {
	color: #eb008b;	
	background: url(../AlloysDatingRules/images/pinkArrow.png) right center no-repeat;
}
.topTenPg #top #showAll:hover span {
	color: #416caf;
	background: url(../AlloysDatingRules/images/blueArrow.png) right center no-repeat;
}
.topTenPg #top h2 {
	background: url(../AlloysDatingRules/images/clickBelowSubHdr.png) no-repeat;
	width: 311px;
	height: 17px;
	margin: 0 auto 15px;
	clear: left;
}

/* Image Grid */
.topTenPg #grid {
	overflow: hidden;
	margin: 0 0 0 35px;
	padding: 10px 0 0 10px;
	position: relative;
}
.topTenPg #grid li {
	float: left;
	margin: 0 10px 0 0;
}

.topTenPg #grid li .gridItem {
	margin: 0 0 10px;
	width: 100px;
	height: 100px;
}
.topTenPg #grid .centerItem .gridItem {
	width: 210px;
	height: 210px;
}
.topTenPg #grid .centerItem .gridItem .centerBlock {
	display: block;
	width: 210px;
	height: 210px;
}
.topTenPg #grid .centerItem .gridItem .drPromoText {
	display: block;
	position: relative;
	width: 190px;
	margin: -40px 0 0 18px;
	color: #000;
	font: 13px arial,sans-serif;
	line-height: 16px;
	text-decoration: none;
}
.topTenPg #grid .centerItem .gridItem .drPromoText:hover,
.topTenPg #grid .centerItem .gridItem .centerBlock:hover ~ .drPromoText {
	text-decoration: underline;
}
.topTenPg #grid li .gridItem .gridItemLink {
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
}
.topTenPg #grid li .gridItem .gridItemLink img {
	position: absolute;
}
.topTenPg #grid li .gridItem .voteStatus {
	display: block;
	position: absolute;
	padding: 62px 0 0 54px;
	z-index: 10;
}
.topTenPg #grid li .gridItem .gridItemLink .voteUpdateImg {
	left: 25px;
}
.topTenPg #grid li .gridItem .gridItemLink .voteUpdateImg.upVoted {
	top: 60%;
} 
.topTenPg #grid li .gridItem .gridItemLink .voteUpdateImg.downVoted {
	top: 30%;
}
.topTenPg #grid li .gridItem .screenGridItem {
	position: absolute;
	width: 110px;
	height: 100px;
	background: url(../AlloysDatingRules/images/whiteScreen.png);
	z-index: 55;
	display: none;
}

/* Grid Item Overlays */
.topTenPg #grid li .overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 448px;
	height: 668px;
	z-index: 99;
	border: 1px solid #547ab7;
	background: url(../AlloysDatingRules/images/whiteScreen.png);
	text-align: center;
}
.topTenPg #grid li .overlay .overlayClose {
	position: absolute;
	top: 6px;
	right: 10px;
	font: 20px arial,sans-serif;
}
.topTenPg #grid li .overlay h3 {
	width: 290px;
	height: 30px;
	margin: 50px auto 40px;
	background: url(../AlloysDatingRules/images/castVoteSubHdr.png) no-repeat;
}
.topTenPg #grid li .overlay .voteShare {
	overflow: hidden;
	margin: 17px auto 0;
	width: 392px;
}
.topTenPg #grid li .overlay .voteShare a {
	display: block;
	float: left;
	width: 105px;
	height: 113px; 
	text-indent: -9999px;
}
.topTenPg #grid li .overlay .voteShare a.luvit { background: url(../AlloysDatingRules/images/luvItVoteBtn.png) no-repeat; margin-right: 38px; }
.topTenPg #grid li .overlay .voteShare a.shareBtn { background: url(../AlloysDatingRules/images/shareBtn.png) no-repeat; margin-right: 38px; }
.topTenPg #grid li .overlay .voteShare a.meh { background: url(../AlloysDatingRules/images/mehBtn.png) no-repeat; }
.topTenPg #grid li .overlay .voteShare a:hover,
.topTenPg #grid li .overlay .voteShare.upVoted a.luvit,
.topTenPg #grid li .overlay .voteShare.downVoted a.meh {
	background-position: top right;
}
.topTenPg #grid li .overlay .voted {
	display: none;
	text-align: center;
	color: #ad208e;
}
.topTenPg #grid li .overlay h4.voted {
	margin: 25px 0 0;
	font: 24px arial,sans-serif;
}
.topTenPg #grid li .overlay p.voted {
	font: 18px arial,sans-serif;
}
.topTenPg #grid li .overlay .voted.afterVote {
	display: block;
}