@charset "UTF-8";

th,h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

body {
	font-size: 97%;/* 12px */
	/* 14px font-size: 113%; */
	/* 10px font-size: 82%;*/
	line-height: 1.4;
	color: #333333;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

* html body {
	font-size: 92%;
	line-height: 1.4;
}

a:link,
a:visited {
	color: #5281ff;
}

a:hover,
a:active {
	color: #333333;
}

img {
	vertical-align: top;
}

/*----------------------------------------
	clearfix
-----------------------------------------*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0px;
	font-size: 0.1px;
	line-height: 0.1px;
}

.clearfix {
	display: inline-block;
	position: relative; /* DW */
}

/* Hides from IE-mac \*/
.clearfix {
	display: block; 
}
/* End hide from IE-mac */

