@charset "UTF-8";

/*----------------------------------------

	- wrapper
		- content
			- map
			- link
		- footer

-----------------------------------------*/

/*----------------------------------------
	wrapper
-----------------------------------------*/

#wrapper {
	padding-top: 24px;
	background: url(../img/index_wrapper_bg.jpg) repeat-x;
}

/*----------------------------------------
	content
-----------------------------------------*/

#content {
	position: relative;
	width: 806px;
	margin: 0 auto;
}

#content h1 {
	position: absolute;
	top: 311px;
	left: 10px;
}

/*----------------------------------------
	map
-----------------------------------------*/

#map {
	position: relative;
	padding-bottom: 15px;
}

#map ul li {
	position: absolute;
}

#jpn {
	top: 125px;
	left: 339px;
}

#tha {
	top: 178px;
	left: 260px;
}

#twn {
	top: 152px;
	left: 317px;
}

#hkg {
	top: 158px;
	left: 289px;
}

#mys {
	top: 192px;
	left: 253px;
}

#sgp {
	top: 206px;
	left: 264px;
}

#idn {
	top: 224px;
	left: 274px;
}

#chn {
	top: 110px;
	left: 294px;
}

#aus {
	top: 283px;
	left: 356px;
}

#vnm {
	top: 191px;
	left: 269px;
}

#gum {
	top: 181px;
	left: 346px;
}

#can {
	top: 78px;
	left: 663px;
}

#mex {
	top: 163px;
	left: 600px;
}

#usa {
	top: 113px;
	left: 662px;
}

#arg {
	top: 265px;
	left: 721px;
}

#chl {
	top: 275px;
	left: 671px;
}

#col {
	top: 203px;
	left: 661px;
}

#cri {
	top: 188px;
	left: 637px;
}

#ecu {
	top: 215px;
	left: 652px;
}

#slv {
	top: 182px;
	left: 625px;
}

#gtm {
	top: 171px;
	left: 616px;
}

#hnd {
	top: 172px;
	left: 635px;
}

#pan {
	top: 196px;
	left: 649px;
}

#nic {
	top: 181px;
	left: 650px;
}

#ven {
	top: 188px;
	left: 681px;
}

#bhs {
	top: 155px;
	left: 658px;
}

#dom {
	top: 165px;
	left: 672px;
}

#jam {
	top: 169px;
	left: 658px;
}

#trb {
	top: 175px;
	left: 693px;
}

#gbr {
	top: 78px;
	left: 34px;
}

#fra {
	top: 92px;
	left: 34px;
}
#ger {
	top: 87px;
	left: 51px;
}
#che {
    top: 100px;
    left: 46px;
}
#aut {
	top: 92px;
	left: 62px;
}
#net {
	top: 77px;
	left: 45px;
}
#den {
	top: 67px;
	left: 51px;
}
#swe {
	top: 55px;
	left: 72px;
}
#nor {
	top: 52px;
	left: 57px;
}
#fin {
	top: 52px;
	left: 87px;
}
#irl {
	top: 77px;
	left: 16px;
}

#isl {
	top: 38px;
	left: 5px;
}

#bhr {
	top: 155px;
	left: 151px;
}

#dbi {
	top: 162px;
	left: 164px;
}

#isr {
	top: 138px;
	left: 115px;
}

#jor {
	top: 130px;
	left: 129px;
}

#kwt {
	top: 143px;
	left: 141px;
}

#lbn {
	top: 123px;
	left: 115px;
}

#omn {
	top: 177px;
	left: 162px;
}

#qat {
	top: 147px;
	left: 163px;
}

#sau {
	top: 162px;
	left: 138px;
}

#yem {
	top: 175px;
	left: 147px;
}

/*----------------------------------------
	link
-----------------------------------------*/

#link {
	padding-bottom: 40px;
	margin-left: 6px;
	border-top: 1px solid #d5d7df;
}

#link dl {
	display: table;
	padding: 10px 0 10px 6px;
	border-bottom: 1px solid #d5d7df;
}

#link dl dt, #link dl dd {
	display: table-cell;
}

#link dl dt {
	width: 146px;
	padding-left: 8px;
	vertical-align: middle;
}

#link dl dd {
	border-left: 1px solid #d5d7df;
	padding-left: 21px;
}

#link dl dd ul {
	width: 632px;
}

#link dl dd ul li {
	float: left;
	min-width: 137px;
	margin: 2px 0 0 5px;
	padding: 2px 8px;
	cursor: default;
}

#link dl dd ul li a {
	padding-right: 10px;
	background: url(../cmn/cmn_link_arrow.png) right center no-repeat;
	color: #24298a;
	font-weight: bold;
	text-decoration: underline;
}

#link dl dd ul li.on {
	border-radius: 2px;
	background: #5281ff;
	color: #ffffff;
	background-image: linear-gradient(left, #5281ff, #80adff);
	background-image: -moz-linear-gradient(left, #5281ff, #80adff);
	background-image: -ms-linear-gradient(left, #5281ff, #80adff);
	background-image: -o-linear-gradient(left, #5281ff, #80adff);
	background-image: -webkit-gradient(linear, left top, right top, from(#5281ff), to(#80adff));
	background-image: -webkit-linear-gradient(left, #5281ff, #80adff);
	text-decoration: none;
}

#link dl dd ul li.on a {
	background: url(../cmn/cmn_link_arrow_on.png) right center no-repeat;
	color: #ffffff;
	text-decoration: none;
}

/*----------------------------------------
	footer
-----------------------------------------*/

#footer {
	position: relative;
	width: 800px;
	margin: 0 auto 20px;
	padding-left: 6px;
}

#footer .pagetop {
	position: absolute;
	right: 0;
	padding-bottom: 20px;
}

#copy {
	font-size: 89%;
}