@charset "UTF-8";

#map li{
	z-index: 100;
}

#map li.on{
	z-index: 0;
}

#map li a{
	position: absolute;
	top: 0;
	z-index: 100;
}

#map li p.attention{
	position: absolute;
	top: 0;
	width:15px;
	height:15px;
	background: #5281ff;
	border-radius: 8px;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";	
}

/*----------------------------------------
	animation
-----------------------------------------*/
.attention{
 	-webkit-animation-duration: 1.0s;
	animation-duration: 1.0s; 
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite; 
	-webkit-animation-name: scale;
	animation-name: scale;
  	-webkit-transform-origin: center center;
  	transform-origin: center center;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1.0);
	opacity: 1;	
  }
  to{
    -webkit-transform: scale(4.0);
	opacity: 0;	
  }
  
}
@keyframes scale {
  from {
    transform: scale(1.0);
	opacity: 1;
  }
  to{
    transform: scale(4.0);	  
	opacity: 0;	
  }
}
