﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="porespectivesRules.aspx.cs" Inherits="Biore2012.porespectivesRules" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 <%=SquishIt.Framework.Bundle .Css()
        .Add("~/css/utilityPages.css")
        .Render("~/css/combinedrules_#.css")
    %>
    
    <style type="text/css">
        .utility #mainContent, #mainContent 
        {
            height:auto;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="main">
        <div id="mainContent">
            <!--<div id="shadow"></div>-->
            <div class="centeringDiv">
                <!--<div id="polaroid"><img src="<%= VirtualPathUtility.ToAbsolute("~/images/forms/signUpPhoto.jpg") %>" alt="" /></div>-->
                <div id="content">
                    <div class="titleh1">
                    <h1>Sorteo de historia de Halloween de Bioré® Skincare en</h1>
                        <div id="responseRule"></div>
                    <h2>Reglas oficiales</h2>
		</div>
                    <div id="privacyinfo">
                    <p><b>NO SE REQUIERE LA COMPRA DE UN PRODUCTO PARA PARTICIPAR EN EL CONCURSO O GANARLO. LA COMPRA DE UN PRODUCTO NO AUMENTA LAS PROBABILIDADES DE GANAR.</b></p>

<p><b>Únicamente las inscripciones iniciadas en o desde Chile, Costa Rica, República Dominicana, Ecuador, El Salvador, Honduras, México, Nicaragua, Panamá, o Perú serán aceptadas en este Concurso; las inscripciones realizadas desde cualquier otra jurisdicción no cumplen con los requisitos de participación. El concurso se rige exclusivamente por las leyes de los Estados Unidos. Las personas que no residan en Chile, Costa Rica, República Dominicana, Ecuador, El Salvador, Honduras, México, Nicaragua, Panamá, o Perú no podrán participar en este concurso.
</b></p>

                    <p><strong>1. Requisitos de participación.</strong> Podrán participar en este concurso únicamente quienes sean residentes legales de Chile, Costa Rica, República Dominicana, Ecuador, El Salvador, Honduras, México, Nicaragua, Panamá, o Perú, y tengan 13 años o más a la fecha de inscripción.  El concurso carece de validez fuera de México, Chile, Colombia, El Salvador, Guatemala, Costa Rica, Honduras, Nicaragua y Panamá, y Perú y en aquellas jurisdicciones donde el mismo estuviera prohibido, gravado por impuestos o limitado por la ley.  Los empleados, funcionarios y directores del Patrocinador y sus casas matrices, subsidiarias, filiales, socios, agencias de publicidad o promoción, fabricantes o distribuidores de materiales para el Concurso, y los familiares directos (padres, hijos, hermanos, cónyuge) o miembros de la misma familia (con o sin un vínculo) de tales empleados, funcionarios o directores no podrán participar en este concurso.  Únicamente las inscripciones iniciadas en o desde Chile, Costa Rica, República Dominicana, Ecuador, El Salvador, Honduras, México, Nicaragua, Panamá, o Perú serán aceptadas en el concurso; las inscripciones realizadas desde cualquier otra jurisdicción no cumplen con los requisitos de participación.  Aplican todas las leyes y reglamentaciones federales, estatales y locales.</p>
                                         
                    <p><strong>2.	NO SE REQUIERE COMPRA PARA PARTICIPAR O GANAR.</br>Cómo participar.</strong> Entre las 09:01 hora del Pacífico, del 26 de octubre de 2017, y las 23:59 hora del Pacífico, del 31 de octubre de 2017 (“Período del Sorteo”), las participantes elegibles deberán inscribirse vía Facebook en la forma descrita a continuación.</p>

<ul style="margin:10px 0px 10px 20px">
<li><p>1.	Inicia sesión o crea una cuenta en Facebook y selecciona “Me gusta” en la página de Bioré Latinoamérica en Facebook.</p></li> 
<li><p>2.	Visita la página de Bioré Latinoamérica en Facebook y busca la publicación de Halloween de Bioré, donde se describe el Sorteo (“Publicación de la Marca”); </p></li>
<li><p>3.	Una vez que encuentres la Publicación de la Marca, lee las instrucciones detenidamente. </b>.</p></li>
</ul>

<ul style="margin:10px 0px 10px 30px">
<li><p>a)	La Publicación de la Marca incluirá el comienzo de una historia inspirada en Halloween. </p></li> 
<li><p>b)	La Participante 1 deberá i) comentar sobre la Publicación de la Marca y continuar la historia creando una (1) oración nueva y original; ii) incluir su país; (iii) incluir su edad; y (iv) etiquetar a una amiga que viva en el mismo país (Participante 2) para que continúe la historia.</p></li>
<li><p>c)	La Participante 2 deberá escribir una (1) oración nueva y original que continúe la historia a partir de donde la dejó la Participante 1; ii) incluir su país; (iii) incluir su edad; y (iv) etiquetar a una amiga que resida en el mismo país (Participante 3) para que finalice la historia.</p></li>
<li><p>d)	La Participante 3 deberá escribir una (1) oración nueva y original para concluir la historia; ii) incluir su país; (iii) incluir su edad; y (iv) incluir el hashtag #BioréEscalofrianteFinal. Las tres oraciones contribuidas por las Participantes 1, 2 y 3 que cumplan con estos términos y condiciones serán consideradas la “Solicitud de Participación”.   </p></li>
</ul>
<p>Juntas, las Participantes 1, 2 y 3 recibirán automáticamente una (1) Solicitud de Participación en el Sorteo correspondiente al país especificado en la Solicitud de Participación. Se aplican todos los términos y condiciones de Facebook.</p>

<p>No hay límite al número de participaciones por persona en el Sorteo, siempre y cuando cada historia sea diferente. Todas las Solicitudes de Participación deberán cumplir con los requisitos de participación especificados arriba y con las Restricciones de Contenido de las Solicitudes de Participación (tal como se definen más adelante), según determine el Patrocinador a su exclusiva y absoluta discreción. El Patrocinador se reserva el derecho de cancelar o modificar este Concurso si no se recibe una cantidad suficiente de solicitudes de participación que cumplan con los criterios especificados en el párrafo 7 de estas Reglas Oficiales.
</p>

<p><b>Al ingresar, cada participante garantiza y representa lo siguiente con respecto a su participación: (a) el participante es el único y exclusivo propietario de la Solicitud de Participación; (b) la Solicitud de Participación no infringirá los derechos de ningún tercero, incluidos, entre otros, copyright, marca registrada, privacidad, publicidad y / o cualquier otro derecho de propiedad intelectual; y (c) la Solicitud de Participación cumple con las Restricciones de contenido de entrada (definidas a continuación).</b>
</p>

                    <p><strong>3.	Restricciones de Contenido: </strong> Al participar en el Sorteo, cada participante conviene en que su Solicitud de Participación cumple con las Restricciones de Contenido de las Solicitudes de Participación, tal como se definen a continuación, y que el Patrocinador, a su exclusiva discreción, podrá retirar cualquier Solicitud de Participación y descalificar a una participante del Sorteo si considera, a su exclusiva discreción, que la Solicitud de Participación no cumple con estas Restricciones de Contenido de las Solicitudes de Participación: </p>
<ul style="margin:10px 0px 10px 20px">
<li><p>•	La Solicitud de Participación no deberá contener material que infrinja o viole los derechos de terceros, como serían, entre otros, derechos de autor, marcas comerciales, privacidad, publicidad u otros derechos de propiedad intelectual; </p></li> 
<li><p>•	La Solicitud de Participación no deberá desprestigiar al Patrocinador, a cualquier otra persona o parte afiliada con la promoción y administración de este Sorteo, ni a competidores del Patrocinador; </p></li>
<li><p>•	La Solicitud de Participación no deberá contener nombres de marcas ni marcas comerciales de cualquier entidad (incluidas, sin limitaciones, aquellas pertenecientes a Competidores) que no sean Marcas del Patrocinador (tal como se definen más adelante), para las cuales el participante tiene una licencia limitada de uso exclusivamente para crear y cargar una Solicitud de Participación en este Sorteo;</p></li>
<li><p>•	La Solicitud de Participación no debe contener material que sea inapropiado, indecente, obsceno, lleno de odio, malicioso, difamatorio, calumnioso o injuriante;</p></li>
<li><p>•	La Solicitud de Participación no debe contener material que fomente la intolerancia, el racismo, el odio o daños a cualquier grupo o individuo, ni que fomente la discriminación por raza, sexo, religión, nacionalidad, discapacidad, orientación sexual o edad; y</p></li>
<li><p>•	La Solicitud de Participación no debe contener material ilegal, que infrinja o sea contrario a las leyes o los reglamentos de cualquier jurisdicción donde se haya creado la Solicitud de Participación.</p></li>
</ul>

<p>Las participantes reconocen que otras participantes podrían utilizar en sus Solicitudes de Participación ideas o conceptos similares a ideas o conceptos incluidos en otra Solicitud de Participación, y las participantes convienen y acuerdan que no tendrán derecho alguno a compensación por dichas similitudes. Las decisiones del Patrocinador son definitivas y obligatorias en todos los aspectos relacionados con este Sorteo, incluidas la interpretación y aplicación de estas Reglas Oficiales, y no se admitirán argumentos.
</p>

                    <p><strong>4.	Sorteo al azar y probabilidades. </strong> Se seleccionará un (1) equipo ganador (integrado por 3 participantes) en un sorteo al azar de entre todas las solicitudes de participación elegibles recibidas durante el Período del Sorteo para cada uno de los Países Elegibles -- Chile, Costa Rica, República Dominicana, Ecuador, El Salvador, Guatemala, Honduras, México, Nicaragua, Panamá, and Perú – ), para un total de 11 equipos ganadores. Los sorteos se realizarán el 3 de noviembre de 2017 o aproximadamente en esa fecha.</p>

                    <p><strong>5.	Premios.</strong> . Las Participantes 1, 2 y 3 del equipo ganador recibirán un premio que consiste en lo siguiente: 1 BAKING SODA LIMPIADOR DE POROS CON BICARBONATO DE SODIO , 1 EXFOLIADOR CON BAKING SODA PARA PIEL CON GRANOS Y ESPINILLAS, 1 EXFOLIADOR CON CARBÓN NATURAL PARA PIEL CON GRANOS Y ESPINILLAS, 1 LIMPIADOR CON CARBÓN NATURAL PARA PIEL CON GRANOS Y ESPINILLAS, y 1 Bandas de Limpieza Profunda Con Carbón Natural (6 CT). El valor minorista promedio por componente del Premio es de USD $8.00; el valor minorista promedio por Premio es de USD $40. El valor minorista promedio por premio puede variar de un país a otro.</p>

                    <p>Los premios son intransferibles.  No pueden reemplazarse o cambiarse por dinero en efectivo.  En caso de que alguno de los premios no estuviera disponible, el Patrocinador se reserva el derecho de sustituirlo por un premio de igual o mayor valor.  El Ganador del Premio Mayor no recibirá la diferencia entre el valor de venta minorista real y el aproximado establecido en estas Reglas oficiales. Todos los impuestos y gastos no especificados corren por cuenta de los ganadores. </p>
          
                    <p><strong>6.	Entrega del premio.</strong> La recepción del premio depende del cumplimiento de estas Reglas oficiales.  El ganador recibirá una notificación por Facebook o Instagram  dentro de las 24 horas posteriores al sorteo.  Salvo cuando estuviera prohibido, el ganador debe responder a la publicación de Facebook o  Instagram que el Patrocinador realice dentro de los tres (3) días de la fecha de notificación o del intento de notificación enviado a fin de reclamar el premio. El ganador deberá proporcionar al Patrocinador una dirección de correo válida donde se pueda entregar el premio.  El Patrocinador se reserva el derecho de confirmar la validez de la participación del/la ganador/a y descalificará a cualquier/a ganador/a cuya dirección de correo no coincida con la dirección identificada en el formulario de Participación. Si no es posible contactar a un/a ganador/a y este/esta no proporciona una dirección de correo válida dentro de los 3 días de notificación/intento de notificación por parte del Patrocinador o si se devuelve el premio porque no fue posible entregarlo, el/la ganador/a pierde el derecho a reclamar su premio y el premio será asignado al próximo participante calificado del sorteo correspondiente. Al perder el Premio, no se entregará compensación alguna.  Mediante la inscripción en el Concurso, los participantes prestan su consentimiento total e incondicional a regirse por estas reglas, las cuales serán definitivas y obligatorias en todos los aspectos relacionados con el Concurso.  La entrega de premios puede demorar entre cuatro (4) a seis (6) semanas. El Patrocinador no se responsabiliza si el Premio no puede entregarse debido a una dirección de correo incorrecta o si los envíos se perdieron o fueron enviados a una dirección errónea.</p>

                    <p><strong>7.	Condiciones.</strong> Todos los impuestos federales, estatales y locales son exclusiva responsabilidad de los ganadores. La participación en el Concurso y la aceptación del premio constituye el permiso del/la ganador/a a que el Patrocinador utilice su nombre, dirección (ciudad y estado), reproducción, fotografía, imagen, retrato, voz, información biográfica y/o cualquier comentario realizado por cada ganador/a sobre el Concurso o el Patrocinador con fines publicitarios o promocionales sin aviso o compensación adicional, a excepción de cuando estuviera prohibido por ley. Al inscribirse, los participantes y el/la ganador/a acuerdan eximir y mantener indemnes tanto al Patrocinador, sus agencias de publicidad y promoción, y sus respectivas casas matrices, subsidiarias, filiales, socios, representantes, agentes, sucesores, cesionarios, empleados, funcionarios o directores (en conjunto, las “Entidades eximidas”), ante todo y cualquier tipo de responsabilidad, en caso de pérdida, daño, lesión, costo o gasto de cualquier naturaleza incluyendo, sin limitación, el daño material, lesión corporal y/o muerte que pueda ocurrir en conexión con la preparación, el viaje o la participación en el Concurso, o la posesión, aceptación y/o uso o uso indebido del premio o participación en cualquier actividad relacionada con el Concurso y para cualquier tipo de reclamo de acuerdo con los derechos de publicidad, difamación o invasión de privacidad y entrega de mercadería.  El Patrocinador no se responsabiliza si el Concurso no puede desarrollarse o si algún premio no puede entregarse debido a cancelaciones de viaje, demoras o interrupciones a causa de un hecho fortuito, guerra, desastres naturales, condiciones climáticas o actos de terrorismo.  Se descalificará a los participantes que no cumplan con estas Reglas oficiales o intenten interferir con este Concurso de forma alguna.  La participación en este concurso no requiere ningún tipo de compra o presentación de ventas. La compra de algún producto no aumenta las probabilidades de ganar.  </p>

                    <p><strong>8.	Términos adicionales.</strong> En caso de discrepancia en cuanto a la identidad de algún participante, se determinará que la Participación fue presentada por el titular de la cuenta autorizada de la dirección de correo electrónico informada en el momento de la inscripción. Por “Titular de cuenta autorizada” se entiende a la persona física que posee una dirección de correo electrónico asignada por un proveedor de acceso a Internet, un proveedor de servicios en línea u otra organización (por ejemplo, organización comercial, educativa, institucional, etc.) responsable de la asignación de direcciones de correo electrónico o el dominio asociado con la dirección de correo electrónico enviada. Es posible que cualquier Ganador/a Potencial deba presentar al Patrocinador una evidencia de que dicho ganador/a es el/la titular de la cuenta autorizada correspondiente a la dirección de correo electrónico asociada con la participación que resultó ganadora. Cualquier otro intento de inscripción, diferente al formulario, está prohibido. No se aceptan medios automáticos, programados, robóticos o similares de inscripción. El Patrocinador, sus filiales, socios y agencias de promoción y publicidad no se responsabilizan por el funcionamiento incorrecto, errores técnicos, de los equipos, de los programas, de comunicación telefónica u otra, o fallas de cualquier tipo, pérdidas de conexión o no disponibilidad de redes, sitios web, Internet o disponibilidad del proveedor de servicios de Internet, intervención humana no autorizada, tráfico congestionado, captura incompleta o inexacta de la información ingresada (independientemente de la causa) o transmisiones fallidas, incompletas, confusas, mezcladas o demoradas, que puedan limitar la capacidad de una persona de participar en el Concurso, incluyendo cualquier tipo de falla o daño en la computadora del participante o de cualquier otra persona relacionada con su participación en este Concurso o como resultado de la misma o por la descarga de materiales relacionados con este Concurso. </p>

<p>El Patrocinador se reserva el derecho, a su único criterio, de cancelar, finalizar, modificar, prolongar o suspender este Concurso en caso (a su único criterio) de virus, errores informáticos, intervención humana no autorizada, fraude u otras causas que excedan su control y perjudiquen o afecten la transmisión, seguridad, imparcialidad o el desarrollo adecuado del Concurso. En este caso, el Patrocinador puede elegir a el/la ganador/a o a los/las ganadores/as entre todas las participaciones válidas recibidas antes y/o después (si correspondiera) de la acción adoptada por el Patrocinador. El Patrocinador se reserva el derecho, a su único criterio, de descalificar a cualquier individuo que considere, a su único criterio, que está tratando de forzar el proceso de inscripción, el funcionamiento del Concurso o el sitio web.  El Patrocinador puede prohibir que un individuo participe en el Concurso o gane un premio si, a su único criterio, determina que dicho participante está intentando socavar la operación legítima del Concurso al hacer trampa, jaquear, engañar o aplicar alguna otra forma de prácticas desleales de juego (incluyendo el uso de programas automáticos de ingreso rápido) o intentando molestar, insultar, amenazar o acosar a algún otro participante o a los representantes del Patrocinador.
<b>PRECAUCIÓN: TODO INTENTO POR PARTE DE UN PARTICIPANTE DE DAÑAR DELIBERADAMENTE CUALQUIER SITIO WEB O SOCAVAR LA OPERACIÓN LEGÍTIMA DEL CONCURSO PUEDE CONSTITUIR UNA VIOLACIÓN DE LAS LEYES PENALES Y CIVILES Y, EN CASO DE QUE DICHO INTENTO SE LLEVE A CABO, EL PATROCINADOR SE RESERVA EL DERECHO DE PROCURAR OBTENER EL RESARCIMIENTO DE LOS DAÑOS Y PERJUICIOS DE TAL PERSONA EN LA MAYOR MEDIDA QUE LA LEY PERMITA.</b>
</p>

                    <p><strong>9.	Limitación de responsabilidad; exclusión de garantías.</strong>  EN NINGUNA CIRCUNSTANCIA LAS ENTIDADES EXIMIDAS SERÁN RESPONSABLES O ESTARÁN OBLIGADAS POR LOS DAÑOS O LAS PÉRDIDAS DE CUALQUIER ÍNDOLE, INCLUYENDO LOS DAÑOS Y PERJUICIOS DIRECTOS, INDIRECTOS, SECUNDARIOS, RESULTANTES O PUNITIVOS QUE SURJAN DEL ACCESO Y EL USO DEL SERVICIO Y/O EL CONCURSO, DESCARGA Y/O IMPRESIÓN DE MATERIAL DESCARGADO DE CUALESQUIERA SITIOS WEB QUE SE RELACIONEN CON EL CONCURSO. EN NINGÚN CASO LA RESPONSABILIDAD TOTAL DE LAS ENTIDADES EXIMIDAS POR TODO TIPO DE DAÑOS Y PERJUICIOS, PÉRDIDAS O CAUSAS DE ACCIONES LEGALES EXCEDERÁ USD 10. SIN LIMITACIÓN DE LO ANTERIOR, ESTE CONCURSO Y TODOS LOS PREMIOS SE ENTREGAN "EN LA FORMA EN QUE SE ENCUENTRAN" SIN NINGÚN TIPO DE GARANTÍA, YA SEA EXPRESA O IMPLÍCITA, INCLUYENDO, PERO SIN LIMITAR, LAS GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD O ADECUACIÓN PARA UN PROPÓSITO PARTICULAR O AUSENCIA DE INCUMPLIMIENTO. ALGUNAS JURISDICCIONES PUEDEN NO PERMITIR LAS LIMITACIONES O EXCLUSIÓN DE RESPONSABILIDAD POR DAÑOS Y PERJUICIOS INDIRECTOS O CONSECUENTES, O LA EXCLUSIÓN DE GARANTÍAS IMPLÍCITAS DE MODO QUE ALGUNAS DE LAS LIMITACIONES O EXCLUSIONES ANTERIORES PUEDEN NO CORRESPONDER EN SU CASO EN PARTICULAR. VERIFIQUE LAS LEYES LOCALES PARA CONOCER CUALQUIER TIPO DE RESTRICCIÓN O LIMITACIÓN RELACIONADA CON ESTAS LIMITACIONES O EXCLUSIONES</p>

                    <p><strong>10.	Uso de datos.</strong> Cualquier información sobre la participación reunida a partir del formulario del Concurso se utilizará únicamente de acuerdo con estas Reglas oficiales y con la política de privacidad en http://www.moltonbrown.com/store/privacy-policy.  Al participar en el Concurso, los participantes por el presente aceptan la recolección y el uso de su información personal por parte del Patrocinador de acuerdo con la política de privacidad del Patrocinador y reconocen que han leído y aceptado la política de privacidad del Patrocinador incluida en http://www.biore.com.mx/privacy/.</p>
                    
                    <p><strong>11.	Lista de ganadores.</strong> Para obtener una lista de los ganadores, envíe un sobre con la dirección y la estampilla incluida antes del 1 de diciembre de 2017 a la siguiente dirección: Chinelo Entertainment S.A. de C.V., Málaga Norte 18, Colonia Extremadura Insurgentes, Delegación Benito Juárez, D.F. 03740 MX.</p>
                    
                    <p><strong>12.	Patrocinador.</strong> Kao USA Inc., 2535 Spring Grove Avenue, Cincinnati, Ohio 45214. Administrador:  Chinelo Entertainment S.A. de C.V., Málaga Norte 18, Colonia Extremadura Insurgentes, Delegación Benito Juárez, D.F. 03740 MX.</p>
                    
                    <p><b>Este Concurso no se realiza con ningún tipo patrocinio o apoyo de Facebook, ni bajo su administración o asociación. La información se entrega al Patrocinador (según se define a continuación), no a Facebook. Todo tipo de pregunta, comentario o reclamo relacionado con el Concurso debe enviarse al Patrocinador y no a Facebook. Su participación en este Concurso debe cumplir en todo momento con las condiciones de servicio aplicables de Facebook. En el caso de algún tipo de violación de tales términos de servicio, el Patrocinador puede, a su único y absoluto criterio, descalificar su participación en el Concurso.</b></p>
                
                 </div>
		</div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" runat="server">
</asp:Content>
