#ctl00_middle_content {
    position:relative;
    margin:0 auto;
    padding-top: 43px;
    font-size:12px;
    background: url(/usa/images/optin/bg_top.jpg) no-repeat 0 0;
}
#ctl00_middle_content div#innerbody {
    padding: 10px 35px 50px;
    background:url(../images/optin/bg_btm.png) no-repeat bottom left;
    overflow:hidden; height:1%; _margin-bottom: 125px;
}
#ctl00_middle_content div#innerbody h1 {
    font-size: 22px;
}
#ctl00_middle_content div#innerbody p, #ctl00_middle_content div#innerbody ol {
    font-size: 14px;
}
#ctl00_middle_content div#innerbody ol {
    margin-top: 25px;
}
#ctl00_middle_content div#innerbody table {
    margin-top: 5px;
    width: 100%;
}
.userinfo {
  margin-top: 3px;
}
.userinfo label {
    width: 85px;
    float: left;
    display: block;
}
.userinfo input {
    width: 180px;
}
.userinfo select {
    width: 184px;
}
#ctl00_ContentPlaceHolder1_Submit {
  margin-left: 85px;
}
.HiddenControl
{
    display:none;
}