﻿#mainContent .centeringDiv{
    max-width:900px;
    margin:0 auto;

}

.whereToBuy #mainContent{
    /*background: url(../images/where-to-buy/whereToBuyBg.jpg) no-repeat top center;*/
    max-width:1024px;
    min-width:320px;
    width:100%;
    margin:0 auto;
}

#productShot{
    width:42.65%;
    float:right;
    padding-top:70px;
}

#productShot img{
    width:100%;
}


.logos{    
    padding:10px 0;
}

.logos ul{    
    width:100%;
    overflow:hidden;
    margin-left:-2%;
    padding-top:7px;
    position:relative;
}

.logos p{
    padding-bottom:15px;
}

#onlineLogos{
    /*background: url(../images/whatsNew/longHorizontalDivider.png) no-repeat;*/
    padding-top:25px;
}

#onlineLogos li{
    min-height:50px;
}

.logos li{
    float:left;
    text-align:center;
    padding:11px 2%;
}

.logos li a{
    display:block;
    text-indent:-9000px;
}

.logos li div a{margin:0 auto;}

.notouch .logos li a:hover{background-position: bottom left;}

/* logos */
div.walgreens{
    padding:3px 0 22px;
}

.walmart a{
    background: url(../images/where-to-buy/walmart.png) no-repeat top center;    
    width:178px;
    height:54px;
}

.kmart a{
    background: url(../images/where-to-buy/kmart.png) no-repeat top center;    
    width:66px;
    height:66px;
}

.harmon a{
    background: url(../images/where-to-buy/harmon.png) no-repeat top center;    
    width:173px;
    height:48px;
}

.riteaid a{
    background: url(../images/where-to-buy/riteaid.png) no-repeat top center;    
    width:79px;
    height:69px;
}

.walgreens a{
    background: url(../images/where-to-buy/walgreens.png) no-repeat top center;    
    width:176px;
    height:40px;
}

.cvs a{
    background: url(../images/where-to-buy/cvs.png) no-repeat top center;    
    width:209px;
    height:28px;
}

.target a{
    background: url(../images/where-to-buy/target.png) no-repeat top center;    
    width:67px;
    height:94px;
}

.ulta a{
    background: url(../images/where-to-buy/ulta.png) no-repeat top center;    
    width:101px;
    height:43px;
}

.duanereade a{
    background: url(../images/where-to-buy/duanereade.png) no-repeat top center;    
    width:156px;
    height:40px;
}

.drugstore a{
    background: url(../images/where-to-buy/drugstore.png) no-repeat top center;    
    width:156px;
    height:34px;
}
    .responseRule {
        /*background: url(../images/ourProducts/productsResponseRule.jpg);*/
        width:466px;
        height:2px;
        margin: 5px auto 15px auto;
    }
/* smallest size */
@media all and (max-width:624px){  

      
       #productShot{display:none;}
        
    .logos p{font-size:15px;}
    
    .logos ul{margin:0;}
    
    .logos li{
        float:none;
        padding:6px 2% 22px
    }
    
    .logos li a{
        margin:0 auto;
    }
}
 /* shared medium and full size */
@media all and (min-width:625px){
    #storeLogos li.harmon{padding-bottom:42px;}
    #onlineLogos li.harmon{padding-bottom:40px;}

    li.harmon{
        padding-left:5%;
    }

    li.ulta{
        padding-left:5%;
        padding-right:4%;
        padding-bottom:14px;
        margin-top:-3px;
    }

    li.walmart{
        padding-right:4%; 
        padding-bottom:33px;
    }
    
    .float{width:209px;}

    li.target{
        margin-top:-18px;
    }

    li.riteaid{
        padding-bottom:21px;
    }

    #storeLogos li.riteaid,
    li.kmart{
        padding-left:6%;
        padding-right:6%;
    }

    #onlineLogos li.riteaid{
        padding-left:5%;
        padding-right:5%;
    }    
}

/* medium size */






/*NEW 031513*/
#logoHolder {width:100%; background-color:#FFF;}

#logoHolder #col1, 
#logoHolder #col2 {
	float: left;
	width: 458px;
	background: #fff;
	min-height: 425px;
}
#logoHolder .innercol {
	float: left;
	border: 1px solid #dedfe0;
}
#logoHolder #col1 .innercol {
	border-width: 1px 0 2px 2px; 
}
#logoHolder #col2 .innercol {	
	border-width: 1px 2px 2px 0;
}
* html #logoHolder #col1 {
	height: 445px;
	width: 458px;
} 
* html #logoHolder #col2 {
	height: 445px;
	width: 457px;
}
#logoHolder h1 {
	margin-top: 10px;
	width: 459px;
	color: #fff;
	background:none repeat scroll 0 0 #AFA3A5;
	font-size:24px;
	line-height:65px;
	text-align:center;
	text-transform:uppercase;
	border: 2px solid #dedfe0;
}
* html #logoHolder h1 {
	width: 458px;	
}
* html #logoHolder #col1 h1 {
	width: 458px;	
}
#logoHolder h1#retail {
	border-width: 2px 0 0 2px;
}
#logoHolder h1#online {
	border-width: 2px 2px 0 0;	
}
#logoHolder ul {
	width: 100%;
	min-height: 425px;
}
*+html #logoHolder .innercol {
	padding-bottom: 20px;	
}
#logoHolder #col1 ul {
	width: 419px;
}
* html #logoHolder ul {
	width: 417px;
	height: 405px;
}
* html #logoHolder #col1 ul {
	width: 418px;
}
#logoHolder #col2 ul {
	border: 1px solid #dedfe0;
	border-width: 0 0 0 1px;
}
* html #logoHolder #col2 ul {
	margin-right: -1px;
}
#logoHolder ul li {
	float: left;	
	width: auto;
    list-style:none;
}
#logoHolder ul li a {
	display: block;
	width: 209px;
	height: 100px;
	text-indent: -9999px;
}
#logoHolder ul li a:hover {
	background-position: top right !important;
}

.bubbleInfo {
    position: relative;
    width: 500px;
    padding: 0px 10px 0px 0px;
}
     
/* Bubble pop-up */

.popup {
    position: absolute;
    display: none;
    z-index: 50;
    border-collapse: collapse;
	width:157px;
}

.popup div.corner {
    height: 15px;
    width: 19px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
	background-color: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
}
.popup div.top-bottom {
    height: 15px;
    width: 119px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
	background-color: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"
}
.popup div.sides {
    height: 50px;
    width: 19px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
	background-color: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"
}

.popup div#topleft { background-image: url(/images/where-to-buy/popup/bubble-1.png); float:left;}
.popup div#top { background-image: url(/images/where-to-buy/popup/bubble-2.png); float:left;
	}
.popup div#topright { background-image: url(/images/where-to-buy/popup/bubble-3.png); float:right; }
.popup div#left { background-image: url(/images/where-to-buy/popup/bubble-4.png); float:left; }
.popup div#right { background-image: url(/images/where-to-buy/popup/bubble-5.png); float:right; }
.popup div#bottomleft { background-image: url(/images/where-to-buy/popup/bubble-6.png); float:left; height:29px; background-position:top; }
.popup div#bottom { background-image: url(/images/where-to-buy/popup/bubble-7.png); text-align: center; float:left; height:29px; background-position:top;}
.popup div#bottom img { display: block; margin: 0 auto; }
.popup div#bottomright { background-image: url(/images/where-to-buy/popup/bubble-8.png); float:right; height:29px; background-position:top; }

.popup div.popup-contents {
    font-size: 12px;
    line-height: 1.2em;
    background-color: #fff;
    color: #666;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	float:left;
    width: 119px;
	min-height:50px;
    }

div.popup-contents div {
    text-align: left;
    }

#wtbProductsAll img {
    display: inline-block;
    max-height: 184px;
    max-width: 893px !important;
    width: 100%;
}



/*  Mobile Portrait 320x480 */
@media all and (max-width:479px){
    #main
    {
        height:1870px;
    }
    #mainContent h1 {
        width: 230px;
        height: 26px;
        text-align: center;
        font-size: 30px;
        margin: 20px auto;
        color: #304065;
    }
     #wtbProductsAll img {
        margin-left: 0px;
    }
    #mainContent .centeringDiv{
        max-width:479px;
        margin:0 auto;
    }
     #wtbProductsAll img {
        margin-left: 0px;
    }
      #logoHolder
    {
        width: 100%;
        margin: 0;
    }

        #logoHolder ul li {
            float:none;
        }

            #logoHolder ul li a {
                margin:auto;
            }

     
#logoHolder ul {
    margin: 0 0 0 25px;
    min-height: 425px;
    padding: 0;
    text-align: center;
    width: 80%;
}
    #wtbProductsAll
    {
        display: none;
    }
    .responseRule {
        /*/background: url(../images/ourProducts/productsResponseRule.jpg);*/
        width: 216px;
        height: 2px;
        margin: -11px auto 15px auto;
    }
}
/*  Mobile Portrait 320x480 END */
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px){
    #main
    {
        height:1010px;
    }
    #mainContent h1 {
        width: 420px;
        height: 56px;
        text-align: center;
        font-size: 50px;
        margin: 20px auto;
        color: #304065;
    }
     #wtbProductsAll img {
        margin-left: 0px;
    }
    #mainContent .centeringDiv{
        max-width:600px;
        margin:0 auto;
    }
     #wtbProductsAll img {
        margin-left: 0px;
    }
      #logoHolder
    {
        width: 440px;
        margin: 20px auto;
    }
    #wtbProductsAll
    {
        display: none;
    }
    .responseRule {
        /*background: url(../images/ourProducts/productsResponseRule.jpg);*/
        width: 366px;
        height: 2px;
        margin: -15px auto 15px auto;
    }
}
/*  Mobile Landscape 480x320 - END */
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - START */
@media all and (min-width:600px) and (max-width:767px){ 
    #main
    {
        height:1010px;
    }
    #mainContent h1 {
        width: 450px;
        height: 56px;
        text-align: center;
        font-size: 60px;
        margin: 20px auto;
        color: #304065;
    }
     #wtbProductsAll img {
        margin-left: 0px;
    }
    
    .logos p{
        font-size:17px;
    }
    #mainContent .centeringDiv{
        max-width:767px;
        margin:0 auto;
    }
    #logoHolder
    {
        width: 440px;
        margin: 20px auto;
    }
    #wtbProductsAll
    {
        display: none;
    }
}
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - END */
/*  Tablet Portrait 768x1024 - START */
@media all and (min-width:768px) and (max-width:1023px) {
  #mainContent h1{
        width:768px;
        /*background: url(../images/where-to-buy/wtbHeaderRule.png) no-repeat -60px 53px;*/
        height:56px;
        text-align:center;
        font-size:80px;
        margin: 0 auto;
        color:#304065;
    }
    #wtbProductsAll img {
    }
    .logos p{
        font-size:18px;
    }
    #logoHolder ul
    {
        width: 658px;
    }
    #logoHolder
    {
        width: 657px;
        margin: 50px auto;
    }
    .responseRule
    {
        display: none;
    }
}
/*  Tablet Portrait 768x1024 - END */
/* Tablet Landscape 1024x768 &&  Desktop 1200x1024 */
@media all and (min-width:1024px) {
  #mainContent h1{
        width:893px;
        height:56px;
        /*background: url(../images/where-to-buy/wtbHeaderRule.png) no-repeat 0px 53px;*/
        text-align:center;
        font-size:80px;
        display:inline-block;
        color:#304065;
    }
    
    .logos p{
        font-size:18px;
    }
    #logoHolder
    {
        width: 100%;
        margin: 50px auto;
    }
    .responseRule
    {
        display: none;
    }
}
