﻿/* Reset All Styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit; vertical-align: baseline; }
:focus{ outline: none; -moz-outline-style: none; }
a:active { outline: 0; }
a:focus { -moz-outline-style: none; }
ol, ul { list-style: none; }
caption, th, td{ text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
/*End Reset */

/* Global */
body {
	overflow-x: hidden;
	width: 520px;
}
/* non-semantic helper classes */
.no-wrap {
	white-space:nowrap;
}
sup {
  font-size: 80%; 
  position: relative; 
  top: -.35em;
}