﻿/******************************************************************************
  CSS Document for Biore Website

    Form Specific Styles
*******************************************************************************/
/******************************************************************************
  	Submit Button 
*******************************************************************************/
#optin_inner {
    background: url("../images/optin/bg_btm.png") no-repeat scroll left bottom transparent;
    height: 1%;
    overflow: hidden;
    padding-bottom: 50px;
}
.vertical div{
    padding:0px;
    margin:0px;
}
.ie8 .png-fix
{
    width:100%;
}
.vertical #contactFormWrap .SubmitContainer {
    clear: left;
	overflow:hidden;
	padding: 12px 20px 0px 0px;
}
.vertical #contactFormWrap .SubmitContainer input {
 background: url("../TargetEndCap/images/btn_sign_me_up.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 1px;
    height: 24px;
    line-height: 1px;
    text-indent: -9000px;
    width: 144px;
}

.vertical #contactFormWrap .SubmitContainer input:hover {
    background-position:bottom left;
}

#contact_top {
    background: url("/usa/images/contact/bg_top.jpg") no-repeat scroll 0 0 transparent;
    font-size: 12px;
    margin: 0 auto;
    padding-top: 43px;
    position: relative;
}
.vertical #contactFormWrap {
	float: left;	
	width: 920px;
	margin: 10px 0;
	min-height: 670px;
}

.vertical #BrandImageContainer,
.vertical #ContactFormContainer {
	float: left;	
}

.vertical #BrandImageContainer {
	width: 400px;	
	margin: 21px 0 0 25px;
}
.vertical #ContactFormContainer {
	width: 490px;	
}
.vertical #ContactFormContainer h1 {
	margin: 23px 0px 0px 12px;
	text-indent:-9999px;
	height:30px;
}


.vertical #ContactFormContainer h1 strong {
	font-weight: bold;
	color: #d2b576;
}
.vertical #ContactFormContainer .DescriptionContainer {	
	padding: 0px 0px 0px 12px;
	margin-bottom: 15px; 
	color: #7C7D7C;
}

.vertical #ContactFormContainer .DescriptionContainer h2 {
	font-size: 17px;
    font-weight: bold;
}

.vertical #ContactFormContainer .DescriptionContainer .ConfrimationContainer h2 {
	padding:10px 0px 10px 0px;
}

.vertical #ContactFormContainer .DescriptionContainer p{	
    font-size:16px;
}

.vertical #ContactFormContainer .FormContainer
{
    margin:0px 0px 0px 13px;
}

.vertical p.req { 
	font-size: 16px;
	color: #40A7C6;
	margin-bottom: 15px; 		

}


.vertical #ContactFormContainer .Question {
	float: left;
	clear: both;
	margin-bottom: 3px;
	width: 590px;
}


.vertical #ContactFormContainer .MemberInfoContainer .Question {
    padding:5px 0px 0px 20px;
}

.vertical #ContactFormContainer label { 
	display: block;
	float: left;
	width: 135px;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
}

.vertical #ContactFormContainer .MemberInfoContainer label{
    text-align: right;
    margin-left:-50px;
    margin-right: 15px;
}
.vertical #ContactFormContainer .CountryContainer span {	
	display: block;
	float: left;
	width: 135px;
	line-height: 20px;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	margin-left:-50px;
	margin-right:10px;
}
* html .vertical #ContactFormContainer .CountryContainer span {
	width: 138px;	
}
.vertical #ContactFormContainer .CountryContainer .fake_input {
    background-color:#C5E5EE;
	width: 199px;
	padding: 2px 3px;
    border-left: 1px solid #0072BC;
    border-top: 1px solid #0072BC;
	color: #747474;
	line-height: normal;
	font-weight: normal;
	font-size: 15px;
	display:block;
	text-align: left;
	margin-left:5px;
}
*+html .vertical #contactFormWrap .CountryContainer .fake_input {width: 201px;}
* html .vertical #contactFormWrap .CountryContainer .fake_input {width: 201px;}
.vertical #ContactFormContainer input,
.vertical #ContactFormContainer select
 {
	width: 205px;

}

.vertical #ContactFormContainer .BirthdayContainer select {
	width: 67px; 
	margin-right: 1px;
}

.vertical .QuestionContainer{
    float: left;
	clear: both;
	margin-bottom: 3px;
	width: 590px;
}

.vertical #ContactFormContainer .QuestionContainer label.dropdownLabel,
.vertical #ContactFormContainer .QuestionContainer label.checkboxLabel,
.vertical #ContactFormContainer .QuestionContainer label.radioLabel,
.vertical #ContactFormContainer .QuestionContainer label.textboxLabel,
.vertical #ContactFormContainer .QuestionContainer label.textareaLabel { 
	display: block;
	float: left;
	width: 190px;
	line-height: 20px;
	padding:5px 10px 0 0;
	font-weight: bold;
}

.vertical #ContactFormContainer .QuestionContainer .textboxAnswer{
    width:500px;
}

.vertical #ContactFormContainer .QuestionContainer select {
	width: 220px;
	margin-top: 10px;
}

.vertical #ContactFormContainer .QuestionContainer .textareaAnswer{
    width:500px;
}

.vertical #wrapper #contactFormWrap .SubmitContainer {
	clear: left;
	overflow:hidden;	
}

.vertical #wrapper #contactFormWrap input.buttonLink{   
    float: left;
    margin-left:135px;
}

.vertical #contactFormWrap .ErrorContainer {
    display:block;
   float:left;
   clear:both;
   width:330px;
}

.vertical #ContactFormContainer span.errormsg {
	padding:2px 0px 0px 0px;
   margin:0px;
}

.vertical #contactFormWrap .MemberInfoContainer .ErrorContainer{ 
    margin-left:100px
}

.vertical #contactFormWrap .MemberInfoContainer .BirthdayContainer .ErrorContainer{ 
    margin-left:-35px;
}
.vertical #ContactFormContainer .BirthdayContainer {
	position: relative;	
}
.vertical #ContactFormContainer .BirthdayContainer span.errormsg {
	clear: left;
	padding-left: 135px;
	margin: 0;
	float: left;
}
.vertical #ContactFormContainer .BirthdayContainer span.year {
}
.vertical #ContactFormContainer .BirthdayContainer span.month {
}
.vertical #ContactFormContainer .BirthdayContainer span.day {
}
.vertical #ContactFormContainer .BirthdayContainer span.validdate {
	float: none;
	clear: none;
	padding-left: 10px;
	display: inline;
}
.vertical #ContactFormContainer span.phone {
	position: relative;
	left: 135px;	
}



.vertical .MarketingQuestionContainer{
    margin-top:30px;
}

.vertical #contactFormWrap .OptinContainer {
	width: 485px;
	border-width: 1px 1px 1px 0;
}

.vertical #contactFormWrap .OptinContainer label {
	width:auto;
	font-weight:normal;
}
.vertical #contactFormWrap .OptinContainer p.privacy {
	font-size:16px;
	width:451px;
}
.vertical #contactFormWrap .OptinContainer p.privacy a {
	color: #40A7C6;
	font-weight:normal;
	text-decoration: underline;
}

.vertical #contactFormWrap .OptinContainer p.privDisclaimer a {
	color: #40A7C6;
}
.vertical #contactFormWrap .OptinContainer p.privDisclaimer a:hover {
	color: #000;
}
.vertical #contactFormWrap .OptinContainer input {
	width: 20px;
	padding: 0;
	margin: 0;
	clear: left;
	border: 0;
	float: left;
}
.vertical #contactFormWrap .OptinContainer label a {
	font-weight: normal;
	color: #40A7C6;
	text-decoration: none;
}
.vertical #contactFormWrap .OptinContainer label a:hover {
	text-decoration: underline;
}

.vertical #contactFormWrap .OptinContainer div.MultiBrandOptinContainer {
	padding: 0 0 0 25px;
}
.vertical #contactFormWrap .OptinContainer ul {
}
.vertical #contactFormWrap .OptinContainer li {
	margin: 10px 0 0 25px;
	float: left;
}
* html .vertical #contactFormWrap .OptinContainer li {
	float: none;
}
.vertical #contactFormWrap .OptinContainer input {
	margin: 2px 0 0 -25px;
	float: left;
}
.vertical #contactFormWrap .OptinContainer label {
	float: left;
}
.vertical #contactFormWrap .OptinContainer .MultiBrandOptinContainer input.multiOptin {
	margin: 0;
}
.vertical #contactFormWrap .OptinContainer #optinToAll {
	margin-left: 0;
}
.vertical #contactFormWrap .OptinContainer .jfOptinChkbox {
	margin-bottom: 5px;
}
.vertical #contactFormWrap .OptinContainer .brandLabels {
	width: 430px;
}


.vertical #contactFormWrap .QuestionContainer .cbVert {
    clear: both;
    display: block;
    padding: 15px 0 0;
}

.vertical #contactFormWrap .QuestionContainer .CustomQuestioncheckbox label {
    width: 476px;
    display:block;
    float:left;
    font-size: 16px; 
}


.vertical #contactFormWrap .QuestionContainer .checkboxAnswer {
    display: block;
    margin: 0 0 0 10px;
}

.vertical #contactFormWrap .QuestionContainer .checkboxAnswer span{
    display:block;
    clear:both;
}

.vertical #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput {
    padding-bottom: 4px;
    display:block;    
}

.vertical #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput label
{
    font-weight:normal;
}

.vertical #contactFormWrap .CustomQuestioncheckbox span input {
    clear: both;
    width: 25px;
    float:left;
	height:15px;
}


/*Checkbox Answers*/
.vertical #contactFormWrap .QuestionContainer .checkboxAnswer{
   display:block;
   margin:0px 0px 0px 10px;
}

/*Verticle checkbox*/
.vertical #contactFormWrap .QuestionContainer .cbVert{
    padding:15px 0px 0px 0px;
    display:block;
    clear:both;
}

.vertical #contactFormWrap #DisclaimerContainer{
    padding:15px 0px 0px 10px;
}
.divLitHeaderText2
{
    color:#ea3163;
}
.signUp .responsive #signUpHeaderBg {
    width: 895px;
    height: 260px;
    background: url(../images/forms/signUpHeaderBg.png) 0px 122px no-repeat;
    padding-top: 30px;
    margin: 0 auto;
}
/******************************************************************************
  	End Cap
*******************************************************************************/
.EndCap #ContactFormContainer  {
color: #7C7D7C;
}
.EndCap #ContactFormContainer h1 {display:none;}
.EndCap #ContactFormContainer h3 {
	background:url('../TargetEndCap/images/h1_optin.png') no-repeat;
	display:block;
	margin: 23px 0px 0px 0px;
	text-indent:-9999px;
	height:30px;
}

.EndCap #ContactFormContainer .DescriptionContainer{padding-top:0px;}

.EndCap #ContactFormContainer .ConfrimationContainer  {margin-top:20px;}
.EndCap #ContactFormContainer .QuestionContainer label.dropdownLabel{width:200px;}
.EndCap #contactFormWrap .ErrorContainer{width:365px;}
.EndCap #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput{height:17px;}
.EndCap #contactFormWrap .OptinContainer input,
.EndCap #contactFormWrap .CustomQuestioncheckbox span input {height:17px;}
.EndCap #contactFormWrap .OptinContainer p.privacy a:hover{color: #40A7C6;text-decoration:none;}
.EndCap #contactFormWrap .OptinContainer p.privDisclaimer a:hover {color: #40A7C6;text-decoration:none;}
.EndCap #ContactFormContainer .ConfrimationContainer  h4{
	background:url('../images/optin/wereSorryHeader.png') no-repeat;
	display:block;
	margin: 23px 0px 0px 0px;
	text-indent:-9999px;
	height:30px;}

.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  {
	display: block;
    left: 25px;
    position: relative;
    width: 330px;
	margin-top: 25px;
}

.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  .checkboxAnswer{
	 display: block;
    height: 25px;
    left: -40px;
    position: relative;
    top: -141px;
    width: 25px;
}

.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  label{display:block;width:395px;position:relative;top:0px;left:0px;}
.vertical #contactFormWrap .QuestionContainer .cbLeftAlign  .ErrorContainer{
	  margin-bottom: 20px;
    margin-top: -18px;
}
.vertical #contactFormWrap  h3.qualifyHeader{
	background-image: none;
    color: #40A7C6;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 11px;
    text-indent: 0;
}
/******************************************************************************
  	We're sorry page
*******************************************************************************/
.vertical #ContactFormContainer .DescriptionContainer .sorry
{
    margin-top:40px;
}
/******************************************************************************
  	Responsive Form
*******************************************************************************/
.forms #mainContent{
    background: url(../images/forms/signUpBg.jpg) no-repeat top center;
    font-size:16px;
    /*min-height: 5038px;*/
    
}
.signUp #mainContent{
    min-height: 4300px;
    background-size:cover;

}
.contactUs #mainContent
{
    min-height: 1638px;
}
.responsive .DescriptionContainer h2{
    font-weight:normal;
    margin-bottom:15px;
    text-align:center;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    text-transform: uppercase;
    color:#304065;
}

.responsive.contact .DescriptionContainer h2{
    margin:15px 0 0;
}

.contactUs .responsive.contact .DescriptionContainer h2{
    margin:0px 0 0;
    text-align:left;
    font-weight:bold;
}

.responsive .DescriptionContainer p{
    margin-bottom:15px;
}

.responsive .req{
    color: #5091cd;
    font-style: italic;
    font-size: 16px;
    line-height: 18px;
    margin-top: 18px;
}

.responsive .MemberInfoContainer textarea{
    font:14px arial, sans-serif;
}

.responsive select,
.responsive input{font-size:14px;}

.responsive .MemberInfoContainer{
    margin-top: 25px;
    overflow: hidden;
    width: 400px;
}

.responsive #contactFormWrap .SubmitContainer{
    clear: left;
	overflow:hidden;
	padding: 12px 20px 0px 0px;
}

.responsive #contactFormWrap .SubmitContainer input{
    background-color:#e62e5e;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    width: 217px;
    height: 62px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 18px auto;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    font-size:30px;
    float:left;
    -webkit-appearance: none;
}

.notouch .responsive #contactFormWrap .SubmitContainer input:hover{
    background-position:bottom left;
}

.responsive #ContactFormContainer .Question {
    padding-top: 12px;
    overflow:hidden;
    width:100%;
}

.responsive #contactFormWrap .QuestionContainer .cbVert {
    clear: both;
    display: block;
    padding: 15px 0 0;
}

.responsive #contactFormWrap .QuestionContainer .CustomQuestioncheckbox label {
    float:left;
    padding-bottom:10px;
    width: 88%;
}

.responsive #contactFormWrap .QuestionContainer .checkboxAnswer {
    float:left;
    width:98%;
    padding:10px 0 0 0px;
}

.responsive #contactFormWrap .QuestionContainer .checkboxAnswer span{
    float:left;
    width:100%;
}

.responsive #contactFormWrap .QuestionContainer .checkboxAnswer span label span{
    float:none;
}

.responsive #contactFormWrap .QuestionContainer .CustomQuestioncheckbox span.cbinput {
    display:block;    
    overflow: hidden;
}

.responsive #contactFormWrap .CustomQuestioncheckbox span input {
    clear: both;
    width: 25px;
    float:left;
    height:15px;
    margin:0;
}

.responsive #contactFormWrap .QuestionContainer .cbVert{
    padding:15px 0px 15px 0px;
    display:block;
    clear:both;
}

.responsive #contactFormWrap .OptinContainer p.privacy {
    line-height: 27px;
    margin: 15px 0 8px 0;
    float: left;
    color:#fb7000;
    font-size:23px;
}

.responsive #contactFormWrap .OptinContainer p.privacy a {
    color:#fb7000;
}

.responsive #contactFormWrap .OptinContainer input {
    width: 20px;
    padding: 0;
    margin: 0;
    clear: left;
    border: 0;
    float: left;
}

.responsive #contactFormWrap .OptinContainer div.MultiBrandOptinContainer {
    padding: 0 0 0 25px;
}

.responsive #contactFormWrap .OptinContainer li {
    margin: 14px 0 0 25px;
    float: left;
    width:90%;
}

.responsive #contactFormWrap .OptinContainer input {
    margin: 2px 0 0 -25px;
    float: left;
}

.responsive #contactFormWrap .OptinContainer label {
    float: left;
}

.responsive #contactFormWrap .OptinContainer .MultiBrandOptinContainer input.multiOptin {
    margin: 0;
}

.responsive #contactFormWrap .OptinContainer #optinToAll {
    margin-left: 0;
}

.responsive #contactFormWrap .OptinContainer .jfOptinChkbox {
    margin-bottom: 5px;
}

.responsive .QuestionContainer .CustomQuestiondropdown{
    padding: 0 0 8px 0;
}

.responsive .QuestionContainer .CustomQuestiondropdown label{
    width: 95%;
}

.responsive #ContactFormContainer .CountryContainer .fake_input {
    background-color:#C5E5EE;
    padding: 2px 3px;
    border: 1px solid #0072BC;
    color: #747474;
    display:block;
    margin: 0;
}

.responsive .ErrorContainer{
    line-height:1px;
}

.responsive .ErrorContainer span{
    padding-top:3px;
    display:block;
    line-height:18px;
}

 .responsive #contactFormWrap #DisclaimerContainer{
    font-size:11px;
}

.responsive div#proveIt img {
    float: left;
    max-width:226px;
    width:50%;
    min-width:180px;
}

.responsive #proveIt a {
    background: url("../images/ourProducts/productDetail/startEarningNowBtn.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    margin: 3% 0 0 4%;
    padding: 8px 0 10px;
    position: static;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 189px;
}

.notouch .responsive #proveIt a:hover {
    background-position: 0 -41px;
    color:#fff;
}


/* smallest size */
@media all and (max-width:767px){
    #mainContent .centeringDiv{
        width: 80%;
    }

    .responsive .MemberInfoContainer{
        margin-top: 25px;
        overflow: hidden;
        width: 270px;
    }

    .responsive #formHeader h1 {
        font-family: 'Archer A', 'Archer B';
        font-weight: 500;
        font-style: normal;
        font-size: 29px;
        line-height: 37px;
        padding-top: 23px;
        text-align: left;
        font-weight: 700;
    }
   
    .responsive #BrandImageContainer img{
        display: none;
    }

    .signUp .responsive .DescriptionContainer h2{
        font-size: 17px;
        line-height: 0px;
    }

    .signUp .responsive .DescriptionContainer p{
        font-size: 11px;
        line-height: 50px;
        text-align:center;
    }
    
    .signUp .responsive #formHeader h1{
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
        font-size: 36px;
        line-height: 47px;
        padding-top:23px;
        text-align:center;
    }
    
    .signUp .responsive.contact #formHeader h1{
        font-size: 51px;
        line-height: 51px;
        padding-top:23px;
    }
    
    .responsive.smallerHeader #formHeader h1{
        font-size: 42px;
        line-height: 52px;
        padding-top:23px;
    }

    .responsive .MemberInfoContainer label, 
    .responsive .BirthdayContainer label{
        width: 99%;
        display:block;
        margin-bottom: 10px;
    }
            
    .responsive .MemberInfoContainer input {
        width: 98%;
        display:block;
        margin-bottom: 0px;
        padding-left:0;
        padding-right:0;
    }
    
    .responsive #ContactFormContainer .CountryContainer #ctl00_ContentPlaceHolder1_ucForm_ucFormMemberInfo_CountryLbl {	
	    display: block;
	    margin-bottom: 10px;
    }
    
    .responsive #ContactFormContainer .CountryContainer .fake_input {
	    width: 97%;
    }
    
    .responsive #ContactFormContainer .BirthdayContainer select {
        width: 29.6%;
        float:left;
    }

    .responsive #ContactFormContainer .BirthdayContainer select.year, 
    .responsive #ContactFormContainer .BirthdayContainer select.day{
        margin-left: 5%;
    }
        
    .responsive .QuestionContainer select{
        margin-top:10px;
    }
    
    .responsive select{
        width: 98.5%;
    } 
    
    .responsive .MemberInfoContainer textarea{
        width:97%;
    }
    .signUp .responsive #signUpHeaderBg {
        width: 485px;
        height: 260px;
        background: url(../images/forms/signUpHeaderBg.png) 0px 122px no-repeat;
        padding-top: 28px;
        margin: 0 auto;
        background-size: contain;
    }
}   
@media all and (max-width:600px)
{
    .signUp .responsive #signUpHeaderBg
    {
        width: 375px;
        height: 200px;
        background: url(../images/forms/signUpHeaderBg.png) 0px 122px no-repeat;
        padding-top: 44px;
        margin: 0 auto;
        background-size: contain;
    }
        
    .signUp .responsive #formHeader h1{
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
        font-size: 29px;
        line-height: 37px;
        padding-top:23px;
        text-align:center;
    }
    .signUp .responsive .DescriptionContainer h2 {
        font-size: 14px;
        line-height: 0px;
    }
    .signUp .responsive #signUpHeaderBg {
        width: 390px;
        background: url(../images/forms/signUpHeaderBg.png) 0px 59px no-repeat;
        padding-top: 0px;
        margin: 0 auto;
        background-size: contain;
    }
    .signUp .responsive .DescriptionContainer p {
        font-size: 8px;
        line-height: 30px;
        text-align: center;
    }
} 
@media all and (max-width:479px)
{
    .signUp .responsive #signUpHeaderBg
    {
        width: 280px;
        height: 110px;
        background: url(../images/forms/signUpHeaderBg.png) 0px 122px no-repeat;
        padding-top: 44px;
        margin: 0 auto;
        background-size: contain;
    }
        
    .responsive #formHeader h1{
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
        font-size: 29px;
        line-height: 37px;
        padding-top:23px;
        text-align:left;
        font-weight:700;
    }
    .signUp .responsive .DescriptionContainer h2 {
        font-size: 14px;
        line-height: 0px;
    }
    .signUp .responsive #signUpHeaderBg {
        width: 280px;
        background: url(../images/forms/signUpHeaderBg.png) 0px 60px no-repeat;
        padding-top: 0px;
        margin: 0 auto;
        background-size: contain;
    }
    .signUp .responsive .DescriptionContainer p {
        font-size: 8px;
        line-height: 30px;
        text-align: center;
    }
    #mainContent .centeringDiv {
         width: 80%;
    }
    .signUp #mainContent .centeringDiv {
        width: 95%;
    }
} 
/* shared medium to big size */
@media all and (min-width:768px){
    .responsive .FormContainer{
        padding-right:5%;
    }
        .responsive .req {
        color: #5091cd;
        font-style: italic;
        font-size: 16px;
        line-height: 18px;
        margin-top: 385px;
        position:relative;
    }
    .signUp .responsive #ContactFormContainer {
        font-family: ProximaNova-Regular;
        float: right;
        width: 43.7%;
    }
    .responsive #BrandImageContainer {
        float: left;  
        width: 41.2%;
    }

    .contactUs .responsive #BrandImageContainer {
        float: left;  
        width: 31.2%;
    }

    /*.responsive #BrandImageContainer img{
        margin-top: 34%;
        max-width: 407px;
        width: 100%;
    } */

     .responsive #BrandImageContainer .BrandImage1 img{
        margin-top: 12%;
        margin-left: 25%;
        max-width: 288px;
        width: 100%;
    }
    .ie8 .responsive #BrandImageContainer .BrandImage1 img{
        margin-top: 12%;
        margin-left: 0;
        max-width: none;
        width: 100%;
    }

     .contactUs .responsive #BrandImageContainer .BrandImage1 img{
        margin-top: 34%;
        max-width: 407px;
        width: 100%;
    }

      .responsive #BrandImageContainer .BrandImage2 img{
        margin-top: 68%;
        margin-left: 5%;
        max-width: 213px;
        width: 100%;
    }
     .ie8 .responsive #BrandImageContainer .BrandImage2 img{
        margin-top: 68%;
        margin-left: 0;
        max-width: none;
        width: 100%;
    }

    .responsive #BrandImageContainer .BrandImage3 img{
        margin-top: 63%;
        margin-left: 35%;
        max-width: 253px;
        width: 100%;
    }
    .ie8 .responsive #BrandImageContainer .BrandImage3 img{
        margin-top: 63%;
        margin-left: 0;
        max-width: none;
        width: 100%;
    }

    .responsive #BrandImageContainer .BrandImage4 img{
        margin-top: 33%;
        margin-left: 18%;
        max-width: 288px;
        width: 100%;
    }
    .ie8 .responsive #BrandImageContainer .BrandImage4 img{
        margin-top: 33%;
        margin-left: 0;
        max-width: none;
    }

    .responsive #BrandImageContainer .BrandImage5 img{
        margin-top: 57%;
        margin-left: 52%;
        max-width: 201px;
        width: 100%;
    }
    .ie8 .responsive #BrandImageContainer .BrandImage5 img{
        margin-top: 57%;
        margin-left: 0;
        max-width: none;
        width: 100%;
    }

    .responsive #BrandImageContainer .BrandImage6 img{
        margin-top: 49%;
        margin-left: 7%;
        max-width: 327px;
        width: 100%;
    }

    .responsive #BrandImageContainer .BrandImage7 img{
        margin-top: 43%;
        margin-left: 37%;
        max-width: 253px;
        width: 100%;
    }

    .responsive #BrandImageContainer .BrandImage8 img{
        margin-top: 33%;
        margin-left: 6%;
        max-width: 327px;
        width: 100%;
    }
    .ie8 .responsive #BrandImageContainer .BrandImage6 img{
        margin-top: 49%;
        margin-left: 0;
        max-width: none;
        width: 100%;
    }

    .ie8 .responsive #BrandImageContainer .BrandImage7 img{
        margin-top: 43%;
        margin-left: 0;
        max-width: none;
        width: 100%;
    }

    .ie8 .responsive #BrandImageContainer .BrandImage8 img{
        margin-top: 33%;
        margin-left: 0;
        max-width: none;
        width: 100%;
    }
    
    .responsive.contact #BrandImageContainer img{
        max-width: 383px;
        margin-top:26%;

    }
    
    .signUp .responsive .DescriptionContainer{
        width:95%;
    }
    .contectUs .responsive .DescriptionContainer
    {
        width: 55%;
    }
    .responsive .DescriptionContainer {
    /* width: 95%; */
    margin: 0 auto;
    }
    .contactUs .responsive #ContactFormContainer .DescriptionContainer{
       width: 53.7%;
       float: left;
        margin-bottom: 10px;
    }

    .contactUs .responsive #ContactFormContainer {
       float: right;
       width: 53.7%;
       margin: 0 0 0 5%;
       height: 1640px;
    }
    
    .responsive .MemberInfoContainer label {
        float: left;
        width: 115px;
    }
    
    .responsive .CommentContainer label{
        width:100%;
        margin-bottom: 10px;
    }
    
    .responsive .MemberInfoContainer textarea{
        width:320px;
        height:120px;
    }

    .responsive .MemberInfoContainer input {
        width: 220px;
    }
    
    .responsive .MemberInfoContainer select{
        width: 226px;
    }   
        
    .responsive #ContactFormContainer .CountryContainer #ctl00_ContentPlaceHolder1_ucForm_ucFormMemberInfo_CountryLbl {	
	    float: left;
	    width: 115px;
    }
        
    .responsive #ContactFormContainer .CountryContainer .fake_input {
	    width: 218px;
	    float:left;
    }

    .responsive #ContactFormContainer .BirthdayContainer select {
	    width: 70px; 
	    margin-right: 4px;
    }
     
    .responsive #ContactFormContainer .QuestionContainer select {
	    width: 220px;
	    margin: 10px 0 0 1px;
    }
    
    .responsive #contactFormWrap .QuestionContainer .checkboxAnswer{
       display:block;
       margin:0px 0px 0px 10px;
    }

    .responsive #contactFormWrap .QuestionContainer .cbVert{
        padding:15px 0px 0px 0px;
        display:block;
        clear:both;
    }

    .responsive #ContactFormContainer .BirthdayContainer select {
	    width: 72px; 
	    margin-right: 1px;
    }

    .responsive .QuestionContainer{
        float: left;
	    clear: both;
    }

    .responsive #ContactFormContainer .QuestionContainer label.dropdownLabel,
    .responsive #ContactFormContainer .QuestionContainer label.checkboxLabel,
    .responsive #ContactFormContainer .QuestionContainer label.radioLabel,
    .responsive #ContactFormContainer .QuestionContainer label.textboxLabel,
    .responsive #ContactFormContainer .QuestionContainer label.textareaLabel { 
	    display:block;
	    line-height: 20px;
	    padding:5px 10px 0 0;
    }
 
    .responsive #wrapper #contactFormWrap .SubmitContainer {
	    clear: left;
	    overflow:hidden;	
    }

    .responsive #wrapper #contactFormWrap input.buttonLink{   
        float: left;
        margin-left:135px;
    }

    .responsive #contactFormWrap .ErrorContainer {
        float:left;
        width:98%;
    }

    .responsive #contactFormWrap .MemberInfoContainer .ErrorContainer{ 
        margin-left:100px;
        width:235px;
        clear:both;
    }
    
    .responsive #contactFormWrap .MemberInfoContainer .CommentContainer .ErrorContainer{ 
        margin-left:0px;
        width:310px;
    }
    
    .responsive #ContactFormContainer span.phone {
	    position: relative;
	    left: 135px;	
    }

    .responsive .MarketingQuestionContainer{
        margin-top:15px;
    }

    .responsive #contactFormWrap #DisclaimerContainer{
        padding:15px 0px 0px 0px;
    }
}

/* medium size */
@media all and (min-width:768px) and (max-width:1023px){  
    .responsive #formHeader h1{
        font-size: 56px;
        line-height: 58px;
        padding-top:34px;
        font-family: 'Archer A', 'Archer B';
        font-weight: 500;
        
    }
    .signUp .responsive #formHeader h1
    {
        text-align: center;
    }
    
    .responsive.smallerHeader #formHeader h1{
        font-size: 43px;
        line-height: 53px;
        padding-top:34px;
        font-family: 'Archer A', 'Archer B';
        font-weight: 500;
    }
    
    .responsive .DescriptionContainer h2{
        font-size: 20px;
        line-height: 23px;
    }
    
    .signUp .responsive .DescriptionContainer p{
        font-size: 16px;
        line-height: 73px;
        text-align: center;
    }
    .signUp .responsive #signUpHeaderBg {
        width: 727px;
        height: 260px;
        background: url(../images/forms/signUpHeaderBg.png) 0px 122px no-repeat;
        padding-top: 0px;
        margin: 0 auto;
        background-size: contain;
    }
    .contactUs .contact.responsive .DescriptionContainer p {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 15px;
    }
}

/* for inputs breaking to next line */
@media all and (min-width:1024px) and (max-width:1200px){
    .responsive #formHeader h1{
        font-size: 56px;
        line-height: 58px;
        font-family: 'Archer A', 'Archer B';
        font-weight: 500;
    }
    
    .responsive.smallerHeader #formHeader h1{
        font-size: 43px;
        line-height: 53px;
        padding-top:34px;
        font-family: 'Archer A', 'Archer B';
font-weight: 500;
    }
    
    .responsive .DescriptionContainer h2{
        font-size: 21px;
        line-height: 23px;
        font-family: 'Archer A', 'Archer B';
font-weight: 500;
    }
    
    .responsive .DescriptionContainer p{
        font-size: 16px;
        line-height: 18px;
    }
}

/* full size */
@media all and (min-width:1024px){

    .responsive label {
        
    }

    label {
       color:#22244a; 
    }

    .responsive .dropdownLabel {
        color: #64b632;
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
        font-size: 18px;
    }

    .responsive .checkboxLabel {
        color: #ea3163;
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
        font-size: 18px;
    }

    .responsive #ContactFormContainer {
        font-family: ProximaNova-Regular;

    }
    .signUp .responsive #ContactFormContainer {
        font-family: ProximaNova-Regular;
        float:right;
        width:53.7%;
    }

    .ConfrimationContainer p
    {

    }
    .signUp .responsive #signUpHeaderBg {
        width: 870px;
        height: 260px;
        background: url(../images/forms/signUpHeaderBg.png) 0px 122px no-repeat;
        padding-top:30px;
        margin:0 auto;
        background-size:contain;
    }

     .contactUs .responsive #signUpHeaderBg {
        /* width: 895px;
        height: 260px; */
        padding-top:30px;
        background:none;
    }

    .responsive #formHeader h1{
        font-size: 57px;
        line-height: 59px;
        text-align: center;
        color: #30465;
        font-size: 66px;
    }

    .contactUs .responsive #formHeader h1 {
        font-size: 57px;
        line-height: 59px;
        text-align: left;
        color: #30465;
    }


    .responsive.smallerHeader #formHeader h1{
        font-size: 44px;
        line-height: 54px;
        padding-top:45px;
    }


    contactUs .responsive .DescriptionContainer h2 {
        font-size: 27px;
        text-align: left;
        font-family: 'Archer A', 'Archer B';
        font-weight: 500;
        font-style: normal;
        margin-left: 40px;
    }
         
    .responsive .DescriptionContainer p{
        font-size: 20px;
        text-align: center;
        font-family: ProximaNova-Regular;
        color: #7c7c7c;
        margin: 25px auto 0px auto;
        line-height:20px;
    }
    .signUp .responsive .DescriptionContainer p
    {
        font-size: 18px;
    }
    .ie8 .responsive .DescriptionContainer p {
        font-size: 16px;
        text-align: center;
        font-family: ProximaNova-Regular;
        color: #7C7C7C;
        margin: 19px auto 0px auto;
        line-height: 18px;
    }
    .contactUs .responsive .DescriptionContainer p{
        font-size: 16px;
        text-align: left;
        font-family: ProximaNova-Regular;
        color: #7c7c7c;
        margin: 0px 0px 0px 0px;
    }

    .contact.responsive .DescriptionContainer h2 {
        font-size:20px;
        font-weight:bold;
    }
    .contact.responsive .DescriptionContainer p {
        font-size:16px;
    }
    .contactUs .contact.responsive .DescriptionContainer p {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    
}

/* walmart iMedia */
.walmart .DescriptionContainer .walmartHeader{
	color: #5091CD;
	line-height: 1.5;
}


/* $1.50 Off Coupon (on facebook) */
.fbCsbc #DisclaimerContainer {
    position: absolute;
    top: 388px;
    width: 235px;
    left: 30px;
}
.fbCsbc #BrandImageContainer img {
    margin-top: 0 !important;
    max-width: 810px !important;
    width: 810px !important;   
}
.fbCsbc .MemberInfoContainer  {
    margin-top: 5px;   
}
.fbCsbc .req {
    color: #0f57a7;
    font-weight: 700;
    padding-top: 2px;
    font-size: .9em;
}
.fbCsbc .FormContainer,
.fbCsbc .ConfirmationContainer,
.fbCsbc .DescriptionContainer {
    margin: 98px 0 0 -60px;
}
.fbCsbc .SubmitContainer input {
    text-indent: -999em;
    background: url(../facebook/CSBCCoupon/images/btnSubmitBg.png) no-repeat !important;
    width: 217px !important;
}
.fbCsbc .SubmitContainer input:hover {
    background-position: 0 -55px !important;   
}
.fbCsbc h1 {
    text-indent: -999em;   
}
	
	
	
	
/* ie7 fixes */
.ie7 .fbCsbc .FormContainer {
    margin-top: 0;   
}
.ie7 .fbCsbc .MultiBrandOptinContainer {
    float: left;   
}	
.ie7 .fbCsbc .OptinContainer {
    float: left;
    margin-left: -57px;   
}



/* Author Partnership Custom Form */
.stpoFBForm .ir {
    display: block;
    text-indent: 105%;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr; 
    *line-height:0;
}
.stpoFBForm .ir br {
    display: none;
}
body.stpoFBForm {
    width: 810px;
    overflow-x: hidden;
}
.stpoFBForm #shadow {
    background: none;
}
.stpoFBForm #mainContent {
    background: url(../facebook/StoryToPoreOver/images/stpoFormBg.jpg) no-repeat;
}
.stpoFBForm.biore_us_201210_AthrPrtnLaunchDayAGiveaway9KWNM52 #mainContent,
.biore_us_201210_AthrPrtnLaunchDayCFinalSweeps5M2DBX67 #mainContent {
    background: url(../facebook/StoryToPoreOver/images/stpoFormBg-NoDrops.jpg) no-repeat;
}
.responsive.stpoFacebook #BrandImageContainer {
    float: right;
    width: 373px;
    margin-left: -40px;
}
.responsive.stpoFacebook #BrandImageContainer img {
    margin-top: 66px;
}
.biore_us_201210_AthrPrtnLaunchDayAGiveaway9KWNM52 .responsive.stpoFacebook #BrandImageContainer img {
    width: auto;
    margin: 2px 0 0 -20px;
}
.biore_us_201210_AthrPrtnLaunchDayCFinalSweeps5M2DBX67 .responsive.stpoFacebook #BrandImageContainer img {
    margin: 57px 0 0 14px;
    width: auto;
}
.responsive.stpoFacebook #ContactFormContainer {
    float: left;
    width: 435px;
}
.stpoFBForm #footer {
    background: none;
}
.stpoFBForm #shadow {
    display: none;
}
.stpoFBForm .sprite {display:block; position: relative; overflow:hidden; background-repeat: no-repeat;background-image:url(../facebook/StoryToPoreOver/images/stpo.png);}

.stpoBackToEventBtn:hover {width:201px; height:35px; background-position: -231px -32px}
.stpoBackToEventBtn {width:201px; height:35px; background-position: -433px -32px}
.stpoBioreLogo {width:117px; height:36px; background-position: -635px -32px}
.stpoFBForm .responsive #contactFormWrap .SubmitContainer input:hover {width:153px; height:41px; background-position: -319px -74px}
.stpoFBForm .responsive #contactFormWrap .SubmitContainer input {width:153px; height:41px; background-position: -753px -32px}
.stpoHdr {width:372px; height:18px; background-position: -1px -1px}
.stpoLogo {width:203px; height:189px; background-position: -446px -341px}
.stpoSorryHdr {width:250px; height:27px; background-position: -374px -1px}
.stpoThankYouForEnteringHdr {width:209px; height:50px; background-position: -791px -74px}

.stpoFBForm .responsive .DescriptionContainer h1 { display: none; }
.stpoFBForm .responsive .DescriptionContainer h1.stpoBioreLogo { display: block; line-height: 1; padding: 0; }
.stpoFBForm.biore_us_201210_AthrPrtnLaunchDayCFinalSweeps5M2DBX67 .stpoLogo { 
    background: url(../facebook/StoryToPoreOver/images/stpoBookClubFormLogo.png) 0 0 no-repeat;
    height: 124px;
    width: 133px;
    margin-left: -10px;
}
.stpoFBForm.biore_us_201210_AthrPrtnLaunchDayCFinalSweeps5M2DBX67 .stpoHdr { 
    background: url(../facebook/StoryToPoreOver/images/stpoBookClubFormHdr.png) 0 0 no-repeat; 
    height: 42px;
    width: 290px;
    position: absolute;
    left: 178px;
    top: 100px;
}
.stpoFBForm .stpoSorryHdr {  }
.stpoFBForm .stpoThankYouForEnteringHdr {  }
.stpoFBForm .stpoBackToEventBtn { position: absolute; left: 525px; top: 24px; }
.stpoFBForm.biore_us_201210_AthrPrtnLaunchDayAGiveaway9KWNM52 .stpoBackToEventBtn { left: 575px; top: 44px; }
.stpoFBForm.biore_us_201210_AthrPrtnLaunchDayCFinalSweeps5M2DBX67 .stpoBackToEventBtn { left: 580px; top: 19px; }
.stpoFBForm .responsive .DescriptionContainer p {
    padding: 10px 20px 0 0;
    font: 14px/18px Arial,sans-serif;
}
.stpoFBForm .responsive .DescriptionContainer .formDescription p {
    padding-top: 10px;
}
.stpoFBForm.biore_us_201210_AthrPrtnLaunchDayCFinalSweeps5M2DBX67 .responsive .DescriptionContainer .formDescription p {
    width: 275px;
    position: absolute;
    top: 145px;
    left: 180px;
}
.stpoFBForm.biore_us_201210_AthrPrtnLaunchDayCFinalSweeps5M2DBX67 .responsive .req {
    margin-top: 45px;
}
.stpoFBForm.biore_us_201210_AthrPrtnLaunchDayCFinalSweeps5M2DBX67 .responsive .MemberInfoContainer {
    margin-top: 5px;
}
.stpoFBForm .responsive .DescriptionContainer .formConfirmation p {
    padding: 10px 20px 100px 0;
}
.stpoFBForm .responsive .DescriptionContainer .ConfrimationContainer p {
    padding: 10px 20px 100px 0;
}
.stpoFBForm .responsive #contactFormWrap .SubmitContainer input {
    display:block; 
    position: relative; 
    overflow:hidden; 
    background-repeat: no-repeat;
    background-image:url(../facebook/StoryToPoreOver/images/stpo.png);
    text-indent: 105%;
    white-space: nowrap;
    border: 0;
    text-align: left;
    direction: ltr; 
    *line-height:0;
}
.responsive #contactFormWrap .OptinContainer p.privacy {
    padding-right: 20px;
}
.stpoFBForm #DisclaimerContainer p {
    padding-right: 60px;
    text-align: center;
}
.stpoFBForm .responsive #contactFormWrap #DisclaimerContainer {
    width: 750px;
}

.Question1 {
    color: #ea3163;
    font-size:23px;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
}

.Question2 {
    color: #64b632;
    font-size:23px;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
}

.Question3 {
    color: #fb7000;
    font-size:23px;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
}

.Question4 {
    color: #ea3163;
    font-size:23px;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
}

.Question5 {
    color: #fb7000;
    font-size:23px;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
}

.Question6 {
    color: #22244a;
    font-size:23px;
   
}

.Question7 {
    color: #22244a;
    font-size:23px;
    
}
.Question8 {
    color: #22244a;
    font-size:23px;
    
}

.privDisclaimer {
    margin-left:-52px;
    color: #22244a;
    font-family: 'Archer A', 'Archer B'; font-weight: 300; font-style: normal;
    font-size:24px;
}

.privDisclaimer {
    color: #22244a;
    font-family: ProximaNova-Bold;
}

 @media all and (max-width:479px)
{
    .signUp .responsive #formHeader h1 {
        font-family: 'Archer A', 'Archer B';
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        padding-top: 23px;
        text-align: center;
    }
    .signUp .responsive .DescriptionContainer h2 {
        font-size: 10px;
        line-height: 0px;
        margin-top:-5px;
    }
    .signUp .responsive .DescriptionContainer p {
        font-size: 10px;
        line-height: 14px;
        text-align: center;
    }
    #ContactFormContainer
    {
        padding-left:10px;
    }
    .Question1,.Question2,.Question3,.Question4,.Question5,.Question6,.Question7,.Question8,.responsive #contactFormWrap .OptinContainer p.privacy,.privDisclaimer {
        font-size:16px;
        font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    }
    .privDisclaimer
    {
        margin: 0 auto;
        text-align: center;
    }
    .responsive #contactFormWrap .SubmitContainer input
    {
        float: none;
    }


}  