/**
 * @license
 * MyFonts Webfont Build ID 2938242, 2014-12-11T13:43:58-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: UniversLTPro-BoldCondObl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/univers/pro-67-bold-condensed-oblique/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 2008 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reproduced, 
 * Licensed pageviews: 5,000,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2938242
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2cd582");

  
@font-face {font-family: 'UniversLTPro-BoldCondObl';src: url('font/2CD582_0_0.eot');src: url('font/2CD582_0_0.eot?#iefix') format('embedded-opentype'),url('font/2CD582_0_0.woff2') format('woff2'),url('font/2CD582_0_0.woff') format('woff'),url('font/2CD582_0_0.ttf') format('truetype');}
 