﻿

.charcoalLanding #mainContent {
    height: 1900px;
	background-color:#000000;
}

.charcoalHeaderSpacer {
    display:inline-block;
    width: 899px;
    height: 60px;
}

.charcoalLanding h1 img {
     /*width:899px;
     height:195px; */
     top: auto;
     height:217px;
     width:519px;
	float: left;}

#charcoalProdWrap {
    margin-left: auto;
    margin-right: auto;
    width: 819px;
    /*height: 473px;*/
    margin-top:50px;
	float: left;
}

#charDescript {
    width: 339px;
    float:left;
}

#charPaint {
    width: 397px;
    height: 54px;
    background: url(../images/charcoalLanding/charcoalsubHead.png) no-repeat;
	margin-top: 70px;
}

.charcoalLanding h2 {
    color:#7ac141;
    font-size:40px
}

.charGrey {
    color: #87888b;
}

#charDescript p {
    font-size: 14px;
    color: #fff;
    line-height: 21px;
    width:324px;
}

.charGreeen {
    color: #70b92f;
}

.charCharcoal {
	color: #d61558;
}

.charTeal {
	color: #6ec8e4;
	
}

#charProducts {
    width: 422px;
    height: 473px;
    background: url(../images/charcoalLanding/product.png) no-repeat;
    float: left;
	margin-top: -110px;
	margin-left: 40px;}

.charList {
    text-align:center;
    width:100%;
    font-size:20px;
    color:#23244a;
    text-transform:uppercase;
    line-height:34px;
}

.charbullet {
    width: 13px;
    height: 13px;
    background: url(../images/charcoalLanding/bullet.png) no-repeat;
    display:inline-block;
    margin-right: 5px;
}

#charTryNowWrap {
	float: left;
	width: 900px;
	text-align: center;
	margin: 40px auto;
}

#charTryProd {
    width: 280px;
    background: url(../images/charcoalLanding/glow.png) 0px 0px no-repeat;
    float:left;
	margin: 5px 5px 65px;
	padding: 5px;
}

#charTryProd.charcoalCleanser { margin-left:17%;}

#charFootnote {
	float: left;
	width: 900px;
	font-style: italic;
	}

.poreMinimizer img {
	margin-top: -38px;

}

.charcoalBar img {
	margin-top: -24px;

}

.charcoalCleanser img {
	margin-top: -44px;

}

.charcoalMask img {
	margin-top: -13px;

}

#charTryNowWrap p {
    font-size: 14px;
    color: #fff;
    line-height: 21px;
	
}


.charTry {
    background-color: #faea25;
    width: 123px;
    height: 35px;
    margin: 10px auto 20px auto;
    background: url("../images/ourProducts/productDetail/complexionClearingBuyNowBtn.gif") 0 0 no-repeat;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px 0 0 5px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.charTry:hover {
   background-position: 0px -41px;
}

.footnoteClear {clear: both;}

 @media all and (min-width:1024px) and (max-width:1199px)
{
     #mainContent .centeringDiv
    {
        max-width:899px;
    }
}
  @media all and (min-width:768px) and (max-width:1023px)
{

    #charcoalProdWrap
    {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        margin-top: 0px;
    }
    
    .charcoalLanding p
    {
        margin-bottom: 15px;
    }

    .charcoalLanding #mainContent
    {
        height: 1500px;
    }
	
	#charTryNowWrap {
	float: left;
	width: 100%;
	text-align: center;
	margin: 0;
}

	#charTryProd {
		width: 28%;
		background: url(../images/charcoalLanding/glow.png) 0px 0px no-repeat;
		float:left;
		margin: 5px 15px 65px;
		padding: 5px;
		min-height:500px;
	}
	
	#charTryProd.charcoalCleanser { margin-left:17%;}

.charcoalLanding #mainContent {
    height: 2030px;
	background-color:#000000;
}
    #mainContent .centeringDiv
    {
        max-width: 899px;
        min-width: 768px;
    }

    .charcoalHeaderSpacer
    {
        display: inline-block;
        width: 320px;
        height: 20px;
    }

    .charcoalLanding h1 img
    {
        width: 90%;
		height:auto;
        margin: 0 5%;
    }

    #charDescript
    {
        width: 50%;
    }
	
	#charProducts {
    width: 50%;
    height: 473px;
    background: url(../images/charcoalLanding/product.png) no-repeat 92%;
    float: left;
	margin-top: 20px;
	margin-left: 0px;}

	#charFootnote {
	float: left;
	width: 100%;
	font-style: italic;
	}

    .charcoalLanding h2
    {
        font-size: 35px;
    }

    .charList
    {
        font-size: 20px;
        line-height: 20px;
    }

    .charbullet
    {
        margin-top: 25px;
    }
}
  @media all and (min-width:600px) and (max-width:767px)
{
    #charcoalProdWrap
    {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        margin-top: 0px;
    }
    
    .charcoalLanding p
    {
        margin-bottom: 15px;
    }

	
	#charTryNowWrap {
	float: left;
	width: 100%;
	text-align: center;
	margin: 0;
}

	#charTryProd {
		width: 45%;
		background: url(../images/charcoalLanding/glow.png) 0px 0px no-repeat;
		float:left;
		margin: 5px 10px 65px;
		padding: 5px;
	}
	
	#charTryProd.charcoalCleanser { margin-left:0;}

	.charcoalLanding #mainContent {
		height: 2750px;
		background-color:#000000;
	}
	
    #mainContent .centeringDiv
    {
        max-width: 767px;
        min-width: 600px;
    }

    .charcoalHeaderSpacer
    {
        display: inline-block;
        width: 320px;
        height: 20px;
    }

    .charcoalLanding h1 img
    {
        width: 94%;
		height:94%;
        margin: 0 15px;
    }

    #charDescript
    {
        width: 60%;
		margin: 0px 20%;
	}
	
	#charProducts {
    height: 473px;
    background: url(../images/charcoalLanding/product.png) no-repeat 92%;
    float: right;
        width: 400px;
		margin: 0px 20%;
	}
	
	#charFootnote {
	float: left;
	width: 100%;
	font-style: italic;
	}

    .charcoalLanding h2
    {
        font-size: 35px;
    }

    .charList
    {
        font-size: 20px;
        line-height: 20px;
    }

    .charbullet
    {
        margin-top: 25px;
    }
}
  @media all and (min-width:480px) and (max-width:599px)
{
    #charcoalProdWrap
    {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        margin-top: 0px;
    }
    
    .charcoalLanding p
    {
        margin-bottom: 15px;
    }

	
	#charTryNowWrap {
	float: left;
	width: 100%;
	text-align: center;
	margin: 0;
}

	#charTryProd {
		width: 96%;
		background: url(../images/charcoalLanding/glow.png) 0px 0px no-repeat;
		float:left;
		margin: 5px 2% 65px;
		padding: 0;
	}
	
	#charTryProd.charcoalCleanser { margin-left:0;}

	.charcoalLanding #mainContent {
		height: 3400px;
		background-color:#000000;
	}
	
    #mainContent .centeringDiv
    {
        max-width: 599px;
        min-width: 480px;
    }

    .charcoalHeaderSpacer
    {
        display: inline-block;
        width: 320px;
        height: 20px;
    }

    .charcoalLanding h1 img
    {
        width: 94%;
		height:94%;
        margin: 0 15px;
    }

    #charDescript
    {
        width: 90%;
		margin:0 5%;
    }
	
	#charProducts {
    width: 90%;
    height: 473px;
    background: url(../images/charcoalLanding/product.png) no-repeat 92%;;
    float: right;
	margin:0 5%;}

	#charFootnote {
	float: left;
	width: 100%;
	font-style: italic;
	}

    .charcoalLanding h2
    {
        font-size: 35px;
    }

    .charList
    {
        font-size: 20px;
        line-height: 20px;
    }

    .charbullet
    {
        margin-top: 25px;
    }
}

/*  Mobile Portrait 320x480 */
@media all and (max-width:479px)
{
    
     #charcoalProdWrap
    {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        margin-top: 0px;
    }
    
    .charcoalLanding p
    {
        margin-bottom: 15px;
    }

	
	#charTryNowWrap {
	float: left;
	width: 100%;
	text-align: center;
	margin: 0;
        overflow:hidden;
}

	#charTryProd {
		width: 96%;
		background: url(../images/charcoalLanding/glow.png) 0px 0px no-repeat;
		float:left;
		margin: 5px 2% 65px;
		padding: 0;
	}
	
	#charTryProd.charcoalCleanser { margin-left:0;}

	.charcoalLanding #mainContent {
		height: 3590px;
		background-color:#000000;
	}
	
    #mainContent .centeringDiv
    {
        max-width: 479px;
    }

    .charcoalHeaderSpacer
    {
        display: inline-block;
        width: 320px;
        height: 20px;
    }

    .charcoalLanding h1 img
    {
        width: 94%;
		height:94%;
        margin: 0 15px;
    }

    #charDescript
    {
        width: 96%;
		margin-left: 2%;
    }
	
	#charProducts {
    width: 96%;
    height: 473px;
    background: url(../images/charcoalLanding/product.png) no-repeat 80%;
	background-size: 96%;
    float: left;
	margin-top: 0px;
	margin-left: 2%;}

	#charFootnote {
	float: left;
	width: 100%;
	font-style: italic;
	}

    .charcoalLanding h2
    {
        font-size: 35px;
    }

    .charList
    {
        font-size: 20px;
        line-height: 20px;
    }

    .charbullet
    {
        margin-top: 25px;
    }
	
	#charPaint {
    width: 100%;
    height: 54px;
    background: url(../images/charcoalLanding/charcoalsubHead.png) no-repeat -30px;
	background-size: 100%;
	background-position:left;
	margin-top: 70px;
}
}


 
 @media all and (min-width:1200px)
{
    .charcoalLanding #mainContent
    {
        /*background: url(../images/charcoalLanding/charcoalBg.jpg) 50% 0px no-repeat;*/
		background: #1d1c1f;
    }
}

 /*added styles for second link*/
.wrapper-image {
    position:relative;
}
    .wrapper-image .second-link {
        position: absolute;
        width: 45%;
        height: 118px;
        display: block;
        bottom: 24px;
        left: 0;
    }
