/* Reset All Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}
/*div, form, table {
outline: 1px solid #3A87AD !important;
}
.web-developer-outline-absolute-positioned-elements {
outline: 1px solid #B94A48 !important;
}
    */
.divLitHeaderText {
    color: #23244b;
}

:focus{
	outline: none;
	-moz-outline-style: none;
}
#header, #main, #footer
{
    width: 100%;
}
a:active { outline: 0; }
a:focus { -moz-outline-style: none; }

ol, ul { list-style: none; }

caption, th, td{
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/*End Reset */
body{
    overflow-x:hidden;
    width:100%;
    min-width:320px;
    color:#666;
    -webkit-text-size-adjust: none;
    font:12px arial, sans-serif;
    /* background: url(../images/contentBg.jpg); */
}

#shadow{
   /*  background: url(../images/topShadowBg.png) repeat-x;
    width:100%;
    height:26px;
    left:0px;
    position:absolute;
    z-index:100; */
}

.whatsNew #shadow {
    background: none;
}

.contactUs  #shadow {
    background: none;
}

.ourProducts #shadow {
    background: none;
}

.whereToBuy #shadow {
    background: none;
}
#burgerShot
{
    display: none;
}
/* footer styles - START */
#footer {
    color:#ffffff;
    min-height:100px;
    background-color: #202a51;
    background: url(../images/header/headerBg.gif);
    background-position: bottom left;
}

.home #footer {
    color:#ffffff;
    min-height:100px;
    background-color: #202a51;
     background: url(../images/header/headerBg.gif);
     background-position: bottom left;
}

#footer .centeringDiv {
    overflow:hidden;
}

#biore{
    text-indent:-9000px;
    width:66px;
    height:21px;
    margin:0 0 10px 15px;
    background: url(../images/biore.png) no-repeat;
}

#copyright{
    clear:both;
    text-align:center;
    width: 80%;
    margin: 0 auto;
    font-size:9px;
    font-family: ProximaNova-Regular;
}

#footer ul {
    margin: 20px auto;
    width: 530px;
}

#footer ul li{
    padding:0 2px;
    margin-bottom:10px;
    float:left;
    color:#ffffff;
    border-right: 1px solid white;
    
}

#footer ul li:last-child{
    border-right:none;    
}

#footer ul li a{
    color:#ffffff;
    text-decoration:none;
    padding:5px;
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    font-size:12px;
    text-transform:uppercase;
}

.whereToBuy #footerNav3 a,
.sitemap #footerNav7 a,
.about #footerNav1 a,
.contactUs #footerNav4 a,
.notouch #footer ul li a:hover{
    color:#b8dbf2;
}

#footer .top{
    
}

.mobile #footer .top{
    display:block;
}
/* footer styles - END */
/* header styles - START */
#header{
    background: url(../images/header/headerBg.gif);
    height:106px;
} 

.centeringDiv{
    width:100%;
    max-width:1024px;
    margin:0 auto;
}

#header .centeringDiv, 
#footer .centeringDiv{
    position:relative;
    z-index:990;
}

#logo{
    float:left;
}
    #logo a img
    {
        border: none;
    }
img
{
    border: none;
}
#topnav{
    position:relative;
    z-index:150;
    top: 69px;
}

#topnav li{
    float:left;
    text-align:left;
    position:relative;
    z-index:1000;
}

ul li#facebookLike{
    border:none;
}

#topnav li > a{
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    text-decoration:none;
    padding:3px;
    text-transform:uppercase;
}

.notouch #topnav li > a:hover{
    color:#b8dbf2;   
}

.notouch #topnav  li#topnavItem1 > a:hover{
    color:#202a51;
}

#topnav li#topnavItem1:hover {
   background-color:white;
   background-position:  170px 4px;
}

#topnav li#topnavItem1{
    background: url(../images/header/downArrow.png)  170px 14px no-repeat;
}
.ie8 li#topnavItem1 {
    width: 170px;
    height: 37px;
    top: -10px;
    padding: 10px 10px 0 10px;
    margin-right: 15px;
}
    .ie8 li#topnavItem5{width:100px;}    
    .ie8 li#topnavItem2{width:115px;}
    .ie8 li#topnavItem3{width:100px;}
    .ie8 li#topnavItem4{width:130px;}     
    .ie8 li#facebookLike{margin-top:-4px;}
#topnav li {
     height:50px;
} 

.ourProducts li#topnavItem1 {
    background: url(../images/header/selectArrow.png) 63px 22px no-repeat;
}

.about li#topnavItem2 {

    background: url(../images/header/selectArrow.png) 40% 22px no-repeat;
}

.signUp li#topnavItem3 {

    background: url(../images/header/selectArrow.png) 39px 22px no-repeat;
}

.whereToBuy li#topnavItem4 {

    background: url(../images/header/selectArrow.png) 39px 22px no-repeat;
} 

.productChanges li#topnavItem5 {

    background: url(../images/header/selectArrow.png) 40% 22px no-repeat;
}

.notouch li#topnavItem1 a:hover {
   color:#005daa;
}

.subNavHeadlines {
    font-family: 'Archer A', 'Archer B';
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    display:block;
    text-transform:lowercase;
    height:auto;
    width:auto;
    margin: 0px 0px 10px 20px;
    padding: 0px 0px 0px 0px;
    color:#8a8a8a;
    text-align:left;
    line-height: 1em;
}

.subNavAcneHead {
    color: #ec5a1e;
}

.greenBold {
    color: #63b632;
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}

.orangeBold {
    color: #ec5a1e;
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}

.redBold {
    color: #e92e5f;
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}

.redSubHead {
    color: #e92e5f;
}

.tealBold {
    color: #6ec8e4;
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}


#proveItNav{
   background: url(../images/header/proveItMobile.png) no-repeat;
   width:75px;
   height:44px;
   float:right;
   margin: 9px 59px 0px 0px;
}

#proveItNav a{
    display:block;
    width:100%;
    text-indent:-9000px;
    height:100%;
}

#header .likeBtn{
    min-width:100px;
    min-height:30px;
}

#ourProductsBlock{
    background:#fff;
    width:600px;
    padding-top:10px;
    position:absolute;
    margin-top:22px;
    z-index:1000;
    top:10px;
    left:-9000px;
    opacity:0;
    border-left: solid 13px #202a51;
    border-right: solid 13px #202a51;
    border-bottom: solid 13px #202a51;
    margin-left: -13px;
}

#ourProductsBg{
    /*-moz-box-shadow: 0 11px 12px 0px #9bb5d5;
    -webkit-box-shadow: 0 11px 12px 0px #9bb5d5;
    box-shadow: 0 11px 12px 0px #9bb5d5; */
    position:absolute;
    height:100%;
    background:#fff;
    width:100%;
    top:0;
    left:0;
}



#ourProductsBlock.open{
    left:0;
}

#ourProductsBlock.show{
    opacity:1 !important;
    filter: alpha(opacity=100) !important;    
}

/*#ourProductsBlock h2{
    text-transform:uppercase;
    color:#fff;
    width:170px;
    padding:8px 5px;
    background:#005daa;
    margin:10px 0 13px 10px;
} */

#ourProductsBlock img{
    margin-top:-20px;
}

#complexionClearingSubnav h2{background:#f58025;}
#makeupRemovingSubnav h2{background:#ad208e;}

#makeupRemovingSubnav{
    margin-top:45px;
}

#ourProductsBlock .col{
    float:left;
    padding:10px 0px 20px 0px;
}

.col-n01 {
    width: 45%;
}
.col-n02 {
    width: 55%;
}

#ourProductsBlock ul{
    margin:-5px 0 0; 
    padding:0; 
    overflow:hidden;
}

#topnav #ourProductsBlock li{
    padding: 0;
    margin: 0;
    border: none;
    float: none;
    text-align: left;
    height: auto;
}

#topnav #ourProductsBlock li a{
    padding: 3px 8px 4px;
    font-size: 13px;
    display: block;
    color: #202a51;
    background: #fff;
    font-family: ProximaNova-Regular;
    line-height: 1em;
    letter-spacing: 0px;
    font-weight: normal;
    margin-left: 15px;
    text-transform: capitalize;
}

.notouch #topnav #ourProductsBlock li.orangeHover a:hover{
    color:#ec5a1e;    
}

.notouch #topnav #ourProductsBlock li.greenHover a:hover{
    color:#63b632;    
}

.notouch #topnav #ourProductsBlock li.redHover a:hover{
    color:#e92e5f;    
}

#topnav #ourProductsBlock li a .new{
    color:#ed008a;
}

#ourProductsBlock #discontinued{
    height:51px;
    position:relative;
    clear:both;
    padding-top:12px;
    overflow:hidden;
}

#ourProductsBlock #discontinued a{
    color:#1a4d8d;
    text-decoration:none;
    font-size:13px;
    position:relative;
    background: #fbc093;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fbc093), to(#f58126));
    background: -webkit-linear-gradient(#fbc093, #f58126);
    background: -moz-linear-gradient(#fbc093, #f58126);
    background: -ms-linear-gradient(#fbc093, #f58126);
    background: -o-linear-gradient(#fbc093, #f58126);
    background: linear-gradient(#fbc093, #f58126);
    -pie-background: linear-gradient(#fbc093, #f58126);
    padding: 17px 0px;
    display:block;
    height:17px;
}

#ourProductsBlock #discontinued .wrapper{
    position:relative;
    width:500px;
    display:block;
    margin:0 auto;
}



#ourProductsBlock #discontinued img{
    margin:0;
    top:-31px;
    position:absolute;
}

.oldProds{left:-1%;}
.newProds{right:-2%;}

/* header styles - END */


/*  Mobile Portrait 320x480 */
@media all and (max-width:479px){
   .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1705px;
    }

    #topnav {
        min-width: 280px;
        max-width:479px;
    }

    #topnav li > a {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
    }

    #topnav{
        float:left;
        min-width:300px;
    }

    li#topnavItem1{
        width: 45px;
        height: 16px;
        padding: 0px 10px 0 10px;
        margin-right: 8px;
        border-right: solid 1px white;
		text-align:center;
    }    
    li#topnavItem5{width:65px;border-right: solid 1px white;height: 16px;text-align:center;}    
    li#topnavItem2{width:83px;border-right: solid 1px white;height: 16px;text-align:center;}
    li#topnavItem3{width:65px;border-right: solid 1px white;height: 16px;text-align:center;}
    li#topnavItem4{width:45px;height: 16px;padding-left:0px;text-align:center;}     
    li#facebookLike{margin-top:-4px;}
    
    #topnav li a{
        font-size:9px;
    }
    #topnav li#topnavItem1:hover
    {
        background:none;
    }
    .notouch #topnav  li#topnavItem1 > a:hover{
        color:#b8dbf2;
      }

   
    #proveItNav{
        float: right;
        position: absolute;
        right: 12px;
        top: 12px;
        width: 77px;
        height: 69px;
        z-index: 101;
        margin: 0;  
    }
    #logo {
        height: 56px;
        width: 107px;
    }
    #logo img {
        width: 100%;
    }
    #logoAndLike
    {
        padding: 0 20px;
    }
    #topnav {
        top: 65px;
        left: 8px;
        position: absolute;
        width:320px;

    }
    #facebookLike {
        display: none;
    }
    
    /*li#facebookLike{width:10%;} */


    #footer ul li a {
        font-size: 8px;
    }
    #footer ul li {
        margin-bottom: 5px;
    }

    #footer ul {
        margin: 30px auto;
        width: 290px;
    }
    #footerNav1
    {
        margin-left: 11px;
    }
    #footerNav4
    {
        border: none !important;
    }
    #footerNav5{
        margin-left: 25px;
        }
    #footer .centeringDiv
    {
        overflow: hidden;
    }
    
}
/*  Mobile Portrait 320x480 END */
/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px){
    
    .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1705px;
    }
    #topnav {
        min-width: 280px;
        max-width:479px;
    }

    #topnav li > a {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
    }

    #topnav{
        float:left;
        min-width:300px;
    }

    li#topnavItem1{
        width: 65px;
        height: 16px;
        padding: 0px 10px 0 10px;
        margin-right: 8px;
        border-right: solid 1px white;
    }    
    li#topnavItem5{width:70px;border-right: solid 1px white;height: 16px;}    
    li#topnavItem2{width:95px;height: 16px;padding-left:10px;border-right: solid 1px white;}
    li#topnavItem3{width:70px;border-right: solid 1px white;height: 16px;padding-left:10px}
    li#topnavItem4{width:90px;height: 16px;padding-left:10px;}     
    li#facebookLike{margin-top:-4px;}
    
    #topnav li a{
        font-size:10px;
    }
    #topnav li#topnavItem1:hover
    {
        background:none;
    }
    .notouch #topnav  li#topnavItem1 > a:hover{
        color:#b8dbf2;
      }

   
    #proveItNav{
        float: right;
        position: absolute;
        right: 12px;
        top: 12px;
        width: 77px;
        height: 69px;
        z-index: 101;
        margin: 0;  
    }
    #logo {
        height: 56px;
        width: 107px;
    }
    #logo img {
        width: 100%;
    }
    #logoAndLike
    {
        padding: 0 20px;
    }
    #topnav {
        top: 75px;
        left: 8px;
        position: absolute;
        width:470px;

    }
    #facebookLike {
        display: none;
    }
    
   #footer ul li a {
        font-size: 8px;
    }
    #footer ul li {
        margin-bottom: 5px;
    }

    #footer ul {
        margin: 30px auto;
        width: 290px;
    }
    #footerNav1
    {
        margin-left: 11px;
    }
    #footerNav4
    {
        border: none !important;
    }
    #footerNav5{
        margin-left: 25px;
        }
    #footer .centeringDiv
    {
        overflow: hidden;
    }
}
/*  Mobile Landscape 480x320 - END */
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - START */
@media all and (min-width:600px) and (max-width:767px){
  
   .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1705px;
    }
    #topnav {
        min-width: 768px;
        max-width:1023px;
    }

    #topnav li > a {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
    }

    #topnav{
        float:left;
        min-width:505px;
    }

    li#topnavItem1{
        width: 130px;
        height: 37px;
        top: -10px;
        padding: 10px 10px 0 10px;
        margin-right: 15px;
    }    
    li#topnavItem5{width:140px;}    
    li#topnavItem2{width:164px;}
    li#topnavItem3{width:80px;}
    li#topnavItem4{width:105px;}     
    li#facebookLike{margin-top:-4px;}
    
    #topnav li a{
        font-size:10px;
    }
	
    #topnav li#topnavItem1:hover
    {
        background:none;
    }
    .notouch #topnav  li#topnavItem1 > a:hover{
        color:#b8dbf2;
      }

   
    #proveItNav{
        float: right;
        position: absolute;
        right: 12px;
        top: 12px;
        width: 77px;
        height: 69px;
        z-index: 101;
        margin: 0;  
    }
    #logo {
        height: 56px;
        width: 107px;
    }
    #logo img {
        width: 100%;
    }
    #logoAndLike
    {
        padding: 0 20px;
    }
    #topnav {
        top: 74px;
        left: 8px;
        position: absolute;
    }
    #footer ul {
        width: 550px;
        
    }
    #footer ul li a
    {
        font-size:8px;
    }
}
/*  Small Tablet Portrait 600x800  &&  Small Tablet Landscape 800x600 - END */
/*  Tablet Portrait 768x1024 - START */
@media all and (min-width:768px) and (max-width:1023px) {
   .contactUs #mainContent{
      /*  min-height:450px;  */
       height:1565px;
    }
    #topnav {
        min-width: 768px;
        max-width:1023px;
    }

    #topnav li > a {
        font-family: 'Archer A', 'Archer B';
        font-weight: 400;
        font-style: normal;
    }

    #topnav{
        float:left;
        min-width:505px;
    }

    li#topnavItem1{
        width: 170px;
        height: 37px;
        top: -10px;
        padding: 10px 10px 0 10px;
        margin-right: 15px;
    }    
    li#topnavItem5{width:180px;}    
    li#topnavItem2{width:210px;}
    li#topnavItem3{width:110px;}
    li#topnavItem4{width:140px;}     
    li#facebookLike{margin-top:-4px;}
    
    #topnav li a{
        font-size:13px;
    }
    .notouch #topnav  li#topnavItem1 > a:hover{
        color:#202a51;
        font-weight:500;
      }

    #footer ul li a {
        text-align: center;
    }

    #proveItNav{
        float: right;
        position: absolute;
        right: 12px;
        top: 12px;
        width: 77px;
        height: 69px;
        z-index: 101;
        margin: 0;  
    }
    #logo {
        height: 56px;
        width: 107px;
    }
    #logo img {
        width: 100%;
    }
    #logoAndLike
    {
        padding: 0 20px;
    }
    #topnav {
        top: 72px;
        left: 8px;
        position: absolute;
    }
}
/*  Tablet Portrait 768x1024 - END */
/* Tablet Landscape 1024x768 &&  Desktop 1200x1024 */
@media all and (min-width:1024px) {
       #logo{
        height:94px;
        width:180px;
    }
    
    div#logo img{
        width:100%;
    }
    
    #mainContent{
       min-height:911px;
    }
       
    #proveItNav{
        background: url(../images/header/proveIt.png) no-repeat;
        float: right;
        position: absolute;
        right: 20px;
        top: 24px;
        width: 117px;
        height: 69px;
        z-index: 101;
        margin: 0;
    }
    
    #logoAndNav{
        max-width:980px;
        margin:0 auto;
    }
    
    #logoAndLike{
        float:left;
        width:190px;
        position:relative;
    }
    

    .home #topnav{
        float:left;
    }

    #topnav{
        float:left;
        min-width:505px;
    }
    #topnav li{}

    li#topnavItem1{
        width: 170px;
        height: 37px;
        top: -10px;
        padding: 10px 10px 0 10px;
        margin-right: 15px;
    }    
    li#topnavItem5{width:180px;}    
    li#topnavItem2{width:210px;}
    li#topnavItem3{width:105px;}
    li#topnavItem4{width:140px;}     
    li#facebookLike{margin-top:-4px;}
    
    #topnav li a{
        font-size:13px;
    }
    #ourProductsBlock{
        margin-top:36px;
    }
}

/* global things */
/* http://www.fontsquirrel.com/fonts/news-cycle */
 @font-face {
    font-family: 'NewsCycleRegular';
    src: url('font/newscycle-webfont.eot');
    src: url('font/newscycle-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/newscycle-webfont.woff') format('woff'),
         url('font/newscycle-webfont.ttf') format('truetype'),
         url('font/newscycle-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clear{
    width:100%;
    clear:both;
}


h1 sup, h2 sup {
    font-size: 0.4em;
    vertical-align: top;
    text-transform:uppercase;
    margin-left:2px;
    line-height: 0px;

}
.subNavHeadlines sup
{
    font-size: 0.5em;
        line-height: 19px;

}

a {
    color: #22244a;
    text-decoration: none;
}

.notouch a:hover {
    font-weight: bold;
} 

.notouch a:hover {
    color:none;
}

.roundedCorners{
    font-size:13px;
    font-weight:normal;
    position:relative;
    color:#fff;
}

.circle{
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    height:16px;
    width:16px; 
    position:relative;
    display:block; 
}

.circleNewOld {
    height:20px;
    width:19px; 
    position:relative;
    display:block; 
    background: url(../images/ourProducts/productDetail/circleNewOld.png) no-repeat;
}

.circleLeft {
    height:20px;
    width:19px; 
    position:relative;
    display:block; 
    background: url(../images/ourProducts/productDetail/circleNewOldComplexion.png) no-repeat;
}

.circleRight {
    height:20px;
    width:19px; 
    position:relative;
    display:block; 
    background: url(../images/ourProducts/productDetail/circleNewOld.png) no-repeat;
}

.promoButton a{
    color: #22244A;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 28px;
    line-height: 14px;
    margin: 10px 10px 5px 0;
    padding: 14px 0 0 15px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    background: url("../images/ourProducts/productDetail/complexionClearingBuyNowBtn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.notouch .promoButton a:hover{
    background-position:bottom left;
    /* color:#fff; */
}

a span.arrow{
    font-size:18px;
}

#mainContent .new{
}

#mainContent h1{
    margin-bottom:13px;
    text-transform:uppercase;
}

#mainContent .centeringDiv{
    position:relative;
}


/* discontinued product teaser */
#productChanges{
    width:235px;
    position:relative;
}

#productChanges h3{
    color:#005daa;
    line-height:30px;
    font-weight:normal;
    font-size:18px;
    margin-top:-10px;
}

#productChanges p{
    line-height:16px;
}

.teaser a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:block;
    height:100%;
}

/* this is for teasers in which the entire teaser is clickable ONLY
.ie7 .teaser a,
.ie8 .teaser a{
    background: url(../images/blank.gif);
}
*/

.notouch #productChanges:hover p{
    color:#5091CD;
}

.no-flash{
    text-align:center;
    padding:30px;
}

.navBlue {
    color: #202a51;
}

.whiteTopNav {
   color: #ffffff;
}

/* BUY NOW */

#BuyNow h1 { color:#523A4F; font-size:16px; text-transform:uppercase; margin-top:0px; }
		
a.buyNow {
        background-color: white;
        text-decoration: none;
        text-transform: uppercase;
        color: #6D6F73;
        font-size: 14px;
        font-weight: bold;
        border-width: 0;
        padding-right: 18px;
        margin-left: 0px;
        background: white url(/images/products/grayArrow.gif) center right no-repeat;
		}

/* CHANNEL INTELLIGENCE WHERE TO BUY */

#boxcontainer-buynow { width:100%;background-color:#FFF;
}
#ci-product-description{float: left;
    padding: 20px 0;
    width: 300px}
.ci-results-placeholder{float:left;width:570px;height:540px;background:transparent none no-repeat top left;margin-top:20px;margin-bottom:20px;padding:0 0 0 20px}
.ci-results{width:100%;height:500px;overflow:auto;margin:10px auto;overflow-x:hidden;padding:0px 5px;}
#ci-retailers{margin-left:30px}
/*#ci-product-image{margin:10px auto 45px auto;width:220px;height:220px}*/
#ci-product-image{margin:10px auto 15px auto;width:auto;height:auto;text-align:center}
    #ci-product-image img {
        width:100%;
    }
#ci-store-locator{width:300px;padding-top:10px;}
#ci-globe{float:left;width:62px;height:65px;padding-right:10px}
#ci-zip-txt-container{width:85%;}
    #ci-zip-txt-container h3 {
        margin-bottom:5px;font-size:1em;
    }
    #ci-zip-txt-container #zip-txt {
        margin:2px 2px 5px 0px;font-size:0.9em;
    }
#zipText {float:left;width:100px;margin-top:5px}
#zipButton{float:left;background:transparent url(/images/buynow/btn-submit-sm.gif) no-repeat top left;width:77px;height:26px}
.zipButton {background-color:transparent;border:0 none;width:77px;color:#FFF;font-weight:bold;cursor:pointer;font-size:12px;padding-top:5px}
.ciText{width:90px;color:#999;font-size:10px;font-weight:bold;}
.ci-retailer{float:left;width:175px;height:85px;margin:5px;}
.clearFloat {
    clear: both;
}
.ci-view-online-retailers {
    color:#7d58a5;
    font-size: .9em;
    display:block;
    padding-top:5px;
}
