﻿
.greenBold { color: #63b632; font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal; }
.orangeBold { color: #ec5a1e; font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal; }
.redBold { color: #e92e5f; font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal; }
.purpleBold {
    color: #8862a9;
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}


.notouch #topnav #ourProductsBlock li.orangeHover a:hover{
    color:#ec5a1e;    
}
.notouch #topnav #ourProductsBlock li.greenHover a:hover{
    color:#63b632;    
}
.notouch #topnav #ourProductsBlock li.redHover a:hover{
    color:#e92e5f;    
}
.notouch #topnav #ourProductsBlock li.tealHover a:hover{
    color:#6ec8e4;    
}
.notouch #topnav #ourProductsBlock li.purpleHover a:hover {
    color: #8862a9;
}
