﻿
.breakupwithblackheads #mainContent{
    background: url(../images/ourProducts/productDetail/productDetailDeepBg.jpg) no-repeat top center;
}

.acneouttahere #mainContent{
    background: url(../images/ourProducts/productDetail/productDetailComplextionBg.jpg) no-repeat top center;
}

.dontbedirty #mainContent{
    background: url(../images/ourProducts/productDetail/productDetailDirtyBg.jpg) no-repeat top center;
}

.backoffbigpores #mainContent{
    background: url(../images/ourProducts/productDetail/productDetailDirtyBg.jpg) no-repeat top center;
}

#mainContent .centeringDiv{
    max-width:960px;
}

#mainContent .col{
    float:left;
    color:#5d5d5e;
    min-width:245px;
    position:relative;
}

#mainContent #productName{
    position:static;
}

#mainContent .floatRight{
    float:right;

}

#mainContent .col h2{
    width:407px;
    text-align:center;
    padding:6px 5px;
    margin-bottom:7px;
}

#mainContent .col .descript{
    margin:-20px 0px 5px 0px;
    text-align: center;
    width: 408px;
    float:none;
}

#mainContent .col p img {
   margin: 0px 0px 5px 0px;
}

div#productInfo.col{
    min-height: 200px;
}

.contentHolder h5{
    font-weight:bold;
    font-size:15px;
}

.activeIngredient{
    float:left;
    width:60%;
    position:relative;
}

.activeIngredient p{
    float:left;
    position:relative;
    z-index:20;
    background: url(../images/contentBg.jpg);
}

.dots{
    position:absolute;
    width:99.8%;
    left:0;
    line-height:14px;
    height:12px;
    border-bottom:1px dotted #888;
}

.purpose{
    float:left;
    width:40%;
}

.contentHolder img.floatRight{
    margin:0 5%;
}

.productDetail .contentHolder h3{
    background:#4f91cd;
    color:#fff;
    text-transform:uppercase;
    font-size:16px;
    font-weight:normal;
    padding:7px;
    position:relative;
    margin-bottom:12px;
    cursor:pointer;
}


.acneouttahere .contentHolder h3 {
    background: #f49e7b;
}

.breakupwithblackheads .contentHolder h3 {
    background: #f06c8e;
}

.dontbedirty .contentHolder h3 {
    background: #65b632;
}

.takeitalloff .contentHolder h3 {
    background: #8862a9;
}

.backoffbigpores .contentHolder h3 {
    background: #64d1e7;
}

/* .notouch .contentHolder h3:hover{ 
    background-color: #7baad7;
} */

.dontbedirty.notouch .contentHolder h3:hover{ 
    background-color: #65b632;
}

.acneouttahere.notouch .contentHolder h3:hover{ 
    background-color: #f0782d;
}

.takeitalloff.notouch .contentHolder h3:hover {
    background-color: #b58ed7;
}

.breakupwithblackheads.notouch .contentHolder h3:hover{ 
    background-color: #e62e5e;
}

.backoffbigpores.notouch .contentHolder h3:hover{ 
    background-color: #00bce2;
}

.dontbedirty .contentHolder h3 span{
    position:absolute;
    top:8px;
    right:12px;
    background: #ffffff url(../images/ourProducts/productDetail/arrowMurt.png) no-repeat -2px -27px;
}

.backoffbigpores .contentHolder h3 span{
    position:absolute;
    top:8px;
    right:12px;
    background: #ffffff url(../images/ourProducts/productDetail/arrowPores.png) no-repeat -2px -27px;
}

.breakupwithblackheads .contentHolder h3 span{
    position:absolute;
    top:8px;
    right:12px;
    background: #ffffff url(../images/ourProducts/productDetail/arrowDeepCleansing.png) no-repeat -2px -27px;
}

.acneouttahere .contentHolder h3 span{
    position:absolute;
    top:8px;
    right:12px;
    background: #ffffff url(../images/ourProducts/productDetail/arrow.png) no-repeat -3px -27px;
}

breakupwithblackheads .contentHolder h3 span{
    position:absolute;
    top:8px;
    right:12px;
    background: #ffffff url(../images/ourProducts/productDetail/arrow.png) no-repeat -2px -27px;
}

.takeitalloff .contentHolder h3 span {
    position: absolute;
    top: 8px;
    right: 12px;
    background: #ffffff url(../images/ourProducts/productDetail/arrowPurp.png) no-repeat -3px -27px;
}

.contentHolder.open h3 span{
    background-position: -3px -2px;
}

.dontbedirty .contentHolder.open h3 {
    background: #65b632;
}
.backoffbigpores .contentHolder.open h3{ 
    background-color: #00bce2;
}

.dontbedirty .contentHolder h3 {
    background: #93cc6f;
}

.acneouttahere .contentHolder.open h3 {
    background: #f0782d;
}

.breakupwithblackheads .contentHolder.open h3 {
    background: #ea2e5e;
}

.takeitalloff .contentHolder h3 {
    background: #8862a9;
}

.takeitalloff .contentHolder.open h3 {
    background-color: #b58ed7;
}

.contentHolder ol{
    list-style:decimal;
    margin-left:20px;
}

.ie7 .contentHolder ol{
    margin-left:26px;
}

.contentHolder ul{
    list-style:disc;
    margin-left:20px;
}

.contentHolder ul li, 
.contentHolder ol li{
    margin-bottom:10px;
}

.contentHolder h4{
    font-weight:bold;
}





/*where to buy elements */

#countryNav .contentHolder img.floatRight{
    margin:0 5%;
}

#countryNav .contentHolder h3{
    background:#212c56;
    color:#fff;
    text-transform:uppercase;
    font-size:14px;
    font-weight:normal;
    padding:12px;
    position:relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;  
    -moz-box-shadow: 0 2px 5px 0px #c1c1c1;
    -webkit-box-shadow: 0 2px 5px 0px #c1c1c1;
    box-shadow: 0 2px 5px 0px #c1c1c1;
    margin-bottom:12px;
    cursor:pointer;
}

#countryNav .notouch .contentHolder h3:hover{background-color: #7baad7;}

#countryNav .contentHolder h3 span{
    position:absolute;
    top:8px;
    right:12px;
    background: #FFF url(../images/ourProducts/productDetail/arrowWTB.png) no-repeat left bottom;
}

#countryNav .contentHolder.open h3 span{
    background-position: top left;
}

#countryNav .contentHolder ol{
    list-style:decimal;
    margin-left:20px;
}

#countryNav .ie7 .contentHolder ol{
    margin-left:26px;
}

#countryNav .contentHolder ul{
    list-style:disc;
    margin-left:20px;
}

#countryNav .contentHolder ul li, 
#countryNav .contentHolder ol li{
    margin-bottom:10px;
}

#countryNav .contentHolder h4{
    font-weight:bold;
}

#countryNav .col {
    width:100% !important;
}

#countryNav .circle {
    height: 23px;
    width: 23px;
}

/* END where to buy elements */


#productName .likeBtn{
    float:left;
    margin-top:21px;
    z-index: 110;
    position: relative;
}

#productName .plusBtn{
    float:left;
    margin:21px 10px 0 0;
}

/* main product images with old / new look nav */
#productImages{
    max-width:390px;
}

#productImages img {
    text-transform: capitalize;
}

.hide,
.prodImgHolder{
    display:none;
}

.open .collapsibleContent,
.prodImgHolder.on{
    display:block;
}
.open .collapsibleContent{
    padding: 0 15px;
}

.prodLookNav{
    margin:10px auto 0;
    width:240px;
    height:40px;
    position:relative;
}

.prodLookNav li{
    float:left;
    /* width:120px; */
}

.prodLookNav a{
    color:#5c5c5d;
    text-transform:uppercase;
    text-decoration:none;
    font-size:14px;
    display: inline-flex;
}

.prodLookNav a span{
    /* background:#7eaad5; */
    float:right;
    top:0px;
    margin:0px 8px 0px 8px;
    position:relative;
    /* -pie-watch-ancestors:1; */
}

/* .prodLookNav a.on span,
.notouch .prodLookNav a:hover span{
     background:#f0782d;
    background: #ffffff url(../images/ourProducts/productDetail/productRing.png) no-repeat 0px 0px; 
} */



.acneouttahere .prodLookNav a.on .circleLeft{
    /* background:#f0782d; */
    background: /* #ffffff */ url(../images/ourProducts/productDetail/productRing.png) no-repeat 0px 0px; 
}

.acneouttahere .prodLookNav a.on .circleRight{
    /* background:#f0782d; */
    background: /* #ffffff */ url(../images/ourProducts/productDetail/productRingBlue.png) no-repeat 0px 0px; 
}

.acneouttahere .prodLookNav a .circleLeft   {
    background: #ffffff url(../images/ourProducts/productDetail/circleNewOldComplexion.png) no-repeat 0px 0px;
}

.dontbedirty .prodLookNav a.on .circleLeft{
    /* background:#f0782d; */
    background: /* #ffffff */ url(../images/ourProducts/productDetail/productRingMurt.png) no-repeat 0px 0px; 
}

.dontbedirty .prodLookNav a.on .circleRight{
    /* background:#f0782d; */
    background: /* #ffffff */ url(../images/ourProducts/productDetail/productRingBlue.png) no-repeat 0px 0px; 
}

.dontbedirty .prodLookNav a .circleLeft   {
    background: #ffffff url(../images/ourProducts/productDetail/circleNewOldDirty.png) no-repeat 0px 0px;
}

.breakupwithblackheads .prodLookNav a.on .circleLeft{
    /* background:#f0782d; */
    background: /* #ffffff */ url(../images/ourProducts/productDetail/productRingDeepCleansing.png) no-repeat 0px 0px; 
}

.breakupwithblackheads .prodLookNav a.on .circleRight{
    /* background:#f0782d; */
    background: /* #ffffff */ url(../images/ourProducts/productDetail/productRingBlue.png) no-repeat 0px 0px; 
}

.breakupwithblackheads .prodLookNav a .circleLeft   {
    background: #ffffff url(../images/ourProducts/productDetail/circleNewOldDeep.png) no-repeat 0px 0px;
}



/* .breakupwithblackheads .prodLookNav a.on span{
    background:#f0782d;
    background: #ffffff url(../images/ourProducts/productDetail/productRingDeepCleansing.png) no-repeat 0px 0px; 
}

 .dontbedirty .prodLookNav a.on span{
    background:#f0782d;
    background: #ffffff url(../images/ourProducts/productDetail/productRingMurt.png) no-repeat 0px 0px; 
} */

.prodImgHolder{
    position:relative;
    width:100%;
}

.prodImgHolder img{
    position:relative;
    z-index:100; 
    /* width:100%; */  
   width: 407px;
}

/* you may also like carousel section */
#alsoLike.col{
    padding-left:5px;
    padding-right:0;
    width:50%;
}

#mainContent #alsoLike h3{
    font-family: 'Archer A', 'Archer B'; font-weight: 500; font-style: normal;
    font-size:16px;
    font-weight:normal;
    color:#ffffff;
    text-transform:uppercase;
    margin-bottom:10px;
    position:relative;
    z-index:100;
    height: 29px;
    background-color: #23244b;
    padding: 8px 0px 0px 8px;
    width: 96%;
    /* max-width:407px; */
}

#alsoLike.col p{
    margin-bottom:0;
    max-width:370px;
}

#prodCarouselWrapper{
    position:relative;
    width:100%;
}

#prodCarousel{
    /* overflow:hidden; */
    position:relative;
    margin-left: 4%;
}

#prodCarousel ul{
    /* width:100%; */
    position:relative;
    /* left:-5px;  */
    overflow:hidden;
}

#prodCarousel li{
    text-align:center;
    float:left;
    position:relative;
    height:60px;
    padding: 191px 5px 0;
    width: 114px;
    /* margin-left:2%; */
}

#prodCarousel li img{
    position:absolute;
    bottom:40px;
    display:block;
    left:15%;   
    top:0px;
     width:66%;
}

#prodCarousel li.wider img{
   /* left:13%;
    width: 73%; */
}

#prodCarousel li.widest img{
    /* left:0;
    width: 102%; */
}

#prodCarousel li a{
    font-weight:bold;
    text-decoration:none;
    font-size:13px;
    line-height:14px;
    color:#073b87;
    display:block;
}

.notouch #prodCarousel li a:hover{
    color:#4f91cd;
}

.arrowSmallProduct {
    height: 40px;
    width: 16px;
    background: url(../images/ourProducts/productDetail/arrowSmallProduct.gif) no-repeat;
    margin: -11px 0px 0px 100px;
    position:absolute;
    z-index:100;
}

.arrowSmallProductDirty {
    height: 40px;
    width: 16px;
    background: url(../images/ourProducts/productDetail/arrowSmallProductDirty.gif) no-repeat;
    margin: -11px 0px 0px 100px;
    position:absolute;
    z-index:100;
}

.arrowSmallProductBlack {
    height: 40px;
    width: 16px;
    background: url(../images/ourProducts/productDetail/arrowSmallProductBlack.gif) no-repeat;
    margin: -11px 0px 0px 100px;
    position:absolute;
    z-index:100;
}
 

#prodCarousel li a span{
    position: absolute;
    text-align: right;
    top: 182px;
    height: 40px;
    font-size: 12px;
    line-height: 12px;
    left: 5px;;
    width: 75px;
}

#prodCarouselWrapper .carouselNav{
    background:#4f91cd;
    text-indent:-9000px;
    width:24px;
    left:-9000px;
    height:24px;
    position:absolute;
    top:100px;
    z-index:100;
    background: #4f91cd url(../images/ourProducts/productDetail/carouselArrows.png) no-repeat;
}

.notouch #prodCarouselWrapper .carouselNav:hover{ background-color:#7BAAD7;}
#prodCarouselWrapper .carouselNav.disabled{background-color:#c8dcee;}
#prodCarouselWrapper #prev{background-position: bottom left;}

/* video section */
.videoHolder{
    position:relative;
    float:left;
    margin-top:15px;
    width:98.3%;
}

.video{
    -moz-box-shadow: 0 2px 8px 0px #b2b2b2;
    -webkit-box-shadow: 0 2px 8px 0px #b2b2b2;
    box-shadow: 0 2px 8px 0px #b2b2b2;
    display:block;
    margin:0 auto;
    max-width: 512px;
}

.video *{
    display:block;
}

.videoHolder img{
    display:block;
    width:100%;
}

/* bottom teaser */
.mobile #proveIt{
    display:none;
}

.teaser {
	float:right; clear:right;
	position:relative;
	width:48%;
	margin:25px 10px 40px 0;
	/*border:1px solid black;*/
}

/*
.teaser .floatLeft{
    float:right; 
    width:45%;
}

#proveIt{
    float:right;
    clear:right;
    margin:20px 10px -40px 0;
    width:45%;
    padding:10px;
}

#proveIt img.model{
    width:50%;
    float:left;
}
*/

#hotGuys img.model{
	position:absolute; top:0; right:0;
	width:51%;
	z-index:5;
}

.teaserContent {
	position:relative;
	width:73%;
	padding-top:15px;
	z-index:10;
}

.teaser h3{
    color:#1160a5;
    width:68%;
    font-weight:normal;
    text-transform:uppercase;
    font-size:16px;
    margin:11px 0 5px;
}

.teaser p{
    width:65%;
    padding-bottom:16px;
}

.teaser h2{
    width:100%;  
    max-width: 327px;
}

.teaser h2 img{
    width:100%;
}

/* these are for the proveIt promos
.teaser h2{
    width:100%;  
    margin:10px 0 5px; 
    max-width: 167px;
}
.teaser p{
    float:left;
    width:100%;
    padding-left:4%;
    margin-bottom:10px;
}
*/
.teaser a{
    background: url(../en-us/images/ourProducts/productDetail/goNowBtn.png) no-repeat;
    height:21px;
    padding:8px 0 10px;
    width:130px;
    float:left;
    margin-right:4%;
    text-align:center;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    position:static;
}

.teaser a:hover{
	color:#fff;
}

.notouch .teaser a:hover{
    background-position: 0 -41px;    
}

/* for disclaimers across the bottom of the page
#goAnywhereRules{
    font-size:11px;
    max-width:905px;
    width:95%;
    margin:0 auto;
}

.mobile #goAnywhereRules{display:none;}
*/

/* pore strip nav */
div#ctl00_ContentPlaceHolder1_thePoreStripNavPanel.col{
    padding:0;
    margin-bottom: -15px;
}
    
ul#poreStripNav{
    padding-left:3px;
    max-width:385px;
}
 
.poreStripNav{
    float: left;
    position:relative;
    padding:2% 0% 5%;
    text-align:center;
    width: 30.5%;
    max-width:120px;
    margin-left:3%;
}

.poreStripNav:first-child{
    margin-left:0;
}

.selected.poreStripNav .roundedBoxBg{ 
    left: -5%;
}

.poreStripNav .imgWrapper{
    max-width: 88px;
    position: relative;
    width: 88%;
    margin:0 auto;
}
 
.poreStripNav img{ 
    position: relative;
    z-index:10; 
    width:100%;
    max-width:87px;
    max-height:94px;
}

.poreStripNav .roundedBoxBg{                       
    height: 105%;
    left: -9999px;
    position: absolute;
    top: -7%;
    width: 111%;
   /*  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;  
    -moz-box-shadow: 0 3px 10px 0px #7f7f7f;
    -webkit-box-shadow: 0 3px 10px 0px #7f7f7f;
    box-shadow: 0 3px 10px 0px #7f7f7f; */
}

#regularNav .roundedBoxBg{
    background: url(../en-us/images/ourProducts/productDetail/poreStripNavRegularOn.png) -13px -11px no-repeat;
}
    
#regularNav .ps{
    background:#faea25;
}

#comboNav .roundedBoxBg{
    background: url(../en-us/images/ourProducts/productDetail/poreStripNavComboOn.png) -13px -11px no-repeat;
}

#comboNav .ps{
    background:#fef343;
}

#ultraNav .roundedBoxBg{
    background: url(../en-us/images/ourProducts/productDetail/poreStripNavUltraOn.png)  -13px -11px no-repeat;
}

#ultraNav .ps{
    background-position:bottom right

} 
 
.poreStripNav a{
    position: absolute;
    width: 134%;
    padding:0 4%;
    top:0;
    z-index:20;
    height: 100px;
    left: -23%;
    text-transform:uppercase;
    font-size:11px;
    text-decoration:none;
    font-weight:bold;
}

.ie7 .poreStripNav a,
.ie8 .poreStripNav a{
    background: url(../images/blank.gif);
}
  
.poreStripNav a div{
    width:105%;
    /* -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;  */
    position:absolute;
    left:-9999px;
    top:17%;
    /* -moz-box-shadow: 0 5px 10px 0px #7f7f7f;
    -webkit-box-shadow: 0 5px 10px 0px #7f7f7f;
    box-shadow: 0 5px 10px 0px #7f7f7f; */
    background:#faea25;
    color:#23244B;
}

.notouch .poreStripNav a:hover div{left:0;}
 
.poreStripNav a div span{
    display:block;
    position:relative;
    cursor:pointer;
}
 
.poreStripNav a .dc{
    color:#23244B;
    height:15px;
    z-index:15;
    line-height:20px;
   /* border-bottom:5px solid #005daa; */
    margin-bottom:-5px;
}
 
.poreStripNav a .ps{
    /* -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; */
    line-height:12px;
    padding:8px 0% 4px;
    width:100%;
}

/* category specific colors and styles */
.spanProductName
{
    font-family: ProximaNova-Regular;
}
.breakupwithblackheads .contentHolder h4{color:#ea2e5e;}

.acneouttahere .contentHolder h4{color:#f0782d;}

.acneouttahere #mainContent h1{
    width: 407px;
    height: auto;
    background-color: #f0782d;
    text-align: center;
    padding:11px 0px 10px 0px;
}

.acneouttahere #mainContent h1 .spanProductName {
    color: #FFFFFF;
    display: inline-block;
    font-size: 29px;
    line-height: 28px;
    text-align: center;
    width: 334px;
    margin-left:10px;
}

.dontbedirty #mainContent h1{
    width: 407px;
    height: auto;
    line-height: 29px;
    background-color: #65b632;
    text-align: center;
    padding:11px 0px 10px 0px;
}

.dontbedirty #mainContent h1 .spanProductName {
    color: #FFFFFF;
}

.takeitalloff .contentHolder h4 {
    color: #8862a9;
}

.takeitalloff #mainContent h1 {
    width: 407px;
    height: auto;
    background-color: #8862a9;
    text-align: center;
    padding: 11px 0px 10px 0px;
}

    .takeitalloff #mainContent h1 .spanProductName {
        color: #FFFFFF;
        display: inline-block;
        font-size: 29px;
        line-height: 28px;
        text-align: center;
        width: 334px;
        margin-left: 10px;
    }

.breakupwithblackheads #mainContent h1{
    background-color: #EA2E5E;
    text-align: center;
    width: 407px;
    height: auto;
    padding:11px 0px 10px 0px;
}

.breakupwithblackheads #mainContent h1 .spanProductName {
    color: #FFFFFF;
    font-size: 29px;
    height: 55px;
    line-height: 21px;
    text-align: center;
    margin-left:10px;
}
.backoffbigpores #mainContent h1{
    width: 407px;
    height: auto;
    line-height: 29px;
    background-color: #6ec8e4;
    text-align: center;
    padding:11px 0px 10px 0px;
}

.backoffbigpores #mainContent h1 .spanProductName {
    color: #FFFFFF;
    font-size: 29px;
    height: 55px;
    line-height: 21px;
    text-align: center;
    margin-left:10px;
}
.backoffbigpores .spanCateloryLeft {
    margin-right: 5px;
    color:#8a8a8a;
}

.backoffbigpores .spanCategoryRight {
    color:#6ec8e4;
    font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
}

.spanNamePrefix, #ctl00_ContentPlaceHolder1_spanNamePrefix {
    color: #faea25;
    font-size: 18px;
    font-family: ProximaNova-Bold;
    font-weight: 800;
    font-style: normal;
    vertical-align:top;
}
.spanNamePrefixSelfHeatingOneMinuteMask
{
     margin: 0px 0px 0px 10px !important;
}

.dontbedirty .contentHolder h4{color:#65b632;}

#productName h2 {
    font-size: 28px;
    letter-spacing: 0px;

}

.breakupwithblackheads .spanCategoryRight {
    color:#e62e5e;
     font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
}


.breakupwithblackheads .spanCateloryLeft {
    margin-right: 5px;
    color:#8a8a8a;
}


.acneouttahere .spanCateloryLeft {
    margin-right: 5px;
    color:#f0782d;
}

.acneouttahere .spanCategoryRight {
    color:#8a8a8a;
    font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
}

.dontbedirty #productName h2{color:#8a8a8a;}

.dontbedirty .spanCateloryLeft {
    margin-right: 5px;
}

.dontbedirty .spanCategoryRight {
    color:#65b632;
     font-family: 'Archer A', 'Archer B'; font-weight: 800; font-style: normal;
}

.takeitalloff .spanCateloryLeft {
    margin-right: 5px;
    color: #8a8a8a;
    font-weight: bold;
}

.takeitalloff .spanCategoryRight {
    color: #8862a9;
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}

#productName .buyNow {
    background: url(../images/ourProducts/productDetail/complexionClearingBuyNowBtn.png) no-repeat;
}

#productName .buyNow{
    color: #22244A;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 28px;
    line-height: 14px;
    margin: 10px 10px 5px 0;
    padding: 14px 0 0 15px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
}

.notouch #productName a.buyNow:hover{
    background-position: 0px -41px;
}

/*  Mobile Portrait 320x480 */
@media all and (max-width:479px) {
    #productName .likeBtn {
        float: left;
        margin-top: 13px;
    }

    #productName .plusBtn {
        float: left;
        margin: 13px 20px 0 13px;
    }


    #mainContent #productName {
    }

    #mainContent .col p img {
        width: 280px;
    }

    #mainContent .col .descript {
        width: 100%;
    }

    #prodCarouselWrapper {
        width: 260px;
        margin: 0 auto;
    }

    #prodCarousel {
        overflow: hidden;
        width: 274px;
        margin-left: -39px;
    }

        #prodCarousel ul {
            width: 480px;
        }

            #prodCarousel ul li {
                margin: 0;
            }

            #prodCarousel ul.moreLeft {
                left: -135px;
            }

    #prodCarouselWrapper .carouselNav {
        display: block;
    }

    #prodCarouselWrapper #next {
        right: 0px;
        left: auto;
    }

    #prodCarouselWrapper #prev {
        left: -5px;
        background-position: bottom left;
    }

    .poreStripNav a {
        font-size: 10px;
        width: 116%;
        left: -16%;
    }

    #mainContent .centeringDiv {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 300px;
    }

    #mainContent h1 {
        font-size: 29px;
        line-height: 29px;
        width: 98%;
        /*color:#ffffff*/
    }

    #mainContent .col {
        width: 280px;
        padding: 0 0% 5px;
        float: none;
        font-size: 14px;
        line-height: 17px;
    }


        #mainContent .col h3,
        #mainContent .col h4,
        #mainContent .col p,
        #mainContent .col ul,
        #mainContent .col ol {
            font-size: 14px;
            line-height: 17px;
        }

    #productImages.col {
        width: 89%;
        margin: 0 auto;
    }

    .contentHolder, .videoHolder {
        width: 98.3%;
    }

    .dots {
        line-height: 13px;
        height: 14px;
    }

    ul#poreStripNav {
        margin: 0 auto;
    }

    #productName p {
        font-size: 13px;
    }

    /*
    #proveIt{
        float:none;
        width:93%;
        max-width:430px;
    }
	*/

    #hotGuys {
        float: none;
        width: 93%;
        max-width: 430px;
    }

    .prodImgHolder {
        margin: 0 auto;
        text-align: center;
    }

        .prodImgHolder img {
            width: 246px;
        }

    #mainContent #productName {
        padding-top: 15px;
        position: relative;
        z-index: 10000;
    }

    .dontbedirty #mainContent h1 {
        width: 280px;
        height: auto;
        font-size: 20px;
        line-height: 20px;
        background-color: #65b632;
        text-align: center;
        padding: 11px 0px 10px 0px;
    }

    .backoffbigpores #mainContent h1 {
        width: 100%;
    }

    #alsoLike.col {
        /* padding-top:20px; */
    }

        #alsoLike.col p {
            font-size: 14px;
        }

    #prodCarousel {
        width: 100%;
        margin-left: 5%;
    }

    #goAnywhereRules {
        padding-top: 20px;
    }

    #mainContent .col .descript {
        margin: -20px 0px 5px 0px;
    }

    .breakupwithblackheads #mainContent h1, .takeitalloff #mainContent h1 {
        width: 280px;
    }

    .acneouttahere #mainContent h1 {
        width: 100%;
    }

    .breakupwithblackheads #mainContent h1 {
        width: 280px;
    }

    #mainContent .col h2 {
        width: 280px;
    }

    .acneouttahere #mainContent h1 .spanProductName {
        display: initial;
    }

    #productName h2 {
        font-size: 24px;
        letter-spacing: 0px;
    }

    .breakupwithblackheads #mainContent h1 .spanProductName {
        font-size: 19px;
        line-height: 0;
    }

    div#ctl00_ContentPlaceHolder1_thePoreStripNavPanel.col {
        margin-bottom: 125px;
    }

    .takeitalloff #mainContent h1 .spanProductName {
        display: initial;
    }
}

/*  Mobile Landscape 480x320 */
@media all and (min-width:480px) and (max-width:599px)
{
    #productName .likeBtn {
        float: left;
        margin-top: 13px;
    }
    #productName .plusBtn {
       float: left;
        margin: 13px 20px 0 13px;
    }
     
   
    #mainContent #productName {
    }
    #mainContent .col p img {
        width:370px;
    }
    #mainContent .col .descript {
width: 370px;
}
    #prodCarouselWrapper{
        width:260px; 
        margin:0 auto;   
    }
    
    #prodCarousel { 
        overflow: hidden;
        width: 274px;
        margin-left: -39px;
    }
    
    #prodCarousel ul{
        width:480px;
    }
    
    #prodCarousel ul li{
        margin:0;
    }
    
    #prodCarousel ul.moreLeft { 
        left:-135px;
    }
   
    #prodCarouselWrapper .carouselNav{
        display:block;
    }   
    
    #prodCarouselWrapper #next{
        right:0px;
        left:auto;
    }

    #prodCarouselWrapper #prev{
        left:-25px;
        background-position: bottom left;
    }
    
    .poreStripNav a{
        font-size:10px;
        width:116%;
        left:-16%;
    }
    #mainContent .centeringDiv {
        padding-left:22px;
        padding-right:22px;
        max-width:370px;
    }
    
    #mainContent h1{
        font-size:29px;
        line-height:29px;
        width: 98%;
        /*color:#ffffff*/
    }
    
    #mainContent .col{
        width:100%;
        padding:0 0% 5px;
        float:none;
        font-size:14px;
        line-height:17px;
    }
    
    
    #mainContent .col h3,
    #mainContent .col h4,
    #mainContent .col p,
    #mainContent .col ul,
    #mainContent .col ol{
        font-size:14px;
        line-height:17px;
    }
    
    #productImages.col{
        width:89%;
        margin:0 auto;
    }
    
    .contentHolder, .videoHolder{
        width:98.3%;
    }
    
    .dots{
        line-height:13px;
        height:14px;
    }
    
    ul#poreStripNav{
        margin:0 auto;
    }
    
    #productName p{
        font-size:13px;
    }
    
    /*
    #proveIt{
        float:none;
        width:93%;
        max-width:430px;
    }
	*/
    
    #hotGuys{
        float:none;
        width:93%;
        max-width:430px;
    }    
    
    .prodImgHolder{
        margin:0 auto;
        text-align: center;
    }
    
    .prodImgHolder img {
        width:246px;
    }
    
    #mainContent #productName{ 
        padding-top:15px;
        position:relative;
        z-index:10000;
    }
    .dontbedirty #mainContent h1{
    width: 370px;
    height: auto;
    line-height: 29px;
    background-color: #65b632;
    text-align: center;
    padding:11px 0px 10px 0px;
}
    #alsoLike.col{
        /* padding-top:20px; */
    }
    
    #alsoLike.col p{
        font-size:14px;
    } 
    
    
    #prodCarousel{
        width:100%;
        margin-left: 0;
    }
    #goAnywhereRules{
        padding-top:20px;
    }
    #mainContent .col .descript {
margin: -19px 0px 5px 0px;
}
    .acneouttahere #mainContent h1 {
width: 370px;
}
    .breakupwithblackheads #mainContent h1
    {
        width: 370px;

    }
	.backoffbigpores #mainContent h1
    {
        width: 370px;}
    div#ctl00_ContentPlaceHolder1_thePoreStripNavPanel.col {
        margin-bottom: 125px;
    }
}
/*  Small Tablet Portrait 600x800 */
@media all and (min-width:600px) and (max-width:767px)
{
     #mainContent .centeringDiv{
        padding-left:30px;
    }
    
     #mainContent .floatRight
    {
        float: none;
    }

    #mainContent .col
    {
        float: none;
    }
        #mainContent .col {
            font-size:13px;
        padding: 0px .5% 5px;
        width: 465px;
    }
    #mainContent .bottomBorder{
        background: url(../images/ourProducts/productDetail/handdrawnBorder.gif) no-repeat bottom left;
        padding-bottom:30px;
    }
    #mainContent #productImages{ 
        padding-top:25px;
        margin-bottom:10px;
        position: relative;
    }
    .contentHolder{
        width:87.3%;
    }
    #prodCarouselWrapper{
        left:-20px;
    }
    #prodCarousel{
        width:110%;
    }
    #alsoLike{
        clear:left;
        max-width: 408px;
    }
    #alsoLike.col p{
        font-size:14px;
    }  
    #goAnywhereRules{
        padding-top:60px;
    }

    #mainContent h1{
        font-size:29px;
        line-height:29px;
        /*color:#ffffff;*/
    }
    
    #mainContent .col{
        font-size:14px;
        line-height:18px;
    }
    
    #productName p{
        font-size:15px;
    }
    
    #mainContent #productName{ 
        padding-top:25px;
        position:relative;
        z-index:10000;
    }
    
    #mainContent .centeringDiv {
         max-width: 500px;
    }
    #mainContent .col .descript {
margin: -19px 0px 5px 0px;

}
        div#ctl00_ContentPlaceHolder1_thePoreStripNavPanel.col {
        margin-bottom: 125px;
    }
}
/*  Tablet Portrait 768x1024 && Small Tablet Landscape 800x600 */
@media all and (min-width:768px) and (max-width:1023px)
{
     #hotGuys, #hotGuys h2
    {
        margin-top: 0;
    }

    #hotGuys img.model
    {
        display: none;
    }

    #hotGuys .teaserContent
    {
        width: 100%;
    }

    .teaser p
    {
        width: 100%;
    }

    #hotGuys a
    {
        float: left;
    }
    #mainContent .centeringDiv
    {
        max-width: 500px;
    }

    .contentHolder, .videoHolder
    {
        width: 98.3%;
    }

    #mainContent .floatRight
    {
        float: none;
    }

    
    #mainContent .col {
        font-size:13px;
        float: none;
        padding: 0px .5% 5px;
        width: 415px;
        margin-left: auto;
        margin-right: auto;
    }
    #mainContent .col .descript
    {
        float: none;   
    }
    #productName p {
         font-size: 16px;
    }
    #mainContent #productName {
        padding-top: 25px;
        position:relative;
        z-index:900;
    }
    div#ctl00_ContentPlaceHolder1_thePoreStripNavPanel.col {
        margin-bottom: 125px;
    }
}
/*  Tablet Landscape 1024x768 &&  Desktop 1200x1024 */
@media all and (min-width:1024px)
{
     #mainContent h1{
        font-size:29px;
        line-height:29px;
        color: #ffffff;
        text-align: center;
        width: 407px;
    }
    
    #mainContent .col{
        font-size:13px;
        line-height:19px;
    }
    
    #productName p{
        font-size:17px;
    }
    
    #mainContent #productName{ 
        padding-top:35px;
    }
    #mainContent .col {
        padding: 0px .5% 5px;
        width: 415px;
        top:10px;
    }
    div#productInfo.col {
        padding-top: 10px;
        min-height: 200px;
    }
    #mainContent
    {
       /* min-height:1760px;*/
    }

}
/* smallest size */

/* Cotton logo call out (Only on MURT)*/
.cotton{
    overflow:hidden;
    margin: 15px 0;
}
.cotton img{
    float: left; 
    margin-left:20px;
}

.cotton p{
    float: left; 
    width: 67%;
    font-size: 11px; 
    line-height: 13px;
    color: #7c7d7c;
    margin-left: 10px;
}