﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Biore2012.Forms.Ratings_And_Reviews.Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript" src="http://johnfrieda.ugc.bazaarvoice.com/static/6103-en_ca/bvapi.js"></script>
    <!-- <script type="text/javascript" src="http://johnfrieda.ugc.bazaarvoice.com/bvstaging/static/6103-en_ca/bvapi.js"></script> -->
    <script type="text/javascript">
        $BV.ui("submission_container", {
            userToken:<asp:Literal runat="server" ID="literalUserToken" />
        });
    </script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="outerBVContainer">
    
    
       <div id="BVSubmissionContainer"></div>
       
    </div>
</asp:Content>


