﻿<%@ Page Title="Bior&eacute;&reg; Skincare | Rules" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Rules.aspx.cs" Inherits="Biore2012.FormConfig.Rules" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <meta content="Bioré® rules" name="description" />
    <meta content="" name="keywords" />
 <%=SquishIt.Framework.Bundle .Css()
        .Add("~/css/utilityPages.css")
        .Render("~/css/combinedrules_#.css")
    %>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="main">
        <div id="mainContent">
            <div id="shadow"></div>
            <div class="centeringDiv">
                <!--<div id="polaroid"><img src="<%= VirtualPathUtility.ToAbsolute("~/images/forms/signUpPhoto.jpg") %>" alt="" /></div>-->
                <div id="content">
                    <h1>Bior&eacute;&reg; Skincare Makeup Removing Towelettes Sweepstakes</h1>
                    <h2>Bior&eacute;&reg; Skincare Makeup Removing Towelettes Sweepstakes OFFICIAL RULES</h2>

                    <p>NO PURCHASE NECESSARY TO ENTER. A PURCHASE DOES NOT IMPROVE YOUR CHANCES OF WINNING.</p>
                    <ol>
                    <li><strong>Eligibility.</strong> Participation in the &quot;Bior&eacute;&reg; Skincare Makeup Removing Towelettes Sweepstakes&quot; (&quot;Sweepstakes&quot;) open to individuals who (i) are legal residents of the 50 United States or the District of Columbia who at time of entry reside within the 50 United States and the District of Columbia; and (ii) are age 18 years or older. Employees of Kao Brands Company (&quot;Sponsor&quot;), Enlighten, and their respective parents, subsidiaries, affiliates, partners, advertising and promotion agencies, manufacturers or distributors of Sweepstakes materials and their immediate families (parents, children, siblings, spouse) or members of the same household (whether related or not) of such employees/officers/directors are not eligible to enter or win. Sweepstakes may only be entered in or from the 50 United States and the District of Columbia, and entries originating from any other jurisdiction are not eligible for entry. All federal, state and local laws and regulations apply. Void outside of the 50 United States, the District of Columbia, and where prohibited by law.</li>

                    <li><strong>Start/End Dates.</strong> Sweepstakes begins at 12:00:01 p.m. Eastern Time ("ET") on Tuesday, June 1, 2010 and ends at 12:00:00 p.m. ET on Tuesday, June 15, 2010 (&quot;Sweepstakes Entry Period&quot;). Each day of the Sweepstakes Entry Period (each a &quot;Sweepstakes Day&quot;) begins at 12:00:01 p.m. ET and ends twenty-four hours later at 12:00:00 p.m. ET. Ten (10) Daily Prize Winners (&quot;Daily Prize Winners&quot;) will be selected daily in a random drawing. All Daily Prize Winners will be contacted via direct e-mail and will be required to respond within 10 days in order to claim prize.</li>
                    <li><strong>How to Enter.</strong> During the Sweepstakes Entry Period, entrants can enter at <a href="http://www.biore.com/usa/promotions/sampling.aspx?promo=biore_fbmurt10">www.biore.com/usa/promotions/sampling.aspx?promo=biore_fbmurt10</a> by filling out all required fields of the Sweepstakes entry form. Entrant must fill out first and last name, email address, mailing address, gender, birthdate and stated marketing questions on <a href="http://www.biore.com/usa/promotions/sampling.aspx?promo=biore_fbmurt10">www.biore.com/usa/promotions/sampling.aspx?promo=biore_fbmurt10</a>.
                    <p>Limit: One (1) entry per person throughout the Sweepstakes Entry Period. All eligible entrants in Sweepstakes will be automatically entered into the Daily Drawing (defined below). Multiple entrants are not permitted to share the same email address. Any attempt by an entrant to obtain more than the stated number of entries by using multiple/different email addresses, identities, registrations and logins, or any other methods will void that entrant's entries and that entrant may be disqualified. Use of any automated system to participate is prohibited and will result in disqualification. In the event of a dispute as to any registration, the authorized account holder of the email address used to register will be deemed to be the registrant or contestant. The "authorized account holder" is the natural person assigned an email address by an Internet access provider, online service provider or other organization responsible for assigning email addresses for the domain associated with the submitted address. The potential winner may be required to show proof of being the authorized account holder.</p></li>

                    <li><strong>Random Drawing.</strong> Each eligible entrant will be automatically entered into that Sweepstakes Day's random drawing (each a &quot;Daily Drawing&quot;). The Daily Drawing will take place the day after that Sweepstakes Day has ended on or about 3:00 P.M. ET. Non-winning entries will carry over to subsequent Daily Drawings. Ten (10) winners will be selected in each Daily Drawing (each a &quot;Daily Prize Winner&quot;) for a total of one hundred and forty (140) Daily Prize Winners throughout the Sweepstakes Period. Odds depend on the number of eligible entrants each Sweepstakes Day.</li>
                    <li><strong>Prizes.</strong> One hundred and forty (140) Daily Prizes. One hundred and forty (140) Daily Prize Winners (ten winners each Sweepstakes Day) will receive one (1) 30 ct. pack of Bior&eacute;&reg; Skincare Makeup Removing Towelettes (&quot;Daily Prize&quot;). Approximate Retail Value (&quot;ARV&quot;) of each Daily Prize $7.99. Total ARV of all Daily Prizes $1118.60. Limit one (1) Daily Prize per person. Prizes are non-transferable. No substitutions or cash redemptions. In the case of unavailability of any prize, Sponsor reserves the right to substitute a prize of equal or greater value. All expenses not specifically listed herein are the responsibility of winners.</li>

                    <li><strong>Notification.</strong> Daily Prize Winners will be notified via e-mail on or about June 22, 2010. (see 4. Random Drawing). If any winner cannot be contacted or fails to timely claim their prize, if any prize is returned as undeliverable, or in the event of noncompliance with these Official Rules and eligibility requirements, the prize will be forfeited. Upon prize forfeiture, no compensation will be given. Each potential Daily Prize Winner may be required to sign and return an Affidavit of Eligibility, Liability &amp; Publicity Release ("Affidavit"), which must be received by Sponsor within ten (10) days of the date notification is sent, in order to claim prize. If a potential winner cannot be contacted, or fails to sign and return the Affidavit within the required time period (if applicable), potential winner forfeits prize. By entering the Sweepstakes, entrants fully and unconditionally agree to be bound by these rules which will be final and binding in all matters relating to the Sweepstakes. Allow four (4) to six (6) weeks for delivery.</li>
                    <li><strong>Conditions.</strong> By participating, entrants and winner agree to release and hold harmless Sponsor, Facebook, and their respective advertising and Sweepstakes agencies and its parent companies, subsidiaries, affiliates, partners, representatives, agents, successors, assigns, employees, officers and directors, from any and all liability, for loss, harm, damage, injury, cost or expense whatsoever including without limitation, property damage, personal injury and/or death which may occur in connection with, or participation in Sweepstakes, or possession, acceptance and/or use or misuse of prize or participation in any Sweepstakes-related activity and claims based on publicity rights, defamation or invasion of privacy and merchandise delivery. Entrants who do not comply with these Official Rules, or attempt to interfere with this Sweepstakes in any way shall be disqualified. Winners are responsible for any and all taxes associated with their acceptance of prize. There is no purchase or sales presentation required to participate. A purchase does not increase odds of winning.</li>
                    <li><strong>Additional Terms.</strong> Sponsor reserves the right, in its sole discretion, to cancel, terminate, modify, or suspend this Sweepstakes should (in its sole discretion) virus, bugs, unauthorized human intervention or other causes beyond its control corrupt or affect the administration, security, fairness or proper conduct of the Sweepstakes. In such case, Sponsor may select the winners from all eligible entries received prior to and/or after (if appropriate) the action taken by Sponsor. Sponsor reserves the right, at its sole discretion, to disqualify any individual it finds, in its sole discretion, to be tampering with the entry process or the operation of the Sweepstakes or Web site. Additionally, Sponsor reserves the right to prosecute any fraudulent activities to the full extent of the law. Any other attempted form of entry is prohibited; no automatic, programmed; robotic or similar means of entry are permitted. Sponsor, and its parent companies, subsidiaries, affiliates, partners and Sweepstakes and advertising agencies are not responsible for technical, hardware, software, telephone or other communications malfunctions, errors or failures of any kind, lost or unavailable network connections, Web site, Internet, or ISP availability, unauthorized human intervention, traffic congestion, incomplete or inaccurate capture of entry information (regardless of cause) or failed, incomplete, garbled, jumbled or delayed computer transmissions which may limit one's ability to enter the Sweepstakes, including any injury or damage to participant's or any other person's computer relating to or resulting from participating in this Sweepstakes or downloading any materials in this Sweepstakes.</li>

                    <li><strong>Winner's List.</strong> To obtain a list of winners, send a self-addressed, stamped envelope by July 15, 2010 to Enlighten, ATTN: Bior&eacute;&reg; Skincare Makeup Removing Towelettes Sweepstakes, 3027 Miller Road, Ann Arbor, MI 48103.</li>
                    <li><strong>Privacy.</strong> Any entry information collected from the Sweepstakes shall be used only in a manner consistent with the consent given by entrants at the time of the entry, with these Official Rules and with the <a href="http://www.kaobrands.com/privacy_policy.asp" target="_blank">www.kaobrands.com/privacy_policy.asp</a>. By participating in the Sweepstakes, entrants hereby agree to Sponsor's collection and usage of their personal information in accordance with Sponsor's privacy policy and acknowledge that they have read and accepted Sponsor's privacy policy located at <a href="http://www.kaobrands.com/privacy_policy.asp" target="_blank">www.kaobrands.com/privacy_policy.asp</a>.</li>
                    <li><strong>Publicity.</strong> Except where prohibited, participation in the Sweepstakes constitutes winner's consent to Sponsor's and its agents' use of winner's name, likeness, photograph, voice, opinions and/or hometown and state for promotional purposes in any media, worldwide, without further payment or consideration. All Sweepstakes entries become the sole property of the Sponsor and will not be returned.</li>

                    <li><strong>Sponsor.</strong> Kao Brands Company, 2535 Spring Grove Avenue, Cincinnati, OH 45214-1773. Facebook is not a sponsor or administrator of the Sweepstakes. Any questions or comments regarding this Sweepstakes should be directed to Sponsor and not to Facebook.</li>
                    </ol>

                    <p>&copy;2010 Kao Brands Company. All rights reserved.</p>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" runat="server">
</asp:Content>
