﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PopupClose.aspx.cs" Inherits="Biore2012.facebook.SeeTheChange.PopupClose" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

        <script type="text/javascript">
			window.close();
		</script>
    </div>
    </form>
</body>
</html>
