﻿/* Reset All Styles 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit; vertical-align: baseline; }
:focus{ outline: none; -moz-outline-style: none; }
a:active { outline: 0; }
a:focus { -moz-outline-style: none; }
ol, ul { list-style: none; }
caption, th, td{ text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }*/
/*End Reset */

/* Global 
body {
	overflow-x: hidden;
	width: 520px;	
}*/
/* non-semantic helper classes 
.no-wrap {
	white-space:nowrap;
}
sup {
  font-size: 80%; 
  position: relative; 
  top: -.35em;
}*/

/* Our Products Tab (.products) */
.products {
	width: 810px;
	height: 777px;
    margin-top: -36px;
	background: url(../Products/images/background.jpg) 0 0 no-repeat;
	position: relative;
}
.products h1 {
	text-indent: -9999px;
	height: 1px;
	line-height: 1px;
}
.products a {
	display: block;
	text-decoration: none;
}
.products a:hover {
}
.products #visitUs {
	text-indent: -9999px;
	width: 520px;
	height: 485px;
	background: url(../Products/images/visitUsCtA.png) 0 408px no-repeat;
}
.products #visitUs:hover {
	background-position: -520px 408px;
}
.products #updatedProds {
	width: 400px;
	height: 86px;
	font: 15px/100px Arial,sans-serif;
	color: #666;
	background: url(../Products/images/updatedLineupCtA.png) 0 0 no-repeat;
	padding: 0 0 0 120px;
}
.products #updatedProds span {
	color: #1a4d8d;
}
.products #updatedProds:hover span {
	color: #ea078a;
}
.products .privacyPolicy {
	position:relative; top:100px; left:0;
}
.productDescriptions {
    margin-left: 10px;
    height: 175px;
}
.productDescriptions div{
    float: left;
    width: 25%;
    font-family: Arial;
    font-size: 15.25px;
}
.productDescriptions p {
    width: 181px;
    height: 110px;
}
.logoContainer {
    
}
.logoContainer img
{
    margin: 0 auto;
    width: 84px;
    display: block;
    padding-top: 45px;
    padding-bottom: 20px;
}
.titleContainer {
    margin-top: -12px;
}
.titleContainer img {
    display: block;
    margin: 0 auto;
    padding: 9px 0 0 0;
}
.productContainer img {
    display: block;
    margin: 0 auto;
    padding: 15px 0 25px 0;
}
.buttonContainer {
    margin-top: -30px;
}
.buttonContainer a {
    width: 166px;
    margin: 0 auto; 
}
.buttonContainer img {
    
}
.firstColumn {
    margin-left: 35px
}
.secondColumn {
    margin-left: 40px;   
}
.productDescriptions .thirdColumn {
    margin-left: 100px;
    width: 23%;
}
.acneouttahere {
    margin-top: 0px;
    margin-bottom: 0px;
}