﻿/***************************************
	^Reset
****************************************/
html,body,div,span,applet,object,iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, a,abbr,acronym,address,big,cite,code, del,dfn,font,img,ins,kbd,q,s,samp, small,strike,sub,sup,tt,var, dl,dt,dd,ol,ul,li, fieldset,form,label,legend, table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:none;-moz-outline-style:none;}
a:active{outline:0; }
a:focus{-moz-outline-style:none; }
body{line-height:1;} 
*:first-child+html body{overflow:visible;}
* html body{overflow:visible;}
ol,ul{list-style:none; }
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after, q:before,q:after{content:""; }
blockquote,q{quotes:"" ""; }

body{
	overflow:hidden;
	width:520px;
}
#nolike h1,
#nolike h2,
#nolike #pore{
    text-align:center;
    text-indent:-9999px;
}
#nolike h1{
    background:url(../images/nolike_h1.jpg);
    height:132px;
    width:520px;
}
#nolike h2{
    background:url(../images/nolike_h2.jpg);
    height:81px;
    width:520px;
}
#nolike #pore{
    background:url(../images/nolike_pore.jpg);
    height:173px;
    width:520px;
}

#like h1,
#like h2,
#like p{
    text-align:center;
    text-indent:-9999px;
}
#like h1{
    background:url(../images/like_h1.jpg);
    height:110px;
    width:520px;
}
#like h2{
    background:url(../images/like_h2.jpg);
    height:68px;
    width:520px;
}
#like p#save{
    background:url(../images/like_save.jpg);
    height:123px;
    width:520px;
}
#like p#walmart{
    background:url(../images/like_walmart.jpg);
    height:177px;
    width:520px;
}
#like p#hurry{
    background:url(../images/like_hurry.jpg);
    height:29px;
    width:520px;
}
#like p#btn{
    background:url(../images/like_btnP.jpg);
    height:30px;
    width:520px;
}
#like p#btn a{
    background:url(../images/like_btn.jpg) no-repeat left top;
    display:block;
    height:30px;
    margin:0 auto;
    width:200px;
}
#like p#btn a:hover{background-position:right top;}
#like #btm{
    background:url(../images/like_btm.jpg);
    height:35px;
    width:520px;
}
#like p#disclaimer{
    color:#7c7c7c;
    font:11px Arial,sans-serif;
    margin:10px auto;
    text-align:left;
    text-indent:0px;
}

#ucFormMemberInfo_ucFormMemberInfo_PanelMemberInfo{float:left;}
*:first-child+html #panelForm .vertical #contactFormWrap .OptinContainer li{width:99%;} 
#panelForm .vertical #ContactFormContainer .QuestionContainer label.dropdownLabel{width:193px;}
.errormsg{font-size:14px;}