#ICP_instantlyClear #ICP_middle_content{
	background: url(../../images/instantlyClear/ic_bg.gif) top left no-repeat;
	width:967px; height: 560px;
	padding: 0; margin: 0;
}
#TB_window #ICP_instantlyClear #ICP_top {
	display: block;
  height:30px;
  background: url(../../images/instantlyClear/title_bg.gif) top left no-repeat;
  position: relative;
}

#TB_window #ICP_instantlyClear #ICP_top a.ICP_close {
  display: block; position: absolute;
  top: 12px; right: 35px;
  height: 18px; width: 59px;
  text-indent: -9000px;
	background: url(../../images/instantlyClear/close_button.gif) top left no-repeat;
}
#TB_window #ICP_instantlyClear #ICP_top a:hover.ICP_close {background-position: 0 -18px; }
#TB_window #ICP_instantlyClear {
	padding:0;
}
#TB_window #ICP_instantlyClear p{
	padding: 0;
}
#TB_load, #TB_window #TB_closeAjaxWindow {
	visibility: hidden !important;
	display: none !important;
	display: none;
}
/* ICP Thickbox content styles */
#TB_window #ICP_instantlyClear #ICP_product_info{
	background: url(../../images/instantlyClear/intro_text.gif) no-repeat 0px 0px;
	padding:143px 0 0 0px;
	width:275px;
	float:left;
	margin:20px 0 0 22px; _margin:20px 0 0 11px;
}
#TB_window #ICP_instantlyClear #ICP_product_info h1,
#TB_window #ICP_instantlyClear #ICP_product_info h2{
	text-indent:-9000px;
}

#TB_window #ICP_instantlyClear #ICP_product_info img {
    margin-left:25px;
}

#TB_window #ICP_instantlyClear p.ICP_disclaimer {
	float:right; display:inline;
	font-size:10px; line-height:11px; color:#adb1b5;
	margin:5px 47px 0 0;
}

#TB_window #ICP_instantlyClear #ICP_tabbed_content{
	float:left;
	position:relative;
	width:630px;
	padding-top:0;
	margin-top:0;
}

#TB_window .ICP_IC_prod_details{
	padding:26px 0 0 40px;
	overflow:hidden;
	height:390px;
  background: url(../../images/instantlyClear/prod_details/prod_details_bg.jpg) no-repeat;
}

#TB_window #ICP_product_tab_nav{
	position:absolute;
	/*bottom:16px;
	top:370px;*/
	top:370px;
	z-index:2015;
	left:32px;
	height:30px;
}

#TB_window #ICP_product_tab_nav li{
	float:left;
	width:130px;
	margin-right:26px;
	list-style:none;
	display:inline;
	height:30px;
}

#TB_window li#ICP_intro_nav{width:65px; background: url(../../images/instantlyClear/prod_details/intro.gif) no-repeat;}
#TB_window li#ICP_pore_unclogging_nav{width:167px; background: url(../../images/instantlyClear/prod_details/pore_unclogging.gif) no-repeat;}
#TB_window li#ICP_blemish_fighting_nav{background: url(../../images/instantlyClear/prod_details/blemish_fighting.gif) no-repeat;}
/*#TB_window li#ICP_triple_action_nav{width:108px; background: url(../../images/instantlyClear/prod_details/triple_action.gif) no-repeat;}*/
#TB_window li#ICP_deep_cleansing_nav{margin:0; background: url(../../images/instantlyClear/prod_details/deep_cleansing.gif) no-repeat;}

#TB_window #ICP_product_tab_nav li a{
	display:block;
	background: url(../../images/instantlyClear/prod_details/arrow.gif) no-repeat 0px 5px;
	width:100%;
	height:100%;
}

#TB_window #ICP_product_tab_nav li a:hover {background-image:none;}

/* intro section of Product Details */
#TB_window #ICP_intro {
	background: url(../../images/instantlyClear/prod_details/prod_details_bg_landing.jpg) no-repeat 0px 0px;
	width:614px;
	height:477px;
	position:relative;
	z-index:2010;
	padding:15px 0 0 14px;
}

#TB_window #ICP_intro img{
	float:left;
}
/*
#TB_window #ICP_intro span.ICP_plus, #ICP_intro span.ICP_equals{
	float:left;
	height:40px;
	width:40px;
	display:inline;
	text-indent:-9000px;
	margin:53px 14px 20px;
	background: url(../../images/instantlyClear/prod_details/intro_plus.gif) no-repeat;
}

#TB_window #ICP_intro span.ICP_equals{
	width:200px;
	height:80px;
	margin:37px 0px 10px 20px;
	background: url(../../images/instantlyClear/prod_details/instantly_clearer_h.gif) no-repeat;
}
*/

#TB_window #ICP_intro .ICP_overflow_hidden{
	text-indent:-9000px;
	height:135px;
}

#TB_window #ICP_tagline{
	text-indent:-9000px;
	width:345px; height:69px;
	margin:21px 0 0 58px;
	background: url(../../images/instantlyClear/prod_details/tagline.jpg) no-repeat;
}

#TB_window #ICP_click_product{
	text-indent:-9000px;
	position:absolute; top:326px; left:25px;
	width:231px; height:33px;
	background: url(../../images/instantlyClear/prod_details/click_a_product_h.gif) no-repeat;
}

#TB_window #ICP_model_quote {
    text-indent:-9000px;
    display:block;
    position:absolute; top:266px; left:146px;
    width:312px; height:59px;
    background: url(../../images/instantlyClear/prod_details/model_quote.png) no-repeat;
}


/* Product details section */
#TB_window .ICP_IC_prod_details .ICP_img_holder, #TB_window .ICP_IC_prod_details .ICP_boxes, #TB_window .ICP_IC_prod_details .ICP_details, #TB_window .ICP_box_holder{
	float:left;
}

#TB_window .ICP_box_holder{
	width:415px;
}

#TB_window .ICP_img_holder{
	width:163px;
}

#TB_window #ICP_deep_cleansing .ICP_img_holder img{
	position:relative;
	left:-10px;
}

#TB_window .ICP_IC_prod_details .ICP_details{
	width:235px;
	padding:13px 0 0 0px;
	font-size:15px;
	color:#4ca697;
	line-height:19px;
}

#TB_window .ICP_details p.ICP_smaller{
	font-size:12px;
	color:#4ca697;
	line-height:16px;
  margin-top: 10px;
}
#TB_window .ICP_details ol {
  margin-top: 10px;
}
#TB_window .ICP_details ol li{
	margin-bottom:10px;
	overflow:hidden;
	font-size:13px;
	line-height:16px;
}

#TB_window .ICP_details ol li.ICP_last{
	margin-bottom:17px;
}

#TB_window .ICP_details ol li span{
	float:left;
	width:15px;
}

#TB_window #ICP_instantlyClear #ICP_tabbed_content .ICP_details ol li p{
	float:left;
	width:220px;
	margin:0;
}

#TB_window .ICP_get_detail{
	text-indent:-9000px;
	position:absolute;
	/*bottom:50px;*/
	top:340px;
	left:38px;
	width:216px;
	height:10px;
	background: url(../../images/instantlyClear/prod_details/get_more_detail.gif) no-repeat;
}

/*
#TB_window .ICP_learn_more_btn {
	height:30px;
	width:120px;
	background: url(../../images/instantlyClear/prod_details/learn_more_over.gif) no-repeat;
	margin-top: 15px;
}

#TB_window .ICP_learn_more_btn a{
	display:block;
	text-indent:-9000px;
	height:100%;
	width:100%;
	background: url(../../images/instantlyClear/prod_details/learn_more.gif) no-repeat;
}

#TB_window .ICP_learn_more_btn a:hover{background-image:none;}
*/

#TB_window .ICP_buy_now_btn {
	width:95px;
	height:24px;
	margin-top: 15px;
}

#TB_window .ICP_buy_now_btn a{
	display:block;
	text-indent:-9000px;
	height:100%;
	width:100%;
    background: url(../../images/products/buy_now.png) no-repeat 0 0;
}

#TB_window .ICP_buy_now_btn a:hover{background-position:bottom left;}

#TB_window .ICP_IC_prod_details .ICP_boxes{
	padding:15px 0 0 26px;
	width:150px;
}

#TB_window .ICP_time{
	width:117px;
	height:72px;
	padding:10px 12px 5px;
	background: url(../../images/instantlyClear/prod_details/time_bg.gif) no-repeat;
	margin-bottom:8px;
}

#TB_window .ICP_one_minute, .ICP_use_daily, .ICP_weekly_use, .ICP_ten_minutes{
	background: url(../../images/instantlyClear/prod_details/1_minute.gif) no-repeat;
	text-indent:-9000px;
	display:block;
	width:100%;
	height:40px;
}

#TB_window .ICP_ten_minutes{background: url(../../images/instantlyClear/prod_details/ten_minutes.gif) no-repeat;}

#TB_window .ICP_use_daily{
	background: url(../../images/instantlyClear/prod_details/use_daily.gif) no-repeat;
	margin-left:2px;
	height:30px;
}

#TB_window .ICP_weekly_use{
	background: url(../../images/instantlyClear/prod_details/weekly_use.gif) no-repeat;
	margin-left:2px;
	height:30px;
}

#TB_window .ICP_works_great_with{
	width:131px;
	height:136px;
	color:#84888b;
	line-height:12px;
	padding:12px 0 12px 12px;
	background: url(../../images/instantlyClear/prod_details/works_great_with_bg.gif) no-repeat;
}

#TB_window .ICP_works_great_with h2{
	text-indent:-9000px;
	height:15px;
	background: url(../../images/instantlyClear/prod_details/works_great_with_h.gif) no-repeat;
}

#TB_window .ICP_prod_img{
	float:left;
	width:53px;
	margin-top:20px;
	text-align:center;
}

#TB_window .ICP_prod_img_single {
	width:120px;
	margin:10px auto 0;
	padding-right:10px;
	text-align:center;
}


#TB_window .ICP_prod_img img{
	margin-bottom:5px;
}

#TB_window .ICP_prod_img a, #TB_window .ICP_prod_img_single a{
	color:#00c0f3;
	text-decoration:none;
}

#TB_window .ICP_prod_img a:hover, #TB_window .ICP_prod_img_single a:hover{color:#009ddb;}

#TB_window .ICP_works_great_with .ICP_plus{
	float:left;
	width:14px;
	height:14px;
	margin-top:60px;
	text-indent:-9000px;
	background: url(../../images/instantlyClear/prod_details/plus.gif) no-repeat;
}

#TB_window .ICP_IC_prod_details h1{
	text-indent:-9000px;
	height:30px;
	width:400px;
	margin-top:20px;
}

#TB_window #ICP_pore_unclogging h1{background: url(../../images/instantlyClear/prod_details/pore_unclogging_h.gif) no-repeat;}
#TB_window #ICP_blemish_fighting h1{background: url(../../images/instantlyClear/prod_details/blemish_fighting_h.gif) no-repeat;}
#TB_window #ICP_triple_action h1{background: url(../../images/instantlyClear/prod_details/triple_action_h.gif) no-repeat;}
#TB_window #ICP_deep_cleansing h1{background: url(../../images/instantlyClear/prod_details/deep_cleansing_h.gif) no-repeat;}
